<template>
  <div class="edit-table-page">
    <!-- 表头 -->
    <table class="table-page" :style="{ height: sizeList[size], 'line-height': sizeList[size] }">
      <thead>
        <td
          v-for="(item, index) in columns"
          :key="index"
          :style="{
            width: item.width ? item.width : '10%',
            'text-align': item.align ? item.align : 'left',
          }"
        >
          {{ item.title }}
        </td>
        <td class="header-add-button">
          <Tooltip>
            <template #title>添加行</template>
            <PlusCircleOutlined @click="onAddRow" /> </Tooltip></td
      ></thead>

      <template v-if="state.records.length > 0">
        <tr
          v-for="(row, index) in state.records"
          :key="index"
          class="rows"
          :style="{ height: `${height}px` }"
        >
          <td
            v-for="(item, i) in columns"
            :key="i"
            class="row-cell"
            :style="{ width: item.width ? item.width : '10%' }"
          >
            <Form.Item>
              <!-- 输入框 -->
              <div
                v-if="item.type === 'text'"
                :style="{ 'text-align': item.align ? item.align : 'left' }"
                ><span>{{ row[item.key] }}</span></div
              >

              <Input
                v-if="item.type === 'input'"
                v-model:value="row[item.key]"
                :style="{ 'text-align': item.align ? item.align : 'left' }"
              ></Input>

              <!-- 下拉框 -->
              <Select v-else-if="item.type === 'select'" v-model:value="row[item.key]" size="small">
                <Select.Option v-for="selectItem in item.rowColumns" :key="selectItem.value">
                  {{ selectItem.label }}
                </Select.Option>
              </Select>

              <!-- 选择框 -->
              <div
                v-else-if="item.type === 'checkbox'"
                class="table-checkbox-group"
                :style="{ 'justify-content': item.align ? alignList[item.align] : 'start' }"
              >
                <Checkbox
                  v-for="(checkboxItem, checkboxIndex) in item.rowColumns"
                  :key="checkboxIndex"
                  :checked="row[checkboxItem.value]"
                  @change="checkBoxChange($event, index, checkboxItem.value)"
                  >{{ checkboxItem.label }}</Checkbox
                >
              </div>
              <div
                v-else-if="item.type === 'switch'"
                class="table-switch"
                :style="{ 'justify-content': item.align ? alignList[item.align] : 'start' }"
              >
                <Switch v-model:checked="row[item.key]" size="small"></Switch>
              </div>
            </Form.Item>
          </td>
          <td class="header-add-button">
            <Tooltip>
              <template #title>删除行</template>
              <MinusCircleOutlined @click="onSubRow(index)" /> </Tooltip
          ></td>
        </tr>
      </template>
      <tr v-else><td :colspan="props.columns.length + 1" class="page-body-empty">暂无数据</td></tr>
    </table>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch } from 'vue';
  import { PlusCircleOutlined } from '@ant-design/icons-vue';
  import { cloneDeep, isEmpty } from 'lodash-es';
  import { Tooltip, Switch, Input, Select, Checkbox, Form } from 'ant-design-vue';

  const sizeList = {
    large: '40px',
    default: '32px',
    small: '24px',
  };

  // 布局转译
  const alignList = {
    left: 'start',
    center: 'center',
    right: 'end',
  };

  // const emits = defineEmits(['update:data']);
  const props = defineProps({
    //表格数据
    data: {
      type: Array,
      default: () => [],
    },
    //表格头配置项
    columns: {
      require: true,
      type: Array,
      default: () => [],
    },
    width: {
      type: Number,
      default: () => 1000,
    },
    size: {
      type: String,
      default: () => 'default',
    },
    height: {
      type: Number,
      default: () => 300,
    },
  });

  const state = reactive<any>({
    records: [],
  });

  const checkBoxChange = (event, index, key) => {
    state.records[index][key] = event.target.checked;
    // emits('update:data', state.records);
  };

  // const onChange = () => {
  // console.log(222, state.records);
  // emits('update:data', state.records);
  // };
  const onAddRow = () => {
    const temp: any = {}; //zipObject(keys, ['']);

    props.columns?.forEach((x: any) => {
      if (x.type === 'checkbox') {
        temp[x.key] = false;
      } else if (x.type === 'switch') {
        temp[x.key] = false;
      } else {
        //x.type === 'text'||x.type=== 'input'||x.type=== 'select'
        temp[x.key] = '';
      }
    });
    state.records.push(temp);
    // emits('update:data', state.records);
    // console.log(222222, state.records);
  };

  const onSubRow = (e) => {
    // console.log(33333, e);
    state.records.splice(e, 1);
    // console.log(22221, state.records);
    // emits('update:data', state.records);
  };

  const getValues = () => {
    return state.records;
  };
  watch(
    () => props.data,
    (val: any) => {
      console.log(val, 'value');
      if (!isEmpty(val)) {
        state.records = cloneDeep(val);
      } else {
        state.records = [];
      }
    },
    { deep: true },
  );

  watch(
    () => props.columns,
    (val) => {
      console.log(val, 'columns');
    },
    { deep: true, immediate: true },
  );
  defineExpose({
    getValues,
  });
</script>

<style lang="less" scoped>
  //表格主体
  .edit-table-page {
    margin: auto;
    border: 1px solid #e1e2e3;
    border-radius: 2px;
    max-height: 320px;
    overflow: auto;

    //表格头部
    .table-page {
      width: 100%;
      thead td {
        border-top: none;
      }
      td {
        border: 1px solid #e1e2e3;
        border-collapse: collapse;
        border-bottom: none;
        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
      }
      .header-add-button {
        text-align: center;
        width: 10%;
      }
      //表格主体
      .rows {
        height: 35px !important;
      }
      .row-cell {
        overflow: hidden;
        :deep(.ant-form-item) {
          margin: 0;
        }
        //击穿样式
        :deep(.ant-input) {
          vertical-align: top;
          width: 100%;
          border: 0px;
          border-radius: 0px;
          &:hover {
            border: 0px;
            border: 1px solid #4787f0;
          }

          &:focus {
            border: 1px solid #1890ff;
            box-shadow: none;
          }
        }
        :deep(.ant-select) {
          vertical-align: top;
          width: 100%;
          &:hover {
            border: 0px;
            border: 1px solid #4787f0;
          }

          &:focus {
            border: 1px solid #1890ff;
            box-shadow: none;
          }
          .ant-select-selection {
            border: 0px;
            border-radius: 0px;
          }
        }
        .table-checkbox-group {
          width: 100%;
          display: flex;
          align-items: center;
        }

        .table-switch {
          width: 100%;
          display: flex;
          align-items: center;
        }
      }
      //无数据
      .page-body-empty {
        height: 300px;
        text-align: center;
        font-size: 20px;
      }
    }
  }
</style>
