<template>
  <a-button class="editable-add-btn" style="margin-bottom: 8px" @click="handleAdd">新增</a-button>
  <a-table bordered size="small" :pagination="false" :data-source="dataSource" :columns="columns">
    <template #bodyCell="{ column, text, record }">
      <template v-if="column.dataIndex !== 'operation'">
        <div class="editable-cell">
          <div v-if="editableData[record.key]" class="editable-cell-input-wrapper">
            <a-input
              v-model:value="editableData[record.key][column.dataIndex]"
              @blur="save(record.key)"
            />
          </div>
          <div v-else class="editable-cell-text-wrapper">
            {{ text || ' ' }}
            <edit-outlined class="editable-cell-icon" @click="edit(record.key)" />
          </div>
        </div>
      </template>
      <template v-else-if="column.dataIndex === 'operation'">
        <Popconfirm v-if="dataSource.length" title="确认删除？" @confirm="onDelete(record.key)">
          <a>删除</a>
        </Popconfirm>
      </template>
    </template>
  </a-table>
</template>

<script lang="ts" setup>
  import { computed, reactive, ref, watch } from 'vue';
  import { EditOutlined } from '@ant-design/icons-vue';
  import { cloneDeep } from 'lodash-es';
  import { Popconfirm } from 'ant-design-vue';
  import type { Ref, UnwrapRef } from 'vue';
  import { guid } from '@/utils/guid.js';

  interface DataItem {
    key: string;
    itemText: string;
    itemValue: string;
    sortOrder: number;
  }

  defineOptions({
    name: 'TableRowEditor',
    inheritAttrs: false,
  });

  const props = defineProps({
    columns: {
      type: Array,
      default: () => {
        return [];
      },
    },
    newDataFun: {
      type: Function,
    },
    data: {
      type: Array,
      default: () => {
        return [];
      },
    },
    itemKey: {
      type: String,
    },
  });

  const dataSource: Ref<DataItem[]> = ref([...props.data]);
  const count = computed(() => dataSource.value.length + 1);
  const editableData: UnwrapRef<Record<string, DataItem>> = reactive({});

  const edit = (key: string) => {
    editableData[key] = cloneDeep(dataSource.value.filter((item) => key === item.key)[0]);
  };
  const save = (key: string) => {
    Object.assign(dataSource.value.filter((item) => key === item.key)[0], editableData[key]);
    delete editableData[key];
  };

  const onDelete = (key: string) => {
    dataSource.value = dataSource.value.filter((item) => item.key !== key);
  };
  const handleAdd = () => {
    const newData = props.newDataFun ? props.newDataFun() : {};
    newData.key = guid();
    dataSource.value.push(newData);
  };
  const getValues = () => {
    return dataSource.value;
  };
  const setDataSource = (val) => {
    const v = val.map((item) => {
      const key = item[props.itemKey] ? item[props.itemKey] : guid();
      return { ...item, key };
    });
    dataSource.value = v;
  };

  watch(
    () => props.data,
    (val) => {
      setDataSource(val);
    },
    { deep: true },
  );

  defineExpose({
    getValues,
  });
</script>
<style lang="less">
  .editable-cell {
    position: relative;

    .editable-cell-input-wrapper,
    .editable-cell-text-wrapper {
      padding-right: 24px;
    }

    .editable-cell-text-wrapper {
      padding: 5px 24px 5px 5px;
    }

    .editable-cell-icon,
    .editable-cell-icon-check {
      position: absolute;
      right: 0;
      width: 20px;
      cursor: pointer;
    }

    .editable-cell-icon {
      margin-top: 4px;
      display: none;
    }

    .editable-cell-icon-check {
      line-height: 28px;
    }

    .editable-cell-icon:hover,
    .editable-cell-icon-check:hover {
      color: #108ee9;
    }

    .editable-add-btn {
      margin-bottom: 8px;
    }
  }

  .editable-cell:hover .editable-cell-icon {
    display: inline-block;
  }
</style>
