<template>
  <div ref="tagPanel" class="tag-panel" :style="{ width: defaultWidth }">
    <Button
      v-show="state.showSideButton"
      class="button-left"
      type="text"
      size="small"
      @click="toLeft"
      ><template #icon><CaretLeftOutlined /></template
    ></Button>
    <div ref="tagInput" class="tag-input">
      <div v-for="(tag, index) in state.tags" :key="index">
        <Tag :key="tag.id" :closable="index > -1" @close="handleClose(tag)">
          <span v-if="tag.isLongTag == false">{{ tag.tagTerm }}</span>
          <Tooltip v-else>
            <template #title>{{ tag.tagTerm }}</template>
            <span>{{ tag.tagShorter }}</span></Tooltip
          >
        </Tag>
      </div>

      <Input
        ref="inputComp"
        v-model:value="state.inputValue"
        type="text"
        size="small"
        style="width: 90%; min-width: 80px"
        @change="handleInputChange"
        @blur="handleInputConfirm"
        @press-enter="handleInputConfirm"
      />
    </div>
    <Button
      v-show="state.showSideButton"
      class="button-right"
      type="text"
      size="small"
      @click="toRight"
      ><template #icon><CaretRightOutlined /></template
    ></Button>
  </div>
</template>

<script setup lang="ts">
  import { computed, nextTick, reactive, ref, watch } from 'vue';
  import { isEqual, uniqWith } from 'lodash';
  import { first, isNil, last } from 'lodash-es';
  import { Button, Input, Tag, Tooltip } from 'ant-design-vue';

  defineOptions({
    name: 'TagInput',
    inheritAttrs: false,
  });

  const emits = defineEmits(['update:value', 'change']);

  const state = reactive({
    tags: [] as any,
    inputVisible: false,
    inputValue: '',
    showSideButton: false,
    // defaultWidth: '100%',
  });

  const tagInput = ref();
  const tagPanel = ref();
  const inputComp = ref();
  const defaultWidth = computed(() => {
    if (props.width > 0) {
      return `${props.width}px`;
    } else {
      return '100%';
    }
  });
  const props = defineProps({
    width: {
      type: Number,
      default: 0,
    },
    value: {
      type: Array,
      default: () => {
        return [];
      },
    },
  });

  const handleClose = (e) => {
    let values = state.tags.filter((item) => item.tagTerm !== e.tagTerm);
    values = values.map((item) => item.tagTerm);

    emits('update:value', values);
  };

  const handleInputChange = (e) => {
    state.inputValue = e.target.value;
  };

  // const showInput = () => {
  //   state.inputVisible = true;
  //   state.inputValue = '';
  //   inputComp.value.focus();
  // };

  const handleInputConfirm = () => {
    if (state.inputValue == '') {
      return;
    }

    let values = state.tags.map((item) => item.tagTerm);
    values.push(state.inputValue.trim());
    //置空input值
    state.inputValue = '';
    values = uniqWith(values, isEqual);
    emits('update:value', values);

    tagInput.value.scrollLeft = tagInput.value.clientWidth;
  };

  const toLeft = () => {
    const children = getChildren();
    const firstWidth = first(children);
    if (tagInput.value.scrollLeft > 0) {
      tagInput.value.scrollLeft = tagInput.value.scrollLeft - firstWidth.clientWidth;
    } else {
      tagInput.value.scrollLeft = 0;
    }
  };

  const toRight = () => {
    const children = getChildren();
    const lastWidth = last(children);
    if (tagInput.value.scrollLeft < tagInput.value.scrollWidth) {
      tagInput.value.scrollLeft += lastWidth.clientWidth;
    } else {
      tagInput.value.scrollLeft = tagInput.value.scrollWidth;
    }
  };

  const getChildren = () => {
    const temps = Array.from(tagInput.value.children);
    const children = temps.filter((x) => x.localName === 'div');
    return children;
  };

  watch(
    () => props.value,
    (val) => {
      console.log(333, val);
      if (val && val.length > 0) {
        state.tags = [];
        for (let i = 0; i < val.length; i++) {
          const tagTerm = val[i];
          let tagShorter = tagTerm;
          const isLongTag = tagTerm.length > 20;

          if (isLongTag) {
            tagShorter = `${tagTerm.slice(0, 20)}...`;
          }

          state.tags.push({
            id: i + 1,
            tagTerm,
            isLongTag,
            tagShorter,
          });
        }
      } else {
        state.tags = [];
      }

      nextTick(() => {
        if (!isNil(tagInput.value)) {
          state.showSideButton = tagInput.value.clientWidth + 100 >= tagPanel.value.clientWidth;
        } else {
          state.showSideButton = false;
        }
      });
    },
    { deep: true, immediate: true },
  );
  watch(
    () => state.tags,
    (v) => {
      emits('change', v);
    },
  );
</script>

<style scoped>
  .ant-tag-hidden {
    display: inline !important;
  }

  .tag-panel {
    display: flex;
    flex-direction: row;
    background: #fff;
    border: 1px solid #dddfd5;
    border-radius: 2px;
    width: 100%;
    padding: 5px 2px;
    margin-top: 0;
  }
  .button-right {
    margin: auto;
  }
  .tag-input {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .input-tag {
    background: #fff;
    border-style: dashed;
  }
</style>
