<!-- 修改检查人 -->
<template>
  <div class="dataPush">
    <a-modal
      v-model:visible="dialogFormVisible"
      destroy-on-close
      :footer="null"
      title="编辑检查员"
      :mask-closable="false"
      width="800px"
      @ok="handleOk"
      @cancel="cancel"
    >
      <a-form
        :model="state.formState"
        name="basic"
        :label-col="{ span: 6 }"
        :wrapper-col="{ span: 16 }"
        autocomplete="off"
        @finish="onFinish"
        @finishFailed="onFinishFailed"
      >
        <a-form-item label="疑似问题关键信息" name="dataTitle">
          <a-select v-model:value="state.dataTitle" disabled> </a-select>
        </a-form-item>
        <a-form-item
          label="检查员"
          name="receiver"
          :rules="[{ required: true, message: '请选择检查员' }]"
        >
          <a-cascader
            v-model:value="state.formState.receiver"
            :options="state.inspectorData"
            placeholder="请选择"
            change-on-select
            show-search
            @change="changeTreeValue"
          />
        </a-form-item>
        <a-form-item :wrapper-col="{ offset: 10, span: 14 }" style="margin-top: 50px">
          <a-button style="margin-right: 10px" @click="cancel">取消</a-button>
          <a-button :loading="state.confirmLoading" type="primary" html-type="submit"
            >保存</a-button
          >
        </a-form-item>
      </a-form>
    </a-modal>
  </div>
</template>
<script setup lang="ts">
  import { reactive, onMounted, ref, getCurrentInstance } from 'vue';
  import { message } from 'ant-design-vue';
  import { handleRole, saveInspector } from '@/api/supervisionModel';
  const { proxy } = getCurrentInstance();
  const emits = defineEmits(['ok']);
  const dialogFormVisible = ref(false);
  const state = reactive({
    form: {},
    dataTitle: '',
    inspectorData: [],
    clueAcceptDept: '', // 选择接收人2
    confirmLoading: false,
    formState: {
      receiver: '',
    },
    clueIds: '',
    dataIndex: null,
  });

  const onFinish = () => {
    const _params = {
      clueIds: [state.clueIds],
      handType: 15,
      lineOfDefenseType: '4',
      receiver: state.formState.receiver,
      clueAcceptDept: state.clueAcceptDept,
    };
    saveInspector(_params).then((res) => {
      if (res.code == 'OK') {
        emits('ok', state.dataIndex, state.clueAcceptDept, state.formState.receiver);
        dialogFormVisible.value = false;
      } else {
        message.error(res.message);
      }
    });
  };

  const onFinishFailed = (errorInfo: any) => {
    console.log('Failed:', errorInfo);
  };

  const changeTreeValue = (val) => {
    state.formState.receiver = val && val.length == 3 ? val[2] : '';
    state.clueAcceptDept = val && val.length == 3 ? val[1] : '';
  };
  // 确认
  const handleOk = () => {
    onFinish();
    state.formState = {
      receiver: '',
    };
  };
  // 关闭
  const cancel = () => {
    dialogFormVisible.value = false;
    emits('cancel');
  };
  // 级联数据
  const handleRoleFn = () => {
    const _params = {
      roleName: '检查员', //后端唐俊
    };
    handleRole(_params).then((res) => {
      if (res.code == 'OK') {
        const data = res.data;
        state.inspectorData = [];
        data.forEach((item) => {
          if (item) {
            state.inspectorData.push(proxy.$dict.toCasaderTree(item));
          }
        });
      }
    });
  };
  onMounted(() => {
    handleRoleFn();
  });
  const onChangeVisable = (record, index, flag) => {
    state.clueIds = record.log_id;
    state.dataIndex = index;
    state.dataTitle = record.record_key_chinese;
    dialogFormVisible.value = flag;
  };
  defineExpose({ onChangeVisable });
</script>

<style scoped>
  .select-scroll {
    height: 140px !important;
    overflow-y: scroll !important;
  }
  .resource-radio {
    margin-bottom: 20px;
  }
  .resource-radios {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
  }
  .resource-select {
    display: inline-block;
    width: 280px;
  }
  .tip {
    padding-left: 180px;
    color: #888;
  }
</style>
