<template>
  <div>
    <a-modal
      v-model:visible="dialogFormVisible"
      :mask-closable="false"
      title="模型组详情"
      width="95%"
      :footer="null"
      destroy-on-close
      @ok="handleOk"
      @cancel="handleOk"
    >
      <div class="modelFeatures" style="margin: 0">运行结果</div>
      <div class="header">
        <QueryFilter
          ref="conditionFilter"
          :visible="true"
          :field-list="state.fields"
          :isadd-condition-group="false"
          @change="onConditionChange"
        ></QueryFilter>
        <div class="search">
          <a-button type="primary" class="primary-onSearch" @click="onSearch"> 查询 </a-button>
          <a-button type="danger" style="margin-left: 5px" @click="onReset">重置</a-button>
        </div>
      </div>
      <DynamicTable
        :data-source="state.dataSource"
        :columns="columns"
        auto-height
        :scroll="{ x: 2000, y: 300 }"
        :row-class-name="addRowColor"
        :loading="state.loading"
        :show-refresh-setting="false"
        :row-selection="{
          selectedRowKeys: state.selectedRowKeys,
          onChange: onSelectChange,
        }"
        @change="onPageChange"
      >
        <template #toolbar>
          <!-- <a-button type="primary" @click="dataPushFn"> 待办推送 </a-button> -->
          <a-button
            v-show="state.dataSource.length > 0"
            type="primary"
            :disabled="state.modelGroupData.confirmPush == '20'"
            @click="surePushFn"
          >
            确认推送
          </a-button>
          <a-button
            v-show="state.dataSource.length > 0"
            :loading="state.downloadVisible"
            type="primary"
            @click="downLoadFn"
          >
            下载结果
          </a-button>
        </template>
      </DynamicTable>
      <div class="modelFeatures">模型组信息</div>
      <keyInformation :key-data="state.modelGroupData"></keyInformation>
    </a-modal>
    <!-- <ModelGroupDataPush
      ref="pushRef"
      :models-detail-heads="state.modelsDetailHeads"
      :data="state.selectedRowList"
      :model-data="state.modelGroupData"
      @ok="pushFinish('ok')"
      @cancel="pushFinish"
    ></ModelGroupDataPush> -->
    <a-modal v-model:visible="state.downloadVisible" :title="null" @ok="handleOkTip">
      <p>点击确定到数据中心下载文件</p>
    </a-modal>
    <!-- 修改检查员 -->
    <editInspector ref="editInspectorRef" @ok="editDep"></editInspector>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, h } from 'vue';
  import { useRouter } from 'vue-router';
  import { message, Modal } from 'ant-design-vue';
  // import ModelGroupDataPush from './ModelGroupDataPush.vue';
  import editInspector from './EditInspector.vue';
  import { QueryFilter } from '@/components/business';
  import QueryFieldConvert from '@/utils/query-field-convert.js';
  import { useTable } from '@/components/core/dynamic-table';
  import { getModelGroupInfo } from '@/api/modelGroup';
  import { getModelGroupSqlApi, postHdfs, confirmPush } from '@/api/supervisionModel';
  import dict from '@/utils/dict.js';
  import keyInformation from '@/views/supervisionGovern/modelGroupTodo/components/keyInformation';

  const dialogFormVisible = ref(false);
  const pushRef = ref();
  const conditionFilter = ref();
  const editInspectorRef = ref();
  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    search: false,
    rowKey: '_hoodie_record_key',
    bordered: true,
  });
  const state = reactive({
    modelGroupData: {},
    canQuery: true,
    loading: false,
    downLoading: false,
    downloadVisible: false,
    dataSource: [],
    filters: [],
    fields: [],
    dataModelId: null,
    selectedRowKeys: [],
    selectedRowList: [], // 列表选择的数据
    // 分页配置
    pagination: {
      current: 1,
      pageSize: 20,
    },
    inspectorData: [],
  });
  const router = useRouter();
  const columns = ref([]);
  const handleOkTip = () => {
    state.downloadVisible = state.downloadVisible = false;
    setTimeout(() => {
      router.push({
        path: '/dataAdministration/downloadcenter/DownloadCenter',
      });
    }, 200);
  };
  const downLoadFn = () => {
    const _params = {
      dataModelId: state.dataModelId,
      connectedTable: true,
      pageSize: null,
      pageNum: null,
    };
    state.downloadVisible = true;
    getModelGroupSqlApi(_params).then((r) => {
      if (r.data.code == 'OK') {
        const Sql = r.data.data;
        const parms = {
          fileName: state.modelGroupData.modelGroupName,
          querySql: Sql,
          applicationId: state.dataModelId,
        };

        postHdfs(parms).then((res) => {
          state.downloadVisible = false;
          if (res.data.code == 'OK') {
            state.downloadVisible = true;
          }
        });
      } else {
        state.downloadVisible = false;
        message.error(r.data.message);
      }
    });
  };
  const pushFinish = (type) => {
    if (type == 'ok') {
      loadData(); //推送成功要把已推送的置灰
    }
  };
  // 匹配行加底色
  const addRowColor = (record) => {
    // 单元格背景色添加过滤条件，如果以TTL结尾的行，设置背景色record.handle_status === '处理中'
    if (record.handle_status === '15') {
      return 'cell-class';
    }
    return '';
  };
  const surePushFn = () => {
    Modal.confirm({
      title: '确认提示',
      content: '确定要推送数据吗？',
      okText: '确认',
      cancelText: '取消',
      onOk: () => {
        confirmPush({ modelId: state.dataModelId }).then((r) => {
          if (r.code == 'OK') {
            message.success('推送成功');
          } else {
            message.error(r.message);
          }
        });
      },
    });
  };
  const dataPushFn = () => {
    if (state.selectedRowList.length != 0) {
      // 打开推送
      pushRef.value.onChangeVisable(true);
    } else {
      message.error('需要至少选择一条数据！');
    }
  };
  // 列表选择数据
  const onSelectChange = (selectedRowKeys, list) => {
    state.selectedRowKeys = selectedRowKeys;
    state.selectedRowList = list;
  };
  const onSearch = () => {
    let filters: any = [];
    filters = filterData();
    state.filters = QueryFieldConvert.setConditionValue(filters)[0];
    state.pagination.current = 1;
    loadData();
  };
  const filterData = () => {
    const filters1 = JSON.parse(JSON.stringify(state.filters));
    const filters = [];
    if (filters1 && filters1.length > 0) {
      filters1.forEach((item) => {
        const list = [];
        item
          .filter((v) => Object.hasOwn(v, 'field'))
          .forEach((v) => {
            let obj = {};
            let val = [];
            // 查询条件子集转化
            if (v.dictCode && v.value1) {
              val = v.value1;
              v.columnType = 1;
            }
            if (v.value1 && v.columnType == 3) {
              v.value1 = dayjs(v.value1).format(dateFormat);
            }
            if (v.value2 && v.columnType == 3) {
              v.value2 = dayjs(v.value2).format(dateFormat);
            }
            if (v.value1 && v.dictCode == null) {
              if (v.columnType == 1) {
                val = v.value1;
              } else {
                val.push(v.value1);
              }
            }
            if (v.value2) {
              val.push(v.value2);
            }
            obj = {
              columnName: v.field,
              filterType: v.operatorValue,
              columnType: v.columnType,
              values: val,
              queryType: v.queryType,
            };
            list.push(obj);
          });
        filters.push(list);
      });
    }
    return filters;
  };
  const onConditionChange = () => {
    if (state.canQuery) {
      state.canQuery = false;
      const filters = conditionFilter.value.getConditionResult();
      state.filters = filters;
      // 防止频繁请求
      setTimeout(function () {
        state.canQuery = true;
      }, 500);
    }
  };
  const onReset = () => {
    state.pagination.current = 1;
    state.pagination.pageSize = 10;
    conditionFilter.value.clearConditionResult();
    state.filters = conditionFilter.value.getConditionResult();
    conditionFilter.value.delCondition(0, 0);
  };
  const onPageChange = (data) => {
    state.pagination.current = data.current;
    state.pagination.pageSize = data.pageSize;
    loadData();
  };
  const loadData = () => {
    state.loading = true;
    state.selectedRowList = []; // 刷新数据清空已勾选数据
    state.selectedRowKeys = []; // 刷新数据取消默认勾选
    const _params = {
      dataModelId: state.dataModelId,
      connectedTable: true,
      pageNum: state.pagination.current,
      pageSize: state.pagination.pageSize,
      filters: state.filters,
    };
    // 获取详情信息
    getModelGroupInfo(_params).then((r) => {
      state.loading = false;
      if (r.code === 'OK') {
        if (r.data) {
          dynamicTableInstance?.updatePagination({
            total: r.total,
            current: r.pageNum,
            pageSize: r.pageSize,
          });
        }
        state.modelsDetailHeads = r.data.modelsDetailHeads;
        state.dataSource = r.data.modelList;
        const columns1: Array<any> = [];
        let fields: Array<any> = [];
        state.modelsDetailHeads.forEach((item) => {
          columns1.push({
            // sorter: true,
            title: item.columnCname,
            dataIndex: item.columnName,
            key: item.columnName,
            width: 200,
            resizable: true,
            dictCode: item.dictCode || null,
            ellipsis: true,
            customRender: ({ text, record, index }) => {
              if (item.dictCode != null) {
                //值集转化
                const obj = dict.getValue(item.dictCode, text);
                text = obj == undefined ? text : obj.itemText;
              }
              const child = h('span', {
                innerText: text,
                title: text,
              });
              if (item.columnName == 'MODEL_NAME') {
                const _tagList = text.split(',');
                //所属模型用tag标签展示
                const _tag = h('span', [
                  _tagList.map((x) => {
                    return <a-tag>{x}</a-tag>;
                  }),
                ]);
                return (
                  <a-tooltip title={text} placement="topLeft">
                    {_tag}
                  </a-tooltip>
                );
              }

              if (
                item.columnName == 'handle_username' &&
                state.modelGroupData.confirmPush != '20'
              ) {
                //  处理人可编辑--动态控制可编辑confirmPush==20-- 10 未确认 20 已确认
                const _icon = h('a', {
                  innerText: text,
                  style: { color: '#1890ff' },
                });
                return (
                  <span onClick={() => editInspectorRefFn(record, index)}>
                    {_icon}
                    <form-outlined style="color:#1890ff"></form-outlined>
                  </span>
                );
              } else {
                return child;
              }
            },
          });
          fields.push({
            columnCname: item.columnCname,
            columnName: item.columnName,
            key: item.columnName,
            newType: item.columnType,
            example: item.example,
            dictCode: item.dictCode,
            queryType: item.queryType,
          });
        });
        let newArr = columns1;
        fields = QueryFieldConvert.columnFields2QueryFields(fields);
        newArr = newArr.filter((item) => {
          return item.dataIndex != '_hoodie_commit_seqno';
        });
        newArr = newArr.filter((item) => {
          return item.dataIndex != '_hoodie_record_key';
        });
        fields = fields.filter((item) => {
          return item.name != '_hoodie_commit_seqno';
        });
        fields = fields.filter((item) => {
          return item.name != '_hoodie_record_key';
        });
        columns.value = newArr; //变动的值
        state.fields = fields;
      }
    });
  };

  const editInspectorRefFn = (record, index) => {
    editInspectorRef.value.onChangeVisable(record, index, true);
  };
  const editDep = (index, dept, name) => {
    state.dataSource[index].clue_accept_dept = dept;
    state.dataSource[index].handle_username = name;
  };
  const handleOk = () => {
    dialogFormVisible.value = false;
  };
  const onChangeVisable = (record) => {
    dialogFormVisible.value = true;
    state.modelGroupData = record;
    state.dataModelId = record.id;
    state.dataSource = [];
    loadData();
  };
  defineExpose({ onChangeVisable });
</script>
<style lang="less" scoped>
  .descriptions-title {
    font-size: 20px;
  }
  .sub-btn {
    display: flex;
    justify-content: center;
  }
  .header {
    display: flex;
    position: relative;
    .notifyWay {
      position: absolute;
      top: 10px;
      left: 50px;
    }
    .search {
      display: flex;
      margin-top: 15px;
      .primary-onSearch {
        margin: 0px 10px 0px 10px;
      }
    }
  }
  .modelFeatures {
    background: #e4e4e4;
    font-size: 16px;
    color: #000;
    padding: 0 15px;
    margin: 20px 0;
  }
</style>
