<template>
  <div>
    <a-modal
      v-model:visible="dialogFormVisible"
      :mask-closable="false"
      :title="`${
        state.type === 'add'
          ? '新增'
          : state.type === 'edit'
          ? '编辑'
          : state.type === 'copy'
          ? '复制'
          : ''
      }模型组`"
      width="95%"
      :footer="null"
      destroy-on-close
      @cancel="handleOk"
    >
      <a-form
        ref="auditFormRef"
        :model="state.auditForm"
        :label-col="{ span: 2 }"
        :wrapper-col="{ span: 21 }"
        :rules="state.rules"
      >
        <a-form-item label="模型组名称" name="modelGroupName">
          <a-input
            v-model:value="state.auditForm.modelGroupName"
            placeholder="请输入50字符以内,不允许重复"
            type="text"
            :maxlength="50"
          />
        </a-form-item>
        <a-form-item label="模型组字段" name="modelGroupField">
          <a-card>
            <!-- 无效:gutter="[0, 10]" -->
            <a-row align="middle">
              <a-col :span="11">
                <a-row align="middle">
                  <a-col :span="4"> 字段英文名: </a-col>
                  <a-col :span="18">
                    <a-input
                      v-model:value="state.auditForm.listArr0.colName"
                      placeholder="支持50字以内英文字符,不可重复"
                      type="text"
                      :maxlength="50"
                      :disabled="state.type === 'edit'"
                    />
                  </a-col> </a-row
              ></a-col>
              <a-col :span="11">
                <a-row align="middle">
                  <a-col :span="4"> 字段中文名: </a-col>
                  <a-col :span="18">
                    <a-input
                      v-model:value="state.auditForm.listArr0.colCName"
                      placeholder="支持50字以内中文名,不可重复"
                      type="text"
                      :maxlength="50"
                      :disabled="state.type === 'edit'"
                    />
                  </a-col>
                </a-row>
              </a-col>
              <a-col :span="2">
                <a-button
                  type="primary"
                  size="small"
                  :disabled="state.type === 'edit'"
                  @click="addNodeArr"
                >
                  <template #icon>
                    <plus-circle-outlined />
                  </template>
                  添加
                </a-button>
              </a-col>
            </a-row>
            <a-row
              v-for="(item, index) in state.auditForm.listArr"
              :key="index"
              align="middle"
              class="mt-10"
            >
              <a-col :span="11">
                <a-row align="middle">
                  <a-col :span="4"> 字段英文名: </a-col>
                  <a-col :span="18">
                    <a-input
                      v-model:value="item.colName"
                      placeholder="支持50字以内英文字符,不可重复"
                      type="text"
                      :maxlength="50"
                      :disabled="state.type === 'edit'"
                    />
                  </a-col> </a-row
              ></a-col>
              <a-col :span="11">
                <a-row align="middle">
                  <a-col :span="4"> 字段中文名: </a-col>
                  <a-col :span="18">
                    <a-input
                      v-model:value="item.colCName"
                      placeholder="支持50字以内中文名,不可重复"
                      type="text"
                      :maxlength="50"
                      :disabled="state.type === 'edit'"
                    />
                  </a-col>
                </a-row>
              </a-col>
              <a-col :span="2">
                <a-button
                  size="small"
                  type="text"
                  :disabled="state.type === 'edit'"
                  @click="delNodeArr(index)"
                >
                  <template #icon>
                    <MinusCircleOutlined />
                  </template>
                  移除
                </a-button>
              </a-col>
            </a-row></a-card
          >
        </a-form-item>
        <a-form-item label="选择模型" name="modelList">
          <a-select
            v-model:value="state.auditForm.modelList"
            placeholder="选择模型"
            show-search
            :filter-option="false"
            mode="multiple"
            set-fields-value="select"
            field
            :allow-clear="true"
            style="width: 500px"
            :disabled="state.type === 'edit'"
            @search="handleModelSearch"
            @deselect="selectedModelClear"
            @change="
              (e) => {
                state.modelListOrigin
                  .filter((x) => state.auditForm.modelList.includes(x.modelName))
                  ?.map((x) => state.modelListOriginSelected.push(x));
              }
            "
          >
            <a-select-option
              v-for="item in state.modelListOrigin"
              :key="item.modelId"
              :value="item.modelName"
              >{{ item.modelName }}</a-select-option
            >
          </a-select>
        </a-form-item>
        <a-form-item label="字段映射" name="modelGroupConfig">
          <a-card>
            <vxe-grid ref="vxeGridRef" v-bind="state.gridOptions"> </vxe-grid>
          </a-card>
        </a-form-item>
        <a-form-item label="模型组管理员" name="sendTargetUsers">
          <a-select
            v-model:value="state.auditForm.sendTargetUsers"
            placeholder="选择模型管理员"
            show-search
            :filter-option="false"
            set-fields-value="select"
            :allow-clear="true"
            style="width: 500px"
            editable-type="cell"
            @search="handleUserSearch"
            @deselect="selectedUsersClear"
            @change="
              (e) => {
                state.auditForm.targetUsernames = state.allUsers.find(
                  (x) => x.userId == e,
                )?.username;
              }
            "
          >
            <a-select-option
              v-for="item in state.allUsers"
              :key="item.userId"
              :field-names="{ label: 'username', value: 'userId' }"
              :value="item.userId"
            >
              <span role="img" class="" :aria-label="item.username">{{ item.username }}</span>
              /
              <span class="select-usercode">{{ item.employeeCode }}</span>
            </a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item label="运行周期" name="cronExpression">
          <CronEditor
            v-model:value.sync="state.auditForm.cronExpression"
            cron-syntax="quartz"
          ></CronEditor>
        </a-form-item>
      </a-form>
      <div class="sub-btn">
        <a-button :disabled="state.type === 'edit'" @click="clearFormFn"> 清空 </a-button>
        <a-button style="margin-left: 10px" type="primary" :loading="state.loading" @click="seveFn">
          保存
        </a-button>
      </div>
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, computed } from 'vue';
  import { debounce, cloneDeep, uniqBy } from 'lodash-es';
  import { message as $message } from 'ant-design-vue';
  import { CronEditor } from '@/components/business';
  import {
    getUsableDataModel,
    saveModelGroup,
    updateModelGroup,
    checkModelGroupName,
  } from '@/api/modelGroup';
  import { getUsersCode } from '@/api/supervisionModel';

  const emits = defineEmits(['ok']);

  const dialogFormVisible = ref(false);
  const auditFormRef = ref();
  const vxeGridRef = ref();
  const state = reactive({
    loading: false,
    modelListOrigin: [],
    modelListOriginSelected: [],
    cronExpression: '',
    auditForm: {
      modelList: [],
      modelGroupName: '',
      handleRemark: '',
      conditions: [],
      listArr0: {
        colCName: '',
        colName: '',
      },
      listArr: [],
      sendTargetUsers: '',
      cronExpression: '',
    },
    allUsers: [],
    dataSource: computed(() => {
      let res: any = [];
      state.auditForm.modelList.map((x) => {
        const detail = state.modelListOriginSelected.find((y) => y.modelName == x);
        res.push({
          modelName: detail.modelName,
          modelId: detail.modelId,
          modelFields: detail.modelFields,
          hudiTableName: detail.hudiTableName,
        });
      });
      const { colCName, colName } = state.auditForm.listArr0;
      if (colCName && colName) {
        res = res.map((x) => {
          const has = x.modelFields.find((y) => y.colCName == colCName);
          if (has) {
            x[colName] = colCName;
          } else {
            x[colName] = '';
          }
          return x;
        });
      }
      if (state.auditForm.listArr && state.auditForm.listArr.length > 0) {
        state.auditForm.listArr.map((x) => {
          const { colCName, colName } = x;
          if (colCName && colName) {
            res = res.map((y) => {
              const has = y.modelFields.find((z) => z.colCName == colCName);
              if (has) {
                y[colName] = colCName;
              } else {
                y[colName] = '';
              }
              return y;
            });
          }
        });
      }
      if (state.auditForm.modelGroupConfig && state.auditForm.modelGroupConfig.length > 0) {
        res = res.map((x) => {
          state.auditForm.modelGroupConfig.map((y) => {
            if (x.modelId == y.modelId) {
              x.concatCols = y.colsMapping.map((z) => z.colCName);
              x.selectedConcatCols = y.colsMapping;
              y.colsMapping.map((z) => {
                x[z.groupColName] = z.colCName;
              });
            }
          });
          return x;
        });
      }
      return res;
    }),
    columns: computed(() => {
      const list: any = [];
      const { colCName, colName } = state.auditForm.listArr0;
      if (colCName && colName) {
        list.push({
          title: colCName,
          field: colName,
          align: 'center',
          width: 200,
          slots: {
            default: ({ row }) => {
              return (
                <a-select
                  v-model:value={row[colName]}
                  placeholder="请选择"
                  show-search
                  set-fields-value="select"
                  field
                  disabled={state.type === 'edit'}
                  onChange={() => {
                    if (vxeGridRef.value) {
                      vxeGridRef.value.validate();
                    }
                  }}
                >
                  {row.modelFields.map((item) => {
                    return (
                      <a-select-option key={item.modelId} value={item.colCName}>
                        {item.colCName}
                      </a-select-option>
                    );
                  })}
                </a-select>
              );
            },
          },
        });
      }
      if (state.auditForm.listArr && state.auditForm.listArr.length > 0) {
        state.auditForm.listArr.map((x) => {
          const { colCName, colName } = x;
          if (colCName && colName) {
            list.push({
              title: colCName,
              field: colName,
              align: 'center',
              width: 200,
              slots: {
                default: ({ row }) => {
                  return (
                    <a-select
                      v-model:value={row[colName]}
                      placeholder="请选择"
                      show-search
                      set-fields-value="select"
                      field
                      disabled={state.type === 'edit'}
                      onChange={() => {
                        if (vxeGridRef.value) {
                          vxeGridRef.value.validate();
                        }
                      }}
                    >
                      {row.modelFields.map((item) => {
                        return (
                          <a-select-option key={item.modelId} value={item.colCName}>
                            {item.colCName}
                          </a-select-option>
                        );
                      })}
                    </a-select>
                  );
                },
              },
            });
          }
        });
      }
      list.unshift({
        title: '模型名称',
        field: 'modelName',
        align: 'center',
        width: 200,
        fixed: 'left',
        showOverflow: true,
      });
      list.push({
        title: '关键信息',
        field: 'concatCols',
        align: 'center',
        fixed: 'right',
        width: 200,
        slots: {
          default: ({ row }) => {
            return (
              <a-select
                v-model:value={row.concatCols}
                placeholder="请选择"
                show-search
                mode="tags"
                maxTagCount={1}
                maxTagTextLength={1}
                set-fields-value="select"
                field
                disabled={state.type === 'edit'}
                onChange={(e) => {
                  row.selectedConcatCols = uniqBy(
                    row.modelFields.filter((x) => e.includes(x.colCName)),
                    (item: any) => item.colName,
                  );
                  if (vxeGridRef.value) {
                    vxeGridRef.value.validate();
                  }
                }}
              >
                {row.modelFields.map((item) => {
                  return (
                    <a-select-option key={item.colName} value={item.colCName}>
                      {item.colCName}
                    </a-select-option>
                  );
                })}
              </a-select>
            );
          },
        },
      });
      return list;
    }),
    rules: {
      modelGroupName: [
        {
          required: true,
          validator: async (_rule, value) => {
            if (!value) {
              return Promise.reject('请输入模型组名称');
            }
            let flag = true;
            if (value) {
              const params = { modelName: value };
              if (state.auditForm.id) {
                params['id'] = state.auditForm.id;
              }
              const res = await checkModelGroupName(params);
              flag = res.data;
            }
            if (!flag) {
              return Promise.reject('已存在该模型组名称');
            } else {
              return Promise.resolve();
            }
          },
          trigger: 'blur',
        },
      ],
      modelGroupField: [
        {
          required: true,
          validator: () => {
            const list = [state.auditForm.listArr0].concat(state.auditForm.listArr);
            const colNameUniqList = uniqBy(list, 'colName');
            const colCNameUniqList = uniqBy(list, 'colCName');
            const isEn = list.find((x) => !/^[A-Za-z_]+$/gi.test(x.colName));
            const isZn = list.find((x) => !/^[\u4e00-\u9fa5]+$/.test(x.colCName));
            if (list.find((x) => !x.colName || !x.colCName)) {
              return Promise.reject('请选择模型组字段');
            } else if (list.length !== colNameUniqList.length) {
              return Promise.reject('字段英文名有重复');
            } else if (list.length !== colCNameUniqList.length) {
              return Promise.reject('字段中文名有重复');
            } else if (isEn) {
              return Promise.reject('字段英文名只能包含英文字符与下划线');
            } else if (isZn) {
              return Promise.reject('字段中文名只能是中文');
            } else {
              return Promise.resolve();
            }
          },
          trigger: 'change',
        },
      ],
      modelList: [{ required: true, message: '请选择模型', trigger: 'change' }],
      sendTargetUsers: [{ required: true, message: '请选择模型组管理员', trigger: 'change' }],
      cronExpression: [{ required: true, message: '请选择运行周期', trigger: 'change' }],
      modelGroupConfig: [
        {
          required: true,
          validator: () => {
            if (state.dataSource.length === 0) {
              return Promise.reject('请选择模型组字段');
            } else {
              return Promise.resolve();
            }
          },
          trigger: 'change',
        },
      ],
    },
    gridOptions: {
      border: true,
      showOverflow: true,
      rowConfig: {
        height: 34,
      },
      // height: 300,
      maxHeight: 500,
      headerRowClassName: 'my-header',
      cellClassName: 'my-cell',
      toolbarConfig: {
        custom: false,
      },
      columns: computed(() => {
        return state.columns;
      }),
      data: computed(() => {
        return state.dataSource;
      }),
      editRules: computed(() => {
        const res = {};
        state.columns.map((x) => {
          res[x.field] = [{ required: true, message: `请选择${x.title}`, trigger: 'change' }];
        });
        return res;
      }),
      editConfig: {
        trigger: 'click',
        mode: 'row',
        showStatus: true,
      },
    },
    type: '',
    oldRecord: {},
  });

  // 获取模型组管理员列表
  const loadUsersByName = debounce(async (val, flag) => {
    state.allUsers = [];
    let _params = {};
    if (flag == 1) {
      _params = {
        username: val,
      };
    } else if (flag == 2) {
      _params = {
        userId: val,
      };
    } else {
      _params = {};
    }
    await getUsersCode(_params).then((r) => {
      if (r.data.code == 'OK') {
        state.allUsers = r.data.data;
      }
    });
  }, 500);

  const handleUserSearch = (val) => {
    loadUsersByName(val, 1);
  };

  const selectedUsersClear = () => {
    loadUsersByName(null, null);
  };

  // 添加模型组字段
  const addNodeArr = () => {
    state.auditForm.listArr.push({
      handleRemark: '',
    });
  };

  // 移除模型组字段
  const delNodeArr = (index) => {
    state.auditForm.listArr.splice(index, 1);
  };

  // 清除
  const clearFormFn = () => {
    state.auditForm = {
      modelList: [],
      modelGroupName: '',
      handleRemark: '',
      conditions: [],
      listArr0: {
        colCName: '',
        colName: '',
      },
      listArr: [],
      sendTargetUsers: '',
      cronExpression: '',
    };
    auditFormRef.value?.clearValidate();
  };

  // 保存、更新、复制
  const seveFn = async () => {
    const errMsg = await vxeGridRef.value.validate(true);
    if (errMsg) {
      const keys = Object.keys(errMsg);
      if (keys && keys.length > 0) {
        vxeGridRef.value.scrollToColumn(keys[0]);
      }
    }
    const valid = await auditFormRef.value.validate();
    if (valid && !errMsg) {
      state.loading = true;
      const tableData = cloneDeep(vxeGridRef.value?.getTableData()?.tableData);
      const formData = cloneDeep(state.auditForm);
      const list = [formData.listArr0]?.concat(formData.listArr ?? []);
      const addParams = {};
      const updateParams = {};
      addParams['cronExpression'] = formData.cronExpression;
      addParams['modelGroupName'] = formData.modelGroupName;
      addParams['sendTargetUsers'] = formData.sendTargetUsers;
      addParams['targetUsernames'] = formData.targetUsernames;
      addParams['modelNames'] = tableData.map((x) => x.modelName)?.join();
      addParams['modelGroupConfig'] = tableData.map((x) => {
        const item = {
          modelName: x.modelName,
          modelId: x.modelId,
          hudiTableName: x.hudiTableName,
          concatCols: x.selectedConcatCols,
          colsMapping: list.map((y) => {
            return {
              groupColName: y.colName,
              groupColCName: y.colCName,
              colName: x.modelFields.find((z) => z.colCName == x[y.colName])?.colName,
              colCName: x[y.colName],
              colType: x.modelFields.find((z) => z.colCName == x[y.colName])?.colType,
            };
          }),
        };

        return item;
      });
      addParams['modelGroupField'] = list;

      if (state.type === 'edit') {
        updateParams['id'] = state.auditForm.id;
        updateParams['modelGroupCode'] = state.auditForm.modelGroupCode;
        if (state.oldRecord.cronExpression !== state.auditForm.cronExpression) {
          updateParams['cronExpression'] = state.auditForm.cronExpression;
        }
        if (state.oldRecord.modelGroupName !== state.auditForm.modelGroupName) {
          updateParams['modelGroupName'] = state.auditForm.modelGroupName;
        }
        if (state.oldRecord.sendTargetUsers != state.auditForm.sendTargetUsers) {
          updateParams['sendTargetUsers'] = state.auditForm.sendTargetUsers;
        }
        if (state.oldRecord.targetUsernames !== state.auditForm.targetUsernames) {
          updateParams['targetUsernames'] = state.auditForm.targetUsernames;
        }
      }

      const { code, success, message } = ['edit'].includes(state.type)
        ? await updateModelGroup(updateParams).finally(() => {
            state.loading = false;
          })
        : ['add', 'copy'].includes(state.type)
        ? await saveModelGroup(addParams).finally(() => {
            state.loading = false;
          })
        : { code: '', success: false, message: '无该方法' };
      if (code === 'OK' && success) {
        $message.success(
          `${
            state.type === 'add'
              ? '新增'
              : state.type === 'edit'
              ? '编辑'
              : state.type === 'copy'
              ? '复制'
              : ''
          }模型组成功`,
        );
        handleOk();
      } else {
        $message.error(
          message ||
            `${
              state.type === 'add'
                ? '新增'
                : state.type === 'edit'
                ? '编辑'
                : state.type === 'copy'
                ? '复制'
                : ''
            }模型组失败`,
        );
      }
    }
  };

  const getUsableDataModelLocal = debounce(async (val) => {
    const { code, success, data, message } = await getUsableDataModel({
      modelName: val,
      pageNum: 1,
      pageSize: 50,
    });
    if (code === 'OK' && success) {
      state.modelListOrigin = data;
    } else {
      $message.error(message || '查询模型失败');
    }
  }, 500);

  const handleModelSearch = (val) => {
    getUsableDataModelLocal(val);
  };

  const selectedModelClear = () => {
    getUsableDataModelLocal('');
  };

  // 初始化弹窗
  const onChangeVisable = async (item, type) => {
    dialogFormVisible.value = true;
    state.type = type;
    if (item) {
      const modelNames = item.modelNames.split(',');
      const list: any = [];
      for (const name of modelNames) {
        // 查询模型列表
        const { code, success, data, message } = await getUsableDataModel({
          modelName: name,
          pageNum: 1,
          pageSize: 50,
        });
        if (code === 'OK' && success) {
          data.map((x) => list.push(x));
        } else {
          $message.error(message || '查询模型失败');
        }
      }
      state.modelListOrigin = list;
      state.modelListOriginSelected = list;
    } else {
      // 查询模型列表
      const { code, success, data, message } = await getUsableDataModel({
        modelName: '',
        pageNum: 1,
        pageSize: 50,
      });
      if (code === 'OK' && success) {
        state.modelListOrigin = data;
        state.modelListOriginSelected = data;
      } else {
        $message.error(message || '查询模型失败');
      }
    }
    // 查询模型组管理员
    await loadUsersByName(item ? item.targetUsernames : state.auditForm.sendTargetUsers, 1);

    if (item) {
      // 复制、编辑赋值
      state.oldRecord = cloneDeep(item);
      const record = cloneDeep(item);
      const fields = JSON.parse(record.modelGroupField ?? '[]');
      state.auditForm = {
        ...record,
        sendTargetUsers: Number(record.sendTargetUsers),
        modelList: state.modelListOriginSelected
          ?.filter((x) => record?.modelNames?.split(',')?.includes(x?.modelName))
          ?.map((x) => x?.modelName),
        modelGroupConfig: JSON.parse(record.modelGroupConfig ?? '[]'),
        listArr0: fields && fields.length > 0 ? fields[0] : { colName: '', colCName: '' },
        listArr: fields && fields.length > 0 ? fields.slice(1, fields.length) : [],
      };
    }
  };
  const handleOk = () => {
    emits('ok');
    dialogFormVisible.value = false;
  };
  defineExpose({ onChangeVisable });
</script>
<style lang="less" scoped>
  .add-conditions {
    text-align: right;
    margin-bottom: 15px;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .sub-btn {
    margin-left: 45%;
    margin-top: 20px;
  }
  /deep/.vxe-body--row {
    .ant-select-selection-overflow-item:first-child {
      width: 90px;
    }
  }
  /deep/.vxe-table--render-default .vxe-body--column.col--valid-error .vxe-cell--valid {
    width: 180px;
    position: unset;
    bottom: calc(100% + 4px);
    left: 50%;
    transform: translateX(5%);
    text-align: left;
    pointer-events: none;
    background: unset;
    z-index: 4;
  }
  /deep/.vxe-table--render-default
    .vxe-body--column.col--valid-error
    .vxe-cell--valid
    .vxe-cell--valid-msg {
    display: inline-block;
    border-radius: unset;
    padding: unset;
    color: #f56c6c;
    background-color: unset;
    pointer-events: auto;
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  /deep/.vxe-table--ignore-clear .vxe-select--panel .size--small {
    z-index: 9999999999999 !important;
  }
  /deep/.col--valid-error {
    .ant-select-selector {
      border: 1px solid #f56c6c;
    }
    // width: 800px;
  }
</style>
