<template>
  <div class="homePageJump">
    <div class="title">
      <img :src="pageJumpData.icon" />
      {{ pageJumpData.title }}
    </div>
    <div class="content">
      <dl
        v-for="(item, index) in pageJumpData.content"
        v-show="$auth(`homecard:page${index}`)"
        :key="index"
        @click="() => to(item.path)"
      >
        <dt>
          <img :src="item.icon" />
        </dt>
        <dd>{{ item.title }}</dd>
      </dl>
    </div>
  </div>
</template>

<script lang="ts" setup>
  import { reactive } from 'vue';
  import { useRouter } from 'vue-router';

  defineOptions({
    name: 'HomePageJump',
  });

  const pageJumpData = reactive({
    title: '页面直通车',
    icon: require('@/assets/static/home/pageJump.png'),
    content: [
      {
        icon: require('@/assets/static/home/pageJump1.png'),
        title: '个人待办',
        path: '/SupervisionGovern/personalTodo',
      },
      {
        icon: require('@/assets/static/home/pageJump2.png'),
        title: '模型列表',
        path: '/SupervisionModel/modellist',
      },
      {
        icon: require('@/assets/static/home/pageJump3.png'),
        title: '模型结果',
        path: '/SupervisionGovern/modelresult',
      },
      {
        icon: require('@/assets/static/home/pageJump4.png'),
        title: '新增数据集',
        path: '/dataAdministration/setmanagement/SetManagement',
      },
      {
        icon: require('@/assets/static/home/pageJump5.png'),
        title: '新增模型',
        path: '/SupervisionModel/modellist',
      },
      {
        icon: require('@/assets/static/home/pageJump6.png'),
        title: '新增图表',
        path: '/userAnalyze/bulletinBoardList',
      },
      {
        icon: require('@/assets/static/home/pageJump7.png'),
        title: '新增看板',
        path: '/userAnalyze/kanbanList',
      },
      {
        icon: require('@/assets/static/home/pageJump8.png'),
        title: '保供驾驶舱',
        path: '/strategyTracking/businesstracking/overview',
      },
    ],
  });

  const router = useRouter();

  const to = (path) => {
    router.push(path);
  };
</script>

<style lang="less" scoped>
  .homePageJump {
    display: inline-block;
    background: #fff;
    backdrop-filter: blur(10px);
    width: 100%;
    max-height: 350px;
    border-radius: 5px;

    .title {
      border-bottom: 1px solid #eee;
      padding: 4px 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 14px;
      font-weight: bold;
      color: #3d3d3d;
      img {
        margin: 0 8px;
      }
    }
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: auto;
    }
    dl {
      padding: 15px 2.5% 10px;
      margin-bottom: 0;
      cursor: pointer;
    }
    dt {
      text-align: center;
      img {
        margin: auto;
        height: 48px;
      }
    }
    dd {
      text-align: center;
    }
  }
</style>
