<template>
  <div class="TopCard">
    <a-tabs v-model:activeKey="data.activeKey" type="card">
      <a-tab-pane key="1" tab="当前年度">
        <div class="title">
          <img :src="data.icon" alt="" />
          {{ data.title }}
        </div>
        <div class="content">
          <dl
            v-for="(item, index) in data.content"
            :key="index"
            :style="{ cursor: index != 0 && 'pointer' }"
            @click="to(item, index)"
          >
            <dt>
              {{ item.title }}
            </dt>
            <dd>
              {{ formatNumber(item.number) }}
            </dd>
          </dl>
        </div>
      </a-tab-pane>
      <a-tab-pane key="2" tab="历史年度">
        <div class="title">
          <img :src="data.icon" alt="" />
          {{ data.title }}
        </div>
        <div class="content">
          <dl
            v-for="(item, index) in data.content2"
            :key="index"
            :style="{ cursor: index != 0 && 'pointer' }"
            @click="to(item, index)"
          >
            <dt>
              {{ item.title }}
            </dt>
            <dd>
              {{ formatNumber(item.number) }}
            </dd>
          </dl>
        </div>
      </a-tab-pane>
    </a-tabs>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, onMounted } from 'vue';
  import { useRouter } from 'vue-router';
  import common from '@/utils/commonFunc';
  import { getHomeWidget } from '@/api/common';

  defineOptions({
    name: 'TopCard',
  });
  const data = reactive({
    activeKey: '1',
    icon: require('@/assets/static/home/dataCard2.png'),
    title: '监督成果总览',
    content: [
      {
        number: 0,
        title: '疑点业务笔数',
      },
      {
        number: 0,
        title: '确认问题业务笔数',
      },
      {
        number: 0,
        title: '移交问题业务笔数',
      },
    ],
    content2: [
      {
        number: 0,
        title: '疑点业务笔数',
      },
      {
        number: 0,
        title: '确认问题业务笔数',
      },
      {
        number: 0,
        title: '移交问题业务笔数',
      },
    ],
  });

  const router = useRouter();

  const formatNumber = (number) => {
    return common.commafy(number);
  };

  const to = (item) => {
    // if ($auth(`home:headerJump${index}`)) {
    router.push({
      path: '/SupervisionGovern/toDoHistory/historyLists',
      query: {
        title: item.title,
        tabCustomName: `${item.title}处理记录`,
        activeKey: data.activeKey,
      },
    });
    // }
  };

  const getTopData = () => {
    //当前年度
    getHomeWidget({ widgetId: '2022102816395782' }).then((r) => {
      const rdata = r.data.dataMap;
      data.content[0].number = rdata.累计疑点记录数[0];
      data.content[1].number = rdata.累计确定问题数[0];
      data.content[2].number = rdata.累计移交问题数[0];
      getTopDataHistory();
    });
  };
  const getTopDataHistory = () => {
    //历史年度
    getHomeWidget({ widgetId: '2023042516395683' }).then((r) => {
      const rdata = r.data.dataMap;
      data.content2[0].number = rdata.累计疑点记录数[0];
      data.content2[1].number = rdata.累计确定问题数[0];
      data.content2[2].number = rdata.累计移交问题数[0];
    });
  };
  onMounted(() => {
    // 获取头部卡片数据
    getTopData();
  });
</script>

<style lang="less" scoped>
  .TopCard {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 174px;
    background: #fff;
    border-radius: 5px;
    .title {
      border-bottom: 1px solid #eee;
      padding: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 14px;
      font-weight: bold;
      color: #3d3d3d;
      img {
        margin: 0 8px;
        height: 24px;
      }
    }
    .content {
      width: 100%;
      display: flex;
      padding: 4px 16px;
      justify-content: space-between;
      align-items: center;
      flex: 1;
    }
    dl {
      padding-bottom: 0;
      margin-bottom: 0;
      margin: 0 8px;
      width: 33.3%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    dt {
      font-size: 28px;
      text-align: center;
      display: flex;
      align-items: center;
      padding-right: 16px;
      font-weight: 700;
      cursor: pointer;
    }
    dd {
      font-size: 40px;
      text-align: center;
      display: flex;
      align-items: center;
      margin-bottom: 0 !important;
      padding-left: 8xp;
      color: #1890ff;
      cursor: pointer;
    }
  }
</style>
