<template>
  <div class="chart-btn">
    <a-dropdown>
      <info-circle-filled />
      <template #overlay>
        <a-menu>
          <a-menu-item v-if="$auth('KanbanConfig:download') && !preview" key="1">
            <a-popconfirm
              title="确定要下载吗?"
              ok-text="是"
              cancel-text="否"
              @confirm="widgetIDown(props.item)"
            >
              <div>下载</div>
            </a-popconfirm>
          </a-menu-item>
          <a-menu-item v-if="!preview" key="2">
            <a-popconfirm title="确定要删除吗?" ok-text="是" cancel-text="否" @confirm="delItem">
              <div>删除</div>
            </a-popconfirm>
          </a-menu-item>
          <a-menu-item v-if="!preview" key="3" @click="openDrawer(props.item)"
            >关联配置</a-menu-item
          >
          <a-menu-item key="4" :disabled="data.isReadyOnly" @click="resetLinkage(props.item)"
            >联动还原</a-menu-item
          >
        </a-menu>
      </template>
    </a-dropdown>
    <boardRelation
      ref="boardRelationRef"
      :widget="props.item"
      @board-relation-sure-fn="boardRelationSureFn"
    ></boardRelation>
  </div>
</template>

<script setup lang="ts">
  import { ref, computed, reactive } from 'vue';
  import { cloneDeep } from 'lodash-es';
  import { message as $message } from 'ant-design-vue';
  import boardRelation from '../../components/boardRelation.vue';
  import Pubs from '@/utils/pubs.js';
  import { widgetIDown } from '@/api/userAnalyze/kanbanConfig'; // api 接口
  import { kanbanConfigStore } from '@/store/modules/kanbanConfig';
  const store = kanbanConfigStore();
  const boardRelationRef = ref();
  const data = reactive({
    isReadyOnly: computed(() => {
      console.log(props.item.relations.links, 'props.item.relations.links');
      return !props.item.relations.links.find((x) => x.linkType === 'consumer');
    }),
  });
  const props = defineProps({
    item: Object,
    chartRef: Object,
    dimIdMap: Array, // 得到所有图表的抛出字段集合
    preview: String,
  });
  const boardRelationSureFn = () => {
    // 关闭抽屉配置参数回调
    // console.log('关闭store.kanbanData', store.kanbanData, props.item.widgetId);
    store.updataDataList = store.updataDataList.filter(
      (x) => props.item.widgetId !== x.data.data.widgetId, //存放所有接收者--去重，放在外面防止关联后再取消关联这条数据还在
    );
    const receiver = props.item.relations.links.filter((x) => x.linkType == 'consumer');
    if (receiver.length > 0) {
      if (receiver[0].conditions.length > 0) {
        const chart = props.chartRef[`charts_${props.item.i}`];
        console.log('抽屉打印', chart);
        // 设定图表接收参数
        const key = getKey(receiver[0]);
        //所有接收者加入缓存
        store.updataDataList.push({
          data: {
            key,
            data: props.item,
          },
        });
        // console.log('所有接收者', store.updataDataList);
        // 清理先
        Pubs.unsubscribe(key);
        chart.setReceiver({
          key,
          data: props.item,
        });
      }
    }
  };
  const getKey = (receiver) => {
    const ids = [];
    receiver.conditions.forEach((x) => {
      ids.push(x.linkTarget.dimId);
    });

    const key = ids.sort().join('-'); // dimID
    return key;
  };
  const openDrawer = (widget) => {
    if (widget) {
      const relationsArr = props.item.relations;
      const paras = {
        c1: relationsArr.links[0].conditions || [],
        c2: relationsArr.links[1].conditions || [],
        c3: relationsArr.links[2].conditions || [],
        targetId: relationsArr.links[1].targetId,
      };
      boardRelationRef.value.setDefaultArr(cloneDeep(paras));
    }
    boardRelationRef.value.showDrawer();
  };
  const delItem = () => {
    store.kanbanData.forEach((item, index) => {
      if (item.widgetId == props.item.widgetId) {
        store.kanbanData.splice(index, 1);
      }
    });
    store.dragNavList.forEach((item) => {
      if (item.widgetId === props.item.widgetId) {
        item.disabledFlag = true;
      }
    });
  };
  const resetLinkage = (widget) => {
    Pubs.publish('resetLinkage', widget);
  };
</script>

<style lang="less" scoped>
  .chart-btn {
    position: absolute;
    right: 3px;
    top: 2px;
    z-index: 100;
    cursor: pointer;
    padding: 4px 7px;
    // opacity: 0.2;
  }
  // .chart-btn:hover {
  // opacity: 1;
  // }
</style>
