<template>
  <div class="kanban" @drop="drop" @dragover.prevent>
    <grid-layout
      ref="gridlayout"
      v-model:layout="state.list"
      :col-num="12"
      :row-height="30"
      :is-draggable="!state.preview"
      :is-resizable="!state.preview"
      :vertical-compact="!state.preview"
      :use-css-transforms="false"
      style="width: 100%"
    >
      <grid-item
        v-for="(item, index) in state.list"
        :key="index"
        class="move-item"
        :x="item.x"
        :y="item.y"
        :w="item.w"
        :h="item.h"
        :i="item.widgetId"
        @resized="resizedEvent"
        @move="moveEvent"
        @moved="movedEvent"
      >
        <ChartsView
          :ref="(el) => setItemRef(el, `charts_${item.i}`)"
          :widget-id="item.widgetId"
          class="chartsView"
          :update-chart-flag="state.updateChartFlag"
          :relations="item.relations"
          @dblclick-link="dblclickLink(item, $event)"
          @chart-click="chartClick(item, $event)"
          @chart-itme="(data) => chartItme(data, item)"
        >
          <template #btn>
            <Action :item="item" :chart-ref="chartRef" :preview="state.preview"></Action>
          </template>
        </ChartsView>
      </grid-item>
    </grid-layout>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, reactive, watch, computed } from 'vue';
  import { isNil } from 'lodash-es';
  import { useRoute } from 'vue-router';
  import ChartsView from '../../chartsView/Index.vue';
  import AreaFinder from './LocationSelection';
  import Action from './Action.vue';
  import Pubs from '@/utils/pubs.js';
  import { kanbanConfigStore } from '@/store/modules/kanbanConfig';
  import { getBoardData } from '@/api/userAnalyze/kanbanConfig'; // api 接口

  const store = kanbanConfigStore();
  const props = defineProps(['boardId']);
  const $route = useRoute();
  const chartRef: any = {};
  const state = reactive({
    list: store.kanbanData,
    currentWidgetId: null,
    widgetName: '',
    dimIdMap: store.dimIdMap,
    updateChartFlag: false, //是否更新图表信息
    preview: computed(() => {
      return $route.query.preview;
    }),
  });

  // 预览功能查询数据
  const queryBoard = async () => {
    if (state.preview) {
      const data = await getBoardData({ boardId: $route.query.boardId || props.boardId });
      // 调用完看板配置信息后再调用获取列表，保持数据同步
      if (data.code === 'OK' && data.data) {
        store.kanbanData =
          data?.data?.layout?.widgets.map((item) => {
            // 王朗：实属无用，为了保证旧版数据
            return { ...item, i: item.widgetId };
          }) || [];
      }
    }
  };

  // 拖过来的数据
  const drop = (event) => {
    const newPos = AreaFinder.find(state.list, { w: 4, h: 6 });
    state.list.push({
      widgetId: event.dataTransfer.getData('drag-widgetId'),
      widgetName: event.dataTransfer.getData('drag-widgetName'),
      x: newPos.x,
      y: newPos.y,
      w: 4,
      h: 6,
      i: event.dataTransfer.getData('drag-widgetId'),
    });
  };
  const resizedEvent = (i) => {
    setTimeout(() => {
      state.list.forEach((item) => {
        if (item.widgetId === i) {
          chartRef[`charts_${item.i}`].resize();
        }
      });
    });
  };

  const setItemRef = (el, key) => {
    if (el) {
      chartRef[key] = el;
    }
  };
  const moveEvent = () => {};
  const movedEvent = () => {};
  const dblclickLink = (item) => {
    const widget = item.relations;
    const jump = widget.links.filter((x) => x.linkType == 'provider' && x.type == 'jumpLink');
    if (jump[0].targetId != null) {
      const _href = window.location.href;
      const _url = `${_href.split('#')[0]}#/userAnalyze/dataPreview?boardId=${
        jump[0].targetId
      }&preview=${true}`;
      window.open(_url);
    }
  };
  const chartClick = (widget, event) => {
    // const widget = store.kanbanData.find((x) => x.widgetId === widgetId);
    if (widget && widget.relations) {
      const sender = widget.relations.links.filter(
        (x) => x.linkType == 'provider' && x.conditions.length > 0 && x.type != 'jumpLink',
      );
      if (sender.length > 0) {
        let keys = [];
        let _conditions = [];
        sender.forEach((x) => {
          _conditions = _conditions.concat(x.conditions);
        });

        _conditions.forEach((item) => {
          keys.push(item.linkTarget.dimId);
        });
        keys = keys.sort();
        // 获取所有关联关系组合
        let list = keys;
        if (keys.length > 1) {
          list = getSenderKeyArr(keys);
        }
        for (let i = 0; i < list.length; i++) {
          // 关联关系
          const key = list[i];
          // 对应的抛出参数
          const data = _conditions.filter((x) => key.includes(x.linkTarget.dimId));
          const dataIndex = event.dataIndex;
          const dataMap = event.ext;
          data.forEach((x) => {
            const column = x.source.column;
            const vals = dataMap.hasOwnProperty(column) ? dataMap[column] : [];
            x.source.extValue = vals.length >= dataIndex ? vals[dataIndex] : '';
          });
          const params = { senderData: data, chartData: event };
          // console.log(3333, params);
          // 指定关联关系，开始发布消息事件
          Pubs.publish(key, params);
        }
      }
    }
  };
  /**
   * 获取抛出参数集合的任意组合
   * @param arr
   * @returns {[]}
   */
  const getSenderKeyArr = (arr) => {
    let a = [];
    let b = 0;
    for (a = []; a.push([]) < arr.length; ) {
      b = Math.pow(2, arr.length) - 1;
    }
    for (let i = 1; i <= b; i++) {
      const c = [];
      for (let s = i, k = 0; s > 0; s >>= 1, k++) {
        if (s & (1 === 1)) {
          c.push(arr[k]);
        }
      }
      a[c.length - 1].push(c.join('-'));
    }

    let list = [];
    a.forEach((x) => {
      list = list.concat(x);
    });
    return list;
  };
  const chartItme = (data, item) => {
    item.config = data;
    item.relations = item.relations || {
      links: [[], [], []],
      widgetId: '',
    };
    // nextTick(() => {
    // 设定图表接收参数
    // const receiver = item.relations.links.filter((x) => x.linkType == 'consumer');
    // if (receiver.length > 0) {
    //   if (receiver[0].conditions.length > 0) {
    //     const chart = chartRef[`charts_${item.i}`];
    //     // 设定图表接收参数
    //     const key = getKey(receiver[0]);
    //     chart.setReceiver({
    //       //因为下一层的dom还是undefined,所以这里默认设置不起作用
    //       key,
    //       data: item,
    //     });
    //   }
    // }
    // });
  };
  const getKey = (receiver) => {
    const ids = [];
    receiver.conditions.forEach((x) => {
      ids.push(x.linkTarget.dimId);
    });

    const key = ids.sort().join('-'); // dimID
    return key;
  };
  watch(
    () => store.kanbanData,
    (newVal) => {
      state.list = newVal;
      state.dimIdMap = computedDimid();
      store.dimIdMap = state.dimIdMap;
    },
    { deep: true },
  );
  const computedDimid = () => {
    const list = state.dimIdMap;
    if (state.list.length > 0) {
      state.list.forEach((x) => {
        if (x.relations && x.relations.hasOwnProperty('links')) {
          const idx = list.findIndex((y) => y.widgetId === x.widgetId);
          if (idx > -1) {
            list.splice(idx, 1);
          }
          const _links = x.relations.links.filter((x) => x.linkType === 'provider');
          const _conditions = [];
          _links.forEach((y) => {
            y.conditions.forEach((w) => {
              if (w.linkTarget.dimId.length > 0) {
                _conditions.push(w);
              }
            });
          });
          _conditions.forEach((y) => {
            const idx = list.findIndex((t) => t.key === y.linkTarget.dimId);
            if (idx > -1) {
              list.splice(idx, 1);
            }
            list.push({
              key: y.linkTarget.dimId,
              value: y.linkTarget.targetAlias,
              widgetId: x.widgetId,
            });
          });
        }
      });
    }
    return list;
  };
  const initSetReceiverFn = () => {
    const layout = store.kanbanData;
    if (layout.length > 0) {
      layout.forEach((item) => {
        const receiver = item.relations.links.filter((x) => x.linkType == 'consumer');
        if (receiver.length > 0) {
          if (receiver[0].conditions.length > 0) {
            // 设定图表接收参数
            const key = getKey(receiver[0]);
            //所有接收者加入缓存
            store.updataDataList.push({
              data: {
                key,
                data: item,
              },
            });
            // console.log('所有接收者', store.updataDataList);
            // 清理先
            Pubs.unsubscribe(key);
            setReceiverFn(key, item);
          }
        }
      });
    }
  };
  const setReceiverFn = (key, item) => {
    const chart = chartRef[`charts_${item.i}`];
    chart?.setReceiver({
      key,
      data: item,
    });
  };
  const subscribe = () => {
    Pubs.subscribe('updateChildData', function (_msg, data) {
      // console.log('所有发布者信息', store.updataDataList);
      // console.log('调用多次的入口', data);

      // const componentSubType = data.chart.chartData.data.chart.chartData

      let record: any = {};
      //自定义表格
      if (Object.hasOwn(data.chart.chartData, 'record')) {
        record = data.chart.chartData.record;
      } else {
        //echart
        const dataMap = data.chart.chartData.ext.dataMap;
        const dataIndex = data.chart.chartData.dataIndex;
        Object.keys(dataMap).forEach((key) => {
          record[key] = dataMap[key][dataIndex];
        });
      }
      // console.log(32211,record,data)
      const senderDataKey = data.chart.senderData.map((i) => {
        const field = i.source.column;
        return {
          linkTarget: i.linkTarget.dimId,
          column: field,
          value: Object.hasOwn(record, field) ? record[field] : record.data,
        };
      });

      // console.log('senderDataKey', senderDataKey);
      // console.log('store.updataDataList', store.updataDataList);

      store.updataDataList &&
        store.updataDataList.forEach((item) => {
          if (item.data.key !== data.data.key) return;
          const udata = item.data;
          const consumer = udata.data.relations.links.find((x) => x.linkType == 'consumer');
          const kvs: any = [];
          consumer.conditions.forEach((w) => {
            const findOne = senderDataKey.find((x) => x.linkTarget === w.linkTarget.dimId);
            if (!isNil(findOne)) {
              kvs.push({ field: w.source.column, fieldId: w.source.id, value: findOne.value });
            }
          });

          if (Object.hasOwn(data.chart.chartData, 'record')) {
            const tmp = udata.data.relations.links
              .find((x) => x.linkType === 'consumer')
              ?.conditions?.find((x) =>
                x.linkTarget.targetAlias.includes(data.chart.chartData.column.dataIndex),
              );
            if (!tmp) return;

            udata.data.config.data.filters = [
              {
                columnCName: data.chart.chartData.column.title,
                columnCname: data.chart.chartData.column.title,
                columnName: tmp?.source?.column,
                filterType: tmp?.source?.filterType,
                values: [data.chart.chartData.value],
              },
            ];
          } else {
            let tmp = [];
            tmp = udata.data.relations.links.find((x) => x.linkType === 'consumer')?.conditions;
            udata.data.config.data.filters = [];

            tmp.map((x) => {
              for (const [key, value] of Object.entries(data.chart.chartData.ext.dataMap)) {
                if (x.linkTarget.targetAlias.includes(key)) {
                  const target = data.chart.chartData.ext.columnList.find((x) => x.name === key);
                  udata.data.config.data.filters.push({
                    columnCName: target.cName,
                    columnCname: target.cName,
                    columnName: x?.source?.column,
                    filterType: x?.source?.filterType,
                    values: value[data.chart.chartData.dataIndex],
                  });
                }
              }
            });
          }
          chartRef[`charts_${udata.data.i}`] &&
            chartRef[`charts_${udata.data.i}`].updateChart(udata);
        });
    });
  };
  const onChartSubscribe = () => {
    Pubs.subscribe('onChartMounted', function () {
      initSetReceiverFn();
      subscribe();
    });
  };
  onMounted(async () => {
    if (state.preview) {
      await queryBoard();
    }
    onChartSubscribe();
  });
  defineExpose({ initSetReceiverFn });
</script>

<style lang="less" scoped>
  .kanban {
    flex: 1;
    background: #eee;
    margin: 8px;
    border-radius: 4px;
    box-shadow: 0 0 1.5px 1.5px #eee;
    display: flex;
    flex-direction: column;
    overflow: auto;
    .draggable {
      flex: 1;
    }
    /deep/ .drag {
      // background: red !important;
      display: none;
    }
    .chartsView {
      box-shadow: 0px 0px 3px 3px #dfdfdf;
      border-radius: 4px;
    }
  }
</style>
