<template>
  <!--汇总-->
  <a-row :gutter="[16, 10]">
    <a-col :md="{ span: 9 }">
      <div class="bgclass">
        <p class="xbtclass">采购规模</p>
        <a-row :gutter="[16, 16]">
          <a-col :md="{ span: 12 }">
            <div>
              <p class="nrstyle" style="font-size: 20px">资材备件（全口径）</p>
              <div style="height: 130px; padding-top: 5px; padding-left: 25%">
                <a-progress
                  type="circle"
                  :percent="ANNUAL_BDGT_FINISH_RATE"
                  :format="(percent) => `${ANNUAL_BDGT_FINISH_RATE}%`"
                  :stroke-color="'#108ee9'"
                />
              </div>
            </div>
            <hr />
            <p class="nrstyle">年度预算：{{ ANNUAL_BDGT_AMT }}万元</p>
            <p class="nrstyle">本月实绩：{{ INV_AMT }}万元</p>
            <p class="nrstyle">累计实绩：{{ YEAR_ARRIVAL_AMT }}万元</p>
          </a-col>
          <a-col :md="{ span: 12 }">
            <div>
              <p class="nrstyle" style="font-size: 20px">工程设备（按合同）</p>
              <div style="height: 130px; padding-top: 5px; padding-left: 25%">
                <a-progress
                  type="circle"
                  :percent="RATE"
                  :format="(percent) => `${RATE}%`"
                  :stroke-color="'#108ee9'"
                />
              </div>
            </div>
            <hr />
            <p class="nrstyle">年度预算：{{ INDICATOR_PROGRESS_TARGET }}万元</p>
            <p class="nrstyle">本月实绩：{{ MONTH_CONTR_AMT }}万元</p>
            <p class="nrstyle">累计实绩：{{ YEAR_TOTAL_CONTR_AMT }}万元</p>
          </a-col>
        </a-row>
      </div>
    </a-col>
    <a-col :md="{ span: 5 }">
      <div class="bgclass">
        <p class="xbtclass">吨钢资材备件成本</p>
        <div class="height1">
          <StackedColumnFoldMixedChart
            :x-axis="setoverviewoHZ01.xAxis"
            :y-axis="setoverviewoHZ01.yAxis"
            :series="setoverviewoHZ01.series"
          />
        </div>
        <p class="nrstyle">
          年度目标：<span style="font-size: 22px">{{ TON_STEEL_COST_TARGET_DECOMPOSE }}元/吨</span>
        </p>
        <p class="nrstyle">
          本年累计：<span style="font-size: 22px">{{ YEAR_TOTAL_STEEL_COST }}元/吨</span>
        </p>
      </div>
    </a-col>
    <a-col :md="{ span: 5 }">
      <div class="bgclass">
        <p class="xbtclass">资材备件采购价差实绩</p>
        <div class="height1">
          <StackedColumnFoldMixedChart
            :x-axis="setoverviewoHZ06.xAxis"
            :y-axis="setoverviewoHZ06.yAxis"
            :series="setoverviewoHZ06.series"
          />
        </div>
        <p class="nrstyle">
          年度目标：<span style="font-size: 22px">{{ YEAR_TARGET }}万元</span>
        </p>
        <p class="nrstyle">
          本年累计：<span style="font-size: 22px">{{ MONTH_PUR_CUTDOWN_AMT }}万元</span>
        </p>
      </div>
    </a-col>
    <a-col :md="{ span: 5 }">
      <div class="bgclass">
        <p class="xbtclass">资材备件期末库存</p>
        <div class="height1">
          <StackedColumnFoldMixedChart
            :x-axis="setoverviewoHZ05.xAxis"
            :y-axis="setoverviewoHZ05.yAxis"
            :series="setoverviewoHZ05.series"
          />
        </div>
        <p class="nrstyle">
          年度目标：<span style="font-size: 22px">{{ TARGE_AMT }}万元</span>
        </p>
        <p class="nrstyle">
          期末库存：<span style="font-size: 22px">{{ INV_AMT1 }}万元</span>
        </p>
      </div>
    </a-col>
  </a-row>
</template>

<script setup lang="ts">
  import 'echarts-liquidfill';

  import { onMounted, reactive, ref } from 'vue';
  import { StackedColumnFoldMixedChart } from '../componentfile';
  import { getWidget } from '@/api/strategyTracking';
  import TransCharts from '@/views/strategyTracking/modulefile/components/transCharts';

  defineOptions({
    name: 'overviewofthemodule',
    inheritAttrs: false,
  });

  // 完成率保留一位小数位
  function XiaoShuText(text) {
    if (text === '-') {
      return text;
    } else {
      return parseFloat(text).toFixed(1);
    }
  }
  // 金额保留整数
  function MonText(text) {
    if (text === '-') {
      return text;
    } else {
      const datatext = parseFloat(text).toFixed(0);
      return parseInt(datatext).toLocaleString();
    }
  }

  const RATE = ref(0);
  const MONTH_CONTR_AMT = ref(0);
  const YEAR_TOTAL_CONTR_AMT = ref(0);
  const INDICATOR_PROGRESS_TARGET = ref(0);

  const INV_AMT1 = ref(0);
  const TARGE_AMT = ref(0);

  const MONTH_PUR_CUTDOWN_AMT = ref(0);
  const YEAR_TARGET = ref(0);
  const Lfsytb = () => {
    getWidget({ widgetId: 2022072512134596 }).then((r) => {
      const data = r.data.dataMap;
      YEAR_TOTAL_CONTR_AMT.value = MonText(data.YEAR_TOTAL_CONTR_AMT[0]);
      RATE.value = XiaoShuText(data.RATE[0]);
      MONTH_CONTR_AMT.value = MonText(data.MONTH_CONTR_AMT[0]);
      INDICATOR_PROGRESS_TARGET.value = MonText(data.INDICATOR_PROGRESS_TARGET[0]);
    });

    getWidget({ widgetId: 2023031016395783 }).then((r) => {
      const data = r.data.dataMap;
      INV_AMT1.value = MonText(data.INV_AMT[0]);
      TARGE_AMT.value = MonText(data.TARGE_AMT[0]);
    });

    getWidget({ widgetId: 2022080816187854 }).then((r) => {
      const data = r.data.dataMap;
      MONTH_PUR_CUTDOWN_AMT.value = MonText(data.MONTH_PUR_CUTDOWN_AMT[0]);
      YEAR_TARGET.value = MonText(data.YEAR_TARGET[0]);
    });
  };

  // 资材备件采购实绩（按到货）
  const INV_AMT = ref(0);
  const ANNUAL_BDGT_FINISH_RATE = ref(0);
  const YEAR_ARRIVAL_AMT = ref(0);
  const ANNUAL_BDGT_AMT = ref(0);
  const LcgsjzcbjdheChart1 = () => {
    getWidget({ widgetId: 2020072515215942 }).then((r) => {
      const data = r.data.dataMap;
      INV_AMT.value = MonText(data.MONTH_ARRIVAL_AMT[0]);
      ANNUAL_BDGT_FINISH_RATE.value = XiaoShuText(data.ANNUAL_BDGT_FINISH_RATE[0]);
      YEAR_ARRIVAL_AMT.value = MonText(data.YEAR_ARRIVAL_AMT[0]);
      ANNUAL_BDGT_AMT.value = MonText(data.ANNUAL_BDGT_AMT[0]);
    });
  };

  let setoverviewoHZ05 = reactive({
    Chart: [],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [
      {
        name: '钢铁基地',
        type: 'bar',
        stack: 'total',
        data: [],
      },
      {
        name: '欧冶工业品',
        type: 'bar',
        stack: 'total',
        data: [],
      },
      {
        name: '季度目标',
        type: 'line',
        data: [],
      },
    ],
  });
  const Chart301 = reactive({
    c01: 'YM',
    c02: 'GT_AMT',
    c03: 'OG_AMT',
    c04: 'TARGET_AMT',
  });
  const LkczcbjkczjzyChart3 = () => {
    getWidget({ widgetId: 2023030816395782 }).then((result) => {
      setoverviewoHZ05 = TransCharts.echartChartsData(result.data, '', Chart301, setoverviewoHZ05);
      setoverviewoHZ05.series[0].data = TransCharts.toCharts12DataSeries(
        setoverviewoHZ05.series[0].data,
      );
      setoverviewoHZ05.series[1].data = TransCharts.toCharts12DataSeries(
        setoverviewoHZ05.series[1].data,
      );
      setoverviewoHZ05.series[2].data = TransCharts.toCharts12DataSeries(
        setoverviewoHZ05.series[2].data,
      );
      setoverviewoHZ05.xAxis = TransCharts.toCharts12DataxAxis();
    });
  };

  let setoverviewoHZ06 = reactive({
    Chart: [],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [
      {
        name: '损益口径(不含锌锡)',
        type: 'bar',
        stack: 'total',
        data: [],
      },
      {
        name: '锌锡',
        type: 'bar',
        stack: 'total',
        data: [],
      },
      {
        name: '合计',
        type: 'line',
        symbolSize: 0, // 设置symbol的大小设置为0
        showSymbol: false, // 不显示symbol
        lineStyle: {
          width: 0, //设置线宽为0
          color: 'rgba(0, 0, 0, 0)', // s设置线的颜色为透明
        },
        data: [],
      },
    ],
  });
  const Chart06 = reactive({
    c01: 'PUR_YM',
    c02: 'SYKJBHXX_AMT',
    c03: 'XX_AMT',
    c04: 'TOTAL_AMT',
  });
  const LzcbjcgcbxjljxjeChart5 = () => {
    getWidget({ widgetId: 2022072613298561 }).then((result) => {
      setoverviewoHZ06 = TransCharts.echartChartsData(result.data, '', Chart06, setoverviewoHZ06);
      setoverviewoHZ06.series[0].data = TransCharts.toCharts12DataSeries(
        setoverviewoHZ06.series[0].data,
      );
      setoverviewoHZ06.series[1].data = TransCharts.toCharts12DataSeries(
        setoverviewoHZ06.series[1].data,
      );
      setoverviewoHZ06.xAxis = TransCharts.toCharts12DataxAxis();
    });
  };

  let setoverviewoHZ01 = reactive({
    Chart: [],
    xAxis: [],
    yAxis: [{ min: 200 }],
    series: [
      {
        name: '吨钢成本目标',
        type: 'line',
        smooth: false,
        data: [],
        color: '#ffd44a',
        tooltip: {
          valueFormatter(value) {
            return XiaoShuText(value);
          },
        },
      },
      {
        name: '吨钢成本',
        type: 'bar',
        data: [],
        color: '#5470c6',
        tooltip: {
          valueFormatter(value) {
            return XiaoShuText(value);
          },
        },
        barGap: 0,
      },
    ],
  });
  const Chart101 = reactive({
    c01: 'PUR_YM',
    c02: 'TON_STEEL_COST_TARGET_DECOMPOSE',
    c03: 'MONTH_STEEL_COST',
  });
  const YEAR_TOTAL_STEEL_COST = ref(0);
  const TON_STEEL_COST_TARGET_DECOMPOSE = ref(0);
  const LsetoverviewoHZ01 = () => {
    getWidget({ widgetId: 2023031616395783 }).then((result) => {
      const data = result.data.dataMap;
      YEAR_TOTAL_STEEL_COST.value = XiaoShuText(
        data.YEAR_TOTAL_STEEL_COST[data.YEAR_TOTAL_STEEL_COST.length - 1],
      );
      TON_STEEL_COST_TARGET_DECOMPOSE.value = XiaoShuText(data.TON_STEEL_COST_TARGET_DECOMPOSE[0]);
      setoverviewoHZ01 = TransCharts.echartChartsData(result.data, '', Chart101, setoverviewoHZ01);
      setoverviewoHZ01.series[0].data = TransCharts.toCharts12DataSeries(
        setoverviewoHZ01.series[0].data,
      );
      setoverviewoHZ01.series[1].data = TransCharts.toCharts12DataSeries(
        setoverviewoHZ01.series[1].data,
      );
      setoverviewoHZ01.xAxis = TransCharts.toCharts12DataxAxis();
    });
  };

  onMounted(() => {
    Lfsytb();
    LsetoverviewoHZ01();
    LcgsjzcbjdheChart1();
    LkczcbjkczjzyChart3();
    LzcbjcgcbxjljxjeChart5();
  });
</script>
<style lang="less" scoped>
  .bgclass {
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    height: 325px;
  }

  .xbtclass {
    font-size: 22px;
    color: @heading-color;
    line-height: 30px;
    padding-left: 15px;
    font-weight: bold;
  }

  .bjonetwo {
    width: 90%;
    height: 130px;
    margin: 5% 0% 5% 5%;
  }

  .fontsizestyle {
    line-height: 60px;
    margin-bottom: 10px;
  }

  .nrstyle {
    font-size: 18px;
    text-indent: 15px;
    margin-top: 10px;
  }

  .height1 {
    height: 180px;
  }
</style>
