<template>
  <div>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 24 }">
        <div class="blockstyle sbstyle">
          <p class="title titlejzclass"
            >总体库存情况表（单位：万元）<edit-outlined
              clsss="editOut"
              @click="showV(2023022016395783, setKC10.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2023022016395783"
            :has-header="false"
            :api-method="setKC10dataSource"
            :column-list="setKC10.columns"
            :column-groups="setKC10.columnGroups"
            :formatter="tableStyle.formatter"
            :cell-color="tableStyle.cellColor"
            :scroll="{ y: 450 }"
            @cellClicked="onsetKC10Clicked"
            @rowClassName="setKC10RowClassName"
            @cutomHeaderRow="setKC10OnClickModal"
          />
        </div>
      </a-col>
      <a-col :md="{ span: 12 }">
        <div class="blockstyle">
          <p class="title titlejzclass">集团资材备件季度库存指标完成情况（单位：万元）</p>
          <div class="height1">
            <StackedVerticalChart
              :legendone="setKC05.Chart"
              :y-axis="setKC05.yAxis"
              :series="setKC05.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 12 }">
        <div class="blockstyle">
          <p class="title titlejzclass">{{ AREA_NAME1 }}库存变化（单位：万元）</p>
          <div class="height1">
            <StackedLineChart
              :legendone="setKC04.Chart"
              :x-axis="setKC04.xAxis"
              :y-axis="setKC04.yAxis"
              :series="setKC04.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 14 }">
        <div class="blockstyle">
          <p class="title titlejzclass"
            >OG账套月末库存情况（单位：万元）<edit-outlined
              clsss="editOut"
              @click="showV(2022072521595462, setKC11.columns, '')"
          /></p>
          <div class="height1">
            <MergeTable
              :widget-id="2022072521595462"
              :has-header="false"
              :api-method="setKC11dataSource"
              :column-list="setKC11.columns"
              :column-groups="setKC11.columnGroups"
              :formatter="tableStyle.formatter"
              :scroll="{ y: 340 }"
              @cutomHeaderRow="setKC11OnClickModal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="blockstyle">
          <p class="title titlejzclass">欧冶工业品合计库存变化趋势 (单位:万元)</p>
          <div class="height1">
            <StackedLineChart
              :legendone="setKC12.Chart"
              :x-axis="setKC12.xAxis"
              :y-axis="setKC12.yAxis"
              :series="setKC12.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 14 }">
        <div class="blockstyle sbstyle">
          <p class="title titlejzclass"
            >OG账套库龄结构（单位：万元）<edit-outlined
              clsss="editOut"
              @click="showV(2022072521595462, setKC01.columns, '')"
          /></p>
          <div class="height1">
            <MergeTable
              :widget-id="2022072521595462"
              :has-header="false"
              :api-method="setKC01dataSource"
              :column-list="setKC01.columns"
              :formatter="tableStyle.formatter"
              :scroll="{ y: 400 }"
              @cellClicked="onsetKC01cked"
              @cutomHeaderRow="setKC01OnClickModal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="blockstyle">
          <p class="title titlejzclass">{{ ARRIVAL_AREA_NAME }}当月库存库龄结构（单位：%）</p>
          <div class="height1">
            <StackedPieChart :legendone="setKC02.Chart" :series="setKC02.series" />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 14 }">
        <div class="blockstyle">
          <p class="title titlejzclass"
            >出资库存削减情况（单位：万元）<edit-outlined
              clsss="editOut"
              @click="showV(2022120216395782, setKC03.columns, '')"
          /></p>
          <div class="height1">
            <MergeTable
              :widget-id="2022120216395782"
              :has-header="false"
              :api-method="setKC03dataSource"
              :column-list="setKC03.columns"
              :column-groups="setKC03.columnGroups"
              :formatter="tableStyle.formatter"
              :scroll="{ y: 315 }"
              @cutomHeaderRow="setKC03OnClickModal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="blockstyle">
          <p class="title titlejzclass">合计月末出资库存变化趋势（单位：万元）</p>
          <div class="height1">
            <StackedLineChart
              :legendone="setKC08.Chart"
              :x-axis="setKC08.xAxis"
              :y-axis="setKC08.yAxis"
              :series="setKC08.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>
    <ShowModal ref="showModal" :visible="state.visible" @close="dialogClose"></ShowModal>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, reactive, ref } from 'vue';
  import { StackedLineChart, StackedVerticalChart, StackedPieChart } from '../componentfile';
  import { MergeTable } from '@/components/business';
  import { getWidget, queryAggregate, searchAllocate, remarkCount } from '@/api/strategyTracking';
  import Transformer from '@/views/strategyTracking/modulefile/components/transformer';
  import TransCharts from '@/views/strategyTracking/modulefile/components/transCharts';
  import tableStyle from '@/views/strategyTracking/modulefile/components/tableStyle';
  import ShowModal from '@/views/strategyTracking/modulefile/components/ShowModal.vue';

  defineOptions({
    name: 'OverviewBasicManagementModule',
    inheritAttrs: false,
  });

  const showModal = ref(null);
  const state = reactive({
    visible: false,
  });

  const setKC10OnClickModal = (callback) => {
    callback('总体库存情况表（单位：万元）');
  };
  const setKC01OnClickModal = (callback) => {
    callback('OG账套库龄结构（单位：万元）');
  };
  const setKC11OnClickModal = (callback) => {
    callback('OG账套月末库存情况（单位：万元）');
  };
  const setKC03OnClickModal = (callback) => {
    callback('出资库存削减情况（单位：万元）');
  };
  // 月末库存情况
  const setKC01 = reactive({
    dataSource: [],
    columns: [
      {
        title: '区域',
        dataIndex: 'ARRIVAL_AREA_NAME',
        key: 'ARRIVAL_AREA_NAME',
        width: '200px',
        ellipsis: false,
      },
      { title: '小于3月', dataIndex: 'LT_MAR_INV_AMT', key: 'LT_MAR_INV_AMT', formatter: 'rate5' },
      {
        title: '3-6月',
        dataIndex: 'MAR_ARRIVE_JUN_INV_AMT',
        key: 'MAR_ARRIVE_JUN_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '6月-1年',
        dataIndex: 'JUN_ARRIVE_ONE_YEAR_INV_AMT',
        key: 'JUN_ARRIVE_ONE_YEAR_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '1-2年',
        dataIndex: 'ONE_ARRIVE_TWO_YEAR_INV_AMT',
        key: 'ONE_ARRIVE_TWO_YEAR_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '2-3年',
        dataIndex: 'TWO_ARRIVE_THREE_YEAR_INV_AMT',
        key: 'TWO_ARRIVE_THREE_YEAR_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '3年以上',
        dataIndex: 'GT_THREE_YEAR_INV_AMT',
        key: 'GT_THREE_YEAR_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '实物库存累计',
        dataIndex: 'ENTITY_INV_AMT',
        key: 'ENTITY_INV_AMT',
        width: '160px',
        formatter: 'rate5',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search1 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setKC01.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setKC01.columnKeyList = res2.data;
  };
  const setKC01dataSource = async () => {
    await search1(2022072521595462, '');
    return new Promise(function (resolve, reject) {
      getWidget({ widgetId: 2022072521595462 })
        .then((result) => {
          setKC01.dataSource = Transformer.toTableData3(
            result.data,
            '',
            setKC01.keyColumnNameList,
            setKC01.columnKeyList,
          );
          const data = setKC01.dataSource;
          const res = {
            data: {
              success: true,
              data,
            },
          };
          resolve(res);
        })
        .catch(() => {
          reject('获取数据异常');
        });
    });
  };

  // 当月各库龄的库存情况
  const setKC02 = reactive({
    Chart: [{ bottom: '2%', left: 'center' }],
    series: [],
  });
  const ARRIVAL_AREA_NAME = ref('合计');
  const onsetKC01cked = (record) => {
    ARRIVAL_AREA_NAME.value = record.ARRIVAL_AREA_NAME;
    getOverviewBasicManagementModule02();
  };
  const getOverviewBasicManagementModule02 = () => {
    const cans = {
      relations: [
        {
          filterField: 'ARRIVAL_AREA_NAME',
          filterValues: [ARRIVAL_AREA_NAME.value],
          widgetId: 2022072522534562,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      const dataMap = result.data[2022072522534562].dataMap;
      const dataseries = [
        {
          itemStyle: {
            borderRadius: 5,
            borderColor: 'white',
            borderWidth: 1,
          },
          type: 'pie',
          radius: ['40%', '80%'],
          data: [],
          label: {
            normal: {
              show: true,
              position: 'inner', // 数值显示在内部
              formatter(p) {
                const text = parseFloat(parseFloat(p.value).toFixed(1));
                return text.toLocaleString('en-US');
              },
              textStyle: {
                color: 'white', // 改变标示文字的颜色
              },
            },
          },
          emphasis: {
            itemStyle: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)',
            },
          },
        },
      ];
      dataseries[0].data = [
        { value: dataMap.LT_MAR_INV_AMT[0], name: '小于3月', itemStyle: { color: '#c4ebad' } },
        {
          value: dataMap.MAR_ARRIVE_JUN_INV_AMT[0],
          name: '3-6月',
          itemStyle: { color: '#7bd9a5' },
        },
        {
          value: dataMap.JUN_ARRIVE_ONE_YEAR_INV_AMT[0],
          name: '6月-1年',
          itemStyle: { color: '#b5c334' },
        },
        {
          value: dataMap.ONE_ARRIVE_TWO_YEAR_INV_AMT[0],
          name: '1-2年',
          itemStyle: { color: '#f7f494' },
        },
        {
          value: dataMap.TWO_ARRIVE_THREE_YEAR_INV_AMT[0],
          name: '2-3年',
          itemStyle: { color: '#f2d643' },
        },
        {
          value: dataMap.GT_THREE_YEAR_INV_AMT[0],
          name: '3年以上',
          itemStyle: { color: '#d95850' },
        },
      ];
      setKC02.series = dataseries;
    });
  };

  // 长龄库存削减情况
  const setKC03 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '出资库存金额',
        children: [
          'COMPANY_INIT_EOY_INV_AMT',
          'LASTYEAR_EOY_INV_AMT',
          'LAST_EOM_INV_AMT',
          'EOM_INV_AMT',
        ],
      },
      {
        title: '较公司成立初增减',
        children: ['COMP_COMPANY_INIT_EOY_INV_AMT', 'COMP_COMPANY_INIT_EOY_INV_PENCENT'],
      },
      {
        title: '较上年末增减',
        children: ['COMP_LASTYEAR_EOY_INV_AMT', 'COMP_LASTYEAR_EOY_INV_PENCENT'],
      },
      {
        title: '较上月末增减',
        children: ['COMP_LAST_EOM_INV_AMT', 'COMP_LAST_EOM_INV_PENCENT'],
      },
    ],
    columns: [
      {
        title: '出资基地',
        dataIndex: 'INV_BASE_NAME',
        key: 'INV_BASE_NAME',
        width: 120,
        ellipsis: false,
      },
      {
        title: '成立初',
        dataIndex: 'COMPANY_INIT_EOY_INV_AMT',
        key: 'COMPANY_INIT_EOY_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '上年末',
        dataIndex: 'LASTYEAR_EOY_INV_AMT',
        key: 'LASTYEAR_EOY_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '上月末',
        dataIndex: 'LAST_EOM_INV_AMT',
        key: 'LAST_EOM_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '本月末',
        dataIndex: 'EOM_INV_AMT',
        key: 'EOM_INV_AMT',
        formatter: 'rate5',
        style: {
          background: '#f5e8b9',
        },
      },
      {
        title: '金额',
        dataIndex: 'COMP_COMPANY_INIT_EOY_INV_AMT',
        key: 'COMP_COMPANY_INIT_EOY_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '比例',
        dataIndex: 'COMP_COMPANY_INIT_EOY_INV_PENCENT',
        key: 'COMP_COMPANY_INIT_EOY_INV_PENCENT',
        formatter: 'rate3',
      },
      {
        title: '金额',
        dataIndex: 'COMP_LASTYEAR_EOY_INV_AMT',
        key: 'COMP_LASTYEAR_EOY_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '比例',
        dataIndex: 'COMP_LASTYEAR_EOY_INV_PENCENT',
        key: 'COMP_LASTYEAR_EOY_INV_PENCENT',
        formatter: 'rate3',
        style: {
          background: '#f5e8b9',
        },
      },
      {
        title: '金额',
        dataIndex: 'COMP_LAST_EOM_INV_AMT',
        key: 'COMP_LAST_EOM_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '比例',
        dataIndex: 'COMP_LAST_EOM_INV_PENCENT',
        key: 'COMP_LAST_EOM_INV_PENCENT',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search3 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setKC03.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setKC03.columnKeyList = res2.data;
  };
  const setKC03dataSource = async () => {
    await search3(2022120216395782, '');
    return new Promise(function (resolve, reject) {
      getWidget({ widgetId: 2022120216395782 })
        .then((result) => {
          setKC03.dataSource = Transformer.toTableData3(
            result.data,
            '',
            setKC03.keyColumnNameList,
            setKC03.columnKeyList,
          );
          const data = setKC03.dataSource;
          const res = {
            data: {
              success: true,
              data,
            },
          };
          resolve(res);
        })
        .catch(() => {
          reject('获取数据异常');
        });
    });
  };

  // 实物库存变化趋势
  const AREA_NAME1 = ref('合计');
  const onsetKC10Clicked = (record) => {
    AREA_NAME1.value = record.AREA_NAME;
    getOverviewBasicManagementModule04();
  };
  let setKC04 = reactive({
    Chart: [],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [
      {
        type: 'line',
        data: [],
        smooth: false,
        tooltip: {
          valueFormatter(value) {
            return MonText(value);
          },
        },
        itemStyle: {
          normal: {
            label: {
              show: true,
              position: 'top',
              textStyle: { color: 'black' },
              formatter(p) {
                return MonText(p.value);
              },
            },
          },
        },
      },
    ],
  });
  const parseFunc04 = reactive({
    c01: 'YM',
    c02: 'INV_AMT',
  });
  const getOverviewBasicManagementModule04 = () => {
    const cans = {
      relations: [
        {
          filterField: 'AREA_NAME',
          filterValues: [AREA_NAME1.value],
          widgetId: 2022032316395782,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      setKC04.series[0].data = [];
      setKC04.xAxis = [];
      setKC04 = TransCharts.echartChartsData(result.data, 2022032316395782, parseFunc04, setKC04);
    });
  };
  // 季末库存指标情况
  // 金额保留整数
  function MonText(text) {
    if (text === '-') {
      return text;
    } else {
      const datatext = parseFloat(text).toFixed(0);
      return parseInt(datatext).toLocaleString();
    }
  }
  const setKC05 = reactive({
    Chart: [],
    yAxis: [],
    series: [],
  });
  const getOverviewBasicManagementModule05 = () => {
    const dataChart = ['合计库存金额', '季末库存指标'];
    const datayAxis = [];
    const dataseries = [
      {
        name: '合计库存金额',
        type: 'bar',
        barWidth: '55%',
        data: [],
        zlevel: '1',
        color: '#EEBB00',
        tooltip: {
          valueFormatter(value) {
            return MonText(value);
          },
        },
      },
      {
        name: '季末库存指标',
        type: 'bar',
        barWidth: '80%',
        color: '#888888',
        barGap: '-123%',
        itemStyle: { opacity: 0.5 },
        data: [],
        tooltip: {
          valueFormatter(value) {
            return MonText(value);
          },
        },
      },
    ];
    getWidget({ widgetId: 2023030916395784 }).then((r) => {
      const data = r.data;
      for (let i = 0; i < data.data.length; i++) {
        for (let j = 0; j < data.columnList.length; j++) {
          if (data.columnList[j].name === 'QUARTER_INDICATOR_INV_AMT') {
            dataseries[1].data.push(data.data[i][data.columnList[j].index]);
          } else if (data.columnList[j].name === 'big_zone_name') {
            datayAxis.push(data.data[i][data.columnList[j].index]);
          } else if (data.columnList[j].name === 'INV_TOTAL_AMT') {
            dataseries[0].data.push(data.data[i][data.columnList[j].index]);
          }
        }
      }
      setKC05.Chart = dataChart;
      setKC05.yAxis = datayAxis;
      setKC05.series = dataseries;
    });
  };

  // 月末长龄出资库存变化趋势
  let setKC08 = reactive({
    Chart: [],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [
      {
        type: 'line',
        data: [],
        smooth: false,
        tooltip: {
          valueFormatter(value) {
            return MonText(value);
          },
        },
        itemStyle: {
          normal: {
            label: {
              show: true,
              position: 'top',
              textStyle: { color: 'black' },
              formatter(p) {
                return MonText(p.value);
              },
            },
          },
        },
      },
    ],
  });
  const KC08condition = reactive({
    c01: 'INV_BACKUP_YM',
    c02: 'EOM_LONG_INVAGING_INV_AMT',
  });
  const getOverviewBasicManagementModule08 = () => {
    getWidget({ widgetId: 2020072612568542 }).then((result) => {
      setKC08 = TransCharts.echartChartsData(result.data, '', KC08condition, setKC08);
    });
  };

  const setKC10 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '较集采切换前',
        children: ['BY202010AMT', 'BY202010RATIO'],
      },
      {
        title: '较2022年年末',
        children: ['BYLASTYEARAMT', 'BYLASTYEARRATIO'],
      },
      {
        title: '较上月',
        children: ['BYLASTMONTHAMT', 'BYLASTMONTHRATIO'],
      },
    ],
    columns: [
      { title: '钢铁基地', dataIndex: 'AREA_NAME', key: 'AREA_NAME', ellipsis: false },
      {
        title: '2020年10月末(集采切换前)',
        dataIndex: 'AMT202010',
        key: 'AMT202010',
        formatter: 'rate5',
      },
      { title: '上年末库存', dataIndex: 'LASTYEARAMT', key: 'LASTYEARAMT', formatter: 'rate5' },
      { title: '本年目标', dataIndex: 'targetAmt2023', key: 'targetAmt2023', formatter: 'rate5' },
      { title: '上月库存', dataIndex: 'LASTMONTHAMT', key: 'LASTMONTHAMT', formatter: 'rate5' },
      {
        title: '本月库存',
        dataIndex: 'INV_AMT',
        key: 'INV_AMT',
        formatter: 'rate5',
        style: {
          background: '#f5e8b9',
        },
      },
      { title: '增减金额', dataIndex: 'BY202010AMT', key: 'BY202010AMT', formatter: 'rate5' },
      { title: '增减比例', dataIndex: 'BY202010RATIO', key: 'BY202010RATIO', formatter: 'rate3' },
      {
        title: '增减金额',
        dataIndex: 'BYLASTYEARAMT',
        key: 'BYLASTYEARAMT',
        formatter: 'rate5',
      },
      {
        title: '增减比例',
        dataIndex: 'BYLASTYEARRATIO',
        key: 'BYLASTYEARRATIO',
        formatter: 'rate3',
        style: {
          background: '#f5e8b9',
        },
        emphasisColor: 'colortwo',
      },
      { title: '增减金额', dataIndex: 'BYLASTMONTHAMT', key: 'BYLASTMONTHAMT', formatter: 'rate5' },
      {
        title: '增减比例',
        dataIndex: 'BYLASTMONTHRATIO',
        key: 'BYLASTMONTHRATIO',
        formatter: 'rate3',
        emphasisColor: 'colorkc01bylas',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search10 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setKC10.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setKC10.columnKeyList = res2.data;
  };
  const setKC10RowClassName = (record, callback) => {
    if (
      record.AREA_NAME === '宝钢股份小计' ||
      record.AREA_NAME === '中南钢铁小计' ||
      record.AREA_NAME === '八钢公司小计' ||
      record.AREA_NAME === '合计'
    ) {
      callback('warning-row');
    } else {
      callback('');
    }
  };
  const setKC10dataSource = async () => {
    await search10(2023022016395783, '');
    return new Promise(function (resolve, reject) {
      getWidget({ widgetId: 2023022016395783 })
        .then((result) => {
          setKC10.dataSource = Transformer.toTableData3(
            result.data,
            '',
            setKC10.keyColumnNameList,
            setKC10.columnKeyList,
          );
          const data = setKC10.dataSource;
          const res = {
            data: {
              success: true,
              data,
            },
          };
          resolve(res);
        })
        .catch(() => {
          reject('获取数据异常');
        });
    });
  };

  const setKC11 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '库存金额',
        children: ['lastYearAmt', 'lastMonthAmt', 'ENTITY_INV_AMT'],
      },
      {
        title: '较上年',
        children: ['byLastYearAmt', 'byLastYearRatio'],
      },
      {
        title: '较上月',
        children: ['byLastMonthAmt', 'byLastMonthRatio'],
      },
    ],
    columns: [
      { title: '区域', dataIndex: 'ARRIVAL_AREA_NAME', key: 'ARRIVAL_AREA_NAME', ellipsis: false },
      {
        title: '目标',
        dataIndex: 'YEAR_TARGET_INV_AMT',
        key: 'YEAR_TARGET_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '上年末',
        dataIndex: 'lastYearAmt',
        key: 'lastYearAmt',
        formatter: 'rate5',
      },
      {
        title: '上月',
        dataIndex: 'lastMonthAmt',
        key: 'lastMonthAmt',
        formatter: 'rate5',
      },
      {
        title: '本月',
        dataIndex: 'ENTITY_INV_AMT',
        key: 'ENTITY_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '增减额',
        dataIndex: 'byLastYearAmt',
        key: 'byLastYearAmt',
        formatter: 'rate5',
        style: {
          background: '#f5e8b9',
        },
      },
      {
        title: '增减比例',
        dataIndex: 'byLastYearRatio',
        key: 'byLastYearRatio',
        formatter: 'rate3',
        style: {
          background: '#f5e8b9',
        },
      },
      {
        title: '增减额',
        dataIndex: 'byLastMonthAmt',
        key: 'byLastMonthAmt',
        formatter: 'rate5',
      },
      {
        title: '增减比例',
        dataIndex: 'byLastMonthRatio',
        key: 'byLastMonthRatio',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search11 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setKC11.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setKC11.columnKeyList = res2.data;
  };
  const setKC11dataSource = async () => {
    await search11(2022072521595462, '');
    return new Promise(function (resolve, reject) {
      getWidget({ widgetId: 2022072521595462 })
        .then((result) => {
          setKC11.dataSource = Transformer.toTableData3(
            result.data,
            '',
            setKC11.keyColumnNameList,
            setKC11.columnKeyList,
          );
          const data = setKC11.dataSource;
          const res = {
            data: {
              success: true,
              data,
            },
          };
          resolve(res);
        })
        .catch(() => {
          reject('获取数据异常');
        });
    });
  };

  const setKC12 = reactive({
    Chart: [],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [
      {
        type: 'line',
        data: [],
        smooth: false,
        tooltip: {
          valueFormatter(value) {
            return MonText(value);
          },
        },
        itemStyle: {
          normal: {
            label: {
              show: true,
              position: 'top',
              textStyle: { color: 'black' },
              formatter(p) {
                return MonText(p.value);
              },
            },
          },
        },
      },
    ],
  });
  const setKC12condition = reactive({
    c01: 'INV_BACKUP_YM',
    c02: 'ENTITY_INV_AMT',
  });
  const getOverviewBasicManagementModule12 = () => {
    getWidget({ widgetId: 2022072523075462 }).then((result) => {
      setKC12 = TransCharts.echartChartsData(result.data, '', setKC12condition, setKC12);
    });
  };
  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal.value.changeInfo(widgetId, columns, res.data, areaName);
  };
  const dialogClose = () => {
    state.visible = false;
  };
  onMounted(() => {
    getOverviewBasicManagementModule02();
    getOverviewBasicManagementModule04();
    getOverviewBasicManagementModule05();
    getOverviewBasicManagementModule08();
    getOverviewBasicManagementModule12();
  });
</script>

<style lang="less">
  .rowClass {
    background-color: #e7e7e7;
  }

  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    line-height: 16px;
    letter-spacing: 0px;
  }

  .titlejzclass {
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }

  .height1 {
    height: 450px;
  }

  .blockstyle {
    margin: 5px 0;
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .sbstyle {
    cursor: pointer;
  }
</style>
