<template>
  <div class="blockstyle">
    <a-row>
      <a-col :md="24">
        <div class="title">
          <a-row style="margin-bottom: 5px">
            <a-col :span="21">月份：{{ tipContent.content.title }}</a-col>
            <a-col v-if="$auth('dirve:overview:work:edit')" v-show="bottomshow === 'zl'" :span="3">
              <a-button type="primary" size="large" style="margin-right: 10px" @click="add()">
                <template #icon><snippets-outlined /></template> 保存
              </a-button>
              <a-button type="primary" size="large" @click="update()">
                <template #icon><form-outlined /></template> 修改
              </a-button>
            </a-col>
            <a-col v-if="$auth('dirve:region:work:edit')" v-show="bottomshow === 'zx'" :span="3">
              <a-button type="primary" size="large" style="margin-right: 10px" @click="add()">
                <template #icon><snippets-outlined /></template> 保存
              </a-button>
              <a-button type="primary" size="large" @click="update()">
                <template #icon><form-outlined /></template> 修改
              </a-button>
            </a-col>
          </a-row>
          <a-textarea
            v-model:value="tipContent.content.hintContent"
            v-model:disabled="disabledshow"
            placeholder="请输入"
            auto-size
            class="textarea-style"
          />
        </div>
      </a-col>
      <!--      <a-col :md="24">-->
      <!--        <div v-for="item in tipContent.worktipsdata" class="title">-->
      <!--          <p> 月份：{{ item.title }} </p>-->
      <!--          <a-textarea-->
      <!--            v-model:value="item.hintContent"-->
      <!--            disabled="true"-->
      <!--            placeholder="请输入"-->
      <!--            auto-size-->
      <!--            class="textarea-style"-->
      <!--          />-->
      <!--        </div>-->
      <!--      </a-col>-->
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, reactive, ref, watch } from 'vue';
  import { message } from 'ant-design-vue';
  import { gztsquery01, gztsquery02 } from '@/api/strategyTracking';
  defineOptions({
    name: 'OvervierWorkTips',
    inheritAttrs: false,
  });
  const props = defineProps({
    conditionalmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.conditionalmonth,
    (c) => {
      select1(c);
    },
  );

  const disabledshow = ref(true);
  const tipContent = reactive({
    // 本月数据
    content: {
      month: '',
      title: '',
      hintContent: '',
      tablName: props.conditionalmonth,
    },
    // 之前月份数据
    worktipsdata: [],
  });

  //保存、修改
  const add = () => {
    disabledshow.value = true;
    tipContent.content.tablName = props.conditionalmonth;
    gztsquery01(tipContent.content)
      .then((r) => {
        if (r.code == 'OK') {
          message.success('保存成功');
        } else {
          message.error('保存失败！');
        }
      })
      .catch(() => {
        message.error('保存失败');
      });
  };
  //修改
  const update = () => {
    disabledshow.value = false;
  };

  const select1 = (c) => {
    const begindate = new Date();
    const year = begindate.getFullYear(); //获取当前日期的年
    const month = begindate.getMonth() + 1; //获取当前日期的月
    const yearmongth = ref('');
    if (month < 10) {
      yearmongth.value = `${year.toString()}0${month.toString()}`;
    } else {
      yearmongth.value = year.toString() + month.toString();
    }
    tipContent.content.month = yearmongth;
    tipContent.content.title = `${yearmongth.value}会议提示事项`;
    gztsquery02({ tablName: c })
      .then((result) => {
        const data = result.data;
        tipContent.content.hintContent = '';
        for (let i = 0; i < data.length; i++) {
          if (data[i].month === yearmongth.value) {
            tipContent.content = data[0];
          } else {
            // tipContent.worktipsdata.push(data[i]);
          }
        }
      })
      .catch(() => {
        message.error('查询失败！');
      });
  };

  const bottomshow = ref('');
  onMounted(() => {
    select1(props.conditionalmonth);
    if (props.conditionalmonth === '总览') {
      bottomshow.value = 'zl';
    } else {
      bottomshow.value = 'zx';
    }
  });
</script>

<style lang="less" scoped>
  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 10px;
  }

  .blockstyle {
    width: 100%;
    background: white;
  }
  .textarea-style {
    width: 100%;
    font-size: 20px;
    background: rgb(255, 255, 255);
    color: #000;
  }
</style>
