<template>
  <div style="width: 100%">
    <a-row :gutter="[16, 10]">
      <a-col :md="12">
        <div class="blockstyle">
          <p class="title">
            用户评价目标执行情况（宝钢股份）<edit-outlined
              clsss="editOut"
              @click="showV(2023050515948101, setst01.columns, '')"
          /></p>
          <div style="height: 500px" class="sbstyle">
            <MergeTable
              :widget-id="2023050515948101"
              :has-header="false"
              :column-list="setst01.columns"
              :data-list="setst01.dataSource"
              :scroll="{ y: 430 }"
              :formatter="tableStyle.formatter"
              :cell-color="tableStyle.cellColor"
              @cutomHeaderRow="setst01OnClickModal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="12">
        <div class="blockstyle">
          <p class="title">
            用户满意度（单位：分）<edit-outlined
              clsss="editOut"
              @click="showV(2023041216395782, setst02.columns, '')"
          /></p>
          <div style="height: 500px" class="sbstyle">
            <MergeTable
              :widget-id="2023041216395782"
              :has-header="false"
              :column-list="setst02.columns"
              :data-list="setst02.dataSource"
              :scroll="{ y: 430 }"
              :formatter="tableStyle.formatter"
              :cell-color="tableStyle.cellColor"
              @cutomHeaderRow="setst02OnClickModal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="24">
        <div class="blockstyle">
          <a-row>
            <a-col :md="22">
              <p class="title" style="margin-bottom: 10px"> 协议续签情况</p>
            </a-col>
            <a-col :md="2" style="text-align: center">
              <a-button
                v-if="$auth('dirve:overview:give:add')"
                type="primary"
                size="large"
                @click="showModal('')"
              >
                <template #icon><plus-outlined /></template> 新增
              </a-button>
            </a-col>
          </a-row>
          <a-table
            :columns="columns"
            :data-source="model.dataSource"
            size="middle"
            :scroll="{ y: 600 }"
            :pagination="false"
            bordered
            style="margin-bottom: 50px"
          >
            <template v-if="$auth('dirve:overview:give:operate')" #bodyCell="{ column, record }">
              <template v-if="column.dataIndex === 'action'">
                <span style="color: #2eabff" @click="showModal(record)">修改</span> |
                <span style="color: #2eabff" @click="deleteModal(record)">删除</span>
              </template>
            </template>
          </a-table>
        </div>
      </a-col>

      <a-col :md="24">
        <div class="blockstyle">
          <div class="table-titles">
            <p class="title"> 信息报告机制 </p
            ><p
              >( <a-badge color="#87d068" text="已完成" class="badge-style"></a-badge>
              <a-badge color="#FFFF00" text="待完善" class="badge-style"></a-badge>
              <a-badge color="#f50" text="未完成"></a-badge> )
            </p>
          </div>
          <div style="height: 500px" class="sbstyle">
            <MergeTable
              :has-header="false"
              :column-list="infor.columns"
              :column-groups="infor.columnGroups"
              :data-list="niforColumns.data"
              :scroll="{ y: 350 }"
              :formatter="tableStyle.formatter"
              :cell-color="tableStyle.cellColor"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="24">
        <div class="blockstyle">
          <div class="table-titles">
            <p class="title"> 用户走访机制 </p>
          </div>

          <div style="height: 500px" class="sbstyle">
            <MergeTable
              :has-header="false"
              :column-list="infor.userColumns"
              :column-groups="infor.userGroups"
              :data-list="niforColumns.data2"
              :scroll="{ y: 350 }"
              :formatter="tableStyle.formatter"
              :cell-color="tableStyle.cellColor"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="12">
        <div class="blockstyle">
          <p class="title"> 问题反馈机制</p
          ><div style="height: 500px" class="sbstyle">
            <MergeTable
              :has-header="false"
              :column-list="infor.problemList"
              :column-groups="infor.problemGroups"
              :data-list="infor.dataSource"
              :scroll="{ y: 350 }"
              :formatter="tableStyle.formatter"
              :cell-color="tableStyle.cellColor"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="12">
        <div class="blockstyle">
          <p class="title"> 应整尽整完成情况</p
          ><div style="height: 500px" class="sbstyle">
            <MergeTable
              :has-header="false"
              :column-list="infor.completionList"
              :column-groups="infor.completionGroups"
              :data-list="infor.dataSource"
              :scroll="{ y: 350 }"
              :formatter="tableStyle.formatter"
              :cell-color="tableStyle.cellColor"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="24">
        <div class="blockstyle">
          <div class="table-titles">
            <p class="title"> 满意度评价机制 </p>
          </div>

          <div style="height: 500px" class="sbstyle">
            <MergeTable
              :has-header="false"
              :column-list="infor.satisfiedColumns"
              :column-groups="infor.satisfiedGroups"
              :data-list="niforColumns.data3"
              :scroll="{ y: 350 }"
              :formatter="tableStyle.formatter"
              :cell-color="tableStyle.cellColor"
            />
          </div>
        </div>
      </a-col>
      <div ref="yourModal">
        <a-modal
          v-model:visible="visible"
          v-model:title="title"
          width="70%"
          :footer="null"
          :get-container="() => $refs.yourModal"
        >
          <a-form :model="formState" style="font-size: 20px">
            <a-row>
              <a-col :span="12">
                <a-form-item
                  label="客商名称"
                  :label-col="labelCol"
                  :wrapper-col="wrapperCol"
                  v-bind="validateInfos.factorName"
                >
                  <a-input v-model:value="formState.factorName" />
                </a-form-item>
              </a-col>
              <a-col :span="12">
                <a-form-item
                  label="到期协议续签状态"
                  :label-col="labelCol"
                  :wrapper-col="wrapperCol"
                  v-bind="validateInfos.treatyState"
                >
                  <a-select v-model:value="formState.treatyState">
                    <a-select-option value="0">洽谈中</a-select-option>
                    <a-select-option value="1">已签订</a-select-option>
                    <a-select-option value="3">已报批</a-select-option>
                    <a-select-option value="4">未到期</a-select-option>
                  </a-select>
                </a-form-item>
              </a-col>
              <a-col :span="12">
                <a-form-item
                  label="预计完成时间"
                  :label-col="labelCol"
                  :wrapper-col="wrapperCol"
                  v-bind="validateInfos.finishTime"
                >
                  <a-input v-model:value="formState.finishTime" />
                </a-form-item>
              </a-col>
              <a-col :span="12">
                <a-form-item
                  label="责任单位"
                  :label-col="labelCol"
                  :wrapper-col="wrapperCol"
                  v-bind="validateInfos.dutyUnit"
                >
                  <a-input v-model:value="formState.dutyUnit" />
                </a-form-item>
              </a-col>
              <a-col :span="12">
                <a-form-item
                  label="本年采购服务费开票金额"
                  :label-col="labelCol"
                  :wrapper-col="wrapperCol"
                  v-bind="validateInfos.billingAmount"
                >
                  <a-input-number v-model:value="formState.billingAmount" style="width: 200px" />
                </a-form-item>
              </a-col>
              <a-col :span="12">
                <a-form-item label="未签主因" :label-col="labelCol" :wrapper-col="wrapperCol">
                  <a-textarea v-model:value="formState.lotteryCause" auto-size />
                </a-form-item>
              </a-col>
              <a-col :span="24">
                <a-form-item :wrapper-col="{ wrapperCol, offset: 20 }">
                  <a-button type="primary" @click.prevent="onSubmit">保存</a-button>
                  <a-button style="margin-left: 10px" @click="cancel">取消</a-button>
                </a-form-item>
              </a-col>
            </a-row>
          </a-form>
        </a-modal>
      </div>
    </a-row>
    <ShowModal ref="showModal1" :visible="state.visible" @close="dialogClose"></ShowModal>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, reactive, ref } from 'vue';
  // import badge from 'ant-design-vue/lib/badge';
  import { Form, message } from 'ant-design-vue';
  import { baseColumns } from './columns';
  import { base2Columns } from './satisfiedColumns';
  import { base3Columns } from './userColumns';
  import { MergeTable } from '@/components/business';
  import {
    xqquery02,
    xqquery01,
    xqquery03,
    getWidget,
    searchAllocate,
    remarkCount,
    inforReport,
  } from '@/api/strategyTracking';
  import Transformer from '@/views/strategyTracking/modulefile/components/transformer';
  import tableStyle from '@/views/strategyTracking/modulefile/components/tableStyle';
  import ShowModal from '@/views/strategyTracking/modulefile/components/ShowModal.vue';

  defineOptions({
    name: 'OverviewGiveServiceto',
    inheritAttrs: false,
  });
  const showModal1 = ref(null);
  const state = reactive({
    visible: false,
    params: {},
    MONTHData: '',
  });
  const props = defineProps({
    MONTHs: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  // 模态框
  const visible = ref<boolean>(false);
  const title = ref('新增协议续签情况');
  const showModal = (record) => {
    if (record === '') {
      title.value = '新增协议续签情况';
      resetFields();
    } else {
      title.value = '修改协议续签情况';
      formState.id = record.id.toString();
      formState.factorName = record.factorName;
      formState.treatyState = record.treatyState.toString();
      formState.finishTime = record.finishTime;
      formState.dutyUnit = record.dutyUnit;
      formState.billingAmount = record.billingAmount;
      formState.lotteryCause = record.lotteryCause;
    }
    visible.value = true;
  };

  const model = reactive({
    dataSource: [],
  });
  const columns = [
    {
      title: '序号',
      width: 100,
      customRender: (column) => {
        return column.index + 1;
      },
    },
    { title: '客商名称', dataIndex: 'factorName', key: 'factorName' },
    {
      title: '到期协议续签状态',
      dataIndex: 'treatyState',
      key: 'treatyState',

      customRender: (text) => {
        if (text.value == '0') {
          return '洽谈中';
        } else if (text.value == '1') {
          return '已签订';
        } else if (text.value == '3') {
          return '已报批';
        } else if (text.value === '4') {
          return '未到期';
        }
      },
    },
    { title: '未签主因', dataIndex: 'lotteryCause', key: 'lotteryCause' },
    { title: '预计完成时间', dataIndex: 'finishTime', key: 'finishTime' },
    {
      title: '责任单位',
      dataIndex: 'dutyUnit',
      key: 'dutyUnit',
    },
    {
      title: '本年采购服务费开票金额',
      dataIndex: 'billingAmount',
      key: 'billingAmount',
    },
    {
      title: '操作',
      dataIndex: 'action',
      width: 200,
      scopedSlots: { customRender: 'action' },
    },
  ];

  // from表单
  const labelCol = {
    xs: { span: 24 },
    sm: { span: 7 }, //控制label的框的长度
  };
  const wrapperCol = {
    xs: { span: 24 },
    sm: { span: 16 }, //控制文本框的长度
  };
  const useForm = Form.useForm;
  const formState = reactive({
    id: null,
    factorName: '',
    treatyState: '',
    finishTime: '',
    dutyUnit: '',
    billingAmount: 0.0,
    lotteryCause: '',
  });
  const { resetFields, validate, validateInfos } = useForm(formState, {});

  // 查询
  const modeldataSource = () => {
    xqquery01({})
      .then((result) => {
        model.dataSource = [];
        const data = result.data;
        for (let i = 0; i < data.length; i++) {
          model.dataSource.push(data[i]);
        }
      })
      .catch(() => {
        message.error('查询失败！');
      });
  };
  // 保存和修改
  const onSubmit = () => {
    validate().then(() => {
      console.log(formState);
      xqquery03(formState)
        .then((r) => {
          if (r.code == 'OK') {
            message.success('保存成功');
            modeldataSource();
            resetFields();
          } else {
            message.error('保存失败！');
          }
        })
        .catch(() => {
          message.error('保存失败');
        });
    });
  };
  // 删除
  const deleteModal = (record) => {
    const code = record.id;
    xqquery02([code])
      .then((r) => {
        if (r.code == 'OK') {
          message.success('删除成功');
          modeldataSource();
          resetFields();
        } else {
          message.error('删除失败！');
        }
      })
      .catch(() => {
        message.error('删除失败');
      });
  };
  // 取消
  const cancel = () => {
    resetFields();
    visible.value = false;
  };

  const setst01 = reactive({
    dataSource: [],
    columns: [
      { title: '指标名称', dataIndex: 'INDICATOR_DESC', key: 'INDICATOR_DESC' },
      { title: '单位', dataIndex: 'INDICATOR_UNIT', key: 'INDICATOR_UNIT', width: '10%' },
      { title: '年度目标', dataIndex: 'INDICATOR_TARGET_VALUE', key: 'INDICATOR_TARGET_VALUE' },
      { title: '当月实绩', dataIndex: 'INDICATOR_MONTH_VALUE', key: 'INDICATOR_MONTH_VALUE' },
      { title: '累计实绩', dataIndex: 'INDICATOR_YEAR_VALUE', key: 'INDICATOR_YEAR_VALUE' },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search1 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setst01.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setst01.columnKeyList = res2.data;
  };
  const setst01OnClickModal = (callback) => {
    callback('用户评价目标执行情况（宝钢股份）');
  };
  const setst01dataSource = async () => {
    await search1(2023050515948101, '');
    getWidget({ widgetId: 2023050515948101 }).then((result) => {
      setst01.dataSource = Transformer.toTableData3(
        result.data,
        '',
        setst01.keyColumnNameList,
        setst01.columnKeyList,
      );
    });
  };

  const setst02 = reactive({
    dataSource: [],
    columns: [
      { title: '基地', dataIndex: 'BIG_ZONE_NAME', key: 'BIG_ZONE_NAME' },
      {
        title: '目标',
        dataIndex: 'PROGRESS_TARGET',
        key: 'PROGRESS_TARGET',
        formatter: 'rate4',
      },
      {
        title: '上季度实绩',
        dataIndex: 'UP_PRFM_VALUE',
        key: 'UP_PRFM_VALUE',
        formatter: 'rate4',
      },
      {
        title: '本季度实绩',
        dataIndex: 'PRFM_VALUE',
        key: 'PRFM_VALUE',
        formatter: 'rate4',
      },
      {
        title: '本年累计',
        dataIndex: 'YEAR_PRFM_VALUE',
        key: 'YEAR_PRFM_VALUE',
        formatter: 'rate4',
        mergeColumn: 'PROGRESS_TARGET,YEAR_PRFM_VALUE',
        emphasisColor: 'colorfourst02',
        after: 'YEAR_PRFM_VALUE',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
  });
  const search2 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setst02.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setst02.columnKeyList = res2.data;
  };
  const setst02OnClickModal = (callback) => {
    callback('用户满意度（单位：分）');
  };
  const setst02dataSource = async () => {
    await search2(2023041216395782, '');
    getWidget({ widgetId: 2023041216395782 }).then((result) => {
      setst02.dataSource = Transformer.toTableData3(
        result.data,
        '',
        setst02.keyColumnNameList,
        setst02.columnKeyList,
      );
    });
  };
  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal1.value.changeInfo(widgetId, columns, res.data);
  };
  const dialogClose = () => {
    state.visible = false;
  };
  // 信息表格
  const inforData = (index) => {
    if (index == 2) {
      state.params = {
        id: '094d7450d81643f9be66a94d1de8fcc4',
        filters: [
          {
            columnName: 'MONTH',
            filterType: '=',
            columnType: '',
            values: [props.MONTHs.replace(RegExp('-', 'g'), '')],
          },
        ],
        pageSize: 10000,
      };
    } else {
      state.params = {
        id: '094d7450d81643f9be66a94d1de8fcc4',
        filters: [],
        pageSize: 10000,
      };
    }
    inforReport(state.params).then((r) => {
      if (r.success) {
        if (index == 2) {
          infor.dataSource = r.data.modelList;
        } else {
          r.data.modelList.forEach((v) => {
            // 信息机制
            niforColumns.data.forEach((i) => {
              if (v.USER_NAME == i.USER_NAME) {
                if (v.MONTH == '202301') {
                  i.one = v.INFO_REPORT_MECH;
                  // i.one = 'v.INFO_REPORT_MECH';
                } else if (v.MONTH == '202302') {
                  i.two = v.INFO_REPORT_MECH;
                } else if (v.MONTH == '202303') {
                  i.third = v.INFO_REPORT_MECH;
                } else if (v.MONTH == '202304') {
                  i.fourth = v.INFO_REPORT_MECH;
                } else if (v.MONTH == '202305') {
                  i.fifth = v.INFO_REPORT_MECH;
                } else if (v.MONTH == '202306') {
                  i.sixth = v.INFO_REPORT_MECH;
                  // i.sixth = '1';
                } else if (v.MONTH == '202307') {
                  i.seventh = v.INFO_REPORT_MECH;
                } else if (v.MONTH == '202308') {
                  i.eighth = v.INFO_REPORT_MECH;
                } else if (v.MONTH == '202309') {
                  i.ninth = v.INFO_REPORT_MECH;
                } else if (v.MONTH == '202310') {
                  i.tenth = v.INFO_REPORT_MECH;
                } else if (v.MONTH == '202311') {
                  i.eleventh = v.INFO_REPORT_MECH;
                } else if (v.MONTH == '202312') {
                  i.twelve = v.INFO_REPORT_MECH;
                }
              }
              // 用户走访
              niforColumns.data2.forEach((i) => {
                if (v.USER_NAME == i.USER_NAME) {
                  if (v.MONTH == '202301') {
                    i.one = v.USER_VISIT_MECH;
                  } else if (v.MONTH == '202302') {
                    i.two = v.USER_VISIT_MECH;
                  } else if (v.MONTH == '202303') {
                    i.third = v.USER_VISIT_MECH;
                  } else if (v.MONTH == '202304') {
                    i.fourth = v.USER_VISIT_MECH;
                  } else if (v.MONTH == '202305') {
                    i.fifth = v.USER_VISIT_MECH;
                    // i.fifth = 'v.USER_VISIT_MECH';
                  } else if (v.MONTH == '202306') {
                    i.sixth = v.USER_VISIT_MECH;
                    // i.sixth = '2';
                  } else if (v.MONTH == '202307') {
                    i.seventh = v.USER_VISIT_MECH;
                  } else if (v.MONTH == '202308') {
                    i.eighth = v.USER_VISIT_MECH;
                  } else if (v.MONTH == '202309') {
                    i.ninth = v.USER_VISIT_MECH;
                  } else if (v.MONTH == '202310') {
                    i.tenth = v.USER_VISIT_MECH;
                  } else if (v.MONTH == '202311') {
                    i.eleventh = v.USER_VISIT_MECH;
                  } else if (v.MONTH == '202312') {
                    i.twelve = v.USER_VISIT_MECH;
                  }
                }
              });
              // 满意度评价机制
              niforColumns.data3.forEach((i) => {
                if (v.USER_NAME == i.USER_NAME) {
                  if (v.MONTH == '202301' || v.MONTH == '202302' || v.MONTH == '202303') {
                    i.one = v.SATIS_COMMENT_MECH;
                  } else if (v.MONTH == '202304' || v.MONTH == '202305' || v.MONTH == '202306') {
                    i.two = v.SATIS_COMMENT_MECH;
                    // i.two = '3';
                  } else if (v.MONTH == '202307' || v.MONTH == '202308' || v.MONTH == '202309') {
                    i.third = v.SATIS_COMMENT_MECH;
                  } else if (v.MONTH == '202310' || v.MONTH == '202311' || v.MONTH == '202312') {
                    i.fourth = v.SATIS_COMMENT_MECH;
                  }
                }
              });
            });
          });
        }
      }
    });
  };
  const niforColumns = reactive({
    // 信息机制
    data: [
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '韩道旺',
        USER_NAME: '宝钢股份|总部',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '张煦',
        USER_NAME: '宝钢股份|湛江基地',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '刘义成',
        USER_NAME: '昆明钢铁',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '纪光辉',
        USER_NAME: '中南钢铁|重庆钢铁',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '孙建民',
        USER_NAME: '八钢公司（含巴钢、伊钢）',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '韩道旺',
        USER_NAME: '宝钢股份|宝山基地',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },

      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '王犁',
        USER_NAME: '太钢不锈',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '杨卫',
        USER_NAME: '马钢股份',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '王旭斌',
        USER_NAME: '中南钢铁|鄂城钢铁',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '张煦',
        USER_NAME: '中南钢铁|总部',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '朱若尘',
        USER_NAME: '宝钢股份|梅山基地',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },

      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '虞挺',
        USER_NAME: '德盛不锈',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '李建东',
        USER_NAME: '中南钢铁|中南股份',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '张飞舟',
        USER_NAME: '宝钢股份|青山基地',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅱ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '艾娜',
        USER_NAME: '宝武重工',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅱ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '待定',
        USER_NAME: '宝武资源',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅱ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '韩勇',
        USER_NAME: '宝钢金属',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅱ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '王犁',
        USER_NAME: '太钢矿业',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },

      {
        CLASS_NAME: 'Ⅱ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '李伯林',
        USER_NAME: '宝钢国际',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅱ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '陆隽',
        USER_NAME: '宝武碳业',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
    ],
    data2: [
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '韩道旺',
        USER_NAME: '宝钢股份|总部',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '张煦',
        USER_NAME: '宝钢股份|湛江基地',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '刘义成',
        USER_NAME: '昆明钢铁',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '纪光辉',
        USER_NAME: '中南钢铁|重庆钢铁',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '孙建民',
        USER_NAME: '八钢公司（含巴钢、伊钢）',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '韩道旺',
        USER_NAME: '宝钢股份|宝山基地',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },

      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '王犁',
        USER_NAME: '太钢不锈',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '杨卫',
        USER_NAME: '马钢股份',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '王旭斌',
        USER_NAME: '中南钢铁|鄂城钢铁',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '张煦',
        USER_NAME: '中南钢铁|总部',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '朱若尘',
        USER_NAME: '宝钢股份|梅山基地',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },

      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '虞挺',
        USER_NAME: '德盛不锈',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '李建东',
        USER_NAME: '中南钢铁|中南股份',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '张飞舟',
        USER_NAME: '宝钢股份|青山基地',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅱ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '艾娜',
        USER_NAME: '宝武重工',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅱ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '待定',
        USER_NAME: '宝武资源',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅱ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '韩勇',
        USER_NAME: '宝钢金属',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅱ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '王犁',
        USER_NAME: '太钢矿业',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },

      {
        CLASS_NAME: 'Ⅱ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '李伯林',
        USER_NAME: '宝钢国际',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
      {
        CLASS_NAME: 'Ⅱ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '陆隽',
        USER_NAME: '宝武碳业',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
        fifth: '',
        sixth: '',
        seventh: '',
        eighth: '',
        ninth: '',
        tenth: '',
        eleventh: '',
        twelve: '',
      },
    ],
    data3: [
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '韩道旺',
        USER_NAME: '宝钢股份|总部',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '张煦',
        USER_NAME: '宝钢股份|湛江基地',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '刘义成',
        USER_NAME: '昆明钢铁',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        // 更改为黄夏兰 为 颜满堂
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '纪光辉',
        USER_NAME: '中南钢铁|重庆钢铁',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '孙建民',
        USER_NAME: '八钢公司（含巴钢、伊钢）',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '韩道旺',
        USER_NAME: '宝钢股份|宝山基地',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
      },

      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '王犁',
        USER_NAME: '太钢不锈',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '杨卫',
        USER_NAME: '马钢股份',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '王旭斌',
        USER_NAME: '中南钢铁|鄂城钢铁',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '张煦',
        USER_NAME: '中南钢铁|总部',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '朱若尘',
        USER_NAME: '宝钢股份|梅山基地',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
      },

      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '虞挺',
        USER_NAME: '德盛不锈',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '李建东',
        USER_NAME: '中南钢铁|中南股份',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
      },
      {
        CLASS_NAME: 'Ⅰ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '张飞舟',
        USER_NAME: '宝钢股份|青山基地',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
      },
      {
        CLASS_NAME: 'Ⅱ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '艾娜',
        USER_NAME: '宝武重工',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
      },
      {
        CLASS_NAME: 'Ⅱ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '待定',
        USER_NAME: '宝武资源',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
      },
      {
        CLASS_NAME: 'Ⅱ类',
        COMPANY_LEADER: '颜满堂',
        CUST_MANAGER: '韩勇',
        USER_NAME: '宝钢金属',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
      },
      {
        CLASS_NAME: 'Ⅱ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '王犁',
        USER_NAME: '太钢矿业',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
      },

      {
        CLASS_NAME: 'Ⅱ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '李伯林',
        USER_NAME: '宝钢国际',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
      },
      {
        CLASS_NAME: 'Ⅱ类',
        COMPANY_LEADER: '黄夏兰',
        CUST_MANAGER: '陆隽',
        USER_NAME: '宝武碳业',
        MONTH: '202306',
        INFO_REPORT_MECH: null,
        one: '',
        two: '',
        third: '',
        fourth: '',
      },
    ],
  });

  const infor = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '信息报告机制',
        children: [
          'one',
          'two',
          'third',
          'fourth',
          'fifth',
          'sixth',
          'seventh',
          'eighth',
          'ninth',
          'tenth',
          'eleventh',
          'twelve',
        ],
      },
    ],
    userGroups: [
      {
        title: '用户走访机制',
        children: [
          'one',
          'two',
          'third',
          'fourth',
          'fifth',
          'sixth',
          'seventh',
          'eighth',
          'ninth',
          'tenth',
          'eleventh',
          'twelve',
        ],
      },
    ],
    userColumns: [...base3Columns],
    columns: [...baseColumns],

    satisfiedGroups: [
      {
        title: '满意度评价机制',
        children: ['one', 'two', 'third', 'fourth'],
      },
    ],
    satisfiedColumns: [...base2Columns],
    problemGroups: [
      {
        title: '问题反馈机制		',
        children: ['problem_fbk_MONTHly_new', 'problem_fbk_yearly_total', 'problem_fbk_cpltrate'],
      },
    ],
    problemList: [
      {
        title: '用户',
        dataIndex: 'USER_NAME',
        key: 'USER_NAME',
        width: '10%',
      },
      {
        title: '公司分管领导',
        dataIndex: 'COMPANY_LEADER',
        key: 'COMPANY_LEADER',
      },
      {
        title: '大客户总监',
        dataIndex: 'CUST_MANAGER',
        key: 'CUST_MANAGER',
      },
      {
        title: '当月新增数',
        dataIndex: 'problem_fbk_MONTHly_new',
        key: 'problem_fbk_MONTHly_new',
      },
      {
        title: '全年累计数',
        dataIndex: 'problem_fbk_yearly_total',
        key: 'problem_fbk_yearly_total',
      },
      {
        title: '累计完成率',
        dataIndex: 'problem_fbk_cpltrate',
        key: 'problem_fbk_cpltrate',
      },
    ],
    completionGroups: [
      {
        title: '应整尽整完成情况',
        children: [
          'MONTH_integrated',
          'total_should_integrate',
          'total_integrated',
          'finished_case_rate',
        ],
      },
    ],
    completionList: [
      {
        title: '用户',
        dataIndex: 'USER_NAME',
        key: 'USER_NAME',
        width: '10%',
      },
      {
        title: '公司分管领导',
        dataIndex: 'COMPANY_LEADER',
        key: 'COMPANY_LEADER',
      },
      {
        title: '大客户总监',
        dataIndex: 'CUST_MANAGER',
        key: 'CUST_MANAGER',
      },
      {
        title: '当月已整合',
        dataIndex: 'MONTH_integrated',
        key: 'MONTH_integrated',
      },
      {
        title: '累计应整合',
        dataIndex: 'total_should_integrate',
        key: 'total_should_integrate',
      },
      {
        title: '累计已整合',
        dataIndex: 'total_integrated',
        key: 'total_integrated',
      },
      {
        title: '应整尽整率',
        dataIndex: 'finished_case_rate',
        key: 'finished_case_rate',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });

  onMounted(() => {
    modeldataSource();
    setst01dataSource();
    setst02dataSource();
    inforData(0);
    // inforData(1);
    inforData(2);
    // inforData(3);
  });
</script>

<style lang="less" scoped>
  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }

  .blockstyle {
    margin: 5px 0;
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .sbstyle {
    cursor: pointer;
  }
  /deep/.ant-badge-status-dot {
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    position: relative;
    top: -1px;
    vertical-align: middle;
    width: 20px;
  }
  .table-titles {
    display: flex;
    align-items: center;
  }
  .badge-style {
    margin-right: 30px !important;
  }
  // /deep/.ant-badge-status {
  //   line-height: inherit;
  //   vertical-align: baseline;
  //   margin-right: 30px;
  // }
</style>
