<template>
  <div>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 24 }">
        <div class="blockstyle">
          <p class="title titlejzclass"
            >预算执行情况（单位：万元）<edit-outlined
              clsss="editOut"
              @click="showV(2023022016395782, cb01.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2023022016395782"
            :has-header="false"
            :data-list="cb01.dataSource"
            :column-list="cb01.columns"
            :formatter="tableStyle.formatter"
            :cell-color="tableStyle.cellColor"
            :scroll="{ y: 450 }"
            @rowClassName="cb01RowClassName"
            @cutomHeaderRow="cb01OnClickModal"
          />
        </div>
      </a-col>
      <a-col :md="{ span: 24 }">
        <div class="blockstyle">
          <p class="title titlejzclass"
            >钢铁主业吨钢资材备件成本（单位：元/吨）<edit-outlined
              clsss="editOut"
              @click="showV(2023022116395782, cb02.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2023022116395782"
            :has-header="false"
            :api-method="cb02dataSource"
            :column-list="cb02.columns"
            :column-groups="cb02.columnGroups"
            :formatter="tableStyle.formatter"
            :cell-color="tableStyle.cellColor"
            :scroll="{ y: 450 }"
            @rowClassName="cb02RowClassName"
            @cutomHeaderRow="cb02OnClickModal"
          />
        </div>
      </a-col>
      <a-col :md="{ span: 24 }">
        <div class="blockstyle sbstyle">
          <p class="title titlejzclass"
            >采购价差运行实绩（单位：万元）<edit-outlined
              clsss="editOut"
              @click="showV(2022072720486538, cb04.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2022072720486538"
            :has-header="false"
            :api-method="cb04dataSource"
            :column-list="cb04.columns"
            :column-groups="cb04.columnGroups"
            :formatter="tableStyle.formatter"
            :scroll="{ y: 450 }"
            @rowClassName="cb04RowClassName"
            @cellClicked="oncb04Clicked"
            @cutomHeaderRow="cb04OnClickModal"
          />
        </div>
      </a-col>
      <a-col :md="{ span: 12 }">
        <div class="blockstyle">
          <p class="title titlejzclass">{{ PUR_REGION_NAME }}采购增减额（单位：万元）</p>
          <div style="height: 450px">
            <StackedColumnFoldMixedChart
              :x-axis="setCB02.xAxis"
              :y-axis="setCB02.yAxis"
              :series="setCB02.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 12 }">
        <div class="blockstyle">
          <p class="title titlejzclass">{{ BASE_NAME1 }}采购增减额（单位：万元）</p>
          <div style="height: 450px">
            <StackedColumnFoldMixedChart
              :x-axis="setCB05.xAxis"
              :y-axis="setCB05.yAxis"
              :series="setCB05.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 24 }">
        <div class="blockstyle">
          <p class="title titlejzclass"
            >采购降本三项能力（单位：万元）<edit-outlined
              clsss="editOut"
              @click="showV(2023022316395782, cb03.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2023022316395782"
            :has-header="false"
            :api-method="cb03dataSource"
            :column-list="cb03.columns"
            :column-groups="cb03.columnGroups"
            :formatter="tableStyle.formatter"
            :scroll="{ y: 450 }"
            @cutomHeaderRow="cb03OnClickModal"
          />
        </div>
      </a-col>
    </a-row>
    <ShowModal ref="showModal" :visible="state.visible" @close="dialogClose"></ShowModal>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, reactive, ref } from 'vue';
  import { StackedColumnFoldMixedChart } from '../componentfile';
  import { MergeTable } from '@/components/business';
  import tableStyle from '@/views/strategyTracking/modulefile/components/tableStyle';
  import { getWidget, queryAggregate, searchAllocate, remarkCount } from '@/api/strategyTracking';
  import TransCharts from '@/views/strategyTracking/modulefile/components/transCharts';
  import Transformer from '@/views/strategyTracking/modulefile/components/transformer';
  import ShowModal from '@/views/strategyTracking/modulefile/components/ShowModal.vue';

  defineOptions({
    name: 'overviewcostmodule',
    inheritAttrs: false,
  });

  const showModal = ref(null);
  const state = reactive({
    visible: false,
  });

  const cb01OnClickModal = (callback) => {
    callback('预算执行情况（单位：万元）');
  };
  const cb02OnClickModal = (callback) => {
    callback('钢铁主业吨钢资材备件成本（单位：元/吨）');
  };
  const cb03OnClickModal = (callback) => {
    callback('采购降本三项能力（单位：万元）');
  };
  const cb04OnClickModal = (callback) => {
    callback('采购价差运行实绩（单位：万元）');
  };

  const cb01 = reactive({
    dataSource: [],
    columns: [
      {
        title: '单位',
        dataIndex: 'BIG_ZONE_NAME',
        key: 'BIG_ZONE_NAME',
        ellipsis: false,
        rspans: [
          { start: 0, span: 1 },
          { start: 1, span: 1 },
          { start: 2, span: 1 },
          { start: 3, span: 3 },
          { start: 6, span: 3 },
          { start: 9, span: 4 },
          { start: 13, span: 3 },
          { start: 16, span: 1 },
          { start: 17, span: 1 },
          { start: 18, span: 1 },
        ],
        width: 200,
      },
      { title: '钢铁基地', dataIndex: 'BASE_NAME', key: 'BASE_NAME' },
      {
        title: '月度目标',
        dataIndex: 'BDGT_AMT',
        key: 'BDGT_AMT',
        formatter: 'rate5',
      },
      {
        title: '本月实绩',
        dataIndex: 'MONTH_PUR_ACT_AMT',
        key: 'MONTH_PUR_ACT_AMT',
        formatter: 'rate5',
      },
      {
        title: '月度执行率',
        dataIndex: 'QUARTER_AMT',
        key: 'QUARTER_AMT',
        formatter: 'rate3',
        emphasisColor: 'colorcb01year',
      },
      {
        title: '年度目标',
        dataIndex: 'ANNUAL_BDGT_AMT',
        key: 'ANNUAL_BDGT_AMT',
        formatter: 'rate5',
      },
      {
        title: '本年累计实绩',
        dataIndex: 'MONTH_PUR_ACT_AMT_1',
        key: 'MONTH_PUR_ACT_AMT_1',
        formatter: 'rate5',
        style: {
          background: '#f5e8b9',
        },
      },
      {
        title: '年度执行率',
        dataIndex: 'QUARTER_RATE',
        key: 'QUARTER_RATE',
        formatter: 'rate3',
        mergeColumn: 'QUARTER_RATE_SORT,QUARTER_RATE',
        emphasisColor: 'colorcb01',
        after: 'QUARTER_RATE',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search1 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      cb01.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    cb01.columnKeyList = res2.data;
  };
  const cb01RowClassName = (record, callback) => {
    if (record.BASE_NAME === '合计' || record.BASE_NAME === '小计') {
      callback('warning-row');
    } else {
      callback('');
    }
  };
  const cb01dataSource = async () => {
    await search1(2023022016395782, '');
    getWidget({ widgetId: 2023022016395782 }).then((result) => {
      cb01.dataSource = Transformer.toTableData3(
        result.data,
        '',
        cb01.keyColumnNameList,
        cb01.columnKeyList,
      );
    });
  };

  // 钢铁主业吨钢资材备件成本
  const cb02 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '上月实绩',
        children: ['LASTMONTH_STEEL_OUTPUT', 'LASTMONTH_STEEL_COST'],
      },
      {
        title: '当月实绩',
        children: ['MONTH_STEEL_OUTPUT', 'MONTH_STEEL_COST'],
      },
      {
        title: '累计实绩',
        children: ['YEAR_TOTAL_STEEL_OUTPUT', 'YEAR_TOTAL_STEEL_COST'],
      },
    ],
    columns: [
      { title: '生产单元', dataIndex: 'AREA_NAME', key: 'AREA_NAME', width: 200, ellipsis: false },
      {
        title: '上年度同口径吨钢标杆',
        dataIndex: 'COST_AMT',
        key: 'COST_AMT',
        formatter: 'rate5',
        width: 120,
      },
      {
        title: '上年实绩吨钢',
        dataIndex: 'TOTAL_PUR_PRFM',
        key: 'TOTAL_PUR_PRFM',
        formatter: 'rate5',
      },
      {
        title: '年度目标',
        dataIndex: 'TON_STEEL_COST_TARGET_DECOMPOSE',
        key: 'TON_STEEL_COST_TARGET_DECOMPOSE',
        formatter: 'rate5',
      },
      {
        title: '预算产量',
        dataIndex: 'CURYEAR_PLAN_OUTPUT',
        key: 'CURYEAR_PLAN_OUTPUT',
        formatter: 'rate5',
      },
      {
        title: '产量',
        dataIndex: 'LASTMONTH_STEEL_OUTPUT',
        key: 'LASTMONTH_STEEL_OUTPUT',
        formatter: 'rate5',
      },
      {
        title: '吨钢成本',
        dataIndex: 'LASTMONTH_STEEL_COST',
        key: 'LASTMONTH_STEEL_COST',
        formatter: 'rate4',
      },
      {
        title: '产量',
        dataIndex: 'MONTH_STEEL_OUTPUT',
        key: 'MONTH_STEEL_OUTPUT',
        formatter: 'rate5',
      },
      {
        title: '吨钢成本',
        dataIndex: 'MONTH_STEEL_COST',
        key: 'MONTH_STEEL_COST',
        formatter: 'rate4',
        style: {
          background: '#f5e8b9',
        },
        mergeColumn: 'TON_STEEL_COST_TARGET_DECOMPOSE,MONTH_STEEL_COST',
        emphasisColor: 'colorcb02',
        after: 'MONTH_STEEL_COST',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      {
        title: '产量',
        dataIndex: 'YEAR_TOTAL_STEEL_OUTPUT',
        key: 'YEAR_TOTAL_STEEL_OUTPUT',
        formatter: 'rate5',
      },
      {
        title: '吨钢成本',
        dataIndex: 'YEAR_TOTAL_STEEL_COST',
        key: 'YEAR_TOTAL_STEEL_COST',
        formatter: 'rate4',
        mergeColumn: 'TON_STEEL_COST_TARGET_DECOMPOSE,YEAR_TOTAL_STEEL_COST',
        emphasisColor: 'colorcb03',
        after: 'YEAR_TOTAL_STEEL_COST',
        method: {
          complex: true,
          expression: '{1}',
        },
        style: {
          background: '#f5e8b9',
        },
      },
      {
        title: '与标杆比增减比例',
        dataIndex: 'AND_LASTYEAR_COMPARE_TON_STEEL_COST_DECLINE_RANGE',
        key: 'AND_LASTYEAR_COMPARE_TON_STEEL_COST_DECLINE_RANGE',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search2 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      cb02.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    cb02.columnKeyList = res2.data;
  };
  const cb02RowClassName = (record, callback) => {
    if (
      record.AREA_NAME === '宝山基地小计' ||
      record.AREA_NAME === '宝钢股份小计' ||
      record.AREA_NAME === '合计'
    ) {
      callback('warning-row');
    } else {
      callback('');
    }
  };
  const cb02dataSource = async () => {
    await search2(2023022116395782, '');
    return new Promise(function (resolve, reject) {
      getWidget({ widgetId: 2023022116395782 })
        .then((result) => {
          cb02.dataSource = Transformer.toTableData3(
            result.data,
            '',
            cb02.keyColumnNameList,
            cb02.columnKeyList,
          );
          const data = cb02.dataSource;
          const res = {
            data: {
              success: true,
              data,
            },
          };
          resolve(res);
        })
        .catch(() => {
          reject('获取数据异常');
        });
    });
  };

  const cb04 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '当月',
        children: ['MONTH_PUR_AMT', 'MONTH_PUR_CUTDOWN_AMT'],
      },
      {
        title: '年累计',
        children: [
          'YEAR_TOTAL_PUR_AMT',
          'YEAR_TOTAL_PUR_CUTDOWN_AMT',
          'YEAR_TOTAL_PUR_CUTDOWN_RATIO',
        ],
      },
    ],
    columns: [
      {
        title: '单位',
        dataIndex: 'PUR_REGION_NAME',
        key: 'PUR_REGION_NAME',
        ellipsis: false,
        rspans: [
          { start: 0, span: 3 },
          { start: 3, span: 4 },
          { start: 7, span: 3 },
          { start: 10, span: 3 },
          { start: 13, span: 3 },
          { start: 16, span: 1 },
          { start: 17, span: 1 },
          { start: 18, span: 1 },
          { start: 19, span: 1 },
          { start: 20, span: 1 },
          { start: 21, span: 1 },
        ],
      },
      { title: '中心/基地', dataIndex: 'BASE_NAME', key: 'BASE_NAME' },
      {
        title: '年度目标',
        dataIndex: 'ANNUAL_TARGET_AMT',
        key: 'ANNUAL_TARGET_AMT',
        formatter: 'rate5',
      },
      {
        title: '上月可比增减额',
        dataIndex: 'LASTMONTH_PUR_CUTDOWN_AMT',
        key: 'LASTMONTH_PUR_CUTDOWN_AMT',
        formatter: 'rate5',
      },
      {
        title: '采购实绩',
        dataIndex: 'MONTH_PUR_AMT',
        key: 'MONTH_PUR_AMT',
        formatter: 'rate5',
      },
      {
        title: '可比增减额',
        dataIndex: 'MONTH_PUR_CUTDOWN_AMT',
        key: 'MONTH_PUR_CUTDOWN_AMT',
        formatter: 'rate5',
      },
      {
        title: '采购实绩',
        dataIndex: 'YEAR_TOTAL_PUR_AMT',
        key: 'YEAR_TOTAL_PUR_AMT',
        formatter: 'rate5',
      },
      {
        title: '可比增减额',
        dataIndex: 'YEAR_TOTAL_PUR_CUTDOWN_AMT',
        key: 'YEAR_TOTAL_PUR_CUTDOWN_AMT',
        formatter: 'rate5',
        style: {
          background: '#f5e8b9',
        },
      },
      {
        title: '可比增减比例',
        dataIndex: 'YEAR_TOTAL_PUR_CUTDOWN_RATIO',
        key: 'YEAR_TOTAL_PUR_CUTDOWN_RATIO',
        formatter: 'rate3',
      },
      {
        title: '年度完成率',
        dataIndex: 'ANNUAL_TARGET_FINISH_RATE',
        key: 'ANNUAL_TARGET_FINISH_RATE',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search4 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      cb04.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    cb04.columnKeyList = res2.data;
  };
  const cb04RowClassName = (record, callback) => {
    if (record.BASE_NAME === '小计' || record.BASE_NAME === '合计（损益口径）') {
      callback('warning-row');
    } else {
      callback('');
    }
  };
  const cb04dataSource = async () => {
    await search4(2022072720486538, '');
    return new Promise(function (resolve, reject) {
      getWidget({ widgetId: 2022072720486538 })
        .then((result) => {
          cb04.dataSource = Transformer.toTableData3(
            result.data,
            '',
            cb04.keyColumnNameList,
            cb04.columnKeyList,
          );
          const data = cb04.dataSource;
          const res = {
            data: {
              success: true,
              data,
            },
          };
          resolve(res);
        })
        .catch(() => {
          reject('获取数据异常');
        });
    });
  };

  const PUR_REGION_NAME = ref('小计');
  const BASE_NAME1 = ref('小计');
  const oncb04Clicked = (record) => {
    PUR_REGION_NAME.value = record.PUR_REGION_NAME;
    if (
      record.PUR_REGION_NAME === '小计' ||
      record.PUR_REGION_NAME === '锌锡' ||
      record.PUR_REGION_NAME === '合计（损益口径）' ||
      record.PUR_REGION_NAME === '宝钢股份（不含锌锡）' ||
      record.PUR_REGION_NAME === '宝钢股份损益口径'
    ) {
      BASE_NAME1.value = record.BASE_NAME;
    } else {
      BASE_NAME1.value = record.PUR_REGION_NAME + record.BASE_NAME;
    }
    getcb2();
    getcb5();
  };

  let setCB02 = reactive({
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [
      {
        type: 'bar',
        data: [],
      },
    ],
  });
  const parseFunc02 = reactive({
    c01: 'PUR_YM',
    c02: 'MONTH_PUR_CUTDOWN_AMT',
  });
  const getcb2 = () => {
    const cans = {
      relations: [
        {
          filterField: 'PUR_REGION_NAME',
          filterValues: [PUR_REGION_NAME.value],
          widgetId: 2022072613124567,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      setCB02.series[0].data = [];
      setCB02.xAxis = [];
      setCB02 = TransCharts.echartChartsData(result.data, 2022072613124567, parseFunc02, setCB02);
      setCB02.series[0].data = TransCharts.toCharts12DataSeries(setCB02.series[0].data);
      setCB02.xAxis = TransCharts.toCharts12DataxAxis();
    });
  };
  let setCB05 = reactive({
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [
      {
        type: 'bar',
        data: [],
      },
    ],
  });
  const parseFunc05 = reactive({
    c01: 'PUR_YM',
    c02: 'MONTH_PUR_CUTDOWN_AMT',
  });
  const getcb5 = () => {
    const cans = {
      relations: [
        {
          filterField: 'AREA_NAME',
          filterValues: [BASE_NAME1.value],
          widgetId: 2023031416395782,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      setCB05.series[0].data = [];
      setCB05.xAxis = [];
      setCB05 = TransCharts.echartChartsData(result.data, 2023031416395782, parseFunc05, setCB05);
      setCB05.series[0].data = TransCharts.toCharts12DataSeries(setCB05.series[0].data);
      setCB05.xAxis = TransCharts.toCharts12DataxAxis();
    });
  };

  // 降本能力
  const cb03 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: 'TCO效益',
        children: ['TCO_BENEFIT_TARGET_AMT', 'TCO_BENEFIT_TOTAL_PRFM', 'TCO_BENEFIT_CPLTRATE'],
      },
      {
        title: '跑赢市场',
        children: [
          'OUTPERFORM_MARKET_TARGET_AMT',
          'OUTPERFORM_MARKET_TOTAL_PRFM',
          'OUTPERFORM_MARKET_CPLTRATE',
        ],
      },
      {
        title: '跑赢PPI',
        children: [
          'OUTPERFORM_PPI_TARGET_AMT',
          'OUTPERFORM_PPI_TOTAL_PRFM',
          'OUTPERFORM_PPI_CPLTRATE',
        ],
      },
      {
        title: '合计',
        children: ['TARGET_AMT_SUM', 'PRFM_SUM', 'SUM_CPLTRATE'],
      },
    ],
    columns: [
      {
        title: '单位',
        dataIndex: 'PUR_REGION_NAME',
        key: 'PUR_REGION_NAME',
        width: 200,
        ellipsis: false,
      },
      {
        title: '目标',
        dataIndex: 'TCO_BENEFIT_TARGET_AMT',
        key: 'TCO_BENEFIT_TARGET_AMT',
        formatter: 'rate5',
      },
      {
        title: '累计实绩',
        dataIndex: 'TCO_BENEFIT_TOTAL_PRFM',
        key: 'TCO_BENEFIT_TOTAL_PRFM',
        formatter: 'rate5',
      },
      {
        title: '完成率',
        dataIndex: 'TCO_BENEFIT_CPLTRATE',
        key: 'TCO_BENEFIT_CPLTRATE',
        formatter: 'rate3',
      },
      {
        title: '目标',
        dataIndex: 'OUTPERFORM_MARKET_TARGET_AMT',
        key: 'OUTPERFORM_MARKET_TARGET_AMT',
        formatter: 'rate5',
      },
      {
        title: '累计实绩',
        dataIndex: 'OUTPERFORM_MARKET_TOTAL_PRFM',
        key: 'OUTPERFORM_MARKET_TOTAL_PRFM',
        formatter: 'rate5',
      },
      {
        title: '完成率',
        dataIndex: 'OUTPERFORM_MARKET_CPLTRATE',
        key: 'OUTPERFORM_MARKET_CPLTRATE',
        formatter: 'rate3',
      },
      {
        title: '目标',
        dataIndex: 'OUTPERFORM_PPI_TARGET_AMT',
        key: 'OUTPERFORM_PPI_TARGET_AMT',
        formatter: 'rate5',
      },
      {
        title: '累计实绩',
        dataIndex: 'OUTPERFORM_PPI_TOTAL_PRFM',
        key: 'OUTPERFORM_PPI_TOTAL_PRFM',
        formatter: 'rate5',
      },
      {
        title: '完成率',
        dataIndex: 'OUTPERFORM_PPI_CPLTRATE',
        key: 'OUTPERFORM_PPI_CPLTRATE',
        formatter: 'rate3',
      },
      { title: '目标', dataIndex: 'TARGET_AMT_SUM', key: 'TARGET_AMT_SUM', formatter: 'rate5' },
      { title: '累计实绩', dataIndex: 'PRFM_SUM', key: 'PRFM_SUM', formatter: 'rate5' },
      { title: '完成率', dataIndex: 'SUM_CPLTRATE', key: 'SUM_CPLTRATE', formatter: 'rate3' },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search3 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      cb03.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    cb03.columnKeyList = res2.data;
  };
  const cb03dataSource = () => {
    return new Promise(function (resolve, reject) {
      getWidget({ widgetId: 2023022316395782 })
        .then((result) => {
          cb03.dataSource = Transformer.toTableData3(
            result.data,
            '',
            cb03.keyColumnNameList,
            cb03.columnKeyList,
          );
          const data = cb03.dataSource;
          const res = {
            data: {
              success: true,
              data,
            },
          };
          resolve(res);
        })
        .catch(() => {
          reject('获取数据异常');
        });
    });
  };
  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal.value.changeInfo(widgetId, columns, res.data, areaName);
  };
  const dialogClose = () => {
    state.visible = false;
  };
  onMounted(() => {
    cb01dataSource();
    getcb2();
    getcb5();
  });
</script>

<style lang="less" scoped>
  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    line-height: 16px;
    letter-spacing: 0px;
  }

  .titlejzclass {
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }

  .blockstyle {
    margin: 5px 0;
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .sbstyle {
    cursor: pointer;
  }
</style>
