<template>
  <div>
    <!--质量-->
    <a-row :gutter="[16, 10]">
      <a-col :md="12">
        <div class="blockstyle sbstyle">
          <p class="title"
            >重要物料抽检计划完成率(单位：%)<edit-outlined
              clsss="editOut"
              @click="showV(2023030916395782, setzl07.columns, '')"
          /></p>
          <div style="height: 500px">
            <MergeTable
              :widget-id="2023030916395782"
              :has-header="false"
              :column-list="setzl07.columns"
              :api-method="setzl07dataSource"
              :scroll="{ y: 440 }"
              :formatter="tableStyle.formatter"
              :cell-color="tableStyle.cellColor"
              @cellClicked="onsetzl07Clicked"
              @cutomHeaderRow="setzl07OnClickModal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="12">
        <div class="blockstyle">
          <p class="title">{{ BASE_NAME }}趋势图</p>
          <div style="height: 500px">
            <StackedColumnFoldMixedChart
              :legendone="zl01.chart"
              :x-axis="zl01.xAxis"
              :y-axis="zl01.yAxis"
              :series="zl01.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="12">
        <div class="blockstyle sbstyle">
          <p class="title">
            重要物料抽检一次合格率(单位：%)
            <edit-outlined clsss="editOut" @click="showV(2022081714245790, setzl04.columns, '')"
          /></p>
          <div style="height: 500px">
            <MergeTable
              :widget-id="2022081714245790"
              :has-header="false"
              :column-list="setzl04.columns"
              :api-method="setzl04dataSource"
              :scroll="{ y: 440 }"
              :formatter="tableStyle.formatter"
              :cell-color="tableStyle.cellColor"
              @cellClicked="onsetzl04Clicked"
              @cutomHeaderRow="setzl04OnClickModal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="12">
        <div class="blockstyle">
          <p class="title">{{ PUR_REGION_NAME1 }}趋势图</p>
          <div style="height: 500px">
            <StackedColumnFoldMixedChart
              :legendone="zl02.chart"
              :x-axis="zl02.xAxis"
              :y-axis="zl02.yAxis"
              :series="zl02.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="12">
        <div class="blockstyle sbstyle">
          <p class="title"
            >质量异议30天处理率(单位：%)
            <edit-outlined clsss="editOut" @click="showV(2022081714245787, setzl01.columns, '')"
          /></p>
          <div style="height: 500px">
            <MergeTable
              :widget-id="2022081714245787"
              :has-header="false"
              :column-list="setzl01.columns"
              :api-method="setzl01dataSource"
              :scroll="{ y: 440 }"
              :formatter="tableStyle.formatter"
              :cell-color="tableStyle.cellColor"
              @cellClicked="onsetzl01Clicked"
              @cutomHeaderRow="setzl01OnClickModal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="12">
        <div class="blockstyle">
          <p class="title">{{ PUR_REGION_NAME2 }}趋势图</p>
          <div style="height: 500px">
            <StackedColumnFoldMixedChart
              :legendone="zl03.chart"
              :x-axis="zl03.xAxis"
              :y-axis="zl03.yAxis"
              :series="zl03.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="12">
        <div class="blockstyle sbstyle">
          <p class="title"
            >质量异议处理情况
            <edit-outlined clsss="editOut" @click="showV(2022081920245701, setzl02.columns, '')"
          /></p>
          <div class="HeightStyle">
            <MergeTable
              :widget-id="2022081920245701"
              :has-header="false"
              :column-list="setzl02.columns"
              :api-method="setzl02dataSource"
              :scroll="{ y: 360 }"
              :formatter="tableStyle.formatter"
              @cellClicked="onzl02Clicked"
              @cutomHeaderRow="setzl02OnClickModal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="12">
        <div class="blockstyle">
          <p class="title"
            >{{ PUR_REGION_NAME }}超30天未处理异议情况
            <edit-outlined clsss="editOut" @click="showV(2022082220245708, setzl03.columns, '')"
          /></p>
          <div class="HeightStyle">
            <MergeTable
              :widget-id="2022082220245708"
              :has-header="false"
              :api-method="setzl03dataSource"
              :column-list="setzl03.columns"
              :scroll="{ y: 390 }"
              :filter="PUR_REGION_NAME"
              @cutomHeaderRow="setzl03OnClickModal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="24">
        <div class="blockstyle">
          <p class="title"
            >涉及采购金额超10万元以上质量异议情况
            <edit-outlined clsss="editOut" @click="showV(2023022816395782, setzl03.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2023022816395782"
            :has-header="false"
            :column-list="setzl08.columns"
            :api-method="setzl08dataSource"
            :scroll="{ y: 410 }"
            :formatter="tableStyle.formatter"
            @cutomHeaderRow="setzl08OnClickModal"
          />
        </div>
      </a-col>
    </a-row>
    <ShowModal ref="showModal" :visible="state.visible" @close="dialogClose"></ShowModal>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, reactive, ref } from 'vue';
  import { StackedColumnFoldMixedChart } from '../componentfile';
  import { getWidget, queryAggregate, searchAllocate, remarkCount } from '@/api/strategyTracking';
  import { MergeTable } from '@/components/business';
  import tableStyle from '@/views/strategyTracking/modulefile/components/tableStyle';
  import Transformer from '@/views/strategyTracking/modulefile/components/transformer';
  import TransCharts from '@/views/strategyTracking/modulefile/components/transCharts';
  import ShowModal from '@/views/strategyTracking/modulefile/components/ShowModal.vue';

  defineOptions({
    name: 'overviewqualitymodule',
    inheritAttrs: false,
  });
  const showModal = ref(null);
  const state = reactive({
    visible: false,
  });
  const setzl03OnClickModal = (callback) => {
    callback(`${PUR_REGION_NAME.value}超30天未处理异议情况`);
  };
  const setzl02OnClickModal = (callback) => {
    callback('质量异议处理情况');
  };
  const setzl01OnClickModal = (callback) => {
    callback('质量异议30天处理率(单位：%)');
  };
  const setzl04OnClickModal = (callback) => {
    callback('重要物料抽检一次合格率(单位：%)');
  };
  const setzl07OnClickModal = (callback) => {
    callback('重要物料抽检计划完成率(单位：%)');
  };
  const setzl08OnClickModal = (callback) => {
    callback('涉及采购金额超10万元以上质量异议情况');
  };

  // 各中心异议处理率
  const setzl01 = reactive({
    dataSource: [],
    columns: [
      { title: '单位', dataIndex: 'PUR_REGION_NAME', key: 'PUR_REGION_NAME', width: '160px' },
      {
        title: '目标',
        dataIndex: 'PROGRESS_TARGET',
        key: 'PROGRESS_TARGET',
        formatter: 'rate4',
      },
      { title: '上月实绩', dataIndex: 'NUM1', key: 'NUM1', formatter: 'rate4' },
      {
        title: '本月实绩',
        dataIndex: 'NUM2',
        key: 'NUM2',
        formatter: 'rate4',
        mergeColumn: 'PROGRESS_TARGET,NUM2',
        emphasisColor: 'colorfourzl03month',
        after: 'NUM2',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      {
        title: '本年累计',
        dataIndex: 'NUM13',
        key: 'NUM13',
        formatter: 'rate4',
        mergeColumn: 'PROGRESS_TARGET,NUM13',
        emphasisColor: 'colorfourzl03',
        after: 'NUM13',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search1 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setzl01.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setzl01.columnKeyList = res2.data;
  };
  const setzl01dataSource = async () => {
    await search1(2022081714245787, '');
    return new Promise(function (resolve, reject) {
      getWidget({ widgetId: 2022081714245787 })
        .then((result) => {
          setzl01.dataSource = Transformer.toTableData3(
            result.data,
            '',
            setzl01.keyColumnNameList,
            setzl01.columnKeyList,
          );
          const data = setzl01.dataSource;
          const res = {
            data: {
              success: true,
              data,
            },
          };
          resolve(res);
        })
        .catch(() => {
          reject('获取数据异常');
        });
    });
  };
  const PUR_REGION_NAME2 = ref('资材品类中心');
  const onsetzl01Clicked = (record) => {
    PUR_REGION_NAME2.value = record.PUR_REGION_NAME;
    getzl03();
  };
  let zl03 = reactive({
    chart: ['目标', '实绩'],
    xAxis: [],
    yAxis: [{ min: 90, max: 100 }],
    series: [
      {
        name: '目标',
        type: 'line',
        smooth: false,
        data: [],
        itemStyle: { color: '#ffd44a' },
        tooltip: {
          valueFormatter(value) {
            return XiaoShuText(value);
          },
        },
      },
      {
        name: '实绩',
        type: 'bar',
        data: [],
        tooltip: {
          valueFormatter(value) {
            return XiaoShuText(value);
          },
        },
        itemStyle: { color: '#59c4e6' },
        label: {
          show: true,
          position: 'top',
          formatter(p) {
            return XiaoShuText(p.value);
          },
        },
        barGap: 0,
      },
    ],
  });
  const parseFunc03 = reactive({
    c01: 'YM',
    c02: 'PROGRESS_TARGET',
    c03: 'CURMONTH_DISSENT_PROC_CPLTRATE',
  });
  const getzl03 = () => {
    const cans = {
      relations: [
        {
          filterField: 'PUR_REGION_NAME',
          filterValues: [PUR_REGION_NAME2.value],
          widgetId: 2023031016395782,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      zl03.series[0].data = [];
      zl03.series[1].data = [];
      zl03.xAxis = [];
      zl03 = TransCharts.echartChartsData(result.data, 2023031016395782, parseFunc03, zl03);
      zl03.series[0].data = TransCharts.toCharts12DataSeries(zl03.series[0].data);
      zl03.series[1].data = TransCharts.toCharts12DataSeries(zl03.series[1].data);
      zl03.xAxis = TransCharts.toCharts12DataxAxis();
    });
  };

  //异议处理数量
  const setzl02 = reactive({
    dataSource: [],
    columns: [
      { title: '区域', dataIndex: 'PUR_REGION_NAME', key: 'PUR_REGION_NAME' },
      {
        title: '本月发生数(个)',
        dataIndex: 'CURMONTH_DISSENT_TOTAL',
        key: 'CURMONTH_DISSENT_TOTAL',
        formatter: 'rate5',
      },
      {
        title: '本月已处理数(个)',
        dataIndex: 'CURMONTH_DISSENT_NUM',
        key: 'CURMONTH_DISSENT_NUM',
        formatter: 'rate5',
      },
      {
        title: '累计发生数(个)',
        dataIndex: 'TOTAL_DISSENT_NUM',
        key: 'TOTAL_DISSENT_NUM',
        formatter: 'rate5',
      },
      {
        title: '涉及金额(万元)',
        dataIndex: 'QLTY_DISSENT_AMT',
        key: 'QLTY_DISSENT_AMT',
        formatter: 'rate5',
      },
      {
        title: '上月异议30天完成率(%)',
        dataIndex: 'UP_MONTH_DISSENT_PROC_RATE',
        key: 'UP_MONTH_DISSENT_PROC_RATE',
        formatter: 'rate4',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search2 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setzl02.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setzl02.columnKeyList = res2.data;
  };
  const setzl02dataSource = async () => {
    await search2(2022081920245701, '');
    return new Promise(function (resolve, reject) {
      getWidget({ widgetId: 2022081920245701 })
        .then((result) => {
          setzl02.dataSource = Transformer.toTableData3(
            result.data,
            '',
            setzl02.keyColumnNameList,
            setzl02.columnKeyList,
          );
          const data = setzl02.dataSource;
          const res = {
            data: {
              success: true,
              data,
            },
          };
          resolve(res);
        })
        .catch(() => {
          reject('获取数据异常');
        });
    });
  };
  // 超30天未处理异议情况
  const setzl03 = reactive({
    dataSource: [],
    columns: [
      { title: '质量异议单号', dataIndex: 'QLTY_DISSENT_LIST_NO', key: 'QLTY_DISSENT_LIST_NO' },
      { title: '审批日期', dataIndex: 'APPROVE_DATE', key: 'APPROVE_DATE' },
      {
        title: '处理方案审批日期',
        dataIndex: 'PROC_SCHEME_APPROVE_DATE',
        key: 'PROC_SCHEME_APPROVE_DATE',
      },
      { title: '处理天数', dataIndex: 'days', key: 'days' },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search3 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setzl03.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setzl03.columnKeyList = res2.data;
  };
  const PUR_REGION_NAME = ref('合计');
  const onzl02Clicked = (record) => {
    PUR_REGION_NAME.value = record.PUR_REGION_NAME;
    setzl03dataSource();
  };
  const setzl03dataSource = async () => {
    await search3(2022082220245708, '');
    const cans = {
      relations: [
        {
          filterField: 'BIG_ZONE_NAME',
          filterValues: [PUR_REGION_NAME.value],
          widgetId: 2022082220245708,
        },
      ],
    };
    return new Promise(function (resolve, reject) {
      queryAggregate(cans)
        .then((result) => {
          setzl03.dataSource = Transformer.toTableData3(
            result.data,
            2022082220245708,
            setzl03.keyColumnNameList,
            setzl03.columnKeyList,
          );
          const data = setzl03.dataSource;
          const res = {
            data: {
              success: true,
              data,
            },
          };
          resolve(res);
        })
        .catch(() => {
          reject('获取数据异常');
        });
    });
  };

  // 本年各月各大区一次合格率对比
  const setzl04 = reactive({
    dataSource: [],
    columns: [
      { title: '单位', dataIndex: 'BASE_NAME', key: 'BASE_NAME', width: '180px' },
      {
        title: '目标',
        dataIndex: 'INDICATOR_MONTHLY_TARGET',
        key: 'INDICATOR_MONTHLY_TARGET',
        formatter: 'rate4',
      },
      {
        title: '上月实绩',
        dataIndex: 'UP_MONTH_FIRST_CHK_QUALIFIED_RATE',
        key: 'UP_MONTH_FIRST_CHK_QUALIFIED_RATE',
        formatter: 'rate4',
      },
      {
        title: '本月实绩',
        dataIndex: 'CURMONTH_FIRST_CHK_QUALIFIED_RATE',
        key: 'CURMONTH_FIRST_CHK_QUALIFIED_RATE',
        formatter: 'rate4',
        mergeColumn: 'INDICATOR_MONTHLY_TARGET,CURMONTH_FIRST_CHK_QUALIFIED_RATE',
        emphasisColor: 'colorfourzl02month',
        after: 'CURMONTH_FIRST_CHK_QUALIFIED_RATE',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      {
        title: '本年累计',
        dataIndex: 'CURYEAR_FIRST_CHK_QUALIFIED_RATE',
        key: 'CURYEAR_FIRST_CHK_QUALIFIED_RATE',
        formatter: 'rate4',
        mergeColumn: 'INDICATOR_MONTHLY_TARGET,CURYEAR_FIRST_CHK_QUALIFIED_RATE',
        emphasisColor: 'colorfourzl02',
        after: 'CURYEAR_FIRST_CHK_QUALIFIED_RATE',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search4 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setzl04.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setzl04.columnKeyList = res2.data;
  };
  const setzl04dataSource = async () => {
    await search4(2022081714245790, '');
    return new Promise(function (resolve, reject) {
      getWidget({ widgetId: 2022081714245790 })
        .then((result) => {
          setzl04.dataSource = Transformer.toTableData3(
            result.data,
            '',
            setzl04.keyColumnNameList,
            setzl04.columnKeyList,
          );
          const data = setzl04.dataSource;
          const res = {
            data: {
              success: true,
              data,
            },
          };
          resolve(res);
        })
        .catch(() => {
          reject('获取数据异常');
        });
    });
  };
  const PUR_REGION_NAME1 = ref('合计');
  const onsetzl04Clicked = (record) => {
    PUR_REGION_NAME1.value = record.BASE_NAME;
    getzl02();
  };
  let zl02 = reactive({
    chart: ['目标', '实绩'],
    xAxis: [],
    yAxis: [{ min: 90, max: 100 }],
    series: [
      {
        name: '目标',
        type: 'line',
        smooth: false,
        data: [],
        itemStyle: { color: '#ffd44a' },
        tooltip: {
          valueFormatter(value) {
            return XiaoShuText(value);
          },
        },
      },
      {
        name: '实绩',
        type: 'bar',
        data: [],
        tooltip: {
          valueFormatter(value) {
            return XiaoShuText(value);
          },
        },
        itemStyle: { color: '#59c4e6' },
        label: {
          show: true,
          position: 'top',
          formatter(p) {
            return XiaoShuText(p.value);
          },
        },
        barGap: 0,
      },
    ],
  });
  const parseFunc02 = reactive({
    c01: 'YM',
    c02: 'INDICATOR_MONTHLY_TARGET',
    c03: 'CURMONTH_FIRST_CHK_QUALIFIED_RATE',
  });
  const getzl02 = () => {
    const cans = {
      relations: [
        {
          filterField: 'BASE_NAME',
          filterValues: [PUR_REGION_NAME1.value],
          widgetId: 2023030916395783,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      zl02.series[0].data = [];
      zl02.series[1].data = [];
      zl02.xAxis = [];
      zl02 = TransCharts.echartChartsData(result.data, 2023030916395783, parseFunc02, zl02);
      zl02.series[0].data = TransCharts.toCharts12DataSeries(zl02.series[0].data);
      zl02.series[1].data = TransCharts.toCharts12DataSeries(zl02.series[1].data);
      zl02.xAxis = TransCharts.toCharts12DataxAxis();
    });
  };

  // 抽检完成率
  const setzl07 = reactive({
    dataSource: [],
    columns: [
      { title: '区域', dataIndex: 'BASE_NAME', key: 'BASE_NAME', width: '220px' },
      {
        title: '进度目标',
        dataIndex: 'INDICATOR_PROGRESS_TARGET',
        key: 'INDICATOR_PROGRESS_TARGET',
        formatter: 'rate4',
      },
      {
        title: '上月实绩',
        dataIndex: 'UP_MONTH_PRFM',
        key: 'UP_MONTH_PRFM',
        formatter: 'rate4',
      },
      {
        title: '本月实绩',
        dataIndex: 'CURMONTH_PRFM',
        key: 'CURMONTH_PRFM',
        formatter: 'rate4',
        mergeColumn: 'INDICATOR_PROGRESS_TARGET,CURMONTH_PRFM',
        emphasisColor: 'colorfourzl01month',
        after: 'CURMONTH_PRFM',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      {
        title: '年度累计',
        dataIndex: 'CURYEAR_PRFM',
        key: 'CURYEAR_PRFM',
        formatter: 'rate4',
        mergeColumn: 'INDICATOR_PROGRESS_TARGET,CURYEAR_PRFM',
        emphasisColor: 'colorfourzl01',
        after: 'CURYEAR_PRFM',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search7 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setzl07.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setzl07.columnKeyList = res2.data;
  };
  const setzl07dataSource = async () => {
    await search7(2023030916395782, '');
    return new Promise(function (resolve, reject) {
      getWidget({ widgetId: 2023030916395782 })
        .then((result) => {
          setzl07.dataSource = Transformer.toTableData3(result.data, '');
          const data = setzl07.dataSource;
          const res = {
            data: {
              success: true,
              data,
            },
          };
          resolve(res);
        })
        .catch(() => {
          reject('获取数据异常');
        });
    });
  };
  const BASE_NAME = ref('合计');
  const onsetzl07Clicked = (record) => {
    BASE_NAME.value = record.BASE_NAME;
    getzl01();
  };
  const XiaoShuText = (text) => {
    if (text === '-') {
      return text;
    } else {
      return parseFloat(text).toFixed(1);
    }
  };
  let zl01 = reactive({
    chart: ['目标', '实绩'],
    xAxis: [],
    yAxis: [{ min: 80, max: 100 }],
    series: [
      {
        name: '目标',
        type: 'line',
        smooth: false,
        data: [],
        itemStyle: { color: '#ffd44a' },
        tooltip: {
          valueFormatter(value) {
            return XiaoShuText(value);
          },
        },
      },
      {
        name: '实绩',
        type: 'bar',
        data: [],
        tooltip: {
          valueFormatter(value) {
            return XiaoShuText(value);
          },
        },
        itemStyle: { color: '#59c4e6' },
        label: {
          show: true,
          position: 'top',
          formatter(p) {
            return XiaoShuText(p.value);
          },
        },
        barGap: 0,
      },
    ],
  });
  const parseFunc01 = reactive({
    c01: 'YM',
    c02: 'INDICATOR_PROGRESS_TARGET',
    c03: 'CURMONTH_PRFM',
  });
  const getzl01 = () => {
    const cans = {
      relations: [
        {
          filterField: 'BASE_NAME',
          filterValues: [BASE_NAME.value],
          widgetId: 2023030916395785,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      zl01.series[0].data = [];
      zl01.series[1].data = [];
      zl01.xAxis = [];
      zl01 = TransCharts.echartChartsData(result.data, 2023030916395785, parseFunc01, zl01);
      zl01.series[0].data = TransCharts.toCharts12DataSeries(zl01.series[0].data);
      zl01.series[1].data = TransCharts.toCharts12DataSeries(zl01.series[1].data);
      zl01.xAxis = TransCharts.toCharts12DataxAxis();
    });
  };

  const setzl08 = reactive({
    dataSource: [],
    columns: [
      {
        title: '序号',
        customRender: ({ index }) => {
          return `${index + 1}`;
        },
        width: '7%',
      },
      { title: '用户单位', dataIndex: 'AREA_NAME', key: 'AREA_NAME' },
      { title: '物料名称', dataIndex: 'MAT_NAME', key: 'MAT_NAME', width: 500 },
      {
        title: '异议数量',
        dataIndex: 'QLTY_DISSENT_QTY',
        key: 'QLTY_DISSENT_QTY',
        formatter: 'rate5',
      },
      {
        title: '异议涉及采购金额(万元)',
        dataIndex: 'QLTY_DISSENT_AMT',
        key: 'QLTY_DISSENT_AMT',
        formatter: 'rate5',
        width: 400,
      },
      {
        title: '异议处理情况',
        dataIndex: 'DISSENT_PROC_CASE',
        key: 'DISSENT_PROC_CASE',
        width: 400,
      },
      { title: '责任部门', dataIndex: 'BIG_ZONE_NAME', key: 'BIG_ZONE_NAME' },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const setzl08dataSource = async () => {
    await search7(2023022816395782, '');
    return new Promise(function (resolve, reject) {
      getWidget({ widgetId: 2023022816395782 })
        .then((result) => {
          setzl08.dataSource = Transformer.toTableData3(
            result.data,
            '',
            setzl08.keyColumnNameList,
            setzl08.columnKeyList,
          );
          const data = setzl08.dataSource;
          const res = {
            data: {
              success: true,
              data,
            },
          };
          resolve(res);
        })
        .catch(() => {
          reject('获取数据异常');
        });
    });
  };
  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal.value.changeInfo(widgetId, columns, res.data, areaName);
  };
  const dialogClose = () => {
    state.visible = false;
  };
  onMounted(() => {
    getzl01();
    getzl02();
    getzl03();
  });
</script>

<style lang="less" scoped>
  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }

  .blockstyle {
    margin: 5px 0;
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .HeightStyle {
    height: 450px;
  }
</style>
