<template>
  <!--采购实际-->
  <div>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 14 }">
        <div class="blockstyle sbstyle" style="height: 520px">
          <p class="title"
            >采购运营指标总体情况<edit-outlined
              clsss="editOut"
              @click="showV(2022072720235642, cgsj01.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2022072720235642"
            :has-header="false"
            :api-method="cgsj01dataSource"
            :column-list="cgsj01.columns"
            :cell-color="tableStyle.cellColor"
            :formatter="tableStyle.formatter"
            :scroll="{ y: 410 }"
            @cellClicked="oncgsj01Clicked"
            @cutomHeaderRow="cgsj01OnClickModal"
          />
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="blockstyle" style="height: 520px">
          <p class="title"
            >{{ INDICATOR_SUBITEM_DESC.area }}（单位：{{ cgyyzbztqfqkdw }}）<edit-outlined
              clsss="editOut"
              @click="showV(2022072720235642, cgsj02.columns, INDICATOR_SUBITEM_DESC.area)"
          /></p>
          <MergeTable
            :widget-id="2022072720235642"
            :has-header="false"
            :data-list="cgsj02.dataSource"
            :column-list="cgsj02.columns"
            :cell-color="tableStyle.cellColor"
            :scroll="{ y: 410 }"
            :filter="INDICATOR_SUBITEM_DESC"
            @cutomHeaderRow="cgsj02OnClickModal"
          />
        </div>
      </a-col>
      <a-col :md="{ span: 14 }">
        <div class="blockstyle sbstyle" style="height: 520px">
          <p class="title"
            >全口径资材备件采购实绩（单位：万元）<edit-outlined
              clsss="editOut"
              @click="showV(2022072909238564, cgsj03.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2022072909238564"
            :has-header="false"
            :api-method="cgsj03dataSource"
            :column-list="cgsj03.columns"
            :column-groups="cgsj03.columnGroups"
            :formatter="tableStyle.formatter"
            :scroll="{ y: 370 }"
            @cellClicked="oncgsj03Clicked"
            @cutomHeaderRow="cgsj03OnClickModal"
          />
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="blockstyle" style="height: 520px">
          <p class="title">{{ PUR_AREA_NAME }}资材备件到货额（单位：万元）</p>
          <div style="height: 480px">
            <StackedLineChart
              :x-axis="setCGSJ05.xAxis"
              :y-axis="setCGSJ05.yAxis"
              :series="setCGSJ05.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="14">
        <div class="blockstyle sbstyle">
          <p class="title"
            >工程设备采购实绩（单位：万元）<edit-outlined
              clsss="editOut"
              @click="showV(2022072909238564, cgsj06.columns, '')"
          /></p>
          <div style="height: 500px">
            <MergeTable
              :widget-id="2022072618234567"
              :has-header="false"
              :api-method="cgsj06dataSource"
              :column-list="cgsj06.columns"
              :column-groups="cgsj06.columnGroups"
              :cell-color="tableStyle.cellColor"
              :formatter="tableStyle.formatter"
              :scroll="{ y: 400 }"
              @cellClicked="oncgsj06Clicked"
              @cutomHeaderRow="cgsj06OnClickModal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="10">
        <div class="blockstyle">
          <p class="title">{{ DEPT_NAME1 }}工程设备合同额（单位：万元）</p>
          <div style="height: 500px">
            <StackedLineChart
              :legendone="setCGSJ07.chart"
              :x-axis="setCGSJ07.xAxis"
              :y-axis="setCGSJ07.yAxis"
              :series="setCGSJ07.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>
    <ShowModal ref="showModal" :visible="state.visible" @close="dialogClose"></ShowModal>
  </div>
</template>

<script setup lang="tsx">
  import { onMounted, reactive, ref } from 'vue';
  import { StackedLineChart } from '../componentfile';
  import ShowModal from '@/views/strategyTracking/modulefile/components/ShowModal.vue';
  import { MergeTable } from '@/components/business';
  import { getWidget, queryAggregate, searchAllocate, remarkCount } from '@/api/strategyTracking';
  import TransCharts from '@/views/strategyTracking/modulefile/components/transCharts';
  import Transformer from '@/views/strategyTracking/modulefile/components/transformer';
  import tableStyle from '@/views/strategyTracking/modulefile/components/tableStyle';

  defineOptions({
    name: 'overviewCgsjModule',
    inheritAttrs: false,
  });
  const showModal = ref(null);
  const state = reactive({
    visible: false,
  });
  const cgsj01OnClickModal = (callback) => {
    callback(`采购运营指标总体情况`);
  };
  const cgsj02OnClickModal = (callback) => {
    callback(`${INDICATOR_SUBITEM_DESC.area}（单位：${cgyyzbztqfqkdw.value}）`);
  };
  const cgsj03OnClickModal = (callback) => {
    callback(`全口径资材备件采购实绩（单位：万元）`);
  };
  const cgsj06OnClickModal = (callback) => {
    callback(`工程设备采购实绩（单位：万元）`);
  };

  // 采购运营指标总体情况
  const cgsj01 = reactive({
    dataSource: [],
    columns: [
      {
        title: '序号',
        customRender: ({ index }) => {
          return `${index + 1}`;
        },
        width: '7%',
      },
      {
        title: '指标分项',
        dataIndex: 'INDICATOR_SUBITEM_DESC',
        key: 'INDICATOR_SUBITEM_DESC',
        width: '25%',
        ellipsis: false,
      },
      { title: '单位', dataIndex: 'INDICATOR_UOM', key: 'INDICATOR_UOM', width: '10%' },
      {
        title: '年度目标',
        dataIndex: 'INDICATOR_ANNUAL_TARGET',
        key: 'INDICATOR_ANNUAL_TARGET',
        formatter: tableStyle.specialFormatter1,
      },
      {
        title: '进度目标',
        dataIndex: 'INDICATOR_PROGRESS_TARGET',
        key: 'INDICATOR_PROGRESS_TARGET',
        formatter: tableStyle.specialFormatter1,
      },
      {
        title: '上月实绩',
        dataIndex: 'UP_MONTH_INDICATOR_PRFM',
        key: 'UP_MONTH_INDICATOR_PRFM',
        formatter: tableStyle.specialFormatter2,
      },
      {
        title: '本月实绩',
        dataIndex: 'MONTH_INDICATOR_PRFM',
        key: 'MONTH_INDICATOR_PRFM',
        formatter: tableStyle.specialFormatter2,
      },
      {
        title: '本年实绩',
        dataIndex: 'YEAR_TOTAL_INDICATOR_PRFM',
        key: 'YEAR_TOTAL_INDICATOR_PRFM',
        formatter: tableStyle.specialFormatter2,
        mergeColumn: 'INDICATOR_PROGRESS_TARGET,YEAR_TOTAL_INDICATOR_PRFM',
        emphasisColor: 'colorfourone',
        after: 'YEAR_TOTAL_INDICATOR_PRFM',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search1 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      cgsj01.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    cgsj01.columnKeyList = res2.data;
  };
  const cgsj01dataSource = async () => {
    await search1(2022072720235642, '');
    return new Promise(function (resolve, reject) {
      getWidget({ widgetId: 2022072720235642 })
        .then((result) => {
          cgsj01.dataSource = Transformer.toTableData3(
            result.data,
            '',
            cgsj01.keyColumnNameList,
            cgsj01.columnKeyList,
          );
          const data = cgsj01.dataSource;
          const res = {
            data: {
              success: true,
              data,
            },
          };
          resolve(res);
        })
        .catch(() => {
          reject('获取数据异常');
        });
    });
  };

  const INDICATOR_SUBITEM_DESC = reactive({ area: '重要物料抽检计划完成率' });
  const cgyyzbztqfqkdw = ref('%');
  const PUR_AREA_NAME = ref('合计');
  const DEPT_NAME = ref('工业品总计');
  const DEPT_NAME1 = ref('合计');

  const oncgsj01Clicked = (record) => {
    INDICATOR_SUBITEM_DESC.area = record.INDICATOR_SUBITEM_DESC;
    cgyyzbztqfqkdw.value = record.INDICATOR_UOM;
    if (
      record.INDICATOR_SUBITEM_SEQ === '04' ||
      record.INDICATOR_SUBITEM_SEQ === '05' ||
      record.INDICATOR_SUBITEM_SEQ === '06' ||
      record.INDICATOR_SUBITEM_SEQ === '09'
    ) {
      cgsj02.columns[5].emphasisColor = 'colorfourzl0202';
    } else {
      cgsj02.columns[5].emphasisColor = 'colorfourzl0201';
    }

    if (
      cgyyzbztqfqkdw.value === '%' ||
      cgyyzbztqfqkdw.value === '元/吨' ||
      cgyyzbztqfqkdw.value === '分'
    ) {
      cb0202.value = 1;
    } else {
      cb0202.value = 2;
    }
    if (record.INDICATOR_SUBITEM_DESC === '资材备件吨钢成本') {
      cgsj02.columns[0].title = '基地';
      cgsj02dataSource();
    } else {
      cgsj02.columns[0].title = '单位';
      cgsj02dataSource();
    }
  };

  const cgsj02 = reactive({
    dataSource: [],
    columns: [
      {
        title: '单位',
        dataIndex: 'PUR_REGION_NAME',
        key: 'PUR_REGION_NAME',
        width: 200,
        ellipsis: false,
      },
      {
        title: '年度目标',
        dataIndex: 'INDICATOR_ANNUAL_TARGET',
        key: 'INDICATOR_ANNUAL_TARGET',
      },
      {
        title: '进度目标',
        dataIndex: 'INDICATOR_PROGRESS_TARGET',
        key: 'INDICATOR_PROGRESS_TARGET',
      },
      {
        title: '上月实绩',
        dataIndex: 'UP_MONTH_INDICATOR_PRFM',
        key: 'UP_MONTH_INDICATOR_PRFM',
      },
      {
        title: '本月实绩',
        dataIndex: 'MONTH_INDICATOR_PRFM',
        key: 'MONTH_INDICATOR_PRFM',
      },
      {
        title: '本年实绩',
        dataIndex: 'YEAR_TOTAL_INDICATOR_PRFM',
        key: 'YEAR_TOTAL_INDICATOR_PRFM',
        mergeColumn: 'INDICATOR_PROGRESS_TARGET,YEAR_TOTAL_INDICATOR_PRFM',
        emphasisColor: 'colorfourzl0201',
        after: 'YEAR_TOTAL_INDICATOR_PRFM',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const cb0201 = (cname) => {
    return cname == 'PUR_REGION_NAME';
  };
  const cb0202 = ref(1);
  const search2 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      cgsj02.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    cgsj02.columnKeyList = res2.data;
  };
  const cgsj02dataSource = async () => {
    const userID = ref();
    if (INDICATOR_SUBITEM_DESC.area === '资材备件吨钢成本') {
      userID.value = 2023030216395782;
    } else {
      userID.value = 2022081614245782;
    }
    await search2(userID.value, INDICATOR_SUBITEM_DESC.area);
    const cans = {
      relations: [
        {
          filterField: 'INDICATOR_SUBITEM_DESC',
          filterValues: [INDICATOR_SUBITEM_DESC.area],
          widgetId: userID.value,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      cgsj02.dataSource = Transformer.toTableData4(
        result.data,
        userID.value,
        cb0202.value,
        cb0201,
        cgsj02.keyColumnNameList,
        cgsj02.columnKeyList,
      );
    });
  };

  // 资材备件采购实际实际
  const cgsj03 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '钢铁主业到货额',
        children: [
          'ANNUAL_BDGT_AMT',
          'MONTH_ARRIVAL_AMT',
          'YEAR_ARRIVAL_AMT',
          'ANNUAL_BDGT_FINISH_RATE',
        ],
      },
      {
        title: '多元产业到货额',
        children: [
          'ANNUAL_BDGT_AMT_DY',
          'MONTH_ARRIVAL_AMT_DY',
          'YEAR_ARRIVAL_AMT_DY',
          'ANNUAL_BDGT_FINISH_RATE_DY',
        ],
      },
    ],
    columns: [
      { title: '单位', dataIndex: 'ARRIVAL_AREA_NAME', key: 'ARRIVAL_AREA_NAME', ellipsis: false },
      {
        title: '年度预算',
        dataIndex: 'ANNUAL_BDGT_AMT',
        key: 'ANNUAL_BDGT_AMT',
        formatter: 'rate5',
      },
      {
        title: '本月',
        dataIndex: 'MONTH_ARRIVAL_AMT',
        key: 'MONTH_ARRIVAL_AMT',
        formatter: 'rate5',
      },
      {
        title: '年累计',
        dataIndex: 'YEAR_ARRIVAL_AMT',
        key: 'YEAR_ARRIVAL_AMT',
        formatter: 'rate5',
      },
      {
        title: '完成率',
        dataIndex: 'ANNUAL_BDGT_FINISH_RATE',
        key: 'ANNUAL_BDGT_FINISH_RATE',
        formatter: 'rate3',
      },
      {
        title: '年度预算',
        dataIndex: 'ANNUAL_BDGT_AMT_DY',
        key: 'ANNUAL_BDGT_AMT_DY',
        formatter: 'rate5',
        rspans: [{ start: 0, span: 10 }],
      },
      {
        title: '本月',
        dataIndex: 'MONTH_ARRIVAL_AMT_DY',
        key: 'MONTH_ARRIVAL_AMT_DY',
        formatter: 'rate5',
      },
      {
        title: '年累计',
        dataIndex: 'YEAR_ARRIVAL_AMT_DY',
        key: 'YEAR_ARRIVAL_AMT_DY',
        formatter: 'rate5',
      },
      {
        title: '完成率',
        dataIndex: 'ANNUAL_BDGT_FINISH_RATE_DY',
        key: 'ANNUAL_BDGT_FINISH_RATE_DY',
        formatter: 'rate3',
        rspans: [{ start: 0, span: 10 }],
      },
      {
        title: '本月合计',
        dataIndex: 'TOTAL_ARRIVAL_AMT',
        key: 'TOTAL_ARRIVAL_AMT',
        formatter: 'rate5',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search3 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      cgsj03.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    cgsj03.columnKeyList = res2.data;
  };
  const cgsj03dataSource = async () => {
    await search3(2022072909238564, '');
    return new Promise(function (resolve, reject) {
      getWidget({ widgetId: 2022072909238564 })
        .then((result) => {
          cgsj03.dataSource = Transformer.toTableData3(
            result.data,
            '',
            cgsj03.keyColumnNameList,
            cgsj03.columnKeyList,
          );
          const data = cgsj03.dataSource;
          const res = {
            data: {
              success: true,
              data,
            },
          };
          resolve(res);
        })
        .catch(() => {
          reject('获取数据异常');
        });
    });
  };

  const oncgsj03Clicked = (record) => {
    PUR_AREA_NAME.value = record.ARRIVAL_AREA_NAME;
    getCGSJ05();
  };

  // 金额保留整数
  function MonText(text) {
    if (text === '-') {
      return text;
    } else {
      const datatext = parseFloat(text).toFixed(0);
      return parseInt(datatext).toLocaleString();
    }
  }
  // 资材备件到货额
  let setCGSJ05 = reactive({
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [
      {
        type: 'line',
        data: [],
        smooth: false,
        tooltip: {
          valueFormatter(value) {
            return MonText(value);
          },
        },
        itemStyle: {
          normal: {
            label: {
              show: true,
              position: 'top',
              textStyle: { color: 'black' },
              formatter(p) {
                return MonText(p.value);
              },
            },
          },
        },
      },
    ],
  });
  const parseFunc05 = reactive({
    c01: 'ARRIVAL_YM',
    c02: 'MONTH_ARRIVAL_AMT',
  });
  const getCGSJ05 = () => {
    const cans = {
      relations: [
        {
          filterField: 'ARRIVAL_AREA_NAME',
          filterValues: [PUR_AREA_NAME.value],
          widgetId: 2022072713217543,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      setCGSJ05.series[0].data = [];
      setCGSJ05.xAxis = [];
      setCGSJ05 = TransCharts.echartChartsData(
        result.data,
        2022072713217543,
        parseFunc05,
        setCGSJ05,
      );
    });
  };

  const cgsj06 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '合同额',
        children: ['MONTH_CONTR_AMT', 'YEAR_TOTAL_CONTR_AMT'],
      },
      {
        title: '到货额',
        children: ['MONTH_ARRIVAL_AMT', 'YEAR_TOTAL_ARRIVAL_AMT'],
      },
    ],
    columns: [
      { title: '单位', dataIndex: 'DEPT_NAME', key: 'DEPT_NAME', ellipsis: false },
      {
        title: '采购预算额',
        dataIndex: 'PROGRESS_TARGET',
        key: 'PROGRESS_TARGET',
        formatter: 'rate5',
      },
      {
        title: '当月',
        dataIndex: 'MONTH_CONTR_AMT',
        key: 'MONTH_CONTR_AMT',
        formatter: 'rate5',
        style: {
          background: '#f5e8b9',
        },
      },
      {
        title: '年累计',
        dataIndex: 'YEAR_TOTAL_CONTR_AMT',
        key: 'YEAR_TOTAL_CONTR_AMT',
        formatter: 'rate5',
        style: {
          background: '#f5e8b9',
        },
      },
      {
        title: '当月',
        dataIndex: 'MONTH_ARRIVAL_AMT',
        key: 'MONTH_ARRIVAL_AMT',
        formatter: 'rate5',
      },
      {
        title: '年累计',
        dataIndex: 'YEAR_TOTAL_ARRIVAL_AMT',
        key: 'YEAR_TOTAL_ARRIVAL_AMT',
        formatter: 'rate5',
      },
      {
        title: '执行率(按合同)',
        dataIndex: 'IMPLEMENTATION_RATE',
        key: 'IMPLEMENTATION_RATE',
        formatter: 'rate3',
        width: 170,
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search6 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      cgsj06.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    cgsj06.columnKeyList = res2.data;
  };
  const cgsj06dataSource = async () => {
    await search6(2022072618234567, '');
    return new Promise(function (resolve, reject) {
      getWidget({ widgetId: 2022072618234567 })
        .then((result) => {
          cgsj06.dataSource = Transformer.toTableData3(
            result.data,
            '',
            cgsj06.keyColumnNameList,
            cgsj06.columnKeyList,
          );
          const data = cgsj06.dataSource;
          const res = {
            data: {
              success: true,
              data,
            },
          };
          resolve(res);
        })
        .catch(() => {
          reject('获取数据异常');
        });
    });
  };

  const oncgsj06Clicked = (record) => {
    if (record.DEPT_NAME !== '合计') {
      DEPT_NAME.value = `${record.DEPT_NAME}小计`;
    } else {
      DEPT_NAME.value = '工业品总计';
    }
    DEPT_NAME1.value = record.DEPT_NAME;
    getCGSJ07();
  };

  // 工程设备合同额
  let setCGSJ07 = reactive({
    chart: [DEPT_NAME.value],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [
      {
        type: 'line',
        data: [],
        smooth: false,
        tooltip: {
          valueFormatter(value) {
            return MonText(value);
          },
        },
        itemStyle: {
          normal: {
            label: {
              show: true,
              position: 'top',
              textStyle: { color: 'black' },
              formatter(p) {
                return MonText(p.value);
              },
            },
          },
        },
      },
    ],
  });
  const parseFunc07 = reactive({
    c01: 'YM',
    c02: 'MONTH_CONTR_AMT',
  });
  const getCGSJ07 = () => {
    const cans = {
      relations: [
        {
          filterField: 'DEPT_NAME',
          filterValues: [DEPT_NAME.value],
          widgetId: 2022072512134586,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      setCGSJ07.series[0].data = [];
      setCGSJ07.xAxis = [];
      setCGSJ07 = TransCharts.echartChartsData(
        result.data,
        2022072512134586,
        parseFunc07,
        setCGSJ07,
      );
    });
  };

  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal.value.changeInfo(widgetId, columns, res.data, areaName);
  };
  const dialogClose = () => {
    state.visible = false;
  };
  onMounted(() => {
    // 资材备件到货额
    getCGSJ05();
    // 工程设备合同额
    getCGSJ07();
    cgsj02dataSource();
  });
</script>

<style lang="less" scoped>
  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }

  .blockstyle {
    margin: 5px 0;
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .sbstyle {
    cursor: pointer;
  }

  .tablerowbgcolor {
    background-color: #f0f2f5;
  }
</style>
