<template>
  <div>
    <a-row :gutter="[16, 10]">
      <a-col :md="24">
        <div class="colBoard">
          <p class="title titlejzclass"
            >应收资材备件款帐期<edit-outlined
              clsss="editOut"
              @click="showV(2022072717005782, setLJ01.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2022072717005782"
            :has-header="false"
            :api-method="setLJ01dataSource"
            :column-list="setLJ01.columns"
            :cell-color="tableStyle.cellColor"
            :formatter="formatter"
            :column-groups="setLJ01.columnGroups"
            :scroll="{ y: 400 }"
            @cutomHeaderRow="setLJ01OnClickModal"
          />
        </div>
      </a-col>
      <a-col :span="24">
        <div class="colBoard">
          <p class="title titlejzclass"
            >超期欠款排名前十多元单位（单位：万元）<edit-outlined
              clsss="editOut"
              @click="showV(2022072615354567, setLJ04.columns, '')"
          /></p>
          <div class="classgundtStyle">
            <MergeTable
              :widget-id="2022072615354567"
              :has-header="false"
              :api-method="setLJ04dataSource"
              :column-list="setLJ04.columns"
              :formatter="formatter"
              :scroll="{ y: 450 }"
              @cutomHeaderRow="setLJ04OnClickModal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 12 }">
        <div class="colBoard">
          <p class="title titlejzclass">当月各户号资备应收款（单位：万元）</p>
          <div style="height: 500px">
            <StackedVerticalChart
              :legendone="setLJ02.Chart"
              :y-axis="setLJ02.yAxis"
              :series="setLJ02.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 12 }">
        <div class="colBoard">
          <p class="title titlejzclass">资材备件应收款总额趋势（单位：万元）</p>
          <div style="height: 500px">
            <StackedColumnFoldMixedChart
              :legendone="setLJ03.Chart"
              :x-axis="setLJ03.xAxis"
              :y-axis="setLJ03.yAxis"
              :series="setLJ03.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>
    <ShowModal ref="showModal" :visible="state.visible" @close="dialogClose"></ShowModal>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, reactive, ref } from 'vue';
  import { StackedColumnFoldMixedChart, StackedVerticalChart } from '../componentfile';
  import { getWidget, searchAllocate, remarkCount } from '@/api/strategyTracking';
  import { MergeTable } from '@/components/business';
  import Transformer from '@/views/strategyTracking/modulefile/components/transformer';
  import TransCharts from '@/views/strategyTracking/modulefile/components/transCharts';
  import tableStyle from '@/views/strategyTracking/modulefile/components/tableStyle';
  import ShowModal from '@/views/strategyTracking/modulefile/components/ShowModal.vue';

  defineOptions({
    name: 'StackedTwoGold',
    inheritAttrs: false,
  });
  const showModal = ref(null);
  const state = reactive({
    visible: false,
  });
  function MonText(text) {
    if (text === '-') {
      return text;
    } else {
      const datatext = parseFloat(text).toFixed(0);
      return parseInt(datatext).toLocaleString();
    }
  }

  const formatter = {
    rate4: (text) => {
      if (text === '-') {
        return text;
      } else {
        const xontext = parseFloat(parseFloat(text).toFixed(0));
        return xontext.toLocaleString('en-US');
      }
    },
  };

  const setLJ01OnClickModal = (callback) => {
    callback('应收资材备件款帐期');
  };
  const setLJ04OnClickModal = (callback) => {
    callback('超期欠款排名前十多元单位（单位：万元）');
  };

  // 应收资材备件款帐期
  const setLJ01 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '应收资材备件款帐期（单位：万元）',
        children: [
          'ONE_MONTH_RECEIVABLE_AMT',
          'TWO_MONTH_RECEIVABLE_AMT',
          'THREE_MONTH_RECEIVABLE_AMT',
          'FOUR_MONTH_RECEIVABLE_AMT',
          'FIVE_PIECE_MONTH_RECEIVABLE_TOTAL_AMT',
          'FIVE_PIECE_MONTH_OVER_RECEIVABLE_TOTAL_AMT',
          'AMT_SUM',
          'EXPIRE_AMT',
          'MONTH_AVG_SETTLE_AMT',
        ],
      },
    ],
    columns: [
      { title: '户号名称', dataIndex: 'VENDOR_NAME', key: 'VENDOR_NAME', width: '500px' },
      {
        title: '1个月',
        key: 'ONE_MONTH_RECEIVABLE_AMT',
        dataIndex: 'ONE_MONTH_RECEIVABLE_AMT',
        formatter: 'rate4',
      },
      {
        title: '2个月',
        key: 'TWO_MONTH_RECEIVABLE_AMT',
        dataIndex: 'TWO_MONTH_RECEIVABLE_AMT',
        formatter: 'rate4',
      },
      {
        title: '3个月',
        key: 'THREE_MONTH_RECEIVABLE_AMT',
        dataIndex: 'THREE_MONTH_RECEIVABLE_AMT',
        formatter: 'rate4',
        mergeColumn: 'THREE_MONTH_RECEIVABLE_AMT',
        emphasisColor: 'colorfourtwo',
        after: 'THREE_MONTH_RECEIVABLE_AMT',
        method: {
          complex: true,
          expression: '{0}',
        },
      },
      {
        title: '4个月',
        key: 'FOUR_MONTH_RECEIVABLE_AMT',
        dataIndex: 'FOUR_MONTH_RECEIVABLE_AMT',
        formatter: 'rate4',
        mergeColumn: 'FOUR_MONTH_RECEIVABLE_AMT',
        emphasisColor: 'colorfourthree',
        after: 'FOUR_MONTH_RECEIVABLE_AMT',
        method: {
          complex: true,
          expression: '{0}',
        },
      },
      {
        title: '5个月',
        key: 'FIVE_PIECE_MONTH_RECEIVABLE_TOTAL_AMT',
        dataIndex: 'FIVE_PIECE_MONTH_RECEIVABLE_TOTAL_AMT',
        formatter: 'rate4',
        mergeColumn: 'FIVE_PIECE_MONTH_RECEIVABLE_TOTAL_AMT',
        emphasisColor: 'colorfourfour',
        after: 'FIVE_PIECE_MONTH_RECEIVABLE_TOTAL_AMT',
        method: {
          complex: true,
          expression: '{0}',
        },
      },
      {
        title: '5个月以上',
        key: 'FIVE_PIECE_MONTH_OVER_RECEIVABLE_TOTAL_AMT',
        dataIndex: 'FIVE_PIECE_MONTH_OVER_RECEIVABLE_TOTAL_AMT',
        formatter: 'rate4',
        mergeColumn: 'FIVE_PIECE_MONTH_OVER_RECEIVABLE_TOTAL_AMT',
        emphasisColor: 'colorfourfive',
        after: 'FIVE_PIECE_MONTH_OVER_RECEIVABLE_TOTAL_AMT',
        method: {
          complex: true,
          expression: '{0}',
        },
      },
      {
        title: '合计',
        key: 'AMT_SUM',
        dataIndex: 'AMT_SUM',
        formatter: 'rate4',
      },
      {
        title: '超期金额',
        key: 'EXPIRE_AMT',
        dataIndex: 'EXPIRE_AMT',
        formatter: 'rate4',
        emphasisColor: 'colortwo',
      },
      {
        title: '月均结算额',
        key: 'MONTH_AVG_SETTLE_AMT',
        dataIndex: 'MONTH_AVG_SETTLE_AMT',
        formatter: 'rate4',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search1 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setLJ01.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setLJ01.columnKeyList = res2.data;
  };
  const setLJ01dataSource = async () => {
    await search1(2022072717005782, '');
    return new Promise(function (resolve, reject) {
      getWidget({ widgetId: 2022072717005782 })
        .then((result) => {
          setLJ01.dataSource = Transformer.toTableData3(
            result.data,
            '',
            setLJ01.keyColumnNameList,
            setLJ01.columnKeyList,
          );
          const data = setLJ01.dataSource;
          const res = {
            data: {
              success: true,
              data,
            },
          };
          resolve(res);
        })
        .catch(() => {
          reject('获取数据异常');
        });
    });
  };

  // 当月各户号资备应收款
  let setLJ02 = reactive({
    Chart: ['合计', '超期金额'],
    yAxis: [],
    xAxis: [],
    series: [
      {
        name: '合计',
        type: 'bar',
        barWidth: '80%',
        zlevel: '-1',
        tooltip: {
          valueFormatter(value) {
            return MonText(value);
          },
        },
        data: [],
      },
      {
        name: '超期金额',
        type: 'bar',
        barWidth: '50%',
        barGap: '-85%',
        tooltip: {
          valueFormatter(value) {
            return MonText(value);
          },
        },
        data: [],
      },
    ],
  });
  const parseFunc02 = reactive({
    c01: 'VENDOR_NAME',
    c02: 'AMT_SUM',
    c03: 'EXPIRE_AMT',
  });
  const getStackedTwoGold02 = () => {
    getWidget({ widgetId: '2023030916395786' }).then((result) => {
      setLJ02 = TransCharts.echartChartsData(result.data, '', parseFunc02, setLJ02);
      setLJ02.yAxis = setLJ02.xAxis;
    });
  };

  // 资材备件应收款总额趋势
  let setLJ03 = reactive({
    Chart: ['应收累计', '超期金额'],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [
      {
        name: '应收累计',
        type: 'bar',
        tooltip: {
          valueFormatter(value) {
            return MonText(value);
          },
        },
        data: [],
        color: '#91cc75',
      },
      {
        name: '超期金额',
        type: 'bar',
        tooltip: {
          valueFormatter(value) {
            return MonText(value);
          },
        },
        data: [],
        color: '#ee6666',
      },
    ],
  });
  const parseFunc03 = reactive({
    c01: 'DATE_YM',
    c02: 'AMT_SUM',
    c03: 'EXPIRE_AMT',
  });
  const getStackedTwoGold03 = () => {
    getWidget({ widgetId: 2022072820245782 }).then((result) => {
      setLJ03 = TransCharts.echartChartsData(result.data, '', parseFunc03, setLJ03);
      setLJ03.series[0].data = TransCharts.toCharts12DataSeries(setLJ03.series[0].data);
      setLJ03.series[1].data = TransCharts.toCharts12DataSeries(setLJ03.series[1].data);
      setLJ03.xAxis = TransCharts.toCharts12DataxAxis();
    });
  };

  // 超期欠款排名前十多元单位
  const setLJ04 = reactive({
    dataSource: [],
    columns: [
      { title: '序号', dataIndex: 'seq', key: 'seq', width: 200 },
      { title: '单位名称', dataIndex: 'VENDOR_NAME', key: 'VENDOR_NAME' },
      { title: '超期应收款', dataIndex: 'EXPIRE_AMT', key: 'EXPIRE_AMT', formatter: 'rate4' },
      { title: '责任部门', dataIndex: 'DUTY_UNIT', key: 'DUTY_UNIT' },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search4 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setLJ04.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setLJ04.columnKeyList = res2.data;
  };
  const setLJ04dataSource = async () => {
    await search4(2022072615354567, '');
    return new Promise(function (resolve, reject) {
      getWidget({ widgetId: 2022072615354567 })
        .then((result) => {
          setLJ04.dataSource = Transformer.toTableData3(
            result.data,
            '',
            setLJ04.keyColumnNameList,
            setLJ04.columnKeyList,
          );
          const data = setLJ04.dataSource;
          const res = {
            data: {
              success: true,
              data,
            },
          };
          resolve(res);
        })
        .catch(() => {
          reject('获取数据异常');
        });
    });
  };

  // 超期欠款排名前十多元单位
  const setLJ05 = reactive({
    Chart: [{ orient: 'vertical', right: 'right', top: 'center' }],
    series: [],
  });
  const getStackedTwoGold05 = () => {
    getWidget({ widgetId: '2022072615354567' }).then((r) => {
      const columnList = r.data.columnList;
      const returnData = r.data.data;
      const dataseries = [
        {
          itemStyle: {
            borderRadius: 5,
            borderColor: 'white',
            borderWidth: 1,
          },
          type: 'pie',
          radius: '45%',
          center: ['25%', '50%'], // 往左移
          data: [],
          label: {
            normal: {
              show: true,
              position: 'inner', // 数值显示在内部
              formatter(p) {
                const text = parseFloat(parseFloat(p.value).toFixed(0));
                return text.toLocaleString('en-US');
              },
              textStyle: {
                color: 'white', // 改变标示文字的颜色
              },
            },
          },
          emphasis: {
            itemStyle: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)',
            },
          },
        },
      ];
      for (let i = 0; i < returnData.length; i++) {
        const dtt = {};
        for (let j = 0; j < columnList.length; j++) {
          dtt[columnList[j].name] = returnData[i][j];
        }
        if (dtt['VENDOR_NAME'] !== '合计') {
          const obj = { value: '', name: '' };
          obj.name = dtt['VENDOR_NAME'];
          obj.value = dtt['EXPIRE_AMT'];
          dataseries[0].data.push(obj);
        }
      }
      setLJ05.series = dataseries;
    });
  };
  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal.value.changeInfo(widgetId, columns, res.data, areaName);
  };
  const dialogClose = () => {
    state.visible = false;
  };

  onMounted(() => {
    getStackedTwoGold02();
    getStackedTwoGold03();
    getStackedTwoGold05();
  });
</script>

<style lang="less" scoped>
  // @import '../../../../static/less/Color.less';

  .colBoard {
    margin: 5px 0;
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    line-height: 16px;
    letter-spacing: 0px;
  }

  .titlejzclass {
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }

  .classgundtStyle {
    height: 500px;
  }
</style>
