<template>
  <a-row :gutter="[16, 10]">
    <a-col :md="{ span: 14 }">
      <div class="blockstyle sbstyle" style="height: 500px">
        <p class="title">
          重点项目跟踪
          <edit-outlined
            clsss="editOut"
            @click="showV(2023052410352660, zd01.columns, '设备品类中心')"
        /></p>
        <MergeTable
          :filter="filterData"
          :widget-id="2023052410352660"
          :has-header="false"
          :data-list="zd01.dataSource"
          :column-list="zd01.columns"
          :column-groups="zd01.columnGroups"
          :formatter="tableStyle.formatter"
          :scroll="{ y: 400 }"
          @cellClicked="onzd01Clicked"
          @cutomHeaderRow="zd01OnClickModal"
        />
      </div>
    </a-col>
    <a-col :md="{ span: 10 }">
      <p class="title"> {{ PROJ_NAME }}项目跟踪情况</p>
      <div style="height: 230px">
        <p style="font-size: 22px; font-weight: bold">项目关键设备进展情况:</p>
        <a-textarea
          v-model:value="zd02.value1"
          disabled="false"
          :auto-size="{ minRows: 2, maxRows: 6 }"
          class="textarea-style"
        />
      </div>
      <div style="height: 200px">
        <p style="font-size: 22px; font-weight: bold">后续重点跟踪关注事项:</p>
        <a-textarea
          v-model:value="zd02.value2"
          disabled="false"
          :auto-size="{ minRows: 2, maxRows: 6 }"
          class="textarea-style"
        />
      </div>
    </a-col>
    <ShowModal ref="showModal" :visible="state.visible" @close="dialogClose"></ShowModal>
  </a-row>
</template>

<script setup lang="ts">
  import { defineExpose, nextTick, reactive, ref } from 'vue';
  import { MergeTable } from '@/components/business';
  import ShowModal from '@/views/strategyTracking/modulefile/components/ShowModal.vue';
  import tableStyle from '@/views/strategyTracking/modulefile/components/tableStyle';
  import { queryAggregate, remarkCount, searchAllocate } from '@/api/strategyTracking';
  import Transformer from '@/views/strategyTracking/modulefile/components/transformer';

  const Initialloading = () => {
    nextTick(() => {
      zd01dataSource();
    });
  };
  defineExpose({
    Initialloading,
  });

  const zd01 = reactive({
    dataSource: [],
    columns: [
      { title: '项目号', dataIndex: 'PROJ_CODE', key: 'PROJ_CODE' },
      {
        title: '项目名称',
        dataIndex: 'PROJ_NAME',
        key: 'PROJ_NAME',
        ellipsis: false,
        width: '25%',
      },
      { title: '收到计划数', dataIndex: 'TOTAL_QTY', key: 'TOTAL_QTY', formatter: 'rate5' },
      {
        title: '订货完成率',
        dataIndex: 'ALREADY_ORDER_RATE',
        key: 'ALREADY_ORDER_RATE',
        formatter: 'rate3',
      },
      { title: '到货完成率', dataIndex: 'ARRIVAL_RATE', key: 'ARRIVAL_RATE', formatter: 'rate3' },
      { title: '概算使用率', dataIndex: 'BDGT_USE_RATE', key: 'BDGT_USE_RATE', formatter: 'rate3' },
      { title: '项目投产日期', dataIndex: 'PUT_DATE', key: 'PUT_DATE' },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const zd01OnClickModal = (callback) => {
    callback('重要物料抽检计划完成率');
  };
  const zd01dataSource = async () => {
    await search(2023052410352660, '设备品类中心', zd01.keyColumnNameList, zd01.columnKeyList);
    const cans = {
      relations: [
        {
          filterField: 'AREA_NAME',
          filterValues: ['设备品类中心'],
          widgetId: 2023052410352660,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      const dataMap = result.data['2023052410352660'].dataMap;
      zd01.dataSource = Transformer.toTableData3(
        result.data,
        '2023052410352660',
        zd01.keyColumnNameList,
        zd01.columnKeyList,
      );
      PROJ_NAME.value = dataMap.PROJ_NAME[0];
      zd02Source();
    });
  };
  const PROJ_NAME = ref('');
  const onzd01Clicked = (record) => {
    PROJ_NAME.value = record.PROJ_NAME;
    zd02Source();
  };

  const zd02 = reactive({
    value1: '',
    value2: '',
  });
  const zd02Source = async () => {
    const cans = {
      relations: [
        {
          filterField: 'PROJ_NAME',
          filterValues: [PROJ_NAME.value],
          widgetId: 2023060616463960,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      const dataMap = result.data['2023060616463960'].dataMap;
      zd02.value1 = dataMap.proj_key_device_progress;
      zd02.value2 = dataMap.keypoint_trace_atte_matter;
    });
  };

  const showModal = ref(null);
  const state = reactive({
    visible: false,
  });
  const filterData = ref({});
  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal.value.changeInfo(widgetId, columns, res.data, areaName);
  };
  const dialogClose = () => {
    state.visible = false;
  };
  const search = async (widgetId, name, keyList, columnList) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      keyList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    columnList = res2.data;
  };
</script>

<style lang="less" scoped>
  .blockstyle {
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }

  .textarea-style {
    width: 100%;
    font-size: 20px;
    background: rgb(255, 255, 255);
    color: #000;
  }
</style>
