<template>
  <a-row :gutter="[16, 10]">
    <a-col :md="{ span: 24 }">
      <div class="blockstyle sbstyle">
        <p class="title"
          >吨钢成本（单位：元/吨）<edit-outlined
            clsss="editOut"
            @click="showV(2023042315463456, cb01.columns, props.conditionalmonth)"
        /></p>
        <MergeTable
          :widget-id="2023042315463456"
          :filter="filterData"
          :has-header="false"
          :data-list="cb01.dataSource"
          :column-list="cb01.columns"
          :column-groups="cb01.columnGroups"
          :formatter="tableStyle.formatter"
          :cell-color="regionalTableStyle.cellColor"
          :scroll="{ y: 480 }"
          @cellClicked="oncb01Clicked"
          @cutomHeaderRow="cb01OnClickModal"
        />
      </div>
    </a-col>
    <a-col :md="{ span: 12 }">
      <div class="blockstyle">
        <p class="title">{{ BUS_DEPT_NAME1 }}采购实绩，钢产量趋势图</p>
        <div style="height: 500px">
          <StackedColumnFoldMixedChart
            :legendone="echartCB01.chart"
            :x-axis="echartCB01.xAxis"
            :y-axis="echartCB01.yAxis"
            :series="echartCB01.series"
          />
        </div>
      </div>
    </a-col>
    <a-col :md="{ span: 12 }">
      <div class="blockstyle">
        <p class="title">{{ BUS_DEPT_NAME1 }}吨钢成本趋势图</p>
        <div style="height: 500px">
          <StackedColumnFoldMixedChart
            :legendone="echartCB02.chart"
            :x-axis="echartCB02.xAxis"
            :y-axis="echartCB02.yAxis"
            :series="echartCB02.series"
          />
        </div>
      </div>
    </a-col>
    <a-col :md="{ span: 14 }">
      <div class="blockstyle sbstyle" style="height: 500px">
        <p class="title"
          >采购价差<edit-outlined
            clsss="editOut"
            @click="showV(2023042414205555, cb02.columns, props.conditionalmonth)"
        /></p>
        <MergeTable
          :widget-id="2023042414205555"
          :filter="filterData"
          :has-header="false"
          :data-list="cb02.dataSource"
          :column-list="cb02.columns"
          :column-groups="cb02.columnGroups"
          :formatter="tableStyle.formatter"
          :scroll="{ y: 300 }"
          @cellClicked="oncb02Clicked"
          @cutomHeaderRow="cb02OnClickModal"
        />
      </div>
    </a-col>
    <a-col :md="{ span: 10 }">
      <div class="blockstyle" style="height: 500px">
        <p class="title">{{ BUS_DEPT_NAME2 }}可比增减额趋势图</p>
        <div style="height: 450px">
          <StackedColumnFoldMixedChart
            :legendone="echartCB03.chart"
            :x-axis="echartCB03.xAxis"
            :y-axis="echartCB03.yAxis"
            :series="echartCB03.series"
          />
        </div>
      </div>
    </a-col>
    <a-col :md="{ span: 14 }">
      <div class="blockstyle sbstyle" style="height: 500px">
        <p class="title"
          >采购降本TCO（单位：万元）<edit-outlined
            clsss="editOut"
            @click="showV(2023042412165555, cb03.columns, props.conditionalmonth)"
        /></p>
        <MergeTable
          :widget-id="2023042412165555"
          :filter="filterData"
          :has-header="false"
          :data-list="cb03.dataSource"
          :column-list="cb03.columns"
          :formatter="tableStyle.formatter"
          :scroll="{ y: 300 }"
          @cellClicked="oncb03Clicked"
          @cutomHeaderRow="cb03OnClickModal"
        />
      </div>
    </a-col>
    <a-col :md="{ span: 10 }">
      <div class="blockstyle" style="height: 500px">
        <p class="title">{{ BUS_DEPT_NAME3 }}趋势图</p>
        <div style="height: 450px">
          <StackedColumnFoldMixedChart
            :legendone="echartCB04.chart"
            :x-axis="echartCB04.xAxis"
            :y-axis="echartCB04.yAxis"
            :series="echartCB04.series"
          />
        </div>
      </div>
    </a-col>
    <a-col :md="{ span: 14 }">
      <div class="blockstyle sbstyle" style="height: 500px">
        <p class="title"
          >采购降本跑赢市场（单位：万元）<edit-outlined
            clsss="editOut"
            @click="showV(2023042512165505, cb04.columns, props.conditionalmonth)"
        /></p>
        <MergeTable
          :widget-id="2023042512165505"
          :filter="filterData"
          :has-header="false"
          :data-list="cb04.dataSource"
          :column-list="cb04.columns"
          :column-groups="cb04.columnGroups"
          :formatter="tableStyle.formatter"
          :scroll="{ y: 300 }"
          @cellClicked="oncb04Clicked"
          @cutomHeaderRow="cb04OnClickModal"
        />
      </div>
    </a-col>
    <a-col :md="{ span: 10 }">
      <div class="blockstyle" style="height: 500px">
        <p class="title">{{ BUS_DEPT_NAME4 }}趋势图</p>
        <div style="height: 450px">
          <StackedColumnFoldMixedChart
            :legendone="echartCB05.chart"
            :x-axis="echartCB05.xAxis"
            :y-axis="echartCB05.yAxis"
            :series="echartCB05.series"
          />
        </div>
      </div>
    </a-col>
    <a-col :md="{ span: 14 }">
      <div class="blockstyle sbstyle" style="height: 500px">
        <p class="title"
          >采购降本跑赢PPI（单位：万元）<edit-outlined
            clsss="editOut"
            @click="showV(2023042512165506, cb05.columns, props.conditionalmonth)"
        /></p>
        <MergeTable
          :widget-id="2023042512165506"
          :filter="filterData"
          :has-header="false"
          :data-list="cb05.dataSource"
          :column-list="cb05.columns"
          :column-groups="cb05.columnGroups"
          :formatter="tableStyle.formatter"
          :scroll="{ y: 300 }"
          @cellClicked="oncb05Clicked"
          @cutomHeaderRow="cb05OnClickModal"
        />
      </div>
    </a-col>
    <a-col :md="{ span: 10 }">
      <div class="blockstyle" style="height: 500px">
        <p class="title">{{ BUS_DEPT_NAME5 }}趋势图</p>
        <div style="height: 450px">
          <StackedColumnFoldMixedChart
            :legendone="echartCB06.chart"
            :x-axis="echartCB06.xAxis"
            :y-axis="echartCB06.yAxis"
            :series="echartCB06.series"
          />
        </div>
      </div>
    </a-col>
    <ShowModal ref="showModal" :visible="state.visible" @close="dialogClose"></ShowModal>
  </a-row>
</template>

<script setup lang="ts">
  import { defineExpose, nextTick, reactive, ref } from 'vue';
  import { StackedColumnFoldMixedChart } from '../componentfile';
  import { MergeTable } from '@/components/business';
  import tableStyle from '@/views/strategyTracking/modulefile/components/tableStyle';
  import { queryAggregate, searchAllocate, remarkCount } from '@/api/strategyTracking';
  import Transformer from '@/views/strategyTracking/modulefile/components/transformer';
  import TransCharts from '@/views/strategyTracking/modulefile/components/transCharts';
  import regionalTableStyle from '@/views/strategyTracking/modulefile/components/regionalTableStyle';
  import ShowModal from '@/views/strategyTracking/modulefile/components/ShowModal.vue';
  defineOptions({
    name: 'RegionalcenterCbPage',
    inheritAttrs: false,
  });
  const showModal = ref(null);
  const state = reactive({
    visible: false,
  });
  const filterData = ref({});
  const props = defineProps({
    conditionalmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const Initialloading = () => {
    nextTick(() => {
      filterData.value.area = props.conditionalmonth;
      cb01dataSource(props.conditionalmonth);
      cb02dataSource(props.conditionalmonth);
      cb03dataSource(props.conditionalmonth);
      cb04dataSource(props.conditionalmonth);
      cb05dataSource(props.conditionalmonth);
    });
  };
  defineExpose({
    Initialloading,
  });

  const XiaoShuText = (text) => {
    if (text === '-') {
      return text;
    } else {
      // 完成率保留一位小数位
      return parseFloat(text).toFixed(1);
    }
  };
  const cb01 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '采购实绩（损益口径）',
        children: [
          'YEAR_PUR_PRFM_BDGT_AMT',
          'MONTH_PUR_AMT',
          'YEAR_TOTAL_PUR_AMT',
          'YEAR_PUR_PRFM_CPLTRATE',
        ],
      },
      {
        title: '钢产量（入炉板坯）',
        children: [
          'YEAR_PLAN_STEEL_OUTPUT',
          'MONTH_STEEL_OUTPUT',
          'YEAR_TOTAL_STEEL_OUTPUT',
          'YEAR_PLAN_STEEL_OUTPUT_CPLTRATE',
        ],
      },
      {
        title: '吨钢成本',
        children: ['MONTH_STEEL_COST', 'YEAR_TOTAL_STEEL_COST'],
      },
    ],
    columns: [
      {
        title: '部门',
        dataIndex: 'BUS_DEPT_NAME',
        key: 'BUS_DEPT_NAME',
        width: '15%',
        ellipsis: false,
      },
      {
        title: '年度目标',
        dataIndex: 'TARGET_STEEL_COST',
        key: 'TARGET_STEEL_COST',
        formatter: 'rate5',
      },
      {
        title: '上月吨钢成本',
        dataIndex: 'LASTMONTH_STEEL_COST',
        key: 'LASTMONTH_STEEL_COST',
        formatter: 'rate5',
      },
      {
        title: '年度预算',
        dataIndex: 'YEAR_PUR_PRFM_BDGT_AMT',
        key: 'YEAR_PUR_PRFM_BDGT_AMT',
        formatter: 'rate5',
      },
      { title: '当月', dataIndex: 'MONTH_PUR_AMT', key: 'MONTH_PUR_AMT', formatter: 'rate5' },
      {
        title: '累计',
        dataIndex: 'YEAR_TOTAL_PUR_AMT',
        key: 'YEAR_TOTAL_PUR_AMT',
        formatter: 'rate5',
      },
      {
        title: '完成率',
        dataIndex: 'YEAR_PUR_PRFM_CPLTRATE',
        key: 'YEAR_PUR_PRFM_CPLTRATE',
        formatter: 'rate3',
      },
      {
        title: '计划产量',
        dataIndex: 'YEAR_PLAN_STEEL_OUTPUT',
        key: 'YEAR_PLAN_STEEL_OUTPUT',
        formatter: 'rate5',
      },
      {
        title: '当月',
        dataIndex: 'MONTH_STEEL_OUTPUT',
        key: 'MONTH_STEEL_OUTPUT',
        formatter: 'rate5',
      },
      {
        title: '累计',
        dataIndex: 'YEAR_TOTAL_STEEL_OUTPUT',
        key: 'YEAR_TOTAL_STEEL_OUTPUT',
        formatter: 'rate5',
      },
      {
        title: '完成率',
        dataIndex: 'YEAR_PLAN_STEEL_OUTPUT_CPLTRATE',
        key: 'YEAR_PLAN_STEEL_OUTPUT_CPLTRATE',
        formatter: 'rate3',
      },
      {
        title: '当月',
        dataIndex: 'MONTH_STEEL_COST',
        key: 'MONTH_STEEL_COST',
        formatter: 'rate4',
        mergeColumn: 'TARGET_STEEL_COST,MONTH_STEEL_COST',
        emphasisColor: 'colorcb01month',
        after: 'MONTH_STEEL_COST',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      {
        title: '累计',
        dataIndex: 'YEAR_TOTAL_STEEL_COST',
        key: 'YEAR_TOTAL_STEEL_COST',
        formatter: 'rate4',
        mergeColumn: 'TARGET_STEEL_COST,YEAR_TOTAL_STEEL_COST',
        emphasisColor: 'colorcb01year',
        after: 'YEAR_TOTAL_STEEL_COST',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search1 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      cb01.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    cb01.columnKeyList = res2.data;
  };
  const cb01OnClickModal = (callback) => {
    callback('吨钢成本（单位：万元）');
  };
  const cb01dataSource = async (centralregion) => {
    await search1(2023042315463456, props.conditionalmonth);
    const cans = {
      relations: [
        {
          filterField: 'AREA_NAME',
          filterValues: [centralregion],
          widgetId: 2023042315463456,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      cb01.dataSource = Transformer.toTableData3(
        result.data,
        '2023042315463456',
        cb01.keyColumnNameList,
        cb01.columnKeyList,
      );
      const dataMap = reactive({
        Map: result.data[2023042315463456].dataMap.BUS_DEPT_NAME,
        index: result.data[2023042315463456].dataMap.BUS_DEPT_NAME.length,
      });
      BUS_DEPT_NAME1.value = dataMap.Map[dataMap.index - 1];
      getechartCB02();
    });
  };
  const BUS_DEPT_NAME1 = ref('');
  const oncb01Clicked = (record) => {
    BUS_DEPT_NAME1.value = record.BUS_DEPT_NAME;
    getechartCB02();
  };
  let echartCB01 = reactive({
    chart: ['采购实绩', '钢产量'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }, { name: '万吨' }],
    series: [
      {
        name: '采购实绩',
        type: 'line',
        data: [],
        smooth: false,
        tooltip: {
          valueFormatter(value) {
            return XiaoShuText(value);
          },
        },
        itemStyle: {
          normal: {
            label: {
              show: true,
              position: 'top',
              textStyle: { color: 'black' },
              formatter(p) {
                return XiaoShuText(p.value);
              },
            },
          },
        },
      },
      {
        name: '钢产量',
        type: 'line',
        data: [],
        smooth: false,
        tooltip: {
          valueFormatter(value) {
            return XiaoShuText(value);
          },
        },
        yAxisIndex: 1,
        itemStyle: {
          normal: {
            label: {
              show: true,
              position: 'top',
              textStyle: { color: 'black' },
              formatter(p) {
                return XiaoShuText(p.value);
              },
            },
          },
        },
      },
    ],
  });
  const echartCB02 = reactive({
    chart: [],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const parseFunc01 = reactive({
    c01: 'PUR_YM',
    c02: 'MONTH_PUR_AMT',
    c03: 'MONTH_STEEL_OUTPUT',
  });
  const getechartCB02 = () => {
    const cans = {
      relations: [
        {
          filterField: 'AREA_NAME',
          filterValues: [props.conditionalmonth],
          widgetId: 2023042415948101,
        },
        {
          filterField: 'BUS_DEPT_NAME',
          filterValues: [BUS_DEPT_NAME1.value],
          widgetId: 2023042415948101,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      echartCB01.series[0].data = [];
      echartCB01.series[1].data = [];
      echartCB01.xAxis = [];
      echartCB01 = TransCharts.echartChartsData(
        result.data,
        '2023042415948101',
        parseFunc01,
        echartCB01,
      );
    });
    queryAggregate(cans).then((result) => {
      const dataMap = result.data['2023042415948101'].dataMap;
      echartCB02.xAxis = dataMap.PUR_YM;
      echartCB02.series = TransCharts.echartsSeries(dataMap.MONTH_STEEL_COST);
    });
  };

  const cb02 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '当月',
        children: ['MONTH_PUR_AMT', 'MONTH_PUR_CUTDOWN_AMT', 'MONTH_PUR_CUTDOWN_RATIO'],
      },
      {
        title: '累计',
        children: [
          'YEAR_TOTAL_PUR_AMT',
          'YEAR_TOTAL_PUR_CUTDOWN_AMT',
          'YEAR_TOTAL_PUR_CUTDOWN_RATIO',
        ],
      },
    ],
    columns: [
      {
        title: '部门',
        dataIndex: 'BUS_DEPT_NAME',
        key: 'BUS_DEPT_NAME',
        width: '20%',
        ellipsis: false,
      },
      {
        title: '进度目标',
        dataIndex: 'INDICATOR_PROGRESS_TARGET',
        key: 'INDICATOR_PROGRESS_TARGET',
        formatter: 'rate5',
      },
      {
        title: '上月可比增减额',
        dataIndex: 'LASTMONTH_PUR_CUTDOWN_AMT',
        key: 'LASTMONTH_PUR_CUTDOWN_AMT',
        formatter: 'rate5',
      },
      { title: '采购金额', dataIndex: 'MONTH_PUR_AMT', key: 'MONTH_PUR_AMT', formatter: 'rate5' },
      {
        title: '可比增减额',
        dataIndex: 'MONTH_PUR_CUTDOWN_AMT',
        key: 'MONTH_PUR_CUTDOWN_AMT',
        formatter: 'rate5',
      },
      {
        title: '可比增减率',
        dataIndex: 'MONTH_PUR_CUTDOWN_RATIO',
        key: 'MONTH_PUR_CUTDOWN_RATIO',
        formatter: 'rate3',
      },
      {
        title: '采购金额',
        dataIndex: 'YEAR_TOTAL_PUR_AMT',
        key: 'YEAR_TOTAL_PUR_AMT',
        formatter: 'rate5',
      },
      {
        title: '可比增减额',
        dataIndex: 'YEAR_TOTAL_PUR_CUTDOWN_AMT',
        key: 'YEAR_TOTAL_PUR_CUTDOWN_AMT',
        formatter: 'rate5',
      },
      {
        title: '可比增减率',
        dataIndex: 'YEAR_TOTAL_PUR_CUTDOWN_RATIO',
        key: 'YEAR_TOTAL_PUR_CUTDOWN_RATIO',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search2 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      cb02.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    cb02.columnKeyList = res2.data;
  };
  const cb02OnClickModal = (callback) => {
    callback('采购价差');
  };
  const cb02dataSource = async (centralregion) => {
    await search2(2023042315463456, props.conditionalmonth);
    const cans = {
      relations: [
        {
          filterField: 'AREA_NAME',
          filterValues: [centralregion],
          widgetId: 2023042414205555,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      cb02.dataSource = Transformer.toTableData3(
        result.data,
        '2023042414205555',
        cb02.keyColumnNameList,
        cb02.columnKeyList,
      );
      const dataMap = reactive({
        Map: result.data[2023042414205555].dataMap.BUS_DEPT_NAME,
        index: result.data[2023042414205555].dataMap.BUS_DEPT_NAME.length,
      });
      BUS_DEPT_NAME2.value = dataMap.Map[dataMap.index - 1];
      getechartCB03();
    });
  };
  const BUS_DEPT_NAME2 = ref('');
  const oncb02Clicked = (record) => {
    BUS_DEPT_NAME2.value = record.BUS_DEPT_NAME;
    getechartCB03();
  };
  const echartCB03 = reactive({
    chart: [],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const getechartCB03 = () => {
    const cans = {
      relations: [
        {
          filterField: 'AREA_NAME',
          filterValues: [props.conditionalmonth],
          widgetId: 2023042415948102,
        },
        {
          filterField: 'BUS_DEPT_NAME',
          filterValues: [BUS_DEPT_NAME2.value],
          widgetId: 2023042415948102,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      const dataMap = result.data['2023042415948102'].dataMap;
      echartCB03.xAxis = dataMap.PUR_YM;
      echartCB03.series = TransCharts.echartsSeries(dataMap.MONTH_PUR_CUTDOWN_AMT);
    });
  };

  const cb03 = reactive({
    dataSource: [],
    columns: [
      {
        title: '单位',
        dataIndex: 'BUS_DEPT_NAME',
        key: 'BUS_DEPT_NAME',
        width: '25%',
        ellipsis: false,
      },
      {
        title: '目标',
        dataIndex: 'INDICATOR_ANNUAL_TARGET',
        key: 'INDICATOR_ANNUAL_TARGET',
        formatter: 'rate5',
      },
      { title: '项目数', dataIndex: 'DEPT_PROJ_NUM', key: 'DEPT_PROJ_NUM', formatter: 'rate5' },
      {
        title: '落地数',
        dataIndex: 'DEPT_LAND_PROJ_NUM',
        key: 'DEPT_LAND_PROJ_NUM',
        formatter: 'rate5',
      },
      {
        title: '预计年化效益',
        dataIndex: 'ANNUAL_REDNCOST_TARGET_AMT',
        key: 'ANNUAL_REDNCOST_TARGET_AMT',
        formatter: 'rate5',
      },
      {
        title: '当月效益',
        dataIndex: 'MONTH_REDNCOST_BENEFIT',
        key: 'MONTH_REDNCOST_BENEFIT',
        formatter: 'rate5',
      },
      {
        title: '当年累计效益',
        dataIndex: 'ANNUAL_TOTAL_REDNCOST_BENEFIT',
        key: 'ANNUAL_TOTAL_REDNCOST_BENEFIT',
        formatter: 'rate5',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search3 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      cb03.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    cb03.columnKeyList = res2.data;
  };
  const cb03OnClickModal = (callback) => {
    callback('采购降本TCO（单位：万元）');
  };
  const BUS_DEPT_NAME3 = ref('');
  const oncb03Clicked = (record) => {
    BUS_DEPT_NAME3.value = record.BUS_DEPT_NAME;
    getechartCB04();
  };
  const cb03dataSource = async (centralregion) => {
    await search3(2023042412165555, props.conditionalmonth);
    const cans = {
      relations: [
        {
          filterField: 'AREA_NAME',
          filterValues: [centralregion],
          widgetId: 2023042412165555,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      const dataMap = result.data['2023042412165555'].dataMap;
      cb03.dataSource = Transformer.toTableData3(
        result.data,
        '2023042412165555',
        cb03.keyColumnNameList,
        cb03.columnKeyList,
      );
      BUS_DEPT_NAME3.value = dataMap.BUS_DEPT_NAME[0];
      getechartCB04();
    });
  };
  const echartCB04 = reactive({
    chart: [],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const getechartCB04 = () => {
    const cans = {
      relations: [
        {
          filterField: 'AREA_NAME',
          filterValues: [props.conditionalmonth],
          widgetId: 2023052912165505,
        },
        {
          filterField: 'BUS_DEPT_NAME',
          filterValues: [BUS_DEPT_NAME3.value],
          widgetId: 2023052912165505,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      const dataMap = result.data['2023052912165505'].dataMap;
      echartCB04.xAxis = dataMap.YM;
      echartCB04.series = TransCharts.echartsSeries(dataMap.MONTH_REDNCOST_BENEFIT);
    });
  };

  const cb04 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '当月',
        children: ['MONTH_PUR_AMT', 'MONTH_OUTPERFORM_MARKET_AMT', 'MONTHLY_FINISH_RATE'],
      },
      {
        title: '累计',
        children: [
          'YEAR_TOTAL_PUR_AMT',
          'YEAR_TOTAL_OUTPERFORM_MARKET_AMT',
          'ANNUAL_TARGET_FINISH_RATE',
        ],
      },
    ],
    columns: [
      {
        title: '部门',
        dataIndex: 'BUS_DEPT_NAME',
        key: 'BUS_DEPT_NAME',
        width: '25%',
        ellipsis: false,
      },
      {
        title: '目标',
        dataIndex: 'INDICATOR_ANNUAL_TARGET',
        key: 'INDICATOR_ANNUAL_TARGET',
        formatter: 'rate5',
      },
      {
        title: '采购实绩',
        dataIndex: 'MONTH_PUR_AMT',
        key: 'MONTH_PUR_AMT',
        formatter: 'rate5',
      },
      {
        title: '跑赢金额',
        dataIndex: 'MONTH_OUTPERFORM_MARKET_AMT',
        key: 'MONTH_OUTPERFORM_MARKET_AMT',
        formatter: 'rate5',
      },
      {
        title: '跑赢比例',
        dataIndex: 'MONTHLY_FINISH_RATE',
        key: 'MONTHLY_FINISH_RATE',
        formatter: 'rate3',
      },
      {
        title: '采购实绩',
        dataIndex: 'YEAR_TOTAL_PUR_AMT',
        key: 'YEAR_TOTAL_PUR_AMT',
        formatter: 'rate5',
      },
      {
        title: '跑赢金额',
        dataIndex: 'YEAR_TOTAL_OUTPERFORM_MARKET_AMT',
        key: 'YEAR_TOTAL_OUTPERFORM_MARKET_AMT',
        formatter: 'rate5',
      },
      {
        title: '跑赢比例',
        dataIndex: 'ANNUAL_TARGET_FINISH_RATE',
        key: 'ANNUAL_TARGET_FINISH_RATE',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search4 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      cb04.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    cb04.columnKeyList = res2.data;
  };
  const cb04OnClickModal = (callback) => {
    callback('采购降本跑赢市场（单位：万元）');
  };
  const cb04dataSource = async (centralregion) => {
    await search4(2023042512165505, props.conditionalmonth);
    const cans = {
      relations: [
        {
          filterField: 'AREA_NAME',
          filterValues: [centralregion],
          widgetId: 2023042512165505,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      const dataMap = result.data['2023042512165505'].dataMap;
      cb04.dataSource = Transformer.toTableData3(
        result.data,
        '2023042512165505',
        cb04.keyColumnNameList,
        cb04.columnKeyList,
      );
      BUS_DEPT_NAME4.value = dataMap.BUS_DEPT_NAME[0];
      getechartCB05();
    });
  };
  const BUS_DEPT_NAME4 = ref('');
  const oncb04Clicked = (record) => {
    BUS_DEPT_NAME4.value = record.BUS_DEPT_NAME;
    getechartCB05();
  };
  const echartCB05 = reactive({
    chart: [],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const getechartCB05 = () => {
    const cans = {
      relations: [
        {
          filterField: 'AREA_NAME',
          filterValues: [props.conditionalmonth],
          widgetId: 2023053012165505,
        },
        {
          filterField: 'BUS_DEPT_NAME',
          filterValues: [BUS_DEPT_NAME4.value],
          widgetId: 2023053012165505,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      const dataMap = result.data['2023053012165505'].dataMap;
      echartCB05.xAxis = dataMap.YM;
      echartCB05.series = TransCharts.echartsSeries(dataMap.MONTH_OUTPERFORM_MARKET_AMT);
    });
  };

  const cb05 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '当月',
        children: ['PUR_AMT', 'DIFF_PUR_AMT', 'DIFF_RATIO', 'MONTH_OUTPERFORM_MARKET_AMT'],
      },
      {
        title: '累计',
        children: [
          'YEAR_TOTAL_PUR_AMT',
          'YEAR_TOTAL_DIFF_PUR_AMT',
          'YEAR_TOTAL_DIFF_RATIO',
          'YEAR_TOTAL_OUTPERFORM_MARKET_AMT',
        ],
      },
    ],
    columns: [
      { title: '钢铁基地', dataIndex: 'BASE_NAME', key: 'BASE_NAME' },
      {
        title: 'PPI环比2022年',
        dataIndex: 'PPI_MOMR',
        key: 'PPI_MOMR',
        formatter: 'rate10',
      },
      {
        title: '采购实绩',
        dataIndex: 'PUR_AMT',
        key: 'PUR_AMT',
        formatter: 'rate5',
      },
      {
        title: '价差增减额',
        dataIndex: 'DIFF_PUR_AMT',
        key: 'DIFF_PUR_AMT',
        formatter: 'rate5',
      },
      {
        title: '增减比例',
        dataIndex: 'DIFF_RATIO',
        key: 'DIFF_RATIO',
        formatter: 'rate3',
      },
      {
        title: '跑赢金额',
        dataIndex: 'MONTH_OUTPERFORM_MARKET_AMT',
        key: 'MONTH_OUTPERFORM_MARKET_AMT',
        formatter: 'rate5',
      },
      {
        title: '采购实绩',
        dataIndex: 'YEAR_TOTAL_PUR_AMT',
        key: 'YEAR_TOTAL_PUR_AMT',
        formatter: 'rate5',
      },
      {
        title: '价差增减额',
        dataIndex: 'YEAR_TOTAL_DIFF_PUR_AMT',
        key: 'YEAR_TOTAL_DIFF_PUR_AMT',
        formatter: 'rate5',
      },
      {
        title: '增减比例',
        dataIndex: 'YEAR_TOTAL_DIFF_RATIO',
        key: 'YEAR_TOTAL_DIFF_RATIO',
        formatter: 'rate3',
      },
      {
        title: '跑赢金额',
        dataIndex: 'YEAR_TOTAL_OUTPERFORM_MARKET_AMT',
        key: 'YEAR_TOTAL_OUTPERFORM_MARKET_AMT',
        formatter: 'rate5',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search5 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      cb05.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    cb05.columnKeyList = res2.data;
  };
  const cb05OnClickModal = (callback) => {
    callback('采购降本跑赢PPI（单位：万元）');
  };
  const cb05dataSource = async (centralregion) => {
    await search5(2023042512165506, props.conditionalmonth);
    const cans = {
      relations: [
        {
          filterField: 'BIG_ZONE_NAME',
          filterValues: [centralregion],
          widgetId: 2023042512165506,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      const dataMap = result.data['2023042512165506'].dataMap;
      cb05.dataSource = Transformer.toTableData3(
        result.data,
        '2023042512165506',
        cb05.keyColumnNameList,
        cb05.columnKeyList,
      );
      BUS_DEPT_NAME5.value = dataMap.BASE_NAME[0];
      getechartCB06();
    });
  };
  const BUS_DEPT_NAME5 = ref('');
  const oncb05Clicked = (record) => {
    BUS_DEPT_NAME5.value = record.BASE_NAME;
    getechartCB06();
  };
  const echartCB06 = reactive({
    chart: [],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const getechartCB06 = () => {
    const cans = {
      relations: [
        {
          filterField: 'BIG_ZONE_NAME',
          filterValues: [props.conditionalmonth],
          widgetId: 2023060112165506,
        },
        {
          filterField: 'BASE_NAME',
          filterValues: [BUS_DEPT_NAME5.value],
          widgetId: 2023060112165506,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      console.log(result);
      const dataMap = result.data['2023060112165506'].dataMap;
      echartCB06.xAxis = dataMap.PUR_YM;
      echartCB06.series = TransCharts.echartsSeries(dataMap.MONTH_OUTPERFORM_MARKET_AMT);
    });
  };

  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal.value.changeInfo(widgetId, columns, res.data, areaName);
  };
  const dialogClose = () => {
    state.visible = false;
  };
</script>

<style lang="less" scoped>
  .blockstyle {
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }
</style>
