<template>
  <a-row :gutter="[16, 10]">
    <a-col :md="{ span: 24 }">
      <div class="blockstyle sbstyle">
        <p class="title">
          原料采购价格汇总（单位：万元）
          <edit-outlined
            clsss="editOut"
            @click="showV(2023052412165505, sc02.columns, props.conditionalmonth)"
          />
        </p>
        <MergeTable
          :filter="filterData"
          :widget-id="2023052412165505"
          :has-header="false"
          :data-list="sc02.dataSource"
          :column-list="sc02.columns"
          :column-groups="sc02.columnGroups"
          :formatter="tableStyle.formatter"
          :cell-color="regionalTableStyle.cellColor"
        />
      </div>
    </a-col>
    <a-col :md="{ span: 14 }">
      <div class="blockstyle sbstyle" style="height: 555px">
        <p class="title">
          物料采购价格汇总（单位：万元）
          <edit-outlined
            clsss="editOut"
            @click="showV(2023052516948101, sc01.columns, props.conditionalmonth)"
          />
        </p>
        <MergeTable
          :filter="filterData"
          :widget-id="2023052516948101"
          :has-header="false"
          :data-list="sc01.dataSource"
          :column-list="sc01.columns"
          :formatter="tableStyle.formatter"
          :scroll="{ y: 450 }"
          @cellClicked="onsc01Clicked"
        />
      </div>
    </a-col>
    <a-col :md="{ span: 10 }">
      <div class="blockstyle sbstyle">
        <p class="title"> {{ YAXIS_NAME }}物料采购价格趋势 </p>
        <div style="height: 500px">
          <StackedColumnFoldMixedChart
            :legendone="echartSc01.chart"
            :x-axis="echartSc01.xAxis"
            :y-axis="echartSc01.yAxis"
            :series="echartSc01.series"
          />
        </div>
      </div>
    </a-col>
    <a-col :md="{ span: 24 }">
      <div class="blockstyle sbstyle">
        <p class="title">
          {{ MAT_NAME }}物料采购价格汇总明细（单位：万元）
          <edit-outlined
            clsss="editOut"
            @click="showV(2023052516948103, sc03.columns, props.conditionalmonth)"
          />
        </p>
        <MergeTable
          :filter="filterData"
          :widget-id="2023052516948103"
          :has-header="false"
          :data-list="sc03.dataSource"
          :column-list="sc03.columns"
          :formatter="tableStyle.formatter"
        />
      </div>
    </a-col>
    <ShowModal ref="showModal" :visible="state.visible" @close="dialogClose"></ShowModal>
  </a-row>
</template>

<script setup lang="ts">
  import { reactive, nextTick, ref, defineExpose } from 'vue';
  import { StackedColumnFoldMixedChart } from '../componentfile';
  import regionalTableStyle from './components/regionalTableStyle';
  import { MergeTable } from '@/components/business';
  import tableStyle from '@/views/strategyTracking/modulefile/components/tableStyle';
  import { queryAggregate, searchAllocate, remarkCount, getWidget } from '@/api/strategyTracking';
  import ShowModal from '@/views/strategyTracking/modulefile/components/ShowModal.vue';
  import Transformer from '@/views/strategyTracking/modulefile/components/transformer';
  const props = defineProps({
    conditionalmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const InitialCall = () => {
    nextTick(() => {
      filterData.value.area = props.conditionalmonth;
      sc01dataSource();
      sc02dataSource();
    });
  };

  defineExpose({
    InitialCall,
  });
  const filterData = ref({});
  const sc02 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '涨跌幅（较上年均价）',
        children: [
          'BDGT_PRICE_COMPARE_LASTYEAR_AVG_PRICE_DIFF',
          'CURYEAR_AVG_PRICE_COMPARE_LASTYEAR_AVG_PRICE_DIFF',
          'MONTH_AVG_PRICE_COMPARE_LASTYEAR_AVG_PRICE_DIFF',
        ],
      },
    ],
    columns: [
      { title: '品类', dataIndex: 'CAT_NAME', key: 'CAT_NAME' },
      { title: '主要原料', dataIndex: 'RAW_NAME', key: 'RAW_NAME' },
      {
        title: '上年均价',
        dataIndex: 'LASTYEAR_MARKET_AVG_PRICE',
        key: 'LASTYEAR_MARKET_AVG_PRICE',
        formatter: 'rate5',
      },
      {
        title: '本年预算价',
        dataIndex: 'CURYEAR_BDGT_PRICE',
        key: 'CURYEAR_BDGT_PRICE',
        formatter: 'rate5',
      },
      {
        title: '本年均价',
        dataIndex: 'CURYEAR_MARKET_AVG_PRICE',
        key: 'CURYEAR_MARKET_AVG_PRICE',
        formatter: 'rate5',
      },
      {
        title: '本月均价',
        dataIndex: 'MONTHLY_MARKET_AVG_PRICE',
        key: 'MONTHLY_MARKET_AVG_PRICE',
        formatter: 'rate5',
      },
      {
        title: '预算',
        dataIndex: 'BDGT_PRICE_COMPARE_LASTYEAR_AVG_PRICE_DIFF',
        key: 'BDGT_PRICE_COMPARE_LASTYEAR_AVG_PRICE_DIFF',
        formatter: 'rate3',
      },
      {
        title: '当年',
        dataIndex: 'CURYEAR_AVG_PRICE_COMPARE_LASTYEAR_AVG_PRICE_DIFF',
        key: 'CURYEAR_AVG_PRICE_COMPARE_LASTYEAR_AVG_PRICE_DIFF',
        formatter: 'rate3',
        mergeColumn:
          'BDGT_PRICE_COMPARE_LASTYEAR_AVG_PRICE_DIFF,CURYEAR_AVG_PRICE_COMPARE_LASTYEAR_AVG_PRICE_DIFF',
        emphasisColor: 'colorsc02page01',
        after: 'CURYEAR_AVG_PRICE_COMPARE_LASTYEAR_AVG_PRICE_DIFF',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      {
        title: '本月',
        dataIndex: 'MONTH_AVG_PRICE_COMPARE_LASTYEAR_AVG_PRICE_DIFF',
        key: 'MONTH_AVG_PRICE_COMPARE_LASTYEAR_AVG_PRICE_DIFF',
        formatter: 'rate3',
        mergeColumn:
          'BDGT_PRICE_COMPARE_LASTYEAR_AVG_PRICE_DIFF,MONTH_AVG_PRICE_COMPARE_LASTYEAR_AVG_PRICE_DIFF',
        emphasisColor: 'colorsc02page02',
        after: 'MONTH_AVG_PRICE_COMPARE_LASTYEAR_AVG_PRICE_DIFF',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      { title: '单位', dataIndex: 'UOM', key: 'UOM' },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search2 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      sc02.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    sc02.columnKeyList = res2.data;
  };
  const sc02dataSource = async () => {
    await search2(2023052412165505, props.conditionalmonth);
    getWidget({ widgetId: 2023052412165505 }).then((result) => {
      sc02.dataSource = Transformer.toTableData3(
        result.data,
        '',
        sc02.keyColumnNameList,
        sc02.columnKeyList,
      );
    });
  };

  const sc01 = reactive({
    dataSource: [],
    columns: [
      { title: '序号', dataIndex: 'SORT', key: 'SORT' },
      { title: '物料名称', dataIndex: 'MAT_NAME', key: 'MAT_NAME' },
      {
        title: '上年采购均价',
        dataIndex: 'LASTYEAR_PUR_AVG_PRICE',
        key: 'LASTYEAR_PUR_AVG_PRICE',
        formatter: 'rate5',
      },
      {
        title: '本年预算金额',
        dataIndex: 'CURYEAR_PUR_BDGT_AMT',
        key: 'CURYEAR_PUR_BDGT_AMT',
        formatter: 'rate5',
      },
      {
        title: '本月采购均价',
        dataIndex: 'MONTH_PUR_AVG_PRICE',
        key: 'MONTH_PUR_AVG_PRICE',
        formatter: 'rate5',
      },
      {
        title: '月环比',
        dataIndex: 'MONTH_MOMR_GROWTH_RATE',
        key: 'MONTH_MOMR_GROWTH_RATE',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search1 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      sc01.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    sc01.columnKeyList = res2.data;
  };
  const sc01dataSource = async () => {
    await search1(2023052516948101, props.conditionalmonth);
    getWidget({ widgetId: 2023052516948101 }).then((result) => {
      const dataMap = result.data.dataMap;
      sc01.dataSource = Transformer.toTableData3(
        result.data,
        '',
        sc01.keyColumnNameList,
        sc01.columnKeyList,
      );
      MAT_NAME.value = dataMap.MAT_NAME[0];
      sc03dataSource();
      scechart01();
    });
  };
  const MAT_NAME = ref('');
  const YAXIS_NAME = ref('');
  const onsc01Clicked = (record) => {
    MAT_NAME.value = record.MAT_NAME;
    sc03dataSource();
    scechart01();
  };

  const sc03 = reactive({
    dataSource: [],
    columns: [
      { title: '类型', dataIndex: 'MAT_TYPE', key: 'MAT_TYPE' },
      { title: '名称', dataIndex: 'RAW_NAME', key: 'RAW_NAME' },
      {
        title: '标杆价',
        dataIndex: 'LASTYEAR_PUR_AVG_PRICE',
        key: 'LASTYEAR_PUR_AVG_PRICE',
        formatter: 'rate5',
      },
      { title: '1月价格', dataIndex: 'JAN_AVG_PRICE', key: 'JAN_AVG_PRICE', formatter: 'rate5' },
      { title: '2月价格', dataIndex: 'FEB_AVG_PRICE', key: 'FEB_AVG_PRICE', formatter: 'rate5' },
      { title: '3月价格', dataIndex: 'MAR_AVG_PRICE', key: 'MAR_AVG_PRICE', formatter: 'rate5' },
      { title: '4月价格', dataIndex: 'APR_AVG_PRICE', key: 'APR_AVG_PRICE', formatter: 'rate5' },
      { title: '5月价格', dataIndex: 'MAY_AVG_PRICE', key: 'MAY_AVG_PRICE', formatter: 'rate5' },
      { title: '6月价格', dataIndex: 'JUN_AVG_PRICE', key: 'JUN_AVG_PRICE', formatter: 'rate5' },
      { title: '7月价格', dataIndex: 'JUL_AVG_PRICE', key: 'JUL_AVG_PRICE', formatter: 'rate5' },
      { title: '8月价格', dataIndex: 'AUG_AVG_PRICE', key: 'AUG_AVG_PRICE', formatter: 'rate5' },
      { title: '9月价格', dataIndex: 'SEP_AVG_PRICE', key: 'SEP_AVG_PRICE', formatter: 'rate5' },
      { title: '10月价格', dataIndex: 'OCT_AVG_PRICE', key: 'OCT_AVG_PRICE', formatter: 'rate5' },
      { title: '11月价格', dataIndex: 'NOV_AVG_PRICE', key: 'NOV_AVG_PRICE', formatter: 'rate5' },
      { title: '12月价格', dataIndex: 'DEC_AVG_PRICE', key: 'DEC_AVG_PRICE', formatter: 'rate5' },
      {
        title: '环比',
        dataIndex: 'MONTH_MOMR_GROWTH_RATE',
        key: 'MONTH_MOMR_GROWTH_RATE',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search3 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      sc03.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    sc03.columnKeyList = res2.data;
  };
  const sc03dataSource = async () => {
    await search3(2023052516948103, props.conditionalmonth);
    const cans = {
      relations: [
        {
          filterField: 'MAT_NAME',
          filterValues: [MAT_NAME.value],
          widgetId: 2023052516948103,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      sc03.dataSource = Transformer.toTableData3(
        result.data,
        '2023052516948103',
        sc03.keyColumnNameList,
        sc03.columnKeyList,
      );
    });
  };

  const echartSc01 = reactive({
    chart: [
      '2023年采购预算',
      '2023年预算前提',
      '2022年采购均价',
      '2023年月度采购均价',
      '2023年月度市场均价',
    ],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [
      {
        name: '2023年采购预算',
        type: 'line',
        smooth: false,
        data: [],
        tooltip: {
          valueFormatter(value) {
            return XiaoShuText(value);
          },
        },
      },
      {
        name: '2023年预算前提',
        type: 'line',
        smooth: false,
        data: [],
        tooltip: {
          valueFormatter(value) {
            return XiaoShuText(value);
          },
        },
      },
      {
        name: '2022年采购均价',
        type: 'line',
        smooth: false,
        data: [],
        tooltip: {
          valueFormatter(value) {
            return XiaoShuText(value);
          },
        },
      },
      {
        name: '2023年月度采购均价',
        type: 'line',
        smooth: false,
        data: [],
        tooltip: {
          valueFormatter(value) {
            return XiaoShuText(value);
          },
        },
      },
      {
        name: '2023年月度市场均价',
        type: 'line',
        smooth: false,
        data: [],
        tooltip: {
          valueFormatter(value) {
            return XiaoShuText(value);
          },
        },
      },
    ],
  });
  const scechart01 = async () => {
    const cans = {
      relations: [
        {
          filterField: 'MAT_NAME',
          filterValues: [MAT_NAME.value],
          widgetId: 2023052516948102,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      const dataMap = result.data['2023052516948102'].dataMap;
      echartSc01.xAxis = dataMap.YM;
      echartSc01.series[0].data = dataMap.CURYEAR_PUR_BDGT_AMT;
      echartSc01.series[1].data = dataMap.CURYEAR_BDGT_PRICE;
      echartSc01.series[2].data = dataMap.LASTYEAR_PUR_AVG_PRICE;
      echartSc01.series[3].data = dataMap.MONTH_PUR_AVG_PRICE;
      echartSc01.series[4].data = dataMap.MONTHLY_MARKET_AVG_PRICE;
      YAXIS_NAME.value = dataMap.YAXIS_NAME[0];
    });
  };

  const XiaoShuText = (text) => {
    if (text === '-') {
      return text;
    } else {
      return parseFloat(text).toFixed(1);
    }
  };

  const showModal = ref(null);
  const state = reactive({
    visible: false,
  });
  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal.value.changeInfo(widgetId, columns, res.data, areaName);
  };
  const dialogClose = () => {
    state.visible = false;
  };
</script>

<style lang="less" scoped>
  .blockstyle {
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }
</style>
