<template>
  <a-row v-if="props.conditionalmonth !== '设备品类中心'" :gutter="[16, 10]">
    <a-col :md="{ span: 14 }">
      <div class="blockstyle sbstyle" style="height: 600px">
        <p class="title"
          >采购计划完成率<edit-outlined
            clsss="editOut"
            @click="showV(2023042416175060, xl01.columns, props.conditionalmonth)"
        /></p>
        <MergeTable
          :filter="filterData"
          :widget-id="2023042416175060"
          :has-header="false"
          :data-list="xl01.dataSource"
          :column-list="xl01.columns"
          :column-groups="xl01.columnGroups"
          :formatter="tableStyle.formatter"
          :cell-color="regionalTableStyle.cellColor"
          :scroll="{ y: 430 }"
          @cellClicked="onxl01Clicked"
          @cutomHeaderRow="xl01OnClickModal"
        />
      </div>
    </a-col>
    <a-col :md="{ span: 10 }">
      <div class="blockstyle" style="height: 600px">
        <p class="title">{{ BUS_DEPT_NAME1 }}趋势图</p>
        <div style="height: 550px">
          <StackedColumnFoldMixedChart
            :legendone="xlechart01.chart"
            :x-axis="xlechart01.xAxis"
            :y-axis="xlechart01.yAxis"
            :series="xlechart01.series"
          />
        </div>
      </div>
    </a-col>
    <a-col :md="{ span: 12 }">
      <div class="blockstyle" style="height: 600px">
        <p class="title">A单超期（90天）未核销</p>
        <div style="height: 550px">
          <StackedColumnFoldMixedChart
            :legendone="xlechart02.chart"
            :x-axis="xlechart02.xAxis"
            :y-axis="xlechart02.yAxis"
            :series="xlechart02.series"
            @chartClick="xlechart02onclick"
          />
        </div>
      </div>
    </a-col>
    <a-col :md="{ span: 12 }">
      <div class="blockstyle sbstyle" style="height: 600px">
        <p class="title"
          >A单超期（90天）未核销详情<edit-outlined
            clsss="editOut"
            @click="showV(2023042414150760, xl02.columns, props.conditionalmonth)"
        /></p>
        <MergeTable
          :filter="filterData"
          :widget-id="2023042414150760"
          :has-header="false"
          :data-list="xl02.dataSource"
          :column-list="xl02.columns"
          :column-groups="xl02.columnGroups"
          :formatter="tableStyle.formatter"
          :scroll="{ y: 460 }"
          @cutomHeaderRow="xl02OnClickModal"
        />
      </div>
    </a-col>
    <ShowModal ref="showModal" :visible="state.visible" @close="dialogClose"></ShowModal>
  </a-row>
  <RegionalcenterXlPageSbplzx ref="XlPageSbplzx" :conditionalmonth="props.conditionalmonth" />
</template>

<script setup lang="ts">
  import { defineExpose, nextTick, reactive, ref } from 'vue';
  import { StackedColumnFoldMixedChart } from '../componentfile';
  import { RegionalcenterXlPageSbplzx } from './subpages';
  import { MergeTable } from '@/components/business';
  import tableStyle from '@/views/strategyTracking/modulefile/components/tableStyle';
  import { queryAggregate, searchAllocate, remarkCount } from '@/api/strategyTracking';
  import TransCharts from '@/views/strategyTracking/modulefile/components/transCharts';
  import Transformer from '@/views/strategyTracking/modulefile/components/transformer';
  import regionalTableStyle from '@/views/strategyTracking/modulefile/components/regionalTableStyle';
  import ShowModal from '@/views/strategyTracking/modulefile/components/ShowModal.vue';

  defineOptions({
    name: 'RegionalcenterXlPage',
    inheritAttrs: false,
  });
  const showModal = ref(null);
  const state = reactive({
    visible: false,
  });
  const filterData = ref({});
  const props = defineProps({
    conditionalmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const XlPageSbplzx = ref();
  const sbplzxshow = ref();
  const Initialloading = () => {
    nextTick(() => {
      filterData.value.area = props.conditionalmonth;
      if (props.conditionalmonth !== '设备品类中心') {
        xl01dataSource(props.conditionalmonth);
        getxlechart01();
        getxlechart02(props.conditionalmonth);
        xl02dataSource();
      }
      XlPageSbplzx.value.InitialloadingSbplzx();
    });
  };
  defineExpose({
    Initialloading,
  });

  const XiaoShuText = (text) => {
    if (text === '-') {
      return text;
    } else {
      // 完成率保留一位小数位
      return parseFloat(text).toFixed(1);
    }
  };
  const xl01 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '当月',
        children: [
          'CURMONTH_PLAN_LINE_TOTAL',
          'CURMONTH_NOT_FINISH_PLAN_LINE_NUM',
          'CURMONTH_PLAN_LINE_CPLTRATE',
        ],
      },
      {
        title: '累计',
        children: [
          'CURYEAR_PLAN_LINE_TOTAL',
          'CURYEAR_NOT_FINISH_PLAN_LINE_NUM',
          'CURYEAR_PLAN_LINE_CPLTRATE',
        ],
      },
    ],
    columns: [
      {
        title: '部门',
        dataIndex: 'BUS_DEPT_NAME',
        key: 'BUS_DEPT_NAME',
        width: '20%',
        ellipsis: false,
      },
      {
        title: '目标',
        dataIndex: 'INDICATOR_MONTHLY_TARGET',
        key: 'INDICATOR_MONTHLY_TARGET',
        formatter: 'rate3',
      },
      {
        title: '上月完成率',
        dataIndex: 'UP_MONTH_PLAN_LINE_CPLTRATE',
        key: 'UP_MONTH_PLAN_LINE_CPLTRATE',
        formatter: 'rate3',
      },
      {
        title: '应完成',
        dataIndex: 'CURMONTH_PLAN_LINE_TOTAL',
        key: 'CURMONTH_PLAN_LINE_TOTAL',
        formatter: 'rate5',
      },
      {
        title: '未完成',
        dataIndex: 'CURMONTH_NOT_FINISH_PLAN_LINE_NUM',
        key: 'CURMONTH_NOT_FINISH_PLAN_LINE_NUM',
        formatter: 'rate5',
      },
      {
        title: '完成率',
        dataIndex: 'CURMONTH_PLAN_LINE_CPLTRATE',
        key: 'CURMONTH_PLAN_LINE_CPLTRATE',
        formatter: 'rate3',
        mergeColumn: 'INDICATOR_MONTHLY_TARGET,CURMONTH_PLAN_LINE_CPLTRATE',
        emphasisColor: 'colorxl01two',
        after: 'CURMONTH_PLAN_LINE_CPLTRATE',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      {
        title: '应完成',
        dataIndex: 'CURYEAR_PLAN_LINE_TOTAL',
        key: 'CURYEAR_PLAN_LINE_TOTAL',
        formatter: 'rate5',
      },
      {
        title: '未完成',
        dataIndex: 'CURYEAR_NOT_FINISH_PLAN_LINE_NUM',
        key: 'CURYEAR_NOT_FINISH_PLAN_LINE_NUM',
        formatter: 'rate5',
      },
      {
        title: '完成率',
        dataIndex: 'CURYEAR_PLAN_LINE_CPLTRATE',
        key: 'CURYEAR_PLAN_LINE_CPLTRATE',
        formatter: 'rate3',
        mergeColumn: 'INDICATOR_MONTHLY_TARGET,CURYEAR_PLAN_LINE_CPLTRATE',
        emphasisColor: 'colorxl01one',
        after: 'CURYEAR_PLAN_LINE_CPLTRATE',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search1 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      xl01.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    xl01.columnKeyList = res2.data;
  };
  const xl01OnClickModal = (callback) => {
    callback('采购计划完成率');
  };
  const xl01dataSource = async (centralregion) => {
    await search1(2023042416175060, props.conditionalmonth);
    const cans = {
      relations: [
        {
          filterField: 'AREA_NAME',
          filterValues: [centralregion],
          widgetId: 2023042416175060,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      xl01.dataSource = Transformer.toTableData3(
        result.data,
        '2023042416175060',
        xl01.keyColumnNameList,
        xl01.columnKeyList,
      );
    });
  };
  const BUS_DEPT_NAME1 = ref('合计');
  const onxl01Clicked = (record) => {
    BUS_DEPT_NAME1.value = record.BUS_DEPT_NAME;
    getxlechart01();
  };
  let xlechart01 = reactive({
    chart: [],
    xAxis: [],
    yAxis: [{ min: 70, max: 100 }],
    series: [
      {
        type: 'line',
        data: [],
        smooth: false,
        tooltip: {
          valueFormatter(value) {
            return XiaoShuText(value);
          },
        },
        itemStyle: {
          normal: {
            label: {
              show: true,
              position: 'top',
              textStyle: { color: 'black' },
              formatter(p) {
                return XiaoShuText(p.value);
              },
            },
          },
        },
      },
    ],
  });
  const parseFunc02 = reactive({
    c01: 'YM',
    c02: 'CURMONTH_PLAN_LINE_CPLTRATE',
  });
  const getxlechart01 = () => {
    const cans = {
      relations: [
        {
          filterField: 'AREA_NAME',
          filterValues: [props.conditionalmonth],
          widgetId: 2023042416283760,
        },
        {
          filterField: 'BUS_DEPT_NAME',
          filterValues: [BUS_DEPT_NAME1.value],
          widgetId: 2023042416283760,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      xlechart01.series[0].data = [];
      xlechart01.xAxis = [];
      xlechart01 = TransCharts.echartChartsData(
        result.data,
        2023042416283760,
        parseFunc02,
        xlechart01,
      );
    });
  };

  // 本月各中心各大区A单核销数量
  let xlechart02 = reactive({
    chart: ['未超期数量', '超期未核销数量'],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [
      { name: '未超期数量', type: 'bar', data: [], color: '#91cc75' },
      { name: '超期未核销数量', type: 'bar', barGap: '0%', data: [], color: '#ee6666' },
    ],
  });
  const parseFunc03 = reactive({
    c01: 'BUS_DEPT_NAME',
    c02: 'CURMONTH_URGENT_PLAN_LINE_NOT_CANCEL_NUM',
    c03: 'CURMONTH_URGENT_PLAN_LINE_EXPIRE_NOT_CANCEL_NUM',
  });
  const BUS_DEPT_NAME = ref('其他');
  const xlechart02onclick = (params) => {
    BUS_DEPT_NAME.value = params.name;
    xl02dataSource();
  };
  const getxlechart02 = (centralregion) => {
    const cans = {
      relations: [
        {
          filterField: 'AREA_NAME',
          filterValues: [centralregion],
          widgetId: 2023042410095060,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      xlechart02.xAxis = [];
      xlechart02.series[0].data = [];
      xlechart02.series[1].data = [];
      xlechart02 = TransCharts.echartChartsData(
        result.data,
        '2023042410095060',
        parseFunc03,
        xlechart02,
      );
    });
  };

  const xl02 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: 'A单行',
        children: [
          'URGENT_PLAN_LINE_RECEIVE_DATE',
          'URGENT_PLAN_LINE_CANCEL_DAYS',
          'URGENT_PLAN_TYPE_NAME',
        ],
      },
    ],
    columns: [
      {
        title: '未核销单号',
        dataIndex: 'URGENT_PLAN_ROWNO',
        key: 'URGENT_PLAN_ROWNO',
        ellipsis: false,
      },
      {
        title: '收货日期',
        dataIndex: 'URGENT_PLAN_LINE_RECEIVE_DATE',
        key: 'URGENT_PLAN_LINE_RECEIVE_DATE',
      },
      {
        title: '核销天数',
        dataIndex: 'URGENT_PLAN_LINE_CANCEL_DAYS',
        key: 'URGENT_PLAN_LINE_CANCEL_DAYS',
      },
      { title: '类型', dataIndex: 'URGENT_PLAN_TYPE_NAME', key: 'URGENT_PLAN_TYPE_NAME' },
      { title: '部门', dataIndex: 'BUS_DEPT_NAME', key: 'BUS_DEPT_NAME' },
      { title: '物料名称', dataIndex: 'MAT_NAME', key: 'MAT_NAME' },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search2 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      xl02.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    xl02.columnKeyList = res2.data;
  };
  const xl02OnClickModal = (callback) => {
    callback('A单超期（90天）未核销详情');
  };
  const xl02dataSource = async () => {
    await search2(2023042414150760, props.conditionalmonth);
    const cans = {
      relations: [
        {
          filterField: 'BUS_DEPT_NAME',
          filterValues: [BUS_DEPT_NAME.value],
          widgetId: 2023042414150760,
        },
        {
          filterField: 'AREA_NAME',
          filterValues: [props.conditionalmonth],
          widgetId: 2023042414150760,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      xl02.dataSource = Transformer.toTableData3(
        result.data,
        '2023042414150760',
        xl02.keyColumnNameList,
        xl02.columnKeyList,
      );
    });
  };
  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal.value.changeInfo(widgetId, columns, res.data, areaName);
  };
  const dialogClose = () => {
    state.visible = false;
  };
</script>

<style lang="less" scoped>
  .blockstyle {
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }
</style>
