// 全局使用，目前入口文件处引用
//紧凑型表格样式处理
// .ant-table.ant-table-small .ant-table-tbody > tr.ant-table-row > td {
//   line-height: 20px;
//   padding: 6px 8px !important;

//   .ant-avatar {
//     height: 20px;
//     width: 20px;
//   }

//   .ant-btn {
//     height: 20px;
//     line-height: 20px;
//     padding: 0 10px;
//   }
// }

// .ant-table.ant-table-small .ant-table-thead > tr > th {
//   padding: 6px 8px !important;
// }

//首页表格
// .ant-table.ant-table-middle .ant-table-tbody > tr > td,
// .ant-table.ant-table-middle .ant-table-thead > tr > th {
//   padding: 6px 8px;
// }

.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
  padding: 0 10px;
}
//查询表单样式优化为紧凑型
.ant-form.pr-24px {
  padding-top: 12px !important;
}

.ant-form-item {
  margin: 0 0 12px;
}
