<template>
  <div class="action">
    <!-- <a-tooltip>
      <template #title>全屏切换</template>
      <fullscreen-outlined v-if="!store.chartsResize" @click="fullscreen(true)" />
      <fullscreen-exit-outlined v-else @click="fullscreen(false)" />
    </a-tooltip> -->
    <a-tooltip>
      <template #title>执行结果</template>
      <play-circle-outlined @click="TestAction" />
    </a-tooltip>
    <a-tooltip>
      <template #title>保存</template>
      <save-outlined style="color: #0099ff" @click="SaveAction" />
    </a-tooltip>
  </div>
</template>

<script setup lang="ts">
  import TestAction from './TestAction';
  import SaveAction from './SaveAction';
  defineOptions({
    name: 'action',
  });
  // const store = chartConfigurations();

  // const fullscreen = (flag) => {
  //   store.chartsResize = flag;
  // };
</script>

<style lang="less" scoped>
  .action {
    display: flex;
    justify-content: flex-end;

    .anticon,
    img {
      margin-left: 8px;
      height: 16px;
      font-size: 16px;
      user-select: none;
    }
  }
</style>
