<template>
  <div>
    <a-descriptions :column="4" class="textItem">
      <a-descriptions-item label="模型组编码">
        <span> {{ props.keyData.modelGroupCode }}</span>
      </a-descriptions-item>

      <a-descriptions-item label="运行周期">
        <span> {{ props.keyData.cronDesc }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="创建人">
        <span> {{ props.keyData.createUserName }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="模型组名称">
        <span :title="props.keyData.sid"> {{ props.keyData.modelGroupName }}</span>
      </a-descriptions-item>
      <!-- <a-descriptions-item label="自动推送规则">
        <span :title="props.keyData.sid"> {{ '' }}</span>
      </a-descriptions-item> -->
      <a-descriptions-item label="模型组管理员">
        <span> {{ props.keyData.targetUsernames || '-' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="创建时间">
        <span> {{ props.keyData.createTime || '-' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="修改人">
        <span> {{ props.keyData.updateUserName || '-' }}</span>
      </a-descriptions-item>
      <a-descriptions-item label="修改时间">
        <span> {{ props.keyData.updateTime || '-' }}</span>
      </a-descriptions-item>
      <a-descriptions-item v-if="sid" label="待办编号">
        <span> {{ sid }}</span>
      </a-descriptions-item>
    </a-descriptions>
    <a-descriptions :column="1" class="textItem">
      <a-descriptions-item label="包含模型">
        <a-tag v-for="(x, index) in tagArr" :key="index">{{ x }}</a-tag>
        <!-- <span :title="props.keyData.modelNames"> {{ props.keyData.modelNames }}</span> -->
      </a-descriptions-item>
    </a-descriptions>
  </div>
</template>

<script setup lang="tsx">
  import { computed } from 'vue';

  const props = defineProps({
    keyData: {
      type: Object,
      default: () => {
        return {};
      },
    },
    sid: {
      type: Number,
      default: () => {
        return null;
      },
    },
  });
  const tagArr = computed(() => {
    return props.keyData.modelNames.split(',');
  });
  // const filterBizSystem = (val) => {
  //   if (val != null) {
  //     return proxy.$dict.getItemText('bizSystem', val);
  //   } else {
  //     return false;
  //   }
  // };
</script>
<style scoped>
  .textItem {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 200px;
  }
</style>
