<template>
  <div>
    <a-modal
      v-model:visible="infovisible"
      destroy-on-close
      width="90%"
      :footer="null"
      @ok="handleOk"
      @cancel="handleOk"
    >
      <span class="descriptions-title">具体模型关键信息</span>
      <a-divider style="margin: 10px 0" />
      <a-card :bordered="false" :loading="state.loading" style="width: 100%" class="info">
        <!-- 空状态     -->
        <a-empty v-if="state.cluesInformation.length == 0" />
        <a-card
          v-for="(item, index) in state.cluesInformation"
          :key="index"
          :title="item.title"
          :border="false"
          style="margin-bottom: 20px"
        >
          <a-descriptions
            :column="3"
            style="overflow: hidden; overflow-y: scroll; max-height: 200px"
          >
            <a-descriptions-item v-for="(i, key) in item.list" :key="key">
              <span class="info-text" :title="i"> {{ i || '-' }}</span>
            </a-descriptions-item>
          </a-descriptions>
        </a-card>
      </a-card>
      <!-- 待办处理 -->
      <span class="descriptions-title">待办处理</span>
      <a-divider style="margin: 10px 0" />
      <a-card :bordered="false" style="width: 100%">
        <!-- 模型组待办处理 -->
        <ModelGroupProcess ref="ModelGroupProcessRef" @search="handleOk"></ModelGroupProcess>
      </a-card>
      <!-- 模型信息 -->
      <span class="descriptions-title">模型组基本信息</span>
      <a-divider style="margin: 10px 0" />
      <a-card :bordered="false" style="width: 100%">
        <key-information :key-data="state.keyData"></key-information>
      </a-card>
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, nextTick } from 'vue';
  // import { message } from 'ant-design-vue';
  // import basicNews from './basicNews.vue';
  import keyInformation from './keyInformation.vue';
  import ModelGroupProcess from './ModelGroupProcess';
  import 'ant-design-vue/lib/button/style';
  import { getModelGroupInfo, modelGroupDetail } from '@/api/supervisionGovern';
  const infovisible = ref(false);
  const ModelGroupProcessRef = ref();

  const emit = defineEmits(['search']);
  const state = reactive({
    lineOfDefenseTypeFlag: null,
    cluesInformation: [], //关键信息
    modelData: {},
    cueProcessingparameters: {}, // 线索处理参数
    modelInformation: {},
    loading: false,
    modelloading: false,
    id: '',
    clueName: '',
    customStyle: 'border: 0',
    modelList: false,
    roleId: [],
    beforeUser: '',
    status: '',
    sid: '',
    keyData: {}, //关键信息
    todoLinkCode: '00',
    temporaryFlag: 1, //暂存标识
    temporaryData: '', //暂存的待办信息
  });
  const details = (scope) => {
    // console.log('scope', scope);
    state.beforeUser = scope.beforeUser;
    state.status = scope.auditStatus;
    state.id = scope.modelId;
    state.sid = scope.id; //待办编号
    state.clueName = scope.recordKey;
    modelGroupDetailFn(scope); //模型组关键信息
    getModelGroupInfoFn(scope.modelId); //模型组详细信息展示
    state.temporaryFlag = scope.temporaryFlag;
    state.temporaryData = scope.temporaryData;
    state.todoLinkCode = scope.todoLinkCode; //待办关键信息-处理建议是否显示+只有检查人员显示处理建议
    //显示待办处理
    nextTick(() => {
      ModelGroupProcessRef.value.processHandle(scope);
    });
  };
  const getModelGroupInfoFn = (groupId) => {
    const params = {
      groupId,
    };
    getModelGroupInfo(params).then((res) => {
      console.log(res);
      state.keyData = {}; //可能会有为null的数据
      if (res.code == 'OK') {
        if (res.data != null) {
          state.keyData = res.data;
        }
      }
    });
  };
  const modelGroupDetailFn = (record) => {
    state.loading = true;
    const params = {
      dataModelId: record.modelId,
      filters: [
        {
          columnName: '_hoodie_record_key',
          filterType: '=',
          columnType: '',
          values: [record.recordKey],
        },
      ],
    };
    modelGroupDetail(params)
      .then((res) => {
        state.cluesInformation = [];
        state.loading = false;
        if (res.code == 'OK') {
          if (res.data != null) {
            const _obj = res.data;
            const newList = cluesInformationFn(_obj);
            newList.forEach((item) => {
              const _listItem = item.list.split(',');
              state.cluesInformation.push({
                title: item.title,
                list: _listItem,
              });
            });
            // let obj = { label: '', value: '' };
            // res.data.forEach((item) => {
            //   obj = {
            //     label: item.substring(0, item.indexOf(':') - 1),
            //     value: item.substring(item.indexOf(':') + 1, item.length),
            //   };
            //   state.cluesInformation.push(obj);
            // });
          }
        }
      })
      .catch(() => {
        state.loading = false;
      });
  };
  const cluesInformationFn = (_obj) => {
    const arr = [];
    for (const key in _obj) {
      arr.push({
        title: key,
        list: _obj[key],
      });
    }
    return arr;
  };
  const onChangeVisable = () => {
    infovisible.value = true;
  };

  const handleOk = () => {
    infovisible.value = false;
    emit('search');
  };
  defineExpose({ onChangeVisable, details });
</script>
<style lang="less" scoped>
  .descriptions-title {
    font-size: 16px;
  }
  .sub-btn {
    display: flex;
    justify-content: center;
  }
  .iconActive {
    position: relative !important;
    left: 55px !important;
    top: -5px !important;
    font-size: 16px !important;
    color: rgb(24, 144, 255);
  }
  .info-text {
    display: inline-block;
    max-width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>
