<template>
  <a-modal
    v-model:visible="state.modalVisible"
    width="90%"
    :mask-closable="false"
    destroy-on-close
    :footer="null"
    @cancel="cancel"
  >
    <div class="ThreadProcessingLogModel">
      <span class="descriptions-title" style="color: rgb(24, 144, 255)">模型组基本信息</span>
      <a-divider style="margin: 10px 0" />
      <a-card :bordered="false"
        ><key-information :key-data="state.groupInfo" :sid="state.sid"></key-information>
      </a-card>
      <span class="descriptions-title" style="color: rgb(24, 144, 255)">具体模型关键信息</span>
      <a-divider style="margin: 10px 0" />
      <a-card :bordered="false" :loading="state.loading" style="width: 100%" class="info">
        <!-- 空状态     -->
        <a-empty v-if="state.cluesInformation.length == 0" />
        <a-card
          v-for="(item, index) in state.cluesInformation"
          :key="index"
          :title="item.title"
          :border="false"
          style="margin-bottom: 20px"
        >
          <a-descriptions
            :column="3"
            style="overflow: hidden; overflow-y: scroll; max-height: 200px"
          >
            <a-descriptions-item v-for="(i, key) in item.list" :key="key">
              <span class="info-text" :title="i"> {{ i || '-' }}</span>
            </a-descriptions-item>
          </a-descriptions>
        </a-card>
        <!-- <a-descriptions :column="3" style="overflow: hidden; overflow-y: scroll; max-height: 200px">
          <a-descriptions-item
            v-for="(item, index) in state.cluesInformation"
            :key="index"
            :label="item.label"
          >
            <span class="info-text" :title="item.value"> {{ item.value || '-' }}</span>
          </a-descriptions-item>
        </a-descriptions> -->
      </a-card>

      <div v-if="state.dataSource1.length > 0">
        <span class="descriptions-title" style="color: rgb(24, 144, 255)">整改日志</span>
        <a-divider style="margin: 10px 0" />
        <a-table
          :columns="state.columns1"
          :data-source="state.dataSource1"
          :pagination="state.pagination1"
          :scroll="{ y: 300, x: 1200 }"
          @change="handleTableChange"
        >
          <template #bodyCell="{ column, record }">
            <template v-if="column.key === 'action'">
              <a
                v-for="(item, index) in record.attachmentDtos"
                :key="index"
                :title="item.realFileName"
                @click="filePreview(item)"
              >
                {{ item.showName }}
                <a-divider v-if="index < record.attachmentDtos.length - 1" type="vertical" />
              </a>
            </template>
          </template>
        </a-table>
      </div>
      <span class="descriptions-title" style="color: rgb(24, 144, 255)">处理日志</span>
      <a-divider style="margin: 10px 0" />
      <a-table
        :columns="state.columns"
        :data-source="state.dataSource"
        :pagination="state.pagination"
        @change="pagingChange"
      >
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'action'">
            <a
              v-for="(item, index) in record.attsList"
              :key="index"
              :title="item.realFileName"
              @click="filePreview(item)"
            >
              {{ item.showName }}
              <a-divider v-if="index < record.attsList.length - 1" type="vertical" />
            </a>
          </template>
        </template>
      </a-table>
    </div>

    <!-- 展示图片 -->
    <a-image
      :width="200"
      :style="{ display: 'none' }"
      :preview="{
        visible,
        onVisibleChange: setVisible,
      }"
      :src="state.imgUrl"
    />
  </a-modal>
</template>

<script setup lang="ts">
  import { ref, reactive, watch } from 'vue';
  import keyInformation from './keyInformation.vue';
  import {
    getDealWithLog,
    getLogList,
    getModelGroupInfo,
    modelGroupDetail,
  } from '@/api/supervisionGovern';
  import { downIng, downloadJson } from '@/utils/request';
  import dict from '@/utils/dict';
  defineOptions({
    name: 'threadProcessingLogModel',
    inheritAttrs: false,
  });
  const props = defineProps({
    visible: { type: Boolean, default: false },
    data: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });
  const visible = ref<boolean>(false);
  const setVisible = (value): void => {
    visible.value = value;
  };
  const state = reactive({
    keyData: {},
    groupInfo: {},
    modalVisible: false,
    roleFlag: false,
    id: '',
    clueName1: '',
    loading: false,
    cluesInformation: [],
    keyInfolist: {
      bizIds: '', // 业务环节
      bizSystem: '',
      businessObjs: '', // 业务对象
      handleOpinion: '', // 处理建议
      problemType: '',
      bizName: '', // 问题分类(业务环节)
      company: '', // 责任单位
      department: '', // 责任部门
      proQua: '', // 问题简述
      modelName: '', // 模型名称
      sid: '', // 待办编号
    },
    sid: '',
    loadingInfo: false,
    columns: [
      {
        title: '处理时间',
        dataIndex: 'updateTime',
        key: 'updateTime',
        width: 200,
        ellipsis: true,
      },
      {
        title: '待办环节',
        dataIndex: 'todoLink',
        key: 'todoLink',
        width: 100,
        ellipsis: true,
      },
      {
        title: '当前处理人',
        dataIndex: 'handlerUsername',
        key: 'handlerUsername',
        width: 150,
        ellipsis: true,
      },
      {
        title: '下一处理人',
        dataIndex: 'afterUser',
        key: 'afterUser',
        width: 150,
        ellipsis: true,
      },
      {
        title: '处理结果',
        dataIndex: 'handleResult',
        key: 'handleResult',
        width: 100,
        ellipsis: true,
      },
      {
        title: '处理情况',
        dataIndex: 'handleRemark',
        key: 'handleRemark',
        width: 300,
        ellipsis: true,
      },
      {
        title: '材料',
        key: 'action',
        // scopedSlots: { customRender: 'action' },
        // fixed: "right"
      },
    ],
    columns1: [
      {
        title: '处理时间',
        dataIndex: 'processTime',
        key: 'processTime',
        width: 200,
        ellipsis: true,
      },
      {
        title: '待办环节',
        key: 'todoLink',
        width: 100,
        customRender: ({ record }) => {
          return record.todoLink && '整改处理';
        },
      },
      {
        title: '当前处理人',
        dataIndex: 'processUser',
        key: 'processUser',
        width: 150,
        ellipsis: true,
      },
      {
        title: '计划整改时间',
        dataIndex: 'planCompleteTime',
        key: 'planCompleteTime',
        width: 180,
        ellipsis: true,
      },
      {
        title: '整改完成时间',
        dataIndex: 'completeTime',
        key: 'completeTime',
        width: 180,
        ellipsis: true,
      },
      {
        title: '下一处理人',
        dataIndex: 'nextProcessUser',
        key: 'nextProcessUser',
        width: 150,
        ellipsis: true,
      },
      {
        title: '处理结果',
        key: 'processResult',
        width: 100,
        customRender: ({ record }) => {
          return (
            record.processResult &&
            dict.getItemText('RECTIFICATIONLOG_AUDIT_STATUS', record.processResult)
          );
        },
      },
      {
        title: '整改类型',
        key: 'processResult',
        width: 220,
        customRender: ({ record }) => {
          const obj =
            record.type && record.type.indexOf(',') != -1 ? record.type.split(',') : [record.type];
          const type = [];
          obj.forEach((v) => {
            type.push(dict.getItemText('RECTIFY_TYPE', v));
          });
          return type.join();
        },
      },
      {
        title: '整改说明',
        dataIndex: 'explain',
        key: 'explain',
        width: 300,
        ellipsis: true,
      },
      {
        title: '整改材料',
        key: 'action',
        width: 300,
        // scopedSlots: { customRender: 'action' },
      },
    ],
    dataSource: [],
    dataSource1: [],
    // 分页配置
    pagination: {
      pageSizeOptions: ['5', '10', '20', '30', '40', '100'],
      defaultCurrent: 1,
      defaultPageSize: 5,
      showQuickJumper: true,
      showSizeChanger: true,
      showTotal: (total, range) => `显示 ${range[0]} ~ ${range[1]} 条记录，共 ${total} 条记录`,
      imgUrl: '',
    },
    pagination1: {
      pageSizeOptions: ['10', '20', '30', '40'],
      current: 1,
      pageSize: 10,
      total: 0,
      showSizeChanger: true,
      showQuickJumper: true,
      showTotal: (total, range) => `显示 ${range[0]} ~ ${range[1]} 条记录，共 ${total} 条记录`,
    },
  });

  // 分页配置
  const pagingConfig = (data) => {
    const pagination = { ...state.pagination };
    pagination.total = data.total;
    pagination.defaultPageSize = data.pageSize;
    pagination.defaultCurrent = data.pageNum;
    state.pagination = pagination;
  };
  // 获取日志
  const etDealWithLog = () => {
    const params = {
      pageNum: state.pagination.defaultCurrent ? state.pagination.defaultCurrent : 1,
      pageSize: state.pagination.defaultPageSize ? state.pagination.defaultPageSize : 10,
      recordKey: state.keyData.recordKey,
      handleCommitSeqno: state.keyData.handleCommitSeqno,
      modelId: state.keyData.modelId,
      sid: state.sid,
    };
    getDealWithLog(params).then((res) => {
      if (res.data.code === 'OK') {
        pagingConfig(res.data.data.pagination);
        state.dataSource = res.data.data.pagination.list;
      }
    });
  };
  // 整改日志
  const getList = async () => {
    const res = await getLogList({
      pageNum: state.pagination1.current,
      pageSize: state.pagination1.pageSize,
      sid: state.keyData.id,
    });
    if (res.data.code === 'OK') {
      state.dataSource1 = res.data.data;
      state.pagination1.total = res.data.total;
    }
  };
  watch(
    () => props.visible,
    (newValue) => {
      state.modalVisible = newValue;
      if (newValue) {
        getList();
      }
    },
    { deep: true },
  );
  const emits = defineEmits(['cancel']);
  const details = (record) => {
    state.sid = record.id;
    state.keyData = record;
    modelGroupDetailFn(record); //模型组关键信息
    getModelGroupInfoFn(record.modelId);
    etDealWithLog();
  };
  const getModelGroupInfoFn = (groupId) => {
    const params = {
      groupId,
    };
    getModelGroupInfo(params).then((res) => {
      if (res.code == 'OK') {
        if (res.data != null) {
          state.groupInfo = res.data;
        }
      }
    });
  };
  const modelGroupDetailFn = (record) => {
    state.loading = true;
    const params = {
      dataModelId: record.modelId,
      filters: [
        {
          columnName: '_hoodie_record_key',
          filterType: '=',
          columnType: '',
          values: [record.recordKey],
        },
      ],
    };
    modelGroupDetail(params)
      .then((res) => {
        state.cluesInformation = [];
        state.loading = false;
        if (res.code == 'OK') {
          if (res.data != null) {
            const _obj = res.data;
            const newList = cluesInformationFn(_obj);
            newList.forEach((item) => {
              const _listItem = item.list.split(',');
              state.cluesInformation.push({
                title: item.title,
                list: _listItem,
              });
            });
            // let obj = { label: '', value: '' };
            // res.data.forEach((item) => {
            //   obj = {
            //     label: item.substring(0, item.indexOf(':') - 1),
            //     value: item.substring(item.indexOf(':') + 1, item.length),
            //   };
            //   state.cluesInformation.push(obj);
            // });
          }
        }
      })
      .catch(() => {
        state.loading = false;
      });
  };
  const cluesInformationFn = (_obj) => {
    const arr = [];
    for (const key in _obj) {
      arr.push({
        title: key,
        list: _obj[key],
      });
    }
    return arr;
  };
  // 整改日志分页操作
  const handleTableChange = (pagination) => {
    state.pagination1.current = pagination.current;
    state.pagination1.pageSize = pagination.pageSize;
    getList();
  };
  // 分页操作
  const pagingChange = (selectedRowKeys) => {
    state.pagination.defaultPageSize = selectedRowKeys.pageSize;
    state.pagination.defaultCurrent = selectedRowKeys.current;
    etDealWithLog();
  };
  const filePreview = (data) => {
    const url = `p/clue/file/downLoad`;
    // 如果有base64就是图片没有就需要下载 wl
    if (data.base64) {
      downIng(url, { filePathName: data.realFileName }, data.realFileName).then((res) => {
        state.imgUrl = res.target.result;
        setImgVisible(true);
      });
    } else {
      // 文件下载
      downloadJson(
        'p/clue/file/downLoad',
        {
          filePathName: data.realFileName,
        },
        data.realFileName,
      ).then(() => {});
    }
  };
  // 查看图片
  const setImgVisible = () => {
    setVisible(true);
  };
  const cancel = () => {
    emits('cancel');
  };
  defineExpose({
    details,
  });
</script>

<style lang="less" scoped>
  .icon {
    height: 27px;
  }
  .ant-modal {
    width: 580px !important;
  }
  .ThreadProcessingLogModel {
    > header {
      height: 30%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      font-family: SourceHanSansCN-Regular;
      font-size: 14px;
      font-weight: normal;
      line-height: 22px;
      letter-spacing: 0em;
      color: rgba(0, 0, 0, 0.85);
      margin-left: -25%;
      p span {
        width: 30%;
        display: inline-block;
        text-align: right;
      }
    }
    .tableTab {
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.85);
      border-bottom: 1px solid #eeeeee;
      margin-bottom: 43px;
    }
    .imgView {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.171);
      z-index: 100;
      img {
        max-height: 100%;
        max-width: 100%;
        // min-width: 50%;
      }
      .close {
        position: absolute;
        right: 23.25rem;
        top: 8.625rem;
        font-size: 50px;
      }
    }
  }
  /deep/.ant-descriptions-item-label {
    font-weight: bold;
    // color: #000;
  }
  .descriptions-title {
    font-size: 20px;
  }
  /deep/ .ant-divider {
    margin: 0;
  }
  /deep/.ant-collapse-icon-position-right
    > .ant-collapse-item
    > .ant-collapse-header
    .ant-collapse-arrow {
    font-size: 20px;
    position: absolute;
    top: -13px;
    left: -79%;
    color: #1890ff;
  }
  /deep/.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 0;
  }
  /deep/.ant-collapse-content > .ant-collapse-content-box {
    padding: 0px;
  }
  .infoTest {
    vertical-align: bottom;
    width: 350px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    // color: red;
  }
  .infoTests {
    font-weight: bold;
    color: red;
    // font-size: 22px;
  }
  /deep/.descriptions-body {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 200px;
  }
  .flex-box {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    .flex-box-item {
      min-width: 33.33%;
      max-width: 100%;
      padding-right: 80px;
      padding-bottom: 16px;
      font-size: 14px;
      line-height: 26px;
      .title {
        color: rgba(0, 0, 0, 0.85);
        font-weight: bold;
      }
    }
  }
</style>
