<template>
  <Card :bordered="false" class="card-area">
    <Tabs default-active-key="1" size="large" @change="callback">
      <Tabs.TabPane key="1" tab="新增疑点业务" tab-bar-gutter="300px">
        <a-table
          ref="TableInfo"
          :loading="state.loading"
          :columns="state.column"
          :data-source="state.dataSource"
          :pagination="state.pagination"
          :scroll="{ y: 350 }"
          :row-class-name="setRowClassName"
          size="small"
          @change="handleChange"
        >
          <template #bodyCell="{ column, record }">
            <span
              v-if="column.dataIndex === 'modelName'"
              :class="record.readStatus == 0 ? 'modelName-font' : null"
              @click="viewModel(record)"
              >{{ record.modelName }}</span
            >
            <span v-if="column.dataIndex === 'readStatus'">{{
              record.readStatus == 0 ? '未读' : '已读'
            }}</span>
          </template>
        </a-table>
      </Tabs.TabPane>
    </Tabs>
    <ModelView ref="modelView" @ok="handleViewClose" />
  </Card>
</template>

<script lang="ts" setup>
  import { onMounted, reactive, ref } from 'vue';
  import { Card, Tabs } from 'ant-design-vue';
  import ModelView from './modelresult/modelresultView/index.vue';
  import { getHistory, updateNotifyStatus, allRoleUsers } from '@/api/supervisionGovern';
  import { useSupervisionGovern } from '@/store/modules/supervisionGovern';
  defineOptions({ name: 'InfoAll' });

  const state = reactive<any>({
    column: [
      {
        title: '模型名称',
        dataIndex: 'modelName',
        width: 400,
        sorter: (a, b) => {
          return new Date(a.modelId) > new Date(b.modelId) ? -1 : 1;
        },
      },
      {
        title: '通知内容',
        dataIndex: 'title',
        key: 'title',
        width: 400,
      },
      {
        title: '状态',
        dataIndex: 'readStatus',
        width: 400,
      },
      {
        title: '创建时间',
        dataIndex: 'createTime',
        key: 'createTime',
      },
    ],
    roleData: [],
    data: [],
    queryParams: {},
    dataSource: [],
    numbers: '',
    loading: false,
    history: 'C',
    historyD: 'D',
    pagination: {
      pageSizeOptions: ['10', '20', '30', '40'],
      current: 1,
      pageSize: 20,
      total: 0,
      showSizeChanger: true,
      showQuickJumper: true,
      showTotal: (total, range) => `显示 ${range[0]} ~ ${range[1]} 条记录，共 ${total} 条记录`,
    },
    total: '',
    infovisible: false, // 查看详情
    recordKey: '',
    userDataList: {},
    showIf: true,
  });
  const modelView = ref();
  const SupervisionGovern = useSupervisionGovern();

  const callback = () => {
    fetchC();
  };

  // 列表查询线索
  const fetchC = async () => {
    state.loading = true;
    const params = {
      pageNum: state.pagination.current,
      pageSize: state.pagination.pageSize,
      history: state.history,
    };
    await getHistory(params).then((r) => {
      if (r.data.code === 'OK') {
        state.loading = false;
        const data = r.data.data;
        state.dataSource = data.list;
        state.pagination.total = data.total;
      }
    });
  };
  //分页配置
  const handleChange = (pagination) => {
    state.pagination.current = pagination.current;
    state.pagination.pageSize = pagination.pageSize;
    fetchC();
  };
  const handleViewClose = () => {
    SupervisionGovern.setVisible(false);
    fetchC();
  };
  const viewModel = async (record) => {
    //打开弹框
    SupervisionGovern.setVisible(true);
    await allRoleUsers().then((r) => {
      if (r.statusText == 'OK') {
        state.roleData = r.data.data;
      }
    });
    setRowClassName(record);
    getNotifyStatus(record);
    const { clueJumpObj } = record; //解构赋值
    if (clueJumpObj.modelConfig != undefined) {
      const config = JSON.parse(clueJumpObj.modelConfig);
      clueJumpObj.modelConfig = config;
    }
    modelView.value.setFormValues(clueJumpObj);
  };
  //通知消息已读未读
  const getNotifyStatus = (record) => {
    if (record != undefined) {
      const params = {
        id: record.id,
        notifyNum: 'one',
      };
      updateNotifyStatus(params);
    }
  };
  // 行样式设置
  const setRowClassName = (record) => {
    const rowColor = record.readStatus == 0 ? null : 'clickRowsty';
    return rowColor;
  };

  onMounted(() => {
    fetchC();
    getNotifyStatus(undefined);
  });
</script>

<style lang="less" scoped>
  .card-area {
    width: 100% !important;
  }

  /deep/.ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
    cursor: pointer !important; //鼠标变手
  }
  /deep/ .ant-table-tbody > tr > td {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
  }
  .modelName-font {
    font-weight: 800;
    color: #1890ff;
  }
  /deep/.clickRowsty {
    background-color: rgba(211, 211, 211, 0.3);
  }
</style>
