<template>
  <div>
    <a-modal
      v-model:visible="state.visible"
      title="绩效上报"
      :width="980"
      destroy-on-close
      :mask-closable="false"
      :footer="false"
      @cancel="closeModal"
    >
      <DynamicTable :columns="columnList" :data-request="loadTableData"> </DynamicTable>
    </a-modal>
    <ReportCom
      :report-visible="state.reportVisible"
      :title="state.reportTitle"
      :record="state.record"
      @close-report="closeReportModal('1')"
    ></ReportCom>
    <!-- 审核 -->
    <UnifyAudit
      :audit-visible="state.auditVisible"
      :record="state.record"
      :type="state.auditType"
      @close-unify="closeReportModal('2')"
    ></UnifyAudit>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch, useAttrs } from 'vue';
  import { isEmpty } from 'lodash-es';
  import ReportCom from './Report.vue';
  import UnifyAudit from './UnifyAudit.vue';
  import { useTable } from '@/components/core/dynamic-table';
  import { queryEscalationList } from '@/api/perAppraisal/apiList';
  import dict from '@/utils/dict.js';

  const [DynamicTable, dynamicTableInstance] = useTable({
    search: false,
    pagination: false,
    size: 'small',
    rowKey: 'approvalCode',
    bordered: true,
    scroll: { x: 300, y: 300 },
  });
  const attrs = useAttrs();
  const props = defineProps({
    orgVisible: { type: Boolean },
  });
  const state = reactive({
    visible: false,
    dataSource: [{ perfGName: '11' }],
    reportVisible: false,
    reportTitle: '',
    record: {},
    auditVisible: false,
    auditType: '',
  });

  const emits = defineEmits(['closeApp']);

  const columnList: TableColumnItem[] = [
    {
      title: '序号',
      dataIndex: 'reportCode',
      width: 130,
      align: 'center',
    },
    {
      title: '上报标题',
      dataIndex: 'title',
      width: 200,
    },
    {
      title: '季度',
      dataIndex: 'evaluateSenPeriodName',
      width: 120,
      align: 'center',
    },
    {
      title: '状态',
      dataIndex: 'auditStatus',
      width: 140,
      align: 'center',
      customRender({ record }) {
        const obj = record?.auditStatus
          ? dict.getItemText('EVALE_QUARTER_REPORT_AUDIT_STATUS', record?.auditStatus)
          : null;
        if (!isEmpty(obj)) {
          return obj;
        } else {
          return '-';
        }
      },
    },
    {
      title: '操作',
      width: 140,
      dataIndex: 'ACTION',
      align: 'center',
      // fixed: 'right',
      actions: ({ record }) => {
        const actionList = [] as any;
        const auditStatusArr = ['10', '20'];
        if (record.auditStatus == '30') {
          actionList.push({
            label: '查看',
            auth: 'rule:expAndScriptSave',
            onClick: () => {
              ApprovePerformance(record, 'check');
            },
          });
        }
        if (record.auditStatus == '00') {
          actionList.push({
            label: '修改',
            auth: 'rule:expAndScriptSave',
            onClick: () => {
              ModifyPerformance(record);
            },
          });
        }
        if (auditStatusArr.includes(record.auditStatus)) {
          actionList.push({
            label: '审核',
            auth: 'rule:expAndScriptSave',
            onClick: () => {
              ApprovePerformance(record, 'audit');
            },
          });
        }
        return actionList;
      },
    },
  ];
  const loadTableData = async () => {
    const res = await queryEscalationList(attrs.record.orgCode);
    return {
      list: res.success ? res.data : [],
    };
  };
  const closeModal = () => {
    emits('closeApp');
  };

  //修改
  const ModifyPerformance = (row) => {
    state.reportVisible = true;
    state.reportTitle = '绩效上报修改';
    state.record = row;
  };
  const closeReportModal = (type) => {
    if (type == '1') {
      state.reportVisible = false;
    } else if (type == '2') {
      state.auditVisible = false;
    }
    dynamicTableInstance.reload();
  };
  //审核&查看
  const ApprovePerformance = (row, type) => {
    state.auditType = type;
    state.auditVisible = true;
    state.record = row;
  };

  watch(
    () => props.orgVisible,
    (nV) => {
      state.visible = nV;
    },
  );
</script>
