<!-- 数据集连接组件，实现数据集连接的可视化快速编辑，预览等 -->
<template>
  <div style="width: 100%">
    <div id="tools">
      <PlusCircleTwoTone title="放大显示" @click="onZoomPlusClick" />
      <MinusCircleTwoTone title="缩小显示" @click="onZoomMinusClick" />
      <HomeTwoTone title="居中显示" @click="onZoomCenterClick" />
    </div>
    <div id="draw-cot" />

    <LinkField
      ref="link"
      :visible="state.showEdgeConfig"
      :left-field="state.leftField"
      :right-field="state.rightField"
      :left-node="state.leftNode"
      :right-node="state.rightNode"
      :read-only="props.readOnly"
      @cancel="onCancel"
      @selected="onSelected"
    ></LinkField>
  </div>
</template>

<script setup lang="ts">
  import { ref, reactive, watch, onMounted } from 'vue';
  import { Graph } from '@antv/x6';
  // import { register, getTeleport } from "@antv/x6-vue-shape";
  import { register } from '@antv/x6-vue-shape';
  // import '@antv/x6-vue-shape';
  import { PlusCircleTwoTone, MinusCircleTwoTone, HomeTwoTone } from '@ant-design/icons-vue';
  import { DatasetTable, LinkField } from './components';

  defineOptions({
    name: 'TableJoin',
    inheritAttrs: false,
  });

  const emits = defineEmits(['onSelectFields']);

  const props = defineProps({
    tableData: Object,
    // 显示指定勾选字段操作按钮
    showSelectFieldButton: {
      type: Boolean,
      default: true,
    },
    // 显示预览操作按钮
    showPreviewButton: {
      type: Boolean,
      default: true,
    },
    // 只读
    readOnly: {
      type: Boolean,
      default: false,
    },
    // fieldNames: Object, // 自定义字段名 {name:'',cnName:'',filedName:'',filedCnName:'',fields:''},表名、表名英、字段名、字段名英、字段集合名
  });

  const emptyLink = '双击选择关联字段';

  const link = ref<HTMLElement>();

  const state = reactive({
    graph: null,
    nodes: [],
    links: [],
    graphNodes: [],
    graphLinks: [],
    curEdge: null,
    curLink: null,

    showEdgeConfig: false,
    leftField: null,
    rightField: null,
    leftNode: null,
    rightNode: null,
    showFields: [],
  });

  /**
   * 更新节点
   * flag true：添加节点 false：删除节点
   */
  const refreshGraph = (flag) => {
    initialize();
    if (props.tableData == null) {
      // props.tableData = { nodes: [], links: [], defaultLinks: [] };
      state.nodes = [];
      state.links = [];
    } else {
      // 节点
      state.nodes = props.tableData.nodes;
      // state.graph.clearCells();
      // 连线   存在默认连线，就先画默认的
      // state.links = [];
      if (props.tableData.defaultLinks && props.tableData.defaultLinks.length > 0) {
        state.links = JSON.parse(JSON.stringify(props.tableData.defaultLinks));
      } else {
        state.links = JSON.parse(JSON.stringify(props.tableData.links));
      }
    }

    // console.log('this.tableData', props.tableData);

    initialGraphFromJson();

    // 画布缩放居中
    const s = 0.1;
    state.graph.zoom(flag ? -1 * s.toFixed(1) : 1 * s.toFixed(1));
    state.graph.centerContent();
  };

  const initialize = () => {
    register({
      shape: 'dag-table',
      x: 200,
      y: 100,
      width: 180,
      height: 36,
      component: DatasetTable,
      ports: {
        groups: {
          left: {
            position: 'left',
            attrs: {
              circle: {
                r: 4,
                magnet: true,
                stroke: '#C2C8D5',
                strokeWidth: 1,
                fill: '#fff',
              },
            },
          },
          right: {
            position: 'right',
            attrs: {
              circle: {
                r: 4,
                magnet: true,
                stroke: '#C2C8D5',
                strokeWidth: 1,
                fill: '#fff',
              },
            },
          },
        },
      },
    });

    Graph.registerEdge(
      'dag-edge',
      {
        inherit: 'edge',
        attrs: {
          line: {
            stroke: '#C2C8D5',
            strokeWidth: 1,
          },
        },
      },
      true,
    );

    const graph = new Graph({
      grid: {
        size: 10,
        visible: true,
        type: 'dot', // 'dot' | 'fixedDot' | 'mesh'
        args: {
          color: '#a05410', // 网格线/点颜色
          thickness: 1, // 网格线宽度/网格点大小
        },
      },
      background: {
        color: '#ffffff', // 设置画布背景颜色
      },
      container: document.getElementById('draw-cot'),
      panning: {
        enabled: true,
        eventTypes: ['leftMouseDown', 'mouseWheel'],
      },
      mousewheel: {
        enabled: true,
        modifiers: 'ctrl',
        factor: 1.1,
        maxScale: 1.5,
        minScale: 0.5,
      },
      highlighting: {
        magnetAdsorbed: {
          name: 'stroke',
          args: {
            attrs: {
              fill: '#fff',
              stroke: '#31d0c6',
              strokeWidth: 4,
            },
          },
        },
      },
      selecting: {
        enabled: true,
        multiple: true,
        rubberEdge: true,
        rubberNode: true,
        modifiers: 'shift',
        rubberband: true,
      },
      interacting: {
        nodeMovable: false,
        edgeMovable: true,
      },
      keyboard: true,
      clipboard: true,
      history: true,
    });

    graph.on('edge:connected', ({ edge }) => {
      // const source = graph.getCellById(edge.source.cell);
      // const target = graph.getCellById(edge.target.cell);

      edge.attr({
        line: {
          strokeDasharray: '',
        },
      });
    });

    if (!props.readOnly) {
      graph.on('edge:dblclick', ({ edge }) => {
        const source = graph.getCellById(edge.source.cell);
        const target = graph.getCellById(edge.target.cell);

        if (!(source && target)) {
          return;
        }

        // 弹出 edge 连接配置表
        state.curEdge = edge;

        const src = source.id;
        const dst = target.id;

        state.leftNode = state.graphNodes[src - 1].data;
        state.rightNode = state.graphNodes[dst - 1].data;
        const leftField = state.links[src - 1].srcField;
        const rightField = state.links[src - 1].dstField;
        const leftFieldId = leftField != null && leftField != undefined ? leftField.id : '';
        const rightFieldId = rightField != null && rightField != undefined ? rightField.id : '';
        link.value.setField(leftFieldId, rightFieldId);
        state.curLink = state.links[src - 1];

        state.showEdgeConfig = true;
      });
    }

    graph.on('node:change:data', ({ node }) => {
      //  要更新 fields
      const nn = state.nodes.find((item) => item.id === node.data.id);
      buildShowFields(node);

      emits('onSelectFields', state.showFields);

      if (node.data.oldId != undefined && node.data.id != node.data.oldId) {
        node.data.fields = nn.fields;
        node.data.cnName = nn.cnName;
        node.data.type = nn.type;
        node.data.id = nn.id;
        // 修改了表的名字 那就要审视一下link了
        const id = node.id;
        if (id > 1) {
          // 处理输入的link
          const lk = state.links[id - 2];
          lk.dstField = null;
          state.graphLinks[id - 2].setLabels({
            attrs: {
              text: {
                text: emptyLink,
              },
            },
          });
        }

        if (id < state.nodes.length) {
          // 处理输出的link
          const lk = state.links[id - 1];
          lk.srcField = null;
          state.graphLinks[id - 1].setLabels({
            attrs: {
              text: {
                text: emptyLink,
              },
            },
          });
        }
      }
    });

    state.graph = graph;
  };

  const initialGraphFromJson = () => {
    const groups = {
      left: {
        position: 'left',
        attrs: {
          circle: {
            r: 4,
            magnet: true,
            stroke: '#C2C8D5',
            strokeWidth: 1,
            fill: '#fff',
          },
        },
      },
      right: {
        position: 'right',
        attrs: {
          circle: {
            r: 4,
            magnet: true,
            stroke: '#C2C8D5',
            strokeWidth: 1,
            fill: '#fff',
          },
        },
      },
    };

    state.graphNodes = [];
    for (let i = 0; i < state.nodes.length; i++) {
      const linkItems = [
        {
          id: `in-${i}`,
          group: 'left', // 指定分组名称
        },
        {
          id: `out-${i}`,
          group: 'right', // 指定分组名称
        },
      ];

      if (i == 0) {
        linkItems.splice(0, 1);
      }

      if (i == state.nodes.length - 1) {
        linkItems.splice(1, 1);
      }

      const nodeConfig = {
        id: i + 1, // id 不能是0
        width: 180,
        height: 40,
        shape: 'dag-table',
        data: {
          ...state.nodes[i],
          nodes: state.nodes,
          showSelectFieldButton: props.showSelectFieldButton,
          showPreviewButton: props.showPreviewButton,
          readOnly: props.readOnly,
        },
        // ports: {
        //   groups: groups,
        //   items: linkItems
        // }
      };
      // 多个表需要连接桩
      if (state.nodes.length > 1) {
        nodeConfig.ports = {
          groups,
          items: linkItems,
        };
      }

      const position = {
        x: 80 + i * (180 + 180),
        y: 40,
      };

      const gNode = state.graph.addNode(Object.assign({}, nodeConfig, position));
      state.graphNodes.push(gNode);
    }

    state.graphLinks = [];
    for (let j = 0; j < state.links.length; j++) {
      //  添加连接
      const link = state.links[j];

      const outport = `out-${j}`;
      const inport = `in-${j + 1}`;

      const edge = state.graph.addEdge({
        source: { cell: j + 1, port: outport }, // 源节点和链接桩 ID
        target: { cell: j + 2, port: inport }, // 目标节点 ID 和链接桩 ID
        router: 'orth',
      });

      // console.log('link', link)
      let text = emptyLink;
      if (link.srcField && link.dstField) {
        const leftField = state.graphNodes[j].data.fields.find(
          (item) => item.id === link.srcField.id,
        );
        const rightField = state.graphNodes[j + 1].data.fields.find(
          (item) => item.id === link.dstField.id,
        );

        if (leftField && rightField) {
          text = `${leftField.cnName} / ${rightField.cnName}`;
        }
      }

      edge.setLabels({
        attrs: {
          text: {
            text,
          },
        },
      });

      state.graphLinks.push(edge);
    }
  };

  const onZoomPlusClick = () => {
    if (state.graph) {
      state.graph.zoom(0.2);
    }
  };

  const onZoomMinusClick = () => {
    if (state.graph) {
      state.graph.zoom(-0.2);
    }
  };
  const onZoomCenterClick = () => {
    if (state.graph) {
      state.graph.centerContent();
    }
  };
  const onSelected = (data) => {
    const left = data[0];
    const right = data[1];
    const text = `${left.cnName}/${right.cnName}`;
    state.curEdge.setLabels({
      attrs: { text: { text } },
    });

    state.curLink.srcField = left;
    state.curLink.dstField = right;

    state.curEdge = null;
    state.curLink = null;
    state.showEdgeConfig = false;
  };

  const onCancel = () => {
    state.curEdge = null;
    state.curLink = null;
    state.showEdgeConfig = false;
  };

  // const onSelectFieldOk = (e) => {
  //   console.log(e);
  // };

  /**
   * 构建显示字段信息
   * @param node
   */
  const buildShowFields = (node) => {
    // console.log(1111,node)
    const idx = state.nodes.findIndex((x) => x.id === node.data.id);
    if (idx > -1) {
      let selectFields = [];
      if (node.data.selectFields != null && node.data.selectFields.length > 0) {
        selectFields = node.data.selectFields;
      } else {
        node.data.fields.forEach((x) => {
          selectFields.push(x);
        });
      }

      const index = state.showFields.findIndex((x) => x.key === node.data.id);
      if (index > -1) {
        state.showFields.splice(index, 1);
      }
      state.showFields.push({
        key: node.data.id,
        name: node.data.name,
        schema: node.data.schema,
        cnName: node.data.cnName,
        data: selectFields,
      });
    }
  };

  /**
   * 获取结果
   * @returns {{selectFields: [], nodes: [], links: []}}
   */
  const getJoinSetting = () => {
    const nodes: any = [];
    const links: any = [];

    let i = 0;
    for (i = 0; i < state.graphNodes.length; i++) {
      const data = state.graphNodes[i].data;
      const node: any = {
        name: data.name,
        type: data.type,
        schema: data.schema,
        cnName: data.cnName,
        id: data.id,
      };
      nodes.push(node);
    }

    for (i = 0; i < state.links.length; i++) {
      const link = state.links[i];
      if (link.dstField == null || link.srcField == null) {
        throw '未明确指定关联字段';
      }
      links.push(link);
    }
    return { nodes, links, selectFields: state.showFields };
  };

  /**
   * 重置尺寸
   * @param size
   */
  // const setSizeZoom = (size) => {
  //   if (state.graph) {
  //     if (isNaN(size) || size < -1) {
  //       size = 0.2;
  //     }
  //     state.graph.zoom(size);
  //     state.graph.centerContent();
  //   }
  // };
  /**
   * 获取zoom缩放级别
   * @returns {number|*}
   */
  // const getSizeZoom = () => {
  //   if (state.graph) {
  //     const z = state.graph.zoom();
  //     return z;
  //   }
  //   return 0;
  // };

  onMounted(() => {
    // initialize();
    refreshGraph(false);
  });

  watch(
    () => props.tableData,
    (n, o) => {
      // console.log(666666666, n);
      const oldN = o ? o.nodes.length : 0;
      const newN = n ? n.nodes.length : 0;

      const b = newN - oldN >= 0;
      state.showFields.length = 0;
      refreshGraph(b);
    },
  );

  defineExpose({
    getJoinSetting,
  });
</script>

<style lang="less" scoped>
  #tools {
    position: absolute;
    z-index: 1000;
    cursor: pointer;
    right: 0px;
    height: 22px;
    display: flex;
    padding-right: 10px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 6px;

    .anticon {
      margin-left: 10px;
    }
  }

  #draw-cot {
    width: 100% !important;
    min-height: 120px;
  }
</style>
