<template>
  <div>
    <a-card class="formTool">
      <a-row class="searchTit">
        <a-col :span="2">数据表：</a-col>
        <a-col :span="22" class="filterCon">
          <SearchTabs :clearForm="isClear" @conDataID="getIdFun" />
          <div class="btnTool">
            <a-button type="primary" @click="search"> 查询 </a-button>
            <a-button type="danger" @click="reset">重置</a-button>
            <a-button type="primary" @click="dowloadResult">下载查询结果</a-button>
          </div>
        </a-col>
      </a-row>

      <a-row v-if="filterFlag">
        <a-col :span="2">数据筛选：</a-col>
        <a-col :span="22">
          <div>
            <a-button :size="size" @click="handlerShow">展开/收起</a-button>
            <QueryFilterNew
              ref="conditionFilter"
              :visible="state.show"
              :isadd-condition-group="false"
              :field-list="state.fields"
              @change="onConditionChange"
            ></QueryFilterNew>
          </div>
        </a-col>
      </a-row>
    </a-card>
    <a-card>
      <a-table
        :columns="tableParams.columnList"
        :data-source="tableParams.dataList"
        bordered
        size="middle"
        :loading="tableParams.loading"
        :scroll="{ y: 400 }"
        :pagination="tableParams.pagination"
        @change="handleTableChange"
      ></a-table>
    </a-card>
  </div>
</template>

<script lang="ts" setup>
  import { reactive, onMounted, ref, h } from 'vue';
  import { useRouter } from 'vue-router';
  import { notification, Button, message } from 'ant-design-vue';
  import SearchTabs from './nav/SearchTabs.vue';
  import type { SizeType } from 'ant-design-vue/es/config-provider';
  import { QueryFilterNew } from '@/components/business';
  import QueryFieldConvert from '@/utils/query-field-convert.js';
  import { getDatasetPreview, dowloadQueryResult } from '@/api/download/downloadCenter';
  import dict from '@/utils/dict.js';

  defineOptions({
    name: 'downloadCenter',
  });
  const size = ref<SizeType>('small');
  const filterFlag = ref(false); //true是展示数据筛选，false不展示
  // 表格相关参数
  const tableParams = reactive({
    columnList: [],
    dataList: [],
    pagination: {
      pageSize: 10,
      current: 1,
      total: 0,
      showQuickJumper: true,
      showTotal: (total) => {
        return `共${total}条`;
      },
    },
    loading: false,
  });
  // 表单相关参数
  const formParams = reactive({
    tableId: null,
    tableName: null,
  });
  /**
   * @QueryFilterNew 组件相关方法如下
   */
  type filterType = {
    show: any;
    canQuery: Boolean;
    fields: Array<String>;
    filters: any;
    columnsList: Array<String>;
  };
  const conditionFilter = ref();
  const state = reactive<filterType>({
    show: false,
    canQuery: true,
    fields: [],
    filters: [],
    columnsList: [], //筛选条件
  });
  // 根据数据表id查询数据筛选的字段
  const getIdFun = (rs) => {
    if (rs.value) {
      formParams.tableId = rs.value.id;
      formParams.tableName = rs.value.label;
      getCondition(rs.value.id);
    } else {
      filterFlag.value = false;
      isClear.value = false;
    }
  };
  // 处理数据筛选条件
  const getCondition = (vId) => {
    const params = {
      id: vId,
      pageNum: 1,
      pageSize: 10,
    };
    getDatasetPreview(params).then((res) => {
      if (!res.success) return message.error('当前数据表无有效数据!');
      if (res.data.modelsDetailHeads) {
        state.columnsList = res.data.modelsDetailHeads.map((item) => {
          return {
            columnCname: item.columnCname,
            columnName: item.columnName,
            newType: item.columnType,
            example: null,
            itemDtoList: dict.getItemsByDictCode(item.columnName),
          };
        });
      }
      handlerLoadData();
    });
  };
  const handlerLoadData = () => {
    const fields = QueryFieldConvert.columnFields2QueryFields(state.columnsList);
    state.fields = fields;
    filterFlag.value = true;
  };
  const filterData = () => {
    const filters1 = JSON.parse(JSON.stringify(state.filters));
    const filters = [];
    if (filters1 && filters1.length > 0) {
      filters1.forEach((item) => {
        const list = [];
        item.forEach((v) => {
          let obj = {};
          const val = [];
          if (v.value1) {
            val.push(v.value1);
          }
          if (v.value2) {
            val.push(v.value2);
          }
          let ctype = '';
          if (v.type === 'number') {
            ctype = '';
          } else if (v.type === 'date') {
            ctype = '4';
          } else if (v.type === 'dict') {
            ctype = '';
          }
          let values = val;
          if (v.type === 'select') {
            values = val[0];
          }
          obj = {
            columnName: v.field,
            filterType: v.operatorValue,
            columnType: ctype,
            values,
          };
          list.push(obj);
        });
        filters.push(list);
      });
    }
    return filters;
  };
  const onConditionChange = () => {
    if (state.canQuery) {
      state.canQuery = false;
      state.filters = conditionFilter.value.getConditionResult();
      // 防止频繁请求
      setTimeout(function () {
        state.canQuery = true;
      }, 500);
    }
  };
  const handlerShow = () => {
    state.show = !state.show;
  };
  // 当前页面，公共接口入参提取
  const commonPar = () => {
    // 数据筛选的数据结构有问题，查询和下载均需要转换一次才可入参
    if (state.filters !== null && state.filters.length > 0 && state.filters[0].length > 0) {
      const filter = filterData();
      state.filters = QueryFieldConvert.setConditionValue(filter)[0];
    }
    const params = {
      id: formParams.tableId,
      filters: state.filters || null,
    };
    return params;
  };
  // 查询
  const search = async () => {
    if (!formParams.tableId) return message.warning('请先选择数据表!');
    loadTableData();
  };
  const loadTableData = async () => {
    const cParams = commonPar();
    const param = {
      ...cParams,
      pageNum: tableParams.pagination.current,
      pageSize: tableParams.pagination.pageSize,
    };
    tableParams.loading = true;
    const data = await getDatasetPreview(param);
    //处理动态表头
    const colHead = data?.data?.modelsDetailHeads ? data.data.modelsDetailHeads : null;
    tableParams.loading = false;
    if (!colHead) return;
    const dynamicHead = colHead.map((it) => {
      return {
        title: it.columnCname,
        dataIndex: it.columnName,
        width: 200,
        ellipsis: true,
        align: 'center',
      };
    });
    tableParams.columnList = dynamicHead;
    tableParams.dataList = data.data.modelList;
    //分页
    tableParams.pagination.total = data.total;
  };
  // 表单重置
  const isClear = ref(false); //true是清空，false不清空
  const reset = () => {
    isClear.value = true;
    formParams.tableId = null;
    state.filters = [];
  };

  const handleTableChange = (page) => {
    tableParams.pagination.current = page.current;
    tableParams.pagination.pageSize = page.pageSize;
    loadTableData();
  };
  // 下载查询结果
  const dowloadResult = () => {
    if (!formParams.tableId) return message.warning('请先选择数据表!');
    const dataFilter = commonPar();
    const params = {
      datasetPreviewVo: dataFilter,
      downloadDataType: 'dataset',
      fileName: formParams.tableName,
    };
    dowloadQueryResult(params).then((res) => {
      if (res.success) {
        tipNotification();
      } else {
        message.error(res.message);
      }
    });
  };
  const tipNotification = () => {
    const key = `open${Date.now()}`;
    notification.open({
      message: '下载结果',
      description: '数据已提交，请稍后到下载中心下载！',
      btn: () =>
        h(
          Button,
          {
            type: 'primary',
            size: 'small',
            onClick: () => {
              notification.close(key);
              goDownload();
            },
          },
          { default: () => '确定' },
        ),
      key,
      onClose: close,
    });
  };
  const router = useRouter();
  const goDownload = () => {
    router.push({
      path: '/download/fileCenter',
      // query: { title: item.title, tabCustomName: `${item.title}处理记录` },
    });
  };

  onMounted(() => {
    handlerShow();
  });
</script>
<style lang="less" scoped>
  .formTool {
    margin-bottom: 8px;
  }
  /deep/.ant-card-body {
    padding: 12px 24px;
  }
  .searchTit {
    margin-bottom: 10px;
  }
  .filterCon {
    display: flex;
    justify-content: space-between;
    .btnTool {
      // display: flex;
      .ant-btn {
        margin-left: 15px;
      }
    }
  }
</style>
