<template>
  <div class="page-container">
    <DynamicTable
      row-key="id"
      :data-request="loadTableData"
      :columns="columnList"
      bordered
      auto-height
      :scroll="{ y: 300 }"
      size="small"
    >
    </DynamicTable>
    <DraggableModal
      :visible="state.downloadVisible"
      title="下载绩效报告"
      :width="360"
      destroy-on-close
      @cancel="closeModal"
    >
      <div class="text-c"
        >季度：
        <a-select v-model:value="state.quarterPeriod" style="width: 160px">
          <a-select-option
            v-for="(item, index) in dict.getItemsByDictCode('PERFORMANCE_QUARTERLY_TYPE')"
            :key="index"
            :value="item.itemValue"
            >{{ item.itemText }}</a-select-option
          >
        </a-select></div
      >
      <template #footer
        ><a-button @click="closeModal">取消</a-button>
        <a-button type="primary" @click="downloadFile">下载</a-button>
      </template>
    </DraggableModal>
    <perApproval
      :org-visible="state.appVisible"
      :record="state.record"
      @close-app="closeApprovalModal"
    ></perApproval>
  </div>
</template>

<script setup lang="ts">
  import { reactive } from 'vue';
  import { useRouter } from 'vue-router';
  import { message } from 'ant-design-vue';
  import { baseColumns, type TableColumnItem } from './columns'; //table列
  import perApproval from './perApproval/Index.vue';
  import { useTable, type LoadDataParams } from '@/components/core/dynamic-table';
  import { queryOrgList } from '@/api/perAppraisal/apiList';
  import { DraggableModal } from '@/components/core/draggable-modal';
  import dict from '@/utils/dict.js';

  const router = useRouter();
  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    rowKey: 'ruleCode',
    bordered: true,
  });

  const state = reactive({
    downloadVisible: false,
    quarterPeriod: '',
    appVisible: false,
    record: {},
  });

  const columnList: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 160,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => {
        let actionList = [] as any;
        actionList = [
          {
            label: '查看绩效',
            actionType: 'icon',
            icon: 'BarChartOutlined',
            style: 'color:#1890ff;',
            onClick: () => {
              router.push({ path: '/perAppraisal/perApList', query: record });
            },
          },
          {
            label: '重点工作',
            actionType: 'icon',
            icon: 'ReconciliationOutlined',
            style: 'color:#1890ff;',
            onClick: () => {
              router.push({ path: '/perAppraisal/perWorkList', query: record });
            },
          },
          {
            label: '得分排行',
            actionType: 'icon',
            icon: 'FundOutlined',
            style: 'color:#1890ff;',
            onClick: () => {
              router.push({
                path: '/perAppraisal/perScoreList',
                query: { orgCode: record.orgCode },
              });
            },
          },
          {
            label: '下载绩效报告',
            actionType: 'icon',
            icon: 'CloudDownloadOutlined',
            style: 'color:#1890ff;',
            onClick: () => {
              openDownloadModal(record);
            },
          },
          {
            label: '绩效上报',
            actionType: 'icon',
            icon: 'AuditOutlined',
            style: 'color:#1890ff;',
            onClick: () => {
              openEscalationModal(record);
            },
          },
        ];
        return actionList;
      },
    },
  ];

  const loadTableData = async (params: LoadDataParams) => {
    const { data } = await queryOrgList(params);
    if (data.success) {
      return {
        list: data.data,
        pagination: { total: data.total, page: data.pageNum, size: data.pageSize },
      };
    }
  };
  //下载绩效报告
  const openDownloadModal = (row) => {
    message.warning('正在紧急开发中……');
    // state.downloadVisible = true;
  };
  const closeModal = () => {
    state.downloadVisible = false;
  };
  const downloadFile = () => {
    if (!state.quarterPeriod) return message.warning('请选择季度！');
  };
  //绩效上报
  const openEscalationModal = (row) => {
    state.appVisible = true;
    state.record = row;
  };
  const closeApprovalModal = () => {
    state.appVisible = false;
  };
</script>

<style lang="less" scoped>
  .disblayContent {
    height: 100%;
    background: #fff;
    padding: 0 20px;
  }

  /deep/th.text-align {
    text-align: center;
  }
  /deep/.ant-select-single.ant-select-show-arrow .ant-select-selection-item {
    text-align: left;
  }
</style>
