<template>
  <div class="page-container">
    <DynamicTable
      header-title="看板列表"
      :data-request="loadTableData"
      :columns="columns"
      auto-height
      :scroll="{ x: 2000, y: 300 }"
    >
      <template #toolbar>
        <a-button type="primary" @click="openModal"> 新增</a-button>
      </template>
    </DynamicTable>
  </div>
</template>

<script setup lang="ts">
  import { getCurrentInstance, onBeforeMount, ref } from 'vue';
  import { useRouter } from 'vue-router';
  import { isNil } from 'lodash-es'; // api 接口
  import { message as $message } from 'ant-design-vue';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import { bulletinBoardListSchemas } from './formSchemas';
  import type { LoadDataParams } from '@/components/core/dynamic-table';
  import { useTable } from '@/components/core/dynamic-table';
  import { useFormModal } from '@/hooks/useModal/index';
  import {
    getBoardList,
    saveBoard,
    allRoleUsers,
    copyBoard,
    deleteBoard,
  } from '@/api/userAnalyze/kanbanList';
  defineOptions({
    name: 'kanbanList',
  });
  const $router = useRouter();
  const { proxy } = getCurrentInstance();
  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    rowKey: 'bulletinBoardList',
    bordered: true,
  });
  // 弹窗
  const [showModal] = useFormModal();
  const openModal = async (record: Partial<TableListItem> = {}) => {
    const [formRef] = await showModal<any>({
      modalProps: {
        title: `${record.boardId ? '编辑' : '新增'}看板`,
        // 点击确定执行
        onFinish: async (values) => {
          const parmas = {
            ...values,
            boardType: '20',
            visitType: '1',
            resourcesType: '2',
          };
          parmas.businessObjList = proxy.$dict.getItemValue('businessObject', parmas.businessObjs);
          parmas.businessScenes = proxy.$dict.getItemValue('bizIds', parmas.bizIds);
          const successStr = `${record.boardId ? '编辑' : '新增'}成功`;
          if (record.boardId) {
            parmas.boardId = record.boardId;
          }
          const data = await saveBoard(parmas);
          if (data.code !== 'OK') {
            $message.error(data.message);
          } else {
            $message.success(data.message);
          }
          dynamicTableInstance?.reload();
        },
      },
      formProps: {
        labelWidth: 120,
        schemas: bulletinBoardListSchemas,
      },
    });
    const alls = (await allRoleUsers()) as any;
    const allUsers = [] as any;
    for (let i = 0; i < alls.length; i++) {
      if (alls[i].users) {
        for (let j = 0; j < alls[i].users.length; j++) {
          if (allUsers.findIndex((it) => it.value == alls[i].users[j].userId) === -1) {
            allUsers.push({
              value: `${alls[i].users[j].userId}`,
              label: alls[i].users[j].username,
            });
          }
        }
      }
    }
    formRef?.updateSchema({
      field: 'userIds',
      componentProps: {
        options: allUsers,
      },
    });
    // 王朗：上线需改——后端返回类型number
    if (record.boardId && record.roleIds && record.roleIds.length) {
      record.roleIds = record.roleIds.map((item) => item * 1);
    }
    if (isNil(record.roleIds)) {
      record.roleIds = [];
    }
    if (isNil(record.userIds)) {
      record.userIds = [];
    }
    formRef?.setFieldsValue(record);
  };
  // 表格
  const loadTableData = async (params: LoadDataParams) => {
    if (!params.pageNum) {
      params.pageNum = 1;
      params.pageSize = 10;
    }
    const data = await getBoardList({
      ...params,
      boardType: '20',
    });

    return {
      list: data.data,
      pagination: { total: data.total, page: data.pageNum, size: data.pageSize },
    };
  };
  // 表头
  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      width: 80,
      actions: ({ record }) => {
        let actionList = [] as any;
        actionList = [
          {
            label: '看板配置',
            actionType: 'icon',
            icon: 'SettingOutlined',
            style: 'color:#1890ff',
            onClick: () => {
              $router.push({
                path: '/userAnalyze/kanbanConfigTabs',
                query: {
                  boardId: record.boardId,
                  tabCustomName: record.boardName,
                  boardType: '20', // 首页看板10 模型看板30 普通看板20
                },
              });
            },
          },
          {
            label: '复制',
            actionType: 'icon',
            icon: 'CopyOutlined',
            style: 'color:#1890ff',
            onClick: () => cloneItem(record),
          },
          {
            label: '编辑',
            actionType: 'icon',
            icon: 'EditOutlined',
            style: 'color:#1890ff',
            onClick: () => openModal(record),
          },
          {
            label: '删除',
            actionType: 'icon',
            icon: 'DeleteOutlined',
            style: 'color:#1890ff',
            popConfirm: {
              title: '你确定要删除吗？',
              placement: 'left', // 因弹出框默认顶部弹出，又在页面边上受到挤压导致，更改弹出方向可解决-弹出框缩到一起
              onConfirm: () => delItem(record),
            },
          },
        ];
        return actionList;
      },
    },
  ];
  // 复制
  const cloneItem = async (record) => {
    await copyBoard(record).finally(dynamicTableInstance?.reload);
  };

  // 删除数据
  const delItem = async (record) => {
    const res = await deleteBoard({ boardId: record.boardId });

    dynamicTableInstance?.reload();
    res.success ? $message.success('数据删除成功！') : $message.error(res.message);
  };

  //页面更改
  const winHeight = ref(0);
  onBeforeMount(() => {
    const h = document.documentElement.clientHeight;
    winHeight.value = h - 400;
  });
</script>

<style lang="less" scoped>
  .page-container {
    width: 100%;
    /deep/.ant-table-body {
      height: var(--winHeight);
    }
  }
</style>
