<template>
  <div class="OperationTarget">
    <a-row :gutter="[16, 10]" class="gutter-style">
      <a-col :md="{ span: 4 }">
        <div class="OperationTarget-bg">
          <a-col>
            <div class="OperationTarget-item">
              <p class="gmv-title">营业收入</p>
              <p class="gmv-style"
                ><SpeedGauge :echardata="categoryYG.CUR_PCT" :echarunit="state.e03"
              /></p>
              <div class="text">
                <p>目标：{{ categoryYG.CUR_TG }} 万元</p>
                <p>当前： {{ categoryYG.CUR_PRF }} 万元</p>
              </div>
            </div>
          </a-col>
        </div>
      </a-col>
      <a-col :md="{ span: 20 }">
        <div class="OperationTarget-bg">
          <div class="OperationTarget-first">
            <div
              v-for="(item, index) in cloudlibrary.bank"
              :key="index"
              class="OperationTarget-item"
            >
              <p class="gmv-title">{{ item.title }}</p>
              <template
                v-if="item.title == '云库库存方客户总数' || item.title == '云库采购方客户总数'"
              >
                <p class="gmv-first">
                  <WaterPolo :echardata="item.rate" :echarunit="state.e03" />
                </p>
              </template>
              <template v-else>
                <p class="gmv-first">
                  <ScoringRing
                    :echarcolor="state.bluecolor"
                    :echardata="item.rate"
                    :echarunit="state.e03"
                  />
                </p>
              </template>
              <div class="text">
                <p>目标&nbsp;:&nbsp;{{ item.goals }} {{ item.unit }}</p>
                <p>当前&nbsp;:&nbsp;{{ item.current }} {{ item.unit }}</p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch, nextTick, defineExpose } from 'vue';
  import { ScoringRing, SpeedGauge, WaterPolo } from '../../../echartsAssembly';
  import { queryAggregate } from '@/api/strategyTracking';
  const state = reactive({
    yearMonth: '',
    defcolor: '#188df0',
    gmvcolor: '#fa4d5b',
    fjcolor: '#98d45b',
    greencolor: '#53c676',
    bluecolor: '#1367ca',
    e01: '0.78',
    e02: '78',
    e03: '%',
  });

  //保留两位有效小数
  const Xiaoshu = (text) => {
    if (text == '-') {
      return text;
    } else {
      const datatext = parseFloat(text).toFixed(2);
      return parseFloat(datatext).toLocaleString();
    }
  };

  // 云库
  const cloudlibrary = reactive({
    bank: [
      {
        title: '云库新增连接家数',
        goals: '3,000 ',
        current: '2,000 ',
        rate: '78',
        unit: '家',
      },
      {
        title: '云库库存方客户总数',
        goals: '3,000 ',
        current: '2,000 ',
        rate: '78',
        unit: '家',
      },
      {
        title: '云库库存方客户新增',
        goals: '3,000 ',
        current: '2,000 ',
        rate: '78',
        unit: '家',
      },
      {
        title: '云库采购方客户总数',
        goals: '3,000 ',
        current: '2,000 ',
        rate: '78',
        unit: '家',
      },
      {
        title: '云库采购方客户新增',
        goals: '3,000 ',
        current: '2,000 ',
        rate: '78',
        unit: '家',
      },
      {
        title: '本年新增SKU数',
        goals: '3,000 ',
        current: '2,000 ',
        rate: '78',
        unit: '万',
      },
    ],
  });

  const categoryYG = reactive({
    CUR_PCT: '',
    CUR_PRF: '',
    CUR_TG: '',
  });

  // 云库接口
  const objectiveslibrary = (id, index) => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: id,
        },
      ],
    };
    queryAggregate(cans).then((res) => {
      nextTick(() => {
        const data = res.data[id].dataMap;
        if (index == 0) {
          cloudlibrary.bank[index].goals = Xiaoshu(data.YK_NEW_TG[0]);
          cloudlibrary.bank[index].current = Xiaoshu(data.YK_NEW[0]);
          cloudlibrary.bank[index].rate = data.YK_NEW_PCT[0];
        } else if (index == 1) {
          cloudlibrary.bank[index].goals = Xiaoshu(data.YK_CUS_TTL_TG[0]);
          cloudlibrary.bank[index].current = Xiaoshu(data.YK_CUS_TTL[0]);
          cloudlibrary.bank[index].rate = data.YK_CUS_TTL_PCT[0];
        } else if (index == 2) {
          cloudlibrary.bank[index].goals = Xiaoshu(data.YK_CUS_NEW_TG[0]);
          cloudlibrary.bank[index].current = Xiaoshu(data.YK_CUS_NEW[0]);
          cloudlibrary.bank[index].rate = data.YK_CUS_NEW_PCT[0];
        } else if (index == 3) {
          cloudlibrary.bank[index].goals = Xiaoshu(data.YK_PR_TTL_TG[0]);
          cloudlibrary.bank[index].current = Xiaoshu(data.YK_PR_TTL[0]);
          cloudlibrary.bank[index].rate = data.YK_PR_TTL_PCT[0];
        } else if (index == 4) {
          cloudlibrary.bank[index].goals = Xiaoshu(data.YK_PR_NEW_TG[0]);
          cloudlibrary.bank[index].current = Xiaoshu(data.YK_PR_NEW[0]);
          cloudlibrary.bank[index].rate = data.YK_PR_NEW_PCT[0];
        } else if (index == 5) {
          cloudlibrary.bank[index].goals = Xiaoshu(data.YK_SKU_TG[0]);
          cloudlibrary.bank[index].current = Xiaoshu(data.YK_SKU[0]);
          cloudlibrary.bank[index].rate = data.YK_SKU_PCT[0];
        } else if (index == 6) {
          categoryYG.CUR_PRF = Xiaoshu(data.YK_REV[0]);
          categoryYG.CUR_TG = Xiaoshu(data.YK_REV_TG[0]);
          categoryYG.CUR_PCT = data.YK_REV_PCT[0];
        }
      });
    });
  };

  // 品类中心接口
  const categorySearch = () => {
    objectiveslibrary('2023042517250110', 0);
    objectiveslibrary('2023042517250111', 1);
    objectiveslibrary('2023042517250112', 2);
    objectiveslibrary('2023042517250113', 3);
    objectiveslibrary('2023042517250114', 4);
    objectiveslibrary('2023042517250115', 5);
    objectiveslibrary('2023042517250081', 6);
  };

  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  defineExpose({
    categorySearch,
  });
  watch(
    () => props.yearMonth,
    (c) => {
      state.yearMonth = c;
      categorySearch();
    },
  );
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .gutter-style {
      margin-bottom: 10px;
    }
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      // border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      min-height: 325px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
    }
    .OperationTarget-first {
      display: flex;
      justify-content: space-between;
    }
    .gmv-first {
      width: 200px;
      height: 180px;
      // border: 2px solid #e5e7eb;
    }
    .gmv-first2 {
      width: 180px;
      height: 180px;
    }
    .OperationTarget-item {
      font-family: PingFangSC-Regular;
      font-size: 18px;
      font-weight: normal;
      .gmv-title {
        text-align: center;
      }
      .gmv-style {
        width: 100%;
        height: 180px;
        // border: 2px solid #e5e7eb;
      }
      .text {
        text-align: center;
      }
    }
  }
</style>
