<template>
  <div class="page-container">
    <div class="header">
      <QueryFilterNew
        ref="QueryFilter"
        :visible="state.show"
        :field-list="fields"
        :isadd-condition-group="false"
        :class="state.show ? null : 'showheigh'"
        @change="onConditionChange"
      ></QueryFilterNew>
      <div class="search">
        <a-button type="primary" class="primary-onSearch" @click="onSearch"> 查询 </a-button>
        <a-button type="danger" style="margin-left: 5px" @click="onReset">重置</a-button>
      </div>
    </div>
    <DynamicTable
      :data-source="state.dataSource"
      :columns="columns"
      auto-height
      :scroll="{ x: 2000, y: 300 }"
      :loading="state.loading"
      :show-refresh-setting="false"
      @change="onPageChange"
    >
      <template #toolbar>
        <a-button type="primary" @click="newModelGroup"> 新增模型组 </a-button>
      </template>
    </DynamicTable>
    <!-- 编辑、新增模型组 -->
    <NewModelGroup
      v-if="state.newModelGroupRef"
      ref="NewModelGroupRef"
      @ok="handleOk"
    ></NewModelGroup>
    <!-- 模型组详情 -->
    <ModelGroupDetail ref="ModelGroupDetailRef"></ModelGroupDetail>
  </div>
</template>

<script setup lang="tsx">
  import { ref, reactive, onMounted, nextTick } from 'vue';
  import { isNil } from 'lodash-es';
  import { message } from 'ant-design-vue';
  import queryFields from './query-field.js';
  import { baseColumns } from './columns';
  import NewModelGroup from './components/NewModelGroup';
  import ModelGroupDetail from './components/ModelGroupDetail';
  import { QueryFilterNew } from '@/components/business';
  import QueryFieldConvert from '@/utils/query-field-convert.js';
  import { useTable } from '@/components/core/dynamic-table';
  import { getModelGroupList, deleteModelGroup, runModelGroup } from '@/api/modelGroup';
  const QueryFilter = ref();
  const fields = QueryFieldConvert.columnFields2QueryFields(queryFields.fieldsTwo);
  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    search: false,
    rowKey: 'id',
    bordered: true,
  });
  const NewModelGroupRef = ref();
  const ModelGroupDetailRef = ref();
  const state = reactive({
    show: true,
    canQuery: true,
    dataSource: [],
    loading: false,
    filters: [],
    filters1: [],
    pagination: {
      current: 1,
      pageSize: 20,
    },
    newModelGroupRef: false,
  });
  const newModelGroup = () => {
    // 新增编辑模型组
    state.newModelGroupRef = true;
    nextTick(() => {
      NewModelGroupRef.value.onChangeVisable(null, 'add');
    });
  };
  const resetQ = () => {
    const arr = [
      [
        {
          field: '',
          type: 'text',
          value1: '',
          selectCode: [],
          operatorValue: 'CT',
          operatorList: [],
          name: '',
          cName: '',
          example: null,
          columnType: '1',
          dictCode: null,
        },
      ],
    ];
    QueryFilter.value.setConditionGroups(arr);
    QueryFilter.value.clearConditionResult();
    state.filters = QueryFilter.value.getConditionResult();
    loadData();
  };
  const onReset = () => {
    state.filters1 = [];
    state.pagination.current = 1;
    resetQ();
  };
  const goDetail = (record) => {
    // 打开详情
    ModelGroupDetailRef.value.onChangeVisable(record);
  };
  const goRuning = (id) => {
    // 运行
    runModelGroup({ groupId: id }).then((r) => {
      if (r.success) {
        message.success('操作成功，请查看运行状态');
        loadData();
      } else {
        message.error('运行失败');
      }
    });
  };
  const delItem = (id) => {
    // 删除
    deleteModelGroup({ groupId: id }).then((r) => {
      if (r.success) {
        message.success('删除成功');
        loadData();
      } else {
        message.error('删除失败');
      }
    });
  };
  onMounted(() => {
    loadData();
  });
  const filterData = () => {
    const filters: any = [];
    if (!isNil(state.filters)) {
      const filters1 = JSON.parse(JSON.stringify(state.filters1));
      if (filters1 && filters1.length > 0) {
        filters1.forEach((item) => {
          const list: any = [];
          item.forEach((v) => {
            let obj = {};
            const val: any = [];
            if (v.value1 && v.type == 'date') {
              v.value1 = dayjs(v.value1).format(dateFormat);
            }
            if (v.value2 && v.type == 'date') {
              v.value2 = dayjs(v.value2).format(dateFormat);
            }
            if (v.value1) {
              val.push(v.value1);
            }
            if (v.value2) {
              val.push(v.value2);
            }
            let ctype = '';
            if (v.type === 'number') {
              ctype = '';
            } else if (v.type === 'date') {
              ctype = '4';
            } else if (v.type === 'dict') {
              ctype = '';
            }
            let values = val;
            if (v.type === 'select') {
              values = val[0];
            }

            obj = {
              columnName: v.field,
              filterType: v.operatorValue,
              columnType: ctype,
              values,
            };
            list.push(obj);
          });
          filters.push(list);
        });
      }
    }

    return filters;
  };
  const onSearch = () => {
    let filters: any = [];
    filters = filterData();
    state.filters = QueryFieldConvert.setConditionValue(filters)[0];
    state.pagination.current = 1;
    loadData();
  };
  const onPageChange = (data) => {
    state.pagination.current = data.current;
    state.pagination.pageSize = data.pageSize;
    loadData();
  };
  const loadData = () => {
    state.loading = true;
    state.loadDataParms = {
      pageNum: state.pagination.current,
      pageSize: state.pagination.pageSize,
      filters: state.filters || [],
    };

    getModelGroupList(state.loadDataParms).then((r) => {
      if (r.code === 'OK' && r.data) {
        state.dataSource = r.data;
        dynamicTableInstance?.updatePagination({
          total: r.total,
          current: r.pageNum,
          pageSize: r.pageSize,
        });
      } else {
        state.dataSource = [];
        dynamicTableInstance?.updatePagination({
          total: 0,
          current: 1,
          pageSize: 10,
        });
      }
      state.loading = false;
    });
  };
  const columns = [
    ...baseColumns,
    {
      title: '操作',
      width: 120,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => {
        const actions: any = [];
        actions.push({
          label: '查看',
          actionType: 'icon',
          icon: 'EyeOutlined',
          style: 'color:#1890ff;',
          onClick: () => {
            goDetail(record);
          },
        });
        if (record.runStatus != '1') {
          //运行失败，未运行
          actions.push({
            label: '运行',
            actionType: 'icon',
            icon: 'PlayCircleOutlined',
            style: 'color:#1890ff;',
            onClick: () => {
              goRuning(record.id);
            },
          });
        } else {
          actions.push({
            label: '运行中',
            actionType: 'icon',
            icon: 'PlayCircleOutlined',
          });
        }
        actions.push(
          {
            label: '编辑',
            actionType: 'icon',
            icon: 'EditOutlined',
            style: 'color:#1890ff;',
            onClick: () => {
              state.newModelGroupRef = true;
              nextTick(() => {
                NewModelGroupRef.value.onChangeVisable(record, 'edit');
              });
            },
          },
          {
            label: '复制',
            actionType: 'icon',
            icon: 'CopyOutlined',
            style: 'color:#1890ff;',
            onClick: () => {
              state.newModelGroupRef = true;
              nextTick(() => {
                NewModelGroupRef.value.onChangeVisable(record, 'copy');
              });
            },
          },
          {
            label: '删除',
            actionType: 'icon',
            icon: 'DeleteOutlined',
            style: 'color:#1890ff;',
            popConfirm: {
              title: '你确定要删除吗？',
              placement: 'left', // 因弹出框默认顶部弹出，又在页面边上受到挤压导致，更改弹出方向可解决-弹出框缩到一起
              onConfirm: () => delItem(record.id),
            },
          },
        );
        return actions;
      },
    },
  ];
  const onConditionChange = () => {
    if (state.canQuery) {
      state.canQuery = false;
      state.filters = QueryFilter.value.getConditionResult();
      state.filters1 = QueryFilter.value.getConditionResult();
      // 防止频繁请求
      setTimeout(function () {
        state.canQuery = true;
      }, 500);
    }
  };
  const handleOk = () => {
    loadData();
    state.newModelGroupRef = false;
  };
</script>

<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
  .header {
    display: flex;
    position: relative;
    .notifyWay {
      position: absolute;
      top: 10px;
      left: 50px;
    }
    .search {
      display: flex;
      margin-top: 15px;
      .primary-onSearch {
        margin: 0px 10px 0px 10px;
      }
    }
  }
</style>
