<!-- 基本信息 -->
<template>
  <!-- :column="4" :column="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }"-->
  <a-descriptions :column="{ xxl: 5, xl: 4, lg: 4, md: 4, sm: 3, xs: 2 }" class="textItem">
    <a-descriptions-item label="模型名称">
      <a-tooltip :title="modelData.modelName">
        <span class="textItem-ellipsis"> {{ modelData.modelName }}</span>
      </a-tooltip>
    </a-descriptions-item>
    <a-descriptions-item label="模型编号">
      <a-tooltip :title="modelData.modelCode">
        <span class="textItem-ellipsis"> {{ modelData.modelCode }}</span>
      </a-tooltip>
    </a-descriptions-item>
    <a-descriptions-item label="模型类型">
      <span :title="modelData.modelType"> {{ modelData.modelType }}</span>
    </a-descriptions-item>
    <a-descriptions-item label="模型管理员">
      <span :title="modelData.targetUsernames">
        {{ modelData.targetUsernames }}
      </span>
    </a-descriptions-item>
    <a-descriptions-item label="创建时间">
      <span :title="modelData.createTime">{{ modelData.createTime }}</span>
    </a-descriptions-item>

    <a-descriptions-item label="监督业务对象">
      <span :title="modelData.businessObjsStr"> {{ modelData.businessObjsStr }}</span>
    </a-descriptions-item>
    <a-descriptions-item label="业务用途">
      <span :title="modelData.businessPurpose"> {{ modelData.businessPurpose }}</span>
    </a-descriptions-item>
    <a-descriptions-item label="监督业务环节">
      <span :title="modelData.bizIds"> {{ modelData.bizIds }}</span>
    </a-descriptions-item>
    <a-descriptions-item label="所属防线">
      <span :title="lineOfDefenseTypeFn(modelData.lineOfDefenseType)">
        {{ lineOfDefenseTypeFn(modelData.lineOfDefenseType) }}</span
      >
    </a-descriptions-item>
    <a-descriptions-item label="修改时间">
      <span :title="modelData.updateTime"> {{ modelData.updateTime }}</span>
    </a-descriptions-item>

    <a-descriptions-item label="上线状态">
      <span :title="modelData.onlineStatus"> {{ modelData.onlineStatus }}</span>
    </a-descriptions-item>
    <a-descriptions-item label="创建人">
      <span :title="modelData.createUser"> {{ modelData.createUser }}</span>
    </a-descriptions-item>
    <a-descriptions-item label="运行状态">
      <span :title="modelData.runStatus"> {{ modelData.runStatus }}</span>
    </a-descriptions-item>
    <a-descriptions-item label="上一次运行时间">
      <span :title="modelData.lastRunTime"> {{ modelData.lastRunTime }}</span>
    </a-descriptions-item>
    <a-descriptions-item label="监督领域">
      <span :title="modelData.bizSystem"> {{ modelData.bizSystem }}</span>
    </a-descriptions-item>
    <a-descriptions-item label="问题归属部门依据字段">
      <span :title="modelData.deptCname"> {{ modelData.deptCname }}</span>
    </a-descriptions-item>
    <a-descriptions-item label="模型生产方式">
      <span :title="modelData.generationMethod"> {{ modelData.generationMethod }}</span>
    </a-descriptions-item>
    <a-descriptions-item label="修改人">
      <span :title="modelData.updateUser"> {{ modelData.updateUser }}</span>
    </a-descriptions-item>

    <a-descriptions-item label="调度周期">
      <span :title="modelData.cronDesc"> {{ modelData.cronDesc }}</span>
    </a-descriptions-item>
    <a-descriptions-item label="模型归属单位">
      <span :title="formatBelongUnit(modelData.belongUnit)">
        {{ formatBelongUnit(modelData.belongUnit) }}</span
      >
    </a-descriptions-item>
    <a-descriptions-item label="模型描述">
      <a-tooltip :title="modelData.description">
        <span class="textItem-ellipsis"> {{ modelData.description }}</span>
      </a-tooltip>
    </a-descriptions-item>
    <a-descriptions-item label="数据集">
      <a-tooltip :title="modelData.datatableNames">
        <span class="textItem-ellip"> {{ modelData.datatableNames }}</span>
      </a-tooltip>
    </a-descriptions-item>
  </a-descriptions>
</template>

<script setup lang="tsx">
  import { getCurrentInstance } from 'vue';
  const { proxy } = getCurrentInstance();
  const props = defineProps({
    modelData: { type: Object, default: null },
  });
  const formatBelongUnit = (val) => {
    if (val != undefined && val > 0) {
      const obj = proxy.$dict.getValue('DEPT_TYPE', val);
      return obj ? obj.itemText : '-';
    } else {
      return '-';
    }
  };
  const lineOfDefenseTypeFn = (val) => {
    return proxy.$dict.getItemText('lineOfDefense', val);
  };
</script>

<style lang="less" scoped>
  .textItem {
    margin-top: 16px;
    padding: 10px;
    span {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .textItem-ellipsis {
      width: 220px;
    }
    .textItem-ellip {
      width: 350px;
    }
  }

  .ant-description-row > th,
  .ant-description-row > td {
    padding-bottom: 3.2px;
  }

  /deep/.ant-descriptions-item {
    // margin-left: 2.5%;
    display: inline-flex;
    width: 25%;
    white-space: nowrap;
  }
</style>
