<template>
  <div>
    <a-modal
      v-model:visible="dialogFormVisible"
      :mask-closable="false"
      destroy-on-close
      title="转交处理"
      width="500px"
      :footer="null"
      @ok="onChangeVisable(false)"
    >
      <div>
        <a-form
          ref="auditFormRef"
          :model="state.auditForm"
          :label-col="{ span: 5 }"
          :wrapper-col="{ span: 16 }"
          :rules="rules"
          @finish="onFinish1"
          @finish-failed="onFinishFailed1"
        >
          <!-- 监督联络员提交资料  -->
          <a-form-item label="转交给" name="transferor">
            <a-select
              v-model:value="state.auditForm.transferor"
              style="width: 200px"
              allow-clear
              show-search
              @change="transferorChange"
            >
              <a-select-opt-group label="业务组">
                <a-select-option
                  v-for="(item, index) in state.transferArr['业务人员']"
                  :key="index"
                  :value="item"
                >
                  {{ item }}
                </a-select-option>
              </a-select-opt-group>
            </a-select>
          </a-form-item>
          <a-form-item label="备注" name="handleRemark">
            <a-textarea v-model:value="state.auditForm.handleRemark" :maxlength="200" />
          </a-form-item>
          <div class="sub-btn">
            <a-button
              type="primary"
              style="
                margin-right: 20px;
                border-color: transparent;
                background: #52c41a;
                color: #fff;
              "
              @click="onChangeVisable(false)"
            >
              取消</a-button
            >
            <a-button
              html-type="submit"
              type="primary"
              style="background: #1890ff; color: #fff"
              :loading="state.loading"
            >
              提交</a-button
            >
          </div>
          <div> </div>
        </a-form>
      </div>
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, watch, onMounted } from 'vue';
  import { message } from 'ant-design-vue';
  import 'ant-design-vue/lib/button/style';
  import { getUsers, transfer } from '@/api/supervisionGovern';
  // import { useUserStore } from '@/store/modules/user';
  const props = defineProps({
    checkData: { type: Object, default: null },
  });
  const emit = defineEmits(['search']);
  const dialogFormVisible = ref(false);
  const auditFormRef = ref();
  const state = reactive({
    transferArr: [],
    loading: false,
    auditForm: {
      id: '',
      transferor: '',
      handleRemark: '',
    },
  });
  watch(
    () => props.checkData,
    (val) => {
      if (dialogFormVisible.value) {
        state.auditForm.id = val.id;
        state.auditForm.transferor = '';
        state.auditForm.handleRemark = '';
      }
    },
    { deep: true },
  );
  watch(
    () => dialogFormVisible.value,
    (val) => {
      if (val) {
        state.auditForm.transferor = '';
        state.auditForm.handleRemark = '';
      }
    },
  );
  const careOf = () => {
    getUsers({ role: 'businessPerson' }).then((r) => {
      if (r.data.success === true) {
        state.transferArr = r.data.data; //返回只有业务人员
      } else {
        message.error(r.data.message);
      }
    });
  };
  const rules = reactive({
    transferor: [{ required: true, message: '请选择业务人员', trigger: 'blur' }],
  });
  const transferorChange = (val) => {
    console.log(val);
  };
  const onChangeVisable = (flag) => {
    dialogFormVisible.value = flag;
  };
  const onFinish1 = () => {
    auditHandleOk();
  };

  const onFinishFailed1 = () => {};
  const auditHandleOk = () => {
    const _params = {
      ...state.auditForm,
    };
    saveLogFn(_params);
  };
  const saveLogFn = (_params) => {
    state.loading = true;
    transfer(_params).then((res) => {
      state.loading = false;
      if (res.code === 'OK') {
        onChangeVisable(false);
        message.success(res.data);
        emit('search');
      }
    });
  };
  onMounted(() => {
    careOf();
  });
  defineExpose({ onChangeVisable });
</script>
<style lang="less" scoped>
  .descriptions-title {
    font-size: 20px;
  }
  .sub-btn {
    display: flex;
    justify-content: center;
  }
</style>
