<template>
  <div>
    <!-- 处理日志 -->
    <a-table
      :columns="state.columns"
      :data-source="state.dataSource"
      :pagination="state.pagination"
      @change="pagingChange"
    >
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'action'">
          <a
            v-for="(item, index) in record.attsList"
            :key="index"
            :title="item.realFileName"
            @click="filePreview(item)"
          >
            {{ item.showName }}
            <a-divider v-if="index < record.attsList.length - 1" type="vertical" />
          </a>
        </template>
      </template>
    </a-table>
    <!-- 展示图片 -->
    <a-image
      :width="200"
      :style="{ display: 'none' }"
      :preview="{
        visible,
        onVisibleChange: setVisible,
      }"
      :src="state.imgUrl"
    />
  </div>
</template>

<script setup lang="ts">
  import { ref, reactive } from 'vue';
  import { downIng, downloadJson } from '@/utils/request';
  import { getDealWithLog } from '@/api/supervisionGovern';
  const state = reactive({
    dataSource: [],
    pagination: {
      pageSizeOptions: ['10', '20', '30', '40', '100'],
      defaultCurrent: 1,
      defaultPageSize: 5,
      total: 0,
      showQuickJumper: true,
      showSizeChanger: true,
      showTotal: (total, range) => `显示 ${range[0]} ~ ${range[1]} 条记录，共 ${total} 条记录`,
    },
    imgUrl: '',
    record: {},
    columns: [
      {
        title: '处理时间',
        dataIndex: 'updateTime',
        key: 'updateTime',
        width: 200,
        ellipsis: true,
      },
      {
        title: '待办环节',
        dataIndex: 'todoLink',
        key: 'todoLink',
        width: 100,
        ellipsis: true,
      },
      {
        title: '当前处理人',
        dataIndex: 'handlerUsername',
        key: 'handlerUsername',
        width: 150,
        ellipsis: true,
      },
      {
        title: '下一处理人',
        dataIndex: 'afterUser',
        key: 'afterUser',
        width: 150,
        ellipsis: true,
      },
      {
        title: '处理结果',
        dataIndex: 'handleResult',
        key: 'handleResult',
        width: 100,
        ellipsis: true,
      },
      {
        title: '处理情况',
        dataIndex: 'handleRemark',
        key: 'handleRemark',
        width: 300,
        ellipsis: true,
      },
      {
        title: '材料',
        key: 'action',
      },
    ],
  });
  const visible = ref<boolean>(false);
  const setVisible = (value): void => {
    visible.value = value;
  };
  const filePreview = (data) => {
    const url = `p/clue/file/downLoad`;
    // 如果有base64就是图片没有就需要下载 wl
    if (data.base64) {
      downIng(url, { filePathName: data.realFileName }, data.realFileName).then((res) => {
        state.imgUrl = res.target.result;
        setImgVisible(true);
      });
    } else {
      // 文件下载
      downloadJson(
        'p/clue/file/downLoad',
        {
          filePathName: data.realFileName,
        },
        data.realFileName,
      ).then(() => {});
    }
  };
  // 查看图片
  const setImgVisible = () => {
    setVisible(true);
  };
  // 分页操作
  const pagingChange = (selectedRowKeys) => {
    state.pagination.defaultPageSize = selectedRowKeys.pageSize;
    state.pagination.defaultCurrent = selectedRowKeys.current;
    getLogList(state.record);
  };
  // 获取日志
  const getLogList = (data) => {
    state.record = data;
    const params = {
      pageNum: state.pagination.defaultCurrent ? state.pagination.defaultCurrent : 1,
      pageSize: state.pagination.defaultPageSize ? state.pagination.defaultPageSize : 10,
      recordKey: data.recordKey,
      handleCommitSeqno: data.handleCommitSeqno,
      modelId: data.modelId,
      sid: data.id || '',
    };
    getDealWithLog(params).then((res) => {
      if (res.data.code === 'OK') {
        state.pagination.total = res.data.data.pagination.total;
        state.dataSource = res.data.data.pagination.list;
      }
    });
  };
  defineExpose({
    getLogList,
  });
</script>

<style></style>
