<template>
  <a-modal
    v-model:visible="state.modalVisible"
    width="90%"
    :mask-closable="false"
    destroy-on-close
    :footer="null"
    @cancel="cancel"
  >
    <div class="ThreadProcessingLogModel">
      <a-collapse
        v-model:activeKey="activeKey"
        expand-icon-position="right"
        :bordered="false"
        default-active-key="1"
      >
        <span class="descriptions-title" style="color: rgb(24, 144, 255)">{{
          state.roleFlag ? '业务信息' : '疑似问题详情'
        }}</span>
        <a-divider />
        <template #expandIcon="{ isActive }">
          <double-right-outlined
            class="icon"
            style="color: rgb(24, 144, 255); margin-bottom: 5px"
            :rotate="!isActive ? 0 : 90"
          />
        </template>
        <!-- 合并 -->
        <a-collapse-panel key="1" :style="'border: 0;'">
          <a-card :bordered="false" :loading="state.loading" style="width: 100%; min-height: 150px">
            <div v-if="state.cluesInformation.length > 0">
              <!-- 领导 -->
              <a-descriptions
                v-if="state.roleFlag"
                class="descriptions-body"
                :column="3"
                :colon="false"
              >
                <a-descriptions-item>
                  <template #label>
                    <span class="infoTests">问题简述&nbsp;:</span>
                  </template>
                  <a-tooltip :title="state.keyInfolist.proQua">
                    <span class="infoTest infoTests">{{ state.keyInfolist.proQua }}</span>
                  </a-tooltip>
                </a-descriptions-item>
                <a-descriptions-item label="问题分类 :">
                  <span :title="state.keyInfolist.bizName"> {{ state.keyInfolist.bizName }}</span>
                </a-descriptions-item>
                <a-descriptions-item label="监督领域">
                  <a-tooltip :title="state.keyInfolist.bizSystem"> </a-tooltip>
                </a-descriptions-item>
              </a-descriptions>
              <a-descriptions v-if="state.roleFlag" class="descriptions-body" :column="3">
                <a-descriptions-item label="所属防线">
                  <span>
                    {{ lineOfDefenseTypeFn(state.keyInfolist.lineOfDefenseType) || '无' }}</span
                  >
                </a-descriptions-item>
                <a-descriptions-item label="核查意见">
                  <a-tooltip :title="state.scyj">
                    <span class="infoTest">{{ state.scyj }}</span>
                  </a-tooltip>
                </a-descriptions-item>
                <a-descriptions-item label="纪检意见">
                  <a-tooltip :title="state.jjyj">
                    <span class="infoTest">{{ state.jjyj }}</span>
                  </a-tooltip>
                </a-descriptions-item>
              </a-descriptions>
              <a-descriptions v-if="state.roleFlag" class="descriptions-body" :column="3">
                <a-descriptions-item label="责任单位">
                  <a-tooltip :title="state.keyInfolist.company">
                    <span class="infoTest"> {{ state.keyInfolist.company }}</span>
                  </a-tooltip>
                </a-descriptions-item>
                <a-descriptions-item label="责任部门">
                  <a-tooltip :title="state.keyInfolist.department">
                    <span class="infoTest"> {{ state.keyInfolist.department }}</span>
                  </a-tooltip>
                </a-descriptions-item>
                <a-descriptions-item label="模型名称">
                  <a-tooltip :title="state.keyInfolist.modelName">
                    <span class="infoTest"> {{ state.keyInfolist.modelName }}</span>
                  </a-tooltip>
                </a-descriptions-item>
              </a-descriptions>
              <!-- 普通 -->
              <a-descriptions
                v-if="!state.roleFlag"
                class="descriptions-body"
                :column="3"
                :colon="false"
              >
                <a-descriptions-item>
                  <template #label>
                    <span :class="state.isQua == '疑似问题' ? null : 'infoTests'">
                      {{ state.isQua }}&nbsp;:</span
                    >
                  </template>
                  <span
                    :title="
                      state.isQua == '疑似问题'
                        ? state.keyInfolist.problemType
                        : state.keyInfolist.proQua
                    "
                    :class="state.isQua == '疑似问题' ? null : 'infoTests'"
                    >{{
                      state.isQua == '疑似问题'
                        ? state.keyInfolist.problemType
                        : state.keyInfolist.proQua
                    }}</span
                  >
                </a-descriptions-item>
                <a-descriptions-item label=" 业务环节 :">
                  <span :title="state.keyInfolist.bizIds">{{ state.keyInfolist.bizIds }}</span>
                </a-descriptions-item>
                <a-descriptions-item label="业务对象 :">
                  <span :title="state.keyInfolist.businessObjs">{{
                    state.keyInfolist.businessObjs
                  }}</span>
                </a-descriptions-item>
              </a-descriptions>
              <a-descriptions v-if="!state.roleFlag" class="descriptions-body" :column="3">
                <a-descriptions-item label="监督领域">
                  <span :title="state.keyInfolist.bizSystem">{{
                    state.keyInfolist.bizSystem
                  }}</span>
                </a-descriptions-item>
                <a-descriptions-item label="所属防线">
                  <span>
                    {{ lineOfDefenseTypeFn(state.keyInfolist.lineOfDefenseType) || '无' }}</span
                  >
                </a-descriptions-item>
                <a-descriptions-item label="核查意见">
                  <a-tooltip :title="state.scyj">
                    <span class="infoTest">{{ state.scyj }}</span>
                  </a-tooltip>
                </a-descriptions-item>
              </a-descriptions>

              <a-descriptions v-if="!state.roleFlag" class="descriptions-body" :column="3">
                <a-descriptions-item label="纪检意见">
                  <a-tooltip :title="state.jjyj">
                    <span class="infoTest">{{ state.jjyj }}</span>
                  </a-tooltip>
                </a-descriptions-item>
                <a-descriptions-item label="模型名称">
                  <a-tooltip :title="state.keyInfolist.modelName">
                    <span class="infoTest">{{ state.keyInfolist.modelName }}</span>
                  </a-tooltip>
                </a-descriptions-item>
                <a-descriptions-item label="待办编号">
                  <span :title="state.keyInfolist.sid">{{ state.keyInfolist.sid }}</span>
                </a-descriptions-item>
              </a-descriptions>
              <div class="flex-box">
                <p
                  v-for="(item, index) in state.cluesInformation"
                  :key="index"
                  class="flex-box-item"
                >
                  <span v-show="item.columnValue != 'PROBLEM_TYPE_CODE'" class="title"
                    >{{ item.columnCname }}:</span
                  >
                  <span v-show="item.columnValue != 'PROBLEM_TYPE_CODE'" :title="item.columnValue">
                    {{ item.columnValue || '无' }}</span
                  >
                </p>
              </div>
            </div>
          </a-card>
        </a-collapse-panel>
      </a-collapse>
      <div v-if="state.dataSource1.length > 0">
        <span class="descriptions-title" style="color: rgb(24, 144, 255)">整改日志</span>
        <a-divider />
        <a-table
          :columns="state.columns1"
          :data-source="state.dataSource1"
          :pagination="state.pagination1"
          :scroll="{ y: 300, x: 1200 }"
          @change="handleTableChange"
        >
          <template #bodyCell="{ column, record }">
            <template v-if="column.key === 'action'">
              <a
                v-for="(item, index) in record.attachmentDtos"
                :key="index"
                :title="item.realFileName"
                @click="filePreview(item)"
              >
                {{ item.showName }}
                <a-divider v-if="index < record.attachmentDtos.length - 1" type="vertical" />
              </a>
            </template>
          </template>
        </a-table>
      </div>
      <span class="descriptions-title" style="color: rgb(24, 144, 255)">处理日志</span>
      <a-divider />
      <a-table
        :columns="state.columns"
        :data-source="state.dataSource"
        :pagination="state.pagination"
        @change="pagingChange"
      >
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'action'">
            <a
              v-for="(item, index) in record.attsList"
              :key="index"
              :title="item.realFileName"
              @click="filePreview(item)"
            >
              {{ item.showName }}
              <a-divider v-if="index < record.attsList.length - 1" type="vertical" />
            </a>
          </template>
        </template>
      </a-table>
    </div>

    <!-- 展示图片 -->
    <a-image
      :width="200"
      :style="{ display: 'none' }"
      :preview="{
        visible,
        onVisibleChange: setVisible,
      }"
      :src="state.imgUrl"
    />
  </a-modal>
</template>

<script setup lang="ts">
  import { ref, reactive, watch, computed, getCurrentInstance } from 'vue';
  import { message as $message } from 'ant-design-vue';
  import { useUserStore } from '@/store/modules/user';
  import { getdetail, getTodoHistory, getDealWithLog, getLogList } from '@/api/supervisionGovern';
  import { downIng, downloadJson } from '@/utils/request';

  import dict from '@/utils/dict';
  const { proxy } = getCurrentInstance();
  defineOptions({
    name: 'threadProcessingLogModel',
    inheritAttrs: false,
  });
  const props = defineProps({
    visible: { type: Boolean, default: false },
    data: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });
  const activeKey = ref(['1']);
  const visible = ref<boolean>(false);
  const setVisible = (value): void => {
    visible.value = value;
  };
  const state = reactive({
    modalVisible: false,
    roleFlag: false,
    id: '',
    clueName1: '',
    loading: false,
    cluesInformation: [],
    keyInfolist: {
      bizIds: '', // 业务环节
      bizSystem: '',
      businessObjs: '', // 业务对象
      handleOpinion: '', // 处理建议
      problemType: '',
      bizName: '', // 问题分类(业务环节)
      company: '', // 责任单位
      department: '', // 责任部门
      proQua: '', // 问题简述
      modelName: '', // 模型名称
      sid: '', // 待办编号
    },
    jjyj: '无',
    scyj: '无',
    isQua: '疑似问题',
    loadingInfo: false,
    columns: [
      {
        title: '处理时间',
        dataIndex: 'updateTime',
        key: 'updateTime',
        width: 200,
        ellipsis: true,
      },
      {
        title: '待办环节',
        dataIndex: 'todoLink',
        key: 'todoLink',
        width: 100,
        ellipsis: true,
      },
      {
        title: '当前处理人',
        dataIndex: 'handlerUsername',
        key: 'handlerUsername',
        width: 150,
        ellipsis: true,
      },
      {
        title: '下一处理人',
        dataIndex: 'afterUser',
        key: 'afterUser',
        width: 150,
        ellipsis: true,
      },
      {
        title: '处理结果',
        dataIndex: 'handleResult',
        key: 'handleResult',
        width: 100,
        ellipsis: true,
      },
      {
        title: '处理情况',
        dataIndex: 'handleRemark',
        key: 'handleRemark',
        width: 300,
        ellipsis: true,
      },
      {
        title: '材料',
        key: 'action',
        // scopedSlots: { customRender: 'action' },
        // fixed: "right"
      },
    ],
    columns1: [
      {
        title: '处理时间',
        dataIndex: 'processTime',
        key: 'processTime',
        width: 200,
        ellipsis: true,
      },
      {
        title: '待办环节',
        key: 'todoLink',
        width: 100,
        customRender: ({ record }) => {
          return record.todoLink && '整改处理';
        },
      },
      {
        title: '当前处理人',
        dataIndex: 'processUser',
        key: 'processUser',
        width: 150,
        ellipsis: true,
      },
      {
        title: '计划整改时间',
        dataIndex: 'planCompleteTime',
        key: 'planCompleteTime',
        width: 180,
        ellipsis: true,
      },
      {
        title: '整改完成时间',
        dataIndex: 'completeTime',
        key: 'completeTime',
        width: 180,
        ellipsis: true,
      },
      {
        title: '下一处理人',
        dataIndex: 'nextProcessUser',
        key: 'nextProcessUser',
        width: 150,
        ellipsis: true,
      },
      {
        title: '处理结果',
        key: 'processResult',
        width: 100,
        customRender: ({ record }) => {
          return (
            record.processResult &&
            dict.getItemText('RECTIFICATIONLOG_AUDIT_STATUS', record.processResult)
          );
        },
      },
      {
        title: '整改类型',
        key: 'processResult',
        width: 220,
        customRender: ({ record }) => {
          const obj =
            record.type && record.type.indexOf(',') != -1 ? record.type.split(',') : [record.type];
          const type = [];
          obj.forEach((v) => {
            type.push(dict.getItemText('RECTIFY_TYPE', v));
          });
          return type.join();
        },
      },
      {
        title: '整改说明',
        dataIndex: 'explain',
        key: 'explain',
        width: 300,
        ellipsis: true,
      },
      {
        title: '整改材料',
        key: 'action',
        width: 300,
        // scopedSlots: { customRender: 'action' },
      },
    ],
    dataSource: [],
    dataSource1: [],
    // 分页配置
    pagination: {
      pageSizeOptions: ['5', '10', '20', '30', '40', '100'],
      defaultCurrent: 1,
      defaultPageSize: 5,
      showQuickJumper: true,
      showSizeChanger: true,
      showTotal: (total, range) => `显示 ${range[0]} ~ ${range[1]} 条记录，共 ${total} 条记录`,
      imgUrl: '',
    },
    pagination1: {
      pageSizeOptions: ['10', '20', '30', '40'],
      current: 1,
      pageSize: 10,
      total: 0,
      showSizeChanger: true,
      showQuickJumper: true,
      showTotal: (total, range) => `显示 ${range[0]} ~ ${range[1]} 条记录，共 ${total} 条记录`,
    },
  });
  const lineOfDefenseTypeFn = (val) => {
    return proxy.$dict.getItemText('lineOfDefense', val);
  };
  //待办关键信息
  const keyInfo = async () => {
    if (
      props.data.todoType == '确认问题' ||
      props.data.todoType == '问题线索' ||
      props.data.todoType == '不是问题线索' ||
      props.data.todoType == '移交问题'
    ) {
      state.isQua = '问题简述';
    } else {
      state.isQua = '疑似问题';
    }
    const params = {
      id: props.data.modelId,
      sid: props.data.id,
      todoLink: '10',
    };
    state.loadingInfo = true;
    const r = await getTodoHistory(params).then();
    if (r.data.data) {
      const obj = r.data.data;
      state.loadingInfo = false;
      state.keyInfolist = {
        bizIds: obj.bizIds ? dict.getValue('bizIds', obj.bizIds).itemText : '',
        bizSystem: obj.bizSystem ? dict.getValue('bizSystem', obj.bizSystem).itemText : '',
        businessObjs: obj.businessObjs
          ? dict.getValue('businessObject', obj.businessObjs).itemText
          : '',
        handleOpinion: obj.handleOpinion,
        problemType: obj.problemType,
        bizName: obj.bizName, // 问题分类(业务环节)
        company: obj.company, // 责任单位
        department: obj.department, // 责任部门
        proQua: obj.proQua, // 问题简述
        modelName: obj.modelName, // 模型名称
        sid: obj.sid, // 待办编号
        lineOfDefenseType: obj.lineOfDefenseType,
      };
    }
  };
  // 分页配置
  const pagingConfig = (data) => {
    const pagination = { ...state.pagination };
    pagination.total = data.total;
    pagination.defaultPageSize = data.pageSize;
    pagination.defaultCurrent = data.pageNum;
    state.pagination = pagination;
  };
  // 获取日志
  const etDealWithLog = () => {
    const params = {
      pageNum: state.pagination.defaultCurrent ? state.pagination.defaultCurrent : 1,
      pageSize: state.pagination.defaultPageSize ? state.pagination.defaultPageSize : 10,
      // problemTypeCode: this.data.PROBLEM_TYPE_CODE,
      recordKey: props.data.recordKey,
      handleCommitSeqno: props.data.handleCommitSeqno,
      modelId: props.data.modelId,
      sid: props.data.id ? props.data.id : '',
    };
    getDealWithLog(params).then((res) => {
      if (res.data.code === 'OK') {
        pagingConfig(res.data.data.pagination);
        state.dataSource = res.data.data.pagination.list;
        state.dataSource.forEach((v) => {
          if (v.todoLink === '纪检研判') {
            state.jjyj = v.handleRemark;
          } else if (v.todoLink === '核查处理') {
            state.scyj = v.handleRemark;
          }
        });
      }
    });
  };
  // 整改日志
  const getList = async () => {
    const res = await getLogList({
      pageNum: state.pagination1.current,
      pageSize: state.pagination1.pageSize,
      sid: props.data.id,
    });
    if (res.data.code === 'OK') {
      state.dataSource1 = res.data.data;
      state.pagination1.total = res.data.total;
      console.log(state.dataSource1, 'state.dataSource1');
    }
  };
  watch(
    () => props.visible,
    (newValue) => {
      state.modalVisible = newValue;
      etDealWithLog();
      keyInfo();
      if (newValue) {
        getList();
      }
    },
    { deep: true },
  );
  const userStore = useUserStore();
  const user = computed(() => userStore.userInfo);
  const emits = defineEmits(['cancel']);
  const details = (record, recordKey) => {
    const roleId = user.value.roleId;
    if (roleId == 85 || roleId == 86 || roleId == 90) {
      state.roleFlag = true;
    } else {
      state.roleFlag = false;
    }
    state.id = record;
    state.clueName1 = recordKey;
    cluesinformation();
  };
  const cluesinformation = () => {
    state.loading = true;
    const model = {
      dataModelId: state.id,
      pageNum: 1,
      pageSize: 1,
      total: 1,
      queryHistoryTime: 0,
      connectedTable: false,
      connectedTableType: 1,
      filters: [
        {
          columnName: '_hoodie_record_key',
          filterType: '=',
          values: [state.clueName1],
        },
      ],
      queryHistory: '1',
    };
    getdetail(model).then((r) => {
      if (r.data.success === true) {
        state.loading = false;
        const modelList = r.data.data.modelsDetailHeads;
        if (r.data.data.modelList.length > 0) {
          const modelInfo = r.data.data.modelList[0];
          const index = modelList.findIndex((x) => x.columnName === '_hoodie_commit_seqno');
          if (index > -1) {
            const temps = modelList.slice(0, index);
            state.cluesInformation = temps;
          }
          state.cluesInformation.map((item) => {
            item.columnValue = modelInfo[item.columnName];
            item.itemlength =
              item.columnCname.length +
              (item.columnValue == 'null' || item.columnValue == null
                ? 0
                : `${item.columnValue}`.length); // || 4有些值为undefined，强行给个4
            return item;
          });
          Sort(state.cluesInformation, 'itemlength'); //按字符长度排序
        } else {
          $message.warning('暂无数据');
        }
      } else {
        state.loading = true;
        $message.error(r.data.message);
      }
    });
    const Sort = (array, key) => {
      return array.sort(function (a, b) {
        const x = a[key];
        const y = b[key];
        return x < y ? -1 : x > y ? 1 : 0;
      });
    };
  };
  // 整改日志分页操作
  const handleTableChange = (pagination) => {
    state.pagination1.current = pagination.current;
    state.pagination1.pageSize = pagination.pageSize;
    getList();
  };
  // 分页操作
  const pagingChange = (selectedRowKeys) => {
    state.pagination.defaultPageSize = selectedRowKeys.pageSize;
    state.pagination.defaultCurrent = selectedRowKeys.current;
    etDealWithLog();
  };
  const filePreview = (data) => {
    const url = `p/clue/file/downLoad`;
    // 如果有base64就是图片没有就需要下载 wl
    if (data.base64) {
      downIng(url, { filePathName: data.realFileName }, data.realFileName).then((res) => {
        state.imgUrl = res.target.result;
        setImgVisible(true);
      });
    } else {
      // 文件下载
      downloadJson(
        'p/clue/file/downLoad',
        {
          filePathName: data.realFileName,
        },
        data.realFileName,
      ).then(() => {});
    }
  };
  // 查看图片
  const setImgVisible = () => {
    setVisible(true);
  };
  const cancel = () => {
    emits('cancel');
  };
  defineExpose({
    details,
  });
</script>

<style lang="less" scoped>
  .icon {
    height: 27px;
  }
  .ant-modal {
    width: 580px !important;
  }
  .ThreadProcessingLogModel {
    > header {
      height: 30%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      font-family: SourceHanSansCN-Regular;
      font-size: 14px;
      font-weight: normal;
      line-height: 22px;
      letter-spacing: 0em;
      color: rgba(0, 0, 0, 0.85);
      margin-left: -25%;
      p span {
        width: 30%;
        display: inline-block;
        text-align: right;
      }
    }
    .tableTab {
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.85);
      border-bottom: 1px solid #eeeeee;
      margin-bottom: 43px;
    }
    .imgView {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.171);
      z-index: 100;
      img {
        max-height: 100%;
        max-width: 100%;
        // min-width: 50%;
      }
      .close {
        position: absolute;
        right: 23.25rem;
        top: 8.625rem;
        font-size: 50px;
      }
    }
  }
  /deep/.ant-descriptions-item-label {
    font-weight: bold;
    // color: #000;
  }
  .descriptions-title {
    font-size: 20px;
  }
  /deep/ .ant-divider {
    margin: 0;
  }
  /deep/.ant-collapse-icon-position-right
    > .ant-collapse-item
    > .ant-collapse-header
    .ant-collapse-arrow {
    font-size: 20px;
    position: absolute;
    top: -13px;
    left: -79%;
    color: #1890ff;
  }
  /deep/.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 0;
  }
  /deep/.ant-collapse-content > .ant-collapse-content-box {
    padding: 0px;
  }
  .infoTest {
    vertical-align: bottom;
    width: 350px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    // color: red;
  }
  .infoTests {
    font-weight: bold;
    color: red;
    // font-size: 22px;
  }
  /deep/.descriptions-body {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 200px;
  }
  .flex-box {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    .flex-box-item {
      min-width: 33.33%;
      max-width: 100%;
      padding-right: 80px;
      padding-bottom: 16px;
      font-size: 14px;
      line-height: 26px;
      .title {
        color: rgba(0, 0, 0, 0.85);
        font-weight: bold;
      }
    }
  }
</style>
