<template>
  <div class="page-container">
    <Form
      ref="queryFormRef"
      layout="inline"
      :model="formModel"
      class="bg-white dark:bg-black mb-16px !pt-24px pr-24px"
      submit-on-reset
    >
      <Form.Item label="选择月份" name="month" :wrapper-col="{ offset: 0, span: 16 }">
        <DatePicker
          v-model:value="formModel.month"
          :disabled-date="disabledDate"
          picker="month"
          :format="monthFormat"
        ></DatePicker>
      </Form.Item>
      <Form.Item style="margin-left: auto">
        <Button type="primary" class="mr-2" @click="search"> 查询 </Button>
        <Button danger type="primary" class="mr-2" @click="resetFields"> 重置 </Button></Form.Item
      >
    </Form>
    <div class="container bg-white dark:bg-black">
      <div class="toolbar">
        <Button type="primary" @click="insert"> <PlusOutlined /> 新增 </Button>
        <Button :loading="loading.load" @click="refresh"> 刷新 </Button>
        <Button :loading="loading.save" @click="save"> 保存 </Button>
        <Button :loading="loading.del" @click="del"> 删除 </Button>
      </div>
      <vxe-grid ref="grid" v-bind="gridOptions">
        <template #name="{ row }">
          <span>自定义插槽模板 {{ row.name }}</span>
        </template>
      </vxe-grid>
    </div>
  </div>
</template>

<script setup lang="tsx">
  import { onMounted, reactive, ref } from 'vue';
  import { useRoute } from 'vue-router';
  import { VxeGridProps } from 'vxe-table';
  import { isNil, isEmpty } from 'lodash-es';
  import { QuestionCircleOutlined } from '@ant-design/icons-vue';
  import dayjs, { Dayjs } from 'dayjs';
  import { Modal, Form, DatePicker, Button, FormInstance } from 'ant-design-vue';
  import { delTableData, getTableConfig, saveTableData } from '@/api/dataAdministration/form';
  const formId = ref('99c5dc0a96d549509da1f33cc7c6b162');
  const grid = ref('');
  const columns = reactive<any>([
    { type: 'checkbox', width: 50 },
    { type: 'seq', width: 50 },
  ]);
  const monthFormat = 'YYYYMM';
  const queryFormRef = ref<FormInstance>();
  const loading = reactive({
    save: false,
    del: false,
    load: false,
  });
  const formModel = reactive({
    month: dayjs().subtract(1, 'month'),
  });
  const rows = reactive<any>([]);
  const route = useRoute();
  // formId.value = route.query.id;
  const disabledDate = (current: Dayjs) => {
    return current && current > dayjs().subtract(1, 'month').startOf('day');
  };
  const gridOptions = reactive<VxeGridProps<any>>({
    border: true,
    showOverflow: true,
    rowConfig: {
      height: 34,
    },
    headerRowClassName: 'my-header',
    cellClassName: 'my-cell',
    toolbarConfig: {
      custom: false,
    },
    columns,
    data: rows,
    editConfig: {
      trigger: 'click',
      mode: 'cell',
    },
  });

  const insert = () => {
    grid?.value.insert({});
  };
  const save = async () => {
    loading.save = true;
    const { tableData } = grid?.value.getTableData();
    await saveTableData(formId.value, tableData);

    loading.save = false;
  };
  const del = async () => {
    const rows = grid?.value.getCheckboxRecords(false);
    if (rows.length > 0) {
      Modal.confirm({
        title: '您确定要删除吗？',
        icon: <QuestionCircleOutlined />,
        centered: true,
        onOk: async () => {
          const ids: any = [];
          rows.forEach((x) => {
            if (Object.hasOwn(x, 'id') && !isNil(x.id)) {
              ids.push(x.id);
            }
          });
          if (ids.length > 0) {
            loading.del = true;
            const r = await delTableData(formId.value, ids);
            if (r.success) {
              grid?.value.remove(rows);
            }
            loading.del = false;
          } else {
            grid?.value.remove(rows);
          }
        },
      });
    }
  };
  const refresh = () => {
    loadForm();
  };
  const search = () => {
    loadForm();
  };
  const resetFields = () => {
    queryFormRef.value.resetFields();
  };

  const params = () => {
    const filters: any = [];
    if (isEmpty(formModel.month)) {
      formModel.month = dayjs().subtract(1, 'month');
    }
    filters.push({
      columnName: 'month',
      filterType: '=',
      columnType: '',
      values: [formModel.month.format('YYYYMM')],
    });
    return { id: formId.value, filters };
  };
  const loadForm = async () => {
    loading.load = true;
    const r = await getTableConfig(params());
    columns.length = 2;
    rows.length = 0;
    await grid?.value.reloadData([]);
    if (r.success) {
      r.data.modelsDetailHeads.forEach((x) => {
        if (
          x.columnName != 'id' &&
          x.columnName != 'update_by' &&
          x.columnName != 'update_time' &&
          x.columnName != 'create_by' &&
          x.columnName != 'create_time'
        ) {
          let type = 'input';
          if (x.columnType === '2') {
            type = 'number';
          } else if (x.columnType === '3') {
            type = 'date';
          }
          if (x.isReadOnly === '0') {
            Object.assign(x, {
              editRender: { name: 'input', attrs: { type } },
            });
          }

          columns.push(
            Object.assign(x, {
              field: x.columnName,
              title: x.columnCname,
            }),
          );
        }
      });
      r.data.modelList.forEach((x) => {
        rows.push(x);
      });
    }
    loading.load = false;
  };
  onMounted(() => {
    loadForm();
  });
</script>

<style scoped lang="less">
  .page-container {
    .container {
      padding: 10px;
    }
    /deep/.ant-form-item {
      margin: 0 0 12px;
    }
    .toolbar {
      text-align: right;
      button {
        margin-left: 10px;
      }
    }
    /deep/.my-header {
      height: 34px !important;
      .vxe-header--column {
        padding: 6px 0;
        font-weight: 500;
      }
    }
    /deep/.my-cell {
      .vxe-default-input {
        height: 25px !important;
      }
    }
  }
</style>
