<template>
  <div class="page-container">
    <DynamicTable
      row-key="id"
      header-title="角色管理"
      :data-request="loadTableData"
      :columns="columns"
      bordered
      auto-height
      :scroll="{ y: 300 }"
      size="small"
    >
      <template #toolbar>
        <a-button type="primary" :disabled="!$auth('role:add')" @click="openRoleModal({})">
          新增
        </a-button>
      </template>
    </DynamicTable>
  </div>
</template>

<script lang="ts" setup>
  import { omit } from 'lodash-es';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import { roleSchemas } from './formSchemas';
  import type { LoadDataParams } from '@/components/core/dynamic-table';
  import {
    getRoleListPage,
    updateRole,
    createRole,
    deleteRole,
    getRoleMenus,
  } from '@/api/system/role';
  import { getMenuAll } from '@/api/system/menu';
  import { useTable } from '@/components/core/dynamic-table';
  import { useFormModal } from '@/hooks/useModal/useFormModal';

  defineOptions({
    name: 'SystemPermissionRole',
  });

  const [DynamicTable, dynamicTableInstance] = useTable();

  const [showModal] = useFormModal();

  const loadTableData = async (params: LoadDataParams) => {
    const data = await getRoleListPage({
      ...params,
    });

    return {
      list: data.data,
      pagination: { total: data.total, page: params.pageNum, size: params.pageSize },
    };
  };

  // const getCheckedKeysFun = (checkedList: number[], options: TreeDataItem[], total = []) => {
  //   return options.reduce<number[]>((prev, curr) => {
  //     if (curr.children?.length) {
  //       getCheckedKeys(checkedList, curr.children, total);
  //     } else {
  //       if (checkedList.includes(curr.id)) {
  //         prev.push(curr.id);
  //       }
  //     }
  //     return prev;
  //   }, total);
  // };

  const openRoleModal = async (record: Partial<TableListItem>) => {
    const [formRef] = await showModal<API.UpdateRoleParams>({
      modalProps: {
        title: `${record.roleId ? '编辑' : '新增'}角色`,
        width: '50%',
        onFinish: async (values) => {
          record.roleId && (values.roleId = record.roleId);

          const params = {
            ...values,
          };
          console.log('新增/编辑角色', params);
          await (record.roleId ? updateRole : createRole)(params);
          dynamicTableInstance?.reload();
        },
      },
      formProps: {
        labelWidth: 100,
        schemas: roleSchemas,
      },
    });

    const menuData = await getMenuAll();

    // 部分数据要parseInt
    const menuTree = [];
    for (let i = 0; i < menuData.rows.children.length; i++) {
      menuTree.push(genMenuTreeTableItem(menuData.rows.children[i]));
    }

    formRef?.updateSchema([
      {
        field: 'menus',
        componentProps: { treeData: menuTree },
      },
    ]);

    if (record.roleId) {
      // 获取 menuId
      const menuIds = await getRoleMenus({ roleId: record.roleId });
      console.log('menuIds', record.roleId, menuIds);
      // console.log('checked', getCheckedKeys(menuIds, menuTree));
      formRef?.setFieldsValue({
        ...record,
        name: record.roleName,
        // menus: getCheckedKeys(menuIds, menuTree),
        menus: { checked: menuIds },
      });

      formRef?.updateSchema([
        {
          field: 'name',
          dynamicDisabled: true,
        },
      ]);
    }
  };
  const delRowConfirm = async (record: TableListItem) => {
    await deleteRole([record.roleId]);
    dynamicTableInstance?.reload();
  };
  const genMenuTreeTableItem = (item) => {
    const children = [];

    if (item.children) {
      for (let i = 0; i < item.children.length; i++) {
        const child = item.children[i];
        children.push(genMenuTreeTableItem(child));
      }
    }

    return {
      ...omit(item, ['type', 'permission', 'parentId', 'children']),
      type: parseInt(item.type),
      perms: item.permission,
      parentId: parseInt(item.parentId),
      children: children.length ? children : null,
    };
  };
  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 160,
      dataIndex: 'ACTION',
      hideInSearch: true,
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => [
        {
          label: '编辑',
          auth: {
            perm: 'role:update',
            effect: 'disable',
          },
          onClick: () => openRoleModal(record),
        },
        {
          label: '删除',
          auth: 'role:delete',
          popConfirm: {
            title: '你确定要删除吗？',
            onConfirm: () => delRowConfirm(record),
          },
        },
      ],
    },
  ];
</script>
<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
</style>
