<template>
  <DraggableModal
    v-model:visible="myVisible"
    title="配置公式"
    :width="900"
    destroy-on-close
    fullscreen
    :body-style="{ height: '460px', overflow: 'auto' }"
    @cancel="closeModal(false)"
    @ok="saveEneity"
  >
    <div>
      <a-row type="flex">
        <a-col :span="12" class="header-cell"
          ><div class="header-label">目标编号</div>
          <div class="header-content">{{ props.record.code1 }}</div></a-col
        >
        <a-col :span="12" class="header-cell"
          ><div class="header-label">评价周期</div>
          <div class="header-content">{{ props.record.code2 }}</div></a-col
        >
      </a-row>
      <a-row type="flex">
        <a-col :span="12" class="header-cell"
          ><div class="header-label">目标名称</div>
          <div class="header-content">{{ props.record.code3 }}</div></a-col
        >
        <a-col :span="12" class="header-cell"
          ><div class="header-label">时间周期</div>
          <div class="header-content">{{ props.record.code4 }}</div></a-col
        >
      </a-row>
      <a-row type="flex">
        <a-col :span="12" class="header-cell"
          ><div class="header-label">被评价单位</div>
          <div class="header-content">{{ props.record.code5 }}</div></a-col
        >
      </a-row>
    </div>
    <a-divider></a-divider>
    <div class="form-panel">
      <Form ref="formRef" :model="formState.formList">
        <a-row>
          <a-col :sm="12">
            <Form.Item
              label="数据汇总方式"
              name="calcType"
              :rules="[{ required: true, max: 200 }]"
              :label-col="{ span: 6 }"
              :wrapper-col="{ span: 16 }"
            >
              <a-select v-model:value="formState.formList.calcType">
                <a-select-option
                  v-for="(item, index) in dict.getItemsByDictCode('STATISTICAL_MODE')"
                  :key="index"
                  :value="item.itemValue"
                  >{{ item.itemText }}</a-select-option
                >
              </a-select>
            </Form.Item>
          </a-col>
          <a-col :sm="12">
            <Form.Item
              label="相关组织"
              name="deptArr"
              :label-col="{ span: 6 }"
              :wrapper-col="{ span: 18 }"
            >
              <a-tree-select
                v-model:value="formState.deptArr"
                show-search
                :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
                placeholder="请选择"
                allow-clear
                multiple
                :show-checked-strategy="SHOW_ALL"
                tree-default-expand-all
                :tree-data="treeDataSel"
              >
                <template #tagRender="{ label, closable, onClose }">
                  <a-tag :closable="closable" @close="onClose">
                    {{ label }}
                  </a-tag>
                </template>
              </a-tree-select>
            </Form.Item>
          </a-col>
          <a-col :sm="12">
            <Form.Item
              label="实绩公式描述"
              name="eneityResultFuncDesc"
              :rules="[{ required: true, max: 200 }]"
              :label-col="{ span: 6 }"
              :wrapper-col="{ span: 16 }"
            >
              <Input
                v-model:value="formState.formList.eneityResultFuncDesc"
                placeholder="请输入200字符以内"
              /> </Form.Item
          ></a-col>
        </a-row>
        <a-row>
          <a-col :sm="3" class="result-panel-label">实绩公式：</a-col>
          <a-col :sm="21">
            <a-row class="result-panel">
              <!-- tree -->
              <a-col :sm="9" class="result-panel-select">
                <a-spin :spinning="formState.treeLoading">
                  <div class="tree-content">
                    <Tree :show-line="showLine" :tree-data="treeData" @select="chooseTree"></Tree>
                  </div>
                </a-spin>
              </a-col>
              <a-col :sm="15" class="result-panel-input">
                <a-row>
                  <a-col :md="16" :sm="24" class="result-panel-input-header">
                    实绩结果代码：result
                  </a-col>
                  <a-col :md="8" :sm="24">
                    <Button @click="clearResult('result')">清空</Button>
                    <Button type="primary" class="r-button" @click="checkResult(1)">校验</Button>
                  </a-col>
                </a-row>
                <a-row style="margin-top: 10px">
                  <a-col :md="24" :sm="24">
                    <Form.Item
                      name="eneityResultFunc"
                      :rules="[{ required: true, message: '请输入实绩公式' }]"
                    >
                      <Input.TextArea
                        v-model:value="formState.formList.eneityResultFunc"
                        :autosize="{ minRows: 8, maxRows: 10 }"
                        placeholder="请输入英文字符下的表达式，支持四则运算如 (a1.p1*a1.p2-a1.p3+a1.p4) / a2.p5"
                      ></Input.TextArea>
                    </Form.Item>
                  </a-col>
                </a-row>
                <a-row>
                  <a-radio-group v-model:value="formState.formList.showType">
                    <a-radio
                      v-for="(item, index) in dict.getItemsByDictCode('PERFORMANCE_DISPLAY_TYPE')"
                      :key="index"
                      :value="item.itemValue"
                      >{{ item.itemText }}</a-radio
                    >
                  </a-radio-group>
                </a-row>
                <a-row v-if="formState.formList.showType == '2'">
                  <h3 class="pt-1x">目标展示</h3>
                  <a-col :md="24" :sm="24">
                    <a-textarea
                      v-model:value="formState.formList.goalSample"
                      placeholder="默认显示实绩结果 result。可以展示部分实绩值，如下：
宝山: p1
湛江: p5"
                      :rows="4"
                    />
                  </a-col>
                </a-row>
                <a-row v-if="formState.formList.showType == '2'">
                  <h3 class="pt-1x">实绩展示</h3>
                  <a-col :md="24" :sm="24">
                    <a-textarea
                      v-model:value="formState.formList.perfSample"
                      placeholder="默认显示实绩结果 result。可以展示部分实绩值，如下：
宝山: p1
湛江: p5"
                      :rows="4"
                    />
                  </a-col>
                </a-row>
              </a-col>
            </a-row>
          </a-col>
        </a-row>

        <Form.Item
          label="计分公式描述"
          name="eneityScoreFuncDesc"
          :rules="[{ required: true, max: 200 }]"
          :label-col="{ span: 3 }"
        >
          <a-row>
            <a-col :sm="9"
              ><Input
                v-model:value="formState.formList.eneityScoreFuncDesc"
                placeholder="请输入100字符以内"
            /></a-col>
            <a-col :sm="15" class="result-panel-input">
              <a-row>
                <a-col :md="16" :sm="24" class="result-panel-input-header"> </a-col>
                <a-col :md="8" :sm="24">
                  <Button @click="clearResult('score')">清空</Button>
                  <Button type="primary" class="r-button" @click="checkResult(2)">校验</Button>
                </a-col>
              </a-row>
            </a-col>
          </a-row>
        </Form.Item>
        <Form.Item
          label="计分公式"
          name="eneityScoreFunc"
          :rules="[{ required: true }]"
          :label-col="{ span: 3 }"
          :wrapper-col="{ span: 21 }"
        >
          <Input.TextArea
            v-model:value="formState.formList.eneityScoreFunc"
            :autosize="{ minRows: 5, maxRows: 10 }"
            placeholder="请输入表达式1000字符以内，如：得分区间为80-120分，每增减1%，加扣2分。示例： var min_score = 120 ; max_score = 120 ; var target ,final_socre var result10013;//实绩结果 final_socre = (80+ (result10013 - target)/target * 2); if(final_socre <= 80 ){ final_socre = 80; } if(final_socre >= 120 ){ final_socre = 120; } return final_socre ;"
          ></Input.TextArea>
        </Form.Item>
      </Form>
    </div>
  </DraggableModal>
</template>

<script setup lang="ts">
  import { computed, reactive, ref, watch } from 'vue';
  import {
    Form,
    Tree,
    Input,
    Button,
    message,
    type FormInstance,
    TreeProps,
    type TreeSelectProps,
    TreeSelect,
  } from 'ant-design-vue';
  import { DraggableModal } from '@/components/core/draggable-modal';
  import { queryTypeApi, checkConfigSql, saveConfigSql } from '@/api/orgPerList/setUp';
  import { getDeptAll } from '@/api/system/dept/index';
  import { genTreeCodeItem, genTreeNameItem } from '@/api/system/dept/service';
  import dict from '@/utils/dict.js';

  const SHOW_ALL = TreeSelect.SHOW_ALL;
  defineOptions({
    name: 'SetFormula',
  });
  const emit = defineEmits(['close']);

  const props = defineProps({
    visible: Boolean,
    record: {
      type: Object,
      default: () => {},
    },
    orgInfo: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });
  const formRef = ref<FormInstance>();
  const showLine = ref<boolean>(true);
  const treeData = ref<TreeProps['treeData']>([]);
  const formState = reactive<any>({
    deptArr: [],
    formList: {
      calcType: '',
      showType: '',
      goalSample: '',
      perfSample: '',
      ruleCode: '',
      eneityResultFuncDesc: '',
      eneityResultFunc: '', //实绩结果代码
      eneityScoreFuncDesc: '',
      eneityScoreFunc: '',
    },
    treeLoading: false,
  });

  const treeDataSel = ref<TreeSelectProps['treeData']>([]);
  const myVisible = computed(() => {
    return props.visible;
  });

  const closeModal = (isload) => {
    emit('close', isload);
  };
  const queryApi = async () => {
    formState.treeLoading = true;
    const { data } = await queryTypeApi({
      pageSize: -1,
    });
    const deptTree: API.TreeDataItem[] = [];
    for (let i = 0; i < data?.rows?.children.length; i++) {
      const temp = data?.rows?.children[i];
      deptTree.push(genTreeCodeItem(temp));
    }
    treeData.value = deptTree;
    formState.treeLoading = false;
  };

  //清空
  const clearResult = (type) => {
    if (type == 'result') {
      formState.formList.eneityResultFunc = '';
    } else if (type == 'score') {
      formState.formList.eneityScoreFunc = '';
    }
  };
  //校验
  const checkResult = async (type) => {
    const comParam = {
      scoreScript:
        type == 1 ? formState.formList.eneityResultFunc : formState.formList.eneityScoreFunc,
      type,
    };
    const { data } = await checkConfigSql(comParam);
    if (data.success) {
      message.success(`校验成功！`);
    } else {
      message.error(`${data.message}`);
    }
  };
  const saveEneity = () => {
    formRef.value
      ?.validate()
      .then(async () => {
        if (formState.formList.showType == '1') {
          formState.formList.goalSample = '';
          formState.formList.perfSample = '';
        }
        const params = {
          ...formState.formList,
          relationOrgCodes: formState.deptArr.length ? formState.deptArr.join() : null,
        };
        const { data } = await saveConfigSql(params);
        if (data.success) {
          message.success(`保存成功！`);
          closeModal(true);
        } else {
          message.error(`${data.message}`);
        }
      })
      .catch((error) => {
        console.log(`${error}`);
      });
  };
  //编辑渲染数据
  const renderData = () => {
    const {
      ruleCode,
      eneityResultFuncDesc,
      eneityResultFunc,
      eneityScoreFuncDesc,
      eneityScoreFunc,
      relationOrgCodes,
      calcType: calcTypeNum,
      showType: showTypeNum,
      goalSample,
      perfSample,
    } = props.record;
    const calcType = calcTypeNum ? calcTypeNum.toString() : '';
    const showType = showTypeNum ? showTypeNum.toString() : '';
    const _formState = {
      ruleCode,
      eneityResultFuncDesc,
      eneityResultFunc,
      eneityScoreFuncDesc,
      eneityScoreFunc,
      calcType,
      showType,
      goalSample,
      perfSample,
    };
    formState.deptArr = eneityResultFuncDesc
      ? relationOrgCodes?.split(',') || []
      : [props.orgInfo.orgName];
    formState.formList = _formState;
  };
  // 复制api的字段
  const chooseTree = (_selectedKeys, e) => {
    const desc = e.selectedNodes[0].desc;
    desc ? handelCopy(desc) : null;
  };
  const handelCopy = (val) => {
    const oInput = document.createElement('input');
    oInput.value = val;
    document.body.appendChild(oInput);
    oInput.select(); // 选择对象;
    document.execCommand('Copy'); // 执行浏览器复制命令
    message.success(`复制成功`);
    oInput.remove();
  };
  /**查询相关组织树选择
   *@genTreeNameItem 转换树格式,此处对接5s，转换的部门树均使用中文
   */
  const queryDept = async () => {
    const { rows } = (await getDeptAll()) as any;
    const deptTree: API.TreeDataItem[] = [];
    for (let i = 0; i < rows.children.length; i++) {
      const temp = rows.children[i];
      deptTree.push(genTreeNameItem(temp));
    }
    treeDataSel.value = deptTree;
  };

  watch(
    () => props.visible,
    (newVal) => {
      if (newVal) {
        queryApi();
        renderData();
        queryDept();
      } else {
        treeData.value = [];
      }
    },
  );
</script>

<style scoped lang="less">
  .header-cell {
    height: 30px;
    display: flex;
    .header-label {
      width: 80px;
      font-weight: bold;
      text-align: right;
    }
    .header-content {
      padding-left: 12px;
    }
  }
  .form-panel {
    /deep/.ant-col {
      width: unset;
    }
    .result-panel-label {
      text-align: right;
      padding-top: 10px;
    }
    .result-panel {
      border: 1px solid #e5e7eb;
      padding: 3px;
      border-radius: 4px;
      margin-bottom: 12px;
      .result-panel-select {
        padding: 6px;
      }

      .result-panel-input {
        border-left: 1px solid #e5e7eb;
        padding: 6px;
        .result-panel-input-header {
          display: flex;
          align-items: center;
        }
      }
    }
    .r-button {
      margin-left: 10px;
    }
  }
  .tree-content {
    height: 280px;
    overflow: auto;
  }
</style>
