<template>
  <div>
    <a-modal
      v-model:visible="dialogFormVisible"
      :mask-closable="false"
      title="整改处理"
      width="1000px"
      :footer="null"
      destroy-on-close
      @ok="handleOk"
      @cancel="closeFn"
    >
      <div v-if="state.showFlag">
        <a-form
          ref="auditFormRef"
          :model="state.auditForm"
          :label-col="{ span: 5 }"
          :wrapper-col="{ span: 16 }"
          :rules="rules"
          @finish="onFinish1"
          @finish-failed="onFinishFailed1"
        >
          <!--模型管理员整改资料提交- 整改联络员提交资料  -->
          <a-form-item label="待办编号">
            {{ state.auditForm.sid }}
          </a-form-item>
          <a-form-item label="整改类型" name="type">
            <a-checkbox-group v-model:value="state.auditForm.type">
              <a-checkbox
                v-for="(item, index) in state.rectifyTypeList"
                :key="index"
                :value="item.itemValue"
                >{{ item.itemText }}</a-checkbox
              >
            </a-checkbox-group>
          </a-form-item>
          <a-form-item label="整改措施" name="explain" style="margin-bottom: 20px">
            <a-textarea
              v-model:value="state.auditForm.explain"
              show-count
              :maxlength="200"
              allow-clear
              placeholder="请输入200字符以内"
            />
          </a-form-item>
          <a-form-item label="材料">
            <div class="dropbox">
              <a-upload-dragger
                v-model:fileList="state.fileList"
                name="file"
                :action="`${state.BASE_URL}p/clue/dealWithFileUpload`"
                :before-upload="beforeUpload"
                :headers="state.headers"
                accept=".zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png"
                @change="normFile"
                @preview="onPreview"
              >
                <p class="ant-upload-drag-icon">
                  <ArrowUpOutlined></ArrowUpOutlined>
                </p>
                <p class="ant-upload-text">点击或将文件拖拽到这里上传</p>
                <p class="ant-upload-hint"
                  >支持扩展名：.zip .rar .doc .docx .pdf .xls .xlsx .jpg .jpeg .png</p
                >
              </a-upload-dragger>
            </div>
          </a-form-item>
          <a-form-item
            label="部门领导选择"
            name="nextProcessUser"
            :rules="[{ required: true, message: '请选择部门领导' }]"
          >
            <a-cascader
              v-model:value="state.auditForm.nextProcessUser"
              set-fields-value=""
              :options="state.optionsData"
              placeholder="请选择部门领导"
              show-search
              change-on-select
              @change="changeTreeValue"
            />
          </a-form-item>
          <a-form-item label="整改计划完成时间：" name="planCompleteTime">
            <a-date-picker
              v-model:value="state.auditForm.planCompleteTime"
              format="YYYY-MM-DD"
              value-format="YYYY-MM-DD"
              type="date"
              placeholder="选择时间"
              style="width: 100%"
            />
          </a-form-item>
          <a-form-item label="整改完成时间：" name="completeTime">
            <a-date-picker
              v-model:value="state.auditForm.completeTime"
              format="YYYY-MM-DD"
              value-format="YYYY-MM-DD"
              type="date"
              placeholder="选择时间"
              style="width: 100%"
            />
          </a-form-item>
          <div class="sub-btn">
            <a-button
              type="primary"
              style="
                margin-right: 20px;
                border-color: transparent;
                background: #52c41a;
                color: #fff;
              "
              :loading="state.temporaryLoading"
              @click="auditHandleOk(10)"
            >
              保存</a-button
            >
            <a-button
              html-type="submit"
              type="primary"
              style="background: #1890ff; color: #fff"
              :loading="state.loading"
            >
              提交部门领导审核</a-button
            >
          </div>
          <div> </div>
        </a-form>
      </div>
      <!--部门领导整改审核- 检查人员整改判定 -->
      <div v-if="!state.showFlag">
        <a-form
          ref="checkFormRef"
          :model="state.checkForm"
          :label-col="{ span: 5 }"
          :rules="checkFormRules"
          :wrapper-col="{ span: 16 }"
          @finish="onFinish2"
          @finish-failed="onFinishFailed2"
        >
          <a-form-item label="待办编号">
            {{ state.checkForm.sid }}
          </a-form-item>
          <a-form-item label="整改类型" name="type">
            <a-checkbox-group v-model:value="state.checkForm.type">
              <a-checkbox
                v-for="(item, index) in state.rectifyTypeList"
                :key="index"
                :value="item.itemValue"
                >{{ item.itemText }}</a-checkbox
              >
            </a-checkbox-group>
          </a-form-item>
          <a-form-item label="处理意见" name="auditStatus">
            <a-radio-group v-model:value="state.checkForm.auditStatus">
              <a-radio :value="'10'"> 已整改 </a-radio>
              <a-radio :value="'00'"> 驳回模型管理员 </a-radio>
            </a-radio-group>
          </a-form-item>
          <a-form-item label="审核说明" name="explain" style="margin-bottom: 20px">
            <a-textarea
              v-model:value="state.checkForm.explain"
              show-count
              :maxlength="200"
              allow-clear
              placeholder="请输入200字符以内"
            />
          </a-form-item>
          <div class="sub-btn">
            <a-button
              html-type="submit"
              type="primary"
              style="background: #1890ff; color: #fff"
              :loading="state.loading"
            >
              提交</a-button
            >
          </div>
        </a-form>
      </div>
      <p style="margin-bottom: 20px" />
      <h2>整改日志</h2>
      <a-table
        :columns="state.columns"
        :data-source="state.dataSource"
        :pagination="state.pagination"
        :scroll="{ y: 300, x: 1200 }"
        @change="handleTableChange"
      >
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'action'">
            <a
              v-for="(item, index) in record.attachmentDtos"
              :key="index"
              :title="item.realFileName"
              @click="filePreview(item)"
            >
              {{ item.showName }}
              <a-divider v-if="index < record.attachmentDtos.length - 1" type="vertical" />
            </a>
          </template>
        </template>
      </a-table>
      <a-image
        :width="200"
        :style="{ display: 'none' }"
        :preview="{
          visible: state.imgVisible,
          onVisibleChange: setVisible,
        }"
        :src="state.imgUrl"
      />
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, getCurrentInstance, nextTick } from 'vue';
  import { ArrowUpOutlined } from '@ant-design/icons-vue';
  import { cloneDeep } from 'lodash-es';
  import { message, Upload } from 'ant-design-vue';
  // import 'ant-design-vue/lib/button/style';
  import {
    getLogList,
    saveLog,
    saveInspectRectify,
    saveLogAudit,
    getUsers,
    queryNew,
  } from '@/api/supervisionGovern';
  import { getDeptLead } from '@/api/supervisionModel';
  import { downIng, downloadJson } from '@/utils/request';
  // import { useUserStore } from '@/store/modules/user';
  import { ACCESS_TOKEN_KEY } from '@/enums/cacheEnum';
  import { Storage } from '@/utils/Storage';
  const { proxy } = getCurrentInstance();
  const emit = defineEmits(['search']);
  const dialogFormVisible = ref(false);
  const checkFormRef = ref();
  const auditFormRef = ref();
  const state = reactive({
    rectifyTypeList: proxy.$dict.getItemsByDictCode('RECTIFY_TYPE'), //整改类型
    optionsData: [],
    transferor: '',
    handleRemark: '',
    imgVisible: false,
    imgUrl: '',
    BASE_URL: process.env.VUE_APP_BASE_API, // url
    showFlag: true,
    temporaryLoading: false,
    loading: false,
    fileList: [], // 上传的文件列表
    headers: {}, // 上传头
    auditForm: {
      sid: '',
      explain: '',
      planCompleteTime: undefined,
      completeTime: undefined,
      nextProcessUser: null,
      type: [],
    },
    checkForm: {
      sid: '',
      auditStatus: '',
      explain: '',
      type: [],
    },
    dataSource: [],
    processUser: '',
    singleRadio: false,
    rectificationList: [],
    columns: [
      {
        title: '处理时间',
        dataIndex: 'processTime',
        key: 'processTime',
        width: 200,
        ellipsis: true,
      },
      {
        title: '待办环节',
        key: 'todoLink',
        width: 100,
        customRender: ({ record }) => {
          return record.todoLink && '整改处理';
        },
      },
      {
        title: '当前处理人',
        dataIndex: 'processUser',
        key: 'processUser',
        width: 150,
        ellipsis: true,
      },
      {
        title: '计划整改时间',
        dataIndex: 'planCompleteTime',
        key: 'planCompleteTime',
        width: 180,
        ellipsis: true,
      },
      {
        title: '整改完成时间',
        dataIndex: 'completeTime',
        key: 'completeTime',
        width: 180,
        ellipsis: true,
      },
      {
        title: '下一处理人',
        dataIndex: 'nextProcessUser',
        key: 'nextProcessUser',
        width: 150,
        ellipsis: true,
      },
      {
        title: '处理结果',
        key: 'processResult',
        width: 100,
        customRender: ({ record }) => {
          return (
            record.processResult &&
            proxy.$dict.getItemText('RECTIFICATIONLOG_AUDIT_STATUS', record.processResult)
          );
        },
      },
      {
        title: '整改类型',
        dataIndex: 'type',
        key: 'type',
        width: 150,
        ellipsis: true,
        customRender: ({ record }) => {
          const _type = (record.type &&
            record.type.indexOf(',') != -1 &&
            record.type.split(',')) || [record.type];
          let str = '';
          state.rectifyTypeList.forEach((i) => {
            _type &&
              _type.forEach((x) => {
                if (x == i.itemValue) {
                  str = `${str}${i.itemText},`;
                }
              });
          });
          return str;
        },
      },
      {
        title: '整改说明',
        dataIndex: 'explain',
        key: 'explain',
        width: 300,
        ellipsis: true,
      },
      {
        title: '整改材料',
        key: 'action',
        width: 300,
        // scopedSlots: { customRender: 'action' },
      },
    ],
    pagination: {
      pageSizeOptions: ['10', '20', '30', '40'],
      current: 1,
      pageSize: 10,
      total: 0,
      showSizeChanger: true,
      showQuickJumper: true,
      showTotal: (total, range) => `显示 ${range[0]} ~ ${range[1]} 条记录，共 ${total} 条记录`,
    },
  });
  const setVisible = (value): void => {
    state.imgVisible = value;
  };
  const filePreview = (data) => {
    // 如果有base64就是图片没有就需要下载 wl
    const url = `p/clue/file/downLoad`;
    if (data.base64) {
      downIng(url, { filePathName: data.realFileName }, data.realFileName).then((res) => {
        state.imgUrl = res.target.result;
        setImgVisible(true);
      });
    } else {
      // 文件下载
      downloadJson(
        'p/clue/file/downLoad',
        {
          filePathName: data.realFileName,
        },
        data.realFileName,
      ).then(() => {});
    }
  };
  // 查看图片
  const setImgVisible = () => {
    setVisible(true);
  };
  const rules = reactive({
    type: [{ required: true, message: '请选择整改类型' }],
    explain: [{ required: true, message: '请输入整改措施', trigger: 'blur' }],
    planCompleteTime: [{ required: true, message: '请选择计划完成时间', trigger: 'change' }],
    completeTime: [{ required: true, message: '请选择完成时间', trigger: 'change' }],
  });
  const checkFormRules = reactive({
    auditStatus: [{ required: true, message: '请选择处理意见' }],
    type: [{ required: true, message: '请选择整改类型' }],
  });
  const onChangeVisable = () => {
    dialogFormVisible.value = true;
  };
  const onFinish1 = () => {
    auditHandleOk(20); //10=保存 20=提交
  };

  const onFinishFailed1 = () => {
    // auditHandleOk(10); //10=保存 20=提交
  };
  const auditHandleOk = (temporaryFlag) => {
    const _params = {
      submitState: temporaryFlag, //10=保存 20=提交
      ...state.auditForm,
      attachments: state.fileList
        ? state.fileList.map((item) => {
            return item.response.data;
          })
        : [],
    };
    _params.type = _params.type.join(',');
    console.log(_params);
    if (temporaryFlag == 20) {
      //提交
      state.loading = true;
      saveLogFn(_params, temporaryFlag);
    } else {
      //保存
      if (state.auditForm.nextProcessUser == null || state.auditForm.nextProcessUser == '') {
        message.warning('请选择部门领导');
      } else if (
        state.auditForm.planCompleteTime == undefined ||
        state.auditForm.planCompleteTime == null
      ) {
        message.warning('计划整改时间不能为空');
      } else {
        state.temporaryLoading = true;
        saveLogFn(_params, temporaryFlag);
      }
    }
  };
  const saveLogFn = (_params, temporaryFlag) => {
    saveLog(_params).then((res) => {
      state.temporaryLoading = state.loading = false;
      if (res.data.code === 'OK') {
        message.success(res.data.message);
        if (temporaryFlag == 10) {
          //保存不关闭弹框并且取日志最新一条数据---主要处理取id再次保存更新数据
          // getList('Echo');
          queryNewFn(); //接口获取最新日志
        } else {
          handleOk(); //提交则直接关闭弹框
        }
      }
    });
  };
  const onFinish2 = () => {
    checkSaveFn();
  };

  const onFinishFailed2 = (errorInfo: any) => {
    console.log('Failed:', errorInfo);
  };
  const checkSaveFn = () => {
    // console.log('点击了确定', toRaw(state.checkForm));
    if (state.singleRadio) {
      //这里是整改提交
      if (state.transferor == '') {
        message.warning('请选择人员');
        return false;
      }
      const _params = {
        id: state.checkForm.sid,
        transferor: state.transferor,
        handleRemark: state.handleRemark,
        type: state.checkForm.type,
      };
      state.loading = true;
      saveInspectRectify(_params).then((res) => {
        state.loading = false;
        if (res.data.code === 'OK') {
          message.success('处理成功');
          handleOk();
        }
      });
    } else {
      //整改判定
      const _params = {
        ...state.checkForm,
      };
      _params.type = _params.type.join(',');
      saveLogAudit(_params).then((res) => {
        state.loading = false;
        if (res.data.code === 'OK') {
          message.success('处理成功');
          handleOk();
        }
      });
    }
  };
  const queryNewFn = () => {
    queryNew({ sid: state.auditForm.sid }).then((res) => {
      console.log(res);
      if (res.code == 'OK') {
        Assignment(res.data);
      }
    });
  };
  const getList = (type) => {
    getLogList({
      pageNum: state.pagination.current,
      pageSize: state.pagination.pageSize,
      sid: state.auditForm.sid,
    }).then((res) => {
      if (res.data.code === 'OK') {
        state.dataSource = res.data.data;
        state.total = res.data.total;
        if (!state.showFlag) {
          //部门领导整改审核
          //回显处理
          state.checkForm.type = []; //先置空，避免保留了上一条的数据
          const item = state.dataSource.length > 0 && state.dataSource[0];
          state.checkForm.type =
            item.type && item.type != ''
              ? item.type.indexOf(',') != -1
                ? item.type.split(',')
                : [item.type]
              : [];
        }
        // if (type == 'processUser') {
        //   //回显整改联络员
        //   state.processUser = state.dataSource.length > 0 && state.dataSource[0].processUser;
        // }
        if (type === 'Echo') {
          Assignment();
        }
      }
    });
  };
  const Assignment = () => {
    const item = state.dataSource.length > 0 && state.dataSource[0];
    state.auditForm = {
      sid: state.checkForm.sid,
      rectificationId: item.rectificationId,
      explain: item.explain,
      planCompleteTime: item.planCompleteTime,
      completeTime: item.completeTime,
      attachments: item.attachmentArray,
      type:
        item.type != '' ? (item.type.indexOf(',') != -1 ? item.type.split(',') : [item.type]) : [],
      nextProcessUser: item.nextProcessUser,
    };
    const _attachments = item.attachmentArray;
    if (_attachments.length > 0) {
      state.fileList = [];
      _attachments.forEach((v) => {
        state.fileList.push({
          name: v,
          uid: v,
          response: {
            data: v,
          },
        });
      });
    }
  };
  const processHandle = (record) => {
    const val = cloneDeep(record);
    state.singleRadio = true;
    state.checkForm.auditStatus = '';
    nextTick(() => {
      state.auditForm.sid = state.checkForm.sid = val.id;
      if (val.todoLinkCode == '60' && val.rectifyStatus == '10') {
        //表示整改中-数据回显取日志的第一条数据
        state.showFlag = true;
        queryNewFn(); //获取最新日志回显数据
      } else if (
        (val.todoLinkCode == '60' && val.rectifyStatus == '00') ||
        (val.todoLinkCode == '60' && val.rectifyStatus == '20') ||
        (val.todoLinkCode == '60' && val.rectifyStatus == '06') ||
        (val.todoLinkCode == '60' && val.rectifyStatus == '05') ||
        (val.todoLinkCode == '60' && val.rectifyStatus == '07')
      ) {
        //待整改弹框打开
        state.showFlag = true;
        treeData(val.handleUserEmployee); //获取部门领导
        getList('');
      } else if (val.todoLinkCode == '60' && val.rectifyStatus == '30') {
        state.showFlag = false; //整改判定弹框打开
        state.singleRadio = false;
        getList('');
      }
    });
  };
  const changeTreeValue = (val) => {
    state.auditForm.nextProcessUser = val && val[2];
  };
  // 级联数据
  const treeData = (handleUserEmployee) => {
    getDeptLead({ employeeCode: handleUserEmployee }).then((res) => {
      const data = res.data;
      state.optionsData = [];
      data.forEach((item) => {
        if (item) {
          state.optionsData.push(proxy.$dict.toCasaderTree(item));
        }
      });
    });
  };
  // const transferorChange = (value) => {
  //   if (value) {
  //     state.transferor = value.split('-')[1];
  //   } else {
  //     state.transferor = '';
  //   }
  // };
  // const careOf = () => {
  //   getUsers({ role: 'rectification' }).then((r) => {
  //     if (r.data.success === true) {
  //       state.rectificationList = r.data.data; //返回联络人
  //     } else {
  //       message.error(r.data.message);
  //     }
  //   });
  // };
  // 分页操作
  const handleTableChange = (pagination) => {
    state.pagination.current = pagination.current;
    state.pagination.pageSize = pagination.pageSize;
    getList();
  };
  const closeFn = () => {
    if (state.showFlag) {
      // auditFormRef.value.resetFields();
      state.auditForm = {
        sid: '',
        explain: '',
        planCompleteTime: undefined,
        completeTime: undefined,
        nextProcessUser: null,
        type: [],
      };
      state.auditForm.rectificationId = '';
    } else {
      // checkFormRef.value.resetFields();//无效
      state.checkForm = {
        sid: '',
        auditStatus: '',
        explain: '',
        type: [],
      };
    }
    state.fileList = [];
    state.transferor = '';
    state.handleRemark = '';
    state.singleRadio = false;
    state.modalVisible = false;
    dialogFormVisible.value = false;
    emit('search');
  };
  const handleOk = () => {
    closeFn();
  };
  // 文件预览
  const onPreview = (file) => {
    console.log(file);
    const url = file.response.data;
    // 文件下载
    downloadJson(
      'p/clue/file/downLoad',
      {
        filePathName: url,
      },
      file.name,
    ).then(() => {});
  };
  // 请求拦截
  const beforeUpload = (file, fileList) => {
    let flag = true;
    const config = { Authentication: '' };
    const FileExt = file.name.replace(/.+\./, '');
    if (
      ['jpg', 'jpeg', 'png', 'zip', 'rar', 'pdf', 'doc', 'docx', 'xlsx', 'xls'].indexOf(
        FileExt.toLowerCase(),
      ) === -1
    ) {
      message.warning(
        '请上传后缀名为.zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png的文件！',
      );
      return Upload.LIST_IGNORE;
    }

    // 有 token就带上
    if (Storage.get(ACCESS_TOKEN_KEY)) {
      config.Authentication = Storage.get(ACCESS_TOKEN_KEY);
    } else {
      // 没有就别上传
      flag = false;
    }
    state.headers = JSON.parse(JSON.stringify(config));
    // 上传3次就禁止上传了
    if (fileList.length + state.fileList.length > 3) {
      file.status = 'beforeUploadReject';
      flag = false;
    }
    return flag;
  };
  // 文件改变调用
  const normFile = (e) => {
    if (Array.isArray(e)) {
      return e;
    }
    if (e.fileList.length <= 3) {
      state.fileList = e.fileList;
    }
    // 如果大于3条，只保留前3条
    if (e.fileList.length > 3) {
      e.fileList = e.fileList.splice(3, 1);
      message.error('最多只能上传3个文件');
    }
    return e && e.fileList;
  };
  defineExpose({ onChangeVisable, processHandle });
</script>
<style lang="less" scoped>
  .descriptions-title {
    font-size: 20px;
  }
  .sub-btn {
    display: flex;
    justify-content: center;
  }
</style>
