<template>
  <a-modal
    v-if="data.dialog.visible"
    v-model:visible="data.dialog.visible"
    :title="data.dialog.title"
    :confirm-loading="data.confirmLoading"
    :mask-closable="false"
    width="800px"
    @cancel="handleCancel(formDataRef)"
  >
    <a-card size="small" title="表基础信息">
      <a-form
        ref="formDataRef"
        :model="data.formData"
        name="basic"
        :label-col="{ span: 5 }"
        :wrapper-col="{ span: 16 }"
        autocomplete="off"
        :rules="data.rules"
      >
        <a-form-item label="数据源名称" name="sourcedataId">
          <a-select
            v-model:value="data.formData.sourcedataId"
            filter-option
            allow-clear
            placeholder="请选择数据源"
            @change="
              (e) => {
                data.formData.sourcedataName =
                  data.dataSourceOptions.find((x) => x.pkId == e)?.name || '';
                getSourceTableListLocal(e);
              }
            "
          >
            <a-select-option
              v-for="field in data.dataSourceOptions"
              :key="field.pkId"
              :value="field.pkId"
            >
              {{ field.name }}
            </a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item label="源表名称" name="sourceTableName">
          <a-select
            v-model:value="data.formData.sourceTableName"
            filter-option
            allow-clear
            placeholder="请选择源表名称"
            @change="
              (e) => {
                getAllColumnsLocal(e);
              }
            "
          >
            <a-select-option
              v-for="field in data.sourceTableNameOptions"
              :key="field.label"
              :value="field.label"
            >
              {{ field.value }}
            </a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item label="库名" name="databaseId">
          <a-select
            v-model:value="data.formData.databaseId"
            filter-option
            allow-clear
            placeholder="请选择库名"
            @change="
              (e) => {
                data.formData.databaseName =
                  [{ label: 'pdg_test', value: 1 }].find((x) => x.value == e)?.label || '';
              }
            "
          >
            <a-select-option
              v-for="field in [{ label: 'pdg_test', value: 1 }]"
              :key="field.value"
              :value="field.value"
            >
              {{ field.label }}
            </a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item label="表名" name="tableName">
          <a-input
            v-model:value="data.formData.tableName"
            placeholder="仅支持中文、英文、数字、“_”，100个字符以内，不允许重复"
            :maxlength="100"
          />
        </a-form-item>
        <a-form-item label="表中文名" name="tableCname">
          <a-input v-model:value="data.formData.tableCname" placeholder="请输入表中文名" />
        </a-form-item>
        <a-form-item label="描述" name="description">
          <a-textarea
            v-model:value="data.formData.description"
            show-count
            :maxlength="200"
            placeholder="请输入200字符以内"
          />
        </a-form-item>
      </a-form>
    </a-card>

    <a-card size="small" style="margin-top: 30px" title="字段映射">
      <DynamicTable
        row-key="columnName"
        header-title=""
        :columns="columns"
        :show-table-setting="false"
        :show-refresh-setting="false"
        :show-column-setting="false"
        :search="false"
        :data-source="data.formData.cols"
        bordered
        :auto-height="false"
        :pagination="false"
        :scroll="{ y: 300 }"
        size="small"
        :row-selection="{
          selectedRowKeys: data.selectedRowKeys,
          onChange: onSelectChange,
          fixed: true,
        }"
      >
        <template #toolbar>
          <a-button type="primary" @click="getAllColumnsLocal(data.formData.sourceTableName)">
            刷新
          </a-button>
        </template>
      </DynamicTable>
      <a-form
        :model="data.formData1"
        name="basic"
        :label-col="{ span: 3 }"
        :wrapper-col="{ span: 16 }"
        autocomplete="off"
      >
        <a-form-item label="分区字段" name="seperatorColumns">
          <a-select
            v-model:value="data.formData1.seperatorColumns"
            filter-option
            allow-clear
            placeholder="请选择分区字段"
            mode="multiple"
            @change="
              (e) => {
                data.formData.cols.map((x) => {
                  x['isPartition'] = 0;
                  if (e.includes(x?.columnName)) {
                    x['isPartition'] = 1;
                  }
                });
              }
            "
          >
            <a-select-option
              v-for="field in data.formData.cols"
              :key="field.columnName"
              :value="field.columnName"
            >
              {{ field.columnName }}
            </a-select-option>
          </a-select>
        </a-form-item>
      </a-form>
    </a-card>

    <template #footer>
      <a-button type="primary" :loading="data.saveLoading" @click="saveTableLocal(formDataRef)"
        >保存</a-button
      >
      <a-button @click="handleCancel(formDataRef)">取消</a-button>
    </template>
  </a-modal>
</template>

<script lang="ts" setup>
  import { ref, reactive, computed, onMounted } from 'vue';
  import { message as $message } from 'ant-design-vue';
  import { baseColumns } from './columns';
  import { useTable } from '@/components/core/dynamic-table';
  import { useFormModal } from '@/hooks/useModal/useFormModal';
  import {
    getAllDataSourceList,
    getSourceTableList,
    getAllColumns,
  } from '@/api/businessDataSource/index';
  import { saveTable, validateNameRepeat } from '@/api/ODSManagement/tableManagement/index';

  defineOptions({
    name: 'SystemPermissionRole',
  });

  const emit = defineEmits(['success']);

  const formDataRef = ref();
  const props = defineProps({
    dialog: {
      type: Object,
      default: () => {
        return {
          visible: false,
          title: '',
          type: '',
        };
      },
    },
  });

  const [DynamicTable, dynamicTableInstance] = useTable();
  const columns = [...baseColumns];

  const validateName = async (_rule, value) => {
    if (value === '') {
      return Promise.reject('请输入表名');
    } else if (!/^[a-zA-Z0-9_\u4e00-\u9fa5]+$/.test(value)) {
      return Promise.reject('仅支持中文、英文、数字、“_”，100个字符以内，不允许重复');
    } else {
      // 校验表名是否重复
      const params = {
        tableName: data.formData.tableName,
        databaseId: data.formData.databaseId,
      };
      if (data.dialog.type === 'edit') params['pkId'] = data.formData.sourcedataId;
      const { code, success } = await validateNameRepeat(params);
      if (code === 'OK' && success) {
        return Promise.resolve();
      } else {
        return Promise.reject('该表名有重复');
      }
    }
  };

  const data = reactive({
    dialog: computed(() => {
      return props.dialog;
    }),
    selectedRowKeys: [],
    selectedRows: [],
    dataSourceOptions: [],
    sourceTableNameOptions: [],
    columnsData: [],
    formData1: {
      seperatorColumns: [],
    },
    formData: {
      sourcedataName: '',
      sourceTableName: '',
      sourcedataId: '',
      description: '',
      databaseId: '',
      databaseName: '',
      tableName: '',
      tableCname: '',
      cols: [],
    },
    fileList: [],
    headers: {
      // Authentication: Storage.get(ACCESS_TOKEN_KEY),
      // Authorization: Storage.get(ACCESS_TOKEN_KEY),
    },
    BASE_URL: process.env.VUE_APP_BASE_API,
    options: [
      { label: '1', value: 'mysql' },
      { label: '2', value: 'db2' },
    ],
    rules: {
      sourcedataId: [{ required: true, message: '请选择数据源名称', trigger: 'change' }],
      sourceTableName: [{ required: true, message: '请选择源表名称', trigger: 'change' }],
      databaseId: [{ required: true, message: '请选择库名', trigger: 'change' }],
      tableName: [{ required: true, validator: validateName, trigger: 'blur' }],
      tableCname: [{ required: true, message: '请输入表中文名', trigger: 'blur' }],
    },
    confirmLoading: false,
    saveLoading: false,
  });

  onMounted(() => {
    // 查询数据源列表
    getAllDataSourceListLocal();
  });

  const handleCancel = (formDataRef) => {
    formDataRef.clearValidate();
    formDataRef.resetFields();
    data.dataSourceOptions = [];
    data.sourceTableNameOptions = [];
    data.dialog.visible = false;
  };

  // 保存
  const saveTableLocal = async (formDataRef) => {
    const flag = await formDataRef.validate();
    data.saveLoading = true;
    if (flag) {
      const { code, success, message } = await saveTable(data.formData).finally(() => {
        data.saveLoading = false;
      });
      if (code === 'OK' && success) {
        $message.success('手动登记成功');
        data.dialog.visible = false;
        dynamicTableInstance.reload();
        emit('success');
      } else {
        $message.error(message || '查询数据源失败');
      }
    }
  };

  // 查询数据源列表
  const getAllDataSourceListLocal = async () => {
    const { code, success, message, data: list } = await getAllDataSourceList({});
    if (code === 'OK' && success) {
      data.dataSourceOptions = list;
    } else {
      data.dataSourceOptions = [];
      $message.error(message || '查询数据源失败');
    }
    // console.log(res, '=================');
  };

  // 查询源表名称
  const getSourceTableListLocal = async (pkId) => {
    const { code, success, message, data: list } = await getSourceTableList({ pkId });
    if (code === 'OK' && success) {
      data.sourceTableNameOptions = list.map((x) => {
        return {
          label: x,
          value: x,
        };
      });
    } else {
      data.sourceTableNameOptions = [];
      $message.error(message || '查询源表失败');
    }
  };

  // 查询表下面所有字段
  const getAllColumnsLocal = async (tableName) => {
    if (!tableName || !data.formData.sourcedataId) {
      return $message.error('请先选择数据源名称与源表名称');
    }
    const {
      code,
      success,
      message,
      data: list,
    } = await getAllColumns({ tableName, pkId: data.formData.sourcedataId });
    if (code === 'OK' && success) {
      console.log(list, '===');
      list?.map((x) => {
        x['isPrimaryKeyValue'] = x.isPrimaryKey === 1 ? true : false;
        x['isPk'] = x.isPrimaryKey ? 1 : 0;
        x['type'] = 1;
        x['description'] = x.columnComment;
        x['sourceType'] = x.columnType;
      });
      data.formData.cols = list ?? [];
    } else {
      $message.error(message || '查询源表失败');
    }
  };

  // 勾选数据
  const onSelectChange = (selectedRowKeys, list) => {
    data.selectedRowKeys = selectedRowKeys;
    data.selectedRows = list;
  };
</script>

<style lang="less" scoped></style>
