<template>
  <div>
    <a-row :gutter="[16, 10]" class="gutter-style">
      <div class="Followup-bg">
        <a-row :gutter="[16, 10]">
          <a-col :md="{ span: 16 }">
            <div class="Followup-title"><span class="Followup-line"></span> </div>
            <MergeTable
              :widget-id="2023042613301234"
              :has-header="false"
              :data-list="dimension.monthSource"
              :column-list="dimension.columns"
              :column-groups="dimension.columnGroups"
              :formatter="tableStyle.formatter"
              :scroll="{ x: 1700, y: 400 }"
              :loading="state.tableLoding"
              @cellClicked="monthClicked"
            />
          </a-col>
          <a-col :md="{ span: 8 }">
            <div class="Followup-bg">
              <div class="Followup-title"
                ><span class="Followup-line"></span>
                <p class="Followup-text"
                  ><span class="Followup-color">{{ monthTitle }}</span
                  ><span>趋势图</span></p
                >
              </div>
              <div class="Followup-center">
                <StackedColumnFoldMixedChart
                  :legendone="monthTrend.chart"
                  :x-axis="monthTrend.xAxis"
                  :y-axis="monthTrend.yAxis"
                  :series="monthTrend.series"
                />
              </div>
            </div>
          </a-col>
        </a-row>
      </div>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch, ref, defineExpose, nextTick, onMounted } from 'vue';
  import { StackedColumnFoldMixedChart } from '../../../echartsAssembly';
  import tableStyle from './js/tableStyle';
  import echartsSeries from './js/echartsSeries';
  import { queryAggregate } from '@/api/strategyTracking';
  import Transformer from '@/views/strategyTracking/modulefile/components/transformer';
  import { MergeTable } from '@/components/business';

  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    depData: {
      type: String,
      default: () => {
        return '';
      },
    },
    activeVal: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const monthParameter = reactive({
    monthStart: '',
    monthEnd: '',
  });
  const state = reactive({
    yearMonth: '',
    depData: '',
    activeVal: '',
    params: {},
    tableLoding: false,
  });
  const monthTrend = reactive({
    chart: ['实绩', '目标', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }, { name: '%' }],
    series: [],
  });

  const dimension = reactive({
    monthSource: [],
    yearSource: [],
    columnGroups: [
      {
        title: '本月（万元）',
        children: [
          'CURMONTH_PRFM',
          'CURMONTH_PLAN_TARGET',
          'CURMONTH_ACT_TARGET',
          'CURMONTH_CPLTRATE',
          'CURMONTH_GAP',
          'NEXT_MONTH_TARGET',
        ],
      },
      {
        title: '本年（万元）',
        children: [
          'CURYEAR_PRFM',
          'CURYEAR_TARGET',
          'CURYEAR_CPLTRATE',
          'CURYEAR_GAP',
          'ANNUAL_FINISH_RATE',
        ],
      },
    ],
    columns: [
      { title: '指标', dataIndex: 'PROD_TARGET_PROJ', key: 'PROD_TARGET_PROJ', width: '10%' },
      // { title: '单位', dataIndex: 'DEPT_NAME', key: 'DEPT_NAME', ellipsis: false, width: '5%' },
      {
        title: '实绩',
        dataIndex: 'CURMONTH_PRFM',
        key: 'CURMONTH_PRFM',
        formatter: 'rate2',
      },
      {
        title: '预案目标',
        dataIndex: 'CURMONTH_PLAN_TARGET',
        key: 'CURMONTH_PLAN_TARGET',
        formatter: 'rate2',
      },
      {
        title: '实绩目标',
        dataIndex: 'CURMONTH_ACT_TARGET',
        key: 'CURMONTH_ACT_TARGET',
        formatter: 'rate2',
      },
      {
        title: '完成率',
        dataIndex: 'CURMONTH_CPLTRATE',
        key: 'CURMONTH_CPLTRATE',
        formatter: 'rate1',
      },
      {
        title: '缺口',
        dataIndex: 'CURMONTH_GAP',
        key: 'CURMONTH_GAP',
        formatter: 'rate2',
      },
      {
        title: '下月目标',
        dataIndex: 'NEXT_MONTH_TARGET',
        key: 'NEXT_MONTH_TARGET',
        formatter: 'rate2',
      },
      {
        title: '实绩',
        dataIndex: 'CURYEAR_PRFM',
        key: 'CURYEAR_PRFM',
        formatter: 'rate2',
      },
      {
        title: '累计目标',
        dataIndex: 'CURYEAR_TARGET',
        key: 'CURYEAR_TARGET',
        formatter: 'rate2',
      },
      {
        title: '累计完成率',
        dataIndex: 'CURYEAR_CPLTRATE',
        key: 'CURYEAR_CPLTRATE',
        formatter: 'rate1',
      },
      {
        title: '缺口',
        dataIndex: 'CURYEAR_GAP',
        key: 'CURYEAR_GAP',
        formatter: 'rate1',
      },
      {
        title: '年度完成率',
        dataIndex: 'ANNUAL_FINISH_RATE',
        key: 'ANNUAL_FINISH_RATE',
        formatter: 'rate1',
      },
    ],
    // 月维度表格
    monthColumns: [
      { title: '指标', dataIndex: 'PROD_TARGET_PROJ', key: 'PROD_TARGET_PROJ' },
      {
        title: '本月实际',
        key: 'CURMONTH_PRFM',
        dataIndex: 'CURMONTH_PRFM',
        formatter: 'rate4',
      },
      {
        title: '预案目标',
        key: 'CURMONTH_PLAN_TARGET',
        dataIndex: 'CURMONTH_PLAN_TARGET',
        formatter: 'rate4',
      },
      {
        title: '实际目标',
        key: 'CURMONTH_ACT_TARGET',
        dataIndex: 'CURMONTH_ACT_TARGET',
        formatter: 'rate4',
      },
      {
        title: '完成率',
        key: 'CURMONTH_CPLTRATE',
        dataIndex: 'CURMONTH_CPLTRATE',
        formatter: 'rate4',
      },
      {
        title: '当月缺口',
        key: 'CURMONTH_GAP',
        dataIndex: 'CURMONTH_GAP',
        formatter: 'rate4',
      },
      {
        title: '下月目标',
        key: 'NEXT_MONTH_TARGET',
        dataIndex: 'NEXT_MONTH_TARGET',
        formatter: 'rate4',
      },
    ],
    // 年维度表格
    yearColumns: [
      { title: '指标', dataIndex: 'PROD_TARGET_PROJ', key: 'PROD_TARGET_PROJ' },
      {
        title: '本年实绩',
        key: 'CURYEAR_PRFM',
        dataIndex: 'CURYEAR_PRFM',
        formatter: 'rate4',
      },
      {
        title: '累计目标',
        key: 'CURYEAR_TARGET',
        dataIndex: 'CURYEAR_TARGET',
        formatter: 'rate4',
      },
      {
        title: '累计完成率',
        key: 'CURYEAR_CPLTRATE',
        dataIndex: 'CURYEAR_CPLTRATE',
        formatter: 'rate4',
      },
      {
        title: '年度目标',
        key: 'CURYEAR_ANNUAL_TARGET_VALUE',
        dataIndex: 'CURYEAR_ANNUAL_TARGET_VALUE',
        formatter: 'rate4',
      },
      {
        title: '年度完成率',
        key: 'ANNUAL_FINISH_RATE',
        dataIndex: 'ANNUAL_FINISH_RATE',
        formatter: 'rate4',
      },
    ],
  });

  // 月份联动点击
  const monthTitle = ref('');
  const monthClicked = (record) => {
    monthTitle.value = record.PROD_TARGET_PROJ;
    monthYearSource('2023042613301237', 1);
  };

  // 年月维度接口
  const monthYearSource = (id, index) => {
    state.tableLoding = true;
    nextTick(() => {
      if (index == 0) {
        state.params = {
          relations: [
            {
              // filterType: 'ragen',
              filterField: 'YM',
              filterValues: [props.yearMonth],
              widgetId: id,
            },
            {
              filterField: 'PROD_NAME',
              filterValues: [props.activeVal],
              widgetId: id,
            },
            {
              filterField: 'DEPT_NAME',
              filterValues: [props.depData],
              widgetId: id,
            },
          ],
        };
      } else {
        state.params = {
          relations: [
            {
              filterType: 'ragen',
              filterField: 'YM',
              filterValues: [monthParameter.monthStart, monthParameter.monthEnd],
              widgetId: id,
            },
            {
              filterField: 'DEPT_NAME',
              filterValues: [props.depData],
              widgetId: id,
            },
            {
              filterField: 'PROD_NAME',
              filterValues: [props.activeVal],
              widgetId: id,
            },
            {
              filterField: 'PROD_TARGET_PROJ',
              filterValues: [monthTitle.value],
              widgetId: id,
            },
          ],
        };
      }
      queryAggregate(state.params).then((res) => {
        if (res.success) {
          state.tableLoding = false;
          if (index == 0) {
            dimension.monthSource = Transformer.toTableData3(res.data, id);
            monthTitle.value = dimension.monthSource[0].PROD_TARGET_PROJ;
            monthYearSource('2023042613301237', 1);
          } else if (index == 1) {
            const data = res.data[id].dataMap;
            monthTrend.xAxis = data.YM;
            monthTrend.yAxis[0].name = data.UNIT[0];
            monthTrend.series = echartsSeries.seriesData(
              data.CURMONTH_ACT_TARGET,
              data.CURMONTH_PRFM,
              data.CURMONTH_CPLTRATE,
              data.UNIT[0],
            );
          }
        }
      });
    });
  };
  const monthInterval = () => {
    monthParameter.monthStart = `${props.yearMonth.substring(0, 4)}01`;
    monthParameter.monthEnd = props.yearMonth;
  };

  const allSearchYG = () => {
    monthYearSource('2023042613301234', 0);
  };

  watch(
    () => props.yearMonth,
    (c) => {
      state.yearMonth = c;
      monthInterval();
      allSearchYG();
    },
  );
  watch(
    () => props.depData,
    (c) => {
      allSearchYG();
      console.log('depData--zi', c);
    },
  );
  watch(
    () => props.activeVal,
    (c) => {
      console.log('activeVal---hd--zi', c);
      allSearchYG();
      monthInterval();
    },
  );
  onMounted(() => {
    nextTick(() => {
      state.activeVal = props.activeVal;
    });
  });
  defineExpose({
    allSearchYG,
    monthInterval,
  });
</script>

<style lang="less" scoped>
  .GoalOverview {
    width: 100%;
    margin-top: -35px;
    .Followup-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      min-height: 350px;
      .Followup-title {
        display: flex;
        margin-bottom: 10px;
        .Followup-line {
          // display: inline-block;
          width: 14px;
          height: 20px;
          border-radius: 5px;
          background: #ffecb0;
        }
        .Followup-text {
          font-family: 思源黑体;
          font-size: 22px;
          font-weight: bold;
          line-height: 22px;
          letter-spacing: 0px;
          margin-left: 5px;
        }
        .Followup-color {
          color: #ff0000;
          margin-right: 5px;
        }
      }
      .Followup-center {
        width: 100%;
        height: 500px;
      }
    }
  }
  /deep/ .ant-table-tbody > tr > td {
    font-family: @font-family;
    color: @heading-color;
    font-size: 18px;
    text-align: center;
    border: 1px solid #000000;
  }

  /deep/ .ant-table-thead > tr > th {
    font-family: @font-family;
    color: @heading-color;
    font-size: 20px;
    text-align: center;
    border: 1px solid #000000;
  }
</style>
