<template>
  <div class="Followup">
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 24 }">
        <div class="Followup-bg">
          <a-row :gutter="[16, 10]">
            <a-col :md="{ span: 6 }">
              <div class="Followup-title"
                ><span class="Followup-line"></span>
                <p class="Followup-text"
                  ><span class="Followup-color">商城营收</span><span>目标及完成率</span></p
                >
              </div>
              <div class="Followup-center">
                <StackedColumnFoldMixedChart
                  :legendone="revenue.chart"
                  :x-axis="revenue.xAxis"
                  :y-axis="revenue.yAxis"
                  :series="revenue.series"
                />
              </div>
            </a-col>
            <a-col :md="{ span: 6 }">
              <div class="Followup-title"
                ><span class="Followup-line"></span>
                <p class="Followup-text"
                  ><span class="Followup-color">商城集采营收</span><span>目标及完成率</span></p
                >
              </div>
              <div class="Followup-center"> 2 </div>
            </a-col>
            <a-col :md="{ span: 6 }">
              <div class="Followup-title"
                ><span class="Followup-line"></span>
                <p class="Followup-text"
                  ><span class="Followup-color">多元+社会营收</span><span>目标及完成率</span></p
                >
              </div>
              <div class="Followup-center"> 3 </div>
            </a-col>
            <a-col :md="{ span: 6 }">
              <div class="Followup-title"
                ><span class="Followup-line"></span>
                <p class="Followup-text"
                  ><span class="Followup-color">社会客户营收</span><span>目标及完成率</span></p
                >
              </div>
              <div class="Followup-center"> 4 </div>
            </a-col>
          </a-row>
          <a-row :gutter="[16, 10]" class="gutter-row">
            <a-col :md="{ span: 6 }">
              <div class="Followup-title"
                ><span class="Followup-line"></span>
                <p class="Followup-text"
                  ><span class="Followup-color">非大宗品类点选营收</span
                  ><span>目标及完成率</span></p
                >
              </div>
              <div class="Followup-center"> 1 </div>
            </a-col>
            <a-col :md="{ span: 6 }">
              <div class="Followup-title"
                ><span class="Followup-line"></span>
                <p class="Followup-text"
                  ><span class="Followup-color">商城毛利</span><span>目标及完成率</span></p
                >
              </div>
              <div class="Followup-center"> 2 </div>
            </a-col>
            <a-col :md="{ span: 6 }">
              <div class="Followup-title"
                ><span class="Followup-line"></span>
                <p class="Followup-text"><span class="Followup-color">平台新增sku数</span></p>
              </div>
              <div class="Followup-center"> 3 </div>
            </a-col>
            <a-col :md="{ span: 6 }">
              <div class="Followup-title"
                ><span class="Followup-line"></span>
                <p class="Followup-text"
                  ><span class="Followup-color">欧贝商城场景化专区SKU数</span></p
                >
              </div>
              <div class="Followup-center"> 4 </div>
            </a-col>
          </a-row>
          <a-row :gutter="[16, 10]">
            <a-col :md="{ span: 6 }">
              <div class="Followup-title"
                ><span class="Followup-line"></span>
                <p class="Followup-text"><span class="Followup-color">核心商品线建设</span></p>
              </div>
              <div class="Followup-center"> 3 </div>
            </a-col>
            <a-col :md="{ span: 6 }">
              <div class="Followup-title"
                ><span class="Followup-line"></span>
                <p class="Followup-text"><span class="Followup-color">锚点数量</span></p>
              </div>
              <div class="Followup-center"> 4 </div>
            </a-col>
          </a-row>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch } from 'vue';
  import { StackedColumnFoldMixedChart } from '../../../echartsAssembly';
  import { queryAggregate } from '@/api/strategyTracking';
  import Transformer from '@/views/strategyTracking/modulefile/components/transformer';

  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    depData: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const state = reactive({
    yearMonth: '',
    depData: '',
    params: {},
  });
  const Xiaoshu = (text) => {
    if (text == '-') {
      return text;
    } else {
      const datatext = parseFloat(text).toFixed(2);
      return parseFloat(datatext).toLocaleString();
    }
  };
  // 商城营收
  const revenue = reactive({
    chart: ['实绩', '目标', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }, { name: '%' }],
    series: [
      {
        name: '目标',
        type: 'bar',
        data: [],
        tooltip: {
          valueFormatter(value) {
            return `${Xiaoshu(value)}万元`;
          },
        },
        itemStyle: {
          normal: {
            barBorderRadius: [40, 40, 0, 0],
          },
        },
        barGap: 0,
        barWidth: '25%',
        color: '#ffa042',
      },
      {
        name: '实绩',
        type: 'bar',
        data: [],
        tooltip: {
          valueFormatter(value) {
            return `${Xiaoshu(value)} 万元`;
          },
        },
        itemStyle: {
          normal: {
            barBorderRadius: [40, 40, 0, 0],
          },
        },
        barWidth: '25%',
        color: 'MediumSpringGreen',
      },
      {
        name: '完成率',
        type: 'line',
        data: [],
        yAxisIndex: 1,
        tooltip: {
          valueFormatter(value) {
            return `${Xiaoshu(value)} %`;
          },
        },
        itemStyle: {
          normal: {
            color: 'dodgerblue',
            label: {
              show: true,
              position: 'top',
              textStyle: {
                color: 'black',
              },
              formatter(p) {
                return `${Xiaoshu(p.value)}%`;
              },
            },
          },
        },
      },
    ],
  });
  // 图表数据接口
  const allChart = (id, index) => {
    state.params = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: id,
        },
        {
          filterField: 'DEPT_NAME',
          filterValues: [state.depData],
          widgetId: id,
        },
      ],
    };

    queryAggregate(state.params).then((res) => {
      if (index == 1) {
        const data = res.data[2023042613301237].dataMap;
        revenue.xAxis = data.YM;
        revenue.series[0].data = data.CURMONTH_ACT_TARGET;
        revenue.series[1].data = data.CURMONTH_CPLTRATE;
        revenue.series[2].data = data.BW_GMV_PCT;
      }
    });
  };
  const allSearchSC = () => {
    allChart('', 0);
  };
  watch(
    () => props.yearMonth,
    (c) => {
      state.yearMonth = c;
      allSearchSC();
    },
  );
  watch(
    () => props.depData,
    (c) => {
      state.depData = c;
    },
  );
</script>

<style lang="less" scoped>
  .Followup {
    width: 100%;
    .gutter-row {
      margin: 20px 0px 20px 0px;
    }
    .Followup-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      min-height: 350px;
      .Followup-title {
        display: flex;
        margin-bottom: 10px;
        .Followup-line {
          // display: inline-block;
          width: 14px;
          height: 20px;
          border-radius: 5px;
          background: #ffecb0;
        }
        .Followup-text {
          font-family: 思源黑体;
          font-size: 22px;
          font-weight: bold;
          line-height: 22px;
          letter-spacing: 0px;
          margin-left: 5px;
        }
        .Followup-color {
          color: #ff0000;
          margin-right: 5px;
        }
      }
      .Followup-center {
        width: 100%;
        height: 300px;
        border: 2px solid #e5e7eb;
      }
    }
  }
</style>
