<template>
  <div>
    <!-- <div v-if="myData.modelType == 'dynamic'">
      <a-steps :current="myData.current">
        <a-step v-for="item in myData.steps" :key="item.title" :title="item.title" />
      </a-steps>
      <div class="hrs"></div>
    </div> -->
    <div v-show="!myData.success">
      <a-form
        ref="myForm"
        :model="myData"
        :label-col="setting.labelCol"
        :wrapper-col="setting.wrapperCol"
      >
        <a-row>
          <a-col :md="12" :sm="24">
            <a-form-item
              name="modelType"
              label="模型类型"
              :rules="[{ required: true, message: '请选择模型类型' }]"
            >
              <a-radio-group
                v-model:value="myData.modelType"
                :disabled="
                  props.disabled ||
                  props.isEdit ||
                  props.isCopy ||
                  (myData.modelType == 'dynamic' && myData.current === 1)
                "
              >
                <a-radio value="static">静态</a-radio>
                <a-radio value="dynamic">动态</a-radio>
                <a-radio value="algorithm">算法</a-radio>
              </a-radio-group>
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col :md="12" :sm="24">
            <a-form-item
              name="isTestModel"
              label="是否测试模型"
              :rules="[{ required: true, message: '请选择是否测试模型' }]"
            >
              <a-radio-group
                v-model:value="myData.isTestModel"
                :disabled="
                  props.disabled ||
                  props.isEdit ||
                  props.isCopy ||
                  (myData.modelType == 'dynamic' && myData.current === 1)
                "
              >
                <a-radio value="20">否</a-radio>
                <a-radio value="10">是</a-radio>
              </a-radio-group>
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>
      <template v-if="myData.modelType === 'dynamic'">
        <DynamicModel
          ref="generalModel"
          :is-edit="props.isEdit"
          :is-copy="props.isCopy"
          :label-col="setting.labelCol"
          :wrapper-col="setting.wrapperCol"
          :model-type="myData.modelType"
          :is-test-model="myData.isTestModel"
          :default-model-info="props.defaultModelInfo"
          @on-success="myModelClose"
          @pre-step="preStep"
          @next-step="nextStep"
          @close-model="closeModel"
        ></DynamicModel>
      </template>
      <template v-else>
        <GeneralModel
          ref="generalModel"
          :label-col="setting.labelCol"
          :wrapper-col="setting.wrapperCol"
          :is-edit="props.isEdit"
          :is-copy="props.isCopy"
          :model-type="myData.modelType"
          :is-test-model="myData.isTestModel"
          :default-model-info="props.defaultModelInfo"
          @on-success="myModelClose"
          @close-model="closeModel"
        ></GeneralModel>
      </template>
    </div>

    <div v-show="myData.success" align="center" class="sess">
      <div align="center">
        <img :src="myData.successPng" />
      </div>
      <h2 v-if="!props.isEdit" class="sess">添加成功</h2>
      <h2 v-else class="sess">修改成功</h2>
    </div>
  </div>
</template>

<script lang="tsx" setup>
  import { reactive, ref, watch } from 'vue';
  import { FormInstance } from 'ant-design-vue';
  import GeneralModel from '@/views/supervisionModel/components/GeneralModel.vue';
  import DynamicModel from '@/views/supervisionModel/components/DynamicModel.vue';

  defineOptions({
    name: 'ModelForm',
  });

  const emit = defineEmits(['closeModel']);
  const props = defineProps({
    visible: {
      type: Boolean,
      default: false,
      required: true,
    },
    isEdit: {
      type: Boolean,
      default: false,
      required: true,
    },
    isCopy: {
      type: Boolean,
      default: false,
    },
    defaultModelInfo: {
      type: Object,
      default: () => {},
      required: false,
    },
  });

  const setting = reactive({
    labelCol: { span: 7 },
    wrapperCol: { span: 16, offset: 1 },
  });

  const generalModel = ref(null);
  const myForm = ref<FormInstance>();
  const myData = reactive({
    successPng: require(`@/assets//static/common/success.png`),
    modelType: 'static',
    current: 0,
    success: false,
    editEnabled: true,
    steps: [
      {
        title: '填写模型信息',
        content: 'First-content',
      },
      // {
      //   title: '配置规则信息',
      //   content: 'Second-content',
      // },
      {
        title: '完成',
        content: 'Last-content',
      },
    ],
    isTestModel: '20',
  });

  const preStep = () => {
    myData.current = 0;
  };
  const nextStep = () => {
    // myData.current = 1;
  };
  const closeModel = () => {
    emit('closeModel');
  };
  const myModelClose = () => {
    if (myData.modelType === 'dynamic') {
      myData.current = 2;
    }
    myData.success = true;
    setTimeout(function () {
      emit('closeModel');
    }, 500);
  };
  watch(
    () => props.defaultModelInfo,
    (v) => {
      if (Object.keys(v).length > 0) {
        myData.modelType = v.modelType;
        myData.isTestModel = v.isTestModel ? v.isTestModel : '20';
      }
    },
    {
      deep: true,
      immediate: true,
    },
  );
</script>

<style scoped lang="less">
  .steps-content {
    border-radius: 6px;
    background-color: #ffffff;
    min-height: 200px;
    padding-top: 10px;
    white-space: 100px;
  }

  .ant-steps {
    width: 80%;
    padding-left: 15%;
  }

  .steps-action {
    margin-top: 5px;
  }
  .hrs {
    margin-top: 2%;
  }
  .sess {
    margin-top: 20px;
  }
</style>
