<template>
  <div>
    <DraggableModal
      v-model:visible="infovisible"
      destroy-on-close
      width="60%"
      :title="'商品名称:' + state.record.goodsName + '  商品编号:' + state.record.goodsCode"
      :footer="null"
    >
      <DynamicTable
        :data-source="state.props"
        auto-height
        :columns="state.columns"
        :scroll="{ y: 300 }"
      >
      </DynamicTable>
    </DraggableModal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref } from 'vue';
  import { useTable } from '@/components/core/dynamic-table';
  import { DraggableModal } from '@/components/core/draggable-modal';
  const infovisible = ref(false);
  const state = reactive({
    props: [],
    record: {},
    columns: [
      { title: '属性名', dataIndex: 'propName', width: 55, align: 'center', hideInSearch: true },
      { title: '属性值', dataIndex: 'propVal', width: 55, align: 'center', hideInSearch: true },
    ],
  });
  const [DynamicTable] = useTable({
    size: 'small',
    search: false,
    rowKey: 'id',
    bordered: true,
    pagination: false,
    scroll: { y: 300 },
  });
  const onChangeVisable = (props, record) => {
    state.record = record;
    state.props = props;
    infovisible.value = true;
  };
  defineExpose({ onChangeVisable });
</script>
<style lang="less" scoped></style>
