<template>
  <div>
    <DraggableModal
      v-model:visible="infovisible"
      :title="'商品名称:' + state.record.goodsName + '  商品编号:' + state.record.goodsCode"
      destroy-on-close
      width="70%"
      :footer="null"
    >
      <DynamicTable
        :data-source="state.priceInfo"
        auto-height
        :columns="state.columns"
        :scroll="{ y: 300 }"
      >
      </DynamicTable>
    </DraggableModal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref } from 'vue';
  import { useTable } from '@/components/core/dynamic-table';
  import { DraggableModal } from '@/components/core/draggable-modal';
  const infovisible = ref(false);
  const state = reactive({
    priceInfo: [],
    record: {},
    columns: [
      {
        title: '价格类型',
        dataIndex: 'type',
        width: 55,
        align: 'center',
        customRender: ({ record }) => {
          if (record.type == '1') {
            return '前一个月';
          } else if (record.type == '2') {
            return '前三个月';
          } else if (record.type == '3') {
            return '近半年';
          } else if (record.type == '4') {
            return '近一年';
          } else if (record.type == '5') {
            return '上周';
          }
        },
      }, // 类型：1-前一个月；2-前三个月；3-近半年；4-近一年；5-上周
      { title: '价格', dataIndex: 'price', width: 55, align: 'center' },
      {
        title: '时间范围',
        dataIndex: 'timeRange',
        width: 55,
        align: 'center',
        customRender: ({ record }) => {
          return record.timeRange.join(' — ');
        },
      },
    ],
  });
  const [DynamicTable] = useTable({
    size: 'small',
    search: false,
    rowKey: 'index',
    bordered: true,
    pagination: false,
    scroll: { y: 300 },
  });
  const onChangeVisable = (priceInfo, record) => {
    state.record = record;
    state.priceInfo = priceInfo;
    infovisible.value = true;
  };
  defineExpose({ onChangeVisable });
</script>
<style lang="less" scoped></style>
