<template>
  <div>
    <DraggableModal
      v-model:visible="infovisible"
      :title="'商品名称:' + state.record.goodsName + '  商品编号:' + state.record.goodsCode"
      destroy-on-close
      width="80%"
      :footer="null"
    >
      <DynamicTable
        :data-request="loadTableData"
        auto-height
        :columns="state.columns"
        :scroll="{ y: 300 }"
      >
      </DynamicTable>
    </DraggableModal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref } from 'vue';
  import { useTable } from '@/components/core/dynamic-table';
  import { DraggableModal } from '@/components/core/draggable-modal';
  import { getGoods } from '@/api/supplier/index';
  const infovisible = ref(false);
  const state = reactive({
    record: {},
    columns: [
      { title: '企业名称', dataIndex: 'companyName', width: 55, align: 'center' },
      { title: '统一社会信用代码', dataIndex: 'creditCode', width: 55, align: 'center' },
      { title: '邮箱', dataIndex: 'email', width: 55, align: 'center' },
      { title: '公司地址', dataIndex: 'companyAddress', width: 55, align: 'center' },
      { title: '注册资本', dataIndex: 'registeredCapital', width: 55, align: 'center' },
      { title: '注册时间', dataIndex: 'regDateTime', width: 55, align: 'center' },
      {
        title: '供应商信用认证类型',
        dataIndex: 'creditLevel',
        width: 100,
        align: 'center',
        customRender: ({ record }) => {
          if (record.creditLevel == 'basic') {
            return '基础认证';
          } else if (record.creditLevel == 'universal') {
            return '通用认证';
          } else if (record.creditLevel == 'architecture1') {
            return '建筑业-咨询服务认证';
          } else if (record.creditLevel == 'architecture2') {
            return '建筑业-材料设备认证';
          } else if (record.creditLevel == 'architecture3') {
            return '建筑业-工程建设认证';
          }
        },
      },
    ],
  });
  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    search: false,
    rowKey: 'id',
    bordered: true,
    scroll: { y: 300 },
  });
  const loadTableData = async (params: LoadDataParams) => {
    const data = await getGoods({
      goodsCode: state.record.goodsCode,
      areaCode: state.record.areaCode,
      ...params,
    });
    return {
      list: data.data,
      pagination: { total: data.total, page: params.pageNum, size: params.pageSize },
    };
  };
  const onChangeVisable = (record) => {
    state.record = record;
    dynamicTableInstance.reload();
    infovisible.value = true;
  };
  defineExpose({ onChangeVisable });
</script>
<style lang="less" scoped></style>
