<template>
  <div class="page-container">
    <DynamicTable
      header-title="用户管理"
      :data-request="loadTableData"
      :columns="columns"
      auto-height
      :scroll="{ x: 2000, y: 300 }"
      :row-selection="rowSelection"
    >
      <template v-if="isCheckRows" #title>
        <Alert class="w-full" type="info" show-icon>
          <template #message>
            已选 {{ isCheckRows }} 项
            <a-button type="link" @click="rowSelection.selectedRowKeys = []">取消选择</a-button>
          </template>
        </Alert>
      </template>
      <template #toolbar>
        <a-button style="margin-left: 10px" type="success" @click="exportExcel">导出Excel</a-button>
        <a-button v-if="$auth('user:add')" type="primary" @click="openUserModal({})">
          <PlusOutlined /> 新增
        </a-button>
        <a-button
          v-if="$auth('user:reset')"
          type="primary"
          :disabled="!isCheckRows"
          @click="resetPwdConfirm(rowSelection.selectedRowKeys)"
        >
          <ReloadOutlined /> 重置密码
        </a-button>
        <a-button
          v-if="$auth('user:delete')"
          type="danger"
          :disabled="!isCheckRows"
          @click="delRowConfirm(rowSelection.selectedRowKeys)"
        >
          <DeleteOutlined /> 删除
        </a-button>
      </template>
    </DynamicTable>
    <DataConfig :is-show="isShow" :row-data="dataList" @close-modal="closeConfigModal"></DataConfig>
  </div>
</template>

<script setup lang="tsx">
  import { ref, reactive, computed } from 'vue';
  import {
    PlusOutlined,
    DeleteOutlined,
    ExclamationCircleOutlined,
    ReloadOutlined,
  } from '@ant-design/icons-vue';
  import { isEmpty, isNil } from 'lodash-es';
  import { Modal, Alert, message } from 'ant-design-vue';
  import DataConfig from '../components/DataConfig.vue'; //数据表权限配置
  import { userSchemas } from './formSchemas';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import type { LoadDataParams } from '@/components/core/dynamic-table';
  import type { TreeDataItem } from '@/core/permission/utils';
  import { useTable } from '@/components/core/dynamic-table';
  import {
    deleteUsers,
    getUserList,
    getUserDetail,
    createUser,
    updateUser,
    resetPasswords,
  } from '@/api/system/user';
  import { useFormModal } from '@/hooks/useModal/index';
  import { getDeptAll, downloadUserList } from '@/api/system/dept';

  defineOptions({
    name: 'SystemUser',
  });

  const fontColor = '#1890ff';
  const isShow = ref(false);
  const dataList = ref({ Id: '', type: 'user' });
  interface State {
    expandedKeys: number[];
    departmentIds: number[];
    deptTree: TreeDataItem[];
    userData: any[];
  }

  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    rowKey: 'userId',
    bordered: true,
  });
  const [showModal] = useFormModal();

  const state = reactive<State>({
    expandedKeys: [],
    departmentIds: [],
    deptTree: [],
    userData: [],
    params: {},
  });

  const rowSelection = ref({
    selectedRowKeys: [] as number[],
    onChange: (selectedRowKeys: number[], selectedRows: TableListItem[]) => {
      console.log(`selectedRowKeys: ${selectedRowKeys}`, 'selectedRows: ', selectedRows);
      rowSelection.value.selectedRowKeys = selectedRowKeys;
    },
  });

  // 是否勾选了表格行
  const isCheckRows = computed(() => rowSelection.value.selectedRowKeys.length);

  /**
   * @description 打开用户弹窗
   */
  const openUserModal = async (record: Partial<TableListItem> = {}) => {
    await fetchDeptList(); // 加载一下部门获取

    const [formRef] = await showModal<any>({
      modalProps: {
        title: `${record.userId ? '编辑' : '新增'}用户`,
        width: 700,
        onFinish: async (values) => {
          console.log('新增/编辑用户', values);
          values.userLineDefense =
            values.userLineDefense == undefined ? '' : values.userLineDefense;
          values.id = record.userId;

          const ParentTree = getParentTree(values.deptId, state.deptTree);
          console.log(2222, ParentTree);
          const params = {
            ...values,
            unitId: !isNil(ParentTree) && ParentTree.length > 0 ? ParentTree[0].key : null,
          };
          await (record.userId ? updateUser : createUser)(params);
          dynamicTableInstance?.reload();
        },
      },
      formProps: {
        labelWidth: 100,
        schemas: userSchemas,
      },
    });

    formRef?.updateSchema([
      {
        field: 'deptId',
        componentProps: {
          treeData: state.deptTree,
        },
      },
    ]);
    formRef?.setFieldsValue(record);
    if (record?.userId) {
      const userinfo = await getUserDetail(record?.employeeCode as string);
      const roles = userinfo.roleId ? userinfo.roleId.split(',') : [];
      formRef?.setFieldsValue({ roles: roles.map((n) => parseInt(n)) });

      const updateSchema = [
        { field: 'username', dynamicDisabled: true },
        { field: 'employeeCode', dynamicDisabled: true },
      ];
      formRef?.updateSchema(updateSchema);
    } else {
      const updateSchema = [
        { field: 'username', dynamicDisabled: false },
        { field: 'employeeCode', dynamicDisabled: false },
      ];
      formRef?.updateSchema(updateSchema);
    }
  };

  /**
   * 获取部门列表
   */
  const fetchDeptList = async () => {
    const dept = (await getDeptAll()) as any;

    const deptTree: TreeDataItem[] = [];
    for (let i = 0; i < dept.rows.children.length; i++) {
      const obj = { selectable: false }; //父级不能选中
      const allTreeItem = Object.assign(genDeptTreeItem(dept.rows.children[i]), obj);
      deptTree.push(allTreeItem);
    }

    state.deptTree = deptTree;
  };

  const genDeptTreeItem = (item): TreeDataItem => {
    const children: TreeDataItem[] = [];

    if (item.children) {
      for (let i = 0; i < item.children.length; i++) {
        children.push(genDeptTreeItem(item.children[i]));
      }
    }

    return {
      key: parseInt(item.id),
      title: item.title,
      value: parseInt(item.id),
      children: children.length ? children : null,
      lable: item.title,
    };
  };
  // 获取父级depid
  const getParentTree = (id, tree) => {
    let arr = [] as any[]; //要返回的数组
    for (let i = 0; i < tree.length; i++) {
      const item = tree[i];
      arr = [];
      arr.push(item); //保存当前节点id
      if (id == item.key) {
        //判断当前id是否是默认id
        return arr; //是则退出循环、返回数据
      } else {
        //否则进入下面判断，判断当前节点是否有子节点数据
        if (item.children && item.children.length > 0) {
          //合并子节点返回的数据
          const temp = getParentTree(id, item.children ? item.children : []);
          if (!isNil(temp)) {
            arr = arr.concat(temp);
            if (arr.map((item2) => (item2 ? item2.key : '')).includes(id)) {
              //如果当前数据中已包含默认节点，则退出循环、返回数据
              const newArry = [] as any[];
              arr.forEach((v) => {
                newArry.push(v);
              });
              return newArry;
            }
          }
        }
      }
    }
  };

  /**
   * @description 表格删除行
   */
  const delRowConfirm = async (userId: number | number[]) => {
    if (Array.isArray(userId)) {
      Modal.confirm({
        title: '确定要删除所选的用户吗?',
        icon: <ExclamationCircleOutlined />,
        centered: true,
        onOk: async () => {
          await deleteUsers(userId).finally(dynamicTableInstance?.reload);
        },
      });
    } else {
      await deleteUsers([userId]).finally(dynamicTableInstance?.reload);
    }
  };
  const resetPwdConfirm = async (userIds: number[]) => {
    if (userIds.length > 0) {
      const usernames = state.userData
        .filter((f) => {
          return rowSelection.value.selectedRowKeys.indexOf(f.userId) > -1;
        })
        .map((m) => {
          return { username: m.username, employeeCode: m.employeeCode };
        });
      Modal.confirm({
        title: '默认密码@!Obei1234,确定要重置密码吗?',
        icon: <ExclamationCircleOutlined />,
        centered: true,
        onOk: async () => {
          await resetPasswords(usernames).finally(dynamicTableInstance?.reload);
        },
      });
    } else {
      message.warn('请选择记录');
    }
  };

  const loadTableData = async (params: LoadDataParams) => {
    state.params = params;
    const temp: any = {};
    if (!isEmpty(params.createTime)) {
      const date = params.createTime;
      temp.createTimeFrom = date[0];
      temp.createTimeTo = date[1];
    }
    const query = Object.assign(params, temp);
    delete query['createTime'];
    const data = await getUserList({
      ...query,
    });
    rowSelection.value.selectedRowKeys = [];

    state.userData = data.rows;
    return {
      list: data.rows,
      pagination: { total: data.total, page: params.pageNum, size: params.pageSize },
    };
    // return data;
  };

  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 50,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => [
        {
          label: '编辑',
          auth: {
            perm: 'user:update',
            effect: 'disable',
          },
          actionType: 'icon',
          icon: 'SettingOutlined',
          style: `color:${fontColor}`,
          onClick: () => openUserModal(record),
        },
        {
          label: '删除',
          auth: 'user:delete',
          actionType: 'icon',
          icon: 'DeleteOutlined',
          style: `color:${fontColor}`,
          popConfirm: {
            title: '你确定要删除吗？',
            onConfirm: () => delRowConfirm(record.userId),
          },
        },
        {
          label: '数据表配置',
          auth: 'user:dataConfig',
          actionType: 'icon',
          icon: 'DatabaseOutlined',
          style: `color:${fontColor}`,
          onClick: () => openConfigModal(record),
        },
      ],
    },
  ];
  //数据表配置
  const openConfigModal = (record) => {
    //此处仅需要userId，所以不做其他无用数据传值
    dataList.value.Id = record.userId;
    isShow.value = true;
  };
  const closeConfigModal = () => {
    isShow.value = false;
  };
  const exportExcel = async () => {
    downloadUserList(state.params, '用户管理列表.xlsx');
  };
</script>

<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
</style>
