<template>
  <div class="page-container">
    <DynamicTable
      row-key="id"
      header-title="ODS表管理"
      :data-request="loadTableData"
      :columns="columns"
      bordered
      auto-height
      :scroll="{ y: 300 }"
      size="small"
      :custom-row="
        (record) => {
          return {
            onDblclick: () => {
              checkData(record);
            },
          };
        }
      "
    >
      <template #toolbar>
        <a-button
          type="primary"
          :disabled="!$auth('tableManagement:manualRegistration')"
          @click="openModal('manualRegistration', '手动登记', 'add')"
        >
          手动登记
        </a-button>
        <a-button
          type="primary"
          :disabled="!$auth('tableManagement:tableRegistration')"
          @click="openModal('tableRegistration', '单表登记', 'add')"
        >
          单表登记
        </a-button>
        <a-button
          type="primary"
          :disabled="!$auth('tableManagement:batchRegistration')"
          @click="openModal('batchRegistration', '批量登记', 'add')"
        >
          批量登记表
        </a-button>
      </template>
    </DynamicTable>

    <!-- 查看表数据 -->
    <TableDetail
      v-if="data.tableDetailDialog.visible"
      :dialog="data.tableDetailDialog"
      :pk-id="data.tableDetailDialog.pkId"
    ></TableDetail>

    <!-- 单表登记 -->
    <TableRegistration
      v-if="data.tableRegistrationDialog.visible"
      :dynamic-table-instance-parent="dynamicTableInstance"
      :dialog="data.tableRegistrationDialog"
      @success="
        () => {
          dynamicTableInstance.reload();
        }
      "
    ></TableRegistration>
  </div>
</template>

<script lang="ts" setup>
  import { ref } from 'vue';
  import _ from 'lodash-es';
  import { verifyAuth } from '../../../core/permission/index';
  import { baseColumns } from './columns';
  import TableRegistration from './components/TableRegistration/index.vue';
  import TableDetail from './components/TableDetail/index.vue';
  import {
    data,
    loadTableData,
    add,
    saveDataSource,
    updateDataSource,
    handleCancel,
    testConnect,
    checkData,
    openModal,
  } from './methods';
  import { useTable } from '@/components/core/dynamic-table';
  import { useFormModal } from '@/hooks/useModal/useFormModal';

  defineOptions({
    name: 'SystemPermissionRole',
  });

  const formDataRef = ref();
  const [DynamicTable, dynamicTableInstance] = useTable();

  const columns = baseColumns(
    {
      update: verifyAuth('tableManagement:update'),
      check: verifyAuth('tableManagement:check'),
      delete: verifyAuth('tableManagement:delete'),
    },
    dynamicTableInstance,
  );
</script>
<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
  /deep/.ant-table-wrapper .ant-table .ant-btn {
    margin-right: unset;
    padding: 0px 8px;
  }
  /deep/.table-action {
    margin: unset;
  }

  /deep/.ant-form-item {
    margin: 0px 0px 20px;
  }

  /deep/.ant-input-number {
    width: 100%;
  }

  /deep/.ant-btn > .anticon + span,
  .ant-btn > span + .anticon {
    margin-left: 5px;
  }
</style>
