<template>
  <div class="main">
    <a-row class="content">
      <a-col :span="4">
        <TreeList :base-info="true" @selectd="onSelect" />
      </a-col>
      <a-col :span="1">
        <div class="line"></div>
      </a-col>
      <a-col :span="19">
        <!-- 得分调整 -->
        <a-row class="mv-2x">
          <a-col :span="20">
            <a-form layout="inline" :model="state.formState" v-bind="formItemLayout">
              <a-form-item label="季度">
                <a-select
                  v-model:value="state.quarterPeriod"
                  style="width: 120px"
                  @change="(value) => datechange(value)"
                >
                  <a-select-option
                    v-for="(item, index) in dict.getItemsByDictCode('PERFORMANCE_QUARTERLY_TYPE')"
                    :key="index"
                    :value="item.itemValue"
                    >{{ item.itemText }}</a-select-option
                  >
                </a-select>
              </a-form-item>
              <a-form-item
                v-if="state.treeCode.orgCode !== 'BWDH00' && state.dataSource.adjustListDtoList"
              >
                <div style="width: 100px"
                  >得分：{{ state.dataSource.deptWeightScore }}
                </div></a-form-item
              >
              <a-form-item
                v-if="state.treeCode.orgCode !== 'BWDH00' && state.dataSource.adjustListDtoList"
                label="加扣分调整"
              >
                <a-input
                  v-model:value="state.dataSource.deptPerfEvalScoreFixValue"
                  placeholder="请输值例如: +5、-2"
                  :disabled="
                    state.dataSource.approvalHandleLevel !== '00' &&
                    state.dataSource.approvalHandleLevel
                  "
                  @change="setTotalScore"
                />
              </a-form-item>
              <a-form-item
                v-if="state.treeCode.orgCode !== 'BWDH00' && state.dataSource.adjustListDtoList"
                label="加扣分理由"
              >
                <a-input
                  v-model:value="state.dataSource.deptDescription"
                  :disabled="
                    state.dataSource.approvalHandleLevel !== '00' &&
                    state.dataSource.approvalHandleLevel
                  "
                  placeholder="请输入加扣分理由"
                />
              </a-form-item>
            </a-form>
          </a-col>
          <a-col
            v-if="state.treeCode.orgCode !== 'BWDH00' && state.dataSource.adjustListDtoList"
            :span="4"
            class="text-r"
          >
            <a-button type="primary" ghost @click="Refresh">刷新</a-button>
            <a-button type="primary" class="ml-1x" :loading="state.saveLoading" @click="saveAudit">
              保存
            </a-button>
          </a-col>
        </a-row>
        <!-- 指标列表 -->
        <DynamicTable :columns="state.scoreColumnList" :data-request="loadTableData">
          <template #bodyCell="{ column, record, index }">
            <!-- 目标名称 -->
            <template v-if="column.key === 'perfGName'">
              <span class="link" @click="checkTargetInfo(record)">{{ record.perfGName }}</span>
            </template>
            <!-- 调整得分 -->
            <template v-if="column.key === 'perfEvalScoreFixValue'">
              <a-input
                v-model:value="record.perfEvalScoreFixValue"
                placeholder="请输值例如: +5、-2"
                :disabled="record.approvalHandleLevel !== '00' && record.approvalHandleLevel"
                @change="(e) => setEvents(e, index)"
              />
            </template>
            <!-- 调整说明 -->
            <template v-if="column.key === 'description'">
              <a-textarea
                v-model:value="record.description"
                placeholder="请输入调整说明"
                :disabled="record.approvalHandleLevel !== '00' && record.approvalHandleLevel"
                :rows="2"
              />
            </template>
          </template>
        </DynamicTable>
        <a-spin v-if="!isEmpty(state.baseInfo)" :spinning="state.spinning">
          <a-collapse :expand-icon-position="expandIconPosition">
            <a-collapse-panel key="1">
              <template #header>
                <div>
                  <span class="bold">
                    {{ state.baseInfo?.perfGName }}（{{
                      state.baseInfo?.perfGOrgCode
                        ? dict.getItemText('INDICATOR_UNIT', state.baseInfo?.perfGOrgCode)
                        : '-'
                    }}）
                  </span>
                  <span class="gray"> #{{ state.baseInfo?.ruleCode }} </span>
                </div>
              </template>
              <a-descriptions size="middle" :column="{ xxl: 4, xl: 4, lg: 4, md: 3, sm: 2, xs: 1 }">
                <a-descriptions-item label="指标类别">{{
                  state.baseInfo.perfGCategory
                    ? dict.getItemText('INDICATOR_CATEGORY', state.baseInfo.perfGCategory)
                    : '-'
                }}</a-descriptions-item>
                <a-descriptions-item label="指标类型">{{
                  state.baseInfo.perfGType
                    ? dict.getItemText('INDICATOR_TYPE', state.baseInfo.perfGType)
                    : '-'
                }}</a-descriptions-item>
                <a-descriptions-item label="评价周期">{{
                  state.baseInfo.evaluatePeriod
                    ? dict.getItemText('EVALUATION_PERIOD', state.baseInfo.evaluatePeriod)
                    : '-'
                }}</a-descriptions-item>
                <a-descriptions-item label="权重">{{
                  state.baseInfo.score ? `${state.baseInfo.score}%` : '-'
                }}</a-descriptions-item>
                <a-descriptions-item label="归口管理部门">{{
                  state.baseInfo.orgPerformanceName || '-'
                }}</a-descriptions-item>
                <a-descriptions-item label="年度目标" :span="3"
                  >{{ state.baseInfo.yearTarget.toLocaleString() || '-' }}
                </a-descriptions-item>
                <a-descriptions-item label="实绩公式描述" :span="4">{{
                  state.baseInfo.eneityResultFuncDesc || '-'
                }}</a-descriptions-item>
                <a-descriptions-item label="计分方式描述" :span="4">{{
                  state.baseInfo.eneityScoreFuncDesc || '-'
                }}</a-descriptions-item>
              </a-descriptions>
            </a-collapse-panel>
          </a-collapse>

          <a-tabs v-model:activeKey="activeKey" size="middle">
            <a-tab-pane
              v-for="(item, index) in state.baseInfo?.quarterDetails"
              :key="index"
              :tab="item.quarterName"
            >
              <a-descriptions size="small" :column="{ xxl: 4, xl: 4, lg: 4, md: 4, sm: 2, xs: 2 }">
                <a-descriptions-item label="季度目标">{{
                  item.quarterTarget.toLocaleString() || '-'
                }}</a-descriptions-item>
                <a-descriptions-item label="季度实绩">{{
                  item.quarterAchievements.toLocaleString() || '-'
                }}</a-descriptions-item>
                <a-descriptions-item label="季度得分">{{
                  item.quarterScore || '-'
                }}</a-descriptions-item>
                <a-descriptions-item label="权重得分">{{
                  item.quarterGoalScore || '-'
                }}</a-descriptions-item>
              </a-descriptions>
              <!-- 实绩明细 -->
              <h4 class="p-x">实绩明细</h4>
              <a-table
                :data-source="item?.performanceSettingMaps?.sourceData || []"
                :columns="columnLists(item?.performanceSettingMaps?.heads)"
                size="small"
                class="mb-2x"
                bordered
                :pagination="false"
              >
                <template #headerCell="{ column }">
                  <template v-if="column.dataIndex !== 'fieldNameCn'">
                    <span>
                      {{ column.title }}
                      <fund-view-outlined class="primary" @click="viewColumn(column, index)" />
                    </span>
                  </template>
                </template>
              </a-table>
              <a-row :gutter="24">
                <!-- 调整记录 -->
                <a-col :span="24">
                  <a-divider orientation="left" style="margin-top: 0">调整记录</a-divider>
                  <a-row v-for="(it, idx) in item.scoreApprovalDetails" :key="idx">
                    <a-col :span="5"> {{ it.createName || '-' }} </a-col>
                    <a-col :span="6">
                      调整 {{ it.perfEvalScoreFixOpt + it.perfEvalScoreFixValue }}
                    </a-col>
                    <a-col :span="8"> {{ it.description || '-' }} </a-col>
                    <a-col :span="3" class="text-c">
                      {{ dayjs(it.createDate).format('YYYY.MM.DD') || '-' }}
                    </a-col>
                  </a-row>
                </a-col>
              </a-row>
            </a-tab-pane>
          </a-tabs>
        </a-spin>
        <a-empty v-else :description="null" class="mt-4x" />
      </a-col>
    </a-row>
    <!-- 查看备注 -->
    <a-modal
      v-model:visible="viewVisible"
      title="查看备注"
      :width="400"
      destroy-on-close
      :body-style="{ 'min-height': '200px' }"
      :footer="false"
      @cancel="viewVisible = false"
    >
      <a-row>
        {{ state.remark }}
      </a-row>
      <a-divider />
      <div v-for="(item, idx) in state.attestationFiles" :key="idx">
        <a :href="`${state.BASE_URL}basic/n/get/file?key=${item.fileAddress}`" target="_blank">{{
          item.fileName
        }}</a>
      </div>
    </a-modal>
  </div>
</template>

<script lang="tsx" setup>
  import { reactive, ref } from 'vue';
  import { useRoute } from 'vue-router';
  import dayjs from 'dayjs';
  import { isEmpty } from 'lodash-es';
  import { message, type CollapseProps } from 'ant-design-vue';
  import TreeList from '../../orgPerList/components/TreeList.vue';
  import { scoreColumns, MoreColumns } from './components/columns'; //table列
  import { useTable, type LoadDataParams, type TableColumn } from '@/components/core/dynamic-table';
  import {
    queryQuarterly,
    queryScoreList,
    submitScoreList,
    refreScoreList,
  } from '@/api/perAppraisal/apiList';
  import dict from '@/utils/dict.js';

  const route = useRoute();
  const activeKey = ref(0);
  //基本页面样式配置
  const expandIconPosition = ref<CollapseProps['expandIconPosition']>('right');
  const formItemLayout = {
    labelCol: { span: 7 },
    wrapperCol: { span: 16 },
  };
  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    rowKey: 'ruleCode',
    bordered: true,
    search: false,
    pagination: false,
    showToolBar: true,
    scroll: { y: 300 },
  });
  const state: any = reactive({
    treeData: [] as any,
    treeCode: {
      orgCode: '',
      orgName: '',
    },
    contentLoading: false,
    spinning: false,
    baseInfo: {},
    formState: {
      perfEvalScoreFixValue: '',
      description: '',
    },
    saveLoading: false,
    dataSource: [],
    quarterPeriod: '',
    scoreColumnList: [...scoreColumns, ...MoreColumns],
    BASE_URL: process.env.VUE_APP_BASE_API,
    remark: '',
    attestationFiles: [],
  });
  //选择季度
  const datechange = (_value) => {
    dynamicTableInstance.reload();
  };

  const onSelect = (_selectedKeys, { selectedNodes }) => {
    state.treeCode.orgCode = selectedNodes[0].code;
    state.treeCode.orgName = selectedNodes[0].title;
    if (!_selectedKeys[0]) return;
    state.scoreColumnList =
      state.treeCode.orgCode == 'BWDH00' ? [...scoreColumns] : [...scoreColumns, ...MoreColumns];
    //每次默认切换部门时季度信息从列表获取，自主切换季度不考虑
    state.quarterPeriod = '';
    dynamicTableInstance.reload();
  };
  const { orgCode } = route.query;
  // 查询列表数据并渲染
  const loadTableData = async () => {
    if (!state.treeCode.orgCode) return;

    const { period: yearPeriod } = route.query;
    const param = {
      orgCode: state.treeCode.orgCode,
      orgPerformanceCode: orgCode,
      period: state.quarterPeriod,
      yearPeriod,
    };
    const { data } = await queryScoreList(param);
    state.dataSource = data.success ? data?.data : [];
    //如果列表返回存在月份，那么就使用列表月份渲染
    if (state.dataSource.period) {
      state.quarterPeriod = state.dataSource.period;
    }
    //处理得分位数
    // state.dataSource?.adjustListDtoList.forEach((item, index) => {
    //   state.dataSource.adjustListDtoList[index].perfEvalScoreFixValue = parseFloat(
    //     state.dataSource.adjustListDtoList[index].perfEvalScoreFixValue,
    //   );
    // });
    state.baseInfo = {};
    return {
      list: state.dataSource?.adjustListDtoList || [],
    };
  };
  // 查询指标详情
  const checkTargetInfo = async (record) => {
    try {
      const { ruleCode } = record;
      const res = await queryQuarterly(ruleCode);
      if (res.success) {
        state.baseInfo = res.data;
        setTimeout(() => {
          activeKey.value = 0;
        }, 200);
      } else {
        throw new ReferenceError(res.message);
      }
    } catch (e) {
      if (e instanceof ReferenceError) {
        state.baseInfo = {};
        message.error(e.message);
      }
    }

    state.spinning = false;
  };
  // 校验输入的值是否是数值
  const setTotalScore = (e) => {
    const isFigure = isNaN(e.target.value);
    if (isFigure && e.target.value.length > 1) {
      state.dataSource.deptPerfEvalScoreFixValue = '';
      return message.error('请输入正确数值！');
    }
  };
  const setEvents = (e, index) => {
    const isFigure = isNaN(e.target.value);
    if (isFigure && e.target.value.length > 1) {
      state.dataSource.adjustListDtoList[index].perfEvalScoreFixValue = '';
      return message.error('请输入正确数值！');
    }
  };
  const columnLists = (heads) => {
    const baseColumns: TableColumn[] = [
      {
        title: '数据项',
        dataIndex: 'fieldNameCn',
        width: 200,
      },
    ];
    if (!heads) return baseColumns;
    heads.forEach((v) => {
      baseColumns.push({
        title: v,
        dataIndex: v,
        width: 200,
        align: 'center',
        customRender: ({ text }) => {
          return (
            <div class="flex">
              <div>{text?.fieldSourceValue.toLocaleString() ?? '-'}</div>
            </div>
          );
        },
      });
    });
    return baseColumns;
  };

  // 公共入参
  const { period: yearPeriod, orgCode: orgPerformanceCode } = route.query;
  const commonParams = () => {
    const scoreList = state.dataSource.adjustListDtoList.map((item) => {
      return {
        apiCode: item.apiCode,
        description: item.description,
        fieldName: item.ruleCode,
        fieldNameCn: item.perfGName,
        fieldSourceValue: item.quarterScore,
        perfEvalScoreFixValue: item.perfEvalScoreFixValue,
        ruleCode: item.ruleCode,
      };
    });
    return {
      deptScore: {
        orgPerformanceCode,
        deptCode: state.treeCode.orgCode,
        deptName: state.treeCode.orgName,
        description: state.dataSource.deptDescription,
        fieldSourceValue: state.dataSource.deptScore,
        perfEvalScoreFixValue: state.dataSource.deptPerfEvalScoreFixValue,
      },
      adjustOrgPerfScoreVos: scoreList,
      period: state.quarterPeriod,
      yearPeriod,
    };
  };

  //提交
  const saveAudit = async () => {
    state.saveLoading = true;
    const { data } = await submitScoreList(commonParams());
    state.saveLoading = false;
    if (data.success) {
      message.success(data.message);
      dynamicTableInstance.reload();
    } else {
      message.error(data.message);
    }
  };
  const Refresh = async () => {
    const params = {
      orgCode: state.treeCode.orgCode,
      orgPerformanceCode,
      yearPeriod,
    };
    const { data } = await refreScoreList(params);

    if (data.success) {
      message.success(data.message);
      dynamicTableInstance.reload();
    } else {
      message.error(data.message);
    }
  };
  //查看备注信息,判断当前是否存在备注
  const viewVisible = ref(false);
  const viewColumn = (col, index) => {
    const remarkData = state.baseInfo?.quarterDetails[index].performanceSettingMaps.annotations;
    for (let i = 0; i < remarkData.length; i++) {
      const keyA = Object.keys(remarkData[i]);
      if (keyA == col.dataIndex) {
        state.remark = remarkData[i][col.dataIndex].annotation;
        state.attestationFiles = remarkData[i][col.dataIndex].files;
      }
    }
    if (state.remark || state.attestationFiles) {
      viewVisible.value = true;
    } else {
      message.warning(`当前并无备注和附件信息查看！`);
    }
  };
</script>

<style lang="less" scoped>
  .main {
    height: 100%;
    background: #fff;
    overflow-y: auto;
    .content {
      padding: 0.5rem 1.25rem;
      height: inherit;
      .line {
        margin: 0 40%;
        height: 100%;
        border-left: 0.0625rem solid #d8d8d8;
      }
    }
  }
  /deep/.ant-descriptions-header {
    margin-bottom: 12px;
  }
</style>
