<template>
  <div class="space-align-container">
    <div
      v-for="(item, index) in props.tabList"
      :key="index"
      :class="[`space-align-block`, `shadow`, isActive == index ? 'active' : '']"
      @click="choose(index)"
    >
      <div class="title ellipsis-2">{{ item?.perfGName }}</div>
      <div class="title ellipsis-2">
        {{ item?.perfGOrgCode ? dict.getItemText('INDICATOR_UNIT', item?.perfGOrgCode) : null }}
      </div>
      <div class="text-r">{{ item?.completionRate }}</div>
    </div>
  </div>
</template>

<script lang="ts" setup>
  import { ref, watch, type PropType } from 'vue';
  import dict from '@/utils/dict.js';

  type tabGroup = {
    perfGName?: string;
    perfGOrgCode?: string;
    completionRate?: string;
  };
  const props = defineProps({
    tabList: {
      type: Array as unknown as PropType<[tabGroup]>,
      default: () => {
        return [];
      },
    },
  });
  const emits = defineEmits(['chooseTab']);

  const isActive = ref();
  const choose = (index) => {
    isActive.value = index;
    emits('chooseTab', props.tabList[index]);
  };
  watch(
    () => props.tabList,
    (nV, _oV) => {
      if (nV.length) choose(0);
    },
    {
      immediate: true,
      deep: true,
    },
  );
</script>

<style lang="less" scoped>
  .space-align-container {
    display: flex;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .space-align-block {
    margin: 8px 4px;
    border: 1px solid #ddd;
    padding: 4px 6px;
    display: flex;
    flex-direction: column;
    min-width: 120px;
    max-width: 300px;
    flex-shrink: 0;
    border-radius: 2px;

    &.active {
      border: 1px solid #40a9ff;
      box-shadow: 1px 1px 6px 0 rgba(64, 169, 255, 0.2);
    }

    &:hover {
      cursor: pointer;
      border: 1px solid #40a9ff;
    }

    .title {
      word-break: break-all;
    }
  }
</style>
