<template>
  <div class="page-container">
    <DynamicTable
      row-key="pkId"
      header-title="ODS任务管理"
      :data-request="loadTableData"
      :columns="columns"
      bordered
      auto-height
      :scroll="{ y: 300 }"
      size="small"
      :custom-row="
        (record) => {
          return {
            onDblclick: () => {
              checkData(record);
            },
          };
        }
      "
      :row-selection="{
        selectedRowKeys: data.selectedRowKeys,
        onChange: onSelectChange,
        fixed: true,
      }"
    >
      <template #toolbar>
        <a-button
          v-if="$auth('businessDataSource:batchOnline')"
          type="primary"
          :disabled="data.selectedRows.length === 0"
          @click="batchOnlineTaskManagement"
        >
          批量上线
        </a-button>
        <a-button
          v-if="$auth('businessDataSource:batchOffline')"
          type="primary"
          :disabled="data.selectedRows.length === 0"
          @click="batchOfflineTaskManagement"
        >
          批量下线
        </a-button>
      </template>
    </DynamicTable>
    <a-modal
      v-if="data.dialog.visible"
      v-model:visible="data.dialog.visible"
      :title="data.dialog.title"
      :confirm-loading="data.dialog.confirmLoading"
      :mask-closable="false"
      width="900px"
      @cancel="handleCancel(formDataRef)"
    >
      <a-form
        ref="formDataRef"
        :model="data.formData"
        name="basic"
        :label-col="{ span: 8 }"
        :wrapper-col="{ span: 16 }"
        autocomplete="off"
        :rules="data.rules"
      >
        <a-row>
          <a-col :md="12" :sm="24">
            <a-form-item name="syncType" label="同步方式">
              <a-radio-group v-model:value="data.formData.syncType">
                <a-radio :value="1">增量</a-radio>
                <a-radio :value="2">全量</a-radio>
              </a-radio-group>
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col :md="12" :sm="24">
            <a-form-item v-if="data.formData.syncType == 1" label="增量字段" name="incrField">
              <a-select
                v-model:value="data.formData.incrField"
                filter-option
                allow-clear
                placeholder="请选择增量字段"
                :disabled="data.oldFormData.incrField ? true : false"
              >
                <a-select-option
                  v-for="field in data.columns"
                  :key="field.value"
                  :value="field.value"
                >
                  {{ field.label }}
                </a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col :md="21" :sm="24">
            <a-form-item
              label="运行周期"
              :label-col="{ span: 4 }"
              :wrapper-col="{ span: 19, offset: 0 }"
              name="cronExp"
            >
              <CronEditor
                v-model:value.sync="data.formData.cronExp"
                cron-syntax="quartz"
              ></CronEditor>
            </a-form-item>
          </a-col>
          <a-col :md="3" :sm="24"></a-col>
        </a-row>
      </a-form>

      <template #footer>
        <a-button
          type="primary"
          :loading="data.saveLoading"
          :disabled="data.needUpdateTask"
          @click="updateTask(formDataRef, dynamicTableInstance)"
          >保存</a-button
        >
        <a-button @click="handleCancel(formDataRef)">取消</a-button>
      </template>
    </a-modal>
  </div>
</template>

<script lang="ts" setup>
  import { ref } from 'vue';
  import _ from 'lodash-es';
  import { verifyAuth } from '../../../core/permission/index';
  import { baseColumns } from './columns';
  import {
    data,
    onSelectChange,
    batchOnlineTaskManagement,
    batchOfflineTaskManagement,
    loadTableData,
    updateTask,
    handleCancel,
  } from './methods';
  import { CronEditor } from '@/components/business';
  import { useTable } from '@/components/core/dynamic-table';
  import { useFormModal } from '@/hooks/useModal/useFormModal';

  defineOptions({
    name: 'SystemPermissionRole',
  });

  const formDataRef = ref();
  const [DynamicTable, dynamicTableInstance] = useTable();

  const columns = baseColumns(
    {
      batchRunAll: verifyAuth('businessDataSource:batchRunAll'),
      run: verifyAuth('businessDataSource:run'),
      online: verifyAuth('businessDataSource:online'),
      offline: verifyAuth('businessDataSource:offline'),
      update: verifyAuth('businessDataSource:update'),
      delete: verifyAuth('businessDataSource:delete'),
    },
    dynamicTableInstance,
  );
</script>
<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
  /deep/.ant-table-wrapper .ant-table .ant-btn {
    margin-right: unset;
    padding: 0px 8px;
  }
  /deep/.table-action {
    margin: unset;
  }

  /deep/.ant-form-item {
    margin: 0px 0px 20px;
  }

  /deep/.ant-input-number {
    width: 100%;
  }

  /deep/.ant-btn > .anticon + span,
  .ant-btn > span + .anticon {
    margin-left: 5px;
  }
</style>
