<template>
  <div>
    <!-- :on-save="handleSave"
      :on-cancel="handleCancelSave" -->
    <DynamicTable
      size="small"
      bordered
      :data-source="tableData.data"
      :columns="tableColumns"
      editable-type="multiple"
      style="width: 100%"
      :scroll="{ y: 300 }"
    >
    </DynamicTable>
  </div>
</template>

<script lang="ts" setup>
  import { computed, reactive, watch } from 'vue';
  import { omit } from 'lodash-es';
  import { message } from 'ant-design-vue';
  import { columns } from './columns';
  import { useTable } from '@/components/core/dynamic-table';
  import { getDictNameMap } from '@/api/common';

  defineOptions({
    name: 'TableRowEditor',
    inheritAttrs: false,
  });

  const props = defineProps({
    data: {
      type: Array,
      default: () => {
        return [];
      },
    },
  });

  const [DynamicTable] = useTable({
    search: false,
    pagination: false,
    showToolBar: false,
    size: 'small',
    rowKey: 'id',
    bordered: true,
  });

  const tableData = reactive({ data: [] });

  watch(
    () => props.data,
    () => {
      tableData.data = props.data;
    },
    { immediate: true, deep: true },
  );

  let dictMap = [];

  getDictNameMap().then((r) => {
    dictMap = r.data.map((item) => {
      return {
        label: item.dictName,
        value: item.id,
      };
    });
  });

  columns[3].editFormItemProps.componentProps = ({}) => ({
    options: dictMap,
  });

  columns[3].customRender = () => {};

  // 设置click 事件
  columns[3].customRender = ({ record }) => {
    const index = dictMap.findIndex((item) => {
      return item.value == record.dictId;
    });

    if (index != -1) {
      return dictMap[index].label;
    } else {
      return record.dictId;
    }
  };

  const tableColumns = computed<typeof columns>(() => [
    ...columns,
    {
      title: '操作',
      align: 'center',
      width: 100,
      dataIndex: 'ACTION',
      actions: ({ record }, action) => {
        const { startEditable, cancelEditable, isEditable, getEditFormModel, validateRow } = action;
        return isEditable(record.id)
          ? [
              {
                label: '保存',
                onClick: async () => {
                  const result = await validateRow(record.id);

                  message.loading({ content: '保存中...', key: record.id });

                  console.log('result', result);
                  console.log('保存', getEditFormModel(record.id));

                  //  这个怎么保存呢？
                  const rowIndex = tableData.data.findIndex((item) => item.id == record.id);
                  if (rowIndex != -1) {
                    tableData.data[rowIndex] = {
                      ...getEditFormModel(record.id),
                    };
                  }

                  cancelEditable(record.id);
                  message.success({ content: '保存成功!', key: record.id, duration: 2 });
                },
              },
              {
                label: '取消',
                onClick: () => {
                  cancelEditable(record.id);
                },
              },
            ]
          : [
              {
                label: '编辑',
                onClick: () => {
                  startEditable(record.id, record);
                },
              },
            ];
      },
    },
  ]);

  const getValues = () => {
    const values = tableData.data.map((item) => {
      const newItem = omit(item, ['isPrikey', 'dictId']);
      newItem.isPrikey = item.isPrikey === true ? 1 : 0;
      if (item.dictId) {
        const index = dictMap.findIndex((t) => {
          return t.value == item.dictId;
        });

        if (index != -1) {
          newItem.dictId = dictMap[index].value;
          newItem.dictName = dictMap[index].label;
        }
      }

      return newItem;
    });

    return values;
  };
  defineExpose({
    getValues,
  });
</script>

<style lang="less" scoped></style>
