<template>
  <div class="page-container">
    <schema-form
      ref="queryFormRef"
      class="bg-white dark:bg-black mb-16px !pt-24px pr-24px"
      v-bind="formProps"
      @submit="search"
    >
    </schema-form>
    <div class="vxe-container bg-white dark:bg-black">
      <div class="toolbar">
        <Button v-if="$auth('manualMaintenance:general:add')" type="primary" @click="openModal">
          <PlusOutlined /> 新增
        </Button>
        <Button :loading="loading.load" @click="refresh"> 刷新 </Button>
        <Button
          v-if="$auth('manualMaintenance:general:edit')"
          :loading="loading.save"
          @click="save"
        >
          保存
        </Button>
        <Button v-if="$auth('manualMaintenance:general:del')" :loading="loading.del" @click="del">
          删除
        </Button>
      </div>
      <vxe-grid ref="grid" v-bind="gridOptions">
        <template #name="{ row }">
          <span>自定义插槽模板 {{ row.name }}</span>
        </template>
      </vxe-grid>
    </div>
  </div>
</template>

<script setup lang="tsx">
  import { onMounted, reactive, ref, computed } from 'vue';
  import { VxeGridProps } from 'vxe-table';
  import { isNil, isEmpty, toUpper, debounce } from 'lodash-es';
  import { QuestionCircleOutlined } from '@ant-design/icons-vue';
  import dayjs from 'dayjs';
  import { Modal, Form, DatePicker, Button, FormInstance, Input, Select } from 'ant-design-vue';
  import type { SchemaFormProps, SchemaFormInstance } from '@/components/core/schema-form';
  import { delTableData, getTableConfig, saveTableData } from '@/api/dataAdministration/form';
  import { useTable } from '@/components/core/dynamic-table';
  import { useFormModal } from '@/hooks/useModal/useFormModal';
  import dict from '@/utils/dict';
  import { type FormSchema, SchemaForm } from '@/components/core/schema-form';
  const props = defineProps({
    configId: {
      type: String,
      default: '',
    },
  });
  const grid = ref('');
  const columns = reactive<any>([
    { type: 'checkbox', width: 50 },
    { type: 'seq', width: 50 },
  ]);

  const searchSchemas = reactive<any>([]);

  const formSchemas = reactive<any>([]);

  const monthFormat = 'YYYYMM';
  const queryFormRef = ref<SchemaFormInstance>();
  const loading = reactive({
    save: false,
    del: false,
    load: false,
  });
  const rows = reactive<any>([]);

  const [showModal] = useFormModal();

  const openModal = async () => {
    await showModal<any>({
      modalProps: {
        title: `新增`,
        width: '50%',
        onFinish: async (values) => {
          grid?.value.insert(values);
        },
      },
      formProps: {
        labelWidth: 100,
        schemas: formSchemas,
      },
    });
  };

  const formProps = computed(() => {
    return {
      schemas: searchSchemas,
      labelWidth: 120,
      actionColOptions: { span: 24 },
    };
  });

  const gridOptions = reactive<VxeGridProps<any>>({
    border: true,
    showOverflow: true,
    // rowConfig: {
    //   height: 34,
    // },
    resizable: true,
    headerRowClassName: 'my-header',
    cellClassName: 'my-cell',
    toolbarConfig: {
      custom: false,
    },
    columns,
    data: rows,
    editConfig: {
      trigger: 'click',
      mode: 'cell',
    },
  });

  const save = debounce(async () => {
    loading.save = true;
    const { tableData } = grid?.value.getTableData();
    // console.log(222, tableData);
    const temps: any = [];
    tableData.forEach((item) => {
      Object.keys(item).forEach((key) => {
        const col = columns.find((x) => x.columnName === key);
        if (!isNil(col) && col.columnType === 'DatePicker' && !isEmpty(col.queryType)) {
          item[key] = dayjs(item[key]).format(toUpper(col.queryType));
        }
      });
      temps.push(item);
    });
    await saveTableData(props.configId, temps);

    await loadForm();

    loading.save = false;
  }, 500);
  const del = async () => {
    const rows = grid?.value.getCheckboxRecords(false);
    if (rows.length > 0) {
      Modal.confirm({
        title: '您确定要删除吗？',
        icon: <QuestionCircleOutlined />,
        centered: true,
        onOk: async () => {
          const ids: any = [];
          rows.forEach((x) => {
            if (Object.hasOwn(x, 'ID') && !isNil(x.ID)) {
              ids.push(x.ID);
            }
          });
          if (ids.length > 0) {
            loading.del = true;
            const r = await delTableData(props.configId, ids);
            if (r.success) {
              grid?.value.remove(rows);
            }
            loading.del = false;
          } else {
            grid?.value.remove(rows);
          }
        },
      });
    }
  };
  const refresh = () => {
    loadForm();
  };
  const search = async () => {
    loadForm();
  };
  const resetFields = () => {
    queryFormRef.value.resetFields();
  };

  const params = () => {
    const filters: any = [];
    const values: any = queryFormRef.value?.formModel;
    if (!isNil(values)) {
      Object.keys(values).forEach((key) => {
        const column = columns.find((c) => c.columnName === key);
        if (!isNil(column)) {
          let v = values[key];
          if (column.columnType === 'DatePicker') {
            v = dayjs(v).format(toUpper(column.queryType));
          }
          filters.push({
            columnName: key,
            filterType: '=',
            columnType: '',
            values: [v],
          });
        }
      });
    }
    return { id: props.configId, filters, pageSize: 10000 };
  };

  const convertVxeType = (column: any) => {
    let type = '$input';
    const props: any = {};
    let options: any = [];
    if (column.columnType === 'InputTextArea') {
      type = 'textarea';
    } else if (column.columnType === 'InputNumber') {
      type = '$input';
      props.type = 'number';
      // } else if (columnType === 'Select') {
      //   type = 'date';
      // } else if (columnType === 'Checkbox') {
      //   type = 'date';
    } else if (column.columnType === 'DatePicker') {
      type = '$input';
      props.valueFormat = column.queryType; //没啥用
      props.labelFormat = column.queryType;
      props.type = convertDateType(column);
    } else if (column.columnType === 'Select') {
      type = '$select';
      options = dict.getKeyValueByDictCode(column.dictCode);
    }
    return { type, props, options };
  };

  const convertDateType = (column: any) => {
    let type = 'date';
    if (column.queryType === 'yyyyMM') {
      type = 'month';
    } else if (column.queryType === 'yyyy') {
      type = 'year';
    }
    return type;
  };

  const buildFormItem = (column: any) => {
    const item = Object.assign({}, column, {
      field: column.columnName,
      label: column.columnCname,
      component: ({ formModel, field }) => {
        return <Input v-model={formModel[field]} placeholder="请输入" />;
      },
      colProps: {
        span: 12,
      },
    });
    if (item.columnType === 'DatePicker') {
      const type = convertDateType(item);
      if (item.queryType != 'yyyyMM') {
        item.queryType === 'yyyyMMdd';
      }
      item.component = ({ formModel, field }) => {
        if (isNil(formModel[field])) {
          formModel[field] = dayjs().subtract(1, 'month');
        }
        return (
          <DatePicker
            v-model={formModel[field]}
            picker={type}
            format={toUpper(item.queryType)}
            valueFormat={toUpper(item.queryType)}
          />
        );
      };
    } else if (item.columnType === 'InputTextArea') {
      item.component = ({ formModel, field }) => {
        return <a-textarea v-model={formModel[field]} />;
      };
    } else if (item.columnType === 'Select') {
      const items = dict.getItemsByDictCode(item.dictCode);
      item.component = ({ formModel, field }) => {
        return (
          <Select
            v-model={formModel[field]}
            options={items}
            fieldNames={{ label: 'itemText', value: 'itemValue' }}
          />
        );
      };
    }
    return item;
  };

  const buildSearchFormItem = (column: any) => {
    const item = Object.assign({}, column, {
      field: column.columnName,
      label: column.columnCname,
      component: ({ formModel, field }) => {
        return <Input v-model={formModel[field]} placeholder="请输入" />;
      },
      colProps: {
        span: 8,
      },
    });
    if (item.columnType === 'DatePicker') {
      const type = convertDateType(item);
      if (item.queryType != 'yyyyMM') {
        item.queryType === 'yyyyMMdd';
      }
      item.component = ({ formModel, field }) => {
        if (isNil(formModel[field])) {
          formModel[field] = dayjs().subtract(1, 'month');
        }
        return (
          <DatePicker
            v-model={formModel[field]}
            picker={type}
            format={toUpper(item.queryType)}
            valueFormat={toUpper(item.queryType)}
          />
        );
      };
    } else if (item.columnType === 'InputTextArea') {
      item.component = ({ formModel, field }) => {
        return <a-textarea v-model={formModel[field]} />;
      };
    } else if (item.columnType === 'Select') {
      const items = dict.getItemsByDictCode(item.dictCode);
      item.component = ({ formModel, field }) => {
        return (
          <Select
            v-model={formModel[field]}
            options={items}
            fieldNames={{ label: 'itemText', value: 'itemValue' }}
          />
        );
      };
    }
    return item;
  };
  const loadForm = async () => {
    loading.load = true;
    const r = await getTableConfig(params());
    columns.length = 2;
    formSchemas.length = 0;
    searchSchemas.length = 0;
    rows.length = 0;
    await grid?.value.reloadData([]);
    if (r.success) {
      r.data.modelsDetailHeads.forEach((x) => {
        if (
          x.columnName != 'ID' &&
          x.columnName != 'UPDATE_BY' &&
          x.columnName != 'UPDATE_TIME' &&
          x.columnName != 'CREATE_BY' &&
          x.columnName != 'CREATE_TIME'
        ) {
          const formItem = buildFormItem(x);
          formSchemas.push(formItem);

          if (Object.hasOwn(x, 'isQuery') && x.isQuery === '1') {
            const searchFormItem = buildSearchFormItem(x);
            searchSchemas.push(searchFormItem);
          }

          const { type, props, options } = convertVxeType(x);
          const render = { name: type, props, enabled: x.isReadOnly === '0', options };
          Object.assign(x, {
            field: x.columnName,
            title: x.columnCname,
            editRender: render,
          });
          if (x.columnType === 'DatePicker') {
            x.formatter = ({ cellValue }) => {
              return dayjs(cellValue).format(toUpper(x.queryType));
            };
          }
          //格式化
          if (Object.hasOwn(x, 'dictCode') && !isEmpty(x['dictCode'])) {
            x.formatter = ({ cellValue }) => {
              const obj = dict.getValue(x['dictCode'], cellValue);
              // console.log(11111111, obj);
              if (!isEmpty(obj)) {
                return obj.itemText;
              } else {
                return '-';
              }
            };
          }
          columns.push(x);
        }
      });
      // console.log(111111, columns, formSchemas);
      // console.log(6666, searchSchemas);
      r.data.modelList.forEach((x) => {
        rows.push(x);
      });
    }
    loading.load = false;
  };
  onMounted(() => {
    loadForm().then(()=>{
      //第二次调用是为了加载查询条件
      refresh()
    });
  });
</script>

<style scoped lang="less">
  .page-container {
    .vxe-container {
      padding: 10px;
    }
    /deep/.ant-form-item {
      margin: 0 0 12px;
    }
    .toolbar {
      text-align: right;
      button {
        margin-left: 10px;
      }
    }
    ///deep/.my-header {
    //  height: 34px !important;
    //  .vxe-header--column {
    //    padding: 6px 0;
    //    font-weight: 500;
    //  }
    //}
    ///deep/.my-cell {
    //  .vxe-default-input {
    //    height: 25px !important;
    //  }
    //}
  }
</style>
