<template>
  <div style="width: 100%">
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 14 }">
        <div class="blockstyle sbstyle">
          <p class="title"
            >重要物料抽检计划完成率(单位：%)<edit-outlined
              clsss="editOut"
              @click="showV(2023030916395782, zl01.columns, props.yearmonth)"
          /></p>
          <div style="height: 500px">
            <MergeTable
              :widget-id="2023030916395782"
              :has-header="false"
              :column-list="zl01.columns"
              :data-list="zl01.dataSource"
              :scroll="{ y: 440 }"
              :formatter="overtableStyle.formatter"
              :cell-color="overtableStyle.cellColor"
              @cellClicked="onzl01Clicked"
              @cutomHeaderRow="setzl01nClickModal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="blockstyle">
          <p class="title">{{ BASE_NAME }}趋势图</p>
          <div style="height: 500px">
            <StackedColumnFoldMixedChart
              :legendone="echarzl01.chart"
              :x-axis="echarzl01.xAxis"
              :y-axis="echarzl01.yAxis"
              :series="echarzl01.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 14 }">
        <div class="blockstyle sbstyle">
          <p class="title">
            重要物料抽检一次合格率(单位：%)
            <edit-outlined
              clsss="editOut"
              @click="showV(2022081714245790, zl02.columns, props.yearmonth)"
          /></p>
          <div style="height: 500px">
            <MergeTable
              :widget-id="2022081714245790"
              :has-header="false"
              :column-list="zl02.columns"
              :data-list="zl02.dataSource"
              :scroll="{ y: 440 }"
              :formatter="overtableStyle.formatter"
              :cell-color="overtableStyle.cellColor"
              @cellClicked="onzl02Clicked"
              @cutomHeaderRow="setzl02OnClickModal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="blockstyle">
          <p class="title">{{ BASE_NAME2 }}趋势图</p>
          <div style="height: 500px">
            <StackedColumnFoldMixedChart
              :legendone="echarzl02.chart"
              :x-axis="echarzl02.xAxis"
              :y-axis="echarzl02.yAxis"
              :series="echarzl02.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 14 }">
        <div class="blockstyle sbstyle">
          <p class="title"
            >质量异议30天处理率(单位：%)
            <edit-outlined
              clsss="editOut"
              @click="showV(2022081714245787, zl03.columns, props.yearmonth)"
          /></p>
          <div style="height: 500px">
            <MergeTable
              :widget-id="2022081714245787"
              :has-header="false"
              :column-list="zl03.columns"
              :data-list="zl03.dataSource"
              :scroll="{ y: 440 }"
              :formatter="overtableStyle.formatter"
              :cell-color="overtableStyle.cellColor"
              @cellClicked="onzl03Clicked"
              @cutomHeaderRow="setzl03Modal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="blockstyle">
          <p class="title">{{ PUR_REGION_NAME }}趋势图</p>
          <div style="height: 500px">
            <StackedColumnFoldMixedChart
              :legendone="echarzl03.chart"
              :x-axis="echarzl03.xAxis"
              :y-axis="echarzl03.yAxis"
              :series="echarzl03.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 14 }">
        <div class="blockstyle sbstyle">
          <p class="title"
            >质量异议处理情况
            <edit-outlined
              clsss="editOut"
              @click="showV(2022081920245701, zl04.columns, props.yearmonth)"
          /></p>
          <div class="HeightStyle">
            <MergeTable
              :widget-id="2022081920245701"
              :has-header="false"
              :column-list="zl04.columns"
              :data-list="zl04.dataSource"
              :scroll="{ y: 360 }"
              :formatter="overtableStyle.formatter"
              @cellClicked="onzl04Clicked"
              @cutomHeaderRow="setzl04Modal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="blockstyle">
          <p class="title"
            >{{ PUR_REGION_NAME1 }}超30天未处理异议情况
            <edit-outlined
              clsss="editOut"
              @click="showV(2022082220245708, zl05.columns, props.yearmonth)"
          /></p>
          <div class="HeightStyle">
            <MergeTable
              :widget-id="2022082220245708"
              :has-header="false"
              :data-list="zl05.dataSource"
              :column-list="zl05.columns"
              :scroll="{ y: 390 }"
              :filter="PUR_REGION_NAME"
              @cutomHeaderRow="setzl05Modal"
            />
          </div>
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 24 }">
        <div class="blockstyle">
          <p class="title"
            >涉及采购金额超10万元以上质量异议情况
            <edit-outlined
              clsss="editOut"
              @click="showV(2023022816395782, zl06.columns, props.yearmonth)"
          /></p>
          <MergeTable
            :widget-id="2023022816395782"
            :has-header="false"
            :column-list="zl06.columns"
            :data-list="zl06.dataSource"
            :scroll="{ y: 410 }"
            :formatter="overtableStyle.formatter"
            @cutomHeaderRow="setzl06kModal"
          />
        </div>
      </a-col>
    </a-row>
    <ShowModal ref="showModal" :visible="state.visible" @close="dialogClose" />
  </div>
</template>

<script setup lang="ts">
  import { defineExpose, nextTick, reactive, ref } from 'vue';
  import { StackedColumnFoldMixedChart } from '../../componentfile';
  import overtableStyle from './js/overtableStyle';
  import mergetableStyle from './js/mergetableStyle';
  import echartsStyle from './js/echartsStyle';
  import { MergeTable } from '@/components/business';
  import { queryAggregate, remarkCount, searchAllocate } from '@/api/strategyTracking';
  import datatype from '@/views/strategyTracking/businesstracking/overviewpage/js/dataType';

  const props = defineProps({
    yearmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });

  const zlInitialloading = () => {
    nextTick(() => {
      query1();
      query3();
      query5();
      query7();
      query9();
    });
  };

  defineExpose({
    zlInitialloading,
  });

  const zl01 = reactive({
    dataSource: [],
    columns: [
      { title: '区域', dataIndex: 'BASE_NAME', key: 'BASE_NAME', width: '220px' },
      {
        title: '进度目标',
        dataIndex: 'INDICATOR_PROGRESS_TARGET',
        key: 'INDICATOR_PROGRESS_TARGET',
        formatter: 'rate4',
      },
      {
        title: '上月实绩',
        dataIndex: 'UP_MONTH_PRFM',
        key: 'UP_MONTH_PRFM',
        formatter: 'rate4',
      },
      {
        title: '本月实绩',
        dataIndex: 'CURMONTH_PRFM',
        key: 'CURMONTH_PRFM',
        formatter: 'rate4',
        mergeColumn: 'INDICATOR_PROGRESS_TARGET,CURMONTH_PRFM',
        emphasisColor: 'colorzl07month',
        after: 'CURMONTH_PRFM',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      {
        title: '年度累计',
        dataIndex: 'CURYEAR_PRFM',
        key: 'CURYEAR_PRFM',
        formatter: 'rate4',
        mergeColumn: 'INDICATOR_PROGRESS_TARGET,CURYEAR_PRFM',
        emphasisColor: 'colorzl07year',
        after: 'CURYEAR_PRFM',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const onzl01Clicked = (record) => {
    BASE_NAME.value = record.BASE_NAME;
    query2();
  };
  const setzl02OnClickModal = (callback) => {
    callback('重要物料抽检计划完成率(单位：%)');
  };
  const query1 = async () => {
    await search(2023030916395782, props.yearmonth, zl01.columnKeyList, zl01.keyColumnNameList);
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2023030916395782)).then((result) => {
      const dataMap = result.data[2023030916395782].dataMap;
      zl01.dataSource = mergetableStyle.toTableData(
        result.data,
        '2023030916395782',
        zl01.keyColumnNameList,
        zl01.columnKeyList,
      );
      BASE_NAME.value = dataMap.BASE_NAME[0];
      query2();
    });
  };
  const BASE_NAME = ref();

  const echarzl01 = reactive({
    chart: ['目标', '实绩'],
    xAxis: [],
    yAxis: [{ min: 80, max: 100 }],
    series: [],
  });
  const query2 = () => {
    queryAggregate(
      datatype.parameter3('YM', props.yearmonth, 2023030916395785, 'BASE_NAME', BASE_NAME.value),
    ).then((result) => {
      const dataMap = result.data['2023030916395785'].dataMap;
      echarzl01.xAxis = dataMap.YM;
      echarzl01.series = echartsStyle.echarts05(
        dataMap.INDICATOR_PROGRESS_TARGET,
        dataMap.CURMONTH_PRFM,
      );
    });
  };

  const zl02 = reactive({
    dataSource: [],
    columns: [
      { title: '单位', dataIndex: 'BASE_NAME', key: 'BASE_NAME', width: '180px' },
      {
        title: '目标',
        dataIndex: 'INDICATOR_MONTHLY_TARGET',
        key: 'INDICATOR_MONTHLY_TARGET',
        formatter: 'rate4',
      },
      {
        title: '上月实绩',
        dataIndex: 'UP_MONTH_FIRST_CHK_QUALIFIED_RATE',
        key: 'UP_MONTH_FIRST_CHK_QUALIFIED_RATE',
        formatter: 'rate4',
      },
      {
        title: '本月实绩',
        dataIndex: 'CURMONTH_FIRST_CHK_QUALIFIED_RATE',
        key: 'CURMONTH_FIRST_CHK_QUALIFIED_RATE',
        formatter: 'rate4',
        mergeColumn: 'INDICATOR_MONTHLY_TARGET,CURMONTH_FIRST_CHK_QUALIFIED_RATE',
        emphasisColor: 'colorzl02month',
        after: 'CURMONTH_FIRST_CHK_QUALIFIED_RATE',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      {
        title: '本年累计',
        dataIndex: 'CURYEAR_FIRST_CHK_QUALIFIED_RATE',
        key: 'CURYEAR_FIRST_CHK_QUALIFIED_RATE',
        formatter: 'rate4',
        mergeColumn: 'INDICATOR_MONTHLY_TARGET,CURYEAR_FIRST_CHK_QUALIFIED_RATE',
        emphasisColor: 'colorzl02year',
        after: 'CURYEAR_FIRST_CHK_QUALIFIED_RATE',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const onzl02Clicked = (record) => {
    BASE_NAME2.value = record.BASE_NAME;
    query4();
  };
  const setzl01nClickModal = (callback) => {
    callback('重要物料抽检一次合格率(单位：%)');
  };
  const query3 = async () => {
    await search(2022081714245790, props.yearmonth, zl02.columnKeyList, zl02.keyColumnNameList);
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2022081714245790)).then((result) => {
      const dataMap = result.data[2022081714245790].dataMap;
      zl02.dataSource = mergetableStyle.toTableData(
        result.data,
        '2022081714245790',
        zl02.keyColumnNameList,
        zl02.columnKeyList,
      );
      BASE_NAME2.value = dataMap.BASE_NAME[0];
      query4();
    });
  };
  const BASE_NAME2 = ref();

  const echarzl02 = reactive({
    chart: ['目标', '实绩'],
    xAxis: [],
    yAxis: [{ min: 80, max: 100 }],
    series: [],
  });
  const query4 = () => {
    queryAggregate(
      datatype.parameter3('YM', props.yearmonth, 2023030916395783, 'BASE_NAME', BASE_NAME2.value),
    ).then((result) => {
      const dataMap = result.data['2023030916395783'].dataMap;
      echarzl02.xAxis = dataMap.YM;
      echarzl02.series = echartsStyle.echarts05(
        dataMap.INDICATOR_MONTHLY_TARGET,
        dataMap.CURMONTH_FIRST_CHK_QUALIFIED_RATE,
      );
    });
  };

  const zl03 = reactive({
    dataSource: [],
    columns: [
      { title: '单位', dataIndex: 'PUR_REGION_NAME', key: 'PUR_REGION_NAME', width: '160px' },
      {
        title: '目标',
        dataIndex: 'PROGRESS_TARGET',
        key: 'PROGRESS_TARGET',
        formatter: 'rate4',
      },
      { title: '上月实绩', dataIndex: 'NUM1', key: 'NUM1', formatter: 'rate4' },
      {
        title: '本月实绩',
        dataIndex: 'NUM2',
        key: 'NUM2',
        formatter: 'rate4',
        mergeColumn: 'PROGRESS_TARGET,NUM2',
        emphasisColor: 'colorzl03month',
        after: 'NUM2',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      {
        title: '本年累计',
        dataIndex: 'NUM13',
        key: 'NUM13',
        formatter: 'rate4',
        mergeColumn: 'PROGRESS_TARGET,NUM13',
        emphasisColor: 'colorzl03year',
        after: 'NUM13',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const onzl03Clicked = (record) => {
    PUR_REGION_NAME.value = record.PUR_REGION_NAME;
    query6();
  };
  const setzl03Modal = (callback) => {
    callback('质量异议30天处理率(单位：%)');
  };
  const query5 = async () => {
    await search(2022081714245787, props.yearmonth, zl03.columnKeyList, zl03.keyColumnNameList);
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2022081714245787)).then((result) => {
      const dataMap = result.data[2022081714245787].dataMap;
      zl03.dataSource = mergetableStyle.toTableData(
        result.data,
        '2022081714245787',
        zl03.keyColumnNameList,
        zl03.columnKeyList,
      );
      PUR_REGION_NAME.value = dataMap.PUR_REGION_NAME[0];
      query6();
    });
  };
  const PUR_REGION_NAME = ref();

  const echarzl03 = reactive({
    chart: ['目标', '实绩'],
    xAxis: [],
    yAxis: [{ min: 90, max: 100 }],
    series: [],
  });
  const query6 = () => {
    queryAggregate(
      datatype.parameter3(
        'YM',
        props.yearmonth,
        2023031016395782,
        'PUR_REGION_NAME',
        PUR_REGION_NAME.value,
      ),
    ).then((result) => {
      const dataMap = result.data['2023031016395782'].dataMap;
      echarzl03.xAxis = dataMap.YM;
      echarzl03.series = echartsStyle.echarts05(
        dataMap.PROGRESS_TARGET,
        dataMap.CURMONTH_DISSENT_PROC_CPLTRATE,
      );
    });
  };

  const zl04 = reactive({
    dataSource: [],
    columns: [
      { title: '区域', dataIndex: 'PUR_REGION_NAME', key: 'PUR_REGION_NAME' },
      {
        title: '本月发生数(个)',
        dataIndex: 'CURMONTH_DISSENT_TOTAL',
        key: 'CURMONTH_DISSENT_TOTAL',
        formatter: 'rate5',
      },
      {
        title: '本月已处理数(个)',
        dataIndex: 'CURMONTH_DISSENT_NUM',
        key: 'CURMONTH_DISSENT_NUM',
        formatter: 'rate5',
      },
      {
        title: '累计发生数(个)',
        dataIndex: 'TOTAL_DISSENT_NUM',
        key: 'TOTAL_DISSENT_NUM',
        formatter: 'rate5',
      },
      {
        title: '涉及金额(万元)',
        dataIndex: 'QLTY_DISSENT_AMT',
        key: 'QLTY_DISSENT_AMT',
        formatter: 'rate5',
      },
      {
        title: '上月异议30天完成率(%)',
        dataIndex: 'UP_MONTH_DISSENT_PROC_RATE',
        key: 'UP_MONTH_DISSENT_PROC_RATE',
        formatter: 'rate4',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const onzl04Clicked = (record) => {
    PUR_REGION_NAME1.value = record.PUR_REGION_NAME;
    query8();
  };
  const setzl04Modal = (callback) => {
    callback('质量异议处理情况');
  };
  const query7 = async () => {
    await search(2022081920245701, props.yearmonth, zl04.columnKeyList, zl04.keyColumnNameList);
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2022081920245701)).then((result) => {
      const dataMap = result.data[2022081920245701].dataMap;
      zl04.dataSource = mergetableStyle.toTableData(
        result.data,
        '2022081920245701',
        zl04.keyColumnNameList,
        zl04.columnKeyList,
      );
      PUR_REGION_NAME1.value = dataMap.PUR_REGION_NAME[0];
      query8();
    });
  };
  const PUR_REGION_NAME1 = ref();

  const zl05 = reactive({
    dataSource: [],
    columns: [
      { title: '质量异议单号', dataIndex: 'QLTY_DISSENT_LIST_NO', key: 'QLTY_DISSENT_LIST_NO' },
      { title: '审批日期', dataIndex: 'APPROVE_DATE', key: 'APPROVE_DATE' },
      {
        title: '处理方案审批日期',
        dataIndex: 'PROC_SCHEME_APPROVE_DATE',
        key: 'PROC_SCHEME_APPROVE_DATE',
      },
      { title: '处理天数', dataIndex: 'days', key: 'days' },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const setzl05Modal = (callback) => {
    callback(`${PUR_REGION_NAME1.value}超30天未处理异议情况`);
  };
  const query8 = async () => {
    await search(2022082220245708, props.yearmonth, zl05.columnKeyList, zl05.keyColumnNameList);
    queryAggregate(
      datatype.parameter2(
        'YM',
        props.yearmonth,
        2022082220245708,
        'BIG_ZONE_NAME',
        PUR_REGION_NAME1.value,
      ),
    ).then((result) => {
      const dataMap = result.data[2022082220245708].dataMap;
      zl05.dataSource = mergetableStyle.toTableData(
        result.data,
        '2022082220245708',
        zl05.keyColumnNameList,
        zl05.columnKeyList,
      );
      PUR_REGION_NAME1.value = dataMap.PUR_REGION_NAME[0];
      query8();
    });
  };

  const zl06 = reactive({
    dataSource: [],
    columns: [
      {
        title: '序号',
        customRender: ({ index }) => {
          return `${index + 1}`;
        },
        width: '7%',
      },
      { title: '用户单位', dataIndex: 'AREA_NAME', key: 'AREA_NAME' },
      { title: '物料名称', dataIndex: 'MAT_NAME', key: 'MAT_NAME', width: 500 },
      {
        title: '异议数量',
        dataIndex: 'QLTY_DISSENT_QTY',
        key: 'QLTY_DISSENT_QTY',
        formatter: 'rate5',
      },
      {
        title: '异议涉及采购金额(万元)',
        dataIndex: 'QLTY_DISSENT_AMT',
        key: 'QLTY_DISSENT_AMT',
        formatter: 'rate5',
        width: 400,
      },
      {
        title: '异议处理情况',
        dataIndex: 'DISSENT_PROC_CASE',
        key: 'DISSENT_PROC_CASE',
        width: 400,
      },
      { title: '责任部门', dataIndex: 'BIG_ZONE_NAME', key: 'BIG_ZONE_NAME' },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const setzl06kModal = (callback) => {
    callback('涉及采购金额超10万元以上质量异议情况');
  };
  const query9 = async () => {
    await search(2023022816395782, props.yearmonth, zl06.columnKeyList, zl06.keyColumnNameList);
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2023022816395782)).then((result) => {
      zl06.dataSource = mergetableStyle.toTableData(
        result.data,
        '2023022816395782',
        zl06.keyColumnNameList,
        zl06.columnKeyList,
      );
    });
  };

  const showModal = ref(null);
  const state = reactive({
    visible: false,
  });
  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal.value.changeInfo(widgetId, columns, res.data, areaName);
  };
  const dialogClose = () => {
    state.visible = false;
  };

  const search = async (widgetId, name, ColumnList, KeyList) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      ColumnList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    KeyList = res2.data;
  };
</script>

<style lang="less" scoped>
  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }

  .blockstyle {
    margin: 5px 0;
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .HeightStyle {
    height: 450px;
  }
</style>
