<template>
  <div>
    <a-row :gutter="[16, 10]">
      <a-col :md="14">
        <div class="blockstyle">
          <p class="title"
            >采购计划完成率<edit-outlined
              clsss="editOut"
              @click="showV(2022091420245701, setxl01.columns, '')"
          /></p>
          <div class="HeightStyle">
            <MergeTable
              :widget-id="2022091420245701"
              :has-header="false"
              :data-list="setxl01.dataSource"
              :column-groups="setxl01.columnGroups"
              :column-list="setxl01.columns"
              :formatter="tableStyle.formatter"
              :cell-color="tableStyle.cellColor"
              :scroll="{ y: 350 }"
              @cellClicked="setxl01Clicked"
              @cutomHeaderRow="setxl01OnClickModal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="10">
        <div class="blockstyle">
          <p class="title">{{ PSCS_AREA_NAME }}采购计划完成率（单位：%）</p>
          <div class="HeightStyle">
            <StackedLineChart
              :legendone="setxl02.chart"
              :x-axis="setxl02.xAxis"
              :y-axis="setxl02.yAxis"
              :series="setxl02.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="14">
        <div class="blockstyle sbstyle">
          <p class="title"
            >工程设备交付准点率<edit-outlined
              clsss="editOut"
              @click="showV(2022030716395782, setxl05.columns, '')"
          /></p>
          <div class="HeightStyle">
            <MergeTable
              :widget-id="2022030716395782"
              :has-header="false"
              :data-list="setxl05.dataSource"
              :column-list="setxl05.columns"
              :column-groups="setxl05.columnGroups"
              :formatter="tableStyle.formatter"
              :cell-color="tableStyle.cellColor"
              :scroll="{ y: 350 }"
              @cellClicked="ongcsbjfzdlClicked"
              @cutomHeaderRow="setxl05OnClickModal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="10">
        <div class="blockstyle">
          <p class="title">{{ BIG_ZONE_NAME }}交付准点率（单位：%）</p>
          <div class="HeightStyle">
            <StackedLineChart
              :legendone="gcsbjfzdl.chart"
              :x-axis="gcsbjfzdl.xAxis"
              :y-axis="gcsbjfzdl.yAxis"
              :series="gcsbjfzdl.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="12">
        <div class="blockstyle">
          <p class="title">近一年A单情况</p>
          <div class="HeightStyle">
            <StackedColumnFoldMixedChart
              :legendone="setxl03.chart"
              :x-axis="setxl03.xAxis"
              :y-axis="setxl03.yAxis"
              :series="setxl03.series"
              @chartClick="setxl03onclick"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="12">
        <div class="blockstyle">
          <p class="title"
            >A单情况<edit-outlined
              clsss="editOut"
              @click="showV(2022082220245707, setxl04.columns, '')"
          /></p>
          <div class="HeightStyle">
            <MergeTable
              :widget-id="2022082220245707"
              :has-header="false"
              :data-list="setxl04.dataSource"
              :column-list="setxl04.columns"
              :column-groups="setxl04.columnGroups"
              :formatter="tableStyle.formatter"
              :scroll="{ y: 330 }"
              @cutomHeaderRow="setxl04OnClickModal"
            />
          </div>
        </div>
      </a-col>
    </a-row>
    <ShowModal ref="showModal" :visible="state.visible" @close="dialogClose"></ShowModal>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, reactive, ref, watch, defineExpose } from 'vue';
  import { StackedColumnFoldMixedChart, StackedLineChart } from '../../componentfile';
  import mergetableStyle from './js/mergetableStyle';
  import echartsStyle from './js/echartsStyle';
  import { MergeTable } from '@/components/business';
  import { getWidget, queryAggregate, searchAllocate, remarkCount } from '@/api/strategyTracking';
  import tableStyle from '@/views/strategyTracking/modulefile/components/tableStyle';
  // import Transformer from '@/views/strategyTracking/modulefile/components/transformer';
  import TransCharts from '@/views/strategyTracking/modulefile/components/transCharts';
  import ShowModal from '@/views/strategyTracking/modulefile/components/ShowModal.vue';
  import datatype from '@/views/strategyTracking/businesstracking/overviewpage/js/dataType';

  defineOptions({
    name: 'OverviewXL',
    inheritAttrs: false,
  });
  const showModal = ref(null);
  const state = reactive({
    visible: false,
    yearMonth: '',
  });
  const props = defineProps({
    overmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.overmonth,
    (c) => {
      xlSerch();
      state.yearMonth = c;
    },
  );

  const setxl01OnClickModal = (callback) => {
    callback('采购计划完成率');
  };
  const setxl05OnClickModal = (callback) => {
    callback('工程设备交付准点率');
  };
  const setxl04OnClickModal = (callback) => {
    callback('近一年A单超期未核销情况');
  };

  // 采购计划完成率
  const setxl01 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '本月',
        children: [
          'CURMONTH_PLAN_LINE_TOTAL',
          'CURMONTH_ALREADY_FINISH_PLAN_LINE_NUM',
          'CURMONTH_PLAN_LINE_CPLTRATE',
        ],
      },
      {
        title: '累计',
        children: [
          'CURYEAR_PLAN_LINE_TOTAL',
          'CURYEAR_ALREADY_FINISH_PLAN_LINE_NUM',
          'CURYEAR_PLAN_LINE_CPLTRATE',
        ],
      },
    ],
    columns: [
      { title: '基地', dataIndex: 'PSCS_AREA_NAME', key: 'PSCS_AREA_NAME', ellipsis: false },
      {
        title: '目标',
        dataIndex: 'INDICATOR_ANNUAL_TARGET',
        key: 'INDICATOR_ANNUAL_TARGET',
        formatter: 'rate3',
      },
      {
        title: '应完成数',
        dataIndex: 'CURMONTH_PLAN_LINE_TOTAL',
        key: 'CURMONTH_PLAN_LINE_TOTAL',
        formatter: 'rate5',
      },
      {
        title: '已完成数',
        dataIndex: 'CURMONTH_ALREADY_FINISH_PLAN_LINE_NUM',
        key: 'CURMONTH_ALREADY_FINISH_PLAN_LINE_NUM',
        formatter: 'rate5',
      },
      {
        title: '完成率',
        dataIndex: 'CURMONTH_PLAN_LINE_CPLTRATE',
        key: 'CURMONTH_PLAN_LINE_CPLTRATE',
        formatter: 'rate3',
      },
      {
        title: '应完成数',
        dataIndex: 'CURYEAR_PLAN_LINE_TOTAL',
        key: 'CURYEAR_PLAN_LINE_TOTAL',
        formatter: 'rate5',
      },
      {
        title: '已完成数',
        dataIndex: 'CURYEAR_ALREADY_FINISH_PLAN_LINE_NUM',
        key: 'CURYEAR_ALREADY_FINISH_PLAN_LINE_NUM',
        formatter: 'rate5',
      },
      {
        title: '完成率',
        dataIndex: 'CURYEAR_PLAN_LINE_CPLTRATE',
        key: 'CURYEAR_PLAN_LINE_CPLTRATE',
        formatter: 'rate3',
        mergeColumn: 'INDICATOR_ANNUAL_TARGET,CURYEAR_PLAN_LINE_CPLTRATE',
        emphasisColor: 'colorfourxl01',
        after: 'CURYEAR_PLAN_LINE_CPLTRATE',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search1 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setxl01.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setxl01.columnKeyList = res2.data;
  };
  const setxl01dataSource = async () => {
    await search1(2022091420245701, props.overmonth);
    queryAggregate(datatype.parameter('YM', props.overmonth, 2022091420245701)).then((result) => {
      setxl01.dataSource = mergetableStyle.toTableData(
        result.data,
        '2022091420245701',
        setxl01.keyColumnNameList,
        setxl01.columnKeyList,
      );
    });
  };

  const PSCS_AREA_NAME = ref('合计');
  const setxl01Clicked = (record) => {
    PSCS_AREA_NAME.value = record.PSCS_AREA_NAME;
    getOverviewXLModule02();
  };
  // 本月各中心各大区采购计划数量
  let setxl02 = reactive({
    chart: [],
    xAxis: [],
    yAxis: [{ min: 70, max: 100 }],
    series: [
      {
        type: 'line',
        data: [],
        smooth: false,
        tooltip: {
          valueFormatter(value) {
            return XiaoShuText(value);
          },
        },
        itemStyle: {
          normal: {
            label: {
              show: true,
              position: 'top',
              textStyle: { color: 'black' },
              formatter(p) {
                return XiaoShuText(p.value);
              },
            },
          },
        },
      },
    ],
  });
  const parseFunc02 = reactive({
    c01: 'YM',
    c02: 'CURMONTH_PLAN_LINE_CPLTRATE',
  });
  const getOverviewXLModule02 = () => {
    queryAggregate(
      datatype.parameter3(
        'YM',
        props.overmonth,
        2022082220245703,
        'PSCS_AREA_NAME',
        PSCS_AREA_NAME.value,
      ),
    ).then((result) => {
      setxl02.series[0].data = [];
      setxl02.xAxis = [];
      setxl02 = TransCharts.echartChartsData(result.data, 2022082220245703, parseFunc02, setxl02);
    });
  };

  // 本月各中心各大区A单核销数量
  const setxl03 = reactive({
    chart: ['未超期', '超期'],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const BIG_ZONE_NAME1 = ref('资材品类中心');
  const setxl03onclick = (params) => {
    BIG_ZONE_NAME1.value = params.name;
    setxl04dataSource();
  };
  const getOverviewXLModule03 = () => {
    echartsStyle;
    queryAggregate(datatype.parameter1('YM', props.overmonth, 2022082220245704)).then((result) => {
      const dataMap = result.data['2022082220245704'].dataMap;
      setxl03.xAxis = dataMap.ARRIVAL_REGION_NAME;
      setxl03.series = echartsStyle.echarts10(
        dataMap.CURMONTH_URGENT_PLAN_LINE_EXPIRE_NOT_CANCEL_NUM,
        dataMap.CURMONTH_URGENT_PLAN_LINE_NOT_CANCEL_NUM,
      );
    });
  };

  // 本年A单超90天未核销情况
  const setxl04 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: 'A单行',
        children: ['YM', 'URGENT_PLAN_LINE_CANCEL_DAYS', 'URGENT_PLAN_TYPE_NAME'],
      },
    ],
    columns: [
      {
        title: '未核销单号',
        dataIndex: 'URGENT_PLAN_ROWNO',
        key: 'URGENT_PLAN_ROWNO',
        ellipsis: false,
      },
      {
        title: '收货日期',
        dataIndex: 'YM',
        key: 'YM',
      },
      {
        title: '核销天数',
        dataIndex: 'URGENT_PLAN_LINE_CANCEL_DAYS',
        key: 'URGENT_PLAN_LINE_CANCEL_DAYS',
      },
      { title: '类型', dataIndex: 'URGENT_PLAN_TYPE_NAME', key: 'URGENT_PLAN_TYPE_NAME' },
      { title: '中心/大区', dataIndex: 'BIG_ZONE_NAME', key: 'BIG_ZONE_NAME' },
      { title: '物料名称', dataIndex: 'MAT_NAME', key: 'MAT_NAME' },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search4 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setxl04.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setxl04.columnKeyList = res2.data;
  };
  const setxl04dataSource = async () => {
    await search4(2022082220245707, props.overmonth);

    queryAggregate(
      datatype.parameter3(
        'YM',
        props.overmonth,
        2022082220245707,
        'BIG_ZONE_NAME',
        BIG_ZONE_NAME1.value,
      ),
    ).then((result) => {
      setxl04.dataSource = mergetableStyle.toTableData(
        result.data,
        '2022082220245707',
        setxl04.keyColumnNameList,
        setxl04.columnKeyList,
      );
    });
  };

  const BIG_ZONE_NAME = ref('合计');
  const ongcsbjfzdlClicked = (record) => {
    BIG_ZONE_NAME.value = record.BIG_ZONE_NAME;
    getOverviewXLModule06();
  };
  // 工程设备交付准点率

  const XiaoShuText = (text) => {
    if (text === '-') {
      return text;
    } else {
      // 完成率保留一位小数位
      return parseFloat(text).toFixed(1);
    }
  };
  const gcsbjfzdl = reactive({
    chart: [BIG_ZONE_NAME.value],
    xAxis: [],
    yAxis: [{ min: 60, max: 100 }],
    series: [
      {
        type: 'line',
        data: [],
        smooth: false,
        tooltip: {
          valueFormatter(value) {
            return XiaoShuText(value);
          },
        },
        itemStyle: {
          normal: {
            label: {
              show: true,
              position: 'top',
              textStyle: { color: 'black' },
              formatter(p) {
                return XiaoShuText(p.value);
              },
            },
          },
        },
      },
    ],
  });
  const getOverviewXLModule06 = () => {
    queryAggregate(
      datatype.parameter3(
        'YM',
        props.overmonth,
        2022072819335782,
        'BIG_ZONE_NAME',
        BIG_ZONE_NAME.value,
      ),
    ).then((result) => {
      gcsbjfzdl.series[0].data = [];
      gcsbjfzdl.xAxis = [];
      const dataMap = result.data['2022072819335782'].dataMap;
      gcsbjfzdl.xAxis = dataMap.YM;
      gcsbjfzdl.series[0].data = dataMap.MONTH_CPLTRATE;
    });
  };

  const setxl05 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '本月',
        children: ['NEED_FINISH_NUM', 'TOTAL_FINISH_NUM', 'MONTH_CPLTRATE'],
      },
      {
        title: '本年累计',
        children: ['YEAR_NEED_FINISH_NUM', 'YEAR_TOTAL_FINISH_NUM', 'YEAR_TOTAL_CPLTRATE'],
      },
    ],
    columns: [
      { title: '区域', dataIndex: 'BIG_ZONE_NAME', key: 'BIG_ZONE_NAME', ellipsis: false },
      { title: '目标', dataIndex: 'TARGET', key: 'TARGET', formatter: 'rate3' },
      {
        title: '应交总项数',
        dataIndex: 'NEED_FINISH_NUM',
        key: 'NEED_FINISH_NUM',
        formatter: 'rate5',
      },
      {
        title: '准点项数',
        dataIndex: 'TOTAL_FINISH_NUM',
        key: 'TOTAL_FINISH_NUM',
        formatter: 'rate5',
      },
      {
        title: '准点交付率',
        dataIndex: 'MONTH_CPLTRATE',
        key: 'MONTH_CPLTRATE',
        formatter: 'rate3',
      },
      {
        title: '应交总项数',
        dataIndex: 'YEAR_NEED_FINISH_NUM',
        key: 'YEAR_NEED_FINISH_NUM',
        formatter: 'rate5',
      },
      {
        title: '准点项数',
        dataIndex: 'YEAR_TOTAL_FINISH_NUM',
        key: 'YEAR_TOTAL_FINISH_NUM',
        formatter: 'rate5',
      },
      {
        title: '准点交付率',
        dataIndex: 'YEAR_TOTAL_CPLTRATE',
        key: 'YEAR_TOTAL_CPLTRATE',
        formatter: 'rate3',
        mergeColumn: 'TARGET,YEAR_TOTAL_CPLTRATE',
        emphasisColor: 'colorfourxl02',
        after: 'YEAR_TOTAL_CPLTRATE',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search5 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setxl05.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setxl05.columnKeyList = res2.data;
  };
  const setxl05dataSource = async () => {
    await search5(2022030716395782, props.overmonth);
    queryAggregate(datatype.parameter('YM', props.overmonth, 2022030716395782)).then((result) => {
      setxl05.dataSource = mergetableStyle.toTableData(
        result.data,
        '2022030716395782',
        setxl05.keyColumnNameList,
        setxl05.columnKeyList,
      );
    });
  };
  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal.value.changeInfo(widgetId, columns, res.data, areaName);
  };
  const dialogClose = () => {
    state.visible = false;
  };

  const xlSerch = () => {
    setxl04dataSource();
    // 本月各中心各大区采购计划数量
    getOverviewXLModule02();
    // 本月各中心各大区A单核销数量
    getOverviewXLModule03();
    // 工程设备交付准点率
    getOverviewXLModule06();
    setxl05dataSource();
    setxl01dataSource();
  };
  defineExpose({
    xlSerch,
  });
  // onMounted(() => {
  //   xlSerch();
  // });
</script>

<style lang="less" scoped>
  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }

  .blockstyle {
    margin: 5px 0;
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .HeightStyle {
    height: 450px;
  }

  .sbstyle {
    cursor: pointer;
  }
</style>
