<template>
  <div>
    <a-row :gutter="[16, 10]">
      <a-col :md="12">
        <div class="blockstyle sbstyle">
          <p class="title">
            供应商碳核算产品数(单位：个)<edit-outlined
              clsss="editOut"
              @click="showV(2023041116395782, setst01.columns, '')"
          /></p>
          <div style="height: 500px">
            <MergeTable
              :widget-id="2023041116395782"
              :has-header="false"
              :column-list="setst01.columns"
              :data-list="setst01.dataSource"
              :scroll="{ y: 430 }"
              :formatter="tableStyle.formatter"
              :cell-color="tableStyle.cellColor"
              @cellClicked="onsetst01Clicked"
              @cutomHeaderRow="setst01OnClickModal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="12">
        <div class="blockstyle">
          <p class="title">{{ PUR_REGION_NAME }}趋势图</p>
          <div style="height: 500px">
            <StackedColumnFoldMixedChart
              :legendone="st01.chart"
              :x-axis="st01.xAxis"
              :y-axis="st01.yAxis"
              :series="st01.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>
    <ShowModal ref="showModal" :visible="state.visible" @close="dialogClose"></ShowModal>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, reactive, ref, watch } from 'vue';
  import { StackedColumnFoldMixedChart } from '../../componentfile';
  import mergetableStyle from './js/mergetableStyle';
  import { getWidget, queryAggregate, searchAllocate, remarkCount } from '@/api/strategyTracking';
  import { MergeTable } from '@/components/business';
  import tableStyle from '@/views/strategyTracking/modulefile/components/tableStyle';
  // import Transformer from '@/views/strategyTracking/modulefile/components/transformer';
  import TransCharts from '@/views/strategyTracking/modulefile/components/transCharts';
  import ShowModal from '@/views/strategyTracking/modulefile/components/ShowModal.vue';
  import datatype from '@/views/strategyTracking/businesstracking/overviewpage/js/dataType';

  defineOptions({
    name: 'OverviewBicarbons',
    inheritAttrs: false,
  });
  const props = defineProps({
    overmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.overmonth,
    (c) => {
      bicarSearch();
      state.yearMonth = c;
    },
  );
  const showModal = ref(null);
  const state = reactive({
    visible: false,
    yearMonth: '',
  });
  const setst01 = reactive({
    dataSource: [],
    columns: [
      { title: '单位', dataIndex: 'PUR_REGION_NAME', key: 'PUR_REGION_NAME', ellipsis: false },
      {
        title: '年度目标',
        dataIndex: 'INDICATOR_ANNUAL_TARGET',
        key: 'INDICATOR_ANNUAL_TARGET',
        formatter: 'rate5',
      },
      {
        title: '上月实绩',
        dataIndex: 'UP_MONTH_INDICATOR_PRFM',
        key: 'UP_MONTH_INDICATOR_PRFM',
        formatter: 'rate5',
      },
      {
        title: '本月实绩',
        dataIndex: 'MONTH_INDICATOR_PRFM',
        key: 'MONTH_INDICATOR_PRFM',
        formatter: 'rate5',
      },
      {
        title: '本年累计',
        dataIndex: 'YEAR_TOTAL_INDICATOR_PRFM',
        key: 'YEAR_TOTAL_INDICATOR_PRFM',
        formatter: 'rate5',
        mergeColumn: 'INDICATOR_PROGRESS_TARGET,YEAR_TOTAL_INDICATOR_PRFM',
        emphasisColor: 'colorfourst01',
        after: 'YEAR_TOTAL_INDICATOR_PRFM',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      {
        title: '完成率',
        dataIndex: 'FINISH_RATE',
        key: 'FINISH_RATE',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search1 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setst01.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setst01.columnKeyList = res2.data;
  };
  const setst01OnClickModal = (callback) => {
    callback('供应商碳核算产品数(单位：个)');
  };
  const setst01dataSource = async () => {
    await search1(2023041116395782, props.overmonth);

    queryAggregate(datatype.parameter('PUR_YM', props.overmonth, 2023041116395782)).then(
      (result) => {
        setst01.dataSource = mergetableStyle.toTableData(
          result.data,
          '2023041116395782',
          setst01.keyColumnNameList,
          setst01.columnKeyList,
        );
      },
    );
  };
  const PUR_REGION_NAME = ref('合计');
  const onsetst01Clicked = (record) => {
    PUR_REGION_NAME.value = record.PUR_REGION_NAME;
    getst01();
  };

  function Zhengshu(text) {
    if (text === '-') {
      return text;
    } else {
      return parseFloat(text).toFixed(0);
    }
  }

  let st01 = reactive({
    chart: ['目标', '实绩'],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [
      {
        name: '目标',
        type: 'line',
        smooth: false,
        data: [],
        itemStyle: { color: '#ffd44a' },
        tooltip: {
          valueFormatter(value) {
            return Zhengshu(value);
          },
        },
      },
      {
        name: '实绩',
        type: 'bar',
        data: [],
        tooltip: {
          valueFormatter(value) {
            return Zhengshu(value);
          },
        },
        itemStyle: { color: '#59c4e6' },
        label: {
          show: true,
          position: 'top',
          formatter(p) {
            return Zhengshu(p.value);
          },
        },
        barGap: 0,
      },
    ],
  });
  const parseFunc01 = reactive({
    c01: 'PUR_YM',
    c02: 'INDICATOR_PROGRESS_TARGET',
    c03: 'MONTH_INDICATOR_PRFM',
  });
  const getst01 = () => {
    queryAggregate(
      datatype.parameter3(
        'PUR_YM',
        props.overmonth,
        2023041116395783,
        'PUR_REGION_NAME',
        PUR_REGION_NAME.value,
      ),
    ).then((result) => {
      st01.series[0].data = [];
      st01.series[1].data = [];
      st01.xAxis = [];
      st01 = TransCharts.echartChartsData(result.data, 2023041116395783, parseFunc01, st01);
      st01.series[0].data = TransCharts.toCharts12DataSeries(st01.series[0].data);
      st01.series[1].data = TransCharts.toCharts12DataSeries(st01.series[1].data);
      st01.xAxis = TransCharts.toCharts12DataxAxis();
    });
  };
  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal.value.changeInfo(widgetId, columns, res.data, areaName);
  };
  const dialogClose = () => {
    state.visible = false;
  };
  const bicarSearch = () => {
    setst01dataSource();
    getst01();
  };
  defineExpose({
    bicarSearch,
  });
  // onMounted(() => {
  //   bicarSearch();
  // });
</script>

<style lang="less" scoped>
  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }

  .blockstyle {
    margin: 5px 0;
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .HeightStyle {
    height: 450px;
  }
</style>
