<template>
  <div style="width: 100%">
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 24 }">
        <div class="blockstyle sbstyle">
          <p class="title titlejzclass"
            >总体库存情况表（单位：万元）<edit-outlined
              clsss="editOut"
              @click="showV(2023022016395783, kc01.columns, props.yearmonth)"
          /></p>
          <MergeTable
            :widget-id="2023022016395783"
            :has-header="false"
            :data-list="kc01.dataSource"
            :column-list="kc01.columns"
            :column-groups="kc01.columnGroups"
            :formatter="overtableStyle.formatter"
            :cell-color="overtableStyle.cellColor"
            :scroll="{ y: 450 }"
            @cellClicked="onkc01Clicked"
            @rowClassName="kc01RowClassName"
            @cutomHeaderRow="kc01ClickModal"
          />
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 12 }">
        <div class="blockstyle">
          <p class="title titlejzclass">集团资材备件季度库存指标完成情况（单位：万元）</p>
          <div class="height1">
            <StackedVerticalChart
              :legendone="echar1.Chart"
              :y-axis="echar1.yAxis"
              :series="echar1.series"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 12 }">
        <div class="blockstyle">
          <p class="title titlejzclass">{{ AREA_NAME }}库存变化（单位：万元）</p>
          <div class="height1">
            <StackedLineChart
              :legendone="echar2.Chart"
              :x-axis="echar2.xAxis"
              :y-axis="echar2.yAxis"
              :series="echar2.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 14 }">
        <div class="blockstyle">
          <p class="title titlejzclass"
            >OG账套月末库存情况（单位：万元）<edit-outlined
              clsss="editOut"
              @click="showV(2022072521595462, kc02.columns, props.yearmonth)"
          /></p>
          <div class="height1">
            <MergeTable
              :widget-id="2022072521595462"
              :has-header="false"
              :data-list="kc02.dataSource"
              :column-list="kc02.columns"
              :column-groups="kc02.columnGroups"
              :formatter="overtableStyle.formatter"
              :scroll="{ y: 340 }"
              @cutomHeaderRow="kc02ClickModal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="blockstyle">
          <p class="title titlejzclass">欧冶工业品合计库存变化趋势 (单位:万元)</p>
          <div class="height1">
            <StackedLineChart
              :legendone="echar3.Chart"
              :x-axis="echar3.xAxis"
              :y-axis="echar3.yAxis"
              :series="echar3.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 14 }">
        <div class="blockstyle sbstyle">
          <p class="title titlejzclass"
            >OG账套库龄结构（单位：万元）<edit-outlined
              clsss="editOut"
              @click="showV(2022072521595462, kc03.columns, props.yearmonth)"
          /></p>
          <div class="height1">
            <MergeTable
              :widget-id="2022072521595462"
              :has-header="false"
              :data-list="kc03.dataSource"
              :column-list="kc03.columns"
              :formatter="overtableStyle.formatter"
              :scroll="{ y: 400 }"
              @cellClicked="kc03oncliked"
              @cutomHeaderRow="kc03ClickModal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="blockstyle">
          <p class="title titlejzclass">{{ ARRIVAL_AREA_NAME }}当月库存库龄结构（单位：%）</p>
          <div class="height1">
            <StackedPieChart :legendone="echar4.Chart" :series="echar4.series" />
          </div>
        </div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 14 }">
        <div class="blockstyle">
          <p class="title titlejzclass"
            >出资库存削减情况（单位：万元）<edit-outlined
              clsss="editOut"
              @click="showV(2022120216395782, kc04.columns, props.yearmonth)"
          /></p>
          <div class="height1">
            <MergeTable
              :widget-id="2022120216395782"
              :has-header="false"
              :data-list="kc04.dataSource"
              :column-list="kc04.columns"
              :column-groups="kc04.columnGroups"
              :formatter="overtableStyle.formatter"
              :scroll="{ y: 315 }"
              @cutomHeaderRow="kc04ClickModal"
            />
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="blockstyle">
          <p class="title titlejzclass">合计月末出资库存变化趋势（单位：万元）</p>
          <div class="height1">
            <StackedLineChart
              :legendone="echar5.Chart"
              :x-axis="echar5.xAxis"
              :y-axis="echar5.yAxis"
              :series="echar5.series"
            />
          </div>
        </div>
      </a-col>
    </a-row>
    <ShowModal ref="showModal" :visible="state.visible" @close="dialogClose" />
  </div>
</template>

<script setup lang="ts">
  import { defineExpose, nextTick, reactive, ref } from 'vue';
  import { StackedLineChart, StackedVerticalChart, StackedPieChart } from '../../componentfile';
  import overtableStyle from './js/overtableStyle';
  import mergetableStyle from './js/mergetableStyle';
  import echartsStyle from './js/echartsStyle';
  import { MergeTable } from '@/components/business';
  import { queryAggregate, remarkCount, searchAllocate } from '@/api/strategyTracking';
  import datatype from '@/views/strategyTracking/businesstracking/overviewpage/js/dataType';
  const props = defineProps({
    yearmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  // watch(
  //   () => props.yearmonth,
  //   () => {
  //     nextTick(() => {
  //       query1();
  //       query2();
  //       query4();
  //       query5();
  //       query6();
  //       query8();
  //       query9();
  //     });
  //   },
  // );

  const kcInitialloading = () => {
    nextTick(() => {
      query1();
      query2();
      query4();
      query5();
      query6();
      query8();
      query9();
    });
  };

  defineExpose({
    kcInitialloading,
  });

  const kc01 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '较集采切换前',
        children: ['BY202010AMT', 'BY202010RATIO'],
      },
      {
        title: '较2022年年末',
        children: ['BYLASTYEARAMT', 'BYLASTYEARRATIO'],
      },
      {
        title: '较上月',
        children: ['BYLASTMONTHAMT', 'BYLASTMONTHRATIO'],
      },
    ],
    columns: [
      { title: '钢铁基地', dataIndex: 'AREA_NAME', key: 'AREA_NAME', ellipsis: false },
      {
        title: '2020年10月末(集采切换前)',
        dataIndex: 'AMT202010',
        key: 'AMT202010',
        formatter: 'rate5',
      },
      { title: '上年末库存', dataIndex: 'LASTYEARAMT', key: 'LASTYEARAMT', formatter: 'rate5' },
      { title: '本年目标', dataIndex: 'targetAmt2023', key: 'targetAmt2023', formatter: 'rate5' },
      { title: '上月库存', dataIndex: 'LASTMONTHAMT', key: 'LASTMONTHAMT', formatter: 'rate5' },
      {
        title: '本月库存',
        dataIndex: 'INV_AMT',
        key: 'INV_AMT',
        formatter: 'rate5',
        style: {
          background: '#f5e8b9',
        },
      },
      { title: '增减金额', dataIndex: 'BY202010AMT', key: 'BY202010AMT', formatter: 'rate5' },
      { title: '增减比例', dataIndex: 'BY202010RATIO', key: 'BY202010RATIO', formatter: 'rate3' },
      {
        title: '增减金额',
        dataIndex: 'BYLASTYEARAMT',
        key: 'BYLASTYEARAMT',
        formatter: 'rate5',
      },
      {
        title: '增减比例',
        dataIndex: 'BYLASTYEARRATIO',
        key: 'BYLASTYEARRATIO',
        formatter: 'rate3',
        style: {
          background: '#f5e8b9',
        },
        emphasisColor: 'colortwo',
      },
      { title: '增减金额', dataIndex: 'BYLASTMONTHAMT', key: 'BYLASTMONTHAMT', formatter: 'rate5' },
      {
        title: '增减比例',
        dataIndex: 'BYLASTMONTHRATIO',
        key: 'BYLASTMONTHRATIO',
        formatter: 'rate3',
        emphasisColor: 'colorkc01bylas',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const query1 = async () => {
    await search(2023022016395783, props.yearmonth, kc01.columnKeyList, kc01.keyColumnNameList);
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2023022016395783)).then((result) => {
      const dataMap = result.data['2023022016395783'].dataMap;
      kc01.dataSource = mergetableStyle.toTableData(
        result.data,
        '2023022016395783',
        kc01.keyColumnNameList,
        kc01.columnKeyList,
      );
      AREA_NAME.value = dataMap.AREA_NAME[0];
      query3();
    });
  };
  const AREA_NAME = ref();
  const onkc01Clicked = (record) => {
    AREA_NAME.value = record.AREA_NAME;
    query3();
  };

  const echar1 = reactive({
    Chart: ['合计库存金额', '季末库存指标'],
    yAxis: [],
    series: [],
  });
  const query2 = () => {
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2023030916395784)).then((result) => {
      const dataMap = result.data['2023030916395784'].dataMap;
      echar1.yAxis = dataMap.big_zone_name;
      echar1.series = echartsStyle.echarts06(
        dataMap.INV_TOTAL_AMT,
        dataMap.QUARTER_INDICATOR_INV_AMT,
      );
    });
  };

  const echar2 = reactive({
    Chart: [],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const query3 = () => {
    queryAggregate(
      datatype.parameter3('YM', props.yearmonth, 2022032316395782, 'AREA_NAME', AREA_NAME.value),
    ).then((result) => {
      const dataMap = result.data['2022032316395782'].dataMap;
      echar2.xAxis = dataMap.YM;
      echar2.series = echartsStyle.echarts04(dataMap.INV_AMT);
    });
  };

  const kc02 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '库存金额',
        children: ['lastYearAmt', 'lastMonthAmt', 'ENTITY_INV_AMT'],
      },
      {
        title: '较上年',
        children: ['byLastYearAmt', 'byLastYearRatio'],
      },
      {
        title: '较上月',
        children: ['byLastMonthAmt', 'byLastMonthRatio'],
      },
    ],
    columns: [
      { title: '区域', dataIndex: 'ARRIVAL_AREA_NAME', key: 'ARRIVAL_AREA_NAME', ellipsis: false },
      {
        title: '目标',
        dataIndex: 'YEAR_TARGET_INV_AMT',
        key: 'YEAR_TARGET_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '上年末',
        dataIndex: 'lastYearAmt',
        key: 'lastYearAmt',
        formatter: 'rate5',
      },
      {
        title: '上月',
        dataIndex: 'lastMonthAmt',
        key: 'lastMonthAmt',
        formatter: 'rate5',
      },
      {
        title: '本月',
        dataIndex: 'ENTITY_INV_AMT',
        key: 'ENTITY_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '增减额',
        dataIndex: 'byLastYearAmt',
        key: 'byLastYearAmt',
        formatter: 'rate5',
        style: {
          background: '#f5e8b9',
        },
      },
      {
        title: '增减比例',
        dataIndex: 'byLastYearRatio',
        key: 'byLastYearRatio',
        formatter: 'rate3',
        style: {
          background: '#f5e8b9',
        },
      },
      {
        title: '增减额',
        dataIndex: 'byLastMonthAmt',
        key: 'byLastMonthAmt',
        formatter: 'rate5',
      },
      {
        title: '增减比例',
        dataIndex: 'byLastMonthRatio',
        key: 'byLastMonthRatio',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const query4 = async () => {
    await search(2022072521595462, props.yearmonth, kc02.columnKeyList, kc02.keyColumnNameList);
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2022072521595462)).then((result) => {
      kc02.dataSource = mergetableStyle.toTableData(
        result.data,
        '2022072521595462',
        kc02.keyColumnNameList,
        kc02.columnKeyList,
      );
    });
  };

  const echar3 = reactive({
    Chart: [],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const query5 = () => {
    queryAggregate(datatype.parameter1('YM', props.yearmonth, 2022072523075462)).then((result) => {
      const dataMap = result.data['2022072523075462'].dataMap;
      echar3.xAxis = dataMap.YM;
      echar3.series = echartsStyle.echarts04(dataMap.ENTITY_INV_AMT);
    });
  };

  const kc03 = reactive({
    dataSource: [],
    columns: [
      {
        title: '区域',
        dataIndex: 'ARRIVAL_AREA_NAME',
        key: 'ARRIVAL_AREA_NAME',
        width: '200px',
        ellipsis: false,
      },
      { title: '小于3月', dataIndex: 'LT_MAR_INV_AMT', key: 'LT_MAR_INV_AMT', formatter: 'rate5' },
      {
        title: '3-6月',
        dataIndex: 'MAR_ARRIVE_JUN_INV_AMT',
        key: 'MAR_ARRIVE_JUN_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '6月-1年',
        dataIndex: 'JUN_ARRIVE_ONE_YEAR_INV_AMT',
        key: 'JUN_ARRIVE_ONE_YEAR_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '1-2年',
        dataIndex: 'ONE_ARRIVE_TWO_YEAR_INV_AMT',
        key: 'ONE_ARRIVE_TWO_YEAR_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '2-3年',
        dataIndex: 'TWO_ARRIVE_THREE_YEAR_INV_AMT',
        key: 'TWO_ARRIVE_THREE_YEAR_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '3年以上',
        dataIndex: 'GT_THREE_YEAR_INV_AMT',
        key: 'GT_THREE_YEAR_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '实物库存累计',
        dataIndex: 'ENTITY_INV_AMT',
        key: 'ENTITY_INV_AMT',
        width: '160px',
        formatter: 'rate5',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const query6 = async () => {
    await search(2022072521595462, props.yearmonth, kc03.columnKeyList, kc03.keyColumnNameList);
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2022072521595462)).then((result) => {
      const dataMap = result.data['2022072521595462'].dataMap;
      kc03.dataSource = mergetableStyle.toTableData(
        result.data,
        '2022072521595462',
        kc03.keyColumnNameList,
        kc03.columnKeyList,
      );
      ARRIVAL_AREA_NAME.value = dataMap.ARRIVAL_AREA_NAME[0];
      query7();
    });
  };
  const ARRIVAL_AREA_NAME = ref();
  const kc03oncliked = (record) => {
    ARRIVAL_AREA_NAME.value = record.ARRIVAL_AREA_NAME;
    query7();
  };

  const echar4 = reactive({
    Chart: [{ bottom: '2%', left: 'center' }],
    series: [],
  });
  const query7 = () => {
    queryAggregate(
      datatype.parameter2(
        'YM',
        props.yearmonth,
        2022072522534562,
        'ARRIVAL_AREA_NAME',
        ARRIVAL_AREA_NAME.value,
      ),
    ).then((result) => {
      const dataMap = result.data['2022072522534562'].dataMap;
      const data = [
        { value: dataMap.LT_MAR_INV_AMT[0], name: '小于3月', itemStyle: { color: '#c4ebad' } },
        {
          value: dataMap.MAR_ARRIVE_JUN_INV_AMT[0],
          name: '3-6月',
          itemStyle: { color: '#7bd9a5' },
        },
        {
          value: dataMap.JUN_ARRIVE_ONE_YEAR_INV_AMT[0],
          name: '6月-1年',
          itemStyle: { color: '#b5c334' },
        },
        {
          value: dataMap.ONE_ARRIVE_TWO_YEAR_INV_AMT[0],
          name: '1-2年',
          itemStyle: { color: '#f7f494' },
        },
        {
          value: dataMap.TWO_ARRIVE_THREE_YEAR_INV_AMT[0],
          name: '2-3年',
          itemStyle: { color: '#f2d643' },
        },
        {
          value: dataMap.GT_THREE_YEAR_INV_AMT[0],
          name: '3年以上',
          itemStyle: { color: '#d95850' },
        },
      ];
      echar4.series = echartsStyle.echarts07(data);
    });
  };

  const kc04 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '出资库存金额',
        children: [
          'COMPANY_INIT_EOY_INV_AMT',
          'LASTYEAR_EOY_INV_AMT',
          'LAST_EOM_INV_AMT',
          'EOM_INV_AMT',
        ],
      },
      {
        title: '较公司成立初增减',
        children: ['COMP_COMPANY_INIT_EOY_INV_AMT', 'COMP_COMPANY_INIT_EOY_INV_PENCENT'],
      },
      {
        title: '较上年末增减',
        children: ['COMP_LASTYEAR_EOY_INV_AMT', 'COMP_LASTYEAR_EOY_INV_PENCENT'],
      },
      {
        title: '较上月末增减',
        children: ['COMP_LAST_EOM_INV_AMT', 'COMP_LAST_EOM_INV_PENCENT'],
      },
    ],
    columns: [
      {
        title: '出资基地',
        dataIndex: 'INV_BASE_NAME',
        key: 'INV_BASE_NAME',
        width: 120,
        ellipsis: false,
      },
      {
        title: '成立初',
        dataIndex: 'COMPANY_INIT_EOY_INV_AMT',
        key: 'COMPANY_INIT_EOY_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '上年末',
        dataIndex: 'LASTYEAR_EOY_INV_AMT',
        key: 'LASTYEAR_EOY_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '上月末',
        dataIndex: 'LAST_EOM_INV_AMT',
        key: 'LAST_EOM_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '本月末',
        dataIndex: 'EOM_INV_AMT',
        key: 'EOM_INV_AMT',
        formatter: 'rate5',
        style: {
          background: '#f5e8b9',
        },
      },
      {
        title: '金额',
        dataIndex: 'COMP_COMPANY_INIT_EOY_INV_AMT',
        key: 'COMP_COMPANY_INIT_EOY_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '比例',
        dataIndex: 'COMP_COMPANY_INIT_EOY_INV_PENCENT',
        key: 'COMP_COMPANY_INIT_EOY_INV_PENCENT',
        formatter: 'rate3',
      },
      {
        title: '金额',
        dataIndex: 'COMP_LASTYEAR_EOY_INV_AMT',
        key: 'COMP_LASTYEAR_EOY_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '比例',
        dataIndex: 'COMP_LASTYEAR_EOY_INV_PENCENT',
        key: 'COMP_LASTYEAR_EOY_INV_PENCENT',
        formatter: 'rate3',
        style: {
          background: '#f5e8b9',
        },
      },
      {
        title: '金额',
        dataIndex: 'COMP_LAST_EOM_INV_AMT',
        key: 'COMP_LAST_EOM_INV_AMT',
        formatter: 'rate5',
      },
      {
        title: '比例',
        dataIndex: 'COMP_LAST_EOM_INV_PENCENT',
        key: 'COMP_LAST_EOM_INV_PENCENT',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const query8 = async () => {
    await search(2022120216395782, props.yearmonth, kc04.columnKeyList, kc04.keyColumnNameList);
    queryAggregate(datatype.parameter('YM', props.yearmonth, 2022120216395782)).then((result) => {
      kc04.dataSource = mergetableStyle.toTableData(
        result.data,
        '2022120216395782',
        kc04.keyColumnNameList,
        kc04.columnKeyList,
      );
    });
  };

  const echar5 = reactive({
    Chart: [],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const query9 = () => {
    queryAggregate(datatype.parameter1('YM', props.yearmonth, 2020072612568542)).then((result) => {
      const dataMap = result.data['2020072612568542'].dataMap;
      echar5.xAxis = dataMap.YM;
      echar5.series = echartsStyle.echarts04(dataMap.EOM_LONG_INVAGING_INV_AMT);
    });
  };

  // 标题
  const kc01ClickModal = (callback) => {
    callback('总体库存情况表（单位：万元）');
  };
  const kc02ClickModal = (callback) => {
    callback('OG账套月末库存情况（单位：万元）');
  };
  const kc03ClickModal = (callback) => {
    callback('OG账套库龄结构（单位：万元）');
  };
  const kc04ClickModal = (callback) => {
    callback('出资库存削减情况（单位：万元）');
  };

  // 行变色
  const kc01RowClassName = (record, callback) => {
    if (
      record.AREA_NAME === '宝钢股份小计' ||
      record.AREA_NAME === '中南钢铁小计' ||
      record.AREA_NAME === '八钢公司小计' ||
      record.AREA_NAME === '合计'
    ) {
      callback('warning-row');
    } else {
      callback('');
    }
  };

  const showModal = ref(null);
  const state = reactive({
    visible: false,
  });
  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal.value.changeInfo(widgetId, columns, res.data, areaName);
  };
  const dialogClose = () => {
    state.visible = false;
  };

  const search = async (widgetId, name, ColumnList, KeyList) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      ColumnList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    KeyList = res2.data;
  };
</script>

<style lang="less">
  .rowClass {
    background-color: #e7e7e7;
  }

  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    line-height: 16px;
    letter-spacing: 0px;
  }

  .titlejzclass {
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }

  .height1 {
    height: 450px;
  }

  .blockstyle {
    margin: 5px 0;
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .sbstyle {
    cursor: pointer;
  }
</style>
