<template>
  <div>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 24 }">
        <div class="blockstyle sbstyle">
          <p class="title"
            >采购策略执行情况<edit-outlined
              clsss="editOut"
              @click="showV(2023041016395783, setJCGL06.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2023041016395783"
            :has-header="false"
            :data-list="setJCGL06.dataSource"
            :column-list="setJCGL06.columns"
            :column-groups="setJCGL06.columnGroups"
            :formatter="tableStyle.formatter"
            :cell-color="tableStyle.cellColor"
            :scroll="{ y: 410 }"
            @cellClicked="onsetJCGL06Clicked"
            @cutomHeaderRow="setJCGL06OnClickModal"
          />
        </div>
      </a-col>
      <a-col :md="{ span: 24 }">
        <div class="blockstyle">
          <p class="title"
            >物料代码管理（单位：万元）<edit-outlined
              clsss="editOut"
              @click="showV(2022123016395782, setJCGL01.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2022123016395782"
            :has-header="false"
            :data-list="setJCGL01.dataSource"
            :column-list="setJCGL01.columns"
            :column-groups="setJCGL01.columnGroups"
            :formatter="tableStyle.formatter"
            :cell-color="tableStyle.cellColor"
            :scroll="{ y: 410 }"
            @cutomHeaderRow="setJCGL01OnClickModal"
            @rowClassName="setJCGL01RowClassName"
          />
        </div>
      </a-col>
      <a-col :md="{ span: 24 }">
        <div class="blockstyle">
          <p class="title"
            >供应商共享率（单位：万元）<edit-outlined
              clsss="editOut"
              @click="showV(2023021016395783, setJCGL02.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2023021016395783"
            :has-header="false"
            :data-list="setJCGL02.dataSource"
            :column-list="setJCGL02.columns"
            :column-groups="setJCGL02.columnGroups"
            :formatter="tableStyle.formatter"
            :cell-color="tableStyle.cellColor"
            :scroll="{ y: 410 }"
            @cutomHeaderRow="setJCGL02OnClickModal"
          />
        </div>
      </a-col>
      <a-col :md="{ span: 24 }">
        <div class="blockstyle">
          <p class="title"
            >供应商直供采购分析（单位：万元）<edit-outlined
              clsss="editOut"
              @click="showV(2023021016395782, setJCGL03.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2023021016395782"
            :has-header="false"
            :data-list="setJCGL03.dataSource"
            :column-list="setJCGL03.columns"
            :formatter="tableStyle.formatter"
            :cell-color="tableStyle.cellColor"
            :scroll="{ y: 410 }"
            @cutomHeaderRow="setJCGL03OnClickModal"
          />
        </div>
      </a-col>
      <a-col :md="{ span: 24 }">
        <div class="blockstyle">
          <p class="title"
            >供应商二方审核实施进度（单位：家）<edit-outlined
              clsss="editOut"
              @click="showV(2023041016395784, setJCGL05.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2023041016395784"
            :has-header="false"
            :data-list="setJCGL05.dataSource"
            :column-list="setJCGL05.columns"
            :formatter="tableStyle.formatter"
            :scroll="{ y: 410 }"
            @cutomHeaderRow="setJCGL05OnClickModal"
          />
        </div>
      </a-col>
      <a-col :md="{ span: 24 }">
        <div class="blockstyle">
          <p class="title"
            >采购模式（单位：万元）<edit-outlined
              clsss="editOut"
              @click="showV(2023032416395782, setJCGL04.columns, '')"
          /></p>
          <MergeTable
            :widget-id="2023032416395782"
            :has-header="false"
            :data-list="setJCGL04.dataSource"
            :column-list="setJCGL04.columns"
            :formatter="tableStyle.formatter"
            :cell-color="tableStyle.cellColor"
            :scroll="{ y: 410 }"
            @cutomHeaderRow="setJCGL04OnClickModal"
          />
        </div>
      </a-col>
      <div ref="yourModal">
        <a-modal
          v-model:visible="visible"
          v-model:title="title"
          width="95%"
          :footer="null"
          style="top: 10px"
          :get-container="() => $refs.yourModal"
        >
          <MergeTable
            :has-header="false"
            :data-list="setJCGL07.dataSource"
            :column-list="setJCGL07.columns"
            :column-groups="setJCGL07.columnGroups"
            :formatter="tableStyle.formatter"
            @rowClassName="setJCGL07RowClassName"
          />
        </a-modal>
      </div>
    </a-row>
    <ShowModal ref="showModal" :visible="state.visible" @close="dialogClose"></ShowModal>
  </div>
</template>

<script setup lang="ts">
  import { reactive, ref, watch, defineExpose } from 'vue';
  import mergetableStyle from './js/mergetableStyle';
  import { MergeTable } from '@/components/business';
  import { queryAggregate, searchAllocate, remarkCount } from '@/api/strategyTracking';
  import tableStyle from '@/views/strategyTracking/modulefile/components/tableStyle';
  import Transformer from '@/views/strategyTracking/modulefile/components/transformer';
  import ShowModal from '@/views/strategyTracking/modulefile/components/ShowModal.vue';
  import datatype from '@/views/strategyTracking/businesstracking/overviewpage/js/dataType';

  defineOptions({
    name: 'OverviewBasicManagement',
    inheritAttrs: false,
  });
  const props = defineProps({
    overmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const state = reactive({
    visible: false,
    yearMonth: '',
  });

  const showModal = ref(null);

  const setJCGL01OnClickModal = (callback) => {
    callback('物料代码管理（单位：万元）');
  };
  const setJCGL02OnClickModal = (callback) => {
    callback('供应商共享率（单位：万元）');
  };
  const setJCGL03OnClickModal = (callback) => {
    callback('供应商直供采购分析（单位：万元）');
  };
  const setJCGL04OnClickModal = (callback) => {
    callback('采购模式（单位：万元）');
  };
  const setJCGL05OnClickModal = (callback) => {
    callback('供应商二方审核实施进度（单位：家）');
  };
  const setJCGL06OnClickModal = (callback) => {
    callback('采购策略执行情况');
  };

  // 物料代码管理
  const setJCGL01 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '按代码个数',
        children: ['LASTYEAR_NUM_RATE', 'YEAR_SHARE_NUM', 'YEAR_NUM_RATE', 'YEAR_NUM_RATE2'],
      },
      {
        title: '按订单金额',
        children: ['LASTYEAR_AMT_RATE', 'YEAR_SHARE_ORDER_AMT', 'YEAR_AMT_RATE', 'YEAR_AMT_RATE2'],
      },
    ],
    columns: [
      { title: '基地', dataIndex: 'AREA_NAME', key: 'AREA_NAME', width: 200, ellipsis: false },
      {
        title: '上年共享率',
        dataIndex: 'LASTYEAR_NUM_RATE',
        key: 'LASTYEAR_NUM_RATE',
        formatter: 'rate3',
      },
      {
        title: '本年共享数',
        dataIndex: 'YEAR_SHARE_NUM',
        key: 'YEAR_SHARE_NUM',
        formatter: 'rate5',
      },
      {
        title: '本年共享率',
        dataIndex: 'YEAR_NUM_RATE',
        key: 'YEAR_NUM_RATE',
        formatter: 'rate3',
      },
      {
        title: '较上年增减比例',
        dataIndex: 'YEAR_NUM_RATE2',
        key: 'YEAR_NUM_RATE2',
        formatter: 'rate3',
        width: 200,
      },
      {
        title: '上年共享率',
        dataIndex: 'LASTYEAR_AMT_RATE',
        key: 'LASTYEAR_AMT_RATE',
        formatter: 'rate3',
      },
      {
        title: '本年共享金额',
        dataIndex: 'YEAR_SHARE_ORDER_AMT',
        key: 'YEAR_SHARE_ORDER_AMT',
        width: 180,
        formatter: 'rate5',
      },
      {
        title: '本年共享率',
        dataIndex: 'YEAR_AMT_RATE',
        key: 'YEAR_AMT_RATE',
        formatter: 'rate3',
        style: {
          background: '#f5e8b9',
        },
      },
      {
        title: '较上年增减比例',
        dataIndex: 'YEAR_AMT_RATE2',
        key: 'YEAR_AMT_RATE2',
        formatter: 'rate3',
        width: 200,
        emphasisColor: 'colorone',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search1 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setJCGL01.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setJCGL01.columnKeyList = res2.data;
  };
  const setJCGL01RowClassName = (record, callback) => {
    if (
      record.AREA_NAME === '宝钢股份小计' ||
      record.AREA_NAME === '新进基地小计' ||
      record.AREA_NAME === '合计'
    ) {
      callback('warning-row');
    } else {
      callback('');
    }
  };
  const setJCGL01dataSource = async () => {
    await search1(2022123016395782, props.overmonth);

    queryAggregate(datatype.parameter('YM', props.overmonth, 2022123016395782)).then((result) => {
      setJCGL01.dataSource = mergetableStyle.toTableData(
        result.data,
        '2022123016395782',
        setJCGL01.keyColumnNameList,
        setJCGL01.columnKeyList,
      );
    });
  };
  const visible = ref<boolean>(false);
  const title = ref('');
  const onsetJCGL06Clicked = (record) => {
    title.value = `${record.BASE_NAME}采购策略执行情况`;
    setJCGL07dataSource(record.BASE_NAME);
    visible.value = true;
  };
  const setJCGL07 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '竞争性采购定价策略实绩（比例）',
        children: [
          'CORP_STRATEGY_RATE',
          'BIDDING_RATE',
          'ONLINE_PUBLIC_INQUIRY_RATE',
          'PUBLIC_PUR_SUM_RATE',
          'PRIPAR_RATE',
          'COMPETITION_NEGOTIATION_RATE',
          'COMPETITION_AFTER_ADDITIONAL_RATE',
          'COMPETITION_PUR_STRATEGY_SUM_RATE',
        ],
      },
      {
        title: '非竞争性采购定价策略实绩（比例）',
        children: [
          'BRAND_MONOPOLY_DS_RATE',
          'BRAND_MONOPOLY_AGENCY_RATE',
          'EXCLUSIVE_NEGOTIATION_RATE',
          'OVERSEAS_DIRECT_RATE',
          'OTHER_DIRECT_RATE',
          'NOT_COMPETITION_PUR_STRATEGY_SUM_RATE',
        ],
      },
    ],
    columns: [
      {
        title: '业务类别',
        dataIndex: 'CAT_NAME',
        key: 'CAT_NAME',
        width: '120px',
        ellipsis: false,
        rspans: [
          { start: 0, span: 3 },
          { start: 3, span: 3 },
          { start: 6, span: 3 },
          { start: 9, span: 3 },
          { start: 12, span: 3 },
          { start: 15, span: 3 },
          { start: 18, span: 3 },
          { start: 21, span: 3 },
          { start: 24, span: 3 },
        ],
      },
      {
        title: '类型',
        dataIndex: 'TYPE',
        key: 'TYPE',
        width: '80px',
      },
      {
        title: '合作策略',
        dataIndex: 'CORP_STRATEGY_RATE',
        key: 'CORP_STRATEGY_RATE',
        formatter: 'rate3',
      },
      { title: '公开采购招标', dataIndex: 'BIDDING_RATE', key: 'BIDDING_RATE', formatter: 'rate3' },
      {
        title: '公开采购网上公开询价',
        dataIndex: 'ONLINE_PUBLIC_INQUIRY_RATE',
        key: 'ONLINE_PUBLIC_INQUIRY_RATE',
        formatter: 'rate3',
      },
      {
        title: '公开采购小计',
        dataIndex: 'PUBLIC_PUR_SUM_RATE',
        key: 'PUBLIC_PUR_SUM_RATE',
        formatter: 'rate3',
      },
      { title: '比价', dataIndex: 'PRIPAR_RATE', key: 'PRIPAR_RATE', formatter: 'rate3' },
      {
        title: '竞争性谈判',
        dataIndex: 'COMPETITION_NEGOTIATION_RATE',
        key: 'COMPETITION_NEGOTIATION_RATE',
        formatter: 'rate3',
      },
      {
        title: '竞争后增订',
        dataIndex: 'COMPETITION_AFTER_ADDITIONAL_RATE',
        key: 'COMPETITION_AFTER_ADDITIONAL_RATE',
        formatter: 'rate3',
      },
      {
        title: '小计',
        dataIndex: 'COMPETITION_PUR_STRATEGY_SUM_RATE',
        key: 'COMPETITION_PUR_STRATEGY_SUM_RATE',
        formatter: 'rate3',
      },
      {
        title: '品牌垄断直供',
        dataIndex: 'BRAND_MONOPOLY_DS_RATE',
        key: 'BRAND_MONOPOLY_DS_RATE',
        formatter: 'rate3',
      },
      {
        title: '品牌垄断代理',
        dataIndex: 'BRAND_MONOPOLY_AGENCY_RATE',
        key: 'BRAND_MONOPOLY_AGENCY_RATE',
        formatter: 'rate3',
      },
      {
        title: '独家谈判',
        dataIndex: 'EXCLUSIVE_NEGOTIATION_RATE',
        key: 'EXCLUSIVE_NEGOTIATION_RATE',
        formatter: 'rate3',
      },
      {
        title: '海外公开定向',
        dataIndex: 'OVERSEAS_DIRECT_RATE',
        key: 'OVERSEAS_DIRECT_RATE',
        formatter: 'rate3',
      },
      {
        title: '定向',
        dataIndex: 'OTHER_DIRECT_RATE',
        key: 'OTHER_DIRECT_RATE',
        formatter: 'rate3',
      },
      {
        title: '小计',
        dataIndex: 'NOT_COMPETITION_PUR_STRATEGY_SUM_RATE',
        key: 'NOT_COMPETITION_PUR_STRATEGY_SUM_RATE',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search7 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setJCGL07.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setJCGL07.columnKeyList = res2.data;
  };
  const setJCGL07RowClassName = (record, callback) => {
    if (
      record.CAT_NAME === '耐材辅料' ||
      record.CAT_NAME === '通用材料' ||
      record.CAT_NAME === '机械备件' ||
      record.CAT_NAME === '通用备件' ||
      record.CAT_NAME === '小计'
    ) {
      callback('warning-row');
    } else {
      callback('');
    }
  };
  const setJCGL07dataSource = async (c) => {
    await search7(2023042612165505, '');
    const cans = {
      relations: [
        {
          filterField: 'AREA_NAME',
          filterValues: [c],
          widgetId: 2023042612165505,
        },
        {
          filterField: 'YM',
          filterValues: [props.overmonth],
          widgetId: 2023042612165505,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      setJCGL07.dataSource = Transformer.toTableData3(
        result.data,
        '2023042612165505',
        setJCGL07.keyColumnNameList,
        setJCGL07.columnKeyList,
      );
    });
  };

  // 供应商共享率
  const setJCGL02 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '按业绩额',
        children: [
          'LASTYEAR_AMT_SHARE_RATE',
          'INDICATOR_PROGRESS_TARGET',
          'MONTH_SHARE_AMT',
          'MONTH_AMT_SHARE_RATE',
          'YEAR_TOTAL_SHARE_AMT',
          'YEAR_TOTAL_AMT_SHARE_RATE',
          'MONTH_COMPARE_LASTYEAR_AMT_SHARE_RATE_VARIATION',
        ],
      },
      {
        title: '按供应商家数',
        children: [
          'LASTYEAR_SUPPLIER_NUM_SHARE_RATE',
          'MONTH_SHARE_SUPPLIER_NUM',
          'MONTH_SUPPLIER_NUM_SHARE_RATE',
          'YEAR_TOTAL_SHARE_SUPPLIER_NUM',
          'YEAR_TOTAL_SUPPLIER_NUM_SHARE_RATE',
          'MONTH_COMPARE_LASTYEAR_SUPPLIER_NUM_SHARE_RATE_VARIATION',
        ],
      },
    ],
    columns: [
      { title: '区域', dataIndex: 'BASE_NAME', key: 'BASE_NAME', width: '150px', ellipsis: false },
      {
        title: '上年共享率',
        dataIndex: 'LASTYEAR_AMT_SHARE_RATE',
        key: 'LASTYEAR_AMT_SHARE_RATE',
        formatter: 'rate3',
      },
      {
        title: '年度目标',
        dataIndex: 'INDICATOR_PROGRESS_TARGET',
        key: 'INDICATOR_PROGRESS_TARGET',
        formatter: 'rate3',
      },
      {
        title: '当月共享额',
        dataIndex: 'MONTH_SHARE_AMT',
        key: 'MONTH_SHARE_AMT',
        formatter: 'rate5',
      },
      {
        title: '当月共享率',
        dataIndex: 'MONTH_AMT_SHARE_RATE',
        key: 'MONTH_AMT_SHARE_RATE',
        formatter: 'rate3',
      },
      {
        title: '累计共享额',
        dataIndex: 'YEAR_TOTAL_SHARE_AMT',
        key: 'YEAR_TOTAL_SHARE_AMT',
        formatter: 'rate5',
      },
      {
        title: '累计共享率',
        dataIndex: 'YEAR_TOTAL_AMT_SHARE_RATE',
        key: 'YEAR_TOTAL_AMT_SHARE_RATE',
        formatter: 'rate3',
        style: {
          background: '#f5e8b9',
        },
        mergeColumn: 'INDICATOR_PROGRESS_TARGET,YEAR_TOTAL_AMT_SHARE_RATE',
        emphasisColor: 'colorfoursix',
        after: 'YEAR_TOTAL_AMT_SHARE_RATE',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      {
        title: '较上年',
        dataIndex: 'MONTH_COMPARE_LASTYEAR_AMT_SHARE_RATE_VARIATION',
        key: 'MONTH_COMPARE_LASTYEAR_AMT_SHARE_RATE_VARIATION',
        formatter: 'rate3',
        width: '100px',
      },
      {
        title: '上年共享率',
        dataIndex: 'LASTYEAR_SUPPLIER_NUM_SHARE_RATE',
        key: 'LASTYEAR_SUPPLIER_NUM_SHARE_RATE',
        formatter: 'rate3',
      },
      {
        title: '当月共享数',
        dataIndex: 'MONTH_SHARE_SUPPLIER_NUM',
        key: 'MONTH_SHARE_SUPPLIER_NUM',
        formatter: 'rate5',
      },
      {
        title: '当月共享率',
        dataIndex: 'MONTH_SUPPLIER_NUM_SHARE_RATE',
        key: 'MONTH_SUPPLIER_NUM_SHARE_RATE',
        formatter: 'rate3',
      },
      {
        title: '累计共享数',
        dataIndex: 'YEAR_TOTAL_SHARE_SUPPLIER_NUM',
        key: 'YEAR_TOTAL_SHARE_SUPPLIER_NUM',
        formatter: 'rate5',
      },
      {
        title: '累计共享率',
        dataIndex: 'YEAR_TOTAL_SUPPLIER_NUM_SHARE_RATE',
        key: 'YEAR_TOTAL_SUPPLIER_NUM_SHARE_RATE',
        formatter: 'rate3',
      },
      {
        title: '较上年',
        dataIndex: 'MONTH_COMPARE_LASTYEAR_SUPPLIER_NUM_SHARE_RATE_VARIATION',
        key: 'MONTH_COMPARE_LASTYEAR_SUPPLIER_NUM_SHARE_RATE_VARIATION',
        width: '100px',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search2 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setJCGL02.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setJCGL02.columnKeyList = res2.data;
  };
  const setJCGL02dataSource = async () => {
    await search2(2023021016395783, props.overmonth);
    queryAggregate(datatype.parameter('YM', props.overmonth, 2023021016395783)).then((result) => {
      setJCGL02.dataSource = mergetableStyle.toTableData(
        result.data,
        '2023021016395783',
        setJCGL02.keyColumnNameList,
        setJCGL02.columnKeyList,
      );
    });
  };

  // 供应商直供采购分析
  const setJCGL03 = reactive({
    dataSource: [],
    columns: [
      { title: '区域', dataIndex: 'BASE_NAME', key: 'BASE_NAME', ellipsis: false },
      {
        title: '上年制造占比',
        dataIndex: 'LASTYEAR_DS_AMT_RATIO',
        key: 'LASTYEAR_DS_AMT_RATIO',
        formatter: 'rate3',
      },
      {
        title: '年度目标',
        dataIndex: 'INDICATOR_PROGRESS_TARGET',
        key: 'INDICATOR_PROGRESS_TARGET',
        formatter: 'rate3',
      },
      {
        title: '当月制造类金额',
        dataIndex: 'MONTH_DS_AMT',
        key: 'MONTH_DS_AMT',
        formatter: 'rate5',
      },
      {
        title: '当月制造比',
        dataIndex: 'MONTH_DS_AMT_RATIO',
        key: 'MONTH_DS_AMT_RATIO',
        formatter: 'rate3',
      },
      {
        title: '较上月',
        dataIndex: 'MONTH_DS_AMT_RATIO_MOMR',
        key: 'MONTH_DS_AMT_RATIO_MOMR',
        formatter: 'rate3',
      },
      {
        title: '累计制造金额',
        dataIndex: 'YEAR_TOTAL_DS_AMT',
        key: 'YEAR_TOTAL_DS_AMT',
        formatter: 'rate5',
      },
      {
        title: '累计制造比',
        dataIndex: 'YEAR_TOTAL_DS_AMT_RATIO',
        key: 'YEAR_TOTAL_DS_AMT_RATIO',
        formatter: 'rate3',
        style: {
          background: '#f5e8b9',
        },
        mergeColumn: 'INDICATOR_PROGRESS_TARGET,YEAR_TOTAL_DS_AMT_RATIO',
        emphasisColor: 'colorfourseven',
        after: 'YEAR_TOTAL_DS_AMT_RATIO',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      {
        title: '较上年',
        dataIndex: 'MONTH_COMPARE_LASTYEAR_DS_AMT_RATIO_VARIATION',
        key: 'MONTH_COMPARE_LASTYEAR_DS_AMT_RATIO_VARIATION',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search3 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setJCGL03.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setJCGL03.columnKeyList = res2.data;
  };
  const setJCGL03dataSource = async () => {
    await search3(2023021016395782, props.overmonth);
    queryAggregate(datatype.parameter('YM', props.overmonth, 2023021016395782)).then((result) => {
      setJCGL03.dataSource = mergetableStyle.toTableData(
        result.data,
        '2023021016395782',
        setJCGL03.keyColumnNameList,
        setJCGL03.columnKeyList,
      );
    });
  };

  const setJCGL04 = reactive({
    dataSource: [],
    columns: [
      {
        title: '区域',
        dataIndex: 'PUR_REGION_NAME',
        key: 'PUR_REGION_NAME',
        ellipsis: false,
        rspans: [
          { start: 0, span: 4 },
          { start: 4, span: 4 },
          { start: 8, span: 4 },
          { start: 12, span: 4 },
          { start: 16, span: 4 },
          { start: 20, span: 4 },
          { start: 24, span: 4 },
          { start: 28, span: 4 },
        ],
      },
      { title: '采购模式', dataIndex: 'PUR_MODE_NAME', key: 'PUR_MODE_NAME' },
      {
        title: '上年采购模式占比',
        dataIndex: 'LASTYEAR_ORDER_AMT_RATIO',
        key: 'LASTYEAR_ORDER_AMT_RATIO',
        formatter: 'rate3',
      },
      {
        title: '年度目标',
        dataIndex: 'INDICATOR_PROGRESS_TARGET',
        key: 'INDICATOR_PROGRESS_TARGET',
        rspans: [
          { start: 0, span: 1 },
          { start: 1, span: 1 },
          { start: 2, span: 1 },
          { start: 3, span: 1 },
          { start: 4, span: 2 },
          { start: 6, span: 1 },
          { start: 7, span: 1 },
          { start: 8, span: 2 },
          { start: 10, span: 1 },
          { start: 11, span: 1 },
          { start: 12, span: 2 },
          { start: 14, span: 1 },
          { start: 15, span: 1 },
          { start: 16, span: 2 },
          { start: 18, span: 1 },
          { start: 19, span: 1 },
          { start: 20, span: 2 },
          { start: 22, span: 1 },
          { start: 23, span: 1 },
          { start: 24, span: 2 },
          { start: 26, span: 1 },
          { start: 27, span: 1 },
          { start: 28, span: 2 },
          { start: 30, span: 1 },
          { start: 31, span: 1 },
        ],
      },
      {
        title: '当月采购金额',
        dataIndex: 'CURMONTH_ORDER_AMT',
        key: 'CURMONTH_ORDER_AMT',
        formatter: 'rate5',
      },
      {
        title: '当月采购模式占比',
        dataIndex: 'CURMONTH_ORDER_AMT_RATIO',
        key: 'CURMONTH_ORDER_AMT_RATIO',
        formatter: 'rate3',
      },
      {
        title: '较上月采购模式占比',
        dataIndex: 'COMPARE_LASTMONTH',
        key: 'COMPARE_LASTMONTH',
        formatter: 'rate3',
      },
      {
        title: '年累计采购金额',
        dataIndex: 'CURYEAR_ORDER_AMT',
        key: 'CURYEAR_ORDER_AMT',
        formatter: 'rate5',
      },
      {
        title: '年累计采购模式占比',
        dataIndex: 'CURYEAR_ORDER_AMT_RATIO',
        key: 'CURYEAR_ORDER_AMT_RATIO',
        formatter: 'rate3',
        style: {
          background: '#f5e8b9',
        },
        mergeColumn: 'NUM,CURYEAR_ORDER_AMT_RATIO',
        emphasisColor: 'colorfoureight',
        after: 'CURYEAR_ORDER_AMT_RATIO',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      {
        title: '较上年采购模式占比',
        dataIndex: 'COMPARE_LASTYEAR',
        key: 'COMPARE_LASTYEAR',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search4 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setJCGL04.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setJCGL04.columnKeyList = res2.data;
  };
  const setJCGL04dataSource = async () => {
    await search4(2023032416395782, props.overmonth);

    queryAggregate(datatype.parameter('YM', props.overmonth, 2023032416395782)).then((result) => {
      setJCGL04.dataSource = mergetableStyle.toTableData(
        result.data,
        '2023032416395782',
        setJCGL04.keyColumnNameList,
        setJCGL04.columnKeyList,
      );
    });
  };

  const setJCGL05 = reactive({
    dataSource: [],
    columns: [
      { title: '责任单位', dataIndex: 'DUTY_UNIT', key: 'DUTY_UNIT', ellipsis: false },
      {
        title: '全年计划家数',
        dataIndex: 'PROGRESS_TARGET',
        key: 'PROGRESS_TARGET',
        formatter: 'rate5',
      },
      { title: '本年累计计划家数', dataIndex: 'PLAN_QTY', key: 'PLAN_QTY', formatter: 'rate5' },
      { title: '实际审核家数', dataIndex: 'CHK_FREQ', key: 'CHK_FREQ', formatter: 'rate5' },
      { title: '审核完成率', dataIndex: 'PLAN_CPLTRATE', key: 'PLAN_CPLTRATE', formatter: 'rate3' },
      {
        title: '审核报告家数',
        dataIndex: 'CHK_REPORT_NUM',
        key: 'CHK_REPORT_NUM',
        formatter: 'rate5',
      },
      {
        title: '整改计划家数',
        dataIndex: 'REFORM_PLAN_NUM',
        key: 'REFORM_PLAN_NUM',
        formatter: 'rate5',
      },
      {
        title: '整改验证家数',
        dataIndex: 'REFORM_VERIFY_NUM',
        key: 'REFORM_VERIFY_NUM',
        formatter: 'rate5',
      },
      {
        title: '全年完成率',
        dataIndex: 'YEAR_CPLTRATE',
        key: 'YEAR_CPLTRATE',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search5 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setJCGL05.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setJCGL05.columnKeyList = res2.data;
  };
  const setJCGL05dataSource = async () => {
    await search5(2023041016395784, props.overmonth);

    queryAggregate(datatype.parameter('YM', props.overmonth, 2023041016395784)).then((result) => {
      setJCGL05.dataSource = mergetableStyle.toTableData(
        result.data,
        '2023041016395784',
        setJCGL05.keyColumnNameList,
        setJCGL05.columnKeyList,
      );
    });
  };

  const setJCGL06 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '公开采购比例',
        children: ['PUBLIC_PUR_SUM_TARGET', 'PUBLIC_PUR_SUM_RATE'],
      },
      {
        title: '竞争性策略比例',
        children: ['COMPETITION_PUR_STRATEGY_SUM_TARGET', 'COMPETITION_PUR_STRATEGY_SUM_RATE'],
      },
      {
        title: '非竞争采购比例',
        children: [
          'NOT_COMPETITION_PUR_STRATEGY_SUM_TARGET',
          'NOT_COMPETITION_PUR_STRATEGY_SUM_RATE',
        ],
      },
      {
        title: '本年累计采购策略执行情况',
        children: [
          'CORP_STRATEGY_RATE',
          'BIDDING_RATE',
          'ONLINE_PUBLIC_INQUIRY_RATE',
          'PRIPAR_RATE',
          'COMPETITION_NEGOTIATION_RATE',
          'COMPETITION_AFTER_ADDITIONAL_RATE',
          'BRAND_MONOPOLY_DS_RATE',
          'BRAND_MONOPOLY_AGENCY_RATE',
          'EXCLUSIVE_NEGOTIATION_RATE',
          'OVERSEAS_DIRECT_RATE',
          'OTHER_DIRECT_RATE',
        ],
      },
    ],
    columns: [
      { title: '钢铁基地', dataIndex: 'BASE_NAME', key: 'BASE_NAME', width: '6%' },
      {
        title: '合作策略',
        dataIndex: 'CORP_STRATEGY_RATE',
        key: 'CORP_STRATEGY_RATE',
        formatter: 'rate3',
      },
      { title: '招标', dataIndex: 'BIDDING_RATE', key: 'BIDDING_RATE', formatter: 'rate3' },
      {
        title: '网上公开询价',
        dataIndex: 'ONLINE_PUBLIC_INQUIRY_RATE',
        key: 'ONLINE_PUBLIC_INQUIRY_RATE',
        formatter: 'rate3',
      },
      { title: '比价', dataIndex: 'PRIPAR_RATE', key: 'PRIPAR_RATE', formatter: 'rate3' },
      {
        title: '竞争性谈判',
        dataIndex: 'COMPETITION_NEGOTIATION_RATE',
        key: 'COMPETITION_NEGOTIATION_RATE',
        formatter: 'rate3',
      },
      {
        title: '竞争后增订',
        dataIndex: 'COMPETITION_AFTER_ADDITIONAL_RATE',
        key: 'COMPETITION_AFTER_ADDITIONAL_RATE',
        formatter: 'rate3',
      },
      {
        title: '品牌垄断直供',
        dataIndex: 'BRAND_MONOPOLY_DS_RATE',
        key: 'BRAND_MONOPOLY_DS_RATE',
        formatter: 'rate3',
      },
      {
        title: '品牌垄断代理',
        dataIndex: 'BRAND_MONOPOLY_AGENCY_RATE',
        key: 'BRAND_MONOPOLY_AGENCY_RATE',
        formatter: 'rate3',
      },
      {
        title: '独家谈判',
        dataIndex: 'EXCLUSIVE_NEGOTIATION_RATE',
        key: 'EXCLUSIVE_NEGOTIATION_RATE',
        formatter: 'rate3',
      },
      {
        title: '海外公司定向',
        dataIndex: 'OVERSEAS_DIRECT_RATE',
        key: 'OVERSEAS_DIRECT_RATE',
        formatter: 'rate3',
      },
      {
        title: '其他定向',
        dataIndex: 'OTHER_DIRECT_RATE',
        key: 'OTHER_DIRECT_RATE',
        formatter: 'rate3',
      },
      {
        title: '目标',
        dataIndex: 'PUBLIC_PUR_SUM_TARGET',
        key: 'PUBLIC_PUR_SUM_TARGET',
        formatter: 'rate3',
      },
      {
        title: '实绩',
        dataIndex: 'PUBLIC_PUR_SUM_RATE',
        key: 'PUBLIC_PUR_SUM_RATE',
        formatter: 'rate3',
        style: {
          background: '#f5e8b9',
        },
        mergeColumn: 'PUBLIC_PUR_SUM_TARGET,PUBLIC_PUR_SUM_RATE',
        emphasisColor: 'colorfourjcgl0601',
        after: 'PUBLIC_PUR_SUM_RATE',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      {
        title: '目标',
        dataIndex: 'COMPETITION_PUR_STRATEGY_SUM_TARGET',
        key: 'COMPETITION_PUR_STRATEGY_SUM_TARGET',
        formatter: 'rate3',
      },
      {
        title: '实绩',
        dataIndex: 'COMPETITION_PUR_STRATEGY_SUM_RATE',
        key: 'COMPETITION_PUR_STRATEGY_SUM_RATE',
        formatter: 'rate3',
        style: {
          background: '#f5e8b9',
        },
        mergeColumn: 'COMPETITION_PUR_STRATEGY_SUM_RATE,COMPETITION_PUR_STRATEGY_SUM_TARGET',
        emphasisColor: 'colorfourjcgl0602',
        after: 'COMPETITION_PUR_STRATEGY_SUM_RATE',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
      {
        title: '目标',
        dataIndex: 'NOT_COMPETITION_PUR_STRATEGY_SUM_TARGET',
        key: 'NOT_COMPETITION_PUR_STRATEGY_SUM_TARGET',
        formatter: 'rate3',
      },
      {
        title: '实绩',
        dataIndex: 'NOT_COMPETITION_PUR_STRATEGY_SUM_RATE',
        key: 'NOT_COMPETITION_PUR_STRATEGY_SUM_RATE',
        formatter: 'rate3',
        style: {
          background: '#f5e8b9',
        },
        mergeColumn:
          'NOT_COMPETITION_PUR_STRATEGY_SUM_TARGET,NOT_COMPETITION_PUR_STRATEGY_SUM_RATE',
        emphasisColor: 'colorfourjcgl0603',
        after: 'NOT_COMPETITION_PUR_STRATEGY_SUM_RATE',
        method: {
          complex: true,
          expression: '{1}',
        },
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search6 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      setJCGL06.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    setJCGL06.columnKeyList = res2.data;
  };
  const setJCGL06dataSource = async () => {
    await search6(2023041016395783, props.overmonth);
    queryAggregate(datatype.parameter('YM', props.overmonth, 2023041016395783)).then((result) => {
      setJCGL06.dataSource = mergetableStyle.toTableData(
        result.data,
        '2023041016395783',
        setJCGL07.keyColumnNameList,
        setJCGL07.columnKeyList,
      );
    });
  };

  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal.value.changeInfo(widgetId, columns, res.data, areaName);
  };
  const dialogClose = () => {
    state.visible = false;
  };
  const manageSearch = () => {
    setJCGL01dataSource();
    setJCGL02dataSource();
    setJCGL03dataSource();
    setJCGL04dataSource();
    setJCGL05dataSource();
    setJCGL06dataSource();
  };
  defineExpose({
    manageSearch,
  });
  watch(
    () => props.overmonth,
    (c) => {
      manageSearch();
      state.yearMonth = c;
    },
  );
</script>

<style lang="less" scoped>
  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }

  .blockstyle {
    margin: 5px 0;
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .HeightStyle {
    height: 450px;
  }

  .sbstyle {
    cursor: pointer;
  }
</style>
