<template>
  <div style="width: 100%">
    <a-row :gutter="10" style="margin: 10px 0px">
      <SummaryPage :yearmonth="props.overmonth" />
    </a-row>
    <a-row class="blockstyle">
      <a-col :md="{ span: 24 }">
        <a-tabs
          v-model:activeKey="indexNav.activeKey"
          type="card"
          centered
          size="large"
          @change="onactive"
        >
          <a-tab-pane key="概况" tab="概况">
            <OverviewGkPage ref="GkPage" :yearmonth="props.overmonth" />
          </a-tab-pane>
          <a-tab-pane key="质量" tab="质量">
            <OverviewZlPage ref="ZlPage" :yearmonth="props.overmonth" />
          </a-tab-pane>
          <a-tab-pane key="成本" tab="成本">
            <OverviewCbPage ref="CbPage" :yearmonth="props.overmonth" />
          </a-tab-pane>
          <a-tab-pane key="库存" tab="库存">
            <OverviewKcPage ref="KcPage" :yearmonth="props.overmonth" />
          </a-tab-pane>
          <a-tab-pane key="资金" tab="资金">
            <OverviewZjPzge ref="ZjPzge" :yearmonth="props.overmonth" />
          </a-tab-pane>
          <a-tab-pane key="效率" tab="效率">
            <OverviewXlModule ref="OvervXlModule" :overmonth="props.overmonth" />
          </a-tab-pane>
          <a-tab-pane key="双碳" tab="双碳">
            <OverviewBicarbon ref="OvervBicarbon" :overmonth="props.overmonth" />
          </a-tab-pane>
          <a-tab-pane key="服务" tab="服务">
            <OverviewGiveServiceto ref="OvervServic" :overmonth="props.overmonth"
          /></a-tab-pane>
          <a-tab-pane key="管理" tab="管理">
            <OverviewBasicManagementModule ref="OvervManagement" :overmonth="props.overmonth" />
          </a-tab-pane>
          <a-tab-pane key="决定事项" tab="决定事项">
            <OverviewMeetingMinutes />
          </a-tab-pane>
          <a-tab-pane key="工作提示" tab="工作提示">
            <OvervierWorkTips
              ref="OvervierWork"
              :conditionalmonth="'总览'"
              :overmonth="props.overmonth"
          /></a-tab-pane>
          <a-tab-pane key="会议材料" tab="会议材料">
            <OvervierMeetingmaterials ref="OvervieMeeting" :title-name="'Overvie'" />
          </a-tab-pane>
        </a-tabs>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, ref, nextTick, watch } from 'vue';
  import OvervierMeetingmaterials from './Overviermaterials.vue';
  import OvervierWorkTips from './OvervierWork.vue';
  import OverviewMeetingMinutes from './OvervierMinutes.vue';
  import OverviewBasicManagementModule from './OverviewBasicManagement.vue';
  import OverviewGiveServiceto from './OverviewGiveService.vue';
  import OverviewXlModule from './OverviewXl.vue';
  import OverviewBicarbon from './OverviewBicarbons.vue';
  import OverviewGkPage from './OverviewGkPage.vue';
  import OverviewZlPage from './OverviewZlPage.vue';
  import OverviewCbPage from './OverviewCbPage.vue';
  import OverviewKcPage from './OverviewKcPage.vue';
  import OverviewZjPzge from './OverviewZjPzge.vue';
  import SummaryPage from './SummaryPage.vue';
  const props = defineProps({
    overmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });

  const indexNav = reactive({
    activeKey: '概况',
  });
  const OvervieMeeting = ref();
  const OvervierWork = ref();
  const OvervManagement = ref();
  const OvervServic = ref();
  const OvervBicarbon = ref();
  const OvervXlModule = ref();
  const GkPage = ref();
  const ZlPage = ref();
  const CbPage = ref();
  const KcPage = ref();
  const ZjPzge = ref();
  const onactive = (val) => {
    indexNav.activeKey = val;
    ValueChange();
  };

  const ValueChange = () => {
    nextTick(() => {
      const val = indexNav.activeKey;
      if (val == '会议材料') {
        OvervieMeeting.value.searchPDF('Overvie');
      } else if (val == '工作提示') {
        OvervierWork.value.select1('总览');
      } else if (val == '管理') {
        OvervManagement.value.manageSearch();
      } else if (val == '服务') {
        OvervServic.value.ServiceSearch();
      } else if (val == '双碳') {
        OvervBicarbon.value.bicarSearch();
      } else if (val == '效率') {
        OvervXlModule.value.xlSerch();
      } else if (val == '概况') {
        GkPage.value.gkInitialloading();
      } else if (val == '质量') {
        ZlPage.value.zlInitialloading();
      } else if (val == '成本') {
        CbPage.value.cbInitialloading();
      } else if (val == '库存') {
        KcPage.value.kcInitialloading();
      } else if (val == '资金') {
        ZjPzge.value.zjInitialloading();
      }
    });
  };

  watch(
    () => props.overmonth,
    () => {
      ValueChange();
    },
  );
</script>

<style lang="less" scoped>
  //设置tab样式
  /deep/.ant-tabs-tab-btn {
    font-size: 24px;
    font-weight: bold;
    color: #000c17;
  }
  /deep/ .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
    background: #f5e8b9;
    color: #36a6fe;
    border-bottom: 3px solid #36a6fe;
  }

  // 设置表格样式
  /deep/ .ant-table-tbody > tr > td {
    font-family: @font-family;
    color: @heading-color;
    font-size: 22px;
    text-align: center;
    border: 1px solid #000000;
  }

  /deep/ .ant-table-thead > tr > th {
    font-family: @font-family;
    color: @heading-color;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    background-color: #f5e8b9;
    border: 1px solid #000000;
  }
  .tabs-style {
    margin-top: 10px;
    background: #fff;
    .tabs-col {
      margin: 15px 0px 5px 0px;
    }
  }
  .blockstyle {
    font-family: @font-family;
    background: white;
    margin: 10px 0px;
  }

  /deep/ .ant-modal {
    .ant-modal-body {
      padding: 10px;
    }
    .ant-modal-title {
      font-family: @font-family;
      font-size: 26px;
      font-weight: bold;
      color: @heading-color;
    }
    .ant-table-tbody > tr > td {
      font-family: @font-family;
      color: @heading-color;
      font-size: 22px;
      text-align: center;
    }

    .ant-table-thead > tr > th {
      font-family: @font-family;
      color: @heading-color;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      background-color: #f5e8b9;
    }
  }
</style>
