<template>
  <div>
    <a-tabs v-model:activeKey="activeKey" centered @change="changeTabList">
      <a-tab-pane
        v-for="item in dict.getItemsByDictCode('HOMEPAGE_PERF_ANALYSIS')"
        :key="item.itemValue"
        :tab="item.itemText"
      ></a-tab-pane>
    </a-tabs>
    <div class="p-1x">
      <a-row :gutter="12">
        <a-col
          v-for="(item, index) in state.detailList"
          :key="item.itemValue"
          :span="24"
          class="mb-1x"
        >
          <a-row :gutter="12">
            <a-col :span="12">
              <a-card :bordered="false">
                <ANTable
                  :header-title="`${item.itemText}`"
                  :columns="item.heads"
                  :data-source="item.values"
                  :loading="state.loading"
                >
                </ANTable>
              </a-card>
            </a-col>
            <a-col :span="12">
              <a-card :bordered="false">
                <div :id="`barChart${index}`" :style="{ width: '100%', height: '320px' }"></div>
              </a-card>
            </a-col>
          </a-row>
        </a-col>
      </a-row>
    </div>
  </div>
</template>
<script setup lang="ts">
  import { onMounted, reactive, ref } from 'vue';
  import * as echarts from 'echarts';
  import { useTable } from '@/components/core/dynamic-table';
  import { queryAnalysisList } from '@/api/home/apiList';
  import dict from '@/utils/dict.js';

  const activeKey = ref();
  const [ANTable] = useTable({
    search: false,
    pagination: false,
    size: 'small',
    rowKey: 'id',
    bordered: true,
    scroll: { y: 300 },
  });
  const state = reactive<any>({
    platformColumns: [],
    dataSource: [],
    loading: false,
    purchaseColumns: [],
    detailList: [],
  });

  const QueryKpiData = async (code) => {
    if (!activeKey.value && !code) return;
    const { data } = await queryAnalysisList({ perfGCode: code });
    if (data.success && data.data) {
      const heads: any = [];
      data.data.heads.forEach((x) => {
        const c = { title: x.description, dataIndex: x.columnName, ellipsis: true, width: 120 };
        heads.push(c);
      });
      data.data.heads = heads;
      return data.data;
    }
  };
  const convertData = async (list) => {
    for (let i = 0; i < list.length; i++) {
      const dataList = await QueryKpiData(list[i]?.itemValue);
      list[i] = { ...list[i], ...dataList };
      // 组装图表数据
      const xVal =
        dataList?.values.length > 0
          ? dataList.values.map((item) => {
              return item.evaluatedOrgName;
            })
          : [];
      const exal: any = [];
      for (let j = 0; j < dataList?.heads.length; j++) {
        if (['qSedGoal', 'quarterPerf'].includes(dataList.heads[j].dataIndex)) {
          exal.push({
            name: dataList.heads[j].title,
            type: 'bar',
            barMaxWidth: '60px',
            data:
              dataList?.values.length > 0
                ? dataList.values.map((item) => {
                    return dataList.heads[j].dataIndex == 'qSedGoal'
                      ? item.qSedGoal || 0
                      : item.quarterPerf || 0;
                  })
                : [],
          });
        }
      }
      setTimeout(() => {
        initChart(`barChart${i}`, list[i].itemText, xVal, exal);
      }, 500);
    }
    state.detailList = list;
  };
  const changeTabList = async (val) => {
    switch (val) {
      //营收
      case 'HOMEPAGE_REVENUE': {
        convertData(dict.getItemsByDictCode('HOMEPAGE_REVENUE'));
        break;
      }
      //利润
      case 'HOMEPAGE_PROFIT':
        convertData(dict.getItemsByDictCode('HOMEPAGE_PROFIT'));
        break;
      //质量
      case 'HOMEPAGE_QUALITY':
        convertData(dict.getItemsByDictCode('HOMEPAGE_QUALITY'));
        break;
      //成本
      case 'HOMEPAGE_COST':
        convertData(dict.getItemsByDictCode('HOMEPAGE_COST'));
        break;
      //效率
      case 'HOMEPAGE_EFFICIENCY':
        convertData(dict.getItemsByDictCode('HOMEPAGE_EFFICIENCY'));
        break;
    }
  };
  /*** 柱状图 ***/
  /*** 柱状图公共配置 */
  const commonOption = () => {
    return {
      title: {
        text: 'World Population',
      },
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'shadow',
        },
      },
      legend: {
        right: '20',
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true,
      },
      yAxis: {
        type: 'value',
        boundaryGap: [0, 0.01],
      },
    };
  };
  const initChart = (id, title, xVal, serVal) => {
    // 把配置和数据放这里
    const chartDom = document.getElementById(id)!;
    const myChart = echarts.init(chartDom);

    const option = {
      ...commonOption(),
      title: {
        text: title,
      },
      xAxis: {
        type: 'category',
        data: xVal,
      },
      series: serVal,
    };

    option && myChart.setOption(option);
  };
  onMounted(() => {
    activeKey.value = dict.getItemsByDictCode('HOMEPAGE_PERF_ANALYSIS')[0]?.itemValue || '';
    changeTabList(activeKey.value);
  });
</script>
<style lang="less" scoped>
  .ant-tabs {
    /deep/.ant-tabs-nav {
      background: #f9f9f9;
      margin-bottom: 0;
      padding: 0 10px;
    }
  }
  .ant-card {
    min-height: 345px;
  }
</style>
