<template>
  <div>
    <a-tabs v-model:activeKey="activeKey" centered @change="changeTabs">
      <a-tab-pane v-for="item in deptTablist" :key="item.code" :tab="item.title"></a-tab-pane>
    </a-tabs>
    <div class="p-1x">
      <a-row :gutter="14">
        <a-col :span="17">
          <a-card :bordered="false">
            <DeptTable
              :header-title="`${state?.tabTitle?.title}绩效明细`"
              :columns="state.DeptKpiColumns"
              :data-request="QueryDeptKpiData"
              :loading="state.loading"
              :scroll="scrollFlag"
            >
            </DeptTable>
          </a-card>
        </a-col>
        <a-col :span="7">
          <a-card :bordered="false">
            <div id="perChart" :style="{ width: '100%', height: '380px' }"></div>
          </a-card>
        </a-col>
      </a-row>
    </div>
  </div>
</template>
<script setup lang="ts">
  import { onMounted, reactive, ref, watch } from 'vue';
  import * as echarts from 'echarts';
  import { isEmpty } from 'lodash-es';
  import { useTable } from '@/components/core/dynamic-table';
  import { queryDeptKpiList } from '@/api/home/apiList';
  import { getDeptAll } from '@/api/system/dept/index';
  import dict from '@/utils/dict';

  const activeKey = ref();
  const [DeptTable, dynamicTableInstance] = useTable({
    search: false,
    pagination: false,
    size: 'small',
    rowKey: 'id',
    bordered: true,
  });
  const state = reactive<any>({
    DeptKpiColumns: [],
    dataSource: [],
    loading: false,
    TaskColumns: [],
    tabTitle: '',
    chartData: [],
    indicatorArr: [],
    seriesData: [],
  });
  const scrollFlag = ref<any>({});
  const QueryDeptKpiData = async () => {
    if (!activeKey.value) return;
    const { data } = await queryDeptKpiList({ orgCode: activeKey.value });
    let values: any = [];
    if (data.success && data.data) {
      scrollFlag.value = { x: 2000, y: 300 };
      const heads: any = [];
      data.data.heads.forEach((x) => {
        const c = { title: x.description, dataIndex: x.columnName, width: 100 };

        if (x.columnName === 'perfGCategory') {
          Object.assign(c, {
            width: 150,
            fixed: 'left',
            customRender: ({ record }) => {
              const obj = dict.getValue('INDICATOR_CATEGORY', record.perfGCategory);
              if (!isEmpty(obj)) {
                return obj.itemText;
              } else {
                return '-';
              }
            },
          });
        }
        if (x.columnName === 'perfGName') {
          Object.assign(c, {
            width: 150,
            fixed: 'left',
          });
        }
        if (x.columnName === 'perfGOrgCode') {
          Object.assign(c, {
            customRender: ({ record }) => {
              const obj = dict.getValue('INDICATOR_UNIT', record.perfGOrgCode);
              if (!isEmpty(obj)) {
                return obj.itemText;
              } else {
                return '-';
              }
            },
          });
        }
        if (x.columnName === 'finishedRate') {
          Object.assign(c, {
            hideInTable: true,
          });
        }
        heads.push(c);
      });
      state.DeptKpiColumns = heads;
      values = data.data.values;
    }
    state.chartData = values.map((item) => {
      return { finishedRate: item.finishedRate, perfGName: item.perfGName };
    });
    return {
      list: values,
    };
  };
  const deptTablist = ref();
  const queryDept = async () => {
    const { rows } = (await getDeptAll()) as any;
    const FirstDeptList = rows.children[0].children;
    deptTablist.value = FirstDeptList;
    //默认选择第一项,并获取第一项的标题，用于table标题赋值
    activeKey.value = FirstDeptList[0].code;
    state.tabTitle = FirstDeptList[0];
    dynamicTableInstance.reload();
  };

  const changeTabs = (ac) => {
    state.tabTitle = deptTablist.value.filter((item) => {
      if (item.code == ac) return item.title;
    })[0];
    dynamicTableInstance.reload();
  };
  //雷达图
  const initChart = () => {
    // 把配置和数据放这里
    const chartDom = document.getElementById('perChart')!;
    const myChart = echarts.init(chartDom);

    const option = {
      title: {
        text: '季度完成情况',
      },
      tooltip: {
        trigger: 'item',
        formatter: function (params) {
          let relVal = params.name;
          for (let i = 0; i < params.data.value.length; i++) {
            relVal +=
              '<br/>' + state.indicatorArr[i].name + ' : ' + params.data.value[i] + ' ' + '%';
          }
          return relVal;
        },
      },
      radar: {
        radius: '60%',
        center: ['50%', '60%'],
        indicator: state.indicatorArr,
      },
      series: [
        {
          name: '基础数据',
          type: 'radar',
          data: state.seriesData,
        },
      ],
    };

    option && myChart.setOption(option);
  };
  watch(
    () => state.chartData,
    (newVal, _oldVal) => {
      state.indicatorArr =
        newVal.length > 0
          ? newVal.map((item) => {
              return { name: item.perfGName };
            })
          : [{}, {}, {}, {}, {}];
      const defaultArr = <any>[];
      const maxArr = <any>[];
      for (let i = 0; i < newVal.length; i++) {
        defaultArr.push('80');
        maxArr.push('100');
      }
      state.seriesData =
        newVal.length > 0
          ? [
              {
                value: defaultArr,
              },
              {
                value: maxArr,
              },
              {
                value: newVal.map((item) => {
                  return item.finishedRate * 100;
                }),
                name: '完成率',
              },
            ]
          : [{}, {}, {}, {}, {}];
      initChart();
    },
    { deep: true },
  );
  onMounted(() => {
    queryDept();
  });
</script>
<style lang="less" scoped>
  .ant-tabs {
    /deep/.ant-tabs-nav {
      background: #f9f9f9;
      margin-bottom: 0;
      padding: 0 10px;
    }
  }
  .ant-card {
    min-height: 420px;
  }
</style>
