<template>
  <div>
    <a-tabs v-model:activeKey="activeKey" centered @change="changeTabs">
      <a-tab-pane v-for="item in deptTablist" :key="item.code" :tab="item.title"></a-tab-pane>
    </a-tabs>
    <div class="p-1x">
      <a-row :gutter="12">
        <a-col :span="24">
          <a-card :bordered="false">
            <WorkTable
              header-title="重点工作激励项目"
              :columns="state.WorkColumns"
              :data-request="QueryWorkData"
              :loading="state.loading"
              :scroll="scrollFlag"
            >
            </WorkTable>
          </a-card>
        </a-col>
      </a-row>
    </div>
  </div>
</template>
<script setup lang="tsx">
  import { onMounted, reactive, ref } from 'vue';
  import { useTable } from '@/components/core/dynamic-table';
  import { queryDeptWorkList } from '@/api/home/apiList';
  import { getDeptAll } from '@/api/system/dept/index';

  const activeKey = ref();
  const [WorkTable, dynamicTableInstance] = useTable({
    search: false,
    pagination: false,
    size: 'small',
    rowKey: 'id',
    bordered: true,
  });
  const state = reactive<any>({
    WorkColumns: [],
    dataSource: [],
    loading: false,
    TaskColumns: [],
  });

  const scrollFlag = ref<any>({});
  const QueryWorkData = async () => {
    if (!activeKey.value) return;
    const { data } = await queryDeptWorkList({ orgCode: activeKey.value });
    let values: any = [];
    if (data.success && data.data) {
      const heads: any = [];
      data.data.heads.forEach((x) => {
        const c = { title: x.description, dataIndex: x.columnName, ellipsis: true, width: 120 };
        if (x.columnName === 'finishedDescription') {
          Object.assign(c, {
            customRender({ record }) {
              if (!record.finishedDescription || record.finishedDescription == '<p><br></p>') {
                return '-';
              } else {
                return <div innerHTML={record.finishedDescription}></div>;
              }
            },
          });
        }
        heads.push(c);
      });
      state.WorkColumns = heads;
      values = data.data.values;
    }
    return {
      list: values,
    };
  };
  const deptTablist = ref();
  const queryDept = async () => {
    const { rows } = (await getDeptAll()) as any;
    const FirstDeptList = rows.children[0].children;
    deptTablist.value = FirstDeptList;
    //默认选择第一项
    activeKey.value = FirstDeptList[0].code;
    dynamicTableInstance.reload();
  };

  const changeTabs = () => {
    dynamicTableInstance.reload();
  };

  onMounted(() => {
    queryDept();
  });
</script>
<style lang="less" scoped>
  .ant-tabs {
    /deep/.ant-tabs-nav {
      background: #f9f9f9;
      margin-bottom: 0;
      padding: 0 10px;
    }
  }
  .ant-card {
    min-height: 420px;
  }
</style>
