<template>
  <div class="p-1x">
    <a-row :gutter="12">
      <a-col :span="24">
        <a-card :bordered="false">
          <KPITable
            header-title="工业品KPI绩效明细"
            :columns="state.KpiColumns"
            :data-request="QueryKpiData"
            :loading="state.loading"
          >
          </KPITable>
        </a-card>
      </a-col>
    </a-row>
    <a-row :gutter="12" class="mt-1x">
      <a-col :span="24">
        <a-card :bordered="false">
          <TaskTable
            header-title="工业品战略任务"
            :columns="state.TaskColumns"
            :data-request="QueryTaskData"
            :loading="state.loading"
          >
          </TaskTable>
        </a-card>
      </a-col>
    </a-row>
  </div>
</template>
<script setup lang="tsx">
  import { reactive } from 'vue';
  import { isEmpty } from 'lodash-es';
  import { useTable } from '@/components/core/dynamic-table';
  import { queryKpiList, queryPriorityList } from '@/api/home/apiList';
  import dict from '@/utils/dict';

  const [KPITable] = useTable({
    search: false,
    pagination: false,
    size: 'small',
    rowKey: 'id',
    bordered: true,
  });
  const [TaskTable] = useTable({
    search: false,
    pagination: false,
    size: 'small',
    rowKey: 'id',
    bordered: true,
  });
  const state = reactive<any>({
    KpiColumns: [],
    dataSource: [],
    loading: false,
    TaskColumns: [],
  });

  const QueryKpiData = async () => {
    const result = await queryKpiList({});
    let values: any = [];
    if (result.success && result.data) {
      const heads: any = [];
      result.data.heads.forEach((x) => {
        const c = { title: x.description, dataIndex: x.columnName, ellipsis: true, width: 120 };
        if (x.columnName === 'perfGCategory') {
          Object.assign(c, {
            customRender: ({ record }) => {
              const obj = dict.getValue('INDICATOR_CATEGORY', record.perfGCategory);
              if (!isEmpty(obj)) {
                return obj.itemText;
              } else {
                return '-';
              }
            },
          });
        }
        if (x.columnName === 'timePeriod') {
          Object.assign(c, {
            align: 'center',
            customRender: ({ record }) => {
              const obj = dict.getValue('TIME_PERIOD', record.timePeriod);
              if (!isEmpty(obj)) {
                return obj.itemText;
              } else {
                return '-';
              }
            },
          });
        }
        if (x.columnName === 'perfGOrgCode') {
          Object.assign(c, {
            customRender: ({ record }) => {
              const obj = dict.getValue('INDICATOR_UNIT', record.perfGOrgCode);
              if (!isEmpty(obj)) {
                return obj.itemText;
              } else {
                return '-';
              }
            },
          });
        }
        heads.push(c);
        state.KpiColumns = heads;
        values = result.data.values;
      });
    }
    return {
      list: values,
    };
  };
  const QueryTaskData = async () => {
    const result = await queryPriorityList({});
    let values: any = [];
    if (result.success && result.data) {
      const heads: any = [];
      result.data.heads.forEach((x) => {
        const c = { title: x.description, dataIndex: x.columnName, width: 120 };
        if (x.columnName == 'perfGName') {
          c.width = 80;
        }
        if (x.columnName === 'superinDeptName') {
          c.width = 60;
        }
        if (x.columnName === 'unfinishedDescription') {
          Object.assign(c, {
            customRender({ record }) {
              if (!record.unfinishedDescription || record.unfinishedDescription == '<p><br></p>') {
                return '-';
              } else {
                return <div innerHTML={record.unfinishedDescription}></div>;
              }
            },
          });
        }
        if (x.columnName === 'finishedDescription') {
          Object.assign(c, {
            customRender({ record }) {
              if (!record.finishedDescription || record.finishedDescription == '<p><br></p>') {
                return '-';
              } else {
                return <div innerHTML={record.finishedDescription}></div>;
              }
            },
          });
        }

        heads.push(c);
      });
      state.TaskColumns = heads;
      values = result.data.values;
    }
    return {
      list: values,
    };
  };
</script>
<style lang="less" scoped>
  .ant-card {
    min-height: 260px;
  }
</style>
