<template>
  <div class="GoalOverview">
    <span class="GoalOverview-title">目标总览</span>
    <a-tabs
      v-model:activeKey="state.activeKey"
      :centered="true"
      size="large"
      :tab-bar-style="{ background: '#FFF2C9', width: '100%' }"
      @change="changeActive"
    >
      <a-tab-pane key="经营目标" tab="经营目标">
        <OperationTarget ref="targets" :year-month="state.yearMonth" />
      </a-tab-pane>
      <a-tab-pane key="运营目标" tab="运营目标">
        <OperativeGoals ref="goals" :year-month="state.yearMonth" />
      </a-tab-pane>
      <a-tab-pane key="管控目标" tab="管控目标">
        <ControlObjectives ref="objectives" :year-month="state.yearMonth" />
      </a-tab-pane>
    </a-tabs>
    <GoalTrend :trend="state.activeKey" :year-month="state.yearMonth" />
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch, ref, nextTick } from 'vue';
  import GoalTrend from './GoalTrend.vue';
  import OperationTarget from './components/OperationTarget.vue';
  import OperativeGoals from './components/OperativeGoals.vue';
  import ControlObjectives from './components/ControlObjectives.vue';

  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const targets = ref();
  const goals = ref();
  const objectives = ref();
  watch(
    () => props.yearMonth,
    (c) => {
      // alert(c);
      state.yearMonth = c;
    },
  );
  const state = reactive({
    activeKey: '经营目标',
    yearMonth: '',
  });
  const changeActive = (val) => {
    nextTick(() => {
      if (val == '经营目标') {
        targets.value.targetSearch();
      } else if (val == '运营目标') {
        goals.value.goalsSearch();
      } else if (val == '管控目标') {
        objectives.value.objectivesSearch();
      }
    });
  };
</script>

<style lang="less" scoped>
  .GoalOverview {
    width: 100%;
    margin-top: -35px;
    .GoalOverview-title {
      font-family: Source Han Sans CN;
      font-size: 30px;

      font-weight: bold;
      color: #3d3d3d;
      position: relative;
      z-index: 999;
      top: 52px;
      margin-top: -20px;
    }
  }
</style>
