<template>
  <div>
    <DraggableModal
      :visible="state.visible"
      :title="attrs.title"
      :width="1180"
      :body-style="{
        'max-height': '500px',
        'min-height': '320px',
        overflow: 'auto',
        padding: '8px 16px 0',
      }"
      destroy-on-close
      @cancel="closeModal"
    >
      <DynamicTable :data-request="loadData" :columns="state.columns" :loading="state.loading">
        <template #toolbar>
          <a-button
            v-if="attrs.level == '1'"
            type="primary"
            :loading="state.saveLoading"
            @click="saveList"
            >审核</a-button
          >
        </template>
        <template #headerCell="{ column }">
          <template v-if="column.key === 'Approval'">
            <a-checkbox v-model:checked="state.checkAll" @change="(e) => CheckAllChange(e, true)">
              通过
            </a-checkbox>
            <a-checkbox
              v-model:checked="state.uncheckAll"
              @change="(e) => CheckAllChange(e, false)"
            >
              驳回
            </a-checkbox>
          </template>
        </template>
        <template #bodyCell="{ column, record: row, index }">
          <template v-if="column.key === 'Approval'">
            <a-radio-group v-model:value="row.rowStatus" name="radioGroup" class="mb-1x">
              <a-radio :value="'30'"> 通过 </a-radio>
              <a-radio :value="'40'"> 驳回 </a-radio>
            </a-radio-group>
            <a-input v-model:value="row.auditRemark" placeholder="请输入理由" />
          </template>
        </template>
      </DynamicTable>

      <a-row v-if="attrs.level == '2'" class="m-2x">
        <a-col :span="2"> 审核备注： </a-col>
        <a-col :span="16">
          <a-textarea v-model:value="state.description" placeholder="请输入备注" :rows="3" />
        </a-col>
      </a-row>

      <template #footer>
        <div v-if="attrs.level == '2'" class="text-c">
          <a-button @click="closeModal">取消</a-button>
          <a-button type="primary" @click="confirmInfo">确定</a-button>
        </div>
      </template>
    </DraggableModal>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch, onMounted, useAttrs } from 'vue';
  import { isEmpty } from 'lodash-es';
  import { message } from 'ant-design-vue';
  import { baseColumns } from './components/ApprovalColumns';
  import { useTable, type LoadDataParams } from '@/components/core/dynamic-table';
  import { queryApprovalList } from '@/api/orgPerList/perList';
  import { audit, leaderConfirm } from '@/api/orgPerList/setUp';
  import { DraggableModal } from '@/components/core/draggable-modal';
  import { genDeptTreeItem } from '@/api/system/dept/service';
  import { getDeptAll } from '@/api/system/dept';

  defineOptions({
    name: 'perList',
  });
  const attrs = useAttrs();
  const props = defineProps({
    orgVisible: { type: Boolean },
    orgRecord: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });
  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    rowKey: 'orgCode',
    bordered: true,
    scroll: { x: 300, y: 500 },
    pagination: false,
  });
  type baseType = {
    visible: Boolean;
    columns: TableColumn[] | any;
    dataSource: [];
    loading: Boolean;
    saveLoading: Boolean;
    checkAll: Boolean;
    uncheckAll: Boolean;
    deptTree: any;
    description: String;
  };

  const state = reactive<baseType>({
    visible: false,
    columns: [],
    dataSource: [],
    loading: false,
    saveLoading: false,
    checkAll: false,
    uncheckAll: false,
    deptTree: [],
    description: '',
  });

  const emits = defineEmits(['close']);
  //查询审核列表
  const loadData = async (params: LoadDataParams) => {
    state.loading = true;
    const { data } = await queryApprovalList({
      ...params,
      orgPerformanceCode: props.orgRecord.orgCode,
    });
    if (data.success) {
      state.dataSource =
        data.data?.list.length > 0
          ? data.data?.list.map((it) => {
              return {
                ...it,
                rowStatus: it.auditStatus,
              };
            })
          : [];
    }
    state.description = data.data.leadFeedback;
    state.loading = false;
    if (data.message !== 'OK') {
      message.warning(data.message);
    }
    return {
      list: data.success ? state.dataSource || [] : [],
    };
  };

  // 调整对应列的render;
  baseColumns[0].formItemProps.componentProps = () => {
    return {
      treeData: state.deptTree,
      fieldNames: {
        label: 'title',
        value: 'value',
      },
    };
  };
  /**获取部门列表*/
  const fetchDeptList = async () => {
    const dept = (await getDeptAll()) as any;

    const deptTree: API.TreeDataItem[] = [];
    if (!isEmpty(dept.rows)) {
      for (let i = 0; i < dept.rows.children.length; i++) {
        const temp = dept.rows.children[i];
        deptTree.push(genDeptTreeItem(temp));
      }
    }

    state.deptTree = deptTree;
  };
  const closeModal = () => {
    emits('close');
  };

  const saveList = async () => {
    if (state.dataSource.length == 0) return;
    state.saveLoading = true;
    const params = state.dataSource
      .filter((it: any) => {
        return it?.rowStatus;
      })
      .map((item: any) => {
        return {
          auditRemark: item.auditRemark,
          auditStatus: item.rowStatus,
          ruleCode: item.ruleCode,
        };
      });
    const { data } = await audit(params);
    if (data.success) {
      message.success(data.message);
      dynamicTableInstance.reload();
    } else {
      message.error(data.message);
    }
    state.saveLoading = false;
  };
  // 全选通过&全选驳回
  const CheckAllChange = (_e, type) => {
    for (let i = 0; i < state.dataSource.length; i++) {
      state.dataSource[i].rowStatus = type ? '30' : '40';
    }
    state.uncheckAll = !type;
    state.checkAll = type;
  };
  //领导审核，确认意见
  const confirmInfo = async () => {
    const params = {
      leadFeedback: state.description,
      orgCode: props.orgRecord.orgCode,
      type: '10',
    };
    const { data } = await leaderConfirm(params);
    if (data.success) {
      closeModal();
      message.success(data.message);
    } else {
      message.error(data.message);
    }
  };

  watch(
    () => props.orgVisible,
    (nV) => {
      state.visible = nV;
      state.columns = [
        ...baseColumns,
        {
          title: '审核',
          dataIndex: 'Approval',
          width: 240,
          hideInSearch: true,
          hideInTable: attrs.level == '1' ? false : true,
          fixed: 'right',
        },
      ];
    },
  );

  onMounted(() => {
    fetchDeptList();
  });
</script>
<style lang="less" scoped>
  /deep/.ant-form.ant-form-horizontal {
    margin-bottom: 5px;
  }
</style>
