<template>
  <div>
    <DynamicTable
      row-key="id"
      :data-request="loadTableData"
      :columns="columnList"
      :scroll="{ x: 300, y: 300 }"
      bordered
      size="small"
    >
    </DynamicTable>
  </div>
</template>

<script setup lang="ts">
  import { baseColumns, type TableColumnItem } from './ModelColumns'; //table列
  import { useTable } from '@/components/core/dynamic-table';
  import { datatableAtModelCircumstance } from '@/api/dataAdministration/dataset';
  const columnList = [...baseColumns];
  const props = defineProps({
    datasetIds: { type: Number, default: null },
  });
  const [DynamicTable] = useTable();
  const loadTableData = async (params: LoadDataParams) => {
    const param = {
      datasetIds: props.datasetIds,
      ...params,
    };
    const data = await datatableAtModelCircumstance(param);
    return {
      list: data.data,
      pagination: { total: data.total, page: data.pageNum, size: data.pageSize },
    };
  };
</script>

<style></style>
