<template>
  <div>
    <a-tabs :active-key="activeTab" style="width: 100%" @change="reset">
      <a-tab-pane key="1" tab="小时" class="flex-row">
        <span class="small-h-margin">自</span>
        <a-time-picker
          v-model:value="dateTime"
          class="time-select"
          format="HH:mm"
          @change="setDatetime"
        >
        </a-time-picker>
        <span class="small-h-margin">开始，每</span>
        <a-input v-model:value="editorData.hourInterval" class="number-input"></a-input>
        <span class="small-h-margin">小时运行一次</span>
        <div class="flex-tail"></div>
      </a-tab-pane>
      <a-tab-pane key="2" tab="日" class="flex-row">
        <span class="small-h-margin">每</span>
        <a-input v-model:value="editorData.dayInterval" class="number-input"></a-input>
        <span class="small-h-margin">天，在</span>
        <a-time-picker
          v-model:value="dateTime"
          class="time-select"
          format="HH:mm"
          @change="setDatetime"
        >
        </a-time-picker>
        <span class="small-h-margin">执行</span>
        <div class="flex-tail"></div>
      </a-tab-pane>
      <a-tab-pane key="3" tab="周" class="flex-row">
        <span class="small-h-margin">每</span>
        <a-select
          v-model:value="editorData.days"
          mode="multiple"
          class="day-select"
          :options="weekDayOptions"
        >
        </a-select>
        <span class="small-h-margin">在</span>
        <a-time-picker
          v-model:value="dateTime"
          class="time-select"
          format="HH:mm"
          @change="setDatetime"
        >
        </a-time-picker>
        <span class="small-h-margin">执行</span>
        <div class="flex-tail"></div>
      </a-tab-pane>
      <a-tab-pane key="4" tab="月" class="flex-row">
        <span class="small-h-margin">每</span>
        <a-input v-model:value="editorData.monthInterval" class="number-input"></a-input>
        <span class="small-h-margin">个月，在第</span>
        <!-- <a-input v-model="editorData.day" class="number-input"></a-input> -->
        <a-select
          v-model:value="editorData.days"
          mode="multiple"
          :disabled="editorData.lastDay"
          class="day-select"
        >
          <a-select-option v-for="i in 31" :key="i" :value="i">
            {{ i }}
          </a-select-option>
        </a-select>
        <span class="small-h-margin">天，或</span>
        <a-checkbox v-model:checked="editorData.lastDay"> 最后一天 </a-checkbox>
        <span class="small-h-margin">在</span>
        <a-time-picker
          v-model:value="dateTime"
          class="time-select"
          format="HH:mm"
          @change="setDatetime"
        >
        </a-time-picker>
        <span class="small-h-margin">执行</span>

        <div class="flex-tail"></div>
      </a-tab-pane>
    </a-tabs>
    <div v-show="false" class="expression"
      ><span>表达式：{{ value }}</span></div
    >
  </div>
</template>

<script setup lang="ts">
  import { ref, reactive, watch, onMounted } from 'vue';
  import dayjs, { Dayjs } from 'dayjs';

  defineOptions({
    name: 'MergeTable',
    inheritAttrs: false,
  });

  const emits = defineEmits(['input', 'update:value']);

  const props = defineProps({
    value: { type: String, default: '*/1 * * * *' },
    visibleTabs: {
      type: Array,
      default() {
        return ['minutes', 'hourly', 'daily', 'weekly', 'monthly', 'advanced'];
      },
    },
    preserveStateOnSwitchToAdvanced: { type: Boolean, default: false },
    locale: { type: String, default: 'en' },
    customLocales: { type: Object, default: null },
    cronSyntax: { type: String, default: 'basic' },
  });

  const initialData = {
    hourly: {
      type: 'hourly',
      minutes: 0,
      hours: 0,
      hourInterval: '',
    },
    daily: {
      type: 'daily',
      minutes: 0,
      hours: 0,
      dayInterval: '',
    },
    weekly: {
      type: 'weekly',
      minutes: 0,
      hours: 0,
      days: [],
    },
    monthly: {
      type: 'monthly',
      hours: 0,
      minutes: 0,
      day: 1,
      days: [],
      lastDay: false,
      monthInterval: '',
    },
    advanced: {
      type: 'advanced',
      cronExpression: '',
    },
  };

  const innerValue = ref('*/1 * * * *');

  const editorData = reactive(Object.assign({}, initialData.hourly));
  const currentTab = ref('hourly');
  const dateTime = ref<Dayjs>(dayjs('00:00', 'HH:mm'));

  const activeTab = ref(null);
  const dayInterval = ref(1);
  const daySelectedDisabled = ref(false);
  const tabs = [
    { id: '0', key: 'minutes' },
    { id: '1', key: 'hourly' },
    { id: '2', key: 'daily' },
    { id: '3', key: 'weekly' },
    { id: '4', key: 'monthly' },
    { id: '5', key: 'advanced' },
  ];

  const weekDayOptions = [
    { label: '周日', value: 'SUN' },
    { label: '周一', value: 'MON' },
    { label: '周二', value: 'TUE' },
    { label: '周三', value: 'WED' },
    { label: '周四', value: 'THU' },
    { label: '周五', value: 'FRI' },
    { label: '周六', value: 'SAT' },
  ];

  const cronValidator = require('cron-validator');
  const parseExpression_1 = require('./croneditor/parseExpression');
  const buildExpression_1 = require('./croneditor/buildExpression');

  const reset = (e) => {
    const tabKey = tabs.find((t) => t.id === e).key;
    _resetToTab(tabKey);
    dateTime.value = dayjs('00:00', 'HH:mm');
  };

  const setDatetime = (date, dateStrings) => {
    if (date == null) {
      return;
    }
    editorData.hours = date.$H;
    editorData.minutes = date.$m;
  };

  const __loadDataFromExpression = () => {
    const tabData = (0, parseExpression_1.parseExpression)(props.value);
    if (!props.visibleTabs.includes(tabData.type)) {
      setObj(editorData, {
        type: 'advanced',
        cronExpression: props.value,
      });

      currentTab.value = 'advanced';
      return;
    }

    setObj(editorData, tabData);

    currentTab.value = tabData.type;

    const hour = editorData.hours;
    const minutes = editorData.minutes;

    const str = `${hour || '00'}:${minutes || '00'}`;
    dateTime.value = dayjs(str, 'HH:mm');
  };

  const __updateCronExpression = (state) => {
    if (!(0, buildExpression_1.isStateValid)(state)) {
      innerValue.value = null;
      return;
    }
    const cronExpression = (0, buildExpression_1.buildExpression)(
      props.cronSyntax,
      Object.assign({}, state),
    );

    if (!_isValidExpression(cronExpression)) {
      innerValue.value = null;
      return;
    }
    innerValue.value = cronExpression;

    emits('update:value', cronExpression);
  };

  const _isValidExpression = (cronExpression) => {
    const options =
      props.cronSyntax == 'quartz'
        ? {
            seconds: true,
            allowBlankDay: true,
            alias: true,
          }
        : undefined;

    // 如果有L 替换成0 去验证
    let expression = cronExpression.split('').join('');

    const lIndex = expression.indexOf('L');

    const replaceStr = (str, index, char) => {
      const strAry = str.split('');
      strAry[index] = char;
      return strAry.join('');
    };
    if (lIndex != -1) {
      expression = replaceStr(expression, lIndex, '1');
    }

    const result = cronValidator.isValidCron(expression, options);
    return result;
  };

  const setObj = (dst, src) => {
    for (const key in dst) {
      delete dst[key];
    }
    for (const key in src) {
      dst[key] = src[key];
    }
  };

  const _resetToTab = (tabKey) => {
    currentTab.value = tabKey;
    if (props.preserveStateOnSwitchToAdvanced && tabKey === 'advanced') {
      setObj(editorData, {
        type: 'advanced',
        cronExpression: props.value,
      });
      return;
    }
    //  这个应该会导致引用失效
    setObj(editorData, initialData[tabKey]);
    __updateCronExpression(initialData[tabKey]);
  };

  onMounted(() => {
    // 加载的时候
    activeTab.value = tabs.find((t) => t.key === currentTab.value).id;
  });

  watch(
    () => props.value,
    () => {
      if (props.value == innerValue.value && props.value) {
        __loadDataFromExpression();
      }
    },
    { immediate: true, deep: true },
  );
  watch(
    () => props.cronSyntax,
    () => {
      __updateCronExpression(JSON.parse(JSON.stringify(editorData)));
    },
    { immediate: true, deep: true },
  );

  watch(
    () => editorData,
    (newVal) => {
      const nonReactiveData = JSON.parse(JSON.stringify(newVal));
      __updateCronExpression(nonReactiveData);
    },
    { immediate: true, deep: true },
  );

  watch(
    () => currentTab,
    () => {
      activeTab.value = tabs.find((t) => t.key === currentTab.value).id;
    },
    { deep: true, immediate: true },
  );

  innerValue.value = props.value;
  if (innerValue.value) {
    __loadDataFromExpression();
  }
</script>

<style lang="less" scoped>
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .number-input {
    width: 60px !important;
  }

  .day-select {
    /* 修改请联系王朗，over */
    width: 80px !important;
  }

  .time-select {
    width: 90px !important;
  }

  .flex-tail {
    flex: 1;
  }

  .small-h-margin {
    margin: 0px 5px;
  }

  .expression {
    margin: 5px 0px 5px 5px;
    color: green;
  }

  .small-v-margin {
    margin: 5px 0px;
  }

  /deep/ .ant-time-picker-panel-select-option-selected {
    color: #1890ff !important;
  }

  .time-select {
    color: #1890ff !important;
  }
</style>

<style>
  .ant-time-picker-panel-input {
    color: #1890ff !important;
  }
  /* .ant-time-picker-panel-select-option-selected{
  color: #1890ff !important;
} */
</style>
