<template>
  <!-- 经营目标 -->
  <div class="OperationTarget">
    <a-row :gutter="[16, 10]" class="gutter-style">
      <a-col :md="{ span: 16 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">易购</p>
          <div class="OperationTarget-first">
            <div v-for="(item, index) in eBay.bay" :key="index" class="OperationTarget-item">
              <p class="gmv-title">{{ item.title }}</p>
              <p class="gmv-first">
                <template
                  v-if="
                    item.title == 'GMV' ||
                    item.title == '非集采营业收入' ||
                    item.title == '各项占比'
                  "
                >
                  <TemGauge
                    v-if="item.title == 'GMV'"
                    :echarcolor="state.gmvcolor"
                    :echardata="item.rate"
                  />
                  <PieWebsite
                    v-if="item.title == '各项占比'"
                    :echardata="pie.data"
                    :echarunit="item.unit"
                  />
                  <SpeedGauge
                    v-if="item.title == '非集采营业收入'"
                    :echardata="item.rate"
                    :echarunit="state.e03"
                  />
                </template>
                <template v-else>
                  <ScoringRing
                    :echarcolor="state.defcolor"
                    :echardata="item.rate"
                    :echarunit="state.e03"
                  />
                </template>
              </p>

              <div v-if="item.title == '各项占比'" class="text2">
                <p>多元产业&nbsp;:&nbsp;{{ item.goals }} {{ item.unit }}</p>
                <p>社会客户&nbsp;:&nbsp;{{ item.current }} {{ item.unit }}</p>
                <p>供应商收费&nbsp;:&nbsp;{{ item.other }} {{ item.unit }} </p>
              </div>
              <div v-else class="text">
                <p>目标&nbsp;:&nbsp;{{ item.goals }} {{ item.unit }} </p>
                <p>当前&nbsp;:&nbsp;{{ item.current }} {{ item.unit }}</p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 4 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">易销</p>
          <a-col>
            <div class="OperationTarget-item">
              <p class="gmv-title">营业收入</p>
              <p class="gmv-style"
                ><SpeedGauge :echardata="state.YX_REV_PCT" :echarunit="state.e03"
              /></p>
              <div class="text-YX">
                <p>目标：{{ state.YX_REV_TG }} 万元</p>
                <p>当前： {{ state.YX_REV }} 万元</p>
              </div>
            </div>
          </a-col>
        </div>
      </a-col>
      <a-col :md="{ span: 4 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">零碳</p>
          <a-col>
            <div class="OperationTarget-item">
              <p class="gmv-title">营业收入</p>
              <p class="gmv-style"
                ><SpeedGauge :echardata="state.LT_REV_PCT" :echarunit="state.e03"
              /></p>
              <div class="text-YX">
                <p>目标：{{ state.LT_REV_TG }} 万元</p>
                <p>当前：{{ state.LT_REV }} 万元</p>
              </div>
            </div>
          </a-col>
        </div>
      </a-col>
      <a-col :md="{ span: 20 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">商城</p>
          <div class="OperationTarget-first">
            <div v-for="(item, index) in Store.mall" :key="index" class="OperationTarget-item">
              <p class="gmv-title">{{ item.title }}</p>
              <p class="gmv-first">
                <template v-if="item.title == '商城营业收入'">
                  <WaterPolo :echardata="item.rate" :echarunit="state.e03" />
                </template>
                <template v-else>
                  <ScoringRing
                    :echarcolor="item.title == '商城毛利' ? state.greencolor : state.defcolor"
                    :echardata="item.rate"
                    :echarunit="state.e03"
                /></template>
              </p>
              <div class="text">
                <p>目标&nbsp;:&nbsp;{{ item.goals }} {{ item.unit }}</p>
                <p>当前&nbsp;:&nbsp;{{ item.current }} {{ item.unit }}</p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 4 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">云库</p>
          <a-col>
            <div class="OperationTarget-item">
              <p class="gmv-title">营业收入</p>
              <p class="gmv-style">
                <WaterPolo :echardata="state.YK_REV_PCT" :echarunit="state.e03" />
              </p>
              <div class="text-YK">
                <p>目标：{{ state.YK_REV_TG }} 万元</p>
                <p>当前：{{ state.YK_REV }} 万元</p>
              </div>
            </div>
          </a-col>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch, nextTick, defineExpose, onMounted } from 'vue';
  import {
    ScoringRing,
    TemGauge,
    SpeedGauge,
    WaterPolo,
    PieWebsite,
  } from '../../../echartsAssembly';
  import { queryAggregate } from '@/api/strategyTracking';
  const state = reactive({
    YX_REV: '', //当前
    YX_REV_TG: '', //目标
    YX_REV_PCT: '', //完成率
    LT_REV: '',
    LT_REV_TG: '',
    LT_REV_PCT: '',
    YK_REV: '',
    YK_REV_PCT: '',
    YK_REV_TG: '',
    yearMonth: '',
    defcolor: '#188df0',
    gmvcolor: '#fa4d5b',
    fjcolor: '#98d45b',
    greencolor: '#53c676',
    bluecolor: '#1367ca',
    e01: '0.78',
    e02: '78',
    e03: '%',
    cans: {},
  });

  //保留两位有效小数
  const Xiaoshu = (text) => {
    if (text == '-') {
      return text;
    } else {
      const datatext = parseFloat(text).toFixed(2);
      return parseFloat(datatext).toLocaleString();
    }
  };
  // 处理数据类型  echarts图表不能识别string类型
  const Xiaoshus = (text) => {
    if (text == '-') {
      return text;
    } else {
      const datatext = parseFloat(text).toFixed(2);
      return parseFloat(datatext);
    }
  };
  //饼图数据
  const pie = reactive({
    data: [
      { value: '30', name: '多元产业 ' },
      { value: '20', name: '社会客户 ' },
      { value: '15', name: '供应商收费 ' },
    ],
  });

  // 易购
  const eBay = reactive({
    bay: [
      { title: 'GMV', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '亿元' },
      { title: '集采+多元', goals: '20 ', current: '5,000 ', rate: '78', unit: '亿元' },
      { title: '社会客户', goals: '20 ', current: '5,000 ', rate: '78', unit: '亿元' },
      { title: '非集采营业收入', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '万元' },
      {
        title: '各项占比',
        goals: '30 ',
        current: '20 ',
        other: '15 ',
        rate: '78',
        unit: '万元',
      },
    ],
  });
  // 商城
  const Store = reactive({
    mall: [
      { title: '商城营业收入', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '万元' },
      { title: 'PSCS商城化采购额', goals: '20 ', current: '5,000 ', rate: '78', unit: '万元' },
      { title: '多元+社会商城营业收入', goals: '20 ', current: '5,000 ', rate: '78', unit: '万元' },
      {
        title: '社会客户商城营业收入',
        goals: '3,000 ',
        current: '2,000 ',
        rate: '78',
        unit: '万元',
      },
      { title: '非大宗品类点选营收', goals: '30 ', current: '20 ', rate: '78', unit: '万元' },
      { title: '商城毛利', goals: '3,000 ', current: '2,000 ', rate: '78', unit: '万元' },
    ],
  });
  // 图表数据1
  const targetDataBay = (id, index) => {
    if (index == 4) {
      state.cans = {
        relations: [
          {
            filterField: 'YM',
            filterValues: [props.yearMonth],
            widgetId: id,
          },
          // {
          //   filterField: 'PROD_TARGET_PROJ',
          //   filterValues: ['社会客户营收', '多元产业营收', '社会客户-供应商'],
          //   widgetId: id,
          // },
          // {
          //   filterField: 'PROD_TARGET_PROJ',
          //   filterValues: ['多元产业营收'],
          //   widgetId: id,
          // },
          // {
          //   filterField: 'PROD_TARGET_PROJ',
          //   filterValues: ['社会客户-供应商'],
          //   widgetId: id,
          // },
        ],
      };
    } else {
      state.cans = {
        relations: [
          {
            filterField: 'YM',
            filterValues: [props.yearMonth],
            widgetId: id,
          },
        ],
      };
    }
    queryAggregate(state.cans).then((res) => {
      // const data = res.data[id].dataMap;
      // eBay.dyf[index].goals = Xiaoshu(data.YG_GMV[0]);
      // eBay.dyf[index].current = data.YG_GMV_TG;
      nextTick(() => {
        const data = res.data[id].dataMap;
        if (index == 0) {
          eBay.bay[index].goals = Xiaoshu(data.YG_GMV_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.YG_GMV[0]);
          // eBay.bay[index].rate = Xiaoshu(data.YG_GMV_PCT[0]);
          eBay.bay[index].rate = data.YG_GMV_PCT[0];
        } else if (index == 1) {
          eBay.bay[index].goals = Xiaoshu(data.BW_GMV_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.BW_GMV[0]);
          eBay.bay[index].rate = data.BW_GMV_PCT[0];
        } else if (index == 2) {
          eBay.bay[index].goals = Xiaoshu(data.SH_GMV_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.SH_GMV[0]);
          eBay.bay[index].rate = data.SH_GMV_PCT[0];
        } else if (index == 3) {
          eBay.bay[index].goals = Xiaoshu(data.YG_REV_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.YG_REV[0]);
          eBay.bay[index].rate = data.YG_REV_PCT[0];
        } else if (index == 4) {
          // "DY_SJ 多元
          // ,SH_SJ 社会
          // ,GYS_SJ 供应商
          // ,DY_SJ_R 多元占比
          // ,SH_SJ_R 社会占比
          // ,GYS_SJ_R 供应商占比"
          // eBay.bay[index].goals = Xiaoshu(data.ML_REV_PCT[0]);
          // eBay.bay[index].current = Xiaoshu(data.PR_REV_PCT[0]);
          // eBay.bay[index].other = Xiaoshu(data.SP_REV_PCT[0]);
          eBay.bay[index].goals = Xiaoshu(data.DY_SJ[0]);
          eBay.bay[index].current = Xiaoshu(data.SH_SJ[0]);
          eBay.bay[index].other = Xiaoshu(data.GYS_SJ[0]);
          pie.data = [
            { value: Xiaoshus(data.DY_SJ_R[0]), name: '多元产业 ' },
            { value: Xiaoshus(data.SH_SJ_R[0]), name: '社会客户 ' },
            { value: Xiaoshus(data.GYS_SJ_R[0]), name: '供应商收费 ' },
          ];
          // ML_REV 多元\PR_REV社会客户\SP_REV供应商
        } else if (index == 5) {
          state.YX_REV = Xiaoshu(data.YX_REV[0]);
          state.YX_REV_TG = Xiaoshu(data.YX_REV_TG[0]);
          state.YX_REV_PCT = data.YX_REV_PCT[0];
        } else if (index == 6) {
          state.LT_REV = Xiaoshu(data.LT_REV[0]);
          state.LT_REV_TG = Xiaoshu(data.LT_REV_TG[0]);
          state.LT_REV_PCT = data.LT_REV_PCT[0];
        }
      });
    });
  };
  // 图表数据2
  const targetDataStore = (id, index) => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: id,
        },
      ],
    };
    queryAggregate(cans).then((res) => {
      nextTick(() => {
        const data = res.data[id].dataMap;
        if (index == 0) {
          Store.mall[index].goals = Xiaoshu(data.SC_REV_TG[0]);
          Store.mall[index].current = Xiaoshu(data.SC_REV[0]);
          // Store.mall[index].rate = Xiaoshu(data.SC_REV_PCT[0] * 0.01);
          Store.mall[index].rate = data.SC_REV_PCT[0];
        } else if (index == 1) {
          Store.mall[index].goals = Xiaoshu(data.PSCS_REV_TG[0]);
          Store.mall[index].current = Xiaoshu(data.PSCS_REV[0]);
          Store.mall[index].rate = data.PSCS_REV_PCT[0];
        } else if (index == 2) {
          Store.mall[index].goals = Xiaoshu(data.NON_PSCS_REV_TG[0]);
          Store.mall[index].current = Xiaoshu(data.NON_PSCS_REV[0]);
          Store.mall[index].rate = data.NON_PSCS_REV_PCT[0];
        } else if (index == 3) {
          Store.mall[index].goals = Xiaoshu(data.SH_REV_TG[0]);
          Store.mall[index].current = Xiaoshu(data.SH_REV[0]);
          Store.mall[index].rate = data.SH_REV_PCT[0];
          // Store.mall[index].goals = Xiaoshu(data.YG_REV_TG[0]);
          // Store.mall[index].current = Xiaoshu(data.YG_REV[0]);
          // Store.mall[index].rate = Xiaoshu(data.YG_REV_PCT[0]);
        } else if (index == 4) {
          Store.mall[index].goals = Xiaoshu(data.DX_REV_TG[0]);
          Store.mall[index].current = Xiaoshu(data.DX_REV[0]);
          Store.mall[index].rate = data.DX_REV_PCT[0];
        } else if (index == 5) {
          Store.mall[index].goals = Xiaoshu(data.SC_GRO_TG[0]);
          Store.mall[index].current = Xiaoshu(data.SC_GRO[0]);
          Store.mall[index].rate = data.SC_GRO_PCT[0];
        } else if (index == 6) {
          state.YK_REV = Xiaoshu(data.YK_REV[0]);
          state.YK_REV_TG = Xiaoshu(data.YK_REV_TG[0]);
          state.YK_REV_PCT = data.YK_REV_PCT[0];
        }
      });
    });
  };
  const targetSearch = () => {
    targetDataBay('2023042517250068', 0);
    targetDataBay('2023042517250069', 1);
    targetDataBay('2023042517250070', 2);
    targetDataBay('2023042517250071', 3);
    // targetDataBay('2023042517250072', 4); api 更改
    targetDataBay('2023051110114634', 4);
    targetDataBay('2023042517250073', 5);
    targetDataBay('2023042517250074', 6);
    targetDataStore('2023042517250075', 0);
    targetDataStore('2023042517250076', 1);
    targetDataStore('2023042517250077', 2);
    targetDataStore('2023042517250078', 3);
    targetDataStore('2023042517250079', 4);
    targetDataStore('2023042517250080', 5);
    targetDataStore('2023042517250081', 6);
  };

  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  defineExpose({
    targetSearch,
  });
  // onMounted(() => {
  //   targetSearch();
  // });
  watch(
    () => props.yearMonth,
    (c) => {
      state.yearMonth = c;
      targetSearch();
    },
  );
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .gutter-style {
      margin-bottom: 10px;
    }
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      // border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      min-height: 330px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
    }
    .OperationTarget-first {
      display: flex;
      justify-content: space-between;
    }
    .gmv-first {
      width: 200px;
      height: 180px;
      // border: 2px solid #e5e7eb;
    }
    .OperationTarget-item {
      font-family: PingFangSC-Regular;
      font-size: 18px;
      font-weight: normal;
      .gmv-title {
        text-align: center;
      }
      .gmv-style {
        width: 100%;
        height: 180px;
        // border: 2px solid #e5e7eb;
      }
      .text-YX {
        height: 85px;
        margin-left: 18%;
      }
      // .text {
      //   margin-left: 12%;
      // }
      .text2 {
        margin-left: -10%;
      }
      .text-YK {
        margin-left: 18%;
      }
    }
  }
</style>
