<template>
  <div class="OperationTarget">
    <div class="OperationTarget-bg">
      <p class="OperationTarget-title">商城营收收入</p>
      <a-row :gutter="[16, 10]">
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;
            <span class="OperationTarget-span02">商城营收</span>目标及完成率
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="jymbScTargetMonth01.chart"
              :x-axis="jymbScTargetMonth01.xAxis"
              :y-axis="jymbScTargetMonth01.yAxis"
              :series="jymbScTargetMonth01.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;
            <span class="OperationTarget-span02">PSCS商城化采购额</span>目标及完成率
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="jymbScTargetMonth02.chart"
              :x-axis="jymbScTargetMonth02.xAxis"
              :y-axis="jymbScTargetMonth02.yAxis"
              :series="jymbScTargetMonth02.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;
            <span class="OperationTarget-span02">多元+社会营收</span>目标及完成率
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="jymbScTargetMonth03.chart"
              :x-axis="jymbScTargetMonth03.xAxis"
              :y-axis="jymbScTargetMonth03.yAxis"
              :series="jymbScTargetMonth03.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;
            <span class="OperationTarget-span02">社会客户营收</span>目标及完成率
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="jymbScTargetMonth04.chart"
              :x-axis="jymbScTargetMonth04.xAxis"
              :y-axis="jymbScTargetMonth04.yAxis"
              :series="jymbScTargetMonth04.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;
            <span class="OperationTarget-span02">非大宗品类点选营收</span>目标及完成率
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="jymbScTargetMonth05.chart"
              :x-axis="jymbScTargetMonth05.xAxis"
              :y-axis="jymbScTargetMonth05.yAxis"
              :series="jymbScTargetMonth05.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;
            <span class="OperationTarget-span02">商城毛利</span>目标及完成率
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="jymbScTargetMonth06.chart"
              :x-axis="jymbScTargetMonth06.xAxis"
              :y-axis="jymbScTargetMonth06.yAxis"
              :series="jymbScTargetMonth06.series"
            />
          </div>
        </a-col>
      </a-row>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { nextTick, reactive, watch } from 'vue';
  import { StackedColumnFoldMixedChart } from '../../../echartsAssembly';
  import echartSeries from './js/echartSeries';
  import { queryAggregate } from '@/api/strategyTracking';

  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    () => {
      InitialCall();
    },
  );

  const InitialCall = () => {
    monthParameter.monthStart = `${props.yearMonth.substring(0, 4)}01`;
    monthParameter.monthEnd = props.yearMonth;
    getjymbScTargetMonth01();
    getjymbScTargetMonth02();
    getjymbScTargetMonth03();
    getjymbScTargetMonth04();
    getjymbScTargetMonth05();
    getjymbScTargetMonth06();
  };

  const monthParameter = reactive({
    monthStart: '',
    monthEnd: '',
  });

  function parameter(usrtID) {
    const cans = {
      relations: [
        {
          filterType: 'ragen',
          filterField: 'YM',
          filterValues: [monthParameter.monthStart, monthParameter.monthEnd],
          widgetId: usrtID,
        },
      ],
    };
    return cans;
  }

  const jymbScTargetMonth01 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }, { name: '%' }],
    series: [],
  });
  const getjymbScTargetMonth01 = () => {
    queryAggregate(parameter(2023042614010075)).then((result) => {
      const data = result.data[2023042614010075].dataMap;
      jymbScTargetMonth01.xAxis = data.YM;
      jymbScTargetMonth01.series = echartSeries.seriesData(
        data.SC_REV_TG,
        data.SC_REV,
        data.SC_REV_PCT,
        '万元',
      );
    });
  };

  const jymbScTargetMonth02 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }, { name: '%' }],
    series: [],
  });
  const getjymbScTargetMonth02 = () => {
    queryAggregate(parameter(2023042614010076)).then((result) => {
      const data = result.data[2023042614010076].dataMap;
      jymbScTargetMonth02.xAxis = data.YM;
      jymbScTargetMonth02.series = echartSeries.seriesData(
        data.PSCS_REV_TG,
        data.PSCS_REV,
        data.PSCS_REV_PCT,
        '万元',
      );
    });
  };

  const jymbScTargetMonth03 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }, { name: '%' }],
    series: [],
  });
  const getjymbScTargetMonth03 = () => {
    queryAggregate(parameter(2023042614010077)).then((result) => {
      const data = result.data[2023042614010077].dataMap;
      jymbScTargetMonth03.xAxis = data.YM;
      jymbScTargetMonth03.series = echartSeries.seriesData(
        data.NON_PSCS_REV_TG,
        data.NON_PSCS_REV,
        data.NON_PSCS_REV_PCT,
        '万元',
      );
    });
  };

  const jymbScTargetMonth04 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }, { name: '%' }],
    series: [],
  });
  const getjymbScTargetMonth04 = () => {
    queryAggregate(parameter(2023042614010079)).then((result) => {
      const data = result.data[2023042614010079].dataMap;
      jymbScTargetMonth04.xAxis = data.YM;
      jymbScTargetMonth04.series = echartSeries.seriesData(
        data.SH_REV_TG,
        data.SH_REV,
        data.SH_REV_PCT,
        '万元',
      );
    });
  };

  const jymbScTargetMonth05 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }, { name: '%' }],
    series: [],
  });
  const getjymbScTargetMonth05 = () => {
    queryAggregate(parameter(2023042614010080)).then((result) => {
      const data = result.data[2023042614010080].dataMap;
      jymbScTargetMonth05.xAxis = data.YM;
      jymbScTargetMonth05.series = echartSeries.seriesData(
        data.DX_REV_TG,
        data.DX_REV,
        data.DX_REV_PCT,
        '万元',
      );
    });
  };

  const jymbScTargetMonth06 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万元' }, { name: '%' }],
    series: [],
  });
  const getjymbScTargetMonth06 = () => {
    queryAggregate(parameter(2023042614010082)).then((result) => {
      const data = result.data[2023042614010082].dataMap;
      jymbScTargetMonth06.xAxis = data.YM;
      jymbScTargetMonth06.series = echartSeries.seriesData(
        data.SC_GRO_TG,
        data.SC_GRO,
        data.SC_GRO_PCT,
        '万元',
      );
    });
  };
  nextTick(() => {
    InitialCall();
  });
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      margin-bottom: 16px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .OperationTarget-span01 {
      background: #f5e8b9;
      color: #f5e8b9;
    }
    .OperationTarget-span02 {
      color: red;
    }
    .OperationTarget-height {
      height: 300px;
    }
  }
</style>
