<template>
  <div class="OperationTarget">
    <div class="OperationTarget-bg">
      <a-row :gutter="[16, 10]">
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;客户总数
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="gymbYxTargetMonth01.chart"
              :x-axis="gymbYxTargetMonth01.xAxis"
              :y-axis="gymbYxTargetMonth01.yAxis"
              :series="gymbYxTargetMonth01.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;新增客户数
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="gymbYxTargetMonth02.chart"
              :x-axis="gymbYxTargetMonth02.xAxis"
              :y-axis="gymbYxTargetMonth02.yAxis"
              :series="gymbYxTargetMonth02.series"
            />
          </div>
        </a-col>
      </a-row>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { nextTick, reactive, watch } from 'vue';
  import { StackedColumnFoldMixedChart } from '../../../echartsAssembly';
  import echartSeries from './js/echartSeries';
  import { queryAggregate } from '@/api/strategyTracking';
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    () => {
      InitialCall();
    },
  );
  const InitialCall = () => {
    getgymbYxTargetMonth01();
    getgymbYxTargetMonth02();
  };
  function parameter(usrtID) {
    const cans = {
      relations: [
        {
          filterType: 'ragen',
          filterField: 'YM',
          filterValues: [`${props.yearMonth.substring(0, 4)}01`, props.yearMonth],
          widgetId: usrtID,
        },
      ],
    };
    return cans;
  }

  const gymbYxTargetMonth01 = reactive({
    chart: ['实绩'],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const getgymbYxTargetMonth01 = () => {
    queryAggregate(parameter(2023042614010118)).then((result) => {
      const data = result.data[2023042614010118].dataMap;
      gymbYxTargetMonth01.xAxis = data.YM;
      gymbYxTargetMonth01.series = echartSeries.seriesData1(data.CUR_PRF, '', '实绩');
    });
  };

  const gymbYxTargetMonth02 = reactive({
    chart: ['实绩'],
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const getgymbYxTargetMonth02 = () => {
    queryAggregate(parameter(2023042614010119)).then((result) => {
      const data = result.data[2023042614010119].dataMap;
      gymbYxTargetMonth02.xAxis = data.YM;
      gymbYxTargetMonth02.series = echartSeries.seriesData1(data.CUR_PRF, '', '实绩');
    });
  };
  nextTick(() => {
    InitialCall();
  });
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      margin-bottom: 16px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .OperationTarget-span01 {
      background: #f5e8b9;
      color: #f5e8b9;
    }
    .OperationTarget-span02 {
      color: red;
    }
    .OperationTarget-height {
      height: 300px;
    }
  }
</style>
