<template>
  <div class="OperationTarget">
    <div class="OperationTarget-bg">
      <a-row :gutter="[16, 10]">
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;两金周转天数
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="yymbScTargetMonth01.chart"
              :x-axis="yymbScTargetMonth01.xAxis"
              :y-axis="yymbScTargetMonth01.yAxis"
              :series="yymbScTargetMonth01.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;准点到货率
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="yymbScTargetMonth02.chart"
              :x-axis="yymbScTargetMonth02.xAxis"
              :y-axis="yymbScTargetMonth02.yAxis"
              :series="yymbScTargetMonth02.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;存货金额
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="yymbScTargetMonth03.chart"
              :x-axis="yymbScTargetMonth03.xAxis"
              :y-axis="yymbScTargetMonth03.yAxis"
              :series="yymbScTargetMonth03.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 8 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;用户满意度
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="yymbScTargetMonth04.chart"
              :x-axis="yymbScTargetMonth04.xAxis"
              :y-axis="yymbScTargetMonth04.yAxis"
              :series="yymbScTargetMonth04.series"
            />
          </div>
        </a-col>
      </a-row>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { nextTick, reactive, watch } from 'vue';
  import { StackedColumnFoldMixedChart } from '../../../echartsAssembly';
  import echartSeries from './js/echartSeries';
  import { queryAggregate } from '@/api/strategyTracking';
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    () => {
      InitialCall();
    },
  );
  const InitialCall = () => {
    getyymbScTargetMonth01();
    getyymbScTargetMonth02();
    getyymbScTargetMonth03();
    getyymbScTargetMonth04();
  };
  function parameter(usrtID) {
    const cans = {
      relations: [
        {
          filterType: 'ragen',
          filterField: 'YM',
          filterValues: [`${props.yearMonth.substring(0, 4)}01`, props.yearMonth],
          widgetId: usrtID,
        },
      ],
    };
    return cans;
  }
  const yymbScTargetMonth01 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '天' }, { name: '%' }],
    series: [],
  });
  const getyymbScTargetMonth01 = () => {
    queryAggregate(parameter(2023042614010094)).then((result) => {
      const data = result.data[2023042614010094].dataMap;
      yymbScTargetMonth01.xAxis = data.YM;
      yymbScTargetMonth01.series = echartSeries.seriesData(
        data.CUR_TG,
        data.CUR_PRF,
        data.CUR_PCT,
        '天',
      );
    });
  };

  const yymbScTargetMonth02 = reactive({
    chart: ['到货率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '%' }],
    series: [],
  });
  const getyymbScTargetMonth02 = () => {
    queryAggregate(parameter(2023042614010096)).then((result) => {
      const data = result.data[2023042614010096].dataMap;
      yymbScTargetMonth02.xAxis = data.YM;
      yymbScTargetMonth02.series = echartSeries.seriesData3(data.CUR_PRF, '%', '到货率');
    });
  };

  const yymbScTargetMonth03 = reactive({
    chart: ['目标', '实绩'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万' }],
    series: [],
  });
  const getyymbScTargetMonth03 = () => {
    queryAggregate(parameter(2023042614010095)).then((result) => {
      const data = result.data[2023042614010095].dataMap;
      yymbScTargetMonth03.xAxis = data.YM;
      yymbScTargetMonth03.series = echartSeries.seriesData2(data.CUR_TG, data.CUR_PRF, '万');
    });
  };

  const yymbScTargetMonth04 = reactive({
    chart: ['目标', '实绩'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '分' }],
    series: [],
  });
  const getyymbScTargetMonth04 = () => {
    queryAggregate(parameter(2023042614010097)).then((result) => {
      const data = result.data[2023042614010097].dataMap;
      yymbScTargetMonth04.xAxis = data.YM;
      yymbScTargetMonth04.series = echartSeries.seriesData2(data.CUR_TG, data.CUR_PRF, '分');
    });
  };

  nextTick(() => {
    InitialCall();
  });
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      margin-bottom: 16px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .OperationTarget-span01 {
      background: #f5e8b9;
      color: #f5e8b9;
    }
    .OperationTarget-span02 {
      color: red;
    }
    .OperationTarget-height {
      height: 300px;
    }
  }
</style>
