<template>
  <div class="OperationTarget">
    <div class="OperationTarget-bg">
      <a-row :gutter="[16, 10]">
        <a-col :md="{ span: 6 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;新增客户数
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :x-axis="gymbScTargetMonth01.xAxis"
              :y-axis="gymbScTargetMonth01.yAxis"
              :series="gymbScTargetMonth01.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 6 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;新增双非客户数
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :x-axis="gymbScTargetMonth02.xAxis"
              :y-axis="gymbScTargetMonth02.yAxis"
              :series="gymbScTargetMonth02.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 6 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;双非客户占比
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :x-axis="gymbScTargetMonth03.xAxis"
              :y-axis="gymbScTargetMonth03.yAxis"
              :series="gymbScTargetMonth03.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 6 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;对接运营大客户专区
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :x-axis="gymbScTargetMonth04.xAxis"
              :y-axis="gymbScTargetMonth04.yAxis"
              :series="gymbScTargetMonth04.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 6 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;平台累计SKU数
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="gymbScTargetMonth05.chart"
              :x-axis="gymbScTargetMonth05.xAxis"
              :y-axis="gymbScTargetMonth05.yAxis"
              :series="gymbScTargetMonth05.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 6 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;年度新增SKU数（自主开发）
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="gymbScTargetMonth06.chart"
              :x-axis="gymbScTargetMonth06.xAxis"
              :y-axis="gymbScTargetMonth06.yAxis"
              :series="gymbScTargetMonth06.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 6 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;核心商品线建设
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :legendone="gymbScTargetMonth07.chart"
              :x-axis="gymbScTargetMonth07.xAxis"
              :y-axis="gymbScTargetMonth07.yAxis"
              :series="gymbScTargetMonth07.series"
            />
          </div>
        </a-col>
        <a-col :md="{ span: 6 }">
          <p class="OperationTarget-title">
            <span class="OperationTarget-span01">|</span>&nbsp;场景化建设
          </p>
          <div class="OperationTarget-height">
            <StackedColumnFoldMixedChart
              :x-axis="gymbScTargetMonth09.xAxis"
              :y-axis="gymbScTargetMonth09.yAxis"
              :series="gymbScTargetMonth09.series"
            />
          </div>
        </a-col>
      </a-row>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { nextTick, reactive, watch } from 'vue';
  import { StackedColumnFoldMixedChart } from '../../../echartsAssembly';
  import echartSeries from './js/echartSeries';
  import { queryAggregate } from '@/api/strategyTracking';
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    () => {
      InitialCall();
    },
  );
  const InitialCall = () => {
    getgymbScTargetMonth01();
    getgymbScTargetMonth02();
    getgymbScTargetMonth03();
    getgymbScTargetMonth04();
    getgymbScTargetMonth05();
    getgymbScTargetMonth06();
    getgymbScTargetMonth07();
    getgymbScTargetMonth09();
  };
  function parameter(usrtID) {
    const cans = {
      relations: [
        {
          filterType: 'ragen',
          filterField: 'YM',
          filterValues: [`${props.yearMonth.substring(0, 4)}01`, props.yearMonth],
          widgetId: usrtID,
        },
      ],
    };
    return cans;
  }

  const gymbScTargetMonth01 = reactive({
    xAxis: [],
    yAxis: [{ type: 'value', name: '个' }],
    series: [],
  });
  const getgymbScTargetMonth01 = () => {
    queryAggregate(parameter(2023042614010102)).then((result) => {
      const data = result.data[2023042614010102].dataMap;
      gymbScTargetMonth01.xAxis = data.YM;
      gymbScTargetMonth01.series = echartSeries.seriesData1(data.CUR_PRF, '个', '');
    });
  };

  const gymbScTargetMonth02 = reactive({
    xAxis: [],
    yAxis: [{ type: 'value', name: '家' }],
    series: [],
  });
  const getgymbScTargetMonth02 = () => {
    queryAggregate(parameter(2023042614010103)).then((result) => {
      const data = result.data[2023042614010103].dataMap;
      gymbScTargetMonth02.xAxis = data.YM;
      gymbScTargetMonth02.series = echartSeries.seriesData1(data.CUR_PRF, '家', '');
    });
  };

  const gymbScTargetMonth03 = reactive({
    xAxis: [],
    yAxis: [{ type: 'value', name: '%' }],
    series: [],
  });
  const getgymbScTargetMonth03 = () => {
    queryAggregate(parameter(2023042614010104)).then((result) => {
      const data = result.data[2023042614010104].dataMap;
      gymbScTargetMonth03.xAxis = data.YM;
      gymbScTargetMonth03.series = echartSeries.seriesData3(data.CUR_PRF, '%', '');
    });
  };

  const gymbScTargetMonth04 = reactive({
    xAxis: [],
    yAxis: [{ type: 'value', name: '条' }],
    series: [],
  });
  const getgymbScTargetMonth04 = () => {
    queryAggregate(parameter(2023042614010105)).then((result) => {
      const data = result.data[2023042614010105].dataMap;
      gymbScTargetMonth04.xAxis = data.YM;
      gymbScTargetMonth04.series = echartSeries.seriesData1(data.CUR_PRF, '条', '');
    });
  };

  const gymbScTargetMonth05 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万' }, { name: '%' }],
    series: [],
  });
  const getgymbScTargetMonth05 = () => {
    queryAggregate(parameter(2023042614010107)).then((result) => {
      const data = result.data[2023042614010107].dataMap;
      gymbScTargetMonth05.xAxis = data.YM;
      gymbScTargetMonth05.series = echartSeries.seriesData(
        data.CUR_TG,
        data.CUR_PRF,
        data.CUR_PCT,
        '万',
      );
    });
  };

  const gymbScTargetMonth06 = reactive({
    chart: ['目标', '实绩', '完成率'],
    xAxis: [],
    yAxis: [{ type: 'value', name: '万' }, { name: '%' }],
    series: [],
  });
  const getgymbScTargetMonth06 = () => {
    queryAggregate(parameter(2023042614010108)).then((result) => {
      const data = result.data[2023042614010108].dataMap;
      gymbScTargetMonth06.xAxis = data.YM;
      gymbScTargetMonth06.series = echartSeries.seriesData(
        data.CUR_TG,
        data.CUR_PRF,
        data.CUR_PCT,
        '万',
      );
    });
  };

  const gymbScTargetMonth07 = reactive({
    chart: [],
    xAxis: [],
    yAxis: [{ type: 'value', name: '条' }],
    series: [],
  });
  const getgymbScTargetMonth07 = () => {
    queryAggregate(parameter(2023051113030337)).then((result) => {
      const data = result.data[2023051113030337].dataMap;
      gymbScTargetMonth07.xAxis = data.YM;
      gymbScTargetMonth07.series = echartSeries.seriesData1(data.CURYEAR_PRFM, '条', '');
    });
  };

  const gymbScTargetMonth09 = reactive({
    xAxis: [],
    yAxis: [{ type: 'value', name: '个' }],
    series: [],
  });
  const getgymbScTargetMonth09 = () => {
    queryAggregate(parameter(2023042614010110)).then((result) => {
      const data = result.data[2023042614010110].dataMap;
      gymbScTargetMonth09.xAxis = data.YM;
      gymbScTargetMonth09.series = echartSeries.seriesData1(data.CUR_PRF, '个', '');
    });
  };

  nextTick(() => {
    InitialCall();
  });
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      margin-bottom: 16px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .OperationTarget-span01 {
      background: #f5e8b9;
      color: #f5e8b9;
    }
    .OperationTarget-span02 {
      color: red;
    }
    .OperationTarget-height {
      height: 300px;
    }
  }
</style>
