<template>
  <div>
    <!-- <div class="o-show" :class="{ 'o-hidden': myData.modelRulePanelShow == true }"> -->
    <div class="o-show">
      <a-form ref="formRef" :model="modelInfo" :label-col="labelCol" :wrapper-col="wrapperCol">
        <a-row>
          <a-col :md="12" :sm="24">
            <a-form-item
              name="modelName"
              :label-col="labelCol"
              :wrapper-col="wrapperCol"
              label="模型名称"
              :help="modelNameHelp"
              :validate-status="modelNameValidateStatus"
              :rules="[
                { required: true, message: '模型名不能为空' },
                { max: 50, message: '50字符以内' },
              ]"
            >
              <a-input
                v-model:value="modelInfo.modelName"
                class="selectInput"
                placeholder="请输入模型名称,50字符以内"
                @change="checkModelName"
              />
            </a-form-item>
          </a-col>
          <a-col :md="12" :sm="24">
            <a-form-item
              label="模型描述"
              name="description"
              :label-col="labelCol"
              :wrapper-col="wrapperCol"
              :rules="[
                { required: true, message: '模型描述不能为空' },
                { max: 500, message: '500字符以内' },
              ]"
            >
              <a-textarea
                v-model:value="modelInfo.description"
                :auto-size="{ minRows: 1, maxRows: 5 }"
                :maxlength="500"
                class="selectInput"
                placeholder="请输入描述"
                name="description"
              />
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col :md="12" :sm="24">
            <a-form-item
              label="监督业务环节"
              name="bizIds"
              :label-col="labelCol"
              :wrapper-col="wrapperCol"
              :rules="[{ required: true, message: '请选择监督业务环节' }]"
            >
              <a-select
                v-model:value="modelInfo.bizIds"
                :allow-clear="true"
                show-search
                class="selectInput"
                :filter-option="filterOption"
                option-filter-prop="children"
              >
                <a-select-option v-for="c in bizIdsData" :key="c.itemValue" :title="c.itemText"
                  >{{ c.itemText }}
                </a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :md="12" :sm="24">
            <a-form-item
              label="监督领域"
              name="bizSystem"
              :label-col="labelCol"
              :wrapper-col="wrapperCol"
              :rules="[{ required: true, message: '请选择监督领域' }]"
            >
              <a-select
                v-model:value="modelInfo.bizSystem"
                :allow-clear="true"
                show-search
                class="selectInput"
                :filter-option="filterOption"
                :field-names="{ label: 'itemText', value: 'itemValue' }"
                :options="bizSystemData"
              >
              </a-select>
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col :md="12" :sm="24">
            <a-form-item
              label="监督业务对象"
              name="businessObjs"
              :label-col="labelCol"
              :wrapper-col="wrapperCol"
              :rules="[{ required: true, message: '请选择监督业务对象' }]"
            >
              <a-select
                v-model:value="modelInfo.businessObjs"
                :allow-clear="true"
                class="selectInput"
                show-search
                :filter-option="filterOption"
              >
                <a-select-option
                  v-for="c in businessObjectData"
                  :key="c.itemValue"
                  :title="c.itemText"
                  >{{ c.itemText }}
                </a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :md="12" :sm="24">
            <a-form-item
              label="模型生产方式"
              name="generationMethod"
              :label-col="labelCol"
              :wrapper-col="wrapperCol"
            >
              <a-radio-group v-model:value="modelInfo.generationMethod" :disabled="!myData.isShows">
                <a-radio :value="'10'">自建</a-radio>
                <a-radio :value="'20'">开发</a-radio>
              </a-radio-group>
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col :md="21" :sm="24">
            <a-form-item
              label="模型业务用途"
              class="special"
              name="businessPurpose"
              :label-col="colConfig.labelCol"
              :wrapper-col="colConfig.wrapperCol"
              :rules="[{ required: true, message: '模型业务不能为空' }]"
            >
              <a-select
                v-model:value="modelInfo.businessPurpose"
                :allow-clear="true"
                class="datatableNames"
                show-search
                :filter-option="filterOption"
              >
                <a-select-option
                  v-for="c in businessPurposeData"
                  :key="c.itemValue"
                  :title="c.itemText"
                  >{{ c.itemText }}
                </a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col :md="21" :sm="24">
            <a-form-item
              label="模型管理员"
              class="special"
              name="sendTargetUsers"
              :label-col="colConfig.labelCol"
              :wrapper-col="colConfig.wrapperCol"
              :rules="[{ required: true, message: '模型管理员不能为空' }]"
            >
              <a-select
                v-model:value="modelInfo.sendTargetUsers"
                :allow-clear="true"
                class="datatableNames"
                show-search
                :filter-option="false"
                :disabled="myData.editSendTargetUsersFlag"
                @search="handleUserSearch"
                @change="getTheUser"
                @deselect="selectedUsersClear"
              >
                <a-select-option
                  v-for="item in myData.allUsers"
                  :key="item.userId"
                  :field-names="{ label: 'username', value: 'userId' }"
                  :value="item.userId"
                >
                  <span role="img" class="" :aria-label="item.username">{{ item.username }}</span>
                  /
                  <span class="select-usercode">{{ item.employeeCode }}</span>
                </a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <!-- 模型归属单位=》更改为 监督类别 默认后端给出 -->
          <a-col :md="21" :sm="24">
            <a-form-item
              label="监督类别"
              name="belongUnit"
              class="special"
              :label-col="colConfig.labelCol"
              :wrapper-col="colConfig.wrapperCol"
              :rules="[{ required: true, message: '监督类别不能为空' }]"
            >
              <a-select
                v-model:value="modelInfo.belongUnit"
                :allow-clear="true"
                class="datatableNames"
                show-search
                :disabled="allowEditing"
                :filter-option="filterOption"
              >
                <a-select-option
                  v-for="c in affiliationData"
                  :key="c.itemValue"
                  :title="c.itemText"
                  >{{ c.itemText }}</a-select-option
                >
              </a-select>
            </a-form-item>
          </a-col>
          <!-- 所属防线 -->
          <a-col :md="21" :sm="24">
            <a-form-item
              label="所属防线"
              class="special"
              name="lineOfDefenseType"
              :label-col="colConfig.labelCol"
              :wrapper-col="colConfig.wrapperCol"
              :rules="[{ required: true, message: '所属防线不能为空' }]"
            >
              <a-select
                v-model:value="modelInfo.lineOfDefenseType"
                :allow-clear="true"
                class="datatableNames"
                :disabled="allowEditing"
                show-search
                :filter-option="filterOption"
              >
                <a-select-option
                  v-for="c in lineOfDefenseTypeData"
                  :key="c.itemValue"
                  :title="c.itemText"
                  >{{ c.itemText }}</a-select-option
                >
              </a-select>
            </a-form-item>
          </a-col>
          <!-- 新增模型归属单位 -->
          <a-col :md="21" :sm="24">
            <a-form-item
              label="模型归属单位"
              name="deptData"
              class="special"
              :label-col="colConfig.labelCol"
              :wrapper-col="colConfig.wrapperCol"
              :rules="[{ required: true, message: '模型归属单位不能为空' }]"
            >
              <!-- modelInfo.modelBelongUnit -->
              <a-cascader
                v-model:value="modelInfo.deptData"
                placeholder="请选择责任部门"
                allow-clear
                :field-names="{ label: 'text', value: 'text', children: 'children' }"
                :options="myData.deptList"
                show-search
                class="datatableNames"
                @change="changRresDep"
              >
              </a-cascader>
              <!-- <a-input
                v-model:value="modelInfo.modelBelongUnit"
                class="belongUnit-style"
                :disabled="allowEditing"
              /> -->
            </a-form-item>
          </a-col>
          <!-- <a-col :md="3" :sm="24">
            <div></div>
          </a-col> -->
        </a-row>
        <a-row>
          <a-col :md="21" :sm="24">
            <a-form-item
              label="调度周期"
              class="special"
              :label-col="colConfig.labelCol"
              :wrapper-col="colConfig.wrapperCol"
            >
              <CronEditor
                v-model:value.sync="modelInfo.cronExpression"
                class="datatableNames"
                cron-syntax="quartz"
              ></CronEditor>
            </a-form-item>
          </a-col>
          <a-col :md="3" :sm="24"></a-col>
        </a-row>
        <!-- <div class="stepsAction">
          <a-button type="primary" style="margin-left: 45%" @click="next"> 下一步 </a-button>
        </div> -->
      </a-form>
    </div>
    <!-- <div class="o-show" :class="{ 'o-hidden': myData.modelRulePanelShow == false }"> -->
    <div class="o-show">
      <dynamic-rules
        :model-info="modelInfo"
        :is-edit="props.isEdit"
        :is-copy="props.isCopy"
        @pre-step="preStep"
        @on-success="success"
        @close-model="closeModel"
        @validate="
          async (_data, callback) => {
            next(callback);
          }
        "
      ></dynamic-rules
    ></div>
  </div>
</template>

<script setup lang="tsx">
  import { getCurrentInstance, nextTick, onMounted, reactive, ref, watch } from 'vue';
  import { debounce } from 'lodash-es';
  import { FormInstance, message } from 'ant-design-vue';
  import { CronEditor } from '@/components/business';
  import { getDeptAll } from '@/api/system/dept';
  import {
    checkModifySendTargetUsers,
    remoteCheckModelName,
    getDetail,
    getUsersCode,
    getGeneration,
  } from '@/api/supervisionModel';
  import DynamicRules from '@/views/supervisionModel/components/DynamicRules.vue';
  interface MyData {
    allUsers: Array<any>;
    dataTable: Array<any>;
    tableData: Array<any>;
    sourceTable: Array<any>; // 数据集
    tablePrimaryKeyList: Array<any>;
    problemSelectData: Array<any>;
    dataId?: number;
    currentUserSearch: string;
    loading: boolean;
    isShows: boolean;
    modelRulePanelShow: boolean;
    deptList: Array<any>;
    editSendTargetUsersFlag: boolean;
  }
  defineOptions({
    name: 'DynamicModel',
  });
  const props = defineProps({
    labelCol: Object,
    wrapperCol: Object,
    modelType: {
      type: String,
      default: 'static',
    },
    isTestModel: {
      type: String,
      default: '20',
    },
    defaultModelInfo: {
      type: Object,
      default: () => {},
      required: false,
    },
    isCopy: {
      type: Boolean,
      default: false,
    },
    isEdit: {
      type: Boolean,
      default: false,
      required: true,
    },
  });

  const formRef = ref<FormInstance>();
  const colConfig = reactive({
    labelCol: { span: 4 },
    wrapperCol: { span: 20, offset: 0 },
  });
  const emit = defineEmits(['nextStep', 'preStep', 'onSuccess', 'closeModel']);
  const modelNameHelp = ref<string | undefined>(undefined);
  const modelNameValidateStatus = ref<string | undefined>(undefined);
  const modelInfo = reactive<API.ModelInfo>({
    belongUnit: '',
    lineOfDefenseType: '',
    modelBelongDept: '', //部门
    modelBelongUnit: '', //单位
    deptData: [],
    generationMethod: '10',
    defenseLine: '',
    affiliationData: '',
    bizIds: '',
    bizSystem: '',
    boardId: null,
    businessObjs: '',
    businessPurpose: '',
    columnCname: [],
    createTime: '',
    createUser: '',
    cronDesc: '',
    cronDetail: null,
    cronExpression: '',
    datatableColumns: [],
    datatableIds: [],
    datatableNames: [],
    deptCname: '',
    description: '',
    id: undefined,
    lastRunTime: '',
    modelConfig: '',
    modelName: '',
    modelType: 'dynamic',
    isTestModel: '20',
    onlineStatus: undefined,
    problemDepartment: '',
    problemDepartmentField: '',
    pushTag: undefined,
    runStatus: undefined,
    sendTargetUserDto: null,
    sendTargetUsers: '',
    sourceId: '',
    sourceName: '',
    suspectedRecords: undefined,
    targetUsernames: '',
    updateTime: '',
    updateUser: '',
    defenseNames: '',
  });
  const { proxy } = getCurrentInstance();
  const bizIdsData = proxy.$dict.getItemsByDictCode('bizIds');
  const bizSystemData = proxy.$dict.getItemsByDictCode('bizSystem');
  const businessObjectData = proxy.$dict.getItemsByDictCode('businessObject');
  const businessPurposeData = proxy.$dict.getItemsByDictCode('businessPurpose');
  const affiliationData = proxy.$dict.getItemsByDictCode('DEPT_TYPE'); // 模型归属单位
  const lineOfDefenseTypeData = proxy.$dict.getItemsByDictCode('lineOfDefense');
  bizSystemData.forEach((x) => {
    x.itemValue = parseInt(x.itemValue);
  });
  businessPurposeData.forEach((x) => {
    x.itemValue = parseInt(x.itemValue);
  });

  // affiliationData.forEach((x) => {
  //   x.itemValue = parseInt(x.itemValue);
  // });
  const myData = reactive<MyData>({
    allUsers: [],
    dataTable: [],
    tableData: [],
    sourceTable: [], // 数据集
    tablePrimaryKeyList: [],
    problemSelectData: [],
    dataId: undefined,
    currentUserSearch: '',
    loading: false,
    modelRulePanelShow: false,
    isShows: false,
    deptList: [],
    editSendTargetUsersFlag: false,
  });

  // 模型名重复校验
  const checkModelName = () => {
    let modelName = modelInfo.modelName;
    modelName = typeof modelName === 'undefined' ? '' : modelName.trim();
    if (modelName.length > 0) {
      modelNameValidateStatus.value = 'validating';
      const params: any = { modelName };
      if (modelInfo.id != undefined) {
        params.id = modelInfo.id;
      }
      remoteCheckModelName(params).then((r) => {
        if (r.code === 'OK') {
          if (r.data) {
            modelNameValidateStatus.value = undefined;
            modelNameHelp.value = undefined;
          } else {
            modelNameValidateStatus.value = 'error';
            modelNameHelp.value = '抱歉，模型名称不能重复';
          }
        } else {
          modelNameValidateStatus.value = 'error';
          modelNameHelp.value = '请求失败';
        }
      });
    } else {
      modelNameValidateStatus.value = 'error';
      modelNameHelp.value = '模型名称不能为空';
    }
  };

  const filterOption = (input, option) => {
    if (option.title) {
      return option.title.toLowerCase().indexOf(input.toLowerCase()) >= 0;
    } else {
      return option.itemText.toLowerCase().indexOf(input.toLowerCase()) >= 0;
    }
  };

  const handleUserSearch = (val) => {
    loadUsersByName(val, 1);
  };
  const selectedUsersClear = () => {
    loadUsersByName(null);
  };
  const loadUsersByName = debounce((val, falg) => {
    myData.allUsers = [];
    let _params = {};
    if (falg == 1) {
      _params = {
        username: val,
      };
    } else if (falg == 2) {
      _params = {
        userId: val,
      };
    } else {
      _params = {};
    }
    getUsersCode(_params).then((r) => {
      if (r.data.code == 'OK') {
        myData.allUsers = r.data.data;
      }
    });
  }, 500);
  // const loadUsersById = (val) => {
  //   const params = {
  //     filters: [
  //       {
  //         columnName: 'userId',
  //         filterType: '=',
  //         values: val,
  //       },
  //     ],
  //     pageSize: 100,
  //     pageNum: 1,
  //   };
  //   getUsers(params).then((r) => {
  //     if (r.data.code == 'OK') {
  //       myData.allUsers = r.data.data;
  //     }
  //   });
  // };

  const sourceList = async () => {
    if (props.defaultModelInfo.id != undefined) {
      loadUsersByName(props.defaultModelInfo.sendTargetUsers, 2);
      // generation(modelInfo.sendTargetUsers);
    } else if (props.isCopy) {
      loadUsersByName(props.defaultModelInfo.sendTargetUsers, 2);
    } else {
      loadUsersByName('');
    }
  };
  const getTheUser = (val, op) => {
    if (op) {
      const u = myData.allUsers.find((x) => x.userId === val);
      modelInfo.targetUsernames = u.username;
      modelInfo.defenseNames = u.employeeCode;
    }
    if (val) {
      defenseLineType();
      generation(val);
    }
  };
  const defenseLineType = () => {
    getDetail({ employeeCode: modelInfo.defenseNames }).then((r) => {
      // modelInfo.modelBelongUnit = r.modelBelongUnit;
      modelInfo.deptData = r.modelBelongDept != null ? [r.modelBelongUnit, r.modelBelongDept] : [];
      modelInfo.modelBelongUnit = r.modelBelongUnit;
      modelInfo.modelBelongDept = r.modelBelongDept;
      modelInfo.lineOfDefenseType = r.lineDefenseType;
      modelInfo.belongUnit = r.belongUnit; //转换类型
    });
  };
  const next = async (callback) => {
    try {
      await formRef.value.validateFields();
      const us = JSON.parse(window.sessionStorage.getItem('ACCESS_USER_INFO_KEY'));
      modelInfo.createUser = us.value.username;
      modelInfo.updateUser = us.value.username;

      myData.modelRulePanelShow = true;
      callback(true);
      // emit('nextStep');
    } catch (e) {
      console.log('validateFields.error', e);
    }
  };

  const renderModel = async (model: API.ModelInfo) => {
    nextTick(() => {
      const modelConfig = JSON.parse(model.modelConfig);
      const tables = modelConfig.datatableList;
      const allName = `${tables[0].tableCName}(${tables[0].tableName})`;
      modelInfo.generationMethod = model.generationMethod;
      modelInfo.problemDepartment = model.problemDepartment;
      modelInfo.belongUnit = String(model.belongUnit);
      //模型所属单位
      modelInfo.deptData = [model.modelBelongUnit, model.modelBelongDept];
      modelInfo.modelBelongUnit = model.modelBelongUnit;
      modelInfo.modelBelongDept = model.modelBelongDept;
      modelInfo.lineOfDefenseType = model.lineOfDefenseType;
      modelInfo.bizIds = model.bizIds;
      modelInfo.bizSystem = model.bizSystem;
      modelInfo.boardId = model.boardId;
      modelInfo.bizSystem = model.bizSystem;
      modelInfo.businessObjs = model.businessObjs;
      modelInfo.businessPurpose = model.businessPurpose;
      modelInfo.cronDesc = model.cronDesc;
      modelInfo.cronExpression = model.cronExpression;
      modelInfo.datatableColumns = model.datatableColumns;

      modelInfo.deptCname = model.deptCname;
      modelInfo.description = model.description;
      modelInfo.id = model.id;
      modelInfo.modelConfig = modelConfig;
      modelInfo.modelName = model.modelName;
      modelInfo.onlineStatus = model.onlineStatus;
      modelInfo.pushTag = model.pushTag;
      modelInfo.runStatus = model.runStatus;
      modelInfo.sourceId = model.sourceId;
      modelInfo.sourceName = model.sourceName;
      modelInfo.suspectedRecords = model.suspectedRecords;
      modelInfo.targetUsernames = model.targetUsernames;

      modelInfo.datatableNames = allName;
      modelInfo.columnCname = tables[0].tableColumnList;
      modelInfo.sendTargetUsers = parseInt(model.sendTargetUsers);
    });
    // await nextTick();
  };
  const success = () => {
    emit('onSuccess');
  };
  const closeModel = () => {
    emit('closeModel');
  };
  const preStep = () => {
    myData.modelRulePanelShow = false;
    emit('preStep');
  };
  const loadData = async () => {
    await sourceList();
  };
  // 生产方式
  const generation = (val) => {
    getGeneration({ userId: val }).then((r) => {
      if (r.success) {
        modelInfo.generationMethod = r.data.generationMethod;
      }
    });
  };
  const changRresDep = (val) => {
    if (val && val.length == 2) {
      modelInfo.modelBelongUnit = val[0]; //单位
      modelInfo.modelBelongDept = val[1]; //部门
    } else {
      modelInfo.deptData = [];
      modelInfo.modelBelongUnit = ''; //单位
      modelInfo.modelBelongDept = '';
      message.warning('请选择二级部门');
    }
  };
  /**
   * 获取部门列表
   */
  const fetchDeptList = async () => {
    const dept = (await getDeptAll()) as any;
    myData.deptList = dept.rows.children;
  };
  const allowEditing = ref(false); //如果是时月明，admin,李静则允许修改监督类别，所属防线，模型归属单位
  // 获取当前登录人
  const getCurrentUser = () => {
    const user = JSON.parse(sessionStorage.getItem('ACCESS_USER_INFO_KEY'));
    const _employeeCode = user.value.employeeCode; //取工号
    const allow = ['admin', '198009', '045644'];
    if (allow.indexOf(_employeeCode) > -1) {
      fetchDeptList();
      allowEditing.value = false;
    } else {
      allowEditing.value = true;
    }
    if (user.value.roleName.indexOf('管理员') != -1) {
      myData.isShows = true;
    } else {
      myData.isShows = false;
    }
  };
  onMounted(() => {
    nextTick(() => {
      loadData();
      getCurrentUser();
    });
  });
  watch(
    () => props.defaultModelInfo,
    (v) => {
      if (Object.keys(v).length > 0) {
        renderModel(v as API.ModelInfo);
      }
    },
    {
      deep: true,
      immediate: true,
    },
  );
  watch(
    () => props.modelType,
    (v) => {
      modelInfo.modelType = v;
      if (v != 'dynamic') {
        sourceList();
      }
    },
  );
  watch(
    () => props.isTestModel,
    (v) => {
      modelInfo.isTestModel = v;
      console.log(v, '动态模型啊', props.defaultModelInfo);
      if (props.isEdit) {
        //true编辑进来的
        //如果是编辑-调用接口判断是否可编辑模型管理员-因为存在线索未处理完的模型不允许修改模型管理员
        if (JSON.stringify(props.defaultModelInfo) != '{}') {
          checkModifySendTargetUsers({
            id: props.defaultModelInfo.id,
            targetUsernames: props.defaultModelInfo.targetUsernames,
          }).then((res) => {
            if (res.code == 'OK') {
              myData.editSendTargetUsersFlag = res.data == 0 ? false : true;
            }
          });
        }
      }
    },
    {
      deep: true,
      immediate: true,
    },
  );
  // watch(
  //   () => props.isEdit,
  //   (v) => {
  //     //如果是编辑-调用接口判断是否可编辑模型管理员-因为存在线索未处理完的模型不允许修改模型管理员
  //     if (v) {
  //       //true编辑进来的
  //       checkModifySendTargetUsers().then((res) => {
  //         console.log(res);
  //       });
  //     }
  //   },
  // );
</script>

<style scoped lang="less">
  .o-show {
    position: relative;
    background-color: #ffffff;
    opacity: 100;
  }

  .o-hidden {
    position: absolute;
    height: 10px;
    overflow: hidden;
    opacity: 0;
  }
  .selectInput {
    width: 90%;
  }
  .select-username {
    width: 100px;
    display: inline-block;
  }
  .select-usercode {
    margin-left: 5px;
    color: #666666;
  }
  .datatableNames {
    padding-left: 3%;
  }

  .buttons {
    color: #fff;
    background: #ff0000;
    margin-left: 0%;
  }

  .stepsAction {
    margin-top: 5px;
  }
  .belongUnit-style {
    width: 102%;
    margin-left: 4%;
  }
  /deep/.special {
    .ant-form-item-explain {
      padding-left: 3%;
    }
    .ant-tabs {
      padding-left: 3%;
    }
  }
</style>
