<template>
  <div>
    <a-form
      ref="formRef"
      label-wrap
      :model="modelInfo"
      :label-col="labelCol"
      :wrapper-col="wrapperCol"
    >
      <a-row>
        <a-col :md="21" :sm="24">
          <a-form-item
            label="数据集"
            :label-col="colConfig.labelCol"
            :wrapper-col="colConfig.wrapperCol"
            :rules="[{ required: true, message: '请选择数据集' }]"
          >
            <a-select
              v-model:value="myData.datatableIds"
              :allow-clear="true"
              mode="multiple"
              show-search
              :disabled="props.disabled || props.isEdit"
              :filter-option="filterOption"
              class="datatableNames"
              @select="selectDataSet"
              @change="changeDataSet"
              @deselect="deSelectDataSet"
            >
              <a-select-option
                v-for="(s, index) in myData.dataSet"
                :key="s.id"
                :title="s.datatableNames"
                >{{ index + 1 + '.' + s.datatableNames }}
              </a-select-option>
            </a-select>
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col v-if="myData.sourceTables.length > 0" :md="21" :sm="24">
          <a-form-item
            label="数据集字段及关联关系配置"
            :label-col="colConfig.labelCol"
            :wrapper-col="colConfig.wrapperCol"
            :rules="[{ required: true, message: '请选择关联字段' }]"
          >
            <table-join
              ref="fieldsRelation"
              :read-only="props.disabled || props.isEdit"
              :show-select-field-button="!props.disabled && !props.isEdit"
              :table-data="myData.tableJoinData"
              @on-select-fields="onSelectFields"
            ></table-join>
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col :md="21" :sm="24">
          <a-form-item
            label="问题归属部门分类字段"
            :label-col="colConfig.labelCol"
            :wrapper-col="colConfig.wrapperCol"
          >
            <a-select
              v-model:value="myData.problemDepartment"
              :allow-clear="true"
              show-search
              :filter-option="filterOption"
              class="datatableNames"
              :disabled="props.disabled || props.isEdit"
            >
              <template v-for="item in myData.sourceTables">
                <a-select-option
                  v-for="t in item.columnsList"
                  :key="`${item.tableName}-${t.columnName}`"
                  :title="t.columnCname"
                  :value="`${item.tableName}-${t.columnName}`"
                  >{{ item.tableCname }}>{{ t.columnCname }}
                </a-select-option>
              </template>
            </a-select>
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col :md="21" :sm="24">
          <a-form-item
            label="复合字段"
            :label-col="colConfig.labelCol"
            :wrapper-col="colConfig.wrapperCol"
          >
            <composite-field
              ref="compositeFields"
              class="datatableNames"
              :default-value="
                props.modelInfo && props.modelInfo.modelConfig
                  ? props.modelInfo.modelConfig.compositeColumnList
                  : []
              "
              @notice-exp="getCompositeConditions"
            ></composite-field>
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col :md="21" :sm="24">
          <a-form-item
            label="新增字段"
            :label-col="colConfig.labelCol"
            :wrapper-col="colConfig.wrapperCol"
          >
            <CompositeFieldNew
              ref="compositeFieldsNew"
              class="datatableNames"
              :select-data-tables="myData.selectDataTables"
              :default-value="
                props.modelInfo && props.modelInfo.modelConfig
                  ? props.modelInfo.modelConfig.customColumnList
                  : []
              "
              @notice-exp="getCompositeFieldsNew"
              @getTableRelationList="getTableRelationList"
              @five-list-change="fiveListChange"
            ></CompositeFieldNew>
          </a-form-item>
        </a-col>
      </a-row>
      <div class="divider" />
      <a-row>
        <a-col :md="21" :sm="24">
          <a-form-item
            label="过滤条件"
            :label-col="colConfig.labelCol"
            :wrapper-col="colConfig.wrapperCol"
            :rules="[{ required: true, message: '请选择过滤字段' }]"
          >
            <filter-content
              ref="filtersContent"
              class="datatableNames"
              :composite-conditions="myData.compositeConditions"
              :composite-conditions-new="myData.compositeConditionsNew"
              :default-conditions="
                props.modelInfo && props.modelInfo.modelConfig
                  ? props.modelInfo.modelConfig.conditionFilter
                  : null
              "
            >
            </filter-content>
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col :md="21" :sm="24">
          <a-form-item
            label="排序条件"
            :label-col="colConfig.labelCol"
            :wrapper-col="colConfig.wrapperCol"
          >
            <sorting-condition
              ref="sortingConditions"
              :default-value="
                props.modelInfo && props.modelInfo.modelConfig
                  ? props.modelInfo.modelConfig.orderConditionList
                  : []
              "
            ></sorting-condition>
          </a-form-item>
        </a-col>
      </a-row>
      <a-row>
        <a-col :md="21" :sm="24">
          <div class="tryRun">
            <a-button type="danger" class="testRun" @click="preShowResult"> 试运行 </a-button></div
          >
        </a-col>
      </a-row>
      <div v-if="props.footerButtonsVisible">
        <div
          v-if="
            props.isEdit &&
            Object.hasOwn(props.modelInfo, 'onlineStatus') &&
            props.modelInfo.onlineStatus != 1
          "
          class="warning"
        >
          <span>注：变更模型规则，历史数据将被清除！！！</span>
        </div>
        <div class="steps-action">
          <!-- <a-button @click="preStep"> 上一步 </a-button> -->
          <a-button
            type="primary"
            style="margin-left: 10px"
            :loading="myData.loading"
            @click="save"
          >
            完成
          </a-button>
          <a-button style="margin-left: 10px" @click="closeModel"> 关闭弹窗 </a-button></div
        >
      </div>
    </a-form>
    <div id="modalBox">
      <ModalRender destroy-on-close>
        <template #customSlot>
          <PreviewSource ref="previewSource"></PreviewSource>
        </template>
      </ModalRender>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { computed, nextTick, onMounted, provide, reactive, ref, watch } from 'vue';
  import { debounce, remove } from 'lodash-es';
  import { FormInstance, message } from 'ant-design-vue';
  import PreviewSource from './PreviewSource.vue';
  import CompositeField from '@/components/business/dynamicRuleSection/CompositeField.vue';
  import CompositeFieldNew from '@/components/business/dynamicRuleSection/CompositeFieldNew.vue';
  import FilterContent from '@/components/business/dynamicRuleSection/FiltersContent.vue';
  import SortingCondition from '@/components/business/dynamicRuleSection/SortingConditions.vue';
  import {
    addModel,
    getDataSetItemById,
    getDataSetItemByIds,
    updateModel,
  } from '@/api/supervisionModel';
  import { getDatasetList } from '@/api/dataAdministration/dataset';
  import TableJoin from '@/components/business/x6editor/TableJoin.vue';
  // import { useTable } from '@/components/core/dynamic-table';
  import { useModal } from '@/hooks';

  defineOptions({
    name: 'DynamicRules',
  });
  interface MyData {
    compositeConditions: Array<any>;
    allUsers: Array<any>;
    dataSet: Array<any>;
    dataColumns: Array<any>;
    tableJoinData: Array<any>;
    sourceTables: Array<any>; // 数据集
    tablePrimaryKeyList: Array<any>;
    dataTableDefaultSelect: Array<any>;
    selectDataTables: Array<any>;
    problemSelectData: Array<any>;
    datatableIds: Array<any>;
    datatableNames: Array<any>;
    problemDepartment: string;
    loading: boolean;
    dataSetChange: boolean;
    compositeConditionsNew: Array<any>;
  }
  const myData = reactive<MyData>({
    compositeConditions: [],
    allUsers: [],
    dataSet: [],
    dataColumns: [],
    tableJoinData: [],
    sourceTables: [], // 数据集
    tablePrimaryKeyList: [],
    dataTableDefaultSelect: [],
    selectDataTables: [],
    problemSelectData: [],
    datatableIds: [],
    datatableNames: [],
    problemDepartment: '',
    loading: false,
    dataSetChange: false,
    compositeConditionsNew: [],
  });
  provide(
    'editEnabled',
    computed(() => {
      if (props.disabled) {
        return false;
      } else {
        if (props.modelInfo && Object.hasOwn(props.modelInfo, 'onlineStatus')) {
          if (props.isCopy) {
            return true;
          } else {
            const onlineStatus = props.modelInfo.onlineStatus;
            return onlineStatus != 1;
          }
        } else {
          return true;
        }
      }
    }),
  );
  provide(
    'dataSet',
    computed(() => {
      return myData.sourceTables;
    }),
  );

  const fieldsRelation = ref(null);
  const compositeFields = ref(null);
  const compositeFieldsNew = ref(null);
  const filtersContent = ref(null);
  const sortingConditions = ref(null);
  const formRef = ref<FormInstance>();
  const colConfig = reactive({
    labelCol: { span: 4 },
    wrapperCol: { span: 20, offset: 0 },
  });
  const props = defineProps({
    labelCol: Object,
    wrapperCol: Object,
    modelType: {
      type: String,
      default: 'static',
    },
    isTestModel: {
      type: String,
      default: '20',
    },
    defaultModelInfo: {
      type: Object,
      default: () => {},
      required: false,
    },
    disabled: {
      type: Boolean,
      default: false,
      required: false,
    },
    isCopy: {
      type: Boolean,
      default: false,
    },
    isEdit: {
      type: Boolean,
      default: false,
      required: false,
    },
    footerButtonsVisible: {
      type: Boolean,
      default: true,
      required: false,
    },
    modelInfo: {
      type: Object,
      default: () => {},
      required: false,
    },
  });
  const emit = defineEmits(['preStep', 'onSuccess', 'closeModel', 'validate']);

  // 获取关联字段 必须
  const getTableRelationField = () => {
    const list: any = [];
    const data = fieldsRelation.value.getJoinSetting();
    // console.log(22, data);
    data.links.forEach((x) => {
      list.push({
        joinType: 1,
        leftColCname: x.srcField.cnName,
        leftColId: x.srcField.id,
        leftColName: x.srcField.name,
        leftTabCname: x.srcField.tableCname,
        leftTabId: x.srcField.tableId,
        leftTabName: x.srcField.tableName,
        leftTableScheme: x.srcField.schema,
        rightColCname: x.dstField.cnName,
        rightColId: x.dstField.id,
        rightColName: x.dstField.name,
        rightTabCname: x.dstField.tableCname,
        rightTabId: x.dstField.tableId,
        rightTabName: x.dstField.tableName,
        rightTableScheme: x.dstField.schema,
      });
    });
    return list;
  };
  const getTableRelationList = () => {
    // 关联字段
    let resultRelation = getTableRelationField();
    if (myData.sourceTables.length > 1 && resultRelation.length === 0) {
      throw new Error('请选择关联字段');
    }
    if (resultRelation.length === 0) {
      resultRelation = [];
    }
    compositeFieldsNew.value.getTab(resultRelation);
  };
  const [ModalRender] = useModal();
  const previewSource = ref();
  const preShowResult = () => {
    try {
      const p = getParams();
      ModalRender.show({
        title: '执行日志',
        width: 1000,
        footer: null,
        getContainer: () => {
          return document.getElementById('modalBox');
        },
      }).then(() => {
        setTimeout(() => {
          previewSource.value.openByParam(p);
        }, 200);
      });
    } catch (e: any) {
      message.error(e.message);
    }
  };
  const getCompositeConditions = () => {
    // console.log('触发了');
    const r = getCompositeFieldInfo();
    if (r.code === 1) {
      nextTick(() => {
        myData.compositeConditions = r.data;
      });
    }
  };
  // 获取复核字段
  const getCompositeFieldInfo = () => {
    return compositeFields.value.getResult();
  };
  const getCompositeFieldsNew = () => {
    const r = getFiltersContent();
    if (r.code === 1) {
      nextTick(() => {
        myData.customColumnList = r.data;
      });
    }
  };
  // 获取新增字段
  const getCustomColumnList = () => {
    return compositeFieldsNew.value.getResult();
  };
  // 获取过滤字段
  const getFiltersContent = () => {
    return filtersContent.value.getResult();
  };
  //获取排序字段
  const getSortingConditions = () => {
    return sortingConditions.value.getResult();
  };
  // 获取请求入参
  const getParams = () => {
    const params: any = {};
    // 选择数据集 必须
    const resultDataTable = myData.selectDataTables;
    if (resultDataTable.length == 0) {
      throw new Error('请选择数据集');
    }
    params.datatableList = resultDataTable;
    // 关联字段
    const resultRelation = getTableRelationField();
    if (myData.sourceTables.length > 1 && resultRelation.length === 0) {
      throw new Error('请选择关联字段');
    }
    if (resultRelation.length === 0) {
      resultRelation.push({
        leftTabCname: myData.sourceTables[0].tableCname,
        leftTabId: myData.sourceTables[0].id,
        leftTabName: myData.sourceTables[0].tableName,
        leftTableScheme: myData.sourceTables[0].tableScheme,
      });
    }
    params.tableRelationList = resultRelation;
    // 业务主键 必须
    params.tablePrimaryKeyList = myData.tablePrimaryKeyList;
    params.problemDepartment = myData.problemDepartment;
    // 复合字段
    const resultCompositeField = getCompositeFieldInfo();
    if (resultCompositeField.code != 1) {
      throw new Error(resultCompositeField.msg);
    }
    params.compositeColumnList = resultCompositeField.data;

    //新增字段
    const customColumnList = getCustomColumnList();
    if (customColumnList.code != 1) {
      throw new Error(customColumnList.msg);
    }
    params.customColumnList = customColumnList.data;

    const resultFiltersContent = getFiltersContent();
    if (resultFiltersContent.code != 1) {
      throw new Error(resultFiltersContent.msg);
    }
    params.conditionFilter = resultFiltersContent.data;

    const resultSort = getSortingConditions();
    if (resultSort.code != 1) {
      throw new Error(resultSort.msg);
    }
    params.orderConditionList = resultSort.data;

    // console.log(2222, params);
    return params;
  };
  const preStep = () => {
    emit('preStep');
  };
  const closeModel = () => {
    emit('closeModel');
  };
  const save = debounce(async () => {
    emit('validate', null, async (e) => {
      console.log(e);
      if (e) {
        try {
          // await formRef.value.validateFields();
          const data = getParams();
          Object.assign(props.modelInfo, {
            modelConfig: data,
            problemDepartmentField: myData.problemDepartment,
          });
          console.log(props.modelInfo, 'props.modelInfoprops.modelInfoprops.modelInfo');
          return;
          await postParams();
        } catch (e: any) {
          if (e.errorFields && e.errorFields != undefined) {
            message.error(e.errorFields[0].errors);
          } else {
            message.error(e.message);
          }
        }
      }
    });
  }, 500);
  const postParams = async () => {
    const modelInfo = props.modelInfo as API.ModelInfo;
    if (
      modelInfo.cronExpression == undefined ||
      modelInfo.cronExpression === '' ||
      modelInfo.cronExpression == null
    ) {
      modelInfo.cronExpression = '0 0 4 3 */1 ?';
    }
    const params: any = {
      cronExpression: modelInfo.cronExpression,
      bizIds: modelInfo.bizIds,
      businessObjs: modelInfo.businessObjs,
      modelType: modelInfo.modelType,
      isTestModel: modelInfo.isTestModel,
      modelName: modelInfo.modelName,
      description: modelInfo.description,
      createUser: modelInfo.updateUser,
      modelConfig: modelInfo.modelConfig,
      sendTargetUsers: modelInfo.sendTargetUsers,
      targetUsernames: modelInfo.targetUsernames,
      businessPurpose: modelInfo.businessPurpose,
      problemDepartment: modelInfo.problemDepartmentField,
      bizSystem: modelInfo.bizSystem,
      lineOfDefenseType: modelInfo.lineOfDefenseType,
      modelBelongUnit: modelInfo.modelBelongUnit,
      modelBelongDept: modelInfo.modelBelongDept,
      generationMethod: modelInfo.generationMethod,
      belongUnit: modelInfo.belongUnit,
    };

    myData.loading = true;
    if (modelInfo.id != undefined) {
      Object.assign(params, {
        id: modelInfo.id,
        // belongUnit: modelInfo.belongUnit,
      });
      // delete params.modelConfig;
      // delete params.createUser;
      // delete params.sendTargetUsers;
      updateModel({ ...params })
        .then((r) => {
          if (r.code === 'OK') {
            emit('onSuccess');
          } else {
            message.error(r.message);
          }
        })
        .finally(() => {
          myData.loading = false;
        });
    } else {
      addModel({ ...params })
        .then((r) => {
          if (r.code === 'OK') {
            emit('onSuccess');
          } else {
            message.error(r.message);
          }
        })
        .finally(() => {
          myData.loading = false;
        });
    }
  };
  const filterOption = (input, option) => {
    return option.title.toLowerCase().indexOf(input.toLowerCase()) >= 0;
  };
  const changeDataSet = (val) => {
    if (val.length > 3) {
      val.pop();
      return;
    }
    myData.problemDepartment = '';
    myData.datatableIds = val;
    if (val.length === 0) {
      myData.sourceTables.length = 0;
      myData.selectDataTables.length = 0;
    }
  };
  const deSelectDataSet = (val) => {
    console.log(val);
    const index = myData.tablePrimaryKeyList.findIndex((x) => x.tableId === val);
    if (index > -1) {
      myData.tablePrimaryKeyList.splice(index, 1);
    }
  };
  const selectDataSet = async (val) => {
    myData.dataSetChange = true;
    myData.dataColumns = [];
    myData.problemSelectData = [];
    myData.tablePrimaryKeyList = [];
    const r = await getDataSetItemById(val);
    if (r.code === 'OK') {
      if (r.data.columnsList) {
        if (myData.sourceTables.length < 3) {
          const index = myData.sourceTables.findIndex((x) => x.id === val);
          if (index > -1) {
            myData.sourceTables.splice(index, 1);
          }
          myData.sourceTables.push(r.data);
          myData.problemSelectData = myData.sourceTables;
        }
      } else {
        message.error('columnsList为空');
        myData.dataTableDefaultSelect.pop();
      }
    }
    myData.sourceTables.forEach((item) => {
      let primaryKeyList: any = {};
      const temps: any = [];
      item.columnsList.forEach((x) => {
        if (x.isPrikey === '1') {
          const obj: any = {};
          obj.columnCName = x.columnCname;
          obj.columnId = x.id;
          obj.columnName = x.columnName;
          obj.columnType = x.type;
          temps.push(obj);
        }
      });
      primaryKeyList = Object.assign(
        { primaryKeyList: temps },
        { tableId: item.id },
        { tableName: item.tableName },
      );
      myData.tablePrimaryKeyList.push(primaryKeyList);
    });
  };
  const sourceList = async () => {
    const params: any = {
      pageSize: 999,
      pageNum: 1,
    };
    // 数据集
    const r: any = await getDatasetList({
      ...params,
    });
    if (r.code === 'OK') {
      for (let i = 0; i < r.data.length; i++) {
        r.data[i].datatableNames = `${r.data[i].tableCname}(${r.data[i].tableName})`;
      }
      myData.dataSet = r.data;
    }
  };
  const onSelectFields = (op) => {
    const list: any = [];
    op.forEach((x) => {
      const temps: any = [];
      x.data.forEach((x) => {
        temps.push({
          example: x.example,
          isPrimaryKey: x.isPrikey,
          tableColumnCName: x.cnName,
          tableColumnId: x.id,
          tableColumnName: x.name,
          tableColumnType: x.type,
        });
      });
      list.push({
        tableAlias: '',
        tableCName: x.cnName,
        tableId: x.key,
        tableName: x.name,
        tableSchema: x.schema,
        tableColumnList: temps,
      });
    });
    myData.selectDataTables = list;
  };
  const buildTableJoinData = (tables) => {
    const rs: any = { nodes: [], links: [], defaultLinks: [] };
    if (tables && tables != undefined && tables.length > 0) {
      const config = props.modelInfo.modelConfig;
      for (let i = 0; i < tables.length; i++) {
        const items: any = [];
        if (tables[i].columnsList.length > 0) {
          tables[i].columnsList.forEach((x) => {
            items.push({
              name: x.columnName,
              cnName: x.columnCname,
              type: x.type,
              id: x.id,
              dictId: x.dictId,
              dictName: x.dictName,
              dictCode: x.dictCode,
              isPrikey: x.isPrikey,
              newType: x.newType,
              example: x.example,
              sort: x.sort,
            });
          });
        }
        // 默认勾选列
        const selectFields: any = [];
        if (config && config.datatableList.length > 0) {
          const table = config.datatableList.find((x) => x.tableId === myData.sourceTables[i].id);
          if (table != null && table.tableColumnList.length > 0) {
            table.tableColumnList.forEach((x) => {
              const field = getFieldByIdFromDataSet(myData.sourceTables[i].id, x.tableColumnId);
              if (field != null) {
                selectFields.push(field);
              }
            });
          }
        }

        rs.nodes.push({
          name: tables[i].tableName,
          cnName: tables[i].tableCname,
          fields: items,
          type: 'table',
          schema: tables[i].tableScheme,
          id: tables[i].id,
          defaultSelectFields: selectFields,
        });
        if (i !== tables.length - 1) {
          const temp1 = tables[i].columnsList[0];
          const temp2 = tables[i + 1].columnsList[0];
          rs.links.push({
            srcField: {
              id: temp1.id,
              name: temp1.columnName,
              cnName: temp1.columnCname,
              isPrikey: temp1.isPrikey,
              example: temp1.example,
              newType: temp1.newType,
              tableCname: tables[i].tableCname,
              tableId: tables[i].id,
              tableName: tables[i].tableName,
              sort: temp1.sort,
              schema: tables[i].tableScheme,
            },
            dstField: {
              id: temp2.id,
              name: temp2.columnName,
              cnName: temp2.columnCname,
              isPrikey: temp2.isPrikey,
              example: temp2.example,
              newType: temp2.newType,
              tableCname: tables[i + 1].tableCname,
              tableId: tables[i + 1].id,
              tableName: tables[i + 1].tableName,
              sort: temp2.sort,
              schema: tables[i + 1].tableScheme,
            },
          });
        }
      }
      // 默认指定连线（关联字段）
      const defaultLinks: any = [];
      if (!myData.dataSetChange && config && config.tableRelationList.length > 0) {
        config.tableRelationList.forEach((x) => {
          const left = getFieldByIdFromDataSet(x.leftTabId, x.leftColId);
          const right = getFieldByIdFromDataSet(x.rightTabId, x.rightColId);
          if (left != null && right != null) {
            defaultLinks.push({ srcField: left, dstField: right });
          }
        });
      }
      rs.defaultLinks = defaultLinks;
    }
    // myData.tableJoinData = rs;

    // console.log(1111111, rs);
    return rs;
  };
  const repairTables = () => {
    if (myData.datatableIds != undefined && myData.datatableIds.length > 0) {
      myData.sourceTables = myData.sourceTables.filter(
        (x) => myData.datatableIds.indexOf(x.id) > -1,
      );
    }
    // console.log(11111, myData.sourceTables);
  };
  const loadData = async () => {
    await sourceList();
  };
  /**
   * 从dataSet获取字段信息
   * @param tableId
   * @param columnId
   */
  const getFieldByIdFromDataSet = (tableId, columnId) => {
    if (myData.sourceTables.length > 0) {
      const table = myData.sourceTables.find((x) => x.id === tableId);
      if (table != null && table.columnsList.length > 0) {
        const field = table.columnsList.find((x) => x.id === columnId);
        if (field != null) {
          return {
            id: field.id,
            name: field.columnName,
            cnName: field.columnCname,
            isPrikey: field.isPrikey,
            example: field.example,
            newType: field.newType,
            type: field.type,
            tableCname: table.tableCname,
            tableId: table.id,
            tableName: table.tableName,
            sort: field.sort,
            schema: table.tableScheme,
          };
        }
      }
    }
    return null;
  };
  const dataSetDefault = (ids) => {
    getDataSetItemByIds(ids).then((r) => {
      if (r.code === 'OK' && r.data.length > 0) {
        r.data.forEach((x) => {
          const index = myData.sourceTables.findIndex((y) => y.id === x.id);
          if (index > -1) {
            myData.sourceTables.splice(index, 1);
          }
          myData.sourceTables.push(x);
        });

        const list: any = [];
        let primaryKeyList: any = {};
        myData.sourceTables.forEach((item) => {
          const temps: any = [];
          item.columnsList.forEach((x) => {
            if (x.columnName.indexOf('DEPT') > -1) {
              const obj: any = {};
              obj.tableCname = `${item.tableCname}/${x.columnCname}`;
              obj.columnCname = x.columnCname;
              obj.id = x.id;
              obj.columnName = `${item.tableName}-${x.columnName}`;
              obj.tableId = item.id;
              list.push(obj);
            }

            if (x.isPrikey === '1') {
              const obj: any = {};
              obj.columnCName = x.columnCname;
              obj.columnId = x.id;
              obj.columnName = x.columnName;
              obj.columnType = x.type;
              temps.push(obj);
            }
            primaryKeyList = Object.assign(
              { primaryKeyList: temps },
              { tableId: item.id },
              { tableName: item.tableName },
            );
          });
          const index = myData.tablePrimaryKeyList.findIndex((y) => y.tableId === item.id);
          if (index < 0) {
            myData.tablePrimaryKeyList.push(primaryKeyList);
          }
        });
        myData.problemSelectData = list;

        // console.log(212222, myData.tablePrimaryKeyList);
      }
    });
  };
  const renderModel = (model) => {
    // console.log('renderModel', model);
    renderModelConfig(model.modelConfig);

    //问题部门分类字段
    if (Object.hasOwn(model, 'problemDepartment') && model.problemDepartment != undefined) {
      myData.problemDepartment = model.problemDepartment;
    }
  };
  const renderModelConfig = (config) => {
    //数据集
    const dataTableDefaultSelect: any = [];
    if (Object.hasOwn(config, 'datatableList') && config.datatableList.length > 0) {
      config.datatableList.forEach((x) => {
        dataTableDefaultSelect.push(x.tableId);
      });
    }
    if (dataTableDefaultSelect.length > 0) {
      dataSetDefault(dataTableDefaultSelect.join());
    }
    nextTick(() => {
      myData.datatableIds = dataTableDefaultSelect;
    });

    // 过滤字段处理复合字段条件
    if (Object.hasOwn(config, 'conditionFilter') && config.conditionFilter != undefined) {
      config.conditionFilter.condiList.forEach((x) => {
        x.condiList.forEach((y) => {
          y.condiList.forEach((t) => {
            if (t.leftTabId === 9999999 && t.leftTabName === 'X9999999') {
              t.leftColId = t.extendCol1;
            }
          });
        });
      });
    }
  };
  const fiveListChange = (item) => {
    myData.compositeConditionsNew = item;
  };
  onMounted(() => {
    loadData();
  });
  watch(
    () => myData.datatableIds,
    () => {
      repairTables();
    },
    { immediate: true, deep: true },
  );
  watch(
    () => props.modelInfo,
    (v) => {
      // console.log(7777777, v);
      renderModel(v);
    },
    { immediate: true, deep: true },
  );
  myData.tableJoinData = computed(() => {
    // console.log('myData.tableJoinData', myData.sourceTables);
    return buildTableJoinData(myData.sourceTables);
  });
</script>

<style scoped lang="less">
  .datatableNames {
    padding-left: 3%;
  }
  .relationNews {
    display: flex;

    b {
      color: red;
    }

    .title {
      width: 160px;
      text-align: right;
    }

    .ant-table-wrapper {
      flex: 1;
      margin-left: 10px;
    }

    .testRun {
      background: red;
      color: #fff;
      margin-left: auto;
    }
  }

  .warning {
    padding: 10px 100px;
    color: red;
    font-size: 24px;
  }
  .divider {
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .message-main {
    width: 100%;
  }

  .table-col .ant-col {
    margin-left: 20% !important;
  }

  .table-col {
    //调整head行属性
    /deep/ .ant-table-thead > tr > th {
      padding: 0px;
      //  background: #fff;
      height: 30px !important;
    }

    //调整body行属性
    /deep/ .ant-table-tbody > tr > td {
      padding: 0px;
      height: 30px !important;
    }
  }

  .table-show {
    display: flex;
    justify-content: space-between;
  }

  /deep/ .ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.4) !important;
  }

  .selectInput1 {
    width: 100%;
  }

  .tryRun {
    width: 95%;
    text-align: right;

    .testRun {
      color: #fff !important;
      background: #ff0000 !important;
    }
  }

  .dy-row {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

    .dy-row-label-item {
      color: #000;
      width: 17%;
      padding-right: 17px;
      text-align: right;
      // font-size: 0.875rem;
      // font-family: SimSun, sans-serif;
    }

    .dy-row-label {
      width: 15%;
      padding-right: 10px;
      text-align: right;
      color: #000;
      .required {
        // margin-right: 0.25rem;
        color: #f5222d;
        // color: #ccc;
        font-size: 0.875rem;
        font-family: SimSun, sans-serif;
      }
      .required-color {
        color: #888;
        font-size: 0.875rem;
        font-family: SimSun, sans-serif;
      }
    }

    .dy-row-content {
      width: 85%;
    }
  }

  .ant-select {
    width: 100%;
  }

  .row-label {
    overflow: hidden;

    /deep/.ant-form-item-label {
      display: flex;
      justify-content: flex-end;
      line-height: 20px;

      label {
        white-space: normal;
        text-align: right;
        // padding-right: 6px;
        margin-left: 25px;
        margin-right: 10px;

        &:after {
          content: none !important; //解决上面的样式label后面会有空格
        }
      }
    }
  }
  .steps-action {
    display: flex;
    justify-content: center;
  }
  /deep/.sorting-conditions {
    margin-left: 3%;
  }
  /deep/.filter-group-empty {
    margin-left: unset !important;
  }
</style>
