<template>
  <div class="main">
    <a-row class="content">
      <a-col :span="4">
        <TreeList @selectd="onSelect" />
      </a-col>
      <a-col :span="1">
        <div class="line"></div>
      </a-col>
      <a-col :span="19">
        <div v-if="state.tabList.length > 0">
          <a-tabs v-model:activeKey="activeKey" @change="changeTab">
            <a-tab-pane
              v-for="item in state.tabList"
              :key="item.ruleCode + '/' + item.evaluatedOrgCode"
              :tab="item.perfGName"
            >
            </a-tab-pane>
          </a-tabs>
          <DynamicTable
            :data-request="loadTableData"
            :columns="state.columnList"
            :loading="state.loading"
          >
            <template #headerCell="{ column }">
              <template v-if="column.key !== 'fieldName' && column.isEdit">
                <span>
                  {{ column.title }}
                  <form-outlined class="primary" @click="editColumn(column)" />
                </span>
              </template>
            </template>
          </DynamicTable>
        </div>
        <a-empty v-else class="emptys" />
      </a-col>
    </a-row>
    <!-- 填报与调整 -->
    <ReportAdjustModal
      :is-visible="isShowReport"
      :code-info="codeSet"
      @search-load="searchLoad"
      @close="closeAdjustModal"
    ></ReportAdjustModal>
  </div>
</template>

<script lang="tsx" setup>
  import { reactive, ref, watch } from 'vue';
  import dayjs, { Dayjs } from 'dayjs';
  import { isEmpty } from 'lodash-es';
  import { message } from 'ant-design-vue';
  import ReportAdjustModal from './realDataClass/ReportAdjustModal.vue'; //填报与调整
  import { getBy, getSetting } from '@/api/realPerData/realPerDataView';
  import TreeList from '@/views/orgPerList/components/TreeList.vue';
  import { useTable } from '@/components/core/dynamic-table';
  import dict from '@/utils/dict.js';

  defineOptions({
    name: 'RealPerDataView',
  });
  const activeKey = ref('');
  const [DynamicTable, dynamicTableInstance] = useTable({
    search: false,
    pagination: false,
    size: 'small',
    rowKey: 'id',
    bordered: true,
    autoHeight: true,
    scroll: { x: 2000, y: 400 },
  });

  const state: any = reactive({
    treeData: [] as any,
    tabList: [],
    dataSource: [],
    columnList: [],
    baseColumns: [
      {
        title: '实绩指标',
        dataIndex: 'fieldName',
        width: 200,
        fixed: 'left',
        customRender({ record }) {
          const val = `${record.fieldNameCn}`;
          return record.fieldName ? (
            <div>
              <a-tooltip title={val}>{val}</a-tooltip>
            </div>
          ) : (
            ''
          );
        },
      },
      {
        title: '指标类型',
        dataIndex: 'perfGType',
        width: 100,
        fixed: 'left',
        align: 'center',
        customRender({ record }) {
          const obj = dict.getValue('COLUMN_BUS_TYPE', record?.perfGType);
          if (!isEmpty(obj)) {
            return (
              <div>
                <a-tooltip title={obj.itemText}>
                  <a-tag>{obj.itemText}</a-tag>
                </a-tooltip>
              </div>
            );
          } else {
            return '-';
          }
        },
      },
    ],
    loading: false,
    tab: {},
    treeCode: {
      orgCode: '',
      orgName: '',
    },
    monthVal: '',
  });

  // 树切换
  const onSelect = async (_selectedKeys, { selectedNodes }) => {
    state.treeCode.orgCode = selectedNodes[0].code;
    state.treeCode.orgName = selectedNodes[0].title;
    const params = {
      performanceType: '',
      orgCode: state.treeCode.orgCode,
    };
    if (!_selectedKeys[0]) return;
    const { data } = await getBy(params);
    if (data.success) {
      state.tabList = data.data;
      if (data.data.length > 0) {
        //默认选中tab第一项
        activeKey.value =
          data.data.length > 0 ? `${data.data[0].ruleCode}/${data.data[0].evaluatedOrgCode}` : '';
        changeTab(activeKey.value);
      }
    }
  };
  /**@listParams 收集查询列表入参
   * @codeSet 填报弹框所需数据
   * tab切换
   */
  const codeSet = ref({});
  const listParams = ref();
  const changeTab = (activeKey) => {
    const splitAdd = activeKey.split('/');
    state.tab = state.tabList.filter((v) => v.ruleCode == splitAdd[0])[0];
    codeSet.value = { ...state.tab, treCode: splitAdd[1] };
    if (!state.tab) return;
    listParams.value = {
      ruleCode: splitAdd[0],
      evaluatedOrgCode: splitAdd[1],
      performanceType: state.tab.performanceType,
    };
  };

  const loadTableData = async () => {
    if (!listParams.value) return;
    state.loading = true;
    const res = await getSetting(listParams.value);
    const date = new Date();
    const arrColumn: any = ref([]);
    if (res.data.success) {
      res.data.data.heads.forEach((v, i) => {
        arrColumn.value.push({
          title: v,
          dataIndex: v,
          align: 'center',
          width: 200,
          isEdit: i >= date.getMonth() ? false : true,
          customRender({ text, record }) {
            if (text && record.perfGType == 20) {
              if (!text.fieldTargetValue && !text.perfEvalCoreFixValue) {
                return text.fieldSourceValue.toLocaleString();
              }
            } else if (text && record.perfGType == 10) {
              return `${
                text.fieldTargetValue
                  ? text.fieldTargetValue.toLocaleString()
                  : text.fieldSourceValue.toLocaleString()
              }`;
            } else return '-';
          },
        });
      });
    }
    state.columnList = res.data.success ? [...state.baseColumns, ...arrColumn.value] : [];
    state.dataSource = res.data.success ? res.data.data?.sourceData : [];
    state.loading = false;
    return {
      list: state.dataSource || [],
    };
  };
  const isShowReport = ref<boolean>(false);
  const reportAdjust = () => {
    isShowReport.value = true;
  };
  const closeAdjustModal = () => {
    isShowReport.value = false;
  };
  const searchLoad = () => {
    dynamicTableInstance.reload();
  };
  const editColumn = (c) => {
    if (state.dataSource.length == 0) return message.warning('当前无指标数据！');
    state.monthVal = dayjs(c.key, 'YYYYMM').format('YYYYMM');
    codeSet.value.monthVal = state.monthVal;
    reportAdjust();
  };
  watch(
    () => listParams.value,
    (_newVal, _oldVal) => {
      // debugger;
      if (_newVal?.ruleCode !== _oldVal?.ruleCode) dynamicTableInstance.reload();
    },
  );
</script>

<style lang="less" scoped>
  .main {
    height: 100%;
    background: #fff;
    overflow-y: auto;
    .content {
      padding: 0.5rem 1.25rem;
      height: inherit;
      .line {
        margin: 0 40%;
        height: 100%;
        border-left: 0.0625rem solid #d8d8d8;
      }
    }
  }
  .flex {
    display: flex;
  }
  .fieldTarget {
    display: flex;
  }
  .emptys {
    margin-top: 200px;
  }
</style>
