<template>
  <div class="main">
    <a-row class="content">
      <a-col :span="4">
        <TreeList @selectd="onSelect" />
      </a-col>
      <a-col :span="1">
        <div class="line"></div>
      </a-col>
      <a-col :span="19">
        <div class="text-r mv-1x">
          <a-button type="primary" danger size="small" @click="submitApproval">提交审核</a-button>
        </div>
        <DynamicTable
          :columns="columnsList"
          :data-request="loadTableData"
          :loading="state.loading"
          :row-selection="rowSelection"
        >
          <template #toolbar>
            <a-select
              v-model:value="state.PerformanceType"
              style="width: 200px"
              @change="changeType"
            >
              <a-select-option
                v-for="(item, index) in dict.getItemsByDictCode('QUERY_PERFORMANCE_TYPE_SELECT')"
                :key="index"
                :value="item.itemValue"
                >{{ item.itemText }}</a-select-option
              >
            </a-select>
          </template>
          <template #bodyCell="{ column, record }">
            <!-- 鉴定性材料 -->
            <template v-if="column.key === 'attestationFiles'">
              <div v-for="(item, idx) in record.attestationFiles" :key="idx">
                <a
                  :href="`${state.BASE_URL}basic/n/get/file?key=${item.fileAddress}`"
                  target="_blank"
                  >{{ item.fileName }}</a
                >
              </div>
            </template>
          </template>
        </DynamicTable>
      </a-col>
    </a-row>
    <!-- 一级填报 -->
    <FirstLevel
      :sub-visible="state.subVisible"
      :row-info="state.rowIn"
      @close="closeModal"
    ></FirstLevel>
    <!-- 二级填报 -->
    <SecondLevel
      :sec-visible="state.secVisible"
      :tree-info="state.treeCode"
      :record-info="state.rowIn"
      @close="closeSecondModal"
    ></SecondLevel>
    <!-- 查看情况说明详情 -->
    <DraggableModal
      v-model:visible="state.infoVisible"
      destroy-on-close
      title="情况说明"
      :width="600"
      :body-style="{ height: '480px', overflow: 'auto', padding: '8px 12px' }"
      :footer="null"
    >
      <div v-html="state.infoHtml"></div>
    </DraggableModal>
  </div>
</template>

<script lang="ts" setup>
  import { reactive, ref } from 'vue';
  import { message } from 'ant-design-vue';
  import { baseColumns } from './components/columnsWork'; //table列
  import FirstLevel from './workClass/FirstLevel.vue';
  import SecondLevel from './workClass/SecondLevel.vue';
  import type { reportWorkType } from './components/report';
  import { DraggableModal } from '@/components/core/draggable-modal';
  import { queryWorkList, sumbitApproval } from '@/api/realPerData/realPerDataView';
  import { useTable } from '@/components/core/dynamic-table';
  import TreeList from '@/views/orgPerList/components/TreeList.vue';
  import dict from '@/utils/dict.js';

  defineOptions({
    name: 'WorkDataView',
  });
  const [DynamicTable, dynamicTableInstance] = useTable({
    search: false,
    pagination: false,
    size: 'small',
    rowKey: 'ruleCode',
    bordered: true,
    autoHeight: true,
    scroll: { x: 580 },
    showToolBar: true,
  });
  const state = reactive<reportWorkType>({
    treeCode: {},
    dataSource: [{}],
    loading: false,
    subVisible: false, //一级审批modal
    secVisible: false, //二和三级审批modal
    infoVisible: false,
    infoHtml: '',
    rowIn: {}, //当前行信息
    PerformanceType: 'PT-202023003',
  });

  const curApproval = ref();
  const rowSelection = ref({
    selectedRowKeys: [] as number[],
    onChange: (selectedRowKeys: number[], _selectedRows: TableListItem[]) => {
      rowSelection.value.selectedRowKeys = selectedRowKeys;
      curApproval.value = _selectedRows;
    },
  });
  //table列
  const columnsList = [
    ...baseColumns,
    {
      title: '操作',
      width: 60,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => {
        const actions: any = [];
        actions.push({
          label: '编辑',
          actionType: 'icon',
          icon: 'FormOutlined',
          style: 'color:#1890ff',
          onClick: () => {
            editInfo(record);
          },
        });
        return actions;
      },
    },
  ];

  // 树切换,查询重点工作列表
  const onSelect = async (_selectedKeys, { selectedNodes }) => {
    state.treeCode = {
      orgCode: selectedNodes[0].code,
      orgName: selectedNodes[0].title,
    };
    if (!_selectedKeys[0]) return;
    dynamicTableInstance.reload();
  };

  const curPeriod = ref();

  const changeType = (val) => {
    dynamicTableInstance.reload();
  };
  const loadTableData = async () => {
    if (!state.treeCode.orgCode) return;
    state.loading = true;
    const params = {
      evaluatedOrgCode: state.treeCode.orgCode,
      performanceType: state.PerformanceType,
    };
    const { data } = await queryWorkList(params);
    state.loading = false;
    state.dataSource = data?.data;
    curPeriod.value = data?.data[0]?.period;
    // changeData(state.dataSource, 'perfGName');
    return {
      list: state.dataSource || [],
    };
  };
  /**  编辑 */
  const editInfo = (record) => {
    state.rowIn = record;
    if (!record.evalHandleLevel || record.evalHandleLevel == '00') {
      state.subVisible = true;
    } else {
      state.secVisible = true;
    }
  };

  const closeModal = (_flag) => {
    dynamicTableInstance.reload();
    state.subVisible = false;
  };
  const closeSecondModal = (flag) => {
    if (flag) dynamicTableInstance.reload();
    state.secVisible = false;
  };

  const submitApproval = async () => {
    try {
      if (!curApproval.value) {
        throw `至少选择一条数据！`;
      }
      curApproval.value.map((item) => {
        if (item.perfEvalScoreFixOpt == '0') {
          throw `存在状态未提交完成，不能提交！`;
        }
      });
      const params = {
        period: curPeriod.value,
        ruleCodes: rowSelection.value.selectedRowKeys,
      };
      const { data } = await sumbitApproval(params);
      if (data.success) {
        message.success(data.message);
        dynamicTableInstance.reload();
      } else {
        throw data.message;
      }
    } catch (e: any) {
      message.error(e);
    }
  };
  //合并单元格
  // const changeData = (_data, field) => {
  //   let count = 0; //重复项的第一项
  //   let indexCount = 1; //下一项
  //   while (indexCount < state.dataSource.length) {
  //     const item = state.dataSource.slice(count, count + 1)[0]; //获取没有比较的第一个对象
  //     if (!item.rowSpan) {
  //       item.rowSpan = 1; //初始化为1
  //     }
  //     if (item[field] === state.dataSource[indexCount][field]) {
  //       //第一个对象与后面的对象相比，有相同项就累加，并且后面相同项设置为0
  //       item.rowSpan++;
  //       state.dataSource[indexCount].rowSpan = 0;
  //     } else {
  //       count = indexCount;
  //     }
  //     indexCount++;
  //   }
  // };
</script>

<style lang="less" scoped>
  .main {
    height: 100%;
    background: #fff;
    overflow-y: auto;
    .content {
      padding: 0.5rem 1.25rem;
      height: inherit;
      .line {
        margin: 0 40%;
        height: 100%;
        border-left: 0.0625rem solid #d8d8d8;
      }
    }
  }

  .emptys {
    margin-top: 200px;
  }
</style>
