<template>
  <div>
    <a-modal
      v-model:visible="dialogFormVisible"
      destroy-on-close
      :mask-closable="false"
      :title="state.title + 'SQL'"
      width="700px"
      :footer="null"
      @ok="handleOk"
    >
      <a-form
        ref="dictFormRef"
        :model="state.dictForm"
        :label-col="{ span: 5 }"
        :rules="dictFormRules"
        :wrapper-col="{ span: 16 }"
        @finish="onFinish"
        @finish-failed="onFinishFailed"
      >
        <a-form-item label="sql语句" name="registerSql">
          <myCode
            ref="myCodeRef"
            style="width: 450px; height: 250px; overflow: auto"
            @change-textarea="changeTextarea"
          />
          <!-- <a-button v-show="state.title == '编辑'" type="danger" size="small" @click="formaterSql()"
            >格式化sql</a-button
          > -->
        </a-form-item>
        <a-form-item label="语句描述" name="description">
          <a-textarea
            v-model:value="state.dictForm.description"
            placeholder="可输入200字符以内"
            :maxlength="200"
          />
        </a-form-item>
        <div class="sub-btn">
          <a-button
            html-type="submit"
            type="primary"
            style="margin-right: 20px"
            :loading="state.loading"
          >
            {{ state.title == '登记' ? '登记' : '确定' }}</a-button
          >
          <a-button @click="handleOk"> 取消</a-button>
        </div>
      </a-form>
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { ref, reactive, watch, nextTick } from 'vue';
  // import sqlFormatter from 'sql-formatter';
  import { message } from 'ant-design-vue';
  import { myCode } from './index.ts';
  import { saveSql } from '@/api/supervisionModel';
  const dialogFormVisible = ref(false);
  const dictFormRef = ref();
  const myCodeRef = ref();
  const emit = defineEmits(['search']);
  const props = defineProps({
    dictData: { type: Object, default: null },
  });
  watch(
    () => props.dictData,
    (val) => {
      if (dialogFormVisible.value) {
        nextTick(() => {
          state.title = val.registerId ? '编辑' : '登记';
          state.dictForm.registerSql = val.registerSql;
          state.dictForm.description = val.description;
          state.dictForm.registerId = val.registerId;
        });
      }
    },
    { deep: true },
  );
  const state = reactive({
    title: '',
    loading: false,
    dictForm: {
      registerSql: '',
      description: '',
      registerId: '',
    },
  });
  const dictFormRules = reactive({
    // registerSql: [{ required: true, message: '请输入sql语句', trigger: 'blur' }],
    description: [{ required: true, message: '请输入语句描述', trigger: 'blur' }],
  });
  const onFinish = () => {
    if (state.dictForm.registerSql == '') {
      message.warning('请输入sql语句');
      return false;
    }

    const _params = {
      ...state.dictForm,
    };
    saveSql(_params).then((res) => {
      state.loading = false;
      console.log(res);
      if (res.data.code === 'OK') {
        res.data.data ? message.success(res.data.message) : message.warning(res.data.message);
        emit('search');
        handleOk();
      }
    });
  };
  // const formaterSql = () => {//格式化
  //   const dom = myCodeRef.value;
  //   console.log('myCodeRef.value', dom);
  //   dom.setSql(sqlFormatter.format(state.dictForm.registerSql)); //dom.sqlVal
  // };
  const onFinishFailed = (errorInfo: any) => {
    console.log('Failed:', errorInfo);
  };
  const handleOk = () => {
    dictFormRef.value.resetFields();
    dialogFormVisible.value = false;
  };
  const changeTextarea = (val) => {
    state.dictForm.registerSql = val;
    myCodeRef.value.sqlVal = val; //监听sqlVal获取最新值再格式化
    // console.log('myCodeRef.value111111', myCodeRef.value);
    // myCodeRef.value.setSql(val);//这样直接复制-格式化拿不到最新值
  };
  const onChangeVisable = () => {
    dialogFormVisible.value = true;
  };
  defineExpose({ onChangeVisable, myCodeRef });
</script>

<style lang="less" scoped>
  .sub-btn {
    display: flex;
    justify-content: center;
  }
</style>
