<template>
  <div>
    <a-modal
      v-model:visible="dialogFormVisible"
      destroy-on-close
      :mask-closable="false"
      title="查看语句"
      width="700px"
      :footer="null"
      @ok="onChangeVisable1(false)"
    >
      <myCode
        ref="myCodeRef"
        :read-only="true"
        style="width: 100%; height: 300px; overflow: auto"
      />
      <a-button type="danger" size="small" @click="formaterSql()">格式化sql</a-button>
    </a-modal>
  </div>
</template>

<script setup lang="tsx">
  import { ref } from 'vue';
  import sqlFormatter from 'sql-formatter';
  import { myCode } from './index.ts';
  const dialogFormVisible = ref(false);
  const myCodeRef = ref();
  const onChangeVisable1 = (val) => {
    dialogFormVisible.value = val;
  };
  const formaterSql = () => {
    const dom = myCodeRef.value;
    dom.setSql(sqlFormatter.format(dom.sqlVal));
  };
  defineExpose({ onChangeVisable1, myCodeRef });
</script>
