<template>
  <a-row>
    <a-col
      v-for="(item, index) in chartInfo.chartList"
      :key="index"
      :span="6"
      class="chartCard"
      :style="{ background: item.check ? '#eee' : '#fff' }"
      @click="chooseChart(item.type, index)"
    >
      <a-tooltip placement="topLeft" :color="tipColor">
        <template #title>{{ item.tips }}</template>
        <div class="item">
          <img alt="" :src="require(`@/assets/images/chartImgs/${item.type}.png`)" />
          {{ item.title }}</div
        >
      </a-tooltip>
    </a-col>
  </a-row>
</template>

<script setup lang="ts">
  import { ref, reactive, watch } from 'vue';
  import TestAction from '../action/TestAction';
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  const store = chartConfigurations();
  defineOptions({
    name: 'ChartType',
  });
  const tipColor = ref('#666');
  const chartInfo = reactive({
    chartList: [
      // {
      //   title: '纵向表',
      //   type: 'portraitTable',
      //   tips: '至少1个纵轴字段',
      //   check: false,
      // },
      // {
      //   title: '合并表',
      //   type: 'mergeTable',
      //   tips: '至少1个横轴字段，至少1个纵轴字段',
      //   check: false,
      // },

      {
        title: '明细表',
        type: 'table',
        tips: '至少1个横轴字段，至少1个纵轴字段',
        check: false,
      },
      {
        title: '柱状图',
        type: 'bar',
        tips: '建议1个横轴字段，至少1个纵轴字段',
        check: false,
      },
      {
        title: '折线图',
        type: 'line',
        tips: '至少1个横轴字段，至少1个纵轴字段',
        check: false,
      },
      {
        title: '雷达图',
        type: 'radar',
        tips: '至少1个横轴字段，至少1个纵轴字段',
        check: false,
      },
      {
        title: '饼图',
        type: 'pie',
        tips: '至少1个横轴字段，至少1个纵轴字段',
        check: false,
      },
      {
        title: '柱状组合图',
        type: 'BspManyBar',
        tips: '至少1个横轴字段，至少2个纵轴字段',
        check: false,
      },
      {
        title: '条形图',
        type: 'flatBar',
        tips: '至少1个横轴字段，至少1个纵轴字段',
        check: false,
      },
      {
        title: '面积图',
        type: 'seriesLine',
        tips: '至少1个横轴字段，至少1个纵轴字段',
        check: false,
      },
      {
        title: '散点图',
        type: 'scatter',
        tips: '至少1个横轴字段，至少1个纵轴字段',
        check: false,
      },
      {
        title: '指标卡',
        type: 'editor',
        tips: '至少1个横轴字段，至少1个纵轴字段',
        check: false,
      },
    ],
  });
  function chooseChart(type, index) {
    chartInfo.chartList.forEach((item) => {
      item.check = false;
    });
    chartInfo.chartList[index].check = true;
    store.page.chartType = type;
    TestAction();
  }
  watch(
    () => store.page.chartType,
    (newVal) => {
      chartInfo.chartList.forEach((item) => {
        if (newVal == item.type) {
          item.check = true;
        } else {
          item.check = false;
        }
      });
    },
  );
</script>

<style lang="less" scoped>
  .chartCard {
    font-size: 12px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 0;
    cursor: pointer;
    * {
      user-select: none;
    }
    &:hover {
      background: #eee;
    }
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
</style>
