<template>
  <h2>{{ chartBaseInfo.moduleTit[0] }}</h2>
  <ChartType />
  <h2>{{ chartBaseInfo.moduleTit[1] }}</h2>
  <ChartConfig />
</template>

<script setup lang="ts">
  import { reactive } from 'vue';
  import ChartType from './ChartType.vue';
  import ChartConfig from './ChartConfig.vue';
  defineOptions({
    name: 'ChartBaseConfig',
  });
  const chartBaseInfo = reactive({
    moduleTit: ['图表类型', '图表配置'],
  });
</script>

<style lang="less" scoped>
  h2 {
    padding: 8px 0 6px;
    font-size: 16px;
  }
</style>
