<template>
  <div class="bjStyle">
    <a-row id="dingyue_box" class="titlebag">
      <a-col :md="{ span: 6, offset: 9 }"> 采购运营管理驾驶舱</a-col>
      <a-col :md="{ span: 3, offset: 6 }">
        {{ reportmonth }}
      </a-col>
    </a-row>
    <template>
      <a-anchor :affix="false">
        <a-anchor-link href="#dingyue_box" title="UP" />
      </a-anchor>
    </template>
    <!--  锚点定位  -->
    <div style="position: absolute; right: 1%; z-index: 99; float: left; bottom: 80px">
      <a-back-top :target="targetFn">
        <span
          data-v-06878f06=""
          class="fixed-widgets-avatar ant-dropdown-trigger ant-avatar ant-avatar-circle ant-avatar-icon"
          style="width: 44px; height: 44px; line-height: 44px; font-size: 22px"
          ><span data-v-06878f06="" role="img" class="anticon"
            ><svg width="21" height="21" viewBox="0 0 21 21" fill="currentColor">
              <g fillRule="evenodd">
                <g fillRule="nonzero">
                  <path
                    d="M7.02 3.635l12.518 12.518a1.863 1.863 0 010 2.635l-1.317 1.318a1.863 1.863 0 01-2.635 0L3.068 7.588A2.795 2.795 0 117.02 3.635zm2.09 14.428a.932.932 0 110 1.864.932.932 0 010-1.864zm-.043-9.747L7.75 9.635l9.154 9.153 1.318-1.317-9.154-9.155zM3.52 12.473c.514 0 .931.417.931.931v.932h.932a.932.932 0 110 1.864h-.932v.931a.932.932 0 01-1.863 0l-.001-.931h-.93a.932.932 0 010-1.864h.93v-.932c0-.514.418-.931.933-.931zm15.374-3.727a1.398 1.398 0 110 2.795 1.398 1.398 0 010-2.795zM4.385 4.953a.932.932 0 000 1.317l2.046 2.047L7.75 7 5.703 4.953a.932.932 0 00-1.318 0zM14.701.36a.932.932 0 01.931.932v.931h.932a.932.932 0 010 1.864h-.933l.001.932a.932.932 0 11-1.863 0l-.001-.932h-.93a.932.932 0 110-1.864h.93v-.931a.932.932 0 01.933-.932z"
                  ></path>
                </g>
              </g></svg></span
        ></span>
      </a-back-top>
    </div>
    <!--汇总-->
    <OverviewHzModule />
    <a-row class="blockstyle">
      <a-col :md="{ span: 24 }">
        <ul>
          <li
            v-for="item in indexNav"
            :key="item.name"
            class="home_navigation sbstyle"
            style="width: 130px"
            :class="[{ activeTab: active === item.name }]"
            @click="changeActive(item.name)"
          >
            <span>{{ item.name }}</span>
          </li>
        </ul>
      </a-col>
    </a-row>
    <OverviewCgsjModule v-if="indexNav[0].active" />
    <OverviewZlModule v-if="indexNav[1].active" />
    <OverviewCbModule v-if="indexNav[2].active" />
    <OverviewKcModule v-if="indexNav[3].active" />
    <OverviewTwoGold v-if="indexNav[4].active" />
    <OverviewXlModule v-if="indexNav[5].active" />
    <OverviewBicarbon v-if="indexNav[6].active" />
    <OverviewGiveServiceto v-if="indexNav[7].active" :months="reportmonth" />
    <OverviewBasicManagementModule v-if="indexNav[8].active" />
    <OverviewMeetingMinutes v-if="indexNav[9].active" />
    <OvervierWorkTips v-if="indexNav[10].active" :conditionalmonth="active1" />
    <OvervierMeetingmaterials
      v-if="indexNav[11].active"
      ref="OvervieMeeting"
      :title-name="'Overvie'"
    />
  </div>
</template>
<script setup lang="ts">
  import { ref, onMounted, reactive, nextTick } from 'vue';
  import {
    OverviewMeetingMinutes,
    OverviewCgsjModule,
    OverviewHzModule,
    OverviewCbModule,
    OverviewKcModule,
    OverviewZlModule,
    OverviewXlModule,
    OverviewTwoGold,
    OverviewBasicManagementModule,
    OverviewBicarbon,
    OverviewGiveServiceto,
    OvervierWorkTips,
    OvervierMeetingmaterials,
  } from '../modulefile';
  import Share from '@/views/strategyTracking/modulefile/components/share';

  defineOptions({
    name: 'overview',
    inheritAttrs: false,
  });
  const active1 = ref('总览');

  const reportmonth = ref();
  const active = ref('概况');
  const indexNav = reactive([
    { name: '概况', active: true },
    { name: '质量', active: false },
    { name: '成本', active: false },
    { name: '库存', active: false },
    { name: '资金', active: false },
    { name: '效率', active: false },
    { name: '双碳', active: false },
    { name: '服务', active: false },
    { name: '管理', active: false },
    { name: '决定事项', active: false },
    { name: '工作提示', active: false },
    { name: '会议材料', active: false },
  ]);
  const OvervieMeeting = ref();
  const changeActive = (data) => {
    active.value = data;
    for (let i = 0; i < indexNav.length; i++) {
      indexNav[i].active = false;
      if (data === indexNav[i].name) {
        indexNav[i].active = true;
      }
    }
    nextTick(() => {
      OvervieMeeting.value.searchPDF('Overvie');
    });
  };

  const targetFn = () => {
    console.log(document.querySelector('.tabs-view-content'));
    return document.querySelector('.tabs-view-content');
  };

  onMounted(() => {
    reportmonth.value = Share.yearMonth();
  });
</script>

<style lang="less" scoped>
  // @import '../../../../static/less/Color.less';

  .titlebag {
    font-family: @font-family;
    line-height: 80px;
    color: @heading-color;
    background-color: rgba(255, 212, 74, 0.5);
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .bjStyle {
    background: #f0f2f5;
    width: 100%;
  }

  ul {
    display: table;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    padding: 0px;
    height: 65px;
  }

  .home_navigation {
    float: left;
    width: 12.5%;
    text-align: center;
    line-height: 60px;
    font-family: @font-family;
    font-size: 24px;
    color: @heading-color;
    font-weight: bold;
  }

  .activeTab {
    color: #36a6fe;
    border-bottom: 3px solid #36a6fe;
    background: #f5e8b9;
    border-radius: 10px;
  }

  .blockstyle {
    font-family: @font-family;
    background: white;
    margin: 10px 0px;
  }

  /deep/ .ant-table-tbody > tr > td {
    font-family: @font-family;
    color: @heading-color;
    font-size: 22px;
    text-align: center;
    border: 1px solid #000000;
  }

  /deep/ .ant-table-thead > tr > th {
    font-family: @font-family;
    color: @heading-color;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    background-color: #f5e8b9;
    border: 1px solid #000000;
  }

  /deep/ .ant-modal {
    .ant-modal-body {
      padding: 10px;
    }
    .ant-modal-title {
      font-family: @font-family;
      font-size: 26px;
      font-weight: bold;
      color: @heading-color;
    }
    .ant-table-tbody > tr > td {
      font-family: @font-family;
      color: @heading-color;
      font-size: 22px;
      text-align: center;
    }

    .ant-table-thead > tr > th {
      font-family: @font-family;
      color: @heading-color;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      background-color: #f5e8b9;
    }
  }
  .sbstyle {
    cursor: pointer;
  }

  #components-back-top-demo-custom .ant-back-top {
    bottom: 100px;
  }
  #components-back-top-demo-custom .ant-back-top-inner {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #1088e9;
    color: #fff;
    text-align: center;
    font-size: 20px;
  }
</style>
