<template>
  <div class="main">
    <div class="content">
      <div class="menus">
        <Menus> </Menus>
      </div>
      <div>
        <a-tabs v-model:activeKey="activeKey" centered class="mt-1x">
          <a-tab-pane v-for="item in tabList" :key="item.value" :tab="item.label"></a-tab-pane>
        </a-tabs>
        <MROPer v-if="activeKey == '1'"></MROPer>
        <DeptPer v-if="activeKey == '2'"></DeptPer>
        <FTPPer v-if="activeKey == '3'"></FTPPer>
        <ANALPer v-if="activeKey == '4'"></ANALPer>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
  import { onMounted, ref } from 'vue';
  import MROPer from '../homeSet/MROPer.vue';
  import DeptPer from '../homeSet/DeptPer.vue';
  import FTPPer from '../homeSet/FTPPer.vue';
  import ANALPer from '../homeSet/ANALPer.vue';
  import { Menus } from './components';

  defineOptions({
    name: 'DashboardWelcome',
  });

  const tabList = ref([
    {
      label: '工业品绩效',
      value: '1',
    },
    {
      label: '各部门绩效',
      value: '2',
    },
    {
      label: '重点激励项目',
      value: '3',
    },
    {
      label: '绩效分析',
      value: '4',
    },
    {
      label: '工作提示',
      value: '6',
    },
    {
      label: '会议材料',
      value: '7',
    },
  ]);
  const activeKey = ref('1');
  onMounted(() => {});
</script>

<style lang="less" scoped>
  .ant-tabs {
    /deep/.ant-tabs-nav {
      background: #fff;
      margin-bottom: 0;
      .ant-tabs-tab {
        font-size: 16px;
      }
    }
  }
  .main {
    height: 100%;
    overflow-y: auto;
    .content {
      height: inherit;
    }
  }
</style>
