<template>
  <div style="width: 100%; margin-top: 10px">
    <a-row :gutter="[16, 10]">
      <a-col v-for="item in indexNav" :key="item" :md="{ span: 4 }">
        <div
          class="home_navigation"
          :class="[{ activeTab: onclicked.active == item.name }]"
          @click="getActive(item.name)"
        >
          <div class="devdome">
            <div class="devdome-div">
              <ScoringRing
                v-if="item.name !== '平台累计客户数'"
                :echarcolor="item.defcolor"
                :echardata="item.data"
                :echarunit="onclicked.unit"
              />
              <img
                v-if="item.name == '平台累计客户数'"
                src="../../../../styles/platformOver/总览tab平台累计客户数.png"
                alt="图片"
                class="imgclass"
              />
            </div>
            <div class="devdome-div1">
              <p class="devdome-div1-p1">{{ item.name }}</p>
              <div v-if="item.name !== '平台累计客户数'" class="devdome-div1-p2">
                <p>
                  目标&nbsp;&nbsp;<span class="devdome-div1-span">{{ item.data1 }}</span>
                  {{ item.unit1 }}
                </p>
                <p>
                  当前&nbsp;&nbsp;<span class="devdome-div1-span">{{ item.data2 }}</span>
                  {{ item.unit1 }}
                </p>
              </div>
              <div v-if="item.name == '平台累计客户数'" class="devdome-div1-p2">
                <p>
                  当前累计&nbsp;&nbsp;<span class="devdome-div1-span">{{ item.data1 }}</span>
                  {{ item.unit1 }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
    </a-row>
    <OverviewGmvPage v-if="indexNav[0].show" />
    <ServiceProduct
      v-if="indexNav[1].show"
      :year-month="props.yearMonth"
      :dep-data="props.depData"
    />
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch, nextTick } from 'vue';
  import { ScoringRing } from '../../echartsAssembly';
  import { OverviewGmvPage, ServiceProduct } from '../serviceproduct';
  const onclicked = reactive({
    active: 'GMV',
    unit: '%',
  });
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    depData: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    () => {},
  );
  watch(
    () => props.depData,
    () => {},
  );

  const indexNav = reactive([
    { name: 'GMV', defcolor: '#FF7400', data: 0, data1: 0, data2: 0, unit1: '亿元', show: true },
    {
      name: '服务产品营收',
      defcolor: '#FFBF3C',
      data: 0,
      data1: 0,
      data2: 0,
      unit1: '万元',
      show: false,
    },
    {
      name: '商城营收',
      defcolor: '#60C758',
      data: 0,
      data1: 0,
      data2: 0,
      unit1: '万元',
      show: false,
    },
    {
      name: '平台会员数',
      defcolor: '#FC6B57',
      data: 0,
      data1: 0,
      data2: 0,
      unit1: '家',
      show: false,
    },
    {
      name: '平台累计SKU数',
      defcolor: '#5AA2FF',
      data: 0,
      data1: 0,
      data2: 0,
      unit1: '万',
      show: false,
    },
    { name: '平台累计客户数', data1: 0, unit1: '万', show: false },
  ]);

  const getActive = (data) => {
    onclicked.active = data;
    for (let i = 0; i < indexNav.length; i++) {
      if (indexNav[i].name == data) {
        indexNav[i].show = true;
      } else {
        indexNav[i].show = false;
      }
    }
  };

  nextTick(() => {
    console.log('yearMonth', props.yearMonth);
    console.log('depData', props.depData);
  });

  // const query = () => {
  //   queryAggregate(parameter(2023052515484931)).then((result) => {});
  // };
</script>

<style lang="less" scoped>
  .home_navigation {
    background: linear-gradient(180deg, #eeeeee 0%, #f8faff 100%);
    border-radius: 8px;
    height: 150px;
  }

  .activeTab {
    background: linear-gradient(180deg, #ffffff 0%, #f8faff 100%);
    box-shadow: 0px 6px 16px 0px rgba(207, 136, 13, 0.14);
    border-radius: 8px;
  }

  .imgclass {
    width: 100px;
    padding: 30px 0px 15px 10px;
  }

  // 弹性布局
  .devdome {
    display: flex;
    justify-content: space-between;
  }
  .devdome-div {
    width: 40%;
    height: 150px;
  }
  .devdome-div1 {
    width: 60%;
    height: 150px;
  }

  .devdome-div1-p1 {
    margin-top: 20px;
    height: 24px;
    font-size: 24px;
    font-family: PangMenZhengDao;
    color: #591a1a;
    line-height: 27px;
  }

  .devdome-div1-p2 {
    margin-top: 8px;
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #591a1a;
    line-height: 22px;
  }

  .devdome-div1-span {
    height: 28px;
    font-size: 28px;
    font-family: Bahnschrift;
    color: #591a1a;
    line-height: 31px;
  }
</style>
