<template>
  <!-- 一级填报 -->
  <div>
    <DraggableModal
      v-model:visible="state.subVisible"
      destroy-on-close
      title="提示"
      :width="1100"
      :body-style="{ height: '500px', overflow: 'auto', padding: '8px 12px' }"
      @ok="infoHandleOk"
      @cancel="infoCancel(false)"
    >
      <a-form
        ref="formRef"
        :model="state.formList"
        name="basic"
        :label-col="{ span: 4 }"
        :wrapper-col="{ span: 19 }"
        autocomplete="off"
      >
        <a-form-item label="任务名称"> {{ state.formList.perfGName }} </a-form-item>
        <a-form-item label="年度目标"> {{ state.formList.yearEmphasisTarget }} </a-form-item>
        <a-form-item label="季度">
          {{
            state?.formList?.period
              ? dict.getItemText('PERFORMANCE_QUARTERLY_TYPE', state?.formList?.period)
              : '-'
          }}
        </a-form-item>
        <!-- 实绩终值 -->
        <a-form-item
          label="目标完成情况自评"
          name="perfEvalScoreFixOpt"
          :rules="[{ required: true, message: '请选择目标完成情况自评!' }]"
        >
          <a-select
            ref="select"
            v-model:value="state.formList.perfEvalScoreFixOpt"
            style="width: 240px"
          >
            <a-select-option
              v-for="(item, index) in dict.getItemsByDictCode('EMPHASIS_WORK_SELECT_TYPE')"
              :key="index"
              :value="item.itemValue"
              >{{ item.itemText }}</a-select-option
            >
          </a-select>
        </a-form-item>
        <!-- 鉴证性材料 -->
        <a-form-item label="鉴证性材料">
          <a-upload
            v-model:file-list="state.formList.fileList"
            name="file"
            accept=".doc,.docx,.png,.jpg,.jpeg,.pdf,.xls,.xlsx,.pptx,.zip,.rar,.mp4"
            :action="`${state.BASE_URL}performance-eval/n/public/batchadd/file?fileType=171`"
            :before-upload="beforeUpload"
            @change="(info) => handleChange(info)"
          >
            <a-button> <upload-outlined></upload-outlined>文件上传 </a-button>
            <span class="error"> (支持扩展名：.doc .docx .pdf .jpg .png)</span>
          </a-upload>
        </a-form-item>
        <a-form-item label="完成情况说明">
          <div style="border: 1px solid #ccc">
            <Toolbar
              style="border-bottom: 1px solid #ccc"
              :editor="editorRef"
              :default-config="toolbarConfig"
              :mode="mode"
            />
            <Editor
              v-model="state.formList.description"
              style="height: 300px; overflow-y: hidden"
              :default-config="editorConfig"
              :mode="mode"
              @on-created="(e) => handleCreated(e, 1)"
              @on-max-length="onMaxLength"
            />
          </div>
        </a-form-item>
        <a-form-item label="未完成原因分析">
          <div style="border: 1px solid #ccc">
            <Toolbar
              style="border-bottom: 1px solid #ccc"
              :editor="editorRef2"
              :default-config="toolbarConfig"
              :mode="mode"
            />
            <Editor
              v-model="state.formList.unfinishedDescription"
              style="height: 300px; overflow-y: hidden"
              :default-config="editorConfig"
              :mode="mode"
              @on-created="(e) => handleCreated(e, 2)"
              @on-max-length="onMaxLength"
            />
          </div>
        </a-form-item>
      </a-form>
      <template #footer>
        <a-button @click="infoCancel(false)">取消</a-button>
        <a-button type="primary" :loading="state.saveLoading" ghost @click="SaveDraftRow"
          >暂存</a-button
        >
        <a-button type="primary" @click="infoHandleOk">提交</a-button>
      </template>
    </DraggableModal>
  </div>
</template>
<script setup lang="ts">
  import { reactive, watch, ref, shallowRef, onMounted } from 'vue';
  import { UploadOutlined } from '@ant-design/icons-vue';
  import { cloneDeep } from 'lodash-es';
  import { Editor, Toolbar } from '@wangeditor/editor-for-vue';
  import {
    message,
    UploadChangeParam,
    type FormInstance,
    UploadProps,
    Upload,
  } from 'ant-design-vue';
  import type { IEditorConfig } from '@wangeditor/editor'; // 编辑器配置
  import { DraggableModal } from '@/components/core/draggable-modal';
  import '@wangeditor/editor/dist/css/style.css'; // 引入 css
  import dict from '@/utils/dict.js';
  import { saveWorkData, saveWorkDraft } from '@/api/perAppraisal/apiList';

  const props = defineProps({
    subVisible: { type: Boolean },
    rowInfo: {
      type: Object,
    },
  });
  const emits = defineEmits(['close']);
  type stateT = {
    BASE_URL: any;
    subVisible: Boolean;
    formList: {
      unfinishedDescription?: string;
      description?: string;
      perfGName?: string;
      period?: string;
      perfEvalScoreFixOpt?: string;
      fileList?: any;
      fieldNameCn?: string;
      yearEmphasisTarget?: string;
    };
    infoHtml: string;
    saveLoading: Boolean;
    subLoading: Boolean;
  };
  const state = reactive<stateT>({
    BASE_URL: process.env.VUE_APP_BASE_API,
    subVisible: false,
    formList: {},
    infoHtml: '',
    saveLoading: false,
    subLoading: false,
  });

  /** 表单 */
  const formRef = ref<FormInstance>();

  /** 上传文件  开始 **/
  const handleChange = (info: UploadChangeParam) => {
    if (info.file.status === 'done') {
      const fileInfo = info.fileList.map((item) => {
        if (item.status == 'done' && item?.response?.success) {
          return item.response.data;
        } else {
          return {
            fileAddress: getCaption(item.url),
            fileName: item.name,
          };
        }
      });
      state.formList.attestationFiles = fileInfo;
      message.success(`${info.file.name} 文件上传成功！`);
    } else if (info.file.status === 'error') {
      message.error(`${info.file.name} 文件上传失败！`);
    }
  };
  //截取等号后的值（接口返回的文件，需要手动处理为需要的格式进行展示）
  const getCaption = (obj) => {
    const index = obj.lastIndexOf('=');
    obj = obj.substring(index + 1, obj.length);
    return obj;
  };
  const beforeUpload = (file: UploadProps['fileList'][number]) => {
    const isLt100M = file.size / 1024 / 1024 < 100;
    if (!isLt100M) {
      message.error('文件最大100M!');
    }
    return isLt100M || Upload.LIST_IGNORE;
  };
  /** 上传文件  结束 **/

  /** 富文本编辑器相关配置  开始 **/
  const mode = ref('simple');
  const editorRef = shallowRef();
  const editorRef2 = shallowRef();
  const toolbarConfig = {
    excludeKeys: [
      'codeBlock',
      'fullScreen',
      'insertVideo',
      'todo',
      'through',
      'clearStyle',
      'insertTable',
    ],
  };
  const editorConfig: Partial<IEditorConfig> = {
    placeholder: '请输入内容...',
    maxLength: 10000,
    MENU_CONF: {},
  };
  const onMaxLength = function (_editor: IDomEditor) {
    message.error('最多允许输入10000字符!');
  };
  editorConfig.MENU_CONF['uploadImage'] = {
    server: `${state.BASE_URL}performance-eval/n/public/batchadd/file?fileType=171`,
    fieldName: 'file',
    // maxFileSize: 1 * 1024 * 1024, // 1M
    allowedFileTypes: ['image/*'],
    timeout: 5 * 1000, // 5 秒
    onSuccess(file: File, res: any) {
      message.success(`${file.name} 上传成功`, res);
    },
    onFailed(file: File, res: any) {
      message.success(`${file.name} 上传失败`, res);
    },
    onError(file: File, err: any, res: any) {
      message.success(`${file.name} 上传出错`, err, res);
    },
    customInsert(res: any, insertFn: InsertFnType) {
      const downUrl = `${state.BASE_URL}basic/n/get/file?key=`;
      insertFn(downUrl + res.data.fileAddress, res.data.fileName, downUrl + res.data.fileAddress);
    },
  };
  const handleCreated = (editor, type) => {
    if (type == '1') {
      editorRef.value = editor; // 记录 editor 实例，重要！
    } else {
      editorRef2.value = editor; // 记录 editor 实例，重要！
    }
  };
  /** 富文本编辑器相关配置  结束 **/

  /** 暂存重点工作填报 **/
  const SaveDraftRow = async (_e: MouseEvent) => {
    state.saveLoading = true;
    delete state.formList?.auditStatus;
    const params = { ...state.formList, approvalType: 'PT-202023003' };
    const { data } = await saveWorkDraft(params);
    if (data.success) {
      message.success(data.message);
    } else {
      message.error(data.message);
    }
    state.saveLoading = false;
  };

  /** 提交并保存 **/
  const infoHandleOk = () => {
    formRef.value
      ?.validate()
      .then(async () => {
        submitApproval();
      })
      .catch((error) => {
        console.log(`${error}`);
      });
  };
  const submitApproval = async () => {
    try {
      state.subLoading = true;
      delete state.formList?.auditStatus;
      const params = {
        ...state.formList,
        approvalType: 'PT-202023003',
        evalHandleLevel: '10', //此一级填报，类型不用根据角色处理入参，默认为10
      };
      const { data } = await saveWorkData(params);
      if (data.success) {
        infoCancel(true);
        message.success(data.message);
      } else {
        message.error(data.message);
      }
      state.subLoading = false;
    } catch (err: any) {
      return message.error(err);
    }
  };

  const infoCancel = (flag) => {
    //flag讲决定关闭弹框后是否查询列表
    emits('close', flag);
  };

  //渲染modal
  const renderModule = (record) => {
    const { attestationFiles } = record;
    if (['0', '3'].includes(record.perfEvalScoreFixOpt)) {
      record.perfEvalScoreFixOpt = null;
    }
    state.formList = cloneDeep(record);
    if (attestationFiles && attestationFiles.length > 0) {
      state.formList.fileList = attestationFiles.map((item, index) => {
        return {
          uid: index,
          name: item.fileName,
          status: 'done',
          url: `${state.BASE_URL}basic/n/get/file?key=${item.fileAddress}`,
        };
      });
    }
  };

  watch(
    () => props.subVisible,
    (newVal, _oldVal) => {
      state.subVisible = newVal;
      if (newVal) renderModule(props.rowInfo);
    },
  );
  onMounted(() => {
    handleCreated;
  });
</script>
<style lang="less" scoped></style>
