<template>
  <div>
    <DraggableModal
      v-model:visible="state.modalVisible"
      destroy-on-close
      title="重点工作列表"
      :width="1000"
      :body-style="{ 'min-height': '280px', overflow: 'auto', padding: '8px 12px' }"
      @cancel="infoCancel(false)"
    >
      当前level：{{ state.datalist.evalHandleLevel }},当前第{{
        state.datalist.evalHandleLevel == '10' ? '2' : '3'
      }}步
      <div class="operate">
        <div class="mb-2x">
          <i class="error">*</i>
          季度：
          <a-select
            v-model:value="monthVal"
            placeholder="请选择"
            style="width: 150px"
            disabled="true"
            @change="(value) => datechange(value)"
          >
            <a-select-option
              v-for="(item, index) in dict.getItemsByDictCode('PERFORMANCE_QUARTERLY_TYPE')"
              :key="index"
              :value="item.itemValue"
              >{{ item.itemText }}
            </a-select-option>
          </a-select>
        </div>
      </div>
      <DynamicTable
        :show-tool-bar="false"
        :columns="columnsList"
        :data-source="state.dataSource"
        :loading="state.loading"
      >
        <template #bodyCell="{ column, record }">
          <!-- 鉴定性材料 -->
          <template v-if="column.key === 'attestationFiles'">
            <div v-for="(item, idx) in record.attestationFiles" :key="idx">
              <a
                :href="`${state.BASE_URL}basic/n/get/file?key=${item.fileAddress}`"
                target="_blank"
                >{{ item.fileName }}</a
              >
            </div>
          </template>
        </template>
      </DynamicTable>
      <div class="mt-4x">
        <!-- 归口管理负责人-奖金分配 -->
        <a-form
          v-if="
            state.datalist.evalHandleLevel == '10' && recordInfo.performanceType == 'PT-202023003'
          "
          name="basic"
          :label-col="{ span: 3 }"
          :wrapper-col="{ span: 15 }"
          autocomplete="off"
        >
          <a-form-item label="奖金分配">
            <a-row class="part-content">
              <a-row v-for="(it, index) in state.dynamicForm" :key="index" class="mb-1x">
                <a-col :span="12" class="mr-1x">
                  <a-tree-select
                    v-model:value="it.orgCode"
                    show-search
                    :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
                    placeholder="请选择部门"
                    style="width: 220px"
                    allow-clear
                    :show-checked-strategy="SHOW_ALL"
                    tree-default-expand-all
                    :tree-data="treeDataSel"
                    @change="(value, label, e) => chooseOrg(value, label, e, index)"
                  >
                  </a-tree-select>
                </a-col>
                <a-col :span="9" class="mr-1x">
                  <a-input-number v-model:value="it.ratio" style="width: 160px" :min="0" :max="100">
                    <template #addonAfter>%</template>
                  </a-input-number>
                </a-col>
                <a-col :span="2">
                  <a-button type="primary" size="small" danger ghost @click="removeRow(index)"
                    >删除</a-button
                  >
                </a-col>
              </a-row>
              <a-col>
                <a-button block @click="addRow"> <PlusOutlined />新增 </a-button>
              </a-col>
            </a-row>
          </a-form-item>

          <a-form-item label="审核备注">
            <a-textarea
              v-model:value="state.datalist.auditRemarks"
              placeholder="请输入备注"
              :rows="4"
            />
          </a-form-item>
        </a-form>
        <!-- 绩效人员奖金分配 -->
        <div v-else-if="recordInfo.performanceType == 'PT-202023003'">
          <a-row class="mb-1x">
            <a-col :span="3" class="text-r">奖金分配：</a-col>
            <a-col :span="21">
              <a-row v-for="(it, index) in state.datalist.bonusAllocationRatios" :key="index">
                <a-col :span="5" class="mr-1x"> {{ it.orgName }} </a-col>
                <a-col :span="4" class="mr-1x"> {{ it.ratio }}% </a-col>
              </a-row>
            </a-col>
          </a-row>
          <a-row class="mb-1x">
            <a-col :span="3" class="text-r">审核备注：</a-col>
            <a-col :span="21"> {{ state.datalist.auditRemarks }} </a-col>
          </a-row>

          <a-form
            name="basic"
            :label-col="{ span: 3 }"
            :wrapper-col="{ span: 15 }"
            autocomplete="off"
          >
            <a-form-item label="奖金分配比例">
              <a-input-number
                v-model:value="state.datalist.bonusAllocation"
                style="width: 160px"
                :min="0"
                :max="100"
              >
                <template #addonAfter>%</template>
              </a-input-number>
            </a-form-item>
            <a-form-item label="奖金说明">
              <a-textarea
                v-model:value="state.datalist.bonusStatement"
                placeholder="请输入奖金说明"
                :rows="4"
              />
            </a-form-item>
          </a-form>
        </div>
      </div>
      <template #footer>
        <a-button @click="infoCancel(false)">取消</a-button>
        <a-button danger @click="rejectBtn">驳回</a-button>
        <a-button type="primary" :loading="state.subLoading" @click="submitApproval">提交</a-button>
      </template>
    </DraggableModal>
  </div>
</template>
<script setup lang="ts">
  import { reactive, ref, watch } from 'vue';
  import { message, type TreeSelectProps, TreeSelect } from 'ant-design-vue';
  import { baseColumns } from '../components/columnsWork'; //table列
  import { DraggableModal } from '@/components/core/draggable-modal';
  import { useTable } from '@/components/core/dynamic-table';
  import { getDeptAll } from '@/api/system/dept/index';
  import dict from '@/utils/dict.js';
  import { genDeptTreeItem } from '@/api/system/dept/service';
  import { queryWorkList } from '@/api/realPerData/realPerDataView';
  import { saveWorkData } from '@/api/perAppraisal/apiList';

  const SHOW_ALL = TreeSelect.SHOW_ALL;
  const emits = defineEmits(['close']);
  const props = defineProps({
    secVisible: { type: Boolean },
    treeInfo: {
      type: Object,
      default: () => {
        return {};
      },
    },
    recordInfo: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });
  const [DynamicTable] = useTable({
    search: false,
    pagination: false,
    size: 'small',
    rowKey: 'approvalCode',
    bordered: true,
    scroll: { x: 300, y: 300 },
  });
  const state = reactive<any>({
    BASE_URL: process.env.VUE_APP_BASE_API,
    modalVisible: false,
    treeCode: {},
    dataSource: [{}],
    datalist: {},
    loading: false,
    infoVisible: false,
    infoHtml: '',
    rowIn: {}, //当前行信息
    dynamicForm: [
      {
        orgName: '',
        orgCode: undefined,
        ratio: '',
      },
    ],
    subLoading: false,
  });
  const loadTableData = async (date: null) => {
    if (!props?.treeInfo.orgCode) return;
    state.loading = true;
    const params = {
      evaluatedOrgCode: props.treeInfo.orgCode,
      ruleCode: props.recordInfo.ruleCode,
      period: date,
    };
    const { data } = await queryWorkList(params);
    state.loading = false;
    state.dataSource = data?.data || [];
    state.datalist = data?.data[0];
    renderData(state.datalist);
  };
  /** 回填暂存的信息 */
  const renderData = (data) => {
    monthVal.value = data.period;
    state.dynamicForm = data.bonusAllocationRatios || [
      {
        orgName: '',
        orgCode: undefined,
        ratio: '',
      },
    ];
  };

  /** 日期选择器相关配置 */
  const monthVal: any = ref();

  const datechange = (_value) => {
    loadTableData(_value);
  };
  //table列
  const columnsList = [...baseColumns];

  const treeDataSel = ref<TreeSelectProps['treeData']>([]);

  /**查询相关组织树选择
   *@genTreeNameItem 转换树格式,此处对接5s，转换的部门树均使用中文
   */
  const queryDept = async () => {
    const { rows } = (await getDeptAll()) as any;
    const deptTree: API.TreeDataItem[] = [];
    for (let i = 0; i < rows.children.length; i++) {
      const temp = rows.children[i];
      deptTree.push(genDeptTreeItem(temp));
    }
    treeDataSel.value = deptTree;
  };

  const chooseOrg = (_value, _label, _e, index) => {
    state.dynamicForm[index].orgName = _label[0];
  };
  const addRow = () => {
    state.dynamicForm.push({
      orgName: '',
      orgCode: undefined,
      ratio: '',
    });
  };
  const removeRow = (i) => {
    state.dynamicForm.splice(i, 1);
  };

  const infoCancel = (flag) => {
    //flag讲决定关闭弹框后是否查询列表
    emits('close', flag);
  };
  //暂存重点工作填报
  const comParams = () => {
    if (state.datalist.evalHandleLevel == '10') {
      state.datalist.bonusAllocationRatios = state.dynamicForm;
    }
    return {
      ...state.datalist,
      approvalType: 'PT-202023003',
    };
  };

  // 驳回
  const rejectBtn = () => {
    saveApprove(state.datalist.evalHandleLevel == '10' ? '00' : '10');
  };
  // 保存
  const submitApproval = () => {
    state.subLoading = true;
    saveApprove(state.datalist.evalHandleLevel == '10' ? '20' : '30');
  };
  const saveApprove = async (level) => {
    try {
      const params = {
        ...comParams(),
        evalHandleLevel: level, //此一级填报，类型不用根据角色处理入参，默认为10
      };
      const { data } = await saveWorkData(params);
      if (data.success) {
        infoCancel(true);
        message.success(data.message);
      } else {
        message.error(data.message);
      }
      state.subLoading = false;
    } catch (err: any) {
      return message.error(err);
    }
  };
  watch(
    () => props.secVisible,
    (newVal, _oldVal) => {
      state.modalVisible = newVal;
      if (newVal) {
        queryDept();
        loadTableData(null);
      }
    },
  );
</script>
<style lang="less" scoped>
  .part-content {
    border: 1px dashed #ccc;
    border-radius: 4px;
    padding: 8px;
    line-height: 32px;
  }
  .operate {
    display: flex;
    flex-direction: row-reverse;
  }
</style>
