<template>
  <DraggableModal
    v-model:visible="myVisible"
    :width="900"
    :footer="null"
    destroy-on-close
    @cancel="close"
  >
    <template #title>
      <p class="ellipsis" :title="props.title">{{ props.title }}</p>
    </template>
    <Table :records="props.records" :cols="props.cols"></Table>
    <a-form
      :model="formState"
      name="basic"
      :label-col="{ span: 2 }"
      :wrapper-col="{ span: 10 }"
      autocomplete="off"
      @finish="onFinish"
      @finish-failed="onFinishFailed"
    >
      <a-form-item
        label="审核意见"
        name="auditStatus"
        :rules="[{ required: true, message: '请选择审核意见' }]"
      >
        <a-radio-group v-model:value="formState.auditStatus" style="margin-left: 10px">
          <a-radio :value="'30'"> 通过 </a-radio>
          <a-radio :value="'40'"> 驳回 </a-radio>
        </a-radio-group>
      </a-form-item>
      <a-form-item label="审核备注" name="auditRemark">
        <a-textarea v-model:value="formState.auditRemark" allow-clear />
      </a-form-item>
      <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
        <a-button type="primary" :loading="state.submitLoading" html-type="submit">保存</a-button>
      </a-form-item>
    </a-form>
  </DraggableModal>
</template>

<script lang="ts" setup>
  import { ref, watch, reactive } from 'vue';
  import Table from '@/components/business/detail/components/Table.vue';
  import { audit } from '@/api/orgPerList/setUp';
  import { DraggableModal } from '@/components/core/draggable-modal';
  defineOptions({ name: 'auditModal' });
  const emit = defineEmits(['close']);
  const props = defineProps({
    visible: Boolean,
    title: { required: true, type: String },
    records: { type: Array, default: () => [] },
    record: { type: Object, default: () => {} },
    cols: { required: true, type: Number, default: 3 },
  });
  const myVisible = ref(false);
  const close = () => {
    emit('close');
  };
  const formState = reactive<FormState>({
    ruleCode: '',
    auditStatus: '',
    auditRemark: '',
  });
  watch(
    () => props.visible,
    (v) => {
      myVisible.value = v;
      if (props.visible) {
        formState.ruleCode = props.record.ruleCode;
        formState.auditStatus = props.record.auditStatus;
        formState.auditRemark = props.record.auditRemark;
        if (formState.auditStatus != 30 || formState.auditStatus != 40) {
          formState.auditStatus = '';
        }
      }
    },
  );
  const state = reactive({ submitLoading: false });
  const onFinish = async (values: any) => {
    state.submitLoading = true;
    const params = {
      ...values,
      ruleCode: props.record.ruleCode,
    };
    const { data } = await audit(params);
    if (data.code == 'OK') {
      state.submitLoading = false;
      emit('close');
    }
  };

  const onFinishFailed = (errorInfo: any) => {
    console.log('Failed:', errorInfo);
  };
</script>

<style scoped lang="less">
  .ellipsis {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
