<template>
  <DraggableModal
    v-model:visible="myVisible"
    title="编辑"
    :width="900"
    :body-style="{ height: '460px', overflow: 'auto' }"
    destroy-on-close
    @cancel="close(false)"
    @ok="onOk"
  >
    <a-form v-bind="formItemLayout" ref="formRef" :model="formState" name="validate_other">
      <a-row :gutter="24">
        <a-col :span="12">
          <a-form-item label="目标名称">
            <span class="ant-form-text">{{ formState.perfGName }}</span>
          </a-form-item>
        </a-col>
      </a-row>
      <a-row :gutter="24">
        <a-col :span="12">
          <a-form-item label="归口管理部门">
            <span class="ant-form-text">{{ formState.orgPerformanceName }}</span>
          </a-form-item>
        </a-col>
        <a-col :span="12">
          <a-form-item label="指标类别">
            <span class="ant-form-text">{{
              dict.getValue('INDICATOR_CATEGORY', formState.perfGCategory)?.itemText ?? '-'
            }}</span>
          </a-form-item>
        </a-col>
      </a-row>
      <a-row :gutter="24">
        <a-col :span="12">
          <a-form-item label="被评价单位">
            <span class="ant-form-text">{{ formState.evaluatedOrgName }}</span>
          </a-form-item>
        </a-col>
        <a-col :span="12">
          <a-form-item label="指标单位">
            <span class="ant-form-text">{{
              dict.getValue('INDICATOR_UNIT', formState.perfGOrgCode)?.itemText ?? '-'
            }}</span>
          </a-form-item>
        </a-col>
      </a-row>

      <a-row :gutter="24">
        <a-col :span="12">
          <a-form-item
            label="绩效类型"
            name="performanceType"
            :rules="[{ required: true, message: '请选择绩效类型' }]"
          >
            <a-select
              v-model:value="formState.performanceType"
              placeholder="请选择"
              @change="(value) => performanceTypeChange(value, null)"
            >
              <a-select-option
                v-for="(item, index) in dict.getItemsByDictCode('PERFORMANCE_TYPE')"
                :key="index"
                :value="item.itemValue"
                >{{ item.itemText }}</a-select-option
              >
            </a-select>
          </a-form-item>
        </a-col>
      </a-row>
      <!-- <a-form-item v-if="performanceTypeFlag" label="任务项">
        <plus-circle-outlined @click="addNumber" />
      </a-form-item> -->
      <a-form-item
        v-for="(item, index) in formState.taskItems"
        :key="index"
        :label="`子项工作${index + 1}`"
      >
        <a-form-item no-style>
          <a-input v-model:value="item.subtaskName" style="width: 80%" placeholder="请输入" />
        </a-form-item>
        <!-- <span class="ant-form-text"><minus-circle-outlined @click="delNumber(index)" /></span> -->
      </a-form-item>
      <a-row v-if="!performanceTypeFlag" :gutter="24">
        <a-col :span="12">
          <a-form-item label="权重" name="score" :rules="[{ required: true }]">
            <a-form-item name="input-number" no-style>
              <a-input-number
                v-model:value="formState.score"
                style="width: 90%"
                string-mode
                :step="0.01"
                placeholder="请输入数值"
              />
            </a-form-item>
            <span class="ant-form-text">%</span>
          </a-form-item>
        </a-col>
        <a-col :span="12">
          <a-form-item
            label="时间周期"
            name="timePeriod"
            :rules="[{ required: true, message: '请选择时间周期' }]"
          >
            <a-select v-model:value="formState.timePeriod" placeholder="请选择">
              <a-select-option
                v-for="(item, index) in dict.getItemsByDictCode('TIME_PERIOD')"
                :key="index"
                :value="item.itemValue"
                >{{ item.itemText }}</a-select-option
              >
            </a-select>
          </a-form-item>
        </a-col>
      </a-row>
      <a-row v-if="!performanceTypeFlag" :gutter="24">
        <a-col :span="12">
          <a-form-item
            label="评价周期"
            name="evaluatePeriod"
            :rules="[{ required: true, message: '请选择评价周期' }]"
          >
            <a-select v-model:value="formState.evaluatePeriod" placeholder="请选择">
              <a-select-option
                v-for="(item, index) in dict.getItemsByDictCode('EVALUATION_PERIOD')"
                :key="index"
                :value="item.itemValue"
                >{{ item.itemText }}</a-select-option
              >
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="12">
          <a-form-item
            label="年度目标"
            name="yearTarget"
            :rules="[{ required: true, message: '请输入年度目标' }]"
          >
            <a-input-number
              v-model:value="formState.yearTarget"
              string-mode
              :step="0.01"
              placeholder="请输入数值"
            />
          </a-form-item>
        </a-col>
      </a-row>
      <a-row v-else :gutter="24">
        <a-col :span="12">
          <a-form-item label="年度目标" name="yearEmphasisTarget" :rules="[{ required: true }]">
            <a-input v-model:value="formState.yearEmphasisTarget" placeholder="请输入年度目标" />
          </a-form-item>
        </a-col>
        <a-col :span="12">
          <a-form-item label="年度奖励额度" name="yearProposedBonus" :rules="[{ required: true }]">
            <a-input
              v-model:value="formState.yearProposedBonus"
              placeholder="请输入年度奖励额度"
              suffix="万元"
            />
          </a-form-item>
        </a-col>
      </a-row>
      <a-row v-if="!performanceTypeFlag" :gutter="24">
        <a-col :span="12">
          <a-form-item label="指标上限">
            <a-input-number
              v-model:value="formState.perfGUpperLimit"
              string-mode
              :step="0.01"
              placeholder="请输入数值"
            />
          </a-form-item>
        </a-col>
        <a-col :span="12">
          <a-form-item label="指标下限">
            <a-input-number
              v-model:value="formState.perfGLowerLimit"
              string-mode
              :step="0.01"
              placeholder="请输入数值"
            />
          </a-form-item>
        </a-col>
      </a-row>
      <a-row v-if="!performanceTypeFlag" :gutter="24">
        <a-col
          v-if="
            !['20', '30'].includes(formState.evaluatePeriod) &&
            ['PT-202023001', 'PT-202023002'].includes(formState.performanceType)
          "
          :span="12"
        >
          <a-form-item label="第1季度目标" name="qOneGoal" :rules="[{ required: true }]">
            <a-input-number
              v-model:value="formState.qOneGoal"
              string-mode
              :step="0.01"
              placeholder="请输入数值"
            />
          </a-form-item>
        </a-col>
        <a-col
          v-if="
            !['30'].includes(formState.evaluatePeriod) &&
            ['PT-202023001', 'PT-202023002'].includes(formState.performanceType)
          "
          :span="12"
        >
          <a-form-item label="第2季度目标" name="qSedGoal" :rules="[{ required: true }]">
            <a-input-number
              v-model:value="formState.qSedGoal"
              string-mode
              :step="0.01"
              placeholder="请输入数值"
            />
          </a-form-item>
        </a-col>
        <a-col
          v-if="
            !['20', '30'].includes(formState.evaluatePeriod) &&
            ['PT-202023001', 'PT-202023002'].includes(formState.performanceType)
          "
          :span="12"
        >
          <a-form-item label="第3季度目标" name="qThirdGoal" :rules="[{ required: true }]">
            <a-input-number
              v-model:value="formState.qThirdGoal"
              string-mode
              :step="0.01"
              placeholder="请输入数值"
            />
          </a-form-item>
        </a-col>
        <a-col
          v-if="
            !['30'].includes(formState.evaluatePeriod) &&
            ['PT-202023001', 'PT-202023002'].includes(formState.performanceType)
          "
          :span="12"
        >
          <a-form-item label="第4季度目标" name="qFourthGoal" :rules="[{ required: true }]">
            <a-input-number
              v-model:value="formState.qFourthGoal"
              string-mode
              :step="0.01"
              placeholder="请输入数值"
            />
          </a-form-item>
        </a-col>
      </a-row>
      <a-row v-else :gutter="24">
        <a-col :span="12">
          <a-form-item label="第1季度目标" name="qOneEmphasisGoal" :rules="[{ required: true }]">
            <a-input v-model:value="formState.qOneEmphasisGoal" placeholder="请输入" />
          </a-form-item>
        </a-col>
        <a-col :span="12">
          <a-form-item label="第2季度目标" name="qSedEmphasisGoal" :rules="[{ required: true }]">
            <a-input v-model:value="formState.qSedEmphasisGoal" placeholder="请输入" />
          </a-form-item>
        </a-col>
        <a-col :span="12">
          <a-form-item label="第3季度目标" name="qThirdEmphasisGoal" :rules="[{ required: true }]">
            <a-input v-model:value="formState.qThirdEmphasisGoal" placeholder="请输入" />
          </a-form-item>
        </a-col>
        <a-col :span="12">
          <a-form-item label="第4季度目标" name="qFourthEmphasisGoal" :rules="[{ required: true }]">
            <a-input v-model:value="formState.qFourthEmphasisGoal" placeholder="请输入" />
          </a-form-item>
        </a-col>
      </a-row>
    </a-form>
  </DraggableModal>
</template>

<script setup lang="ts">
  import { ref, watch, reactive } from 'vue';
  import { message } from 'ant-design-vue';
  import { DraggableModal } from '@/components/core/draggable-modal';
  import { update } from '@/api/orgPerList/setUp';
  import dict from '@/utils/dict.js';
  defineOptions({ name: 'emitModal' });
  const emit = defineEmits(['close']);
  const props = defineProps({
    visible: Boolean,
    record: { type: Object, default: () => {} },
  });
  const myVisible = ref(false);
  const formState = reactive<any>({});
  const formItemLayout = {
    labelCol: { span: 6 },
    wrapperCol: { span: 20 },
  };
  const formRef = ref<any>(null);
  /** 校验子项 */
  const checkItem = () => {
    const allItem = formState.taskItems;
    for (const item of allItem) {
      if (!item.subtaskName) {
        message.error('子工作项不能为空！');
        return false;
      }
    }
    return true;
  };
  /** 新增行 **/
  const addNumber = () => {
    if (checkItem()) formState.taskItems.push({ subtaskCode: '', subtaskName: '' });
  };
  /** 删除行 **/
  const delNumber = (index) => {
    if (formState.taskItems.length <= 1) {
      return;
    }
    formState.taskItems.splice(index, 1);
  };

  const close = (isload) => {
    emit('close', isload);
    // formRef.value.resetFields();
  };
  /** 保存 **/
  const onOk = async () => {
    if (!checkItem()) return false;
    try {
      const values = await formRef.value.validateFields();
      const params = { ...formState, ...values };
      const workArr = ['PT-202023003', 'PT-202023004', 'PT-202023005', 'PT-202023006'];
      if (workArr.includes(params.performanceType)) {
        for (const key in params) {
          if (['yearTarget', 'qOneGoal', 'qSedGoal', 'qThirdGoal', 'qFourthGoal'].includes(key)) {
            delete params[key];
          }
        }
      }
      await update(params).then((res) => {
        if (res.data.success) {
          emit('close', true);
          message.success(res.data.message);
        } else {
          message.error(res.data.message);
        }
      });
    } catch (errorInfo) {
      console.log('Failed:', errorInfo);
    }
  };
  const performanceTypeFlag = ref(false);
  const performanceTypeChange = (value, taskItem) => {
    const workType = ['PT-202023003', 'PT-202023004', 'PT-202023005', 'PT-202023006'];
    if (workType.includes(value)) {
      performanceTypeFlag.value = true;
      formState.taskItems =
        taskItem && taskItem.length > 0 ? taskItem : [{ subtaskCode: '', subtaskName: '' }];
    } else {
      performanceTypeFlag.value = false;
      formState.taskItems = [];
    }
  };
  watch(
    () => props.visible,
    (v) => {
      myVisible.value = v;
      if (v) {
        for (const key in props.record) {
          formState[key] = props.record[key];
        }
        performanceTypeChange(formState.performanceType, formState.taskItems);
      }
    },
  );
</script>

<style scoped lang="less">
  /deep/.ant-input-number {
    width: 100%;
  }
  .ant-form-text {
    margin-left: 8px;
  }
</style>
