<template>
  <div>
    <DraggableModal
      v-model:visible="addEdiitVisible"
      :mask-closable="false"
      destroy-on-close
      :title="state.isAdd === 'add' ? '新增' : state.isAdd === 'edit' ? '编辑' : '字段查看'"
      width="800px"
      :footer="null"
      @ok="onChangeVisable(false)"
    >
      <div>
        <a-form ref="auditFormRef" :model="state.formState" @finish="onFinish">
          <a-form-item
            v-if="state.isAdd !== 'seeField'"
            label="名称"
            :validate-status="SourceNameValidateStatus"
            :help="SourceNameHelp"
            name="dataSourceName"
            :label-col="state.labelCol"
            :wrapper-col="state.wrapperCol"
            :rules="[
              { required: true, message: '名称', trigger: 'blur' },
              { max: 100, message: '100字符以内' },
            ]"
          >
            <a-input
              v-model:value="state.formState.dataSourceName"
              placeholder="请输入100字符以内"
              @change="checkSourceName(state.formState.dataSourceName)"
            />
          </a-form-item>
          <a-form-item
            v-if="state.isAdd !== 'seeField'"
            label="说明"
            name="dataSourceDesc"
            :label-col="state.labelCol"
            :wrapper-col="state.wrapperCol"
            :rules="[{ trigger: 'blur', max: 200, message: '200字符以内' }]"
          >
            <a-input
              v-model:value="state.formState.dataSourceDesc"
              placeholder="请输入200字符以内"
            />
          </a-form-item>
          <a-form-item
            v-if="state.isAdd !== 'seeField'"
            label="接口地址"
            name="dataSourceAddr"
            :label-col="state.labelCol"
            :wrapper-col="state.wrapperCol"
            :rules="[{ trigger: 'blur' }]"
          >
            <a-input v-model:value="state.formState.dataSourceAddr" placeholder="请输入接口地址" />
          </a-form-item>
          <a-form-item
            v-if="state.isAdd !== 'seeField'"
            label="接口返回值"
            name="dataSourceDemo"
            :label-col="state.labelCol"
            :wrapper-col="state.wrapperCol"
            :rules="[{ trigger: 'blur', max: 500, message: '500字符以内' }]"
          >
            <a-textarea
              v-model:value="state.formState.dataSourceDemo"
              placeholder="请输入500字符以内"
            />
          </a-form-item>
          <div class="fields">
            <span><b :class="state.isAdd == 'seeField' ? null : 'fields-b'">*</b>子字段管理 :</span>
            <a-space
              v-for="(f, index) in state.formState.dataColumns"
              :key="index"
              class="fields-item"
              align="baseline"
            >
              <a-form-item
                :name="['dataColumns', index, 'columnType']"
                label="字段类型"
                :label-col="{ span: 9 }"
                :rules="
                  state.isAdd == 'seeField'
                    ? null
                    : {
                        required: true,
                        message: '字段类型',
                      }
                "
              >
                <a-select
                  v-model:value="f.columnType"
                  :disabled="state.isAdd == 'seeField' ? 'state.disabled' : false"
                  :options="state.typeField"
                  style="width: 140px"
                  @change="checkColumnType(f.columnType)"
                ></a-select>
              </a-form-item>
              <a-form-item
                label="字段名"
                :validate-status="columnEnNameValidateStatus"
                :help="columnEnNameHelp"
                :name="['dataColumns', index, 'columnEnName']"
                :label-col="{ span: 9 }"
                :rules="
                  state.isAdd == 'seeField'
                    ? null
                    : [
                        {
                          required: true,
                          message: '字段名',
                        },
                        { max: 500, message: '500字符以内' },
                      ]
                "
              >
                <a-input
                  v-model:value="f.columnEnName"
                  :disabled="state.isAdd == 'seeField' ? 'state.disabled' : false"
                  placeholder="请输入500以内英文字符,不允许重复"
                  @change="checkEnName(f.columnEnName, index)"
                />
              </a-form-item>
              <a-form-item
                label="中文描述"
                :name="['dataColumns', index, 'columnCnName']"
                :label-col="{ span: 9 }"
                :rules="
                  state.isAdd == 'seeField'
                    ? null
                    : [
                        {
                          required: true,
                          message: '中文描述',
                        },
                        { max: 500, message: '500字符以内' },
                      ]
                "
              >
                <a-input
                  v-model:value="f.columnCnName"
                  :disabled="state.isAdd == 'seeField' ? 'state.disabled' : false"
                  placeholder="请输入500以内中文字符,不允许重复"
                />
              </a-form-item>
              <MinusCircleOutlined v-if="state.isAdd !== 'seeField'" @click="removeField(f)" />
            </a-space>
          </div>
          <a-form-item>
            <a-button v-if="state.isAdd !== 'seeField'" type="dashed" block @click="addField">
              <PlusOutlined />
              添加字段管理
            </a-button>
          </a-form-item>
          <div class="sub-btn">
            <a-button
              v-if="state.isAdd !== 'seeField'"
              class="button-canel"
              :loading="state.loading"
              @click="cancelUpdate"
            >
              取消</a-button
            >
            <a-button
              v-if="state.isAdd !== 'seeField'"
              html-type="submit"
              type="primary"
              style="background: #1890ff; color: #fff"
              :loading="state.loading"
            >
              提交</a-button
            >
          </div>
        </a-form>
      </div>
    </DraggableModal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, watch } from 'vue';
  import { PlusOutlined } from '@ant-design/icons-vue';
  import { message } from 'ant-design-vue';
  import {
    CreatePerfor,
    remoteCheckcolumnName,
    remoteCheckSourceName,
  } from '@/api/datenBasis/performance';
  import { DraggableModal } from '@/components/core/draggable-modal';

  import 'ant-design-vue/lib/button/style';
  const props = defineProps({
    checkData: { type: Object, default: null },
  });
  const emit = defineEmits(['search', 'reloadList']);
  const addEdiitVisible = ref(false);
  const auditFormRef = ref();
  const state = reactive({
    loading: false,
    disabled: true,
    fieldEnName: '',
    fieldColumnType: '',
    titles: '',
    isAdd: '',
    labelCol: { span: 3 },
    wrapperCol: { span: 19 },
    typeField: [
      { label: '定性', value: '10' },
      { label: '定量', value: '20' },
    ],
    formState: {
      dataColumns: [
        {
          columnType: '',
          columnCnName: '',
          columnEnName: '',
        },
      ],
      dataSourceCode: '',
      dataSourceName: '',
      type: '',
      dataSourceDesc: '',
      dataSourceAddr: '',
      dataSourceDemo: '',
    },
  });
  interface DataColumns {
    columnCnName: string;
    columnEnName: string;
    id: number;
  }
  const removeField = (item: DataColumns) => {
    const index = state.formState.dataColumns.indexOf(item);
    if (index !== -1) {
      if (state.formState.dataColumns.length > 1) {
        state.formState.dataColumns.splice(index, 1);
      } else {
        state.formState.dataColumns = [
          {
            columnType: '',
            columnCnName: '',
            columnEnName: '',
          },
        ];
        message.error('请输入子字段内容');
      }
    }
  };
  const addField = () => {
    state.formState?.dataColumns.push({
      columnType: '',
      columnCnName: '',
      columnEnName: '',
    });
  };
  const onChangeVisable = (flag, isAdd) => {
    addEdiitVisible.value = flag;
    state.isAdd = isAdd;
  };

  const onFinish = async () => {
    const _params = {
      ...state.formState,
      dataSourceCode: props.checkData.dataSourceCode,
      pkId: props.checkData.pkId ? props.checkData.pkId : null,
    };
    const { data } = await CreatePerfor(_params);
    if (data.success) {
      state.loading = false;
      onChangeVisable(false);
      emit('reloadList');
      message.success(data.message);
    } else {
      message.error(data.message);
    }
  };
  // 取消
  const cancelUpdate = () => {
    addEdiitVisible.value = false;
    // resetForm();
    emit('reloadList');
  };
  // 重置表单
  const resetForm = () => {
    (state.formState.dataColumns = [
      {
        columnType: '',
        columnCnName: '',
        columnEnName: '',
      },
    ]),
      (state.formState.dataSourceCode = ''),
      (state.formState.dataSourceName = '');
    state.formState.type = '';
    state.formState.dataSourceDesc = '';
    state.formState.dataSourceAddr = '';
    state.formState.dataSourceDemo = '';
  };
  // 判断定性定量
  const checkColumnType = (val) => {
    state.fieldColumnType = val;
  };
  // 字段名称定性重复校验
  const columnEnNameValidateStatus = ref<string | undefined>(undefined);
  const columnEnNameHelp = ref<string | undefined>(undefined);

  const checkEnName = (val, index) => {
    if (state.fieldColumnType == '10') {
      val = typeof val === 'undefined' ? '' : val.trim();
      if (val.length > 0) {
        const columnEnName = val;
        columnEnNameValidateStatus.value = 'validating';
        const params: any = { columnEnName };
        remoteCheckcolumnName(params).then((r) => {
          if (r.data.code === 'OK') {
            if (r.data.data) {
              columnEnNameValidateStatus.value = undefined;
              columnEnNameHelp.value = undefined;
            } else if (r.data.message == '字段名只能为英文') {
              columnEnNameValidateStatus.value = 'error';
              columnEnNameHelp.value = '字段名只能为英文';
            } else {
              columnEnNameValidateStatus.value = 'error';
              columnEnNameHelp.value = '抱歉，字段名称不能重复';
            }
          } else {
            columnEnNameValidateStatus.value = 'error';
            columnEnNameHelp.value = '请求失败';
          }
        });
      } else {
        columnEnNameValidateStatus.value = 'error';
        columnEnNameHelp.value = '字段英文名称不能为空';
      }
    }
  };
  const SourceNameValidateStatus = ref<string | undefined>(undefined);
  const SourceNameHelp = ref<string | undefined>(undefined);

  // 列表名称重复校验
  const checkSourceName = (val) => {
    val = typeof val === 'undefined' ? '' : val.trim();
    if (val.length > 0) {
      const dataSourceName = val;
      SourceNameValidateStatus.value = 'validating';

      const params: any = { dataSourceName };
      remoteCheckSourceName(params).then((r) => {
        if (r.data.code === 'OK') {
          if (r.data.data) {
            SourceNameValidateStatus.value = undefined;
            SourceNameHelp.value = undefined;
          } else {
            SourceNameValidateStatus.value = 'error';
            SourceNameHelp.value = '抱歉，名称不能重复';
          }
        } else {
          SourceNameValidateStatus.value = 'error';
          SourceNameHelp.value = '请求失败';
        }
      });
    } else {
      SourceNameValidateStatus.value = 'error';
      SourceNameHelp.value = '名称不能为空';
    }
  };

  watch(
    () => props.checkData,
    (val) => {
      if (val && state.isAdd !== 'add') {
        state.formState.dataSourceCode = val.dataSourceCode;
        state.formState.dataSourceName = val.dataSourceName;
        state.formState.type = val.type;
        state.formState.dataSourceDesc = val.dataSourceDesc;
        state.formState.dataSourceAddr = val.dataSourceAddr;
        state.formState.dataSourceDemo = val.dataSourceDemo;
        state.formState.dataColumns = val.columnsDtoList;
      } else {
        resetForm();
      }
    },
    { deep: true },
  );

  defineExpose({ onChangeVisable });
</script>
<style lang="less" scoped>
  .descriptions-title {
    font-size: 20px;
  }
  .sub-btn {
    display: flex;
    justify-content: center;
  }
  .button-canel {
    margin-right: 20px;
    border-color: transparent;
    background: #52c41a;
    color: #fff;
  }
  .fields {
    max-height: 280px;
    overflow-y: scroll;
    .fields-b {
      font-weight: normal;
      color: #ff4d4f;
      display: inline-block;
      font-family: SimSun, sans-serif;
      font-size: 14px;
      line-height: 1;
      margin-right: 2px;
    }
    .fields-item {
      display: flex;
      // margin-bottom: 8px;
      margin: 8px 0px 8px 12px;
    }
  }
</style>
