<template>
  <a-row>
    <a-col :span="2" class="mt-20">数据筛选:</a-col>
    <a-col :span="22">
      <div class="header">
        <QueryFilter
          ref="queryFilter"
          :visible="state.show"
          :field-list="fields"
          :is-add-condition-group="false"
          :class="state.show ? null : 'showheigh'"
        ></QueryFilter>

        <div class="search">
          <a-button type="primary" class="primary-onSearch" @click="onSearch"> 查询 </a-button>
          <a-button type="danger" style="margin-left: 5px" @click="onReset">重置</a-button>
        </div>
      </div>
    </a-col>
  </a-row>
</template>

<script setup lang="ts">
  import { reactive, ref, watch, nextTick } from 'vue';
  import { QueryFilter } from '@/components/business';

  const emits = defineEmits(['search']);
  const props = defineProps({
    headList: {
      type: Array,
      default: () => {
        return [];
      },
    },
  });
  const fields = ref<any>([]);
  const queryFilter = ref();

  type filterType = {
    show: boolean;
    filters: Array<string | number>;
  };
  const state = reactive<filterType>({
    show: true,
    filters: [],
  });

  const onSearch = () => {
    state.filters = queryFilter.value.getQueryCondition();
    emits('search', state.filters);
  };
  const resetQ = () => {
    nextTick(() => {
      fields.value = [];
    });

    state.filters = queryFilter.value.getQueryCondition();
  };
  const onReset = () => {
    resetQ();
    emits('search', []);
  };

  watch(
    () => props.headList,
    (newVal, oldVal) => {
      //此处使用的headList，接口返回是固定不变的
      if (fields.value.length == 0) {
        fields.value = newVal;
      }
    },
  );
</script>

<style lang="less" scoped>
  .mar-right-10 {
    margin-right: 10px;
  }
  .mt-20 {
    margin-top: 20px;
  }

  .header {
    display: flex;
    .search {
      display: flex;
      margin-top: 15px;
      .primary-onSearch {
        margin: 0px 10px 0px 10px;
      }
    }
  }
</style>
