<template>
  <div class="home">
    <span @click="changeParentState"
      >主项目的数据：{{ commonData.parent }}，点击变回1</span
    >
  </div>
</template>

<script lang="ts" setup>
import { computed } from "vue";
import { useStore } from "vuex";
const store = useStore();
const commonData = computed(() => {
  return store.state.commonData;
});
const changeParentState = () => {
  store.commit("setCommonData", { parent: 1 });
};
</script>
