<!-- Chart 父级组件  容器 -->
<!-- /*eslint disable*/ -->
<template>
  <div class="chart-contain">
    <Pie
      v-if="chartType == 'pie'"
      v-bind="$attrs"
      ref="chart"
      :title="title"
      :data="data"
      :config="config"
      :page-data="pageData"
      @dblclick-link="dblclickLink"
      @chart-dblclick="dbCheck"
      @chart-click="chartClick"
    ></Pie>
    <Bar
      v-if="chartType == 'bar'"
      v-bind="$attrs"
      ref="chart"
      :title="title"
      :data="data"
      :config="config"
      :page-data="pageData"
      @dblclick-link="dblclickLink"
      @chart-dblclick="dbCheck"
      @chart-click="chartClick"
    ></Bar>
    <Line
      v-if="chartType == 'line'"
      v-bind="$attrs"
      ref="chart"
      :title="title"
      :data="data"
      :config="config"
      :page-data="pageData"
      @dblclick-link="dblclickLink"
      @chart-dblclick="dbCheck"
      @chart-click="chartClick"
    ></Line>
    <Scatter
      v-if="chartType == 'scatter'"
      v-bind="$attrs"
      ref="chart"
      :title="title"
      :data="data"
      :config="config"
      :page-data="pageData"
      @dblclick-link="dblclickLink"
      @chart-dblclick="dbCheck"
      @chart-click="chartClick"
    ></Scatter>
    <Radar
      v-if="chartType == 'radar'"
      v-bind="$attrs"
      ref="chart"
      :title="title"
      :data="data"
      :config="config"
      :page-data="pageData"
      @dblclick-link="dblclickLink"
      @chart-dblclick="dbCheck"
      @chart-click="chartClick"
    ></Radar>
    <!-- 折柱组合图 -->
    <BspManyBar
      v-if="chartType == 'BspManyBar'"
      v-bind="$attrs"
      ref="chart"
      :title="title"
      :data="data"
      :config="config"
      :page-data="pageData"
      @dblclick-link="dblclickLink"
      @chart-dblclick="dbCheck"
      @chart-click="chartClick"
    ></BspManyBar>
    <!-- 条形图 -->
    <FlatBar
      v-if="chartType == 'flatBar'"
      v-bind="$attrs"
      ref="chart"
      :title="title"
      :data="data"
      :config="config"
      :page-data="pageData"
      @chart-dblclick="dbCheck"
      @chart-click="chartClick"
    ></FlatBar>
    <!-- 面积图 -->
    <SeriesLine
      v-if="chartType == 'seriesLine'"
      v-bind="$attrs"
      ref="chart"
      :title="title"
      :data="data"
      :config="config"
      :page-data="pageData"
      @chart-dblclick="dbCheck"
      @chart-click="chartClick"
    ></SeriesLine>
    <!-- 表格 -->
    <Table
      v-if="chartType == 'table'"
      v-bind="$attrs"
      ref="chart"
      :title="title"
      :data="data"
      :config="config"
      :page-data="pageData"
      @dblclick-link="dblclickLink"
      @chart-dblclick="dbCheck"
      @chart-click="chartClick"
    ></Table>
    <!-- 合并表 -->
    <!-- <MergeTable
      v-if="chartType == 'mergeTable'"
      v-bind="$attrs"
      ref="chart"
      :title="title"
      :data="data"
      :config="config"
      @chartDblclick="dbCheck"
      @chartClick="chartClick"
    ></MergeTable> -->
    <!-- 指标卡 -->
    <BspEditor
      v-if="chartType == 'editor'"
      v-bind="$attrs"
      ref="chart"
      :title="title"
      :data="data"
      :config="config"
      :page-data="pageData"
      @dblclick-link="dblclickLink"
      @chartDblclick="dbCheck"
      @chartClick="chartClick"
    ></BspEditor>
  </div>
</template>

<script setup lang="ts">
  import { ref } from 'vue';

  import {
    Pie,
    Bar,
    Line,
    Scatter,
    Radar,
    FlatBar,
    SeriesLine,
    BspManyBar,
    Table,
    BspEditor,
  } from './charts';

  const props = defineProps({
    chartType: {
      type: String,
    },
    config: {
      type: Object,
      default: () => {},
    },
    data: {
      type: Object,
      default: () => {},
    },
    title: {
      type: String,
      default: '',
    },
    pageData: {
      type: Object,
      default: () => {},
    },
  });
  const emit = defineEmits(['dbCheck', 'chartClick', 'dblclickLink']);

  const chart = ref();

  const resize = () => {
    if (chart.value && chart.value.resize) {
      chart.value.resize();
    }
  };
  const setReceiver = (receiver) => {
    if (chart.value && chart.value.setReceiver) {
      chart.value.setReceiver(receiver);
    }
  };

  const dbCheck = (el, filters) => {
    emit('dbCheck', el, filters);
  };
  const dblclickLink = (el) => {
    emit('dblclickLink', el);
  };
  const chartClick = (el) => {
    emit('chartClick', el);
  };
  defineExpose({ resize, setReceiver });
</script>

<style scoped>
  .chart-contain {
    width: 100%;
    height: 100%;
    /* color: red; */
    /* overflow: scroll; */
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
  }
</style>
