<template>
  <MergeTable
    :has-header="false"
    :data-list="state.dataList"
    :column-list="state.columnList"
    :column-groups="state.columnGroup"
    :row-merge="state.rowMerge"
    :scroll="{ y: 300 }"
    :ellipsis="true"
    @cell-clicked="cellClicked"
  >
  </MergeTable>
</template>

<script lang="tsx" setup>
  import { reactive, onMounted } from 'vue';
  import Transformer from '../../statisticsTable/transformer.js';
  import { MergeTable } from '@/components/business';
  import { getHomeWidget } from '@/api/common';

  defineOptions({
    name: 'LineOfDefense',
    inheritAttrs: false,
  });

  const emit = defineEmits(['cellClicked']);

  const state = reactive({
    dataList: [],
    columnList: [
      { title: '防线类型', dataIndex: '防线类型' }, //业务系统--对接的时候改为所属防线
      {
        title: '模型总数',
        dataIndex: '模型总数',
        align: 'right',
      },
      {
        title: '自建模型数',
        dataIndex: '自建模型数',
        align: 'right',
      },
      {
        title: '疑点',
        dataIndex: '当月疑点记录数',
        align: 'right',
      },
      {
        title: '确认问题',
        dataIndex: '当月确定问题数',
        align: 'right',
      },
      {
        title: '移交问题',
        dataIndex: '当月移交问题数',
        align: 'right',
      },
      {
        title: '疑点',
        dataIndex: '累计疑点记录数',
        align: 'right',
      },
      {
        title: '确认问题',
        dataIndex: '累计确定问题数',
        align: 'right',
      },
      {
        title: '移交问题',
        dataIndex: '累计移交问题数',
        align: 'right',
      },
    ],
    columnGroup: [
      {
        title: '当月业务笔数',
        children: ['当月疑点记录数', '当月确定问题数', '当月移交问题数'],
      },
      {
        title: '当年累计业务笔数',
        children: ['累计疑点记录数', '累计确定问题数', '累计移交问题数'],
      },
    ],
    rowMerge: {
      title: '合计',
      titleColumn: '防线类型',
      cols: [
        {
          column: '模型总数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '自建模型数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '当月疑点记录数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '当月确定问题数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '当月移交问题数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '累计疑点记录数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '累计确定问题数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '累计移交问题数',
          method: 'sum',
          align: 'right',
        },
      ],
    },
  });

  const parseFunc = (cname, value) => {
    return cname != '防线类型' ? parseInt(value) : value;
  };

  const setupModelData = () => {
    const item = { id: 2023042016358542, index: 3, name: '监督模型分布情况' };
    getHomeWidget({ widgetId: item.id }).then((result) => {
      // 整理数据
      state.dataList = Transformer.toTableData(result.data, parseFunc);
    });
  };
  const cellClicked = (record, column) => {
    emit('cellClicked', record, column);
  };

  onMounted(() => {
    // 加载数据
    setupModelData();
    // 修正rowspan
  });
</script>
<style lang="less" scoped>
  /deep/.ant-table-tbody .ant-table-cell > div > span {
    cursor: pointer;
  }
</style>
