<template>
  <DraggableModal
    v-model:visible="state.visible"
    destroy-on-close
    :title="state.title"
    width="90%"
    :body-style="{
      'min-height': '360px',
    }"
    :footer="null"
    :z-index="10000"
    @ok="onChangeVisible(false)"
  >
    <vxe-grid
      ref="grid"
      :loading="state.loading"
      v-bind="gridOptions"
      align="center"
      header-align="center"
    ></vxe-grid>
  </DraggableModal>
</template>

<script setup lang="tsx">
  import { reactive, ref, watch } from 'vue';
  import { VxeGridProps } from 'vxe-table';
  import { DraggableModal } from '@/components/core/draggable-modal';
  import { queryWorkChart } from '@/api/perAppraisal/apiList';

  const state = reactive({
    loading: false,
    disabled: true,
    visible: false,
    linkCode: '',
    title: 'test',
  });
  const columns = reactive<any>([{ type: 'seq', width: 50 }]);
  const rows = reactive<any>([]);
  const grid = ref('');
  const onChangeVisible = (flag) => {
    state.visible = flag;
  };
  const open = (code: string, reportCode: string) => {
    state.linkCode = code;
    loadData(code, reportCode);
    state.visible = true;
  };

  const gridOptions = reactive<VxeGridProps<any>>({
    border: true,
    showOverflow: true,
    resizable: true,
    headerRowClassName: 'my-header',
    cellClassName: 'my-cell',
    toolbarConfig: {
      custom: false,
    },
    columns,
    data: rows,
  });
  const loadData = async (code, reportCode) => {
    if (!code) return;
    switch (code) {
      case 'REPORTING_002':
        {
          //工业品战略任务
          state.loading = true;
          const { data, success, message } = await queryWorkChart(reportCode);
          state.loading = false;
          if (success) {
            const { heads, values } = data;
            convertCol(heads);
            rows.push(...values);
          } else {
            message.error(message);
          }
        }
        break;

      default:
        break;
    }
  };
  //转换table表头
  const convertCol = (heads) => {
    const allarr = heads.map((item) => {
      return { field: item.columnName, title: item.description };
    });
    columns.push(...allarr);
  };

  defineExpose({ open });
  watch(
    () => state.visible,
    (nVal, _oVal) => {
      //关闭弹框时置空columns&rows
      if (!nVal) {
        columns.splice(1, columns.length - 1);
        rows.length = 0;
      }
    },
  );
</script>

<style scoped lang="less">
  ///deep/.my-header {
  //  height: 34px !important;
  //  .vxe-header--column {
  //    padding: 6px 0;
  //    font-weight: 500;
  //  }
  //}
  ///deep/.my-cell {
  //  .vxe-default-input {
  //    height: 25px !important;
  //  }
  //}
</style>
