// 新增目录
<template>
  <a-button type="primary" size="small" :disabled="disabledConfig" @click="openModal">
    新增下钻目录
  </a-button>
</template>

<script setup lang="ts">
  import { computed } from 'vue';
  import { useTable } from '@/components/core/dynamic-table';
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  import { useFormModal } from '@/hooks/useModal/index';
  const store = chartConfigurations();
  defineOptions({
    name: 'AddCatalogue',
  });
  const disabledConfig = computed(() => {
    let flag = false;
    if (store.navList[1]?.children?.length) {
      flag = true;
    }
    store?.insertContent[0]?.value.forEach((item) => {
      if (item.type.split(',').indexOf('catalogue') !== -1) {
        flag = true;
      }
    });
    return flag;
  });
  // 弹窗
  const [showModal] = useFormModal();
  const openModal = async () => {
    await showModal<any>({
      modalProps: {
        title: `新增目录`,
        // 点击确定执行
        onFinish: async (values) => {
          const parmas = {
            sourceName: values.title,
            title: values.title,
            contentShow: false,
            type: 'catalogue',
            key: `catalogue_${values.title}`,
            newType: 4,
            drag: 'true',
            children: [],
          };
          store.navList[1].children.push(parmas);
        },
      },
      formProps: {
        labelWidth: 120,
        schemas: [
          {
            field: 'title',
            component: 'Input',
            label: '目录名称',
            rules: [{ required: true, type: 'string' }],
          },
        ],
      },
    });
  };
</script>
