<template>
  <div class="Field">
    <navDom v-if="props.fieldArray.length > 0" :data="store.navList"></navDom>
    <a-empty v-else :image="simpleImage" style="margin-top: 130px" description="暂无字段" />
  </div>
</template>

<script setup lang="ts">
  import { reactive, h, watch } from 'vue';

  import { Empty } from 'ant-design-vue';
  import DragItem from './DragItem.vue';
  import navData from './navData';
  import FieldConfig from './FieldConfig';
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  const store = chartConfigurations();
  const props = defineProps(['fieldArray']);
  const state = reactive({
    navList: JSON.parse(JSON.stringify(navData)),
  });

  const simpleImage = Empty.PRESENTED_IMAGE_SIMPLE;
  const navDom = {
    props: ['data'],
    render: (proxy) => {
      return proxy.data.map((item) => {
        if (item?.children) {
          //下边判断这个逻辑是为了后面拖拽目录的字段不能再弹出菜单里再出现目录选项
          if (item.type === 'allCatalogue') {
            item.children.forEach((x) => {
              if (x.children) {
                x.children.forEach((y) => {
                  y.parentType = 'catalogue';
                });
              }
            });
          }
          let domList: any = [];
          if (item.drag) {
            domList = [
              h('p', {}, item.title),
              h(DragItem, { data: item.children, type: item.type }),
            ];
          } else {
            domList = [h('p', {}, item.title), h(navDom, { data: item.children })];
          }
          return h('div', { class: 'nav' }, domList);
        } else {
          return h('p', { class: 'nav_item' }, item.title);
        }
      });
    },
  };
  watch(
    () => props.fieldArray,
    async (newValue) => {
      await store.navListConfig(state.navList, newValue);
      await FieldConfig();
    },
  );
</script>

<style lang="less" scoped>
  .Field {
    flex: 1;
    display: flex;
    flex-direction: column;
    /deep/.nav {
      margin: 8px 2px 8px 8px;
    }
    /deep/.nav_item {
      margin: 8px;
    }
  }
</style>
