<template>
  <div class="dataSet">
    <div class="checkout">
      <a-form-item label="数据集:" :label-col="{ span: 5 }" :wrapper-col="{ span: 18 }">
        <a-select
          v-model:value="store.pageData.datasetIds"
          :options="options"
          mode="multiple"
          placeholder="选择数据集"
          allow-clear
          option-filter-prop="label"
          :disabled="$route.query.toPage === 'modal'"
          @change="(value) => checkDatasetChange(value, true)"
        ></a-select>
      </a-form-item>
      <a-form-item
        v-if="store.datasets.length > 1"
        label="关联字段:"
        :label-col="{ span: 6 }"
        :wrapper-col="{ span: 17 }"
        @click="showFieldsRelationModel"
      >
        <RelatedDisplay :data="store.datasets" @click="showFieldsRelationModel"></RelatedDisplay>
      </a-form-item>
    </div>
    <a-modal
      :visible="true"
      title="关联字段"
      :z-index="fieldsRelationModel.zIndex"
      class="fieldsRelationModal"
      :mask-closable="false"
      :width="1000"
      :confirm-loading="fieldsRelationModel.confirmLoading"
      @cancel="fieldsRelationModelCancel"
      @ok="fieldsRelationModelOk"
    >
      <table-join
        ref="fieldsRelation"
        class="selectInput1"
        :show-select-field-button="false"
        :table-data="fieldsRelationModel.tableJoinData"
      >
      </table-join>
    </a-modal>
    <div>
      <div class="aciton">
        <add-catalogue></add-catalogue>
        <a-button type="primary" size="small" @click="NewFieldShow(true)">新增字段</a-button></div
      >
      <QueryField :field-array="fieldArray"></QueryField>
    </div>
    <!--新增字段-->
    <NewField ref="newField" :datas="fieldArray" @getNewSqlParams="getNewSqlParams"></NewField>
    <Field :field-array="fieldArray" class="field"></Field>
  </div>
</template>

<script setup lang="ts">
  import { ref, onMounted, reactive, defineExpose, watch, computed } from 'vue';
  import { isEmpty } from 'lodash-es';
  import { message as $message } from 'ant-design-vue';
  import RelatedDisplay from './RelatedDisplay.vue';
  import Field from './Field.vue'; // 字段
  import AddCatalogue from './AddCatalogue.vue'; // 新增目录
  import NewField from './NewField.vue'; // 新增字段
  import QueryField from './QueryField.vue';
  import type { SelectProps } from 'ant-design-vue';
  import TableJoin from '@/components/business/x6editor/TableJoin.vue';
  import { dataSetAll, getSqlInfo, getSqlParamTest } from '@/api/userAnalyze/chartConfigurations'; // api 接口
  import { getDataSetItemByIds } from '@/api/supervisionModel';
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  import Pubs from '@/utils/pubs.js';
  defineOptions({
    name: 'dataSet',
  });
  const options: any = ref<SelectProps['options']>([]);
  const fieldArray = ref([] as any);
  const fieldsRelation = ref(null);
  const newField = ref() as any;
  const store = chartConfigurations();
  const fieldsRelationModel = reactive<any>({
    visible: false,
    zIndex: -2,
    confirmLoading: false,
    tableJoinData: [],
  });
  const newFieldModal = reactive({
    NewFieldVisible: false,
    sqlParams: {},
  });
  const checkDatasetChange = async (idList, flag) => {
    if (flag) {
      store.sqlParams.tableRelationList = [];
    }
    // 最多选择三个
    if (idList.length > 3) {
      idList.pop();
      $message.warning('最多选择三个数据集!');
      return;
    } else if (!idList.length) {
      await store.onlyAxis([]);
      store.navList[0].children = [];
    }
    store.datasets = [];
    fieldArray.value = [];
    const allArray: any = [];
    const ids = idList.join();
    if (ids.length > 0) {
      const r = await getDataSetItemByIds(ids);
      if (r.code === 'OK') {
        r.data.forEach((x) => {
          store.datasets.push(x);
          x.columnsList.forEach((cItem) => {
            let sourceName = ' ';
            if (cItem.columnCname != ' ' || cItem.columnCname != '') {
              sourceName = cItem.columnCname;
            } else {
              sourceName = cItem.columnName;
            }
            allArray.push({
              sourceName,
              sourceId: cItem.id,
              tableId: cItem.tableId,
              sourceType: cItem.type,
              newType: cItem.newType,
              isPrikey: cItem.isPrikey,
              name: `T${x.id}_${cItem.columnName}`,
              key: `T${x.id}_${cItem.columnName}`,
              title: sourceName,
              columnName: cItem.columnName,
              type: 'field',
              names: `T${x.id}.${cItem.columnName}/${sourceName}`,
              nameDian: `T${x.id}.${cItem.columnName}`,
              tableCName: x.tableCname,
            });
          });
        });
        fieldArray.value = allArray;
        const arr = [];
        fieldArray.value.forEach((v) => {
          store.navList[0].children.forEach((j) => {
            if (v.nameDian == j.key.trim()) {
              arr.push(j);
            }
          });
        });
        store.navList[0].children = arr;
        await store.onlyAxis(fieldArray.value);
      }
    }
    Pubs.publish('clearDataSource', {});
  };

  onMounted(async () => {
    const data = await dataSetAll();
    data.data.forEach((item) => {
      options.value.push({ value: item.id, label: `${item.tableCname}(T${item.id})` });
    });

    store.getnewSqlParams(store.sqlParams);
  });
  defineExpose({
    checkDatasetChange,
  });
  // 消除相同元素
  watch(fieldArray, (newVal) => {
    // accounting(newVal);
  });
  const accounting = (data) => {
    const list = [] as any;
    data.forEach((item) => {
      let flag = true;
      // 过滤轴数据
      store.insertContent.forEach((iItem) => {
        iItem.value.forEach((vItem) => {
          if (item.name === vItem.name) {
            flag = false;
          }
        });
      });
      if (flag) {
        list.push(item);
      }
    });
    fieldArray.value = list;
  };
  const fieldsRelationModelCancel = () => {
    fieldsRelationModel.zIndex = -2;
  };
  const fieldsRelationModelOk = () => {
    requestSqlInfo();
  };
  const getSqlParams = () => {
    const params: any = {};
    const data = fieldsRelation.value.getJoinSetting();
    const tableRelationList: any = [];
    if (data) {
      data.links.forEach((x) => {
        if (x.srcField.schema === undefined || x.dstField.schema === undefined) {
          throw new Error('请选择关联字段');
        }
        tableRelationList.push({
          joinType: 1,
          leftColCname: x.srcField.cnName,
          leftColId: x.srcField.id,
          leftColName: x.srcField.name,
          leftTabCname: x.srcField.tableCname,
          leftTabId: x.srcField.tableId,
          leftTabName: x.srcField.tableName,
          leftTableScheme: x.srcField.schema,
          rightColCname: x.dstField.cnName,
          rightColId: x.dstField.id,
          rightColName: x.dstField.name,
          rightTabCname: x.dstField.tableCname,
          rightTabId: x.dstField.tableId,
          rightTabName: x.dstField.tableName,
          rightTableScheme: x.dstField.schema,
        });
      });
    }
    params.tableRelationList = tableRelationList;

    const listData = store.datasets;
    const datatableList: any = [];
    // 判断关联字段信息
    if (listData) {
      // 遍历字段
      for (let i = 0; i < listData.length; i++) {
        // 回调版本
        const tableColumnList: any = [];
        listData[i].columnsList.forEach((itemData) => {
          tableColumnList.push({
            tableColumnName: itemData.columnName,
            tableColumnCName: itemData.columnCname,
          });
        });
        datatableList.push({
          tableAlias: `t${i + 1}`,
          tableCName: listData[i].tableCname,
          tableColumnList,
          tableId: listData[i].id,
          tableName: listData[i].tableName,
          sourceId: listData[i].sourceId,
          tableScheme: listData[i].tableScheme,
        });
      }
    }
    params.datatableList = datatableList;
    store.sqlParams.datatableList = datatableList;
    store.setSqlParams({
      datatableList,
      tableRelationList,
    });
    if (params.datatableList.length > 0 || params.tableRelationList.length > 0) {
      return params;
      // 获取sql
    } else {
      throw new Error('数据集关联信息不完整');
    }
  };
  const getNewSqlParams = () => {
    store.getnewSqlParams(getSqlParams());
  };
  const requestSqlInfo = () => {
    try {
      const sqlParams = getSqlParams();
      const compositeColumnList: any = [];
      sqlParams.tableRelationList.forEach((v) => {
        compositeColumnList.push({
          colExp: `T${v.leftTabId}.${v.leftColName}`,
        });
        compositeColumnList.push({
          colExp: `T${v.rightTabId}.${v.rightColName}`,
        });
      });
      const params = {
        ...sqlParams,
        compositeColumnList,
      };
      fieldsRelationModel.confirmLoading = true;
      getSqlInfo(params)
        .then((r) => {
          if (r.code === 'OK') {
            const datasource = {
              type: '5sAPI',
              config: {
                apiUrl: 'http://eplat.obei.com.cn/base-service/service/S_BE_AS_03',
                resProjectEname: 'BWDH',
                resAppEname: 'bwdh-data-yx',
                schemaProviderRegistryUrl:
                  'http://eplat.obei.com.cn/xdata-standard-admin/service/S_BE_DG_2111',
              },
            };
            const queryInfo = {
              datasource,
              query: {
                sql: r.data.sqlStr,
              },
            };
            getSqlParamTest(queryInfo)
              .then((res) => {
                if (res.code != 'OK') {
                  $message.error('试运行失败');
                } else {
                  fieldsRelationModel.zIndex = -2;
                }
              })
              .finally(() => {
                fieldsRelationModel.confirmLoading = false;
              });
          } else {
            $message.error('网络链接有误~');
            fieldsRelationModel.confirmLoading = false;
          }
        })
        .catch(() => {
          fieldsRelationModel.confirmLoading = false;
        });
    } catch (e: any) {
      if (typeof e === 'object') {
        $message.error(e.message);
      } else {
        $message.error(e);
      }
    }
  };
  const showFieldsRelationModel = () => {
    fieldsRelationModel.zIndex = 1000;
  };
  const buildTableJoinData = (tables) => {
    const rs: any = { nodes: [], links: [], defaultLinks: [] };
    if (tables && tables != undefined && tables.length > 0) {
      for (let i = 0; i < tables.length; i++) {
        const items: any = [];
        if (tables[i].columnsList.length > 0) {
          tables[i].columnsList.forEach((x) => {
            items.push({
              name: x.columnName,
              cnName: x.columnCname,
              type: x.type,
              id: x.id,
              dictId: x.dictId,
              dictName: x.dictName,
              dictCode: x.dictCode,
              isPrikey: x.isPrikey,
              newType: x.newType,
              example: x.example,
              sort: x.sort,
            });
          });
        }
        // 默认勾选列
        const selectFields: any = [];

        rs.nodes.push({
          name: tables[i].tableName,
          cnName: tables[i].tableCname,
          fields: items,
          type: 'table',
          schema: tables[i].tableScheme,
          id: tables[i].id,
          defaultSelectFields: selectFields,
        });
        if (i !== tables.length - 1) {
          // const temp1 = tables[i].columnsList[0];
          // const temp2 = tables[i + 1].columnsList[0];
          rs.links.push({
            srcField: {},
            dstField: {},
          });
        }
      }
      // 默认指定连线（关联字段）
      const defaultLinks: any = [];
      if (
        Object.hasOwn(store, 'sqlParams') &&
        Object.hasOwn(store.sqlParams, 'tableRelationList')
      ) {
        store.sqlParams.tableRelationList.forEach((x) => {
          const left = getFieldByIdFromDataSet(x.leftTabId, x.leftColId);
          const right = getFieldByIdFromDataSet(x.rightTabId, x.rightColId);
          if (left != null && right != null) {
            defaultLinks.push({ srcField: left, dstField: right });
          }
        });
      }
      rs.defaultLinks = defaultLinks;
    }
    // myData.tableJoinData = rs;

    return rs;
  };
  // 新增字段弹窗控件
  const NewFieldShow = (flag) => {
    if (flag && store.datasets.length > 1) {
      if (isEmpty(store.sqlParams.tableRelationList) || isEmpty(store.sqlParams.datatableList)) {
        $message.error('请先配置数据集关联信息!');
        return;
      }
    }
    newField.value.onChangeVisable(flag);
    newFieldModal.NewFieldVisible = flag;
  };
  const getFieldByIdFromDataSet = (tableId, columnId) => {
    if (store.datasets.length > 0) {
      const table = store.datasets.find((x) => x.id === tableId);
      if (table != null && table.columnsList.length > 0) {
        const field = table.columnsList.find((x) => x.id === columnId);
        if (field != null) {
          return {
            id: field.id,
            name: field.columnName,
            cnName: field.columnCname,
            isPrikey: field.isPrikey,
            example: field.example,
            newType: field.newType,
            type: field.type,
            tableCname: table.tableCname,
            tableId: table.id,
            tableName: table.tableName,
            sort: field.sort,
            schema: table.tableScheme,
          };
        }
      }
    }
    return null;
  };
  fieldsRelationModel.tableJoinData = computed(() => {
    // console.log(222222222, store.pageData.sqlParams.tableRelationList);
    return buildTableJoinData(store.datasets);
  });

  // watch(
  //   () => store.sqlParams,
  //   () => {
  //     getNewSqlParams();
  //   },
  // );
</script>

<style lang="less" scoped>
  .dataSet {
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    .checkout {
      width: 100%;
      display: flex;
      justify-content: space-between;
      //align-items: center;
      flex-direction: column;
      padding: 8px;
      padding-right: 0;
      white-space: nowrap;
      .ant-select {
        flex: 1;
      }
      /deep/.ant-select-selector {
        border: none;
        border-bottom: 1px solid #aaa;
      }
    }
    .field {
      flex: 1;
      overflow: auto;
    }
    .aciton {
      display: flex;
      justify-content: flex-end;
      padding-bottom: 8px;
      button {
        margin-left: 8px;
      }
    }
  }
  // 关联字段弹窗
  .fieldsRelationModal {
    /deep/.ant-modal {
      width: 80% !important;
      // height: 80% !important;
    }
  }
</style>
