<template>
  <div class="relatedDisplay">
    <!-- 两条数据 -->
    <div v-if="props.data.length === 2">
      <div class="dataList">
        <span :title="props.data[0].tableCname">{{ props.data[0].tableCname }}</span>
        =
        <span :title="props.data[1].tableCname">{{ props.data[1].tableCname }}</span>
      </div>
    </div>
    <!-- 三条数据 -->
    <div v-else-if="props.data.length === 3">
      <div class="dataList">
        <span :title="props.data[0].tableCname">{{ props.data[0].tableCname }}</span>
        =
        <span :title="props.data[1].tableCname">{{ props.data[1].tableCname }}</span>
      </div>
      <div class="dataList">
        <span :title="props.data[1].tableCname">{{ props.data[1].tableCname }}</span>
        =
        <span :title="props.data[2].tableCname">{{ props.data[2].tableCname }}</span>
      </div>
    </div>
    <!-- 编辑 -->
    <edit-outlined @click="cliEmit" />
  </div>
</template>

<script lang="ts" setup>
  defineOptions({
    name: 'RelatedDisplay',
  });
  const props = defineProps({
    data: {
      type: Array,
      default: () => [],
    },
  });
  const emit = defineEmits(['click']);
  const cliEmit = () => {
    emit('click');
  };
</script>

<style scoped lang="less">
  .relatedDisplay {
    display: flex;

    .dataList {
      display: flex;
      overflow: hidden;
      // margin-bottom: 4px;
      > span {
        width: 80px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        // height: 24px;
      }
    }
    .anticon {
      margin-top: 4px;
    }
  }
</style>
