<template>
  <a-modal
    v-if="data.dialog.visible"
    v-model:visible="data.dialog.visible"
    :title="data.dialog.title"
    :mask-closable="false"
    width="100%"
    :footer="null"
    @cancel="handleCancel"
  >
    <DynamicTable
      row-key="pkId"
      header-title=""
      :columns="data.columns"
      :show-table-setting="false"
      :show-refresh-setting="false"
      :show-column-setting="false"
      :search="false"
      :data-source="data.dataSource"
      bordered
      :auto-height="false"
      :auto-width="true"
      :pagination="false"
      :scroll="{ x: 3000, y: 3000 }"
      :loading="data.tableLoading"
      size="small"
    >
    </DynamicTable>
  </a-modal>
</template>

<script lang="ts" setup>
  import { onMounted, computed, reactive, nextTick } from 'vue';
  import { notification } from 'ant-design-vue';
  import { useTable } from '@/components/core/dynamic-table';
  import { getHiveData } from '@/api/ODSManagement/tableManagement';

  defineOptions({
    name: 'SystemPermissionRole',
  });

  const props = defineProps({
    dialog: {
      type: Object,
      default: () => {
        return {
          visible: false,
          title: '',
          type: '',
        };
      },
    },
    pkId: {
      type: String,
      default: '',
    },
  });

  const data = reactive({
    dialog: computed(() => {
      return props.dialog;
    }),
    dataSource: [],
    columns: [],
    tableLoading: false,
  });

  onMounted(async () => {
    data.tableLoading = true;
    data.columns = [];
    // 查询表数据
    const {
      code,
      success,
      message,
      data: item,
    } = await getHiveData({ pkId: props.pkId }).finally(() => {
      data.tableLoading = false;
    });
    if (code === 'OK' && success) {
      const { heads, values } = item;
      heads.map((x) => {
        data.columns.push({
          title: x.description,
          dataIndex: x.columnName,
          width: 80,
          align: 'center',
          hideInSearch: true,
          ellipsis: true,
        });
      });
      nextTick(() => {
        data.dataSource = values;
      });
      console.log(data.columns, data.dataSource);
    } else {
      notification['error']({
        message: '',
        description: message || '查询数据失败',
        duration: 3,
        class: 'tableDetail-notice',
        placement: 'topLeft',
      });
    }
  });

  const [DynamicTable, dynamicTableInstance] = useTable();
  const handleCancel = () => {};
</script>

<style lang="less" scoped></style>
<style>
  .ant-notification-topLeft:has(> div > .tableDetail-notice) {
    left: 30% !important;
    overflow-y: auto;
    height: 400px;
  }
  .tableDetail-notice {
    width: 800px !important;
  }
</style>
