<template>
  <a-modal
    v-model:visible="myVisible"
    :width="1000"
    :footer="null"
    destroy-on-close
    @cancel="close"
  >
    <div class="project-Info">
      <a-form
        ref="formRef"
        :rules="rules"
        :model="formState"
        name="projectInfo"
        :label-col="colConfig.labelCol"
        autocomplete="off"
        @finish="onFinish"
      >
        <div class="title">项目信息</div>
        <a-row>
          <a-col :md="8" :sm="24">
            <a-form-item label="项目类型" name="projectType" :label-col="{ span: 8 }">
              <a-select
                v-model:value="formState.projectType"
                :options="dict.getKeyValueByDictCode('PROJECT_TYPE')"
              />
            </a-form-item>
          </a-col>
          <a-col :md="8" :sm="24">
            <a-form-item label="项目月份" name="projectDefMonth" :label-col="{ span: 8 }">
              <a-select
                v-model:value="formState.projectDefMonth"
                :options="dict.getKeyValueByDictCode('PROJECT_DEF_MONTH')"
              />
            </a-form-item>
          </a-col>
          <a-col :md="8" :sm="24">
            <a-form-item label="项目性质" name="projectFeature" :label-col="{ span: 8 }">
              <a-select
                v-model:value="formState.projectFeature"
                :options="dict.getKeyValueByDictCode('PROJECT_FEATURE')"
              />
            </a-form-item>
          </a-col>
          <a-col :md="16" :sm="24">
            <a-form-item label="项目名称" name="projectName" :label-col="{ span: 4 }">
              <a-input v-model:value="formState.projectName" placeholder="请输入项目名称" />
            </a-form-item>
          </a-col>
          <a-col :md="16" :sm="24">
            <a-form-item label="项目来源" name="sourceFrom" :label-col="{ span: 4 }">
              <a-input v-model:value="formState.sourceFrom" placeholder="请输入项目来源" />
            </a-form-item>
          </a-col>
          <a-col :md="16" :sm="24">
            <a-form-item label="项目备注" name="projectRemark" :label-col="{ span: 4 }">
              <a-textarea
                v-model:value="formState.projectRemark"
                placeholder="请输入项目备注"
                :rows="4"
              />
            </a-form-item>
          </a-col>
        </a-row>
        <a-divider />
        <div class="title">
          项目任务
          <a-button type="primary" @click="addTask">新增任务</a-button>
        </div>
        <a-row>
          <div class="project-Task">
            <div v-for="(task, index) in formState.addZdformTaskVos" :key="index">
              <a-row>
                <a-col v-if="state.addEdit === 'edit'" :md="16" :sm="24">
                  <a-form-item label="编号" name="taskCode">
                    <span>{{ task.taskCode }}</span>
                  </a-form-item>
                </a-col>
                <a-col :md="16" :sm="24">
                  <a-form-item
                    label="标题"
                    :name="['addZdformTaskVos', index, 'taskTitle']"
                    :rules="[{ required: true, message: '请输入项目标题' }]"
                  >
                    <a-input v-model:value="task.taskTitle" placeholder="请输入项目标题" />
                  </a-form-item>
                </a-col>
                <a-col :md="7" :sm="24">
                  <a-form-item
                    label="状态"
                    :label-col="{ span: 7 }"
                    :name="['addZdformTaskVos', index, 'taskStatus']"
                    :rules="[{ required: true, message: '请选择任务状态' }]"
                  >
                    <a-select
                      v-model:value="task.taskStatus"
                      style="width: 180px"
                      :options="dict.getKeyValueByDictCode('TASK_STATUS')"
                    />
                  </a-form-item>
                </a-col>
                <a-col :md="16" :sm="24">
                  <a-form-item
                    label="内容"
                    :name="['addZdformTaskVos', index, 'taskContent']"
                    :rules="[{ required: true, message: '请输入项目内容' }]"
                  >
                    <a-textarea
                      v-model:value="task.taskContent"
                      placeholder="请输入项目内容"
                      :rows="4"
                    />
                  </a-form-item>
                </a-col>
              </a-row>
              <a-row>
                <a-col :md="8" :sm="24">
                  <a-form-item
                    label="责任单位"
                    :name="['addZdformTaskVos', index, 'responsibilityDeptCode']"
                    :label-col="{ span: 8 }"
                    :rules="[{ required: true, message: '请选择责任单位' }]"
                  >
                    <a-select
                      v-model:value="task.responsibilityDeptCode"
                      mode="multiple"
                      :option-filter-prop="label"
                      :options="state.deptList"
                      @change="
                        changeder(index, task.responsibilityDeptCode, 'responsibilityDeptName')
                      "
                    />
                  </a-form-item>
                </a-col>
                <a-col :md="8" :sm="24">
                  <a-form-item label="参与单位" name="partInDeptName" :label-col="{ span: 8 }">
                    <a-input v-model:value.trim="task.partInDeptName" />
                  </a-form-item>
                </a-col>
                <a-col :md="7" :sm="24">
                  <a-form-item
                    label="责任领导"
                    :name="['addZdformTaskVos', index, 'responsLeader']"
                    :label-col="{ span: 7 }"
                    :rules="[{ required: true, message: '请输入责任领导' }]"
                  >
                    <a-input v-model:value.trim="task.responsLeader" />
                  </a-form-item>
                </a-col>
                <a-col :md="8" :sm="24">
                  <a-form-item label="协助领导" name="assistLeaders" :label-col="{ span: 8 }">
                    <a-input v-model:value.trim="task.assistLeaders" />
                  </a-form-item>
                </a-col>
                <a-col :md="8" :sm="24">
                  <a-form-item
                    label="反馈单位"
                    :name="['addZdformTaskVos', index, 'fillingDeptCode']"
                    :label-col="{ span: 8 }"
                    :rules="[{ required: true, message: '请选择反馈单位' }]"
                  >
                    <a-select
                      v-model:value="task.fillingDeptCode"
                      mode="multiple"
                      :option-filter-prop="label"
                      :options="state.deptList"
                      @change="changeder(index, task.fillingDeptCode, 'fillingDeptName')"
                    />
                  </a-form-item>
                </a-col>
                <a-col :md="16" :sm="24">
                  <a-form-item label="备注">
                    <a-textarea
                      v-model:value="task.taskDesc"
                      placeholder="请输入项目任务备注"
                      :rows="4"
                    />
                  </a-form-item>
                </a-col>
                <a-col :md="6" :sm="24">
                  <a-form-item>
                    <a-button
                      type="danger"
                      style="margin-top: 65px"
                      @click="delTask(index, task.taskCode)"
                      >删除任务</a-button
                    >
                  </a-form-item>
                </a-col>
              </a-row>
              <a-divider />
            </div>
          </div>
        </a-row>
        <div style="text-align: center">
          <a-space :size="10">
            <a-button type="primary" html-type="submit" :loading="state.loading">保存</a-button>
            <a-button type="danger" @click="close">取消</a-button>
          </a-space>
        </div>
      </a-form>
    </div>
  </a-modal>
</template>

<script lang="ts" setup>
  import { reactive, ref, watch, onMounted } from 'vue';
  import { message } from 'ant-design-vue';
  import type { Rule } from 'ant-design-vue/es/form';
  import type { FormInstance } from 'ant-design-vue';
  import { queryLevelDept, addZdform, updateZdform } from '@/api/priorityWork/index';
  import dict from '@/utils/dict';

  defineOptions({ name: 'AddProject' });
  const formRef = ref<FormInstance>();
  const emit = defineEmits(['close']);
  const colConfig = reactive({
    labelCol: { span: 4 },
    wrapperCol: { span: 19, offset: 0 },
  });
  const state = reactive({
    selectedRows: [],
    addEdit: '',
    loading: false,
    deptList: [],
  });
  const formState = reactive({
    projectCode: '',
    projectType: '',
    projectDefMonth: '',
    projectName: '',
    projectFeature: '',
    sourceFrom: '',
    projectRemark: '',
    addZdformTaskVos: [],
    deleteTaskCodes: [],
    updateZdformTaskVos: [],
  });
  const rules: Record<string, Rule[]> = {
    projectType: [{ required: true, message: '请选择项目类型' }],
    projectDefMonth: [{ required: true, message: '请选择填报月份' }],
    projectFeature: [{ required: true, message: '请选择项目性质' }],
    projectName: [{ required: true, message: '请输入项目名称' }],
    sourceFrom: [{ required: true, message: '请输入项目来源' }],
  };
  const props = defineProps({ visible: Boolean });
  const myVisible = ref(false);
  const getDept = async () => {
    const res = await queryLevelDept();
    res.data.forEach((item) => {
      item.value = item.deptCode;
      item.label = item.deptName;
    });
    state.deptList = res.data;
  };
  const changeInfo = (selectedRows, addEdit) => {
    state.selectedRows = selectedRows;
    state.addEdit = addEdit;
    if (state.addEdit === 'edit') {
      formState.projectType = state.selectedRows[0].projectType;
      formState.projectDefMonth = state.selectedRows[0].projectDefMonth;
      formState.projectName = state.selectedRows[0].projectName;
      formState.projectFeature = state.selectedRows[0].projectFeature;
      formState.sourceFrom = state.selectedRows[0].sourceFrom;
      formState.projectCode = state.selectedRows[0].projectCode;
      formState.projectRemark = state.selectedRows[0].projectRemark;
      state.selectedRows.forEach((v) => {
        const obj = {
          taskStatus: v.taskStatus,
          taskCode: v.taskCode,
          taskContent: v.taskContent,
          taskTitle: v.taskTitle,
          responsibilityDeptCode: v.responsibilityDeptCode.split(','),
          responsibilityDeptName: v.responsibilityDeptName.split(','),
          partInDeptName: v.partInDeptName,
          responsLeader: v.responsLeader,
          assistLeaders: v.assistLeaders,
          fillingDeptCode: v.fillingDeptCode.split(','),
          fillingDeptName: v.fillingDeptName.split(','),
          taskDesc: v.taskDesc,
        };
        formState.addZdformTaskVos.push(obj);
      });
    }
  };
  const onFinish = async () => {
    state.loading = true;
    let res = null;
    if (state.addEdit === 'edit') {
      const formStateCopy = JSON.parse(JSON.stringify(formState));
      formStateCopy.updateZdformTaskVos = formStateCopy.addZdformTaskVos.filter((v) => v.taskCode);
      formStateCopy.addZdformTaskVos = formStateCopy.addZdformTaskVos.filter(
        (v) => v.taskCode === '',
      );
      res = await updateZdform(formStateCopy);
    } else {
      res = await addZdform(formState);
    }
    if (res.code === 'OK') {
      message.success('保存成功');
      close();
    } else {
      message.error(res.message);
    }
    state.loading = false;
  };
  const changeder = (index, val, name) => {
    const depName = [];
    state.deptList.forEach((v) => {
      val.forEach((j) => {
        if (v.value == j) {
          depName.push(v.label);
        }
      });
    });
    formState.addZdformTaskVos[index][name] = depName;
  };
  // 添加任务
  const addTask = () => {
    formState.addZdformTaskVos.push({
      taskStatus: '',
      taskCode: '',
      taskContent: '',
      taskTitle: '',
      responsibilityDeptCode: [],
      responsibilityDeptName: [],
      partInDeptName: '',
      responsLeader: '',
      assistLeaders: '',
      fillingDeptCode: [],
      fillingDeptName: [],
      taskDesc: '',
    });
  };
  // 删除任务
  const delTask = (index, taskCode) => {
    if (state.addEdit === 'edit') {
      formState.deleteTaskCodes.push(taskCode);
    }
    formState.addZdformTaskVos.splice(index, 1);
  };
  // 关闭弹框
  const close = () => {
    emit('close');
    formRef.value.resetFields();
    formState.projectCode = '';
    formState.projectType = '';
    formState.projectDefMonth = '';
    formState.projectName = '';
    formState.projectFeature = '';
    formState.projectRemark = '';
    formState.sourceFrom = '';
    formState.addZdformTaskVos = [];
    formState.updateZdformTaskVos = [];
    formState.deleteTaskCodes = [];
  };
  onMounted(() => {
    getDept();
  });
  watch(
    () => props.visible,
    (v) => {
      myVisible.value = v;
    },
  );
  defineExpose({ changeInfo });
</script>

<style scoped lang="less">
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  .project-Task {
    max-height: 400px;
    overflow: scroll;
  }
</style>
