<template>
  <a-modal
    v-model:visible="myVisible"
    :title="props.flag === '0' ? '填报' : '审核'"
    :width="1000"
    :footer="null"
    destroy-on-close
    @cancel="close"
  >
    <a-descriptions class="descriptions-body" :column="2" :colon="false">
      <a-descriptions-item label="项目类型">
        {{ dict.getItemText('PROJECT_TYPE', state.record.projectType) }}
      </a-descriptions-item>
      <a-descriptions-item label="项目月份">
        {{ dict.getItemText('PROJECT_DEF_MONTH', state.record.projectDefMonth) }}
      </a-descriptions-item>
      <a-descriptions-item label="项目名称"> {{ state.record.projectName }} </a-descriptions-item>
      <a-descriptions-item label="项目备注"> {{ state.record.projectRemark }} </a-descriptions-item>
      <a-descriptions-item label="任务编号"> {{ state.record.taskCode }} </a-descriptions-item>
      <a-descriptions-item label="任务标题"> {{ state.record.taskTitle }} </a-descriptions-item>
      <a-descriptions-item label="任务内容">
        <div :innerHTML="state.record.taskContent.replace(/\n/g, '<br />')"></div>
      </a-descriptions-item>
      <a-descriptions-item label="责任单位">
        {{ state.record.responsibilityDeptName }}
      </a-descriptions-item>
      <a-descriptions-item label="参加单位">
        {{ state.record.partInDeptName }}
      </a-descriptions-item>
      <a-descriptions-item label="责任领导"> {{ state.record.responsLeader }} </a-descriptions-item>
      <a-descriptions-item label="协助领导"> {{ state.record.assistLeaders }} </a-descriptions-item>
      <a-descriptions-item label="反馈单位">
        {{ state.record.fillingDeptName }}
      </a-descriptions-item>
    </a-descriptions>
    <a-divider />
    <a-form
      ref="formRef"
      :model="formState"
      name="basic"
      :label-col="{ span: 2 }"
      :wrapper-col="{ span: 16 }"
      autocomplete="off"
      @finish="onFinish"
    >
      <a-space>
        <a-form-item
          label="填报月份"
          name="fillMonth"
          :label-col="{ span: 9 }"
          :rules="[{ required: true, message: '请选择月份' }]"
        >
          <a-date-picker
            v-model:value="fillMonth"
            :disabled="state.record.auditStatus == 20"
            picker="month"
            @change="periodChange"
          />
        </a-form-item>
        <a-form-item
          label="状态"
          name="taskStatus"
          :label-col="{ span: 9 }"
          :rules="[{ required: true, message: '请选择状态' }]"
        >
          <a-select
            v-model:value="formState.taskStatus"
            :disabled="state.record.auditStatus == 20"
            style="width: 150px"
            :options="dict.getKeyValueByDictCode('TASK_STATUS')"
          />
        </a-form-item>
      </a-space>
      <a-form-item
        label="进度反馈"
        name="fillingContent"
        :rules="[{ required: true, message: '请输入进度反馈!' }]"
      >
        <a-textarea
          v-model:value="formState.fillingContent"
          :disabled="state.record.auditStatus == 20"
          placeholder="请输入项目进度内容！"
        />
      </a-form-item>
      <div v-if="props.flag === '0'" style="text-align: center">
        <a-button type="primary" html-type="submit" :loading="state.loading">保存</a-button>
      </div>
      <div v-else style="text-align: center">
        <a-space :size="15">
          <a-button
            v-if="state.record.auditStatus == 10"
            :loading="state.loading"
            @click="save('10')"
            >保存</a-button
          >
          <a-button
            v-if="state.record.auditStatus == 10"
            type="primary"
            :loading="state.loading"
            @click="save('20')"
            >通过</a-button
          >
          <a-button
            v-if="state.record.auditStatus == 20"
            type="danger"
            :loading="state.loading"
            @click="save('10')"
            >撤回</a-button
          >
        </a-space>
      </div>
    </a-form>
  </a-modal>
</template>

<script lang="ts" setup>
  import { reactive, ref, watch } from 'vue';
  import dayjs, { Dayjs } from 'dayjs';
  import { message } from 'ant-design-vue';
  import dict from '@/utils/dict.js';
  import { addZdformFill, queryZdformFillByFillMonth } from '@/api/priorityWork/index';

  defineOptions({ name: 'Filling' });
  const emit = defineEmits(['close']);
  const formRef = ref<FormInstance>();
  const state = reactive({
    record: {},
    loading: false,
  });
  const fillMonth = ref<Dayjs>();
  const formState = reactive({
    fillingContent: '',
    fillMonth: '',
    taskStatus: '',
  });
  const props = defineProps({
    visible: Boolean,
    flag: String,
  });
  const myVisible = ref(false);
  const changeInfo = (record) => {
    formState.fillingContent = record.fillingContent;
    fillMonth.value = dayjs(new Date());
    formState.fillMonth = dayjs(new Date()).format('YYYY-MM');
    formState.taskStatus = record.taskStatus;
    state.record = record;
  };
  const periodChange = async (_date: dayjs | string, dateString: string) => {
    formState.fillMonth = dateString;
    const params = {
      projectCode: state.record.projectCode,
      taskCode: state.record.taskCode,
      fillMonth: dateString,
    };
    const res = await queryZdformFillByFillMonth(params);
    if (res.data) {
      formState.fillingContent = res.data.fillingContent;
      formState.taskStatus = res.data.taskStatus;
    } else {
      formState.fillingContent = '';
      formState.taskStatus = '';
    }
  };
  const onFinish = async (values: any) => {
    const params = {
      projectCode: state.record.projectCode,
      taskCode: state.record.taskCode,
      ...values,
    };
    state.loading = true;
    const res = await addZdformFill(params);
    if (res.code === 'OK') {
      message.success('保存成功');
      close();
    }
    state.loading = false;
  };
  const save = async (auditStatus) => {
    try {
      const values = await formRef.value.validateFields();
      const params = {
        projectCode: state.record.projectCode,
        taskCode: state.record.taskCode,
        auditStatus,
        ...values,
      };
      state.loading = true;
      const res = await addZdformFill(params);
      if (res.code === 'OK') {
        message.success('保存成功');
        close();
      }
      state.loading = false;
    } catch (errorInfo) {
      console.log('Failed:', errorInfo);
    }
  };
  const close = () => {
    emit('close');
  };
  watch(
    () => props.visible,
    (v) => {
      myVisible.value = v;
    },
  );
  defineExpose({ changeInfo });
</script>

<style scoped lang="less">
  /deep/.ant-descriptions-item-label.ant-descriptions-item-no-colon {
    font-weight: bold;
  }
</style>
