<template>
  <a-modal
    v-model:visible="myVisible"
    title="评价"
    :width="1000"
    :footer="null"
    destroy-on-close
    @cancel="close"
  >
    <a-descriptions class="descriptions-body" :column="2" :colon="false">
      <a-descriptions-item label="项目编号：" :span="3">
        {{ state.record.taskCode }}
      </a-descriptions-item>
      <a-descriptions-item label="项目名称：" :span="3">
        {{ state.record.projectName }}
      </a-descriptions-item>
      <a-descriptions-item label="任务标题：" :span="3">
        {{ state.record.taskTitle }}
      </a-descriptions-item>
      <a-descriptions-item label="任务内容：" :span="3">
        <div :innerHTML="state.record.taskContent.replace(/\n/g, '<br />')"></div>
      </a-descriptions-item>
      <a-descriptions-item label="填报月份：" :span="3">
        <a-date-picker v-model:value="fillMonth" picker="month" @change="periodChange" />
      </a-descriptions-item>
      <a-descriptions-item label="进度反馈：" :span="3">
        {{ state.record.fillingContent }}
      </a-descriptions-item>
    </a-descriptions>
    <a-divider />
    <a-row style="margin-bottom: 8px">
      <a-col :span="14">
        <div class="jinzhan">
          <span style="margin-right: 10px">进展:</span>
          <a-radio-group v-model:value="state.taskProgress">
            <a-radio value="10"> <a-tag color="green">正常</a-tag></a-radio>
            <a-radio value="20"> <a-tag color="orange">关注</a-tag></a-radio>
            <a-radio value="30"> <a-tag color="red">重点</a-tag></a-radio>
          </a-radio-group>
        </div>
      </a-col>
      <a-col :span="10" class="text-r">
        <span style="color: red">*</span>当前状态：
        <a-select
          v-model:value="state.taskStatus"
          style="width: 150px"
          :options="dict.getKeyValueByDictCode('TASK_STATUS')"
        />
      </a-col>
    </a-row>
    <a-textarea v-model:value="state.taskDesc" :rows="3" />
    <div class="btnDesc">
      <a-space :size="15">
        <a-button type="primary" :loading="state.loading" @click="save">保存</a-button>
        <a-button @click="close">取消</a-button>
      </a-space>
    </div>
  </a-modal>
</template>

<script lang="ts" setup>
  import { reactive, ref, watch } from 'vue';
  import dayjs, { Dayjs } from 'dayjs';
  import { message } from 'ant-design-vue';
  import { updateTaskDesc, queryZdformFillByFillMonth } from '@/api/priorityWork/index';
  import dict from '@/utils/dict.js';

  defineOptions({ name: 'AddProject' });
  const emit = defineEmits(['close']);

  type stateType = {
    taskDesc: string;
    taskProgress: string;
    loading: Boolean;
    record: {
      projectName?: string;
      taskTitle?: string;
      taskContent?: string;
      taskStatus?: string;
      fillingContent?: string;
      projectCode?: string;
      taskCode?: string;
    };
    taskStatus: string;
  };
  const state = reactive<stateType>({
    taskDesc: '',
    taskProgress: '10',
    loading: false,
    record: {},
    taskStatus: '', //当前状态
  });
  const fillMonth = ref<Dayjs>();
  const props = defineProps({ visible: Boolean });
  const myVisible = ref(false);
  //渲染数据
  const changeInfo = (record) => {
    state.record = record;
    state.taskDesc = record.taskDesc;
    state.taskProgress = record.taskProgress;
    fillMonth.value = dayjs(new Date());
    state.taskStatus = record.taskStatus;
  };
  const save = async () => {
    if (!state.taskStatus) return message.error('请选择当前状态！');
    state.loading = true;
    const params = {
      projectCode: state.record.projectCode,
      taskCode: state.record.taskCode,
      taskDesc: state.taskDesc,
      taskProgress: state.taskProgress,
      taskStatus: state.taskStatus,
    };
    const res = await updateTaskDesc(params);
    if (res.code === 'OK') {
      message.success('保存成功');
      close();
    }
    state.loading = false;
  };
  // 关闭弹框
  const close = () => {
    emit('close');
    state.taskDesc = '';
    state.taskProgress = '';
  };
  //选择月份

  const periodChange = async (_date: dayjs | string, dateString: string) => {
    const params = {
      projectCode: state.record.projectCode,
      taskCode: state.record.taskCode,
      fillMonth: dateString,
    };
    const res = await queryZdformFillByFillMonth(params);
    if (res.data) {
      state.record.fillingContent = res.data.fillingContent;
    } else {
      state.record.fillingContent = '';
    }
  };

  watch(
    () => props.visible,
    (v) => {
      myVisible.value = v;
    },
  );
  defineExpose({ changeInfo });
</script>

<style scoped lang="less">
  .btnDesc {
    text-align: center;
    margin-top: 20px;
  }
  .jinzhan {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .text-r {
    text-align: right;
  }
  /deep/.ant-select-single.ant-select-show-arrow .ant-select-selection-item {
    text-align: left;
  }
  /deep/.ant-descriptions-item-container .ant-descriptions-item-label {
    font-weight: bold;
  }
</style>
