<template>
  <div class="main">
    <a-row class="content">
      <a-col :span="4">
        <TreeList :base-info="true" @tree-select="orgTreeData" @selectd="onSelect" />
      </a-col>
      <a-col :span="1">
        <div class="line"></div>
      </a-col>
      <a-col :span="19">
        <DynamicTable
          row-key="id"
          :data-request="loadTableData"
          :columns="columnList"
          bordered
          auto-height
          :scroll="{ x: 300, y: 350 }"
          size="small"
        >
          <template #expandedRowRender="{ record }">
            <p class="pl-1x pb-1x"
              >{{ record.perfGName }}(单位：{{
                record?.perfGOrgCode
                  ? dict.getItemText('INDICATOR_UNIT', record?.perfGOrgCode)
                  : null
              }})</p
            >
            <a-table
              bordered
              :data-source="record?.performanceSourceDataDtos"
              :columns="childColumns"
              :pagination="false"
              :scroll="{ y: 300 }"
            >
              <template #bodyCell="{ column, record }">
                <template v-if="['3', '6', '9', '12'].includes(column.dataIndex)">
                  <span class="ant-form-text">{{
                    dict.getValue(
                      'EMPHASIS_WORK_SHOW_TYPE',
                      column.dataIndex == '3'
                        ? record.details[0].achievements
                        : column.dataIndex == '6'
                        ? record.details[1].achievements
                        : column.dataIndex == '9'
                        ? record.details[2].achievements
                        : record.details[3].achievements,
                    )?.itemText ?? '-'
                  }}</span>
                  <span
                    class="link"
                    @click="
                      checkDetail(
                        column.dataIndex == '3'
                          ? record.details[0]
                          : column.dataIndex == '6'
                          ? record.details[1]
                          : column.dataIndex == '9'
                          ? record.details[2]
                          : record.details[3],
                      )
                    "
                  >
                    <eye-outlined
                  /></span>
                </template>
              </template>
            </a-table>
          </template>
        </DynamicTable>
      </a-col>
    </a-row>

    <!-- 查看情况说明详情 -->
    <DraggableModal
      v-model:visible="state.infoVisible"
      destroy-on-close
      title="情况说明"
      :width="600"
      :body-style="{ height: '480px', overflow: 'auto' }"
      :footer="null"
    >
      <div v-for="(item, idx) in state.attestationFiles" :key="idx">
        <a :href="`${state.BASE_URL}basic/n/get/file?key=${item.fileAddress}`" target="_blank">{{
          item.fileName
        }}</a>
      </div>
      <a-divider />
      <div v-html="state.infoHtml"></div>
    </DraggableModal>
  </div>
</template>

<script setup lang="ts">
  import { reactive } from 'vue';
  import { useRoute } from 'vue-router';
  import { message } from 'ant-design-vue';
  import TreeList from '../../orgPerList/components/TreeList.vue';
  import { baseColumns, type TableColumnItem } from './columns'; //table列
  import { childBaseColumns } from './childColumns'; //table列
  import { useTable, type LoadDataParams } from '@/components/core/dynamic-table';
  import { queryPerformanceList } from '@/api/perAppraisal/apiList';
  import { genDeptTreeItem } from '@/api/system/dept/service';
  import { DraggableModal } from '@/components/core/draggable-modal';
  import dict from '@/utils/dict.js';

  defineOptions({
    name: 'perWorkList',
  });
  const route = useRoute();
  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    rowKey: 'ruleCode',
    bordered: true,
  });
  const state: any = reactive({
    BASE_URL: process.env.VUE_APP_BASE_API,
    treeData: [] as any,
    treeCode: {
      orgCode: '',
      orgName: '',
    },
    infoVisible: false,
    infoHtml: '',
    attestationFiles: [],
  });
  const columnList: TableColumnItem[] = [...baseColumns];
  const childColumns = [...childBaseColumns];

  baseColumns[4].formItemProps.componentProps = () => {
    return {
      treeData: state.deptTrees,
      fieldNames: {
        label: 'title',
        value: 'value',
      },
    };
  };
  /** 获取部门列表 **/
  const orgTreeData = (data) => {
    const deptTree: API.TreeDataItem[] = [];
    for (let i = 0; i < data.rows.children.length; i++) {
      const temp = data.rows.children[i];
      deptTree.push(genDeptTreeItem(temp));
    }
    state.deptTrees = deptTree;
  };
  const { orgCode } = route.query;
  const loadTableData = async (params: LoadDataParams) => {
    const param = {
      ...params,
      evaluatedOrgCode: state.treeCode.orgCode,
      orgPerformanceCode: orgCode,
    };
    const { data } = await queryPerformanceList(param);

    if (data.success) {
      return {
        list: data.data,
        pagination: { total: data.total, page: data.pageNum, size: data.pageSize },
      };
    }
  };

  const onSelect = (_selectedKeys, info) => {
    state.treeCode.orgCode = info.selectedNodes[0].code;
    state.treeCode.orgName = info.selectedNodes[0].title;
    if (_selectedKeys[0]) dynamicTableInstance.reload();
  };

  const checkDetail = (record) => {
    if (record.description || record.attestationFiles.length > 0) {
      state.infoVisible = true;
      state.infoHtml = record.description;
      state.attestationFiles = record.attestationFiles;
    } else {
      message.error('当前季度无说明材料和情况说明！');
    }
  };
</script>

<style lang="less" scoped>
  .main {
    height: 100%;
    background: #fff;
    overflow-y: auto;
    .content {
      padding: 0.5rem 1.25rem;
      height: inherit;
      .line {
        margin: 0 40%;
        height: 100%;
        border-left: 0.0625rem solid #d8d8d8;
      }
    }
  }
  /deep/.ant-table-expanded-row-fixed {
    padding: 10px 5px;
  }
  /deep/th.text-align {
    text-align: center;
  }
</style>
