<template>
  <div class="page-container">
    <DynamicTable
      :data-source="state.dataSource"
      :columns="columns"
      :row-selection="rowSelection"
      auto-height
      :scroll="{ x: 'auto' }"
      :loading="state.loading"
      :pagination="false"
    >
      <template #toolbar>
        <a-button type="primary" :disabled="!isCheckRows" @click="batchAllbtn"> 批量下载 </a-button>
      </template>
    </DynamicTable>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, onMounted, ref, computed } from 'vue';
  import { debounce } from 'lodash-es';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import { useTable } from '@/components/core/dynamic-table';
  import {
    monitoringResDownload,
    AllDownloads,
    Downloads,
  } from '@/api/dataAdministration/downloadcenter';
  defineOptions({
    name: '/SupervisionGovern/personalTodo/index',
  });
  const state = reactive({
    lineOfDefenseTypeFlag: null,
    colData: {},
    canQuery: true,
    filters: [],
    filters1: [],
    show: true,
    dataSource: [],
    modelOwners: [],
    pagination: {
      current: 1,
      pageSize: 20,
    },
    loading: false,
    isCheckRows: false,
    selectedRows: [],
  });
  const rowSelection = ref({
    selectedRowKeys: [] as number[],
    onChange: (selectedRowKeys: number[], selectedRows: TableListItem[]) => {
      // console.log(`selectedRowKeys: ${selectedRowKeys}`, 'selectedRows: ', selectedRows);
      rowSelection.value.selectedRowKeys = selectedRowKeys;
      state.selectedRows = selectedRows;
    },
  });
  // 是否勾选了表格行
  const isCheckRows = computed(() => rowSelection.value.selectedRowKeys.length);
  const loadData = () => {
    state.loading = true;
    monitoringResDownload({
      pageNum: state.pagination.current,
      pageSize: state.pagination.pageSize,
      filters: state.filters,
    }).then((r) => {
      if (r && r.data) {
        state.dataSource = r.data || [];
        dynamicTableInstance?.updatePagination({
          total: r.total,
          current: r.pageNum,
          pageSize: r.pageSize,
        });
      }
      state.loading = false;
    });
  };
  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    search: false,
    rowKey: 'pkId',
    bordered: true,
  });

  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 80,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => {
        const actions: any = [];
        actions.push({
          label: '下载',
          style: 'color:#1890ff',
          onClick: () => Download(record),
        });
        return actions;
      },
    },
  ];
  //批量下载
  const batchAllbtn = debounce(() => {
    const record = state.selectedRows;
    const allList = [];
    record.forEach((v) => {
      const obj = {
        fileName: v.fileName,
        exportPath: v.exportPath,
      };
      allList.push(obj);
    });
    AllDownloads(allList, '表集合.zip');
  }, 500);
  //列表下载
  const Download = (record) => {
    const params = {
      fileName: record.fileName,
      exportPath: record.exportPath,
    };
    const split = record.exportPath.split('.');
    const ext = split[split.length - 1];
    // console.log(1111111, ext);
    Downloads(params, `${record.fileName}.${ext}`);
  };

  onMounted(() => {
    // 查询数据吧
    loadData();
  });
</script>
<style lang="less" scoped>
  .page-container {
    width: 100%;
    /deep/.ant-table-body {
      height: var(--winHeight);
    }
  }
  // .header {
  //   display: flex;
  //   .search {
  //     display: flex;
  //     margin-top: 15px;
  //     .primary-onSearch {
  //       margin: 0px 10px 0px 10px;
  //     }
  //   }
  // }
  // .aspace {
  //   padding-left: 10px;
  // }

  // .icon-title {
  //   margin-right: 10px;
  // }

  // .icon-items {
  //   color: #1890ff;
  // }
  // /deep/.ant-table-fixed-right {
  //   z-index: 12;
  // }
</style>
