<template>
  <DraggableModal
    v-model:visible="state.modalVisible"
    destroy-on-close
    title="批次详情"
    :width="900"
    :footer="null"
    @cancel="handleOk"
    @ok="handleOk"
  >
    审核批次：123
    <h3>专项列表</h3>
    <DynamicTable :columns="state.columns" :data-source="state.dataSource" :loading="state.loading">
    </DynamicTable>
  </DraggableModal>
</template>

<script setup lang="tsx">
  import { ref, reactive, watch } from 'vue';
  import { DraggableModal } from '@/components/core/draggable-modal';
  import { useTable } from '@/components/core/dynamic-table';
  const [DynamicTable] = useTable({
    search: false,
    pagination: false,
    size: 'small',
    rowKey: 'approvalCode',
    bordered: true,
    scroll: { x: 2000 },
  });
  const emits = defineEmits(['close']);
  const props = defineProps({
    visible: { type: Boolean, default: () => false },
  });
  const state = reactive({
    modalVisible: false,
    columns: [
      { title: '年份', dataIndex: 'period', width: 100 },
      { title: '季度', dataIndex: 'period1', width: 100 },
      { title: '专项', dataIndex: 'period2', width: 100 },
      { title: '被评价单位', dataIndex: 'orgName', width: 150 },
      { title: '原总分数值', dataIndex: 'createDate', width: 150 },
      { title: '调整值', dataIndex: 'createName', width: 100 },
      { title: '调整后总分', dataIndex: 'updateDate', width: 150 },
      { title: '情况说明', dataIndex: 'updateName', width: 100 },
    ],
  });
  watch(
    () => props.visible,
    (val) => {
      if (val) {
        state.modalVisible = val;
      }
    },
  );
  const handleOk = (e: MouseEvent) => {
    state.modalVisible = false;
    emits('close');
  };
</script>

<style></style>
