<template>
  <!-- <a-modal v-model:visible="state.modalVisible" title="审核列表" :footer="null" @ok="handleOk">
  </a-modal> -->
  <div>
    <DraggableModal
      v-model:visible="state.modalVisible"
      destroy-on-close
      title="审核列表"
      :width="900"
      :footer="null"
      @cancel="handleOk"
      @ok="handleOk"
    >
      <div class="titleHeader">
        <div class="searchTitle"
          >年份： <a-date-picker picker="year" format="YYYY" @change="periodChange"
        /></div>
        <div class="searchTitle"
          >季度： <a-date-picker picker="year" format="YYYY" @change="periodChange"
        /></div>
      </div>
      <DynamicTable
        :columns="state.columns"
        :data-source="state.dataSource"
        :loading="state.loading"
      >
      </DynamicTable>
    </DraggableModal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, watch } from 'vue';
  import { DraggableModal } from '@/components/core/draggable-modal';
  import { useTable } from '@/components/core/dynamic-table';
  import dict from '@/utils/dict.js';
  const [DynamicTable] = useTable({
    search: false,
    pagination: false,
    size: 'small',
    rowKey: 'approvalCode',
    bordered: true,
    scroll: { x: 2000 },
  });
  const emits = defineEmits(['close']);
  const props = defineProps({
    visible: { type: Boolean, default: () => false },
  });
  const state = reactive({
    modalVisible: false,
    dataSource: [],
    loading: false,
    columns: [
      {
        title: '审核批次',
        dataIndex: 'approvalCode',
        width: 150,
        customRender({ record, value }) {
          return (
            <a
              onClick={() => {
                onRowClicked(record);
              }}
              style="color:blue;"
            >
              {value}
            </a>
          );
        },
      },
      { title: '年份', dataIndex: 'period', width: 100 },
      { title: '季度', dataIndex: 'period1', width: 100 },
      { title: '被评价单位', dataIndex: 'orgName', width: 150 },
      // { title: '所属 指标', dataIndex: 'perfGName', width: 150 },
      {
        title: '审核状态',
        dataIndex: 'auditStatus',
        width: 150,
        customRender({ record }) {
          const obj = dict.getItemText('SJSJ_AUDIT_STATUS', record?.auditStatus);
          if (!isEmpty(obj)) {
            return (
              <div>
                <a-tooltip title={obj}>{obj}</a-tooltip>
              </div>
            );
          } else {
            return '-';
          }
        },
      },
      { title: '提交时间', dataIndex: 'createDate', width: 150 },
      { title: '提交人', dataIndex: 'createName', width: 100 },
      { title: '审核时间', dataIndex: 'updateDate', width: 150 },
      { title: '审核人', dataIndex: 'updateName', width: 100 },
      { title: '审核备注', dataIndex: 'auditRemark', width: 150 },
      {
        title: '操作',
        dataIndex: 'ACTION',
        width: 100,
        fixed: 'right',
        align: 'center',
        actions: ({ record }) => [
          {
            label: '审核',
            onClick: () => {
              openAudit(record);
            },
          },
        ],
      },
    ],
  });
  watch(
    () => props.visible,
    (val) => {
      if (val) {
        state.modalVisible = val;
      }
    },
  );

  const periodChange = (val) => {
    console.log(val);
  };
  // 审核批次
  const onRowClicked = (record) => {};
  // 审核
  const openAudit = (record) => {};
  const handleOk = (e: MouseEvent) => {
    state.modalVisible = false;
    emits('close');
  };
</script>

<style scoped lang="less">
  .titleHeader {
    display: flex;
  }
  .searchTitle {
    margin-left: 10px;
  }
</style>
