<template>
  <a-row
    v-if="
      props.conditionalmonth === '设备品类中心' ||
      props.conditionalmonth === '华南大区' ||
      props.conditionalmonth === '华东大区' ||
      props.conditionalmonth === '华中大区' ||
      props.conditionalmonth === '西南大区' ||
      props.conditionalmonth === '西北大区' ||
      props.conditionalmonth === '华北大区'
    "
    :gutter="[16, 10]"
  >
    <a-col :md="{ span: 14 }">
      <div class="blockstyle sbstyle" style="height: 600px">
        <p class="title">
          设备准点交付率（按部门）
          <edit-outlined
            clsss="editOut"
            @click="showV(2023051709400660, sbxl02.columns, props.conditionalmonth)"
        /></p>
        <MergeTable
          :widget-id="2023051709400660"
          :has-header="false"
          :data-list="sbxl02.dataSource"
          :column-list="sbxl02.columns"
          :column-groups="sbxl02.columnGroups"
          :formatter="tableStyle.formatter"
          :scroll="{ y: 400 }"
          @cellClicked="onsbxl02Clicked"
          @cutomHeaderRow="sbxl02OnClickModal"
        />
      </div>
    </a-col>
    <a-col :md="{ span: 10 }">
      <div class="blockstyle" style="height: 600px">
        <p class="title">{{ BIG_ZONE_NAME }}</p>
        <div style="height: 500px">
          <StackedColumnFoldMixedChart
            :x-axis="echartxl02.xAxis"
            :y-axis="echartxl02.yAxis"
            :series="echartxl02.series"
          />
        </div>
      </div>
    </a-col>
  </a-row>
  <a-row v-if="props.conditionalmonth === '设备品类中心'" :gutter="[16, 10]">
    <a-col :md="{ span: 14 }">
      <div class="blockstyle sbstyle" style="height: 600px">
        <p class="title">
          设备准点交付率（按项目归属方）
          <edit-outlined
            clsss="editOut"
            @click="showV(2023051709164260, sbxl01.columns, '设备品类中心')"
        /></p>
        <MergeTable
          :widget-id="2023051709164260"
          :has-header="false"
          :data-list="sbxl01.dataSource"
          :column-list="sbxl01.columns"
          :column-groups="sbxl01.columnGroups"
          :formatter="tableStyle.formatter"
          :scroll="{ y: 400 }"
          @cellClicked="onsbxl01Clicked"
          @cutomHeaderRow="sbxl01OnClickModal"
        />
      </div>
    </a-col>
    <a-col :md="{ span: 10 }">
      <div class="blockstyle" style="height: 600px">
        <p class="title">{{ PROJ_BELONG_RECTANGLE_NAME }}</p>
        <div style="height: 500px">
          <StackedColumnFoldMixedChart
            :x-axis="echartxl01.xAxis"
            :y-axis="echartxl01.yAxis"
            :series="echartxl01.series"
          />
        </div>
      </div>
    </a-col>
  </a-row>
  <a-row
    v-if="
      props.conditionalmonth === '设备品类中心' ||
      props.conditionalmonth === '华南大区' ||
      props.conditionalmonth === '华东大区' ||
      props.conditionalmonth === '华中大区' ||
      props.conditionalmonth === '西南大区' ||
      props.conditionalmonth === '西北大区' ||
      props.conditionalmonth === '华北大区'
    "
    :gutter="[16, 10]"
  >
    <a-col :md="{ span: 14 }">
      <div class="blockstyle sbstyle" style="height: 600px">
        <p class="title">
          准点订货率（按部门）<edit-outlined
            clsss="editOut"
            @click="showV(2023051710270460, sbxl04.columns, props.conditionalmonth)"
          />
        </p>
        <MergeTable
          :widget-id="2023051710270460"
          :has-header="false"
          :data-list="sbxl04.dataSource"
          :column-list="sbxl04.columns"
          :column-groups="sbxl04.columnGroups"
          :formatter="tableStyle.formatter"
          :scroll="{ y: 400 }"
          @cellClicked="onsbxl04Clicked"
          @cutomHeaderRow="sbxl04OnClickModal"
        />
      </div>
    </a-col>
    <a-col :md="{ span: 10 }">
      <div class="blockstyle" style="height: 600px">
        <p class="title">{{ DEPT_NAME1 }}</p>
        <div style="height: 500px">
          <StackedColumnFoldMixedChart
            :x-axis="echartxl04.xAxis"
            :y-axis="echartxl04.yAxis"
            :series="echartxl04.series"
          />
        </div>
      </div>
    </a-col>
  </a-row>
  <a-row v-if="props.conditionalmonth === '设备品类中心'" :gutter="[16, 10]">
    <a-col :md="{ span: 14 }">
      <div class="blockstyle sbstyle" style="height: 600px">
        <p class="title">
          准点订货率（按项目归属方）
          <edit-outlined
            clsss="editOut"
            @click="showV(2023051715432660, sbxl03.columns, '设备品类中心')"
        /></p>
        <MergeTable
          :widget-id="2023051715432660"
          :has-header="false"
          :data-list="sbxl03.dataSource"
          :column-list="sbxl03.columns"
          :column-groups="sbxl03.columnGroups"
          :formatter="tableStyle.formatter"
          :scroll="{ y: 400 }"
          @cellClicked="onsbxl03Clicked"
          @cutomHeaderRow="sbxl03OnClickModal"
        />
      </div>
    </a-col>
    <a-col :md="{ span: 10 }">
      <div class="blockstyle" style="height: 600px">
        <p class="title">{{ PROJ_BELONG_RECTANGLE_NAME1 }}</p>
        <div style="height: 500px">
          <StackedColumnFoldMixedChart
            :x-axis="echartxl03.xAxis"
            :y-axis="echartxl03.yAxis"
            :series="echartxl03.series"
          />
        </div>
      </div>
    </a-col>
  </a-row>
  <ShowModal ref="showModal" :visible="state.visible" @close="dialogClose"></ShowModal>
</template>

<script setup lang="ts">
  import { defineExpose, nextTick, reactive, ref } from 'vue';
  import { StackedColumnFoldMixedChart } from '../../componentfile';
  import { MergeTable } from '@/components/business';
  import tableStyle from '@/views/strategyTracking/modulefile/components/tableStyle';
  import { queryAggregate, remarkCount, searchAllocate } from '@/api/strategyTracking';
  import TransCharts from '@/views/strategyTracking/modulefile/components/transCharts';
  import Transformer from '@/views/strategyTracking/modulefile/components/transformer';
  import ShowModal from '@/views/strategyTracking/modulefile/components/ShowModal.vue';
  defineOptions({
    name: 'RegionalcenterXlPageSbplzx',
    inheritAttrs: false,
  });
  const props = defineProps({
    conditionalmonth: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const showModal = ref(null);
  const state = reactive({
    visible: false,
  });

  const InitialloadingSbplzx = () => {
    nextTick(() => {
      getXlSb01();
      getXlSb02();
      getXlSb03();
      getXlSb04();
    });
  };
  defineExpose({
    InitialloadingSbplzx,
  });

  const canAREANAME = (test) => {
    const can = {
      relations: [
        {
          filterField: 'AREA_NAME',
          filterValues: [props.conditionalmonth],
          widgetId: test,
        },
      ],
    };
    return can;
  };
  const sbxl01 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '当月',
        children: ['MONTH_TOTAL_FINISH_NUM', 'MONTH_NEED_FINISH_NUM', 'MONTH_CPLTRATE'],
      },
      {
        title: '累计',
        children: ['YEAR_TOTAL_FINISH_NUM', 'YEAR_NEED_FINISH_NUM', 'YEAR_CPLTRATE'],
      },
    ],
    columns: [
      {
        title: '项目归属方',
        key: 'PROJ_BELONG_RECTANGLE_NAME',
        dataIndex: 'PROJ_BELONG_RECTANGLE_NAME',
        ellipsis: false,
      },
      {
        title: '目标',
        key: 'INDICATOR_PROGRESS_TARGET',
        dataIndex: 'INDICATOR_PROGRESS_TARGET',
        formatter: 'rate3',
      },
      {
        title: '上月准点交付率',
        key: 'UP_MONTH_CPLTRATE',
        dataIndex: 'UP_MONTH_CPLTRATE',
        formatter: 'rate3',
      },
      {
        title: '应交总项数',
        key: 'MONTH_TOTAL_FINISH_NUM',
        dataIndex: 'MONTH_TOTAL_FINISH_NUM',
        formatter: 'rate5',
      },
      {
        title: '未准点项数',
        key: 'MONTH_NEED_FINISH_NUM',
        dataIndex: 'MONTH_NEED_FINISH_NUM',
        formatter: 'rate5',
      },
      {
        title: '准点交付率',
        key: 'MONTH_CPLTRATE',
        dataIndex: 'MONTH_CPLTRATE',
        formatter: 'rate3',
      },
      {
        title: '应交总项数',
        key: 'YEAR_TOTAL_FINISH_NUM',
        dataIndex: 'YEAR_TOTAL_FINISH_NUM',
        formatter: 'rate5',
      },
      {
        title: '未准点项数',
        key: 'YEAR_NEED_FINISH_NUM',
        dataIndex: 'YEAR_NEED_FINISH_NUM',
        formatter: 'rate5',
      },
      { title: '准点交付率', key: 'YEAR_CPLTRATE', dataIndex: 'YEAR_CPLTRATE', formatter: 'rate3' },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search1 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      sbxl01.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    sbxl01.columnKeyList = res2.data;
  };
  const getXlSb01 = async () => {
    await search1(2023051709164260, props.conditionalmonth);
    queryAggregate(canAREANAME(2023051709164260)).then((result) => {
      sbxl01.dataSource = Transformer.toTableData3(
        result.data,
        '2023051709164260',
        sbxl01.keyColumnNameList,
        sbxl01.columnKeyList,
      );
    });
    getechartxl01();
  };
  const sbxl01OnClickModal = (callback) => {
    callback('设备准点交付率-按项目归属方');
  };
  const PROJ_BELONG_RECTANGLE_NAME = ref('合计');
  const onsbxl01Clicked = (record) => {
    PROJ_BELONG_RECTANGLE_NAME.value = record.PROJ_BELONG_RECTANGLE_NAME;
    getechartxl01();
  };
  const echartxl01 = reactive({
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const getechartxl01 = () => {
    const cans = {
      relations: [
        {
          filterField: 'PROJ_BELONG_RECTANGLE_NAME',
          filterValues: [PROJ_BELONG_RECTANGLE_NAME.value],
          widgetId: 2023051709342960,
        },
        {
          filterField: 'AREA_NAME',
          filterValues: [props.conditionalmonth],
          widgetId: 2023051709342960,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      const dataMap = result.data['2023051709342960'].dataMap;
      echartxl01.series = TransCharts.echartsSeries(dataMap.MONTH_CPLTRATE);
      echartxl01.xAxis = dataMap.DELY_DATE;
    });
  };

  const sbxl02 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '当月',
        children: ['TOTAL_FINISH_NUM', 'NEED_FINISH_NUM', 'MONTH_CPLTRATE'],
      },
      {
        title: '累计',
        children: ['YAER_TOTAL_FINISH_NUM', 'YAER_NEED_FINISH_NUM', 'YAER_CPLTRATE'],
      },
    ],
    columns: [
      {
        title: '部门',
        key: 'BIG_ZONE_NAME',
        dataIndex: 'BIG_ZONE_NAME',
        ellipsis: false,
      },
      {
        title: '目标',
        key: 'INDICATOR_PROGRESS_TARGET',
        dataIndex: 'INDICATOR_PROGRESS_TARGET',
        formatter: 'rate3',
      },
      {
        title: '上月准点交付率',
        key: 'UP_MONTH_CPLTRATE',
        dataIndex: 'UP_MONTH_CPLTRATE',
        formatter: 'rate3',
      },
      {
        title: '应交总项数',
        key: 'TOTAL_FINISH_NUM',
        dataIndex: 'TOTAL_FINISH_NUM',
        formatter: 'rate5',
      },
      {
        title: '未准点项数',
        key: 'NEED_FINISH_NUM',
        dataIndex: 'NEED_FINISH_NUM',
        formatter: 'rate5',
      },
      {
        title: '准点交付率',
        key: 'MONTH_CPLTRATE',
        dataIndex: 'MONTH_CPLTRATE',
        formatter: 'rate3',
      },
      {
        title: '应交总项数',
        key: 'YAER_TOTAL_FINISH_NUM',
        dataIndex: 'YAER_TOTAL_FINISH_NUM',
        formatter: 'rate5',
      },
      {
        title: '未准点项数',
        key: 'YAER_NEED_FINISH_NUM',
        dataIndex: 'YAER_NEED_FINISH_NUM',
        formatter: 'rate5',
      },
      { title: '准点交付率', key: 'YAER_CPLTRATE', dataIndex: 'YAER_CPLTRATE', formatter: 'rate3' },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search2 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      sbxl02.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    sbxl02.columnKeyList = res2.data;
  };
  const getXlSb02 = async () => {
    await search2(2023051709400660, props.conditionalmonth);
    queryAggregate(canAREANAME(2023051709400660)).then((result) => {
      sbxl02.dataSource = Transformer.toTableData3(
        result.data,
        '2023051709400660',
        sbxl02.keyColumnNameList,
        sbxl02.columnKeyList,
      );
    });
    getechartxl02();
  };
  const sbxl02OnClickModal = (callback) => {
    callback('设备准点交付率-按部门');
  };
  const BIG_ZONE_NAME = ref('合计');
  const onsbxl02Clicked = (record) => {
    BIG_ZONE_NAME.value = record.BIG_ZONE_NAME;
    getechartxl02();
  };
  const echartxl02 = reactive({
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const getechartxl02 = () => {
    const cans = {
      relations: [
        {
          filterField: 'BIG_ZONE_NAME',
          filterValues: [BIG_ZONE_NAME.value],
          widgetId: 2023051709461760,
        },
        {
          filterField: 'AREA_NAME',
          filterValues: [props.conditionalmonth],
          widgetId: 2023051709461760,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      const dataMap = result.data['2023051709461760'].dataMap;
      echartxl02.series = TransCharts.echartsSeries(dataMap.MONTH_CPLTRATE);
      echartxl02.xAxis = dataMap.STATISTICS_TIME;
    });
  };

  const sbxl03 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '当月',
        children: ['ORDER_QTY', 'NOT_SIGN_QTY', 'PUNTLTY_SIGN_RATE'],
      },
      {
        title: '累计',
        children: ['YEAR_ORDER_QTY', 'YEAR_NOT_SIGN_QTY', 'YEAR_PUNTLTY_SIGN_RATE'],
      },
    ],
    columns: [
      {
        title: '区域',
        key: 'PROJ_BELONG_RECTANGLE_NAME',
        dataIndex: 'PROJ_BELONG_RECTANGLE_NAME',
        ellipsis: false,
      },
      {
        title: '目标',
        key: 'INDICATOR_PROGRESS_TARGET',
        dataIndex: 'INDICATOR_PROGRESS_TARGET',
        formatter: 'rate3',
      },
      {
        title: '上月订货率',
        key: 'UP_PUNTLTY_SIGN_RATE',
        dataIndex: 'UP_PUNTLTY_SIGN_RATE',
        formatter: 'rate3',
      },
      {
        title: '签订总项数',
        key: 'ORDER_QTY',
        dataIndex: 'ORDER_QTY',
        formatter: 'rate5',
      },
      {
        title: '未准点项数',
        key: 'NOT_SIGN_QTY',
        dataIndex: 'NOT_SIGN_QTY',
        formatter: 'rate5',
      },
      {
        title: '准点率',
        key: 'PUNTLTY_SIGN_RATE',
        dataIndex: 'PUNTLTY_SIGN_RATE',
        formatter: 'rate3',
      },
      {
        title: '签订总项数',
        key: 'YEAR_ORDER_QTY',
        dataIndex: 'YEAR_ORDER_QTY',
        formatter: 'rate5',
      },
      {
        title: '未准点项数',
        key: 'YEAR_NOT_SIGN_QTY',
        dataIndex: 'YEAR_NOT_SIGN_QTY',
        formatter: 'rate5',
      },
      {
        title: '准点率',
        key: 'YEAR_PUNTLTY_SIGN_RATE',
        dataIndex: 'YEAR_PUNTLTY_SIGN_RATE',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search3 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      sbxl03.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    sbxl03.columnKeyList = res2.data;
  };
  const getXlSb03 = async () => {
    await search3(2023051715432660, props.conditionalmonth);
    queryAggregate(canAREANAME(2023051715432660)).then((result) => {
      sbxl03.dataSource = Transformer.toTableData3(
        result.data,
        '2023051715432660',
        sbxl03.keyColumnNameList,
        sbxl03.columnKeyList,
      );
    });
    getechartxl03();
  };
  const sbxl03OnClickModal = (callback) => {
    callback('准点订货率-按项目归属方');
  };
  const PROJ_BELONG_RECTANGLE_NAME1 = ref('合计');
  const onsbxl03Clicked = (record) => {
    PROJ_BELONG_RECTANGLE_NAME1.value = record.PROJ_BELONG_RECTANGLE_NAME;
    getechartxl03();
  };
  const echartxl03 = reactive({
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const getechartxl03 = () => {
    const cans = {
      relations: [
        {
          filterField: 'PROJ_BELONG_RECTANGLE_NAME',
          filterValues: [PROJ_BELONG_RECTANGLE_NAME1.value],
          widgetId: 2023051715391360,
        },
        {
          filterField: 'AREA_NAME',
          filterValues: [props.conditionalmonth],
          widgetId: 2023051715391360,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      const dataMap = result.data['2023051715391360'].dataMap;
      echartxl03.series = TransCharts.echartsSeries(dataMap.PUNTLTY_SIGN_RATE);
      echartxl03.xAxis = dataMap.YM;
    });
  };

  const sbxl04 = reactive({
    dataSource: [],
    columnGroups: [
      {
        title: '当月',
        children: ['ORDER_QTY', 'NOT_SIGN_QTY', 'PUNTLTY_SIGN_RATE'],
      },
      {
        title: '累计',
        children: ['YEAR_ORDER_QTY', 'YEAR_NOT_SIGN_QTY', 'YEAR_PUNTLTY_SIGN_RATE'],
      },
    ],
    columns: [
      {
        title: '部门',
        key: 'DEPT_NAME',
        dataIndex: 'DEPT_NAME',
        ellipsis: false,
      },
      {
        title: '目标',
        key: 'INDICATOR_PROGRESS_TARGET',
        dataIndex: 'INDICATOR_PROGRESS_TARGET',
        formatter: 'rate3',
      },
      {
        title: '上月订货率',
        key: 'UP_PUNTLTY_SIGN_RATE',
        dataIndex: 'UP_PUNTLTY_SIGN_RATE',
        formatter: 'rate3',
      },
      {
        title: '签订总项数',
        key: 'ORDER_QTY',
        dataIndex: 'ORDER_QTY',
        formatter: 'rate5',
      },
      {
        title: '未准点项数',
        key: 'NOT_SIGN_QTY',
        dataIndex: 'NOT_SIGN_QTY',
        formatter: 'rate5',
      },
      {
        title: '准点率',
        key: 'PUNTLTY_SIGN_RATE',
        dataIndex: 'PUNTLTY_SIGN_RATE',
        formatter: 'rate3',
      },
      {
        title: '签订总项数',
        key: 'YEAR_ORDER_QTY',
        dataIndex: 'YEAR_ORDER_QTY',
        formatter: 'rate5',
      },
      {
        title: '未准点项数',
        key: 'YEAR_NOT_SIGN_QTY',
        dataIndex: 'YEAR_NOT_SIGN_QTY',
        formatter: 'rate5',
      },
      {
        title: '准点率',
        key: 'YEAR_PUNTLTY_SIGN_RATE',
        dataIndex: 'YEAR_PUNTLTY_SIGN_RATE',
        formatter: 'rate3',
      },
    ],
    keyColumnNameList: [],
    columnKeyList: [],
  });
  const search4 = async (widgetId, name) => {
    const res1 = await searchAllocate({ widgetId, areaName: name });
    if (res1.data && res1.data.length > 0) {
      res1.data.forEach((v) => {
        v.keyColumnName = v.keyColumnName.indexOf(',')
          ? v.keyColumnName.split(',')
          : [v.keyColumnName];
      });
      sbxl04.keyColumnNameList = res1.data;
    }
    const res2 = await remarkCount({ widgetId, argetName: name });
    sbxl04.columnKeyList = res2.data;
  };
  const getXlSb04 = async () => {
    await search4(2023051710270460, props.conditionalmonth);
    queryAggregate(canAREANAME(2023051710270460)).then((result) => {
      sbxl04.dataSource = Transformer.toTableData3(
        result.data,
        '2023051710270460',
        sbxl04.keyColumnNameList,
        sbxl04.columnKeyList,
      );
    });
    getechartxl04();
  };
  const sbxl04OnClickModal = (callback) => {
    callback('准点订货率-按部门');
  };
  const DEPT_NAME1 = ref('合计');
  const onsbxl04Clicked = (record) => {
    DEPT_NAME1.value = record.DEPT_NAME;
    getechartxl04();
  };
  const echartxl04 = reactive({
    xAxis: [],
    yAxis: [{ type: 'value' }],
    series: [],
  });
  const getechartxl04 = () => {
    const cans = {
      relations: [
        {
          filterField: 'DEPT_NAME',
          filterValues: [DEPT_NAME1.value],
          widgetId: 2023051710341360,
        },
        {
          filterField: 'AREA_NAME',
          filterValues: [props.conditionalmonth],
          widgetId: 2023051710341360,
        },
      ],
    };
    queryAggregate(cans).then((result) => {
      const dataMap = result.data['2023051710341360'].dataMap;
      echartxl04.series = TransCharts.echartsSeries(dataMap.PUNTLTY_SIGN_RATE);
      echartxl04.xAxis = dataMap.YM;
    });
  };
  const showV = async (widgetId, columns, areaName) => {
    const params = {
      widgetId,
      areaName,
    };
    const res = await searchAllocate(params);
    state.visible = true;
    showModal.value.changeInfo(widgetId, columns, res.data, areaName);
  };
  const dialogClose = () => {
    state.visible = false;
  };
</script>

<style lang="less" scoped>
  .blockstyle {
    font-family: @font-family;
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 8px;
  }

  .title {
    font-family: @font-family;
    font-size: 26px;
    font-weight: bold;
    color: @heading-color;
    letter-spacing: 0px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 0px;
  }
</style>
