<template>
  <div>
    <!-- 业务自查 -->
    <div>
      <a-form
        ref="auditFormRef"
        :model="state.auditForm"
        :label-col="{ span: 5 }"
        :wrapper-col="{ span: 16 }"
        @finish="onFinish1"
        @finish-failed="onFinishFailed1"
      >
        <a-form-item label="待办编号">
          {{ state.auditForm.sid }}
        </a-form-item>
        <a-form-item label="情况说明" name="handleRemark">
          <a-textarea
            v-model:value="state.auditForm.handleRemark"
            allow-clear
            placeholder="最大允许输入200个字符"
            :maxlength="200"
          />
        </a-form-item>
        <a-form-item label="材料">
          <div class="dropbox">
            <a-upload-dragger
              v-model:fileList="state.fileList"
              name="file"
              :action="`${state.BASE_URL}p/clue/dealWithFileUpload`"
              :before-upload="beforeUpload"
              :headers="state.headers"
              accept=".zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png"
              @change="normFile"
              @preview="onPreview"
            >
              <p class="ant-upload-drag-icon">
                <ArrowUpOutlined></ArrowUpOutlined>
              </p>
              <p class="ant-upload-text">点击或将文件拖拽到这里上传</p>
              <p class="ant-upload-hint"
                >支持扩展名：.zip .rar .doc .docx .pdf .xls .xlsx .jpg .jpeg .png</p
              >
            </a-upload-dragger>
          </div>
        </a-form-item>
        <a-form-item label="监督联络员">
          {{ state.beforeUser }}
        </a-form-item>
        <div class="sub-btn">
          <a-button
            html-type="submit"
            type="primary"
            style="background: #1890ff; color: #fff"
            :loading="state.loading"
            >提交监督联络员</a-button
          >
        </div>
        <div> </div>
      </a-form>
    </div>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref } from 'vue';
  import { cloneDeep } from 'lodash-es';
  import { ArrowUpOutlined } from '@ant-design/icons-vue';
  import { message, Upload } from 'ant-design-vue';
  import { handleBusiness } from '@/api/supervisionGovern';
  import { ACCESS_TOKEN_KEY } from '@/enums/cacheEnum';
  import { Storage } from '@/utils/Storage';
  const emit = defineEmits(['search']);

  const auditFormRef = ref();
  const state = reactive({
    transferor: '',
    handleRemark: '',
    imgVisible: false,
    imgUrl: '',
    BASE_URL: process.env.VUE_APP_BASE_API, // url
    showFlag: 1,
    temporaryLoading: false,
    loading: false,
    fileList: [], // 上传的文件列表
    headers: {}, // 上传头
    auditForm: {
      sid: '',
      modelId: '',
      handleRemark: '',
      recordKey: '',
      handleCommitSeqno: '',
    },
    beforeUser: '',
    dataSource: [],
    processUser: '',
    singleRadio: false,
    rectificationList: [],
  });

  const processHandle = (record) => {
    // console.log('列表过来的数据', record.rectifyStatus);
    const val = cloneDeep(record);
    state.beforeUser = val.beforeUser;
    state.auditForm.sid = val.id;
    state.auditForm.modelId = val.modelId;
    state.auditForm.recordKey = val.recordKey;
    state.auditForm.handleCommitSeqno = val.handleCommitSeqno;
  };

  // 业务自查提交
  const onFinish1 = () => {
    businessHandleOk();
  };
  const onFinishFailed1 = () => {
    console.log('表单校验未通过');
  };
  const businessHandleOk = () => {
    state.loading = true;
    const params = {
      ...state.auditForm,
      handleAttachments: state.fileList
        ? state.fileList.map((item) => {
            return item.response.data;
          })
        : [],
    };
    handleBusiness(params).then((res) => {
      state.loading = false;
      if (res.data.code === 'OK') {
        message.success(res.data.data);
        //关闭父组件
        handleOk();
      } else {
        message.error(res.data.message);
      }
    });
  };
  const closeFn = () => {
    auditFormRef.value.resetFields();
    state.fileList = [];
  };
  const handleOk = () => {
    closeFn();
    emit('search');
  };
  // 文件预览
  const onPreview = (file) => {
    const url = file.response.data;
    // 文件下载
    downloadJson(
      'p/clue/file/downLoad',
      {
        filePathName: url,
      },
      file.name,
    ).then(() => {});
  };
  // 请求拦截
  const beforeUpload = (file, fileList) => {
    let flag = true;
    const config = { Authentication: '' };
    const FileExt = file.name.replace(/.+\./, '');
    if (
      ['jpg', 'jpeg', 'png', 'zip', 'rar', 'pdf', 'doc', 'docx', 'xlsx', 'xls'].indexOf(
        FileExt.toLowerCase(),
      ) === -1
    ) {
      message.warning(
        '请上传后缀名为.zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png的文件！',
      );
      return Upload.LIST_IGNORE;
    }
    // 有 token就带上
    if (Storage.get(ACCESS_TOKEN_KEY)) {
      config.Authentication = Storage.get(ACCESS_TOKEN_KEY);
    } else {
      // 没有就别上传
      flag = false;
    }
    state.headers = JSON.parse(JSON.stringify(config));
    // 上传三次就禁止上传了
    if (fileList.length + state.fileList.length > 3) {
      file.status = 'beforeUploadReject';
      flag = false;
    }
    return flag;
  };
  // 文件改变调用
  const normFile = (e) => {
    if (Array.isArray(e)) {
      return e;
    }
    if (e.fileList.length <= 3) {
      state.fileList = e.fileList;
    }
    // 如果大于3条，只保留前三条
    if (e.fileList.length > 3) {
      e.fileList = e.fileList.splice(3, 1);
      message.error('最多只能上传3个文件');
    }
    // console.log('上传后的数据', e.fileList);
    // 列表绑定
    return e && e.fileList;
  };
  defineExpose({ processHandle });
</script>
<style lang="less" scoped>
  .descriptions-title {
    font-size: 20px;
  }
  .sub-btn {
    display: flex;
    justify-content: center;
  }
</style>
