<template>
  <div class="OperationTarget">
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 14 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">商城月维度</p>
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">本部门商城总营收 趋势图</p>
        </div>
      </a-col>
      <a-col :md="{ span: 14 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">易购、云库、零碳月维度</p>
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="OperationTarget-bg">
          <p class="OperationTarget-title">本部门易购营收 趋势图</p>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { MergeTable } from '@/components/business';
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      border: 1px;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      margin-bottom: 16px;
      height: 500px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
</style>
