<template>
  <MergeTable
    :has-header="false"
    :data-list="state.dataList"
    :column-list="state.columnList"
    :column-groups="state.columnGroup"
    :row-merge="state.rowMerge"
    :loading="loading"
    :scroll="{ y: 300 }"
  >
  </MergeTable>
</template>

<script lang="tsx" setup>
  import { ref, reactive, onMounted, watch } from 'vue';
  import Transformer from './transformer.js';
  import { MergeTable } from '@/components/business';
  import { getHomeWidget, queryAggregate } from '@/api/common';

  defineOptions({
    name: 'ModelDistDetail',
    inheritAttrs: false,
  });

  const props = defineProps({
    bizSystem: {
      type: String,
      default: '',
    },
  });

  const loading = ref(false);
  const state = reactive({
    dataList: [],
    columnList: [
      { title: '监督领域', dataIndex: '业务系统' },
      {
        title: '模型名称',
        dataIndex: '模型名称',
        width: 120,
        align: 'left',
      },
      {
        title: '疑点',
        dataIndex: '当月疑点记录数',
        align: 'right',
      },
      {
        title: '确认问题',
        dataIndex: '当月确定问题数',
        align: 'right',
      },
      {
        title: '移交问题',
        dataIndex: '当月移交问题数',
        align: 'right',
      },
      {
        title: '疑点',
        dataIndex: '累计疑点记录数',
        align: 'right',
      },
      {
        title: '确认问题',
        dataIndex: '累计确定问题数',
        align: 'right',
      },
      {
        title: '移交问题',
        dataIndex: '累计移交问题数',
        align: 'right',
      },
    ],
    columnGroup: [
      {
        title: '当月业务笔数',
        children: ['当月疑点记录数', '当月确定问题数', '当月移交问题数'],
      },
      {
        title: '年累计业务笔数',
        children: ['累计疑点记录数', '累计确定问题数', '累计移交问题数'],
      },
    ],
    rowMerge: {
      title: '合计',
      titleColumn: '业务系统',
      cols: [
        {
          column: '当月疑点记录数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '当月确定问题数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '当月移交问题数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '累计疑点记录数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '累计确定问题数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '累计移交问题数',
          method: 'sum',
          align: 'right',
        },
      ],
    },
  });

  const parseFunc = (cname, value) => {
    return cname != '业务系统' && cname != '模型名称' ? parseInt(value) : value;
  };

  const setupModelData = () => {
    //{ id: 2022101715458754, index: 4, name: '业务系统模型详情' },
    const item = { id: 2022101715458754, index: 4, name: '业务系统模型详情' };
    loading.value = true;
    getHomeWidget({ widgetId: item.id }).then((result) => {
      state.dataList = Transformer.toTableData(result.data, parseFunc);
      loading.value = false;
    });
  };

  const changeData = (bizSystem) => {
    const params = {
      dbType: 'MYSQL',
      relations: [
        {
          filterField: '业务系统',
          filterValues: [bizSystem],
          widgetId: 2022101715458754,
        },
      ],
    };
    loading.value = true;
    queryAggregate(params).then((result) => {
      state.dataList = Transformer.toTableData(result.data['2022101715458754'], parseFunc);
      loading.value = false;
    });
  };

  watch(
    () => props.bizSystem,
    () => {
      if (props.bizSystem) {
        changeData(props.bizSystem);
      } else {
        setupModelData();
      }
    },
    {},
  );

  onMounted(() => {
    // 加载数据
    setupModelData();
    // 修正rowspan
  });
</script>
