<template>
  <div class="ModelEfficiency">
    <MergeTable
      :has-header="false"
      :data-list="state.dataList"
      :column-list="state.columnList"
      :column-groups="state.columnGroup"
      :row-merge="state.rowMerge"
      :scroll="{ y: 300 }"
    >
    </MergeTable>
  </div>
</template>

<script lang="tsx" setup>
  import { reactive, onMounted } from 'vue';
  import Transformer from './transformer.js';
  import { MergeTable } from '@/components/business';
  import { getHomeWidget } from '@/api/common';

  defineOptions({
    name: 'ModelEfficiency',
    inheritAttrs: false,
  });

  const state = reactive({
    dataList: [],
    columnList: [
      { title: '部门', dataIndex: '部门', key: '部门', align: 'left', width: 150 },
      {
        title: '模型管理员',
        dataIndex: '模型管理员',
        key: '模型管理员',
        align: 'left',
      },
      {
        title: '模型数量',
        dataIndex: '已上线模型',
        align: 'right',
      },
      {
        title: '确认问题',
        dataIndex: '当月确认问题业务笔数',
        align: 'right',
      },
      {
        title: '移交问题',
        dataIndex: '当月移交问题业务笔数',
        align: 'right',
      },
      {
        title: '确认问题',
        dataIndex: '累计确认问题业务笔数',
        align: 'right',
      },
      {
        title: '移交问题',
        dataIndex: '累计移交问题业务笔数',
        align: 'right',
      },
    ],
    columnGroup: [
      {
        title: '当月业务笔数',
        children: ['当月确认问题业务笔数', '当月移交问题业务笔数'],
      },
      {
        title: '年累计业务笔数',
        children: ['累计确认问题业务笔数', '累计移交问题业务笔数'],
      },
    ],
    rowMerge: {
      title: '合计',
      titleColumn: '部门',
      cols: [
        {
          column: '已上线模型',
          method: 'sum',
          align: 'right',
        },
        {
          column: '当月确认问题业务笔数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '当月移交问题业务笔数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '累计确认问题业务笔数',
          method: 'sum',
          align: 'right',
        },
        {
          column: '累计移交问题业务笔数',
          method: 'sum',
          align: 'right',
        },
      ],
    },
  });

  const parseFunc = (cname, value) => {
    return cname != '部门' && cname != '模型管理员' ? parseInt(value) : value;
  };

  const setupModelData = () => {
    const item = { id: 2022101715461853, index: 7, name: '模型监督效率统计' };
    getHomeWidget({ widgetId: item.id }).then((result) => {
      // 整理数据
      state.dataList = Transformer.toTableData(result.data, parseFunc);

      state.columnList[0].rspans = Transformer.genRowSpans(state.dataList, '部门');
    });
  };

  onMounted(() => {
    // 加载数据
    setupModelData();
    // 修正rowspan
  });
</script>
<style lang="less">
  .ModelEfficiency {
    background-color: #fff;
    padding-bottom: 10px;
  }
</style>
