<template>
  <div
    class="rules-container"
    :class="{ 'select-open': props.visible, 'select-close': !props.visible }"
  >
    <div class="rules-group-container">
      <div
        v-for="(group, gindex) in state.conditionGroups"
        :key="gindex"
        :class="queryFiltershow ? null : 'showheigh'"
      >
        <div v-if="gindex > 0" class="sep-line"><span>或</span></div>
        <div v-for="(item, iindex) in group" :key="item.field" class="condition">
          <div class="rule-item flex-row">
            <div class="flex-row-rel">
              <div class="row-icon">
                <MinusCircleOutlined
                  size="20"
                  @click="delCondition(gindex, iindex)"
                ></MinusCircleOutlined>
              </div>
              <div>
                <div class="rel-op">{{ iindex == 0 ? '' : '且' }}</div>
              </div>
            </div>
            <div class="rule-item-field">
              <a-select
                ref="reactSelect"
                v-model:value="item.field"
                class="width100"
                filter-option
                allow-clear
                show-search
                option-filter-prop="label"
                @change="changeField(iindex, gindex)"
              >
                <a-select-option
                  v-for="field in surplusFields(gindex, item.field)"
                  :key="field.name"
                  :value="field.name"
                  :label="field.cName"
                  >{{ field.cName }}
                </a-select-option>
              </a-select>
            </div>
            <div class="rule-item-op">
              <a-select
                v-if="item.type == 'text'"
                v-model:value="item.operatorValue"
                class="width100"
                @change="changeOperator(item, iindex, gindex)"
              >
                <a-select-option
                  v-for="(op, oindex) in operator_text"
                  :key="oindex"
                  :value="op.code"
                  >{{ op.text }}
                </a-select-option>
              </a-select>
              <a-select
                v-if="item.type == 'number'"
                v-model:value="item.operatorValue"
                class="width100"
                @change="changeOperator(item, iindex, gindex)"
              >
                <a-select-option
                  v-for="(op, oindex) in operator_number"
                  :key="oindex"
                  :value="op.code"
                  >{{ op.text }}
                </a-select-option>
              </a-select>
              <a-select
                v-if="item.type == 'dict'"
                v-model:value="item.operatorValue"
                class="width100"
                @change="changeOperator(item, iindex, gindex)"
              >
                <a-select-option
                  v-for="(op, oindex) in operator_dict"
                  :key="oindex"
                  :value="op.code"
                  >{{ op.text }}
                </a-select-option>
              </a-select>
              <a-select
                v-if="item.type == 'date'"
                v-model:value="item.operatorValue"
                class="width100"
                @change="changeOperator(item, iindex, gindex)"
              >
                <a-select-option
                  v-for="(op, oindex) in operator_date"
                  :key="oindex"
                  :value="op.code"
                  >{{ op.text }}
                </a-select-option>
              </a-select>
            </div>

            <!-- 值  注意要根据operator来决定是一个值还是两个值 大部分都是一个值，只有当不是date且为介于的情况下，要两个值，
            然后特殊的情况是 dict 和 date 需要特殊组件

            特别是介于-->
            <div class="rule-item-value">
              <a-checkbox-group
                v-if="item.type == 'dict'"
                v-model:value="item.selectCode"
                name="checkboxgroup"
                class="check-group left-margin-4"
                :options="item.codeList"
                @change="changeValue(item, iindex, gindex)"
              />

              <div v-if="item.type == 'text'" class="left-margin-4">
                <TagInput
                  v-model:value="item.value1"
                  :width="250"
                  @change="changeValue(item, iindex, gindex)"
                ></TagInput>
              </div>
              <div
                v-else-if="item.type == 'number' && item.operatorValue == 'BTW'"
                class="flex left-margin-4"
              >
                <div class="ant-calendar-picker range-number">
                  <a-input
                    v-model:value.trim="item.value1"
                    placeholder="开始"
                    type="number"
                    class="ant-calendar-range-picker-input"
                    @change="changeValue(item, iindex, gindex)"
                  />
                  <span class="ant-calendar-range-picker-separator"> ~ </span>
                  <a-input
                    v-model:value="item.value2"
                    placeholder="结束"
                    type="number"
                    class="ant-calendar-range-picker-input"
                    @change="changeValue(item, iindex, gindex)"
                  />
                </div>
              </div>
              <div v-else-if="item.type == 'number'" class="flex left-margin-4">
                <a-input
                  v-model:value.trim="item.value1"
                  class="width100"
                  type="number"
                  @change="changeValue(item, iindex, gindex)"
                />
              </div>
              <div v-else-if="item.type == 'date'" class="left-margin-4">
                <a-range-picker
                  v-if="item.operatorValue == 'BTW'"
                  v-model:value="item.selectCode"
                  class="width360"
                  format="YYYY/MM/DD"
                  @change="changeValue(item, iindex, gindex)"
                />

                <a-date-picker
                  v-else
                  v-model:value="item.value1"
                  class="width100"
                  format="YYYY/MM/DD"
                  @change="changeValue(item, iindex, gindex)"
                />
              </div>
            </div>
            <div
              v-if="state.conditionGroups[gindex].length < props.fieldList.length"
              class="con-adder"
            >
              <span class="con-adder-btn" @click="addCondition(gindex)">
                <PlusCircleOutlined size="20"></PlusCircleOutlined>
                <span>添加条件</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="props.isaddConditionGroup" class="group-adder">
      <div class="group-adder-btn" @click="addConditionGroup">
        <plus-outlined></plus-outlined>
        <span>添加条件组</span>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
  import { reactive, onMounted, computed } from 'vue';
  import { MinusCircleOutlined, PlusCircleOutlined, PlusOutlined } from '@ant-design/icons-vue';
  import TagInput from '@/components/core/schema-form/src/components/TagInput.vue';
  import { useSupervisionGovern } from '@/store/modules/supervisionGovern';
  // import dayjs from 'dayjs';
  // import { isEmpty } from 'lodash-es';
  defineOptions({
    name: 'QueryFilter',
    inheritAttrs: false,
  });
  const SupervisionGovern = useSupervisionGovern();
  const queryFiltershow = computed(() => SupervisionGovern.queryFiltershow);

  const emits = defineEmits(['change']);

  const props = defineProps({
    visible: {
      type: Boolean,
      default: true,
    },
    fieldList: {
      type: Array,
      default() {
        return [];
      },
    },
    isaddConditionGroup: {
      type: Boolean,
      default: true,
    },
  });
  // const isNotEmpty = (v) => {
  //   return !isEmpty(v);
  // };
  const conditionTemplate = {
    field: '',
    type: 'text',
    value1: [],
    value2: '',
    selectCode: [],
    operatorValue: 'NA',
    operatorList: [],
    codeList: [],
  };

  // const dateFormat = 'YYYY/MM/DD';

  const operator_text = [
    { code: 'NA', text: '请选择' },
    { code: 'CT', text: '包含' },
    { code: 'NCT', text: '不包含' },
  ];

  const operator_number = [
    { code: 'NA', text: '请选择' },
    { code: 'EQ', text: '等于' },
    { code: 'NEQ', text: '不等于' },
    { code: 'GT', text: '大于' },
    { code: 'LT', text: '小于' },
    { code: 'GE', text: '大于等于' },
    { code: 'LE', text: '小于等于' },
    { code: 'BTW', text: '介于' },
  ];

  const operator_dict = [
    { code: 'NA', text: '请选择' },
    { code: 'EQ', text: '包含' },
    { code: 'NEQ', text: '不包含' },
  ];
  const operator_date = [
    { code: 'NA', text: '请选择' },
    { code: 'EQ', text: '等于' },
    { code: 'NEQ', text: '不等于' },
    { code: 'GT', text: '大于' },
    { code: 'GE', text: '大于等于' },
    { code: 'LT', text: '小于' },
    { code: 'LE', text: '小于等于' },
    { code: 'BTW', text: '介于' },
  ];

  const state = reactive({
    selectedFields: [],
    conditionGroups: [],
    tags: [],
  });

  const surplusFields = computed(() => {
    return function (gindex, field) {
      const temps = state.conditionGroups[gindex].map((x) => x.field);
      const list = [];
      // 加上当前的field
      const temp = props.fieldList.find((x) => x.name === field);
      if (temp) {
        list.push(temp);
      }
      props.fieldList.forEach((x) => {
        if (!temps.includes(x.name)) {
          list.push(x);
        }
      });
      return list;
    };
  });

  onMounted(() => {
    addConditionGroup();
  });

  const changeOperator = (item, idx, gdx) => {
    if (checkItem(item)) {
      const conditions = getConditionResult();
      // console.log(conditions)
      emits('change', conditions);
    }
  };

  /**
   * 改变值
   */
  const changeValue = (item, idx, gdx) => {
    const conditions = getConditionResult();
    console.log(conditions);
    if (conditions.length > 0) {
      emits('change', conditions);
    }
  };

  /**
   * 判断是否会触发条件查询
   * @param item
   * @returns {boolean}
   */
  const checkItem = (item) => {
    if (item.operatorValue != 'NA') {
      if (item.type === 'number') {
        if (item.value1 != null && item.value1 != undefined && item.value1 != '') {
          return true;
        }
      } else if (item.type === 'date') {
        if (item.operatorValue === 'BTW') {
          item.value1 = '';
          item.value2 = '';
          if (item.selectCode.length > 1) {
            // item.value1 = dayjs(item.selectCode[0], dateFormat);
            // item.value2 = dayjs(item.selectCode[1], dateFormat);
            item.value1 = item.selectCode[0];
            item.value2 = item.selectCode[1];
            return true;
          }
        } else {
          item.selectCode = [];
          item.value2 = '';
          if (item.value1 != undefined && item.value1 != '') {
            return true;
          }
        }
      } else if (item.type === 'text') {
        if (item.value1 != null && item.value1 != undefined && item.value1.length > 0) {
          return true;
        }
      } else if (item.type === 'dict') {
        // console.log('dict', item)
        if (item.selectCode.length > 0) {
          item.value1 = item.selectCode;
          return true;
        }
      }
    }
    return false;
  };
  /**
   *清空条件
   */
  const clearConditionResult = () => {
    state.conditionGroups.forEach((x) => {
      x.forEach((y) => {
        y.selectCode = [];
        y.value1 = null;
        y.value2 = null;
      });
    });
  };
  /**
   * 获取条件结果
   * 注意 最外层都是or连接 ，内部都是and连接
   */
  const getConditionResult = () => {
    const result = [];
    state.conditionGroups.forEach((x) => {
      if (x.length > 0) {
        const temp = [];
        x.forEach((y) => {
          if (checkItem(y)) {
            if (y.type === 'date' && y.operatorValue != 'BTW' && typeof y.value1 === 'object') {
              // 判断时间格式
              // const dateStr = dayjs(y.value1, dateFormat);
              // y.value1 = dateStr;
            }
            temp.push(y);
          }
          if (y.operatorValue != 'BTW') {
            y.value2 = '';
          }
        });
        if (temp.length > 0) {
          result.push(temp);
        }
      }
    });
    return result;
  };

  const changeField = (idx, gdx) => {
    let field = null;
    const item = state.conditionGroups[gdx][idx];
    item.codeList = null;
    for (let i = 0; i < props.fieldList.length; i++) {
      if (item.field == props.fieldList[i].name) {
        field = props.fieldList[i];
        break;
      }
    }

    if (!field) {
      return false;
    }
    const type = field.type;
    let typeValue = 'CT';
    if (type === 'number' || type === 'date' || type === 'dict') {
      typeValue = 'EQ';
    }
    item.name = field.name;
    item.cName = field.cName;
    item.codeList = field.codeList;
    item.example = field.example;
    item.type = type;
    item.columnType = convertType2ColumnType(type);
    item.selectCode = [];
    item.operatorValue = typeValue;
    item.value1 = field.deValue1;
    item.value2 = field.deValue2;
    item.dictCode = field.dictCode;
    item.queryType = field.queryType;
  };
  const addConditionGroup = () => {
    const temp = JSON.parse(JSON.stringify(conditionTemplate));
    state.conditionGroups.push([temp]);
    scrollToBottom();
  };
  // 添加规则
  const addCondition = (gIndex) => {
    const length = state.conditionGroups[gIndex].length;
    if (length === 0) {
      const temp = JSON.parse(JSON.stringify(conditionTemplate));
      state.conditionGroups[gIndex].push(temp);
    } else {
      const next = getNextField(gIndex);
      state.conditionGroups[gIndex].push(next);
    }
    scrollToBottom();
  };
  // 删除规则
  const delCondition = (gindex, iindex) => {
    state.conditionGroups[gindex].splice(iindex, 1);

    if (state.conditionGroups.length > 1 && state.conditionGroups[gindex].length === 0) {
      state.conditionGroups.splice(gindex, 1);
    }

    if (state.conditionGroups[0].length === 0) {
      // this.conditionGroups.length === 1 &&
      const temp = JSON.parse(JSON.stringify(conditionTemplate));
      state.conditionGroups[0].push(temp);
    }
    const conditions = getConditionResult();
    if (conditions.length > 0) {
      emits('change', conditions);
    }
  };

  /***
   * 获取下一个字段信息
   * @param gindex
   * @returns {*}
   */
  const getNextField = (gindex) => {
    const group = state.conditionGroups.at(gindex);
    if (group && group != undefined) {
      const fields = group.map((x) => x.field);
      const list = props.fieldList.filter((x) => !fields.includes(x.name));
      if (list.length > 0) {
        return field2Condition(list[0]);
      }
    }
    return field2Condition(props.fieldList[0]);
  };
  /**
   * 字段转条件
   * @param field
   * @returns {null|{operatorList: [], field: *, value2: string, value1: string, type: *, selectCode: []}}
   */
  const field2Condition = (field) => {
    if (field && field.name) {
      const condition = {
        field: field.name,
        type: field.type,
        example: field.example,
        value1: '',
        value2: '',
        selectCode: [],
        operatorList: [],
      };
      if (field.type === 'number' || field.type === 'date') {
        condition.operatorValue = 'EQ';
        condition.codeList = [];
      } else if (field.type === 'text') {
        condition.operatorValue = 'CT';
        condition.codeList = [];
      } else if (field.type === 'dict') {
        condition.operatorValue = 'EQ';
        condition.codeList = field.codeList;
      }
      return condition;
    }
    return null;
  };
  const scrollToBottom = () => {
    // to be modified by zhujun
    // let that = this
    // this.$nextTick(() => {
    //   const container = that.$el.querySelector('.rules-group-container')
    //   container.scrollTop = container.scrollHeight
    // })
  };
  /***
   * type转换成后端对应类型
   * @param type
   * @returns {string}
   */
  const convertType2ColumnType = (type) => {
    let ctype = '1';
    if (type === 'number') {
      ctype = '2';
    } else if (type === 'date') {
      ctype = '3';
    } else if (type === 'dict') {
      ctype = '4';
    }
    return ctype;
  };
  const setConditionGroups = (val) => {
    state.conditionGroups = val;
    // this.$forceUpdate()
  };
  // const formatDayJs = (v) => {
  //   return dayjs(v, dateFormat);
  // };
  defineExpose({
    getConditionResult,
    clearConditionResult,
    setConditionGroups,
    delCondition,
  });
</script>

<style lang="less" scoped>
  .rules-container {
    width: 100%;
  }
  .rules-group-container {
    margin: 10px 0px;
    // max-height: 300px;
    overflow-y: auto;
  }

  .flex {
    display: flex;
    align-items: center;
  }

  .showheigh {
    height: 0px !important;
  }
  .rule-item {
    padding: 5px 10px;
    width: 100%;
  }

  .con-adder {
    // padding: 10px 10px;
    margin-left: 10px;
    color: #1890ff;
    .con-adder-btn {
      cursor: pointer;
    }
  }

  .rule-item-field {
    margin: 0px 3px;
    width: 220px;
  }

  .rule-item-op {
    width: 90px;
    margin: 0px 3px;
  }

  .rule-item-value {
    // margin: 0px 3px;
    // flex: 2;
    // width: 150px;
  }

  .width100 {
    width: 100%;
  }

  .width45 {
    width: 45%;
  }
  .width360 {
    width: 360px;
  }

  .group-adder {
    height: 32px;
    line-height: 32px;
    width: 100%;
    display: inline;
    text-align: center;
  }
  .range-number {
    display: flex;
    border: 1px solid #dddfd5;
    border-radius: 2px;
    .ant-input {
      border: unset;
      width: 100px;
    }
  }
  .group-adder-btn {
    border: 1px solid rgb(243, 240, 240);
    border-radius: 3px;
  }

  .group-adder-btn:hover {
    background-color: #f2f7fa !important;
    color: #000;
    z-index: 1099;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    .flex-row-rel {
      display: flex;
      align-items: center;
    }
    .row-icon {
      cursor: pointer;
    }
    .rel-op {
      width: 25px;
      text-align: center;
    }
  }

  .sep-line {
    height: 1px;
    border-top: 1px solid #ddd;
    text-align: center;
    margin-bottom: 10px;
  }

  .sep-line span {
    position: relative;
    top: -8px;
    background: #fff;
    padding: 0 20px;
  }

  .check-group {
    background-color: rgb(243, 240, 240);
    padding: 5px 15px;
  }

  .left-margin-4 {
    margin-left: 4px;
  }
  @keyframes slide-down {
    0% {
      transform: scale(1, 0);
    }
    25% {
      transform: scale(1, 1.2);
    }
    50% {
      transform: scale(1, 0.85);
    }
    75% {
      transform: scale(1, 1.05);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  .select-open {
    animation: slide-down 0.5s ease-in;
    transition: 0.3s ease-in;
    transform-origin: 50% 0;
  }
  .select-close {
    transform: scaleY(0);
    transition: transform 0.2s;
    transform-origin: top center;
  }
</style>
