<template>
  <div class="GoalOverview">
    <div class="GoalOverview-title"><span>目标总览</span></div>
    <div
      v-if="
        state.depData == '资材品类中心' ||
        state.depData == '备件品类中心' ||
        state.depData == '设备品类中心'
      "
    >
      <CategoryTarget ref="category" :year-month="state.yearMonth" :dep-data="state.depData" />
    </div>
    <div v-else>
      <DepTarget :year-month="state.yearMonth" :dep-data="state.depData" />
    </div>
    <div class="SalesDepartment-warp">
      <span class="SalesDepartment-title">目标跟进</span>
      <a-tabs
        v-if="state.depData != '欧冶采购'"
        v-model:activeKey="state.activeVal"
        :centered="true"
        size="large"
        :tab-bar-style="{ background: '#FFF2C9', width: '100%' }"
        @change="changeActive"
      >
        <a-tab-pane key="易购" tab="易购"
          ><FollowupYG
            ref="Followupyg"
            :year-month="state.yearMonth"
            :dep-data="depData"
            :active-val="state.activeVal"
        /></a-tab-pane>
        <a-tab-pane
          v-if="
            state.depData != '销售一部' &&
            state.depData != '销售二部' &&
            state.depData != '销售支持部'
          "
          key="商城"
          tab="商城"
        >
          <FollowupYG
            ref="Followupyg"
            :year-month="state.yearMonth"
            :dep-data="state.depData"
            :active-val="state.activeVal"
          />
        </a-tab-pane>
        <a-tab-pane
          v-if="
            state.depData != '销售一部' &&
            state.depData != '销售二部' &&
            state.depData != '销售支持部'
          "
          key="云库"
          tab="云库"
        >
          <FollowupYG
            ref="Followupyg"
            :year-month="state.yearMonth"
            :dep-data="state.depData"
            :active-val="state.activeVal"
          />
        </a-tab-pane>
        <a-tab-pane
          v-if="
            state.depData != '销售一部' &&
            state.depData != '销售二部' &&
            state.depData != '销售支持部'
          "
          key="易销"
          tab="易销"
        >
          <FollowupYG
            ref="Followupyg"
            :year-month="state.yearMonth"
            :dep-data="state.depData"
            :active-val="state.activeVal"
          />
        </a-tab-pane>
        <a-tab-pane
          v-if="
            state.depData != '销售一部' &&
            state.depData != '销售二部' &&
            state.depData != '销售支持部'
          "
          key="零碳"
          tab="零碳"
        >
          <FollowupYG
            ref="Followupyg"
            :year-month="state.yearMonth"
            :dep-data="state.depData"
            :active-val="state.activeVal"
          />
        </a-tab-pane>
      </a-tabs>
      <a-tabs
        v-if="state.depData == '欧冶采购'"
        v-model:activeKey="state.activeVal2"
        :centered="true"
        size="large"
        :tab-bar-style="{ background: '#FFF2C9', width: '100%' }"
        @change="changeActive"
      >
        <a-tab-pane key="商城" tab="商城">
          <FollowupYG
            ref="Followupyg"
            :year-month="state.yearMonth"
            :dep-data="state.depData"
            :active-val="state.activeVal2"
          />
        </a-tab-pane>
        <a-tab-pane key="云库" tab="云库">
          <FollowupYG
            ref="Followupyg"
            :year-month="state.yearMonth"
            :dep-data="state.depData"
            :active-val="state.activeVal2"
          />
        </a-tab-pane>
      </a-tabs>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch, onMounted, ref, nextTick } from 'vue';
  import DepTarget from './componeents/DepTarget.vue'; //销售部门目标总览
  import FollowupYG from './componeents/FollowupYG.vue'; //销售部门月份跟进
  import CategoryTarget from './componeents/CategoryTarget.vue'; //品类中心目标总览
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    depData: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  const category = ref();
  watch(
    () => props.yearMonth,
    (c) => {
      state.yearMonth = c;
      nextTick(() => {
        if (
          props.depData == '资材品类中心' ||
          props.depData == '备件品类中心' ||
          props.depData == '设备品类中心'
        ) {
          category.value.categorySearch();
        }
      });
    },
  );
  watch(
    () => props.depData,
    (v) => {
      state.depData = v;
      nextTick(() => {
        if (v == '欧冶采购') {
          state.activeVal2 = '商城';
        } else {
          state.activeVal = '易购';
        }
        Followupyg.value.allSearchYG();
        Followupyg.value.monthInterval();
        if (v == '资材品类中心' || v == '备件品类中心' || v == '设备品类中心') {
          category.value.categorySearch();
        }
      });
    },
  );
  const state = reactive({
    yearMonth: '',
    depData: '',
    activeVal: '易购',
    activeVal2: '商城',
  });

  const Followupyg = ref();
  const changeActive = (val) => {
    nextTick(() => {
      state.activeVal = val;
      state.activeVal2 = val;
      Followupyg.value.allSearchYG();
      Followupyg.value.monthInterval();
    });
  };
  onMounted(() => {
    nextTick(() => {
      state.activeVal = '易购';
      state.activeVal2 = '商城';
    });
  });
</script>

<style lang="less" scoped>
  .GoalOverview {
    width: 100%;
    margin-top: -35px;
    .GoalOverview-title {
      font-family: Source Han Sans CN;
      font-size: 30px;
      font-weight: bold;
      color: #3d3d3d;
      height: 58px;
      margin: 50px 0px 15px 0px;
      background: #fff2c9;
      span {
        display: inline-block;
        margin-top: 5px;
      }
    }
    .SalesDepartment-warp {
      position: relative;
      .SalesDepartment-title {
        font-family: Source Han Sans CN;
        font-size: 30px;
        font-weight: bold;
        color: #3d3d3d;
        position: absolute;
        z-index: 999;
        top: 8px;
        // margin-top: -10px;
      }
    }
  }
</style>
