<template>
  <div>
    <!--模型管理员处理审核  -->
    <a-form
      ref="businessFormRef"
      :model="state.businessForm"
      :label-col="{ span: 5 }"
      :wrapper-col="{ span: 16 }"
      :rules="rules1"
      :footer="null"
      @finish="onFinish1"
      @finish-failed="onFinishFailed1"
    >
      <a-form-item label="处理审核" name="opinion">
        <a-radio-group v-model:value="state.businessForm.opinion">
          <a-radio value="1"> 不是问题 </a-radio>
          <a-radio value="2"> 是问题 </a-radio>
          <a-radio value="4"> 驳回 </a-radio>
        </a-radio-group>
      </a-form-item>
      <a-form-item label="核查说明" name="handleRemark" style="margin-bottom: 20px">
        <a-textarea
          v-model:value="state.businessForm.handleRemark"
          show-count
          :maxlength="500"
          allow-clear
          placeholder="请输入500字符以内"
        />
      </a-form-item>
      <a-form-item label="材料">
        <div class="dropbox">
          <a-upload-dragger
            v-model:fileList="state.fileList"
            name="file"
            :action="`${state.BASE_URL}p/clue/dealWithFileUpload`"
            :before-upload="beforeUpload"
            :headers="state.headers"
            accept=".zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png"
            @change="normFile"
            @preview="onPreview"
          >
            <p class="ant-upload-drag-icon">
              <ArrowUpOutlined></ArrowUpOutlined>
            </p>
            <p class="ant-upload-text">点击或将文件拖拽到这里上传</p>
            <p class="ant-upload-hint"
              >支持扩展名：.zip .rar .doc .docx .pdf .xls .xlsx .jpg .jpeg .png</p
            >
          </a-upload-dragger>
        </div>
      </a-form-item>
      <div v-if="state.businessForm.opinion == '2'">
        <a-form-item label="问题简述" name="proQua">
          <!-- 是问题或者驳回业务自查-则核查说明为必填项 v-decorator="['proQua',{ rules: [{ required: true, message: '请输入问题简述，最大允许30个字符' }] }]"-->
          <a-textarea
            v-model:value="state.businessForm.proQua"
            show-count
            allow-clear
            placeholder="问题定性描述，100字符以内"
            :maxlength="100"
          />
        </a-form-item>

        <a-form-item label="责任部门" required>
          <a-cascader
            v-model:value="state.resDepCodeNew"
            placeholder="请选择责任部门"
            allow-clear
            :field-names="{ label: 'text', value: 'code', children: 'children' }"
            :options="state.responsibleDeptData"
            show-search
            style="width: 300px"
            @change="changRresDep"
          >
          </a-cascader>
          <p v-show="state.resDepCodeFlag" class="ant-form-explain"> 请选择责任部门名称 </p>
        </a-form-item>
        <a-form-item label="责任人" name="resPerson">
          <a-input
            v-model:value="state.businessForm.resPerson"
            placeholder="请输入责任人，最大支持32个字符"
            :maxlength="32"
            type="text"
          />
        </a-form-item>
        <a-form-item label="下一步" name="opinion">
          <a-radio-group v-model:value="state.businessForm.nextStep">
            <a-radio value="1"> 移交纪检 </a-radio>
            <a-radio value="2"> 责令整改 </a-radio>
          </a-radio-group>
        </a-form-item>
        <a-form-item v-if="state.businessForm.nextStep === '1'" label="移交纪检" name="transferor">
          <a-select
            v-model:value="state.businessForm.transferor"
            style="width: 300px"
            allow-clear
            show-search
            @change="receiverChange"
          >
            <a-select-opt-group label="核查组">
              <a-select-option
                v-for="(item, index) in state.transferArr['核查人员']"
                :key="index"
                :value="'核查人员' + '-' + item"
              >
                {{ item }}
              </a-select-option>
            </a-select-opt-group>
          </a-select>
        </a-form-item>
        <a-form-item
          v-if="state.businessForm.nextStep === '2'"
          label="监督联络员"
          name="transferor"
        >
          <a-select
            v-model:value="state.businessForm.transferor"
            style="width: 300px"
            allow-clear
            show-search
            @change="receiverChange"
          >
            <a-select-opt-group label="核查组">
              <a-select-option
                v-for="(item, index) in state.transferArr['核查人员']"
                :key="index"
                :value="'核查人员' + '-' + item"
              >
                {{ item }}
              </a-select-option>
            </a-select-opt-group>
          </a-select>
        </a-form-item>
      </div>
      <div class="sub-btn">
        <a-button
          type="primary"
          style="background: #1890ff; color: #fff"
          :loading="state.loading"
          html-type="submit"
          >{{ state.businessForm.problemConfirm == '20' ? '提交核查人员' : '提交' }}</a-button
        >
      </div>
    </a-form>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, getCurrentInstance, onMounted } from 'vue';
  import { ArrowUpOutlined } from '@ant-design/icons-vue';
  import { cloneDeep } from 'lodash-es';
  import { message, Upload } from 'ant-design-vue';
  import { downloadJson } from '@/utils/request';
  import { getDep, getUsers, isOverrule } from '@/api/supervisionGovern';
  import { saveInspector } from '@/api/supervisionModel';
  import { ACCESS_TOKEN_KEY } from '@/enums/cacheEnum';
  import { Storage } from '@/utils/Storage';
  const emit = defineEmits(['search']);
  const { proxy } = getCurrentInstance();
  const businessFormRef = ref();
  const state = reactive({
    loading: false,
    businessForm: {
      sid: '',
      handleCommitSeqno: '',
      recordKey: '',
      handleRemark: '',
      modelId: '',
      opinion: '',
      opinionChild: '',
      transferor: '',
      resDepCode: '',
      resDep: '',
      proQua: '',
      resPerson: '',
      handleAttachments: [],
      temporaryFlag: 2,
      nextStep: '',
    },
    BASE_URL: process.env.VUE_APP_BASE_API, // url
    headers: {}, // 上传头
    fileList: [], // 上传的文件列表
    transferArr: [], // 转交人/移交人
    itemTextList: proxy.$dict.getItemsByDictCode('handlingOpinionsjijian'),
    responsibleDeptData: [], //审计--部门选择
    resDepCode: '', //部门id--包括二级
    resDep: '', //部门中文
    resDepCodeFlag: false, //责任部门验证标识
    todoLinkCode: '',
    rectificationList: [],
    resDepCodeNew: [],
    sendUser: '',
    beforeUser: '',
    // isOverruleFlag: false,
  });
  const rules1 = reactive({
    opinion: [{ required: true, message: '请选择处理意见' }],
    proQua: [{ required: true, message: '请输入问题简述' }],
    transferor: [{ required: true, message: '请选择人员名称' }],
  });
  // 提交
  const onFinish1 = () => {
    businessHandleOk();
  };
  const onFinishFailed1 = (err) => {
    console.log('表单校验未通过', err);
    if (
      (state.businessForm.opinion == '2' && state.resDepCodeNew.length == 0) ||
      (state.businessForm.opinion == '2' && state.resDepCodeNew == '') ||
      (state.businessForm.opinion == '2' && state.resDepCodeNew == null)
    ) {
      //选择是问题则部门必选
      state.resDepCodeFlag = true;
    }
  };
  const businessHandleOk = () => {
    if (
      (state.businessForm.opinion == '2' && state.resDepCodeNew.length == 0) ||
      (state.businessForm.opinion == '2' && state.resDepCodeNew == '') ||
      (state.businessForm.opinion == '2' && state.resDepCodeNew == null)
    ) {
      //选择是问题则部门必选
      state.resDepCodeFlag = true;
    } else {
      state.resDepCodeFlag = false;
      const params = {
        ...state.businessForm,
        resDepCode: state.resDepCodeNew.join(',') || '',
        resDep: state.resDep,
        handleAttachments: state.fileList
          ? state.fileList.map((item) => {
              return item.response.data;
            })
          : [],
      };
      params.transferor =
        state.businessForm.opinion == '4' ? state.beforeUser : state.businessForm.transferor;
      state.loading = true;
      // 管理员初审
      saveInspector(params)
        .then((r) => {
          state.loading = false;
          if (r.code === 'OK') {
            message.success('处理成功');
            emit('search');
          } else {
            message.error(r.message);
          }
        })
        .catch(() => {
          state.loading = false;
        });
    }
  };
  const processHandle = (batchData) => {
    const record = cloneDeep(batchData.selectedRows[0]);
    state.beforeUser = record.beforeUser;
    state.businessForm.sid = record.id;
    state.businessForm.modelId = record.modelId;
    state.businessForm.recordKey = record.recordKey;
    state.businessForm.handleCommitSeqno = record.handleCommitSeqno;
    getResponsibleDeptFn();
    // isOverruleFn(); //查询是否显示驳回监督联络员:李东接口
  };
  // 选择处理人
  const receiverChange = (value) => {
    if (value) {
      state.businessForm.transferor = value.split('-')[1];
    }
  };
  const getResponsibleDeptFn = () => {
    getDep().then((res) => {
      if (res.status === 200) {
        state.responsibleDeptData = res.data.rows.children;
      }
    });
  };
  // const isOverruleFn = () => {
  //   isOverrule(state.businessForm.sid).then((res) => {
  //     state.isOverruleFlag = res.data == 1 ? true : false;
  //   });
  // };
  const changRresDep = (val) => {
    state.resDepCodeNew = val;
    if (val != undefined && val.length > 0) {
      state.resDepCodeFlag = false;
      state.resDepCode = val.join(',') || '';
      if (val.length == 1) {
        //找到对应部门中文名称
        const resDep = state.responsibleDeptData.find((item) => {
          return item.code === val[0];
        });
        state.resDep = resDep.text;
      } else if (val.length == 2) {
        const resDepP = state.responsibleDeptData.find((x) => {
          return x.code === val[0];
        });
        const resDepC = resDepP.children.find((y) => {
          return y.code === val[1];
        });
        state.resDep = `${resDepP.text},${resDepC.text}`;
      }
    } else {
      state.resDepCodeFlag = true;
      state.resDep = '';
    }
  };
  const careOf = () => {
    getUsers({ role: 'verification' }).then((r) => {
      if (r.data.success === true) {
        state.transferArr = r.data.data; //返回只有核查组
      } else {
        message.error(r.data.message);
      }
    });
  };
  // 文件预览
  const onPreview = (file) => {
    const url = file.response.data;
    // 文件下载
    downloadJson(
      'p/clue/file/downLoad',
      {
        filePathName: url,
      },
      file.name,
    ).then(() => {});
  };
  // 请求拦截
  const beforeUpload = (file, fileList) => {
    let flag = true;
    const config = { Authentication: '' };
    const FileExt = file.name.replace(/.+\./, '');
    if (
      ['jpg', 'jpeg', 'png', 'zip', 'rar', 'pdf', 'doc', 'docx', 'xlsx', 'xls'].indexOf(
        FileExt.toLowerCase(),
      ) === -1
    ) {
      message.warning(
        '请上传后缀名为.zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png的文件！',
      );
      return Upload.LIST_IGNORE;
    }
    // 有 token就带上
    if (Storage.get(ACCESS_TOKEN_KEY)) {
      config.Authentication = Storage.get(ACCESS_TOKEN_KEY);
    } else {
      // 没有就别上传
      flag = false;
    }
    state.headers = JSON.parse(JSON.stringify(config));
    // 上传三次就禁止上传了
    if (fileList.length + state.fileList.length > 3) {
      file.status = 'beforeUploadReject';
      flag = false;
    }
    return flag;
  };
  // 文件改变调用
  const normFile = (e) => {
    if (Array.isArray(e)) {
      return e;
    }
    if (e.fileList.length <= 3) {
      state.fileList = e.fileList;
    }
    // 如果大于3条，只保留前三条
    if (e.fileList.length > 3) {
      e.fileList = e.fileList.splice(3, 1);
      message.error('最多只能上传3个文件');
    }
    return e && e.fileList;
  };
  onMounted(() => {
    careOf();
  });
  defineExpose({ processHandle });
</script>

<style lang="less" scoped>
  .ant-form-explain {
    color: #f5222d;
    font-size: 14px !important;
  }
  .sub-btn {
    display: flex;
    justify-content: center;
  }
</style>
