<template>
  <div class="page-container">
    <DynamicTable
      ref="baseProduction"
      row-key="id"
      header-title="钢铁基地产量维护表"
      :data-request="loadTableData"
      auto-height
      :columns="columns"
      bordered
      size="small"
      :scroll="{ y: 300 }"
      editable-type="multiple"
    >
    </DynamicTable>
  </div>
</template>

<script lang="ts" setup>
  import dayjs from 'dayjs';
  import { message as $message } from 'ant-design-vue';
  import { baseColumns, type TableColumnItem } from './columns';
  import type { LoadDataParams } from '@/components/core/dynamic-table';
  import { useTable } from '@/components/core/dynamic-table';
  import { useFormModal } from '@/hooks/useModal/useFormModal';
  import { Storage } from '@/utils/Storage';
  import { ACCESS_DICT_ALL_KEY } from '@/enums/cacheEnum';
  import {
    getBaseProductionListPage,
    updateBaseProduction,
  } from '@/api/manualMaintenance/baseProduction';

  defineOptions({
    name: 'ManualMaintenanceBaseProduction',
  });

  const fontColor = '#1890ff';
  const [DynamicTable, dynamicTableInstance] = useTable();

  const loadTableData = async (params: LoadDataParams) => {
    const data = await getBaseProductionListPage({
      ...params,
    });

    if (data?.success && data?.code === 'OK') {
      const codeValue = Storage.get(ACCESS_DICT_ALL_KEY);
      const MANUAL_AREA = codeValue
        ?.find((x) => x.dictCode === 'MANUAL_AREA')
        ?.itemDtoList?.map((x, index) => {
          return {
            label: x[`itemText`],
            value: x[`itemValue`],
            key: index,
          };
        });
      data?.data?.map((x) => {
        x['baseValue'] = MANUAL_AREA?.find((y) => y.value === x.base)?.label;
        if (x['updateDate']) {
          x['updateDateValue'] = dayjs(x['updateDate']).format('YYYY-MM-DD HH:mm:ss');
        }
        return x;
      });
      return {
        list: data.data,
        pagination: { total: data.total, page: params.pageNum, size: params.pageSize },
      };
    } else {
      $message.error(data?.message || '查询失败');
    }
  };

  const handleSave = async (rowKey, record, _originRow, callback) => {
    const { success, code, message } = await updateBaseProduction({
      id: rowKey,
      output: record.output,
    });
    if (success && code === 'OK') {
      $message.success('保存产量成功');
      callback();
    } else {
      $message.error(message || '保存产量失败');
    }
  };

  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 160,
      dataIndex: 'ACTION',
      hideInSearch: true,
      align: 'center',
      fixed: 'right',
      actions: ({ record }, action) => {
        const { startEditable, cancelEditable, isEditable, getEditFormModel } = action;
        return isEditable(record.id)
          ? [
              {
                label: '保存',
                auth: 'baseProduction:save',
                actionType: 'icon',
                icon: 'SaveOutlined',
                style: `color:${fontColor}`,
                onClick: async () => {
                  handleSave(
                    record.id,
                    getEditFormModel(record.id),
                    getEditFormModel(record.id),
                    () => {
                      record.output = getEditFormModel(record.id).output;
                      cancelEditable(record.id);
                      dynamicTableInstance?.reload();
                    },
                  );
                },
              },
              {
                label: '取消',
                auth: 'baseProduction:cancel',
                actionType: 'icon',
                icon: 'RedoOutlined',
                style: `color:${fontColor}`,
                onClick: () => {
                  cancelEditable(record.id);
                },
              },
            ]
          : [
              {
                label: '编辑',
                auth: 'baseProduction:update',
                actionType: 'icon',
                icon: 'EditOutlined',
                style: `color:${fontColor}`,
                onClick: () => {
                  startEditable(record.id, record);
                },
              },
            ];
      },
    },
  ];
</script>

<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
  /deep/.ant-input-number {
    width: 110px;
  }

  /deep/.ant-form-item-label {
    width: 170px !important;
  }

  /deep/input[id*='form_item'] {
    width: 250px !important;
  }
  /deep/.ant-form-item-control {
    width: 250px !important;
  }
  /deep/.ant-form-item-control-input {
    width: 250px !important;
  }
  /deep/.ant-picker {
    width: 250px !important;
  }
  /deep/.button-form {
    width: 100% !important;
    .ant-form-item-control-input {
      width: 100% !important;
    }
  }
</style>
