<template>
  <div class="page-container">
    <DynamicTable
      header-title="值集管理"
      :data-request="loadTableData"
      auto-height
      :columns="columns"
      :scroll="{ x: 2000, y: 300 }"
      :row-selection="rowSelection"
    >
      <template v-if="isCheckRows" #title>
        <Alert class="w-full" type="info" show-icon>
          <template #message>
            已选 {{ isCheckRows }} 项
            <a-button type="link" @click="rowSelection.selectedRowKeys = []">取消选择</a-button>
          </template>
        </Alert>
      </template>
      <template #toolbar>
        <a-button type="primary" :disabled="!$auth('dict:add')" @click="openDictModal({})">
          <PlusOutlined /> 新增
        </a-button>
        <a-button
          type="danger"
          :disabled="!isCheckRows || !$auth('dict:delete')"
          @click="delRowConfirm(rowSelection.selectedRowKeys)"
        >
          <DeleteOutlined /> 删除
        </a-button>
      </template>
    </DynamicTable>
  </div>
</template>

<script setup lang="tsx">
  import { ref, computed } from 'vue';
  import { PlusOutlined, DeleteOutlined, ExclamationCircleOutlined } from '@ant-design/icons-vue';
  import { Modal, Alert, message } from 'ant-design-vue';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import { dictSchemas } from './formSchemas';
  import type { LoadDataParams } from '@/components/core/dynamic-table';
  import { useTable } from '@/components/core/dynamic-table';
  import { getDictList, createDict, updateDict, deleteDict } from '@/api/system/dict';
  import { useFormModal } from '@/hooks/useModal/index';
  defineOptions({
    name: 'SystemDict',
  });

  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    rowKey: 'dictId',
    bordered: true,
  });
  const [showModal] = useFormModal();

  const rowSelection = ref({
    selectedRowKeys: [] as number[],
    onChange: (selectedRowKeys: number[], selectedRows: TableListItem[]) => {
      console.log(`selectedRowKeys: ${selectedRowKeys}`, 'selectedRows: ', selectedRows);
      rowSelection.value.selectedRowKeys = selectedRowKeys;
    },
  });

  // 是否勾选了表格行
  const isCheckRows = computed(() => rowSelection.value.selectedRowKeys.length);

  const openDictModal = async (record: Partial<TableListItem> = {}) => {
    const [formRef] = await showModal<any>({
      modalProps: {
        title: `${record.dictId ? '编辑' : '新增'}值集`,
        width: 850,
        bodyStyle: { 'min-height': '380px' },
        onFinish: async (values) => {
          values.dictId = record.dictId;

          const itemsRef = formRef?.compRefMap.get('itemList')!;
          if (itemsRef.getValues().length == 0) {
            message.error(`请添加值集项！`);
            throw Error(`请添加值集项！`);
          } else {
            itemsRef.getValues().forEach((item) => {
              if (
                (item.itemText ?? '') == '' ||
                (item.itemValue ?? '') == '' ||
                (item.sortOrder ?? '') == ''
              ) {
                message.error(`值集项的名称，值，顺序号均不能为空！`);
                throw Error(`值集项的名称，值，顺序号均不能为空！`);
              }
            });
          }
          const params = {
            ...values,
            itemList: [...itemsRef.getValues()],
          };
          await (record.dictId ? updateDict : createDict)(params);
          dynamicTableInstance?.reload();
        },
      },
      formProps: {
        labelWidth: 100,
        schemas: dictSchemas,
      },
    });

    //  获取这个值集下的详细数据
    if (record.dictId) {
      formRef?.updateSchema([
        {
          field: 'itemList',
          componentProps: {
            data: record.itemDtoList,
          },
        },
      ]);
    }

    formRef?.setFieldsValue(record);
  };

  const delRowConfirm = async (dictId) => {
    if (Array.isArray(dictId)) {
      Modal.confirm({
        title: '确定要删除所选的值集吗?',
        icon: <ExclamationCircleOutlined />,
        centered: true,
        onOk: async () => {
          await deleteDict(dictId).finally(dynamicTableInstance?.reload);
        },
      });
    } else {
      await deleteDict([dictId]).finally(dynamicTableInstance?.reload);
    }
  };

  const loadTableData = async (params: LoadDataParams) => {
    console.log(params);
    const data = await getDictList({
      ...params,
    });
    rowSelection.value.selectedRowKeys = [];

    return {
      list: data.data,
      pagination: { total: data.total, page: params.pageNum, size: params.pageSize },
    };
  };

  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 60,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => [
        {
          label: '编辑',
          auth: {
            perm: 'dict:update',
            effect: 'disable',
          },
          onClick: () => openDictModal(record),
        },
        {
          label: '删除',
          auth: 'dict:delete',
          popConfirm: {
            title: '你确定要删除吗？',
            onConfirm: () => delRowConfirm(record.dictId),
          },
        },
      ],
    },
  ];
</script>
<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
</style>
