<template>
  <a-modal
    v-model:visible="visible"
    :title="attrs.title ?? '提示'"
    :body-style="{ padding: '8px 16px', 'max-height': '450px', overflow: 'auto' }"
    width="700px"
    :mask-closable="false"
    destroy-on-close
    @ok="handleOk"
    @cancel="handleCancel"
  >
    <template #footer>
      <div v-if="attrs.edit">
        <a-button key="cancel" @click="handleCancel">取消</a-button>
        <a-button key="submit" type="primary" @click="handleOk">保存</a-button>
      </div>
    </template>
    <a-form
      ref="formRef"
      :model="formState"
      name="basic"
      :label-col="{ span: 4 }"
      :wrapper-col="{ span: 20 }"
      autocomplete="off"
    >
      <a-form-item label="数据表" name="dataName"> {{ rowRuleData.tableCname }} </a-form-item>
      <a-form-item
        label="规则描述"
        name="ruleDescription"
        :rules="[
          { required: true, message: '规则描述不能为空!' },
          { max: 200, message: '最多输入200字符!' },
        ]"
      >
        <a-input
          v-model:value="formState.ruleDescription"
          :disabled="!attrs.edit"
          placeholder="请输入规则描述"
        />
      </a-form-item>
      <a-form-item
        label="可见字段"
        name="visibleField"
        :rules="[{ required: true, message: '可见字段不能为空!' }]"
      >
        <a-select
          v-model:value="formState.visibleField"
          :disabled="!attrs.edit"
          mode="multiple"
          style="width: 100%"
          placeholder="请选择可见字段"
          :filter-option="filterOption"
          :allow-clear="true"
          :options="options"
          @change="handleChange"
        >
          <template #dropdownRender="{ menuNode: menu }">
            <v-nodes :vnodes="menu" />
            <a-divider style="margin: 4px 0" />
            <div style="padding: 4px 8px; cursor: pointer" @mousedown="(e) => e.preventDefault()">
              <a-button type="link" @click="selectAllFields">全选</a-button>
              <a-button type="link" @click="reverSeclearFields">反选</a-button>
            </div>
          </template>
        </a-select>
      </a-form-item>
      <a-form-item label="数据规则" name="dataName">
        <FormList ref="dataRule" :filters="filterData" :options="options" v-bind="attrs"></FormList>
      </a-form-item>
    </a-form>
  </a-modal>
</template>

<script setup lang="ts">
  import { ref, useAttrs, reactive, watch } from 'vue';
  import { type SelectProps, type FormInstance, message } from 'ant-design-vue';
  import FormList from './FormList.vue';
  import { configRule, getRuleDetail, getDatasetItemList } from '@/api/rule';
  /** props只接收行数据rowRuleData，弹框显示属性isShow
   * 其他属性通过attrs接收，type-0-新增,1-修改,2-复制
   * edit，是否可编辑
   */

  const props = defineProps({
    rowRuleData: {
      type: Object,
      default: () => {
        return {
          tableCname: '数据表',
        };
      },
    },
    isShow: { type: Boolean, default: false },
  });
  const emits = defineEmits(['cancelRuleModal']);
  const attrs = useAttrs();
  const dataRule = ref();
  const formRef = ref<FormInstance>();
  interface FormState {
    ruleDescription: string;
    visibleField: Array<any>;
  }
  const formState = reactive<FormState>({
    ruleDescription: '',
    visibleField: [],
  });
  const visible = ref<boolean>(false);
  //校验表单必填，保存数据规则
  const handleOk = () => {
    formRef.value
      ?.validate()
      .then(() => {
        const { datatableId, id } = props.rowRuleData;
        const rulesData = dataRule.value.dynamicValidateForm.rules;
        const formParams = formState.visibleField.map((item: any) => {
          return {
            id: item?.value,
            type: item?.type,
            columnCname: item?.label,
            columnName: item?.columnName,
          };
        });
        const params = {
          datatableId,
          id,
          filters: [...rulesData],
          ruleDescription: formState.ruleDescription,
          visibleField: formParams,
          operate: attrs.type,
        };
        saveData(params);
      })
      .catch((error) => {
        console.log('error', error);
      });
  };
  const saveData = async (params) => {
    const data = await configRule(params);
    if (data.success) {
      message.success(`${data.message}`);
      handleCancel();
    } else {
      message.error(`${data.message}`);
    }
  };
  // 渲染数据
  const filterData = ref();
  const renderData = (data) => {
    const { ruleDescription, visibleField, filters } = data ? data : props.rowRuleData;
    formState.ruleDescription = ruleDescription;
    const _visibleField = JSON.parse(visibleField).map((item) => {
      return {
        value: item?.id,
        label: item?.columnCname || item?.columnName,
        columnName: item.columnName,
        type: item?.type,
      };
    });
    formState.visibleField = _visibleField;
    filterData.value = filters;
  };

  const handleCancel = () => {
    visible.value = false;
    emits('cancelRuleModal', false);
  };
  const handleChange = (_value: string, option) => {
    formState.visibleField = option;
  };
  const options = ref<SelectProps['options']>([]);
  //默认查询数据集字段
  const querySetItem = () => {
    const { datatableId } = props.rowRuleData;
    getDatasetItemList(datatableId).then((r) => {
      const data = r.data?.columnsList;
      const optionsList = data.map((it) => {
        return {
          value: it.id,
          label: it.columnCname || it.columnName,
          columnName: it.columnName,
          type: it.type,
          columnType: it.newType,
        };
      });
      options.value = optionsList;
    });
  };
  //查看规则
  const getRule = (filtersId) => {
    getRuleDetail(filtersId).then((r) => {
      const data = r.data;
      renderData(data);
    });
  };
  const filterOption = (input: string, option: any) => {
    return option.label.toLowerCase().indexOf(input.toLowerCase()) >= 0;
  };

  const VNodes = (_, { attrs }) => {
    return attrs.vnodes;
  };
  // 全选
  const selectAllFields = () => {
    formState.visibleField = options.value;
  };
  // 反选，过滤已选中的数据
  const reverSeclearFields = () => {
    const checked = formState.visibleField;
    const arr = options.value.filter((item) => !checked.some((ele) => ele.value === item.value));
    if (arr) formState.visibleField = arr;
  };
  watch(
    () => props.isShow,
    (nV) => {
      visible.value = nV;
      if (nV) {
        //如果是查看，无需查询字段
        if (attrs.edit) {
          querySetItem();
        }
        //如果是新增，无需查询规则数据
        if (attrs.type !== '0') {
          getRule(props.rowRuleData.filtersId ?? props.rowRuleData.id);
        }
      } else {
        //关闭弹框时手动清空form表单
        filterData.value = null;
        formState.ruleDescription = '';
        formState.visibleField = [];
      }
    },
  );
</script>

<style lang="less" scoped></style>
