<template>
  <div class="chartsView">
    <Drilling :config="state.data.config"></Drilling>
    <DbView
      ref="dbViewRef"
      :config="state.data.config"
      :db-data="state.dbData"
      :chart-config="state.chartConfig"
      @query="queryChatrData"
    ></DbView>
    <a-empty v-if="state.status == 0" description="数据有误" />
    <a-spin v-else-if="state.status == 1" />
    <Chart
      v-else-if="state.status == 2"
      ref="chartDom"
      :chart-type="state.data.chartType"
      :title="state.data.title"
      :data="state.data.data"
      :page-data="state.data.pageData"
      :config="state.data.config"
      class="Chart"
      @dblclick-link="dblclickLink"
      @chart-click="chartClick"
      @db-check="dbCheck"
    >
    </Chart>
    <Paging
      v-if="state.page.show"
      :page="state.page"
      :chart-config="state.chartConfig"
      @query="queryChatrData"
    ></Paging>
    <slot name="btn"></slot>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, reactive, ref, watch, onBeforeUnmount } from 'vue';
  import { useRoute } from 'vue-router';
  import { cloneDeep, debounce } from 'lodash-es';
  import { message as $message } from 'ant-design-vue';
  import DbView from './DbView.vue';
  import Drilling from './Drilling.vue';
  import Paging from './Paging.vue';
  import { judgeNeedReset } from './resetLinkage';
  import Chart from '@/views/userAnalyze/components/index.vue';
  import { dashboardWidget, getAggregateData } from '@/api/userAnalyze/kanbanConfig'; // api 接口
  import { kanbanConfigStore } from '@/store/modules/kanbanConfig';
  import Pubs from '@/utils/pubs.js';
  const store = kanbanConfigStore();
  const route = useRoute();
  // 图表查看窗口
  defineOptions({
    name: 'chartsView',
  });
  const props = defineProps({
    widgetId: { type: String },
    relations: { type: Object },
  });
  const state = reactive({
    status: 1, // 0失败 1 进行中 2 成功
    data: {
      title: '',
      data: {},
      config: {},
      chartType: '',
      pageData: {},
    },
    dbData: {},
    chartConfig: {},
    page: {
      pageNum: 1,
      pageSize: 10,
      total: 0,
      pageCount: 1,
      show: true,
    },
    queryParams: {},
  });
  const chartDom = ref();
  onMounted(() => {
    querydata(true);
    Pubs.subscribe('resetLinkage', function (msg, item) {
      // 判断是否需要还原数据
      if (!judgeNeedReset(item, state?.queryParams?.data)) return;
      queryChatrData(state?.queryParams?.data);
    });
  });

  onBeforeUnmount(() => {
    Pubs.unsubscribe('resetLinkage');
  });
  const resize = () => {
    chartDom?.value?.resize();
  };
  const setReceiver = (receiver) => {
    chartDom?.value?.setReceiver(receiver);
  };
  const emit = defineEmits(['chartItme', 'chartClick', 'dblclickLink']);
  watch(
    () => props.widgetId,
    () => {
      querydata();
    },
  );
  const querydata = async (first) => {
    state.status = 1;
    const data = await dashboardWidget({ widgetId: props.widgetId }); //获取图表最新配置信息
    if (data.code === 'OK') {
      if (first) state.queryParams = cloneDeep(data);
      queryChatrData(data.data); //拿最新配置信息换取图表数据
      state.chartConfig = data.data;
      emit('chartItme', data.data);
    } else {
      state.status = 0;
    }
  };
  const queryChatrData = (data) => {
    // console.log('匹配参数', data);
    state.status = 1;
    if (!data) {
      state.status = 0;
      return;
    }
    const params = {
      datasetId: data.data.datasetId,
      reload: false,
      chartType: data.chartType,
      config: data.data,
    };
    if (route.query.modelFlag == 'true') {
      // modelFlag代表从模型点击跳转过来的
      const _temp = JSON.parse(route.query.params);
      _temp.forEach((x) => {
        // 循环传过来的键值对
        const y = props.relations.links.find((x) => x.linkType == 'consumer'); // 当前图表的接收字段的集合

        if (y && y != undefined && y.conditions && y.conditions.length > 0) {
          y.conditions.forEach((w) => {
            if (w.linkTarget.targetAlias === x.targetAlias) {
              // 和接收字段进行匹配，如果匹配到就把当前source的column得到-再去filters里面匹配对应的把values值噻进去
              const newFilter = data.data.filters.map((i) => {
                if (i.columnName === w.source.column) {
                  // 找到对应filters的字段名
                  i.values = [x.val];
                }
                return i;
              });
              params.config.filters = newFilter;
            }
          });
        }
      });
    }
    getAggregateData(params)
      .then((res) => {
        // console.log(data, '加载数据了', res, data?.data?.page);
        if (res.code === 'OK') {
          if (!res?.success) {
            state.status = 0;
            return $message.error('数据预览失败：数据为空');
          }
          chartDataConfig(res.data, data);
          state.page = {
            ...state.page,
            pageNum: data?.data?.page?.pageNum,
            pageSize: data?.data?.page?.pageSize,
            total: res.total,
            pageCount: data?.data?.page?.pageNum,
          };
          if (res.total <= 10) state.page.show = false;
          state.status = 2;
        } else {
          state.status = 0;
        }
      })
      .catch(() => {
        state.status = 0;
      });
  };
  const updateChart = debounce((data) => {
    console.log('调用接口多次呢？');

    //更新图表，配置条件查询联动的数据信息
    data.data.config.data.relations = data.data.relations;
    queryChatrData(data.data.config);
  }, 100);
  const chartDataConfig = (data, params) => {
    state.data = {
      title: params.widgetName,
      data,
      config: params.data,
      chartType: params.chartType,
      pageData: params.data.pageData ? JSON.parse(params.data.pageData) : {},
    };
  };
  const dbViewRef = ref();
  const dbCheck = (el, filters) => {
    state.dbData = { el, filters };
    dbViewRef.value.dataPotion(el);
  };
  const chartClick = (el) => {
    emit('chartClick', el);
  };
  const dblclickLink = (el) => {
    emit('dblclickLink', el);
  };
  defineExpose({ resize, setReceiver, updateChart });
</script>

<style lang="less" scoped>
  .chartsView {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    align-items: center;
    justify-content: center;
    position: relative;
    /deep/.ant-empty-description {
      color: #9f9f9f;
    }
    .Chart {
      flex: 1;
    }
  }
</style>
