<template>
  <div class="paging">
    <a-pagination
      :show-total="(total) => `共有${total}条数据 `"
      :total="props.page.total"
      show-size-changer
      size="small"
      :page-size="props.page.pageSize"
      :page-number="props.page.pageNum"
      @change="configPage"
    />
  </div>
</template>

<script setup lang="ts">
  defineOptions({
    name: 'paging',
  });
  const props = defineProps(['page', 'chartConfig']);
  const emit = defineEmits('query');
  const configPage = (pageNum, pageSize) => {
    props.chartConfig.data.page = { pageNum, pageSize };
    emit('query', props.chartConfig);
  };
</script>

<style lang="less" scoped>
  .paging {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
</style>
