<template>
  <div class="initialclass">
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 14 }">
        <div class="heightclass">
          <div class="titleGMV">
            <img src="../../../../styles/platformOver/标题左.png" class="title_img" />
            <span class="title_span">GMV总览</span>
            <img src="../../../../styles/platformOver/标题右.png" class="title_img" />
          </div>
          <div class="devdome">
            <div class="devdome-div1">
              <div class="devdome-div1-div1">
                <SpeedGauge2 :echardata="state.rate" :echarunit="state.e03" />
              </div>
              <div class="devdome-div1-div2">
                <div class="devdome">
                  <div class="devdome-1-div">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_01.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">1643.43</span><b class="circle-text1">亿元</b>
                      <span class="circle-text2">当前</span>
                    </p>
                  </div>
                  <div class="devdome-1-div">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_02.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">3500</span><b class="circle-text1">亿元</b>
                      <span class="circle-text2">当前</span>
                    </p>
                  </div>
                  <div class="devdome-1-div">
                    <p class="circle-icon">
                      <img src="../../../../styles/platformOver/icon_GMV_03.png" class="icon_GMV" />
                    </p>
                    &nbsp;&nbsp;
                    <p>
                      <span class="circle-number">68</span><b class="circle-text1">%</b>
                      <span class="circle-text2">完成率</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="devdome-div">
              <div class="first-title first-height">
                <div>
                  <b class="first-square square-color1"></b>
                  <span class="first-text first-text-color1">集采</span>
                </div>
                <div>
                  <p class="first-title-div2-p">
                    占比<span class="first-title-div2-p-span title-number-color1">70%</span>
                    &nbsp;&nbsp;&nbsp; 当前累计
                    <span class="first-title-div2-p-span title-number-color1">5000</span>万
                  </p>
                </div>
              </div>
              <div class="first-title first-height">
                <div>
                  <b class="first-square square-color3"></b>
                  <span class="first-text first-text-color3">多元</span>
                  <span class="first-text2">当前累计</span>
                </div>
                <div>
                  <p class="first-title-div2-p">
                    占比<span class="first-title-div2-p-span title-number-color3">70%</span>
                    &nbsp;&nbsp;&nbsp; 当前累计
                    <span class="first-title-div2-p-span title-number-color3">5000</span>万
                  </p>
                </div>
              </div>
              <div class="first-title first-height">
                <div>
                  <b class="first-square square-color2"></b>
                  <span class="first-text first-text-color2">社会客户</span>
                  <span class="first-text2">当前累计</span>
                </div>
                <div>
                  <p class="first-title-div2-p">
                    占比<span class="first-title-div2-p-span title-number-color2">70%</span>
                    &nbsp;&nbsp;&nbsp; 当前累计
                    <span class="first-title-div2-p-span title-number-color2">5000</span>万
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 10 }">
        <div class="heightclass">
          <div class="columnar-title"><span>GMV月度趋势图</span></div>
        </div>
      </a-col>
      <a-col :md="{ span: 8 }">
        <div class="heightclass">
          <div class="columnar-title"><span>各部门GMV本年完成情况</span></div>
        </div>
      </a-col>
      <a-col :md="{ span: 8 }">
        <div class="heightclass">
          <div class="columnar-title"><span>GMV集采各部门月度趋势</span></div>
        </div>
      </a-col>
      <a-col :md="{ span: 8 }">
        <div class="heightclass">
          <div class="columnar-title"><span>某部门GMV目标及完成率</span></div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive } from 'vue';
  import { SpeedGauge2 } from '../../echartsAssembly';

  const state = reactive({
    e03: '%',
    rate: '28',
  });
</script>

<style lang="less" scoped>
  @import './css/overstyle.less';

  // 弹性布局
  .devdome {
    display: flex;
    justify-content: space-between;
  }
  .devdome-div {
    margin-top: 20px;
    width: 40%;
    height: 320px;
  }
  .devdome-div1 {
    width: 60%;
    height: 340px;
  }
  .devdome-1-div {
    width: 33%;
    height: 50px;
    display: flex;
    margin-left: 20px;
  }
  .devdome-div1-div1 {
    height: 270px;
  }
  .devdome-div1-div2 {
    height: 50px;
  }
  .first-height {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
</style>
