<template>
  <div class="containers">
    <a-row :gutter="[16, 10]" class="container-row">
      <a-col :md="{ span: 16 }" class="container-col">
        <!-- 标题 -->
        <div class="speed-title">
          <img src="../../../../styles/platformOver/标题右(1).png" alt="图片" />
          <p class="title-text">服务产品营收总览</p>
          <img src="../../../../styles/platformOver/标题右.png" alt="图片" />
        </div>
        <!-- 仪表盘 -->
        <div class="speed-center">
          <div class="speed-left">
            <div class="speed-echar">
              <SpeedGauge2 :echardata="state.rate" :echarunit="state.e03" />
            </div>
            <div class="speed-data">
              <div class="speed-data-item">
                <p class="circle-icon">
                  <img
                    src="../../../../styles/platformOver/icon_GMV_01.png"
                    alt="图片"
                    class="icon_GMV"
                  />
                </p>
                <p>
                  <span class="circle-number">1643.43</span><b class="circle-text1">亿元</b>
                  <span class="circle-text2">当前</span>
                </p>
              </div>
              <div class="speed-data-item">
                <p class="circle-icon">
                  <img
                    src="../../../../styles/platformOver/icon_GMV_02.png"
                    alt="图片"
                    class="icon_GMV"
                  />
                </p>
                <p>
                  <span class="circle-number">1643.43</span><b class="circle-text1">亿元</b>
                  <span class="circle-text2">当前</span>
                </p>
              </div>
            </div>
          </div>
          <div class="speed-right">
            <!-- 易购营收 -->
            <div class="first">
              <div class="first-title">
                <div class="first-title-left">
                  <b class="first-square square-color1"></b>
                  <span class="first-text first-text-color1">易购营收</span>
                  <span class="first-text2"
                    >占比<b class="title-number title-number-color1">70%</b></span
                  >
                </div>
                <div class="first-title-right">
                  <span class="right-text"
                    >当前累计<b class="title-number title-number-color1">5000</b><i>万</i></span
                  >
                  <span class="first-text2">目标<b class="title-number2">1000</b><i>万</i></span>
                </div>
              </div>
              <div class="first-item">
                <a-progress
                  :stroke-color="{
                    '0%': 'rgba(252, 107, 87, 1)',
                    '100%': 'rgba(222, 41, 41, 1)',
                  }"
                  :percent="99.9"
                  class="first-progress"
                >
                  <template #format="percent">
                    <span class="progress-span span-color1">{{ percent }}%</span>
                  </template>
                </a-progress>
                <div class="first-details">
                  <div class="details-item">
                    <div class="details-item-text">
                      <p class="details-width">
                        <caret-right-outlined class="caret-color" />
                        <span class="details-cg"
                          >采购方营收：<b class="details-number">1000</b><i>万</i> <i>占比</i
                          ><b class="details-number caret-color">30%</b></span
                        >
                      </p>
                      <p class="details-width">
                        <caret-right-outlined class="caret-color" />
                        <span class="details-cg"
                          >供应商营收：<b class="details-number">1000</b><i>万</i> <i>占比</i
                          ><b class="details-number caret-color">30%</b></span
                        >
                      </p>
                    </div>
                    <div class="details-item-text">
                      <p class="details-width">
                        <caret-right-outlined class="caret-color2" />
                        <span class="details-cg"
                          >多元营收：<b class="details-number">1000</b><i>万</i> <i>占比</i
                          ><b class="details-number caret-color">30%</b></span
                        >
                      </p>
                      <p class="details-width">
                        <caret-right-outlined class="caret-color2" />
                        <span class="details-cg"
                          >社会客户营收：<b class="details-number">1000</b><i>万</i> <i>占比</i
                          ><b class="details-number caret-color">30%</b></span
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 易销营收 -->
            <div class="first second-spac">
              <div class="first-title">
                <div class="first-title-left">
                  <b class="first-square square-color2"></b>
                  <span class="first-text first-text-color2">易销营收</span>
                  <span class="first-text2"
                    >占比<b class="title-number title-number-color2">70%</b></span
                  >
                </div>
                <div class="first-title-right">
                  <span class="right-text"
                    >当前累计<b class="title-number title-number-color2">5000</b><i>万</i></span
                  >
                  <span class="first-text2">目标<b class="title-number2">1000</b><i>万</i></span>
                </div>
              </div>
              <div class="first-item">
                <a-progress
                  :stroke-color="{
                    '0%': 'rgba(90, 162, 255, 1)',
                    '100%': 'rgba(69, 115, 230, 1)',
                  }"
                  :percent="99.9"
                  class="first-progress"
                >
                  <template #format="percent">
                    <span class="progress-span span-color2">{{ percent }}%</span>
                  </template>
                </a-progress>
              </div>
            </div>
            <!-- 零碳营收 -->
            <div class="first">
              <div class="first-title">
                <div class="first-title-left">
                  <b class="first-square square-color3"></b>
                  <span class="first-text first-text-color3">零碳营收</span>
                  <span class="first-text2"
                    >占比<b class="title-number title-number-color3">70%</b></span
                  >
                </div>
                <div class="first-title-right">
                  <span class="right-text"
                    >当前累计<b class="title-number title-number-color3">5000</b><i>万</i></span
                  >
                  <span class="first-text2">目标<b class="title-number2">1000</b><i>万</i></span>
                </div>
              </div>
              <div class="first-item">
                <a-progress
                  :stroke-color="{
                    '0%': 'rgba(96, 199, 88, 1)',
                    '100%': 'rgba(36, 171, 85, 1)',
                  }"
                  :percent="99.9"
                  class="first-progress"
                >
                  <template #format="percent">
                    <span class="progress-span span-color3">{{ percent }}%</span>
                  </template>
                </a-progress>
              </div>
            </div>
          </div>
        </div>
      </a-col>
      <!-- 图表 -->
      <a-col :md="{ span: 8 }" class="container-col">
        <div class="columnar-title"><span>总营收月度趋势</span></div>
      </a-col>
    </a-row>
    <a-row :gutter="[16, 10]">
      <a-col :md="{ span: 8 }" class="container-col">
        <div class="columnar-title"><span>总营收月度趋势</span></div>
        <div class="columnar-center"></div>
      </a-col>
      <a-col :md="{ span: 8 }" class="container-col">
        <div class="columnar-title"><span>总营收月度趋势</span></div>
        <div class="columnar-center"></div>
      </a-col>
      <a-col :md="{ span: 8 }" class="container-col">
        <div class="columnar-title"><span>总营收月度趋势</span></div>
        <div class="columnar-center"></div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive } from 'vue';
  import { SpeedGauge2 } from '../../echartsAssembly';
  // import { queryAggregate } from '@/api/strategyTracking';
  const state = reactive({
    e02: '78',
    e03: '%',
    rate: '28',
  });
  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    depData: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  // 仪表盘接口 2023062110272731
  // const serviceChart = () => {};
</script>

<style lang="less" scoped>
  @import './css/overstyle.less';
</style>
