<template>
  <div class="overTop">
    <a-row class="over-title">
      <a-col :md="{ span: 7, offset: 9 }">
        <img src="../../../styles/platformOver/标题.png" alt="图片" class="centrtitle" />
      </a-col>
      <a-col :md="{ span: 2, offset: 4 }" class="paddint_col">
        <a-select
          v-model:value="depData"
          size="middle"
          show-search
          placeholder="请选择"
          class="selectStyle"
          :allow-clear="true"
          @change="depChange"
        >
          <a-select-option
            v-for="(item, index) in state.depOptions"
            :key="index"
            :value="item"
            :label="item"
          >
            {{ item }}
          </a-select-option>
        </a-select>
      </a-col>
      <a-col :md="{ span: 2 }" class="paddint_col">
        <a-date-picker
          v-model:value="monthvalue"
          size="middle"
          :format="monthFormat"
          :disabled-date="disabledDate"
          picker="month"
          @change="onChange"
        />
      </a-col>
    </a-row>
    <OverTab :year-month="conditionalmonth" :dep-data="depData" />
  </div>
</template>

<script setup lang="ts">
  import { ref, reactive, onMounted } from 'vue';
  import dayjs, { Dayjs } from 'dayjs';
  import OverTab from './components/OverTab.vue';

  defineOptions({
    name: 'OverTop',
    inheritAttrs: false,
  });

  const depData = ref('');
  const state = reactive({
    // depData: '东北平台产品销售部',
    depOptions: [
      '东北平台产品销售部',
      '华东大区',
      '华中大区',
      '华北大区(唐山站)',
      '华南大区',
      '市场营销部',
      '平台运营中心',
      '欧冶采购',
      '润益科技',
      '西北大区',
      '西南大区',
      '销售一部',
      '销售二部',
      '销售支持部',
      '资材品类中心',
      '备件品类中心',
      '设备品类中心',
    ],
  });
  // 时间选择框
  const monthFormat = 'YYYYMM';
  const disabledDate = (current: Dayjs) => {
    return current && current > dayjs().endOf('day');
  };
  const begindate = new Date(new Date() - 1000 * 60 * 60 * 24);
  const year = ref(begindate.getFullYear());
  const month = ref(begindate.getMonth() + 1);
  if (month.value < 10) {
    month.value = `0${month.value}`;
  }
  const yearmonth = `${year.value}${month.value}`.toString();
  const monthvalue = ref<Dayjs>(dayjs(yearmonth, monthFormat));

  const conditionalmonth = ref('');
  function onChange(value, dateString) {
    conditionalmonth.value = dateString;
  }
  const depChange = (val) => {
    // state.depData = val;
    depData.value = val;
  };

  onMounted(() => {
    conditionalmonth.value = yearmonth;
    depData.value = '华南大区';
  });
  defineExpose({
    depData,
    conditionalmonth,
    onChange,
    depChange,
  });
</script>

<style lang="less" scoped>
  .overTop {
    width: 100%;
    background: #fbfcff;
    position: absolute;
    .over-title {
      width: 100%;
      height: 96px;
      background-image: url(../../../styles/platformOver/bg_title_01.png);
      background-size: cover;
      .centrtitle {
        height: 30px;
        padding-left: 13%;
        margin: 30px 0px;
      }
      .selectStyle {
        height: 40px;
        width: 150px;
      }
      .pickerstyle {
        position: relative;
        left: 1160px;
        top: -78px;
      }
      .paddint_col {
        padding: 10px 0px 0px 0px;
      }
      /deep/.ant-select-selection-item {
        font-family: PangMenZhengDao;
        color: #754800;
      }
      /deep/.ant-picker-input > input {
        font-family: PangMenZhengDao;
        color: #754800;
      }
    }
  }
</style>
