//  全局样式
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  outline: none;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.flex-between{
  display: flex;
  justify-content: space-between;
}
// color集合
@red-1:#FB6A56FF;
@red-2:#FC6B57FF;
@red-3:#EF6E4DFF;
@red-4:rgba(252, 107, 87, 0.2);
@red-5:rgba(252, 107, 87, 1);
@red-6:rgba(222, 41, 41, 1);
@red-7:#8b0f0fff;
@red-8:#591a1a;
@brown-1:#754800FF;
@brown-2:#9F6060FF;
@blue-1:#5AA2FFFF;
@blue-2:rgba(90, 162, 255, 0.2);
@blue-3:rgba(90, 162, 255, 1);
@blue-4:rgba(69, 115, 230, 1);
@green-1:#63C3A5FF;
@green-2:#57c358ff;
@green-3:rgba(87, 195, 88, 0.2);
@green-4:rgba(96, 199, 88, 1);
@green-5:rgba(36, 171, 85, 1);
@golden-1:rgba(251, 202, 0, 0.2);
@golden-2:rgba(254, 225, 35, 1);
@golden-3:rgba(255, 191, 60, 1);
@orange-1:rgba(255, 154, 0, 1);
@orange-2:rgba(255, 116, 0, 1);

.span-color1{
  color:@red-2 ;
}
.span-color2{
  color:@blue-1 ;
}
.span-color3{
  color:@green-2;
}
.square-color1 {
  background: @red-1;
}
.square-color2 {
  background: @blue-1;
}
.square-color3 {
  background: @green-1;
}
.first-text-color1 {
  background: @red-4;
}
.first-text-color2 {
  background: @blue-2;
}
.first-text-color3 {
  background: @green-3;
}
      
.title-number-color1 {
  color: @red-2;
}
.title-number-color2 {
  color: @blue-1;
}
.title-number-color3 {
  color: @green-2;
}
// 清除标签原本属性
i {
  font-style: normal;
  font-weight: normal;
}
//b {
//  font-weight: normal;
//}

// 全部颜色


// 初始化页面
.initialclass {
  width: 100%;
  margin-top: 20px;
}

// 区块颜色
.heightclass {
  height: 380px;
  background: linear-gradient(180deg, #ffffff 0%, #f8faff 100%);
  box-shadow: 0px 6px 16px 0px rgba(207, 136, 13, 0.14);
  border-radius: 8px;
}

// 标题
.columnar-title {
  width: 100%;
  height: 50px;
  font-size: 24px;
  font-family: PangMenZhengDao;
  color: #591a1a;
  line-height: 27px;
  background-image: url(../../../../../styles/platformOver/bg_title_03.png);
  background-size: cover;
  span {
    display: inline-block;
    margin: 15px 0px 0px 20px;
  }
}

// 图片小标题
.titleGMV {
  line-height: 30px;
  font-size: 24px;
  font-family: PangMenZhengDao;
  color: #591a1a;
  text-align: center;
  margin: auto;
  .title_span {
    vertical-align: middle;
  }
  .title_img {
    display: inline;
    vertical-align: middle;
  }
}

.circle-icon {
  width: 50px;
  height: 50px;
  text-align: center;
  background: rgba(251, 202, 0, 0.2);
  border-radius: 50%;
  .icon_GMV {
    position: relative;
    top: 20%;
    left: 20%;
  }
}
.circle-number {
  width: 85px;
  height: 28px;
  font-size: 28px;
  font-family: Bahnschrift_SemiBold;
  color: #754800;
  line-height: 35px;
}
.circle-text1 {
  font-size: 16px;
}
.circle-text2 {
  display: block;
  font-size: 18px;
}
.first-square {
  display: inline-block;
  width: 12px;
  height: 12px;
}
.square-color1 {
  background: #fb6a56;
}
.square-color2 {
  background: #5aa2ffff;
}
.square-color3 {
  background: #63c3a5ff;
}
.first-text {
  display: inline-block;
  text-align: center;
  width: 98px;
  height: 33px;
  border-radius: 16px;
  line-height: 33px;
  font-size: 18px;
  font-weight: 500;
  margin: 0px 10px 0px 10px;
}
.spacing {
  display: inline-block;
  margin: 0px 5px 0px 5px;
}
.title-number {
  width: 36px;
  height: 26px;
  font-size: 26px;
  line-height: 29px;
  margin: 0px 5px 0px 5px;
}
.title-number2 {
  width: 41px;
  height: 26px;
  font-size: 26px;
  font-family: Bahnschrift_SemiBold;
  color: #754800;
  line-height: 29px;
  margin: 0px 5px 0px 5px;
}
.first-title-right {
  .right-text {
    width: 56px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    margin-right: 5px;
  }
}

.first-title {
  display: flex;
  justify-content: space-between;
  font-family: PingFangSC-Medium, PingFang SC;
  color: #754800;
}
.first-text-color1 {
  background: rgba(252, 107, 87, 0.2);
}
.first-text-color2 {
  background: rgba(90, 162, 255, 0.2);
}
.first-text-color3 {
  background: rgba(87, 195, 88, 0.2);
}
.title-number-color1 {
  color: #fc6b57;
}
.title-number-color2 {
  color: #5aa2ffff;
}
.title-number-color3 {
  color: #57c358ff;
}
.first-text2 {
  font-size: 18px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #754800;
  line-height: 25px;
}
.first-title-div2-p{
  height: 20px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #754800;
  line-height: 20px;
  margin: 20px 0px 0px 30px;
}
.first-title-div2-p-span{
  height: 26px;
  font-size: 26px;
  font-family: Bahnschrift_SemiBold;
}
// 服务产品营收总览

.containers {
  background: #fbfcff;
  width: 100%;
  margin-top: 20px;
  i {
    font-style: normal;
    font-weight: normal;
  }
  .second-spac {
    margin: 30px 0px 30px 0px;
  }
  .container-col {
    background: linear-gradient(180deg, #ffffff 0%, #f8faff 100%);
    box-shadow: 0px 6px 16px 0px rgba(207, 136, 13, 0.14);
    border-radius: 8px;
    // border: 1px solid #ccc;
  }

  .container-row {
    width: 100%;
    margin-bottom: 20px;
  }
  .speed-title {
    display: flex;
    margin: 2% 0 2% 35%;
    .title-text {
      font-size: 24px;
      font-family: PangMenZhengDao;
      color:@brown-1;
      line-height: 27px;
    }
  }
  .speed-center {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    .speed-echar {
      height: 290px;
    }
    .speed-left {
      width: 35%;
    }
    .speed-data {
      display: flex;
      justify-content: space-between;
      margin-top: -25px;
      .speed-data-item {
        display: flex;
      }
    }
  }
  .speed-right {
    width: 55%;
    .first-progress {
      width: 95%;
      display: flex;
      margin: 10px 0px 10px 0px;
      .progress-span{
        font-size: 24px
      }
      
    }
    .first-item {
      margin-left: 25px;
    }
    .first-details {
      .details-item {
        .details-item-text {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
          .caret-color {
            color: @red-2;
          }
          .caret-color2 {
            color: @red-7;
          }
          .details-cg {
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            color: @brown-2;
            line-height: 20px;
          }
          .details-number {
            font-size: 22px;
            font-family: Bahnschrift;
            line-height: 24px;
          }
          .details-width {
            width: 45%;
          }
        }
      }
    }
  }
  .columnar-title {
    width: 100%;
    height: 50px;
    font-size: 24px;
    font-family: PangMenZhengDao;
    color: @red-8;
    line-height: 27px;
    background-image: url(../../../../../styles/platformOver/bg_title_03.png);
    background-size: cover;
    span {
      display: inline-block;
      margin: 15px 0px 0px 20px;
    }
  }
  .columnar-center {
    height: 350px;
  }
}

