<template>
  <div class="box">
    <!-- <div class="menus">
      <Menus> </Menus>
    </div> -->
  </div>
</template>

<script lang="ts" setup>
  import { onMounted } from 'vue';
  // import { Menus } from './components';

  defineOptions({
    name: 'DashboardWelcome',
  });

  onMounted(() => {});
</script>

<style lang="less" scoped></style>
