<template>
  <div ref="barChart" class="chart"></div>
</template>

<script setup lang="ts">
  import { getCurrentInstance, onBeforeUnmount, onMounted, ref, watchEffect } from 'vue';
  import obei from '@/assets/echarts-theme/obei.json';

  defineOptions({
    name: 'DashboardGMV',
    inheritAttrs: false,
  });
  const props = defineProps({
    echardata: {
      type: String,
      default() {
        return '';
      },
    },
    echarunit: {
      type: String,
      default() {
        return '';
      },
    },
  });

  const { proxy } = getCurrentInstance();
  let charts = null;
  const barChart = ref<HTMLElement>();

  const setOption = () => {
    const option = getOption();
    charts && charts.setOption(option, true);
  };

  const getOption = () => {
    return {
      series: [
        {
          type: 'gauge',
          center: ['50%', '60%'],
          startAngle: 200,
          endAngle: -20,
          min: 0,
          max: 100,
          splitNumber: 5,
          itemStyle: {
            color: '#FFAB91',
          },
          progress: {
            show: true,
            width: 10,
          },
          pointer: {
            show: false,
          },
          axisLine: {
            lineStyle: {
              width: 10,
            },
          },
          axisTick: {
            distance: -15,
            splitNumber: 10,
            lineStyle: {
              width: 2,
              color: '#999',
            },
          },
          splitLine: {
            distance: -10,
            length: 10,
          },
          axisLabel: {
            distance: -30,
            color: '#999',
            fontSize: 12,
          },
          anchor: {
            show: false,
          },
          title: {
            show: false,
          },
          detail: {
            valueAnimation: true,
            width: '90%',
            lineHeight: 36,
            borderRadius: 8,
            offsetCenter: [0, '-15%'],
            fontSize: 18,
            formatter: '{value} °C',
            color: 'inherit',
          },
          data: [
            {
              value: 20,
            },
          ],
        },
        {
          type: 'gauge',
          center: ['50%', '60%'],
          startAngle: 200,
          endAngle: -20,
          min: 0,
          max: 60,
          itemStyle: {
            color: '#FD7347',
          },
          progress: {
            show: true,
            width: 8,
          },
          pointer: {
            show: false,
          },
          axisLine: {
            show: false,
          },
          axisTick: {
            show: false,
          },
          splitLine: {
            show: false,
          },
          axisLabel: {
            show: false,
          },
          detail: {
            show: false,
          },
          data: [
            {
              value: 20,
            },
          ],
        },
      ],
    };
  };

  onMounted(() => {
    proxy.$echarts.registerTheme('obei', obei);
    charts = proxy.$echarts.init(barChart.value!);
    charts.clear();
    setOption();
    window.addEventListener('resize', () => {
      charts && charts.resize();
    });
  });

  onBeforeUnmount(() => {
    charts && charts.dispose();
    charts = null;
  });

  const dataprice = ref('');
  const unitprice = ref('');

  watchEffect(() => {
    dataprice.value = props.echardata;
    unitprice.value = props.echarunit;

    setOption();
  });
</script>

<style>
  .chart {
    width: 100%;
    height: 100%;
  }
</style>
