<template>
  <div ref="barChart" class="chart"></div>
</template>

<script setup lang="ts">
  import { getCurrentInstance, onBeforeUnmount, onMounted, ref, watchEffect } from 'vue';
  import obei from '@/assets/echarts-theme/obei.json';

  defineOptions({
    name: 'polar',
    inheritAttrs: false,
  });

  const props = defineProps({
    echardata: {
      type: Array,
      default() {
        return [];
      },
    },
    echarcolor: {
      type: Array,
      default() {
        return [];
      },
    },
    echarunit: {
      type: String,
      default() {
        return '';
      },
    },
  });

  const { proxy } = getCurrentInstance();
  let charts = null;
  const barChart = ref<HTMLElement>();

  const setOption = () => {
    const option = getOption();
    charts && charts.setOption(option, true);
  };

  const getOption = () => {
    return {
      angleAxis: {
        type: 'value',
        min: 0,
        max: 100,
        axisLine: {
          show: false,
        },
        axisTick: {
          show: false,
        },
        splitLine: {
          show: false,
        },
        axisLabel: {
          show: false,
        },
      },
      radiusAxis: {
        type: 'category',
        data: dataprice.value || ['易购', '商城', '零碳', '易销', '云库'],
        z: 100,
        axisLine: {
          show: false,
        },
        axisTick: {
          show: false,
        },
        axisLabel: {
          show: false,
        },
      },
      polar: {
        center: ['40%', '45%'],
      },
      tooltip: {
        show: true,
      },
      series: [
        {
          type: 'bar',
          barWidth: '30%',
          data: [12],
          coordinateSystem: 'polar',
          name: dataprice.value[0] || '易购',
          stack: 'a',
          roundCap: true,
          itemStyle: {
            color: colorprice.value[0] || 'rgba(251, 106, 86, 1)',
            barBorderRadius: 5,
          },
          showBackground: true,
          backgroundStyle: {
            color: colorprice.value[1] || 'rgba(234, 234, 234, 1)',
            barBorderRadius: 50,
          },
        },
        {
          type: 'bar',
          data: [0, 25, 0, 0, 0],
          coordinateSystem: 'polar',
          name: dataprice.value[1] || '商城',
          stack: 'a',
          roundCap: true,
          itemStyle: {
            color: colorprice.value[2] || 'rgba(251, 202, 0, 1)',
          },
          showBackground: true,
          backgroundStyle: {
            color: 'rgba(234, 234, 234, 1)',
          },
        },
        {
          type: 'bar',
          data: [0, 0, 40, 0, 0],
          coordinateSystem: 'polar',
          name: dataprice.value[2] || '零碳',
          stack: 'a',
          roundCap: true,
          itemStyle: {
            color: colorprice.value[3] || 'rgba(87, 195, 88, 1)',
            barBorderRadius: 5,
          },
          showBackground: true,
          backgroundStyle: {
            color: 'rgba(234, 234, 234, 1)',
          },
        },
        {
          type: 'bar',
          data: [0, 0, 0, 60, 0],
          coordinateSystem: 'polar',
          name: dataprice.value[3] || '易销',
          stack: 'a',
          roundCap: true,
          itemStyle: {
            color: colorprice.value[4] || 'rgba(90, 162, 255, 1)',
            barBorderRadius: 5,
          },
          showBackground: true,
          backgroundStyle: {
            color: 'rgba(234, 234, 234, 1)',
          },
        },
        {
          type: 'bar',
          data: [0, 0, 0, 0, 70],
          coordinateSystem: 'polar',
          name: dataprice.value[4] || '云库',
          stack: 'a',
          roundCap: true,
          itemStyle: {
            color: 'rgba(255, 154, 0, 1)',
            barBorderRadius: 5,
          },
          showBackground: true,
          backgroundStyle: {
            color: 'rgba(234, 234, 234, 1)',
          },
        },
      ],
      legend: {
        bottom: 6,
        left: 300,
        top: 20,
        icon: 'square',
        itemHeight: 10,
        show: true,
        // data: dataprice.value || ['易购', '商城', '零碳', '易销', '云库'],
        data: ['易购', '商城', '零碳', '易销', '云库'],
        selectedMode: false,
        textStyle: {
          color: '#591A1AFF',
          fontSize: 14,
        },
      },
    };
  };
  // const formatNum = (strNum) => {
  //   if (strNum === 'NaN' || strNum === '' || strNum === null || strNum === undefined) {
  //     return 0;
  //   } else {
  //     const data = parseFloat(strNum).toFixed(2);
  //     return parseFloat(data).toLocaleString();
  //   }
  // };
  // const formatNum1 = (strNum) => {
  //   if (strNum === 'NaN' || strNum === '' || strNum === null || strNum === undefined) {
  //     return 0;
  //   } else {
  //     return parseFloat(strNum).toFixed(2);
  //   }
  // };

  onMounted(() => {
    proxy.$echarts.registerTheme('obei', obei);
    charts = proxy.$echarts.init(barChart.value!);
    charts.clear();
    setOption();
    window.addEventListener('resize', () => {
      charts && charts.resize();
    });
  });

  onBeforeUnmount(() => {
    charts && charts.dispose();
    charts = null;
  });

  const dataprice = ref();
  const colorprice = ref();
  const unitprice = ref('');

  watchEffect(() => {
    dataprice.value = props.echardata;
    colorprice.value = props.echarcolor;
    unitprice.value = props.echarunit;

    setOption();
  });
</script>

<style>
  .chart {
    width: 100%;
    height: 100%;
  }
</style>
