<template>
  <div ref="barChart" class="chart"></div>
</template>

<script setup lang="ts">
  import { getCurrentInstance, onBeforeUnmount, onMounted, ref, watchEffect } from 'vue';
  import obei from '@/assets/echarts-theme/obei.json';

  defineOptions({
    name: 'ScoringRing',
    inheritAttrs: false,
  });

  const props = defineProps({
    echardata: {
      type: String,
      default() {
        return '';
      },
    },
    echarcolor: {
      type: String,
      default() {
        return '';
      },
    },
    echarunit: {
      type: String,
      default() {
        return '';
      },
    },
  });

  const { proxy } = getCurrentInstance();
  let charts = null;
  const barChart = ref<HTMLElement>();

  const setOption = () => {
    const option = getOption();
    charts && charts.setOption(option, true);
  };

  const getOption = () => {
    return {
      series: [
        {
          type: 'gauge',
          startAngle: 90,
          endAngle: -270,
          pointer: {
            show: false,
          },
          progress: {
            show: true,
            overlap: false,
            roundCap: true,
            clip: false,
            itemStyle: {
              color: colorprice.value,
            },
          },
          axisLine: {
            lineStyle: {
              width: 10,
            },
          },
          splitLine: {
            show: false,
            distance: 0,
            length: 10,
          },
          axisTick: {
            show: false,
          },
          axisLabel: {
            show: false,
            distance: 50,
          },
          data: [formatNum1(dataprice.value)],
          title: {
            fontSize: 14,
            offsetCenter: ['0%', '0%'],
          },
          detail: {
            fontSize: 20,
            color: colorprice.value,
            formatter(p) {
              return formatNum(p) + unitprice.value;
            },
            valueAnimation: true,
            offsetCenter: ['0%', '0%'],
          },
        },
      ],
    };
  };
  const formatNum = (strNum) => {
    if (strNum === 'NaN' || strNum === '' || strNum === null || strNum === undefined) {
      return 0;
    } else {
      const data = parseFloat(strNum).toFixed(2);
      return parseFloat(data).toLocaleString();
    }
  };
  const formatNum1 = (strNum) => {
    if (strNum === 'NaN' || strNum === '' || strNum === null || strNum === undefined) {
      return 0;
    } else {
      return parseFloat(strNum).toFixed(2);
    }
  };

  onMounted(() => {
    proxy.$echarts.registerTheme('obei', obei);
    charts = proxy.$echarts.init(barChart.value!);
    charts.clear();
    setOption();
    window.addEventListener('resize', () => {
      charts && charts.resize();
    });
  });

  onBeforeUnmount(() => {
    charts && charts.dispose();
    charts = null;
  });

  const dataprice = ref('');
  const colorprice = ref('');
  const unitprice = ref('');

  watchEffect(() => {
    dataprice.value = props.echardata;
    colorprice.value = props.echarcolor;
    unitprice.value = props.echarunit;

    setOption();
  });
</script>

<style>
  .chart {
    width: 100%;
    height: 100%;
  }
</style>
