<template>
  <div ref="barChart" class="chart"></div>
</template>

<script setup lang="ts">
  import { getCurrentInstance, onBeforeUnmount, onMounted, ref, watchEffect } from 'vue';
  import obei from '@/assets/echarts-theme/obei.json';

  defineOptions({
    name: 'SpeedGauge',
    inheritAttrs: false,
  });

  const props = defineProps({
    echardata: {
      type: String,
      default() {
        return '';
      },
    },
    echarcolor: {
      type: String,
      default() {
        return '';
      },
    },
    echarunit: {
      type: String,
      default() {
        return '';
      },
    },
  });

  const { proxy } = getCurrentInstance();
  let charts = null;
  const barChart = ref<HTMLElement>();

  const setOption = () => {
    const option = getOption();
    charts && charts.setOption(option, true);
  };

  const getOption = () => {
    return {
      series: [
        {
          type: 'gauge',
          radius: '100%',
          pointer: {
            itemStyle: {
              color: 'inherit',
            },
          },
          // 调整整体位置
          // center: ['50%', '38%'],
          axisLine: {
            lineStyle: {
              width: 30,
              color: [
                [0.3, '#FC6B57FF'],
                [0.7, '#60C758FF'],
                [1, '#5AA2FFFF'],
              ],
            },
          },
          axisTick: {
            show: false,
          },
          splitLine: {
            length: 0,
            lineStyle: {
              width: 2,
              color: '#A3A0ABFF',
            },
          },
          axisLabel: {
            distance: 30,
            color: '#A3A0ABFF',
            fontSize: 10,
          },
          anchor: {
            show: false,
            showAbove: true,
            itemStyle: {
              borderWidth: 10,
              color: 'inherit',
            },
          },
          title: {
            show: false,
          },
          detail: {
            valueAnimation: true,
            // formatter(p) {
            //   return formatNum(p) + unitprice.value;
            // },
            formatter(p) {
              return formatNum(p) + unitprice.value;
            },
            color: 'inherit',
            fontSize: 40,
            offsetCenter: [0, '60%'],
          },
          data: [
            {
              value: formatNum(dataprice.value),
              name: '完成率',
            },
          ],
        },
      ],
    };
  };
  const formatNum = (strNum) => {
    if (strNum === 'NaN' || strNum === '' || strNum === null || strNum === undefined) {
      return 0;
    } else {
      const data = parseFloat(strNum).toFixed(2);
      return parseFloat(data).toLocaleString();
    }
  };

  onMounted(() => {
    proxy.$echarts.registerTheme('obei', obei);
    charts = proxy.$echarts.init(barChart.value!);
    charts.clear();
    setOption();
    window.addEventListener('resize', () => {
      charts && charts.resize();
    });
  });

  onBeforeUnmount(() => {
    charts && charts.dispose();
    charts = null;
  });

  const dataprice = ref('');
  const colorprice = ref('');
  const unitprice = ref('');

  watchEffect(() => {
    dataprice.value = props.echardata;
    colorprice.value = props.echarcolor;
    unitprice.value = props.echarunit;

    setOption();
  });
</script>

<style>
  .chart {
    width: 100%;
    height: 100%;
  }
</style>
