<template>
  <div ref="barChart" class="chart"></div>
</template>

<script setup lang="ts">
  import { getCurrentInstance, onBeforeUnmount, onMounted, reactive, ref, watchEffect } from 'vue';
  // import * as echarts from 'echarts';
  import obei from '@/assets/echarts-theme/obei.json';

  defineOptions({
    name: 'StackedColumnFoldMixedChart',
    inheritAttrs: false,
  });
  const emit = defineEmits(['chartClick']);

  const props = defineProps({
    legendone: {
      type: Array,
      default() {
        return [];
      },
    },
    legendtwo: {
      type: Array,
      default() {
        return [];
      },
    },
    xAxis: {
      type: Array,
      default() {
        return [];
      },
    },
    yAxis: {
      type: Array,
      default() {
        return [];
      },
    },
    series: {
      type: Array,
      default() {
        return [];
      },
    },
  });

  const { proxy } = getCurrentInstance();
  let charts = null;
  const barChart = ref<HTMLElement>();

  const setOption = () => {
    const option = getOption();
    charts && charts.setOption(option, true);
  };

  const getOption = () => {
    return {
      tooltip: {
        trigger: 'axis',
      },
      legend: [
        {
          data: lengend,
          bottom: 'bottom',
        },
      ],
      grid: {
        left: '3%',
        right: '4%',
        bottom: '10%',
        top: '10%',
        containLabel: true,
      },
      xAxis: {
        type: 'category',
        data: xaxisdata,
      },
      yAxis: yaxisdata,
      series,
    };
  };

  onMounted(() => {
    proxy.$echarts.registerTheme('obei', obei);
    charts = proxy.$echarts.init(barChart.value!);
    charts.clear();
    setOption();

    window.addEventListener('resize', () => {
      charts && charts.resize();
    });
    charts.off('click'); // 图表渲染前销毁点击事件
    charts.off('dblclick'); // 图表渲染前销毁点击事件
    // 图表单击事件
    charts.on('click', function (params) {
      setTimeout(() => {
        check();
      }, 200);
      function check() {
        emit('chartClick', params);
      }
    });
  });

  onBeforeUnmount(() => {
    charts && charts.dispose();
    charts = null;
  });

  const lengend = reactive([]);
  const xaxisdata = reactive([]);
  const yaxisdata = reactive([]);
  const series = reactive([]);

  watchEffect(() => {
    lengend.length = 0;
    xaxisdata.length = 0;
    yaxisdata.length = 0;
    series.length = 0;

    lengend.push(...props.legendone);
    xaxisdata.push(...props.xAxis);
    yaxisdata.push(...props.yAxis);
    series.push(...props.series);

    setOption();
  });
</script>

<style>
  .chart {
    width: 100%;
    height: 100%;
  }
</style>
