<template>
  <div ref="barChart" class="chart"></div>
</template>

<script setup lang="ts">
  import { getCurrentInstance, onBeforeUnmount, onMounted, ref, watchEffect } from 'vue';
  import obei from '@/assets/echarts-theme/obei.json';

  defineOptions({
    name: 'TemGauge',
    inheritAttrs: false,
  });

  const props = defineProps({
    echardata: {
      type: String,
      default() {
        return '';
      },
    },
    echarcolor: {
      type: String,
      default() {
        return '';
      },
    },
    echarunit: {
      type: String,
      default() {
        return '';
      },
    },
  });

  const { proxy } = getCurrentInstance();
  let charts = null;
  const barChart = ref<HTMLElement>();

  const setOption = () => {
    const option = getOption();
    charts && charts.setOption(option, true);
  };

  const getOption = () => {
    return {
      series: [
        {
          type: 'gauge',
          center: ['50%', '65%'],
          startAngle: 200,
          endAngle: -20,
          min: 0,
          max: 120,
          splitNumber: 12,
          itemStyle: {
            color: colorprice.value,
          },
          progress: {
            show: true,
            width: 12,
          },
          pointer: {
            show: false,
          },
          axisLine: {
            lineStyle: {
              width: 12,
            },
          },
          axisTick: {
            distance: -25,
            splitNumber: 5,
            lineStyle: {
              width: 2,
              color: '#999',
            },
          },
          splitLine: {
            distance: -32,
            length: 14,
            lineStyle: {
              width: 3,
              color: '#999',
            },
          },
          axisLabel: {
            distance: -15,
            color: '#999',
            fontSize: 12,
          },
          anchor: {
            show: false,
          },
          title: {
            show: false,
          },
          detail: {
            valueAnimation: true,
            width: '60%',
            lineHeight: 40,
            borderRadius: 8,
            offsetCenter: [0, '-15%'],
            fontSize: 20,
            fontWeight: 'bolder',
            formatter: ' {value}%',
            color: 'inherit',
          },
          data: [formatNum(dataprice.value)],
        },
      ],
    };
  };
  const formatNum = (strNum) => {
    if (strNum === '-' || strNum === '' || strNum === null || strNum === undefined) {
      return parseFloat(0).toLocaleString();
    } else {
      const data = parseFloat(strNum).toFixed(2);
      return parseFloat(data).toLocaleString();
    }
  };
  onMounted(() => {
    proxy.$echarts.registerTheme('obei', obei);
    charts = proxy.$echarts.init(barChart.value!);
    charts.clear();
    setOption();
    window.addEventListener('resize', () => {
      charts && charts.resize();
    });
  });

  onBeforeUnmount(() => {
    charts && charts.dispose();
    charts = null;
  });

  const dataprice = ref('');
  const colorprice = ref('');
  const unitprice = ref('');

  watchEffect(() => {
    dataprice.value = props.echardata;
    colorprice.value = props.echarcolor;
    unitprice.value = props.echarunit;

    setOption();
  });
</script>

<style>
  .chart {
    width: 100%;
    height: 100%;
  }
</style>
