<template>
  <div class="tablePaganations">
    <div v-if="hasHeader == true">
      <!-- 表格 -->
      <a-table
        row-key="id"
        :data-source="state.tableData"
        :columns="columns"
        size="middle"
        :pagination="false"
        :scroll="scroll"
        :loading="loading"
        bordered
        :row-class-name="rowClassName"
      >
        <template v-if="hasHeader == true" #title="currentPageData">
          <slot name="title" :scope="currentPageData"></slot>
        </template>
      </a-table>
    </div>
    <div v-else>
      <!-- 表格 -->
      <a-table
        row-key="id"
        :data-source="state.tableData"
        :columns="columns"
        size="middle"
        :pagination="false"
        :scroll="scroll"
        :loading="loading"
        bordered
        :row-class-name="rowClassName"
      >
      </a-table>
    </div>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, computed, watch } from 'vue';
  import { message as $message } from 'ant-design-vue';

  defineOptions({
    name: 'MergeTable',
    inheritAttrs: false,
  });

  const props = defineProps({
    dataList: {
      type: Array,
      default: () => {
        return [];
      },
    },
    columnList: {
      type: Array,
      default: () => {
        return [];
      },
    },
    apiMethod: Function,
    filter: {
      type: Object,
      default: () => {
        return {};
      },
    },
    cellColor: {
      type: Object,
      default: () => {
        return {};
      },
    },
    rowMerge: {
      type: Object,
      default: () => {
        return {};
      },
    },
    columnMerge: {
      type: Array,
      default: () => {
        return [];
      },
    },
    formatter: {
      type: Object,
      default: () => {
        return {};
      },
    },
    columnGroups: {
      type: Array,
      default: () => {
        return [];
      },
    },
    hasHeader: {
      type: Boolean,
      default: false,
    },
    scroll: {
      type: Object,
      default: {},
    },
    loading: {
      type: Boolean,
      default: false,
    },
  });

  const state = reactive({
    tableData: [],
    apiFetchData: [],
  });

  const emits = defineEmits(['cellClicked', 'rowClassName']);

  const mergeMethod = {
    count: (arr) => {
      return arr.length;
    },
    sum: (arr) => {
      let sum = 0;
      for (let i = 0; i < arr.length; i++) {
        sum += arr[i];
      }
      return sum;
    },
    avg: (arr) => {
      let sum = 0,
        avg = 0;
      for (let i = 0; i < arr.length; i++) {
        sum += arr[i];
      }
      if (arr.length > 0) {
        avg = sum / arr.length;
      }
      return avg;
    },
    max: (arr) => {
      let max = arr[0];
      for (let i = 1; i < arr.length; i++) {
        max < arr[i] ? (max = arr[i]) : max;
      }
      return max;
    },
    min: (arr) => {
      let min = arr[0];
      for (let i = 1; i < arr.length; i++) {
        min > arr[i] ? (min = arr[i]) : min;
      }
      return min;
    },
    join: (arr) => {
      return arr.join(',');
    },
  };

  const initialColumns = (columms) => {
    return columms.map((item) => {
      return {
        ...item,
      };
    });
  };
  const decoratorSimpleColumns = (columms) => {
    return columms.map((item) => {
      if (item.customRender) {
        return {
          ...item,
          customCell: getCustomCell(item),
        };
      } else {
        const customRender = getCustomRender(item);

        return {
          ...item,
          customRender,
          customCell: getCustomCell(item),
        };
      }
    });
  };
  const handleGroup = (columns, groups) => {
    groups.map((item) => {
      const title = item.title;
      const colNames = item.children;

      if (colNames && colNames.length > 0) {
        const childCols = [];
        let insertLoc = -1;

        for (let i = colNames.length - 1; i >= 0; i--) {
          insertLoc = columns.findIndex((itt) => itt.dataIndex == colNames[i]);
          if (insertLoc != -1) {
            childCols.splice(0, 0, columns[insertLoc]);
            columns.splice(insertLoc, 1);
          } else {
            continue;
          }
        }

        if (insertLoc !== -1) {
          columns.splice(insertLoc, 0, {
            title,
            children: childCols,
          });
        }
      }
    });
  };
  const handleMergeColumn = (columns, datas) => {
    props.columnMerge.map((item) => {
      // 1. 计算值
      const mergeCols = item.mergeColumn.split(',');
      let customRender = null;

      // 横向多列汇总
      if (mergeCols.length > 1) {
        // 计算值
        if (item.method && item.method.complex) {
          calcMergeColumnValueComplex(datas, item.dataIndex, mergeCols, item.method);
        } else {
          calcMergeColumnValue(datas, item.dataIndex, mergeCols, item.method);
        }

        customRender = getCustomRender(item);
      } else {
        let mvalue = '';
        // 纵向单列计算
        for (let j = 0; j < item.rspans.length; j++) {
          const rowspan = item.rspans[j];
          const start = rowspan.start;
          const span = rowspan.span;

          const arr = [];
          for (let k = start; k < start + span; k++) {
            arr.push(datas[k][item.mergeColumn]);
          }
          mvalue = mergeMethod[item.method](arr);
          for (let l = start; l < start + span; l++) {
            datas[l][item.dataIndex] = mvalue;
          }
        }

        customRender = getCustomRender(item);
      }

      const column = {
        ...item,
        customRender,
      };

      if (item.after) {
        const index = columns.findIndex((itt) => itt.dataIndex == item.after);

        if (index == -1) {
          columns.push(column);
        } else {
          columns.splice(index + 1, 0, column);
        }
      } else {
        columns.push(column);
      }
    });
  };
  const handleMergeRow = (columns, datas) => {
    // 先增加一行 然后给出custom render 函数
    const newRow = { ...datas[0] };
    Object.keys(newRow).forEach((key) => {
      newRow[key] = '';
    });
    newRow[props.rowMerge.titleColumn] = props.rowMerge.title;

    props.rowMerge.cols.map((mergeDefine) => {
      const column = columns.find((item) => item.dataIndex == mergeDefine.column);

      if (column) {
        let mvalue = '';
        if (mergeDefine.method && mergeDefine.method.complex) {
          mvalue = getMergeValueComplex(mergeDefine.method, datas);
        } else {
          mvalue = getMergeValue(mergeDefine.column, mergeDefine.method, datas);
        }
        newRow[mergeDefine.column] = mvalue;

        column.customRender = getCustomerRenderRowMerge(mergeDefine, column, datas.length);
      }
    });

    datas.push(newRow);
  };

  const getCustomCell = (column) => {
    const rowSpans = column.rspans;

    if (rowSpans) {
      return (_, index) => {
        let spannum = 1;
        for (let i = 0; i < rowSpans.length; i++) {
          const start = rowSpans[i].start;
          const span = rowSpans[i].span;

          if (index < start || index >= start + span) {
            continue;
          }

          if (index == start) {
            spannum = span;
          } else if (index < start + span) {
            spannum = 0;
          }
        }

        return { ...column, rowSpan: spannum };
      };
    } else {
      return (_) => {
        return { ...column, rowSpan: 1 };
      };
    }
  };
  // 为底部合并行专门提供  // 非底部行采用自身设定，底部cell特殊配置
  const getCustomerRenderRowMerge = (bottomColDefine, orginalColumn, length) => {
    const bottomColorKey = bottomColDefine.emphasisColor;
    const bottomFormatterKey = bottomColDefine.formatter;
    const bottomAlign = bottomColDefine.align ? bottomColDefine.align : '';

    const originalColorKey = orginalColumn.emphasisColor;
    const originalFormatter = orginalColumn.formatter;
    const originalAlign = orginalColumn.align ? orginalColumn.align : '';

    return (column) => {
      // 底部行
      let { text, record, index } = column;
      if (index === length) {
        let cellStyle = getCellStyle(text, bottomColorKey, record, index);

        if (text) {
          text = getFormatterText(text, bottomFormatterKey);
        }

        if (bottomAlign) {
          cellStyle = `${cellStyle}align:${bottomAlign};`;
        }
        return <span style={cellStyle}>{text}</span>;
      } else {
        let cellStyle = getCellStyle(text, originalColorKey, record, index);

        if (text) {
          if (originalFormatter && typeof originalFormatter === 'string') {
            text = getFormatterText(text, originalFormatter);
          } else if (originalFormatter) {
            let formatterKey = originalFormatter.name;

            if (originalFormatter.special && originalFormatter.special[index]) {
              formatterKey = originalFormatter.special[index];
            }
            text = getFormatterText(text, formatterKey);
          }
        }

        if (originalAlign) {
          cellStyle = `${cellStyle}align:${originalAlign};`;
        }
        return (
          <span
            style={cellStyle}
            onClick={(e) => {
              cellClicked(record, column);
            }}
          >
            {text}
          </span>
        );
      }
    };
  };
  const getCustomRender = (colDefine) => {
    const colorKey = colDefine.emphasisColor;
    const formatter = colDefine.formatter;
    const align = colDefine.align ? colDefine.align : '';

    return (column) => {
      let { text, record, index } = column;

      let cellStyle = getCellStyle(text, colorKey, record, index);
      if (text) {
        if (formatter && typeof formatter === 'string') {
          text = getFormatterText(text, formatter);
        } else if (formatter) {
          let formatterKey = formatter.name;

          if (formatter.special && formatter.special[index]) {
            formatterKey = formatter.special[index];
          }
          text = getFormatterText(text, formatterKey);
        }
      }

      if (align) {
        cellStyle = `${cellStyle}align:${align};`;
      }

      return (
        <div>
          <span
            style={cellStyle}
            onClick={(e) => {
              cellClicked(record, column);
            }}
          >
            {text}
          </span>
        </div>
      );
    };
  };
  const cellClicked = (record, column) => {
    emits('cellClicked', record, column);
  };
  const rowClassName = (record) => {
    let result = '';
    emits('rowClassName', record, (val) => {
      result = val;
    });
    return result;
  };

  const getColorText = (oper, values, colortext) => {
    const value0 = values[0];
    const value1 = values[1];
    const value2 = values.length >= 3 ? values[2] : '';

    let cellStyle = '';
    switch (oper) {
      case 'GT':
        if (value0 > value1) {
          cellStyle = colortext;
        }
        break;
      case 'LT':
        if (value0 < value1) {
          cellStyle = colortext;
        }
        break;
      case 'BTW':
        if (value0 >= value1 && value0 <= value2) {
          cellStyle = colortext;
        }
        break;
      case 'EQ':
        if (value0 == value1) {
          cellStyle = colortext;
        }
        break;
      case 'GE':
        if (value0 >= value1) {
          cellStyle = colortext;
        }
        break;
      case 'LE':
        if (value0 <= value1) {
          cellStyle = colortext;
        }
        break;
      default:
        cellStyle = '';
        break;
    }

    return cellStyle;
  };

  const getCellStyle = (value, colorKey, row, index) => {
    if (colorKey == null || undefined == colorKey || colorKey == '') {
      return '';
    }

    const cellColor = props.cellColor[colorKey];
    let cellStyle = '';

    if (cellColor && cellColor instanceof Array) {
      const value0 = value;

      for (let i = 0; i < cellColor.length; i++) {
        const cellrow = cellColor[i];

        const oper = cellrow[0];
        const value1 = cellrow[1];
        const value2 = cellColor.length >= 3 ? cellrow[2] : '';
        const colortext = cellColor.length >= 3 ? `color:${cellrow[3]};` : `color:${cellrow[2]};`;

        const colorStyle = getColorText(oper, [value0, value1, value2], colortext);

        if (colorStyle) {
          cellStyle = colorStyle;
          break;
        }
      }
    } else if (cellColor && cellColor.complex == 'true') {
      // 先算value  // "key"
      const key = index.toString();
      let rule = null;
      let valueExpression = '';
      let columns = [];

      if (cellColor.color[key]) {
        rule = cellColor.color[key].rule;
        valueExpression = cellColor.color[key].expression;
        columns = cellColor.color[key].columns;
      } else if (cellColor.color['all']) {
        rule = cellColor.color['all'].rule;
        valueExpression = cellColor.color['all'].expression;
        columns = cellColor.color['all'].columns;
      }

      if (rule == null) {
        return '';
      }

      let calcResult = calcExpression(row, valueExpression, columns);

      if (!calcResult.success) {
        return '';
      }

      const value0 = calcResult.value;

      for (let i = 0; i < rule.length; i++) {
        const cellrow = rule[i];

        const oper = cellrow[0];

        calcResult = calcExpression(row, cellrow[1], columns);

        if (!calcResult.success) {
          return '';
        }

        const value1 = calcResult.value;
        let value2 = '';
        if (cellColor.length >= 3) {
          calcResult = calcExpression(row, cellrow[2], columns);
          if (!calcResult.success) {
            return '';
          }

          value2 = calcResult.value;
        }
        const colortext = cellColor.length >= 3 ? `color:${rule[3]};` : `color:${cellrow[2]};`;

        const colorStyle = getColorText(oper, [value0, value1, value2], colortext);

        if (colorStyle) {
          cellStyle = colorStyle;
          break;
        }
      }
    }

    return cellStyle;
  };
  const calcExpression = (row, expression, columns) => {
    const values = [];

    for (let i = 0; i < columns.length; i++) {
      values.push(row[columns[i]]);
    }

    for (let i = 0; i < values.length; i++) {
      const str = `{${i}}`;
      expression = expression.toString().split(str).join(values[i]);
    }

    // 解除 前分位符号的bug
    expression = expression.toString().split(',').join('');

    let success = false;
    let value = '';
    try {
      value = eval(expression);
      success = true;
    } catch (error) {
      value = 'exception';
    }

    return { success, value };
  };

  const getFormatterText = (value, formatKey) => {
    if (formatKey) {
      return props.formatter[formatKey](value);
    } else {
      return value;
    }
  };
  const getMergeValue = (column, method, datas) => {
    const arr = datas.map((item) => {
      return item[column];
    });
    return mergeMethod[method](arr);
  };
  const getMergeValueComplex = (method, datas) => {
    const values = [];

    for (let i = 0; i < method.operator.length; i++) {
      const operator = method.operator[i];
      values.push(getMergeValue(operator.column, operator.method, datas));
    }

    let expression = method.expression;
    for (let i = 0; i < values.length; i++) {
      const str = `{${i}}`;
      expression = expression.split(str).join(values[i].toFixed(3));
      // expression = expression.replaceAll(str, values[i].toFixed(3));
    }
    return eval(expression);
  };
  const calcMergeColumnValue = (datas, dataIndex, cols, method) => {
    for (let i = 0; i < datas.length; i++) {
      const arr = cols.map((itt) => {
        return datas[i][itt];
      });

      const mvalue = mergeMethod[method](arr);
      datas[i][dataIndex] = mvalue;
    }
  };
  const calcMergeColumnValueComplex = (datas, dataIndex, cols, method) => {
    // 先取出字段
    for (let i = 0; i < datas.length; i++) {
      const arr = cols.map((itt) => {
        return datas[i][itt];
      });

      // 考虑复杂计算

      let expression = method.expression;

      for (let j = 0; j < arr.length; j++) {
        const str = `{${j}}`;
        expression = expression.split(str).join(arr[j]);
      }

      datas[i][dataIndex] = eval(expression);
    }
  };
  const fetch = () => {
    const method = props.apiMethod;
    if (method) {
      method(props.filter)
        .then((r) => {
          if (r.data.success == true) {
            state.apiFetchData = r.data.data;
          } else {
            $message.error('数据获取异常');
          }
        })
        .catch((message) => {
          $message.error(message);
        });
    }
  };

  watch(
    () => props.apiMethod,
    () => {
      fetch();
    },
    { immediate: true, deep: true },
  );

  watch(
    () => props.filter,
    () => {
      fetch();
    },
    { immediate: true, deep: true },
  );

  const columns = computed(() => {
    let datas = [];

    if (props.dataList && props.dataList.length > 0) {
      datas = props.dataList.map((item) => {
        return { ...item };
      });
    } else if (state.apiFetchData && state.apiFetchData.length > 0) {
      datas = state.apiFetchData.map((item) => {
        return { ...item };
      });
    } else {
      return [];
    }

    // 先复制数据
    let columns = initialColumns(props.columnList);

    // 算一算合并列
    // 先column 再 row 顺序不可颠倒
    if (props.columnMerge) {
      handleMergeColumn(columns, datas);
    }
    // 算一算合并行
    if (props.rowMerge && props.rowMerge.cols && props.rowMerge.cols.length > 0) {
      handleMergeRow(columns, datas);
    }

    state.tableData = datas;

    // 绑定点击事件  加上简单格式化
    columns = decoratorSimpleColumns(columns);

    // 根据分组调整columns的结构
    if (props.columnGroups) {
      handleGroup(columns, props.columnGroups);
    }

    return columns;
  });
</script>

<style lang="less">
  .tablePaganations {
    width: 100%;
  }
  .warning-row {
    background-color: #f0f2f5 !important;
  }
</style>
