<template>
  <div>
    <a-input-search
      v-model:value="searchValue"
      style="margin-bottom: 8px"
      placeholder="Search"
      @search="filter"
    />
    <a-tree checkable :tree-data="showTreeData" default-expand-all> </a-tree>
  </div>
</template>

<script setup lang="ts">
  import { computed, ref } from 'vue';
  import { cloneDeep } from 'lodash-es';
  import type { TreeProps } from 'ant-design-vue';

  defineOptions({
    name: 'Charts',
  });

  const searchValue = ref('');
  const treeData: TreeProps['treeData'] = [
    {
      id: '0',
      key: '0',
      title: '欧冶工业品',
      value: '0',
      text: '欧冶工业品',
      code: 'BWDH00',
      type: 'dept',
      orderNum: 13,
      children: [
        {
          id: '8',
          key: '8',
          title: '资材品类中心',
          value: '8',
          text: '资材品类中心',
          code: 'BWDHGA',
          type: 'dept',
          orderNum: 1,
          children: [
            {
              id: '25',
              key: '25',
              title: '通用材料部',
              value: '25',
              text: '通用材料部',
              code: 'BWDHGAC',
              type: 'dept',
              parentId: '8',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-21 12:37:38',
            },
          ],
          parentId: '0',
          hasParent: true,
          hasChildren: true,
          createTime: '2022-07-20 10:58:57',
          modifyTime: '2023-03-21 09:44:36',
        },
        {
          id: '9',
          key: '9',
          title: '备件品类中心',
          value: '9',
          text: '备件品类中心',
          code: 'BWDHHA',
          type: 'dept',
          orderNum: 2,
          children: [
            {
              id: '28',
              key: '28',
              title: '电气仪表部',
              value: '28',
              text: '电气仪表部',
              code: 'BWDHHAB',
              type: 'dept',
              parentId: '9',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-21 12:38:27',
            },
            {
              id: '27',
              key: '27',
              title: '机械备件部',
              value: '27',
              text: '机械备件部',
              code: 'BWDHHAA',
              type: 'dept',
              parentId: '9',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-21 12:38:11',
            },
            {
              id: '26',
              key: '26',
              title: '通用设备备件部',
              value: '26',
              text: '通用设备备件部',
              code: 'BWDHHAC',
              type: 'dept',
              parentId: '9',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-21 12:38:00',
            },
          ],
          parentId: '0',
          hasParent: true,
          hasChildren: true,
          createTime: '2022-07-20 11:02:09',
          modifyTime: '2023-03-21 09:33:59',
        },
        {
          id: '12',
          key: '12',
          title: '设备品类中心',
          value: '12',
          text: '设备品类中心',
          code: 'BWDHIA',
          type: 'dept',
          orderNum: 3,
          children: [
            {
              id: '29',
              key: '29',
              title: '项目管理部',
              value: '29',
              text: '项目管理部',
              code: 'BWDHIAA',
              type: 'dept',
              parentId: '12',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-21 12:38:50',
            },
            {
              id: '32',
              key: '32',
              title: '引进业务部',
              value: '32',
              text: '引进业务部',
              code: 'BWDHIAD',
              type: 'dept',
              parentId: '12',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-21 12:39:29',
            },
            {
              id: '31',
              key: '31',
              title: '智能装备部',
              value: '31',
              text: '智能装备部',
              code: 'BWDHIAC',
              type: 'dept',
              parentId: '12',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-21 12:39:14',
            },
            {
              id: '30',
              key: '30',
              title: '工艺设备部',
              value: '30',
              text: '工艺设备部',
              code: 'BWDHIAB',
              type: 'dept',
              parentId: '12',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-21 12:39:00',
            },
          ],
          parentId: '0',
          hasParent: true,
          hasChildren: true,
          createTime: '2022-07-29 14:28:47',
          modifyTime: '2023-03-21 09:44:58',
        },
        {
          id: '15',
          key: '15',
          title: '华东大区',
          value: '15',
          text: '华东大区',
          code: 'BWDHN',
          type: 'dept',
          orderNum: 4,
          parentId: '0',
          hasParent: true,
          hasChildren: false,
          createTime: '2022-10-18 18:06:41',
          modifyTime: '2023-03-21 09:45:12',
        },
        {
          id: '16',
          key: '16',
          title: '华南大区',
          value: '16',
          text: '华南大区',
          code: 'BWDHP',
          type: 'dept',
          orderNum: 5,
          parentId: '0',
          hasParent: true,
          hasChildren: false,
          createTime: '2022-10-18 18:07:42',
          modifyTime: '2023-03-21 09:45:21',
        },
        {
          id: '13',
          key: '13',
          title: '华中大区',
          value: '13',
          text: '华中大区',
          code: 'BWDHO',
          type: 'dept',
          orderNum: 6,
          parentId: '0',
          hasParent: true,
          hasChildren: false,
          createTime: '2022-10-14 10:34:23',
          modifyTime: '2023-03-21 09:45:37',
        },
        {
          id: '17',
          key: '17',
          title: '西北大区',
          value: '17',
          text: '西北大区',
          code: 'BWDHR',
          type: 'dept',
          orderNum: 7,
          parentId: '0',
          hasParent: true,
          hasChildren: false,
          createTime: '2022-10-18 18:08:06',
          modifyTime: '2023-03-21 09:45:47',
        },
        {
          id: '18',
          key: '18',
          title: '西南大区',
          value: '18',
          text: '西南大区',
          code: 'BWDHQ',
          type: 'dept',
          orderNum: 8,
          parentId: '0',
          hasParent: true,
          hasChildren: false,
          createTime: '2022-10-18 18:09:42',
          modifyTime: '2023-03-21 09:45:58',
        },
        {
          id: '21',
          key: '21',
          title: '华北大区',
          value: '21',
          text: '华北大区',
          code: 'BWDHT',
          type: 'dept',
          orderNum: 9,
          parentId: '0',
          hasParent: true,
          hasChildren: false,
          createTime: '2022-10-21 12:36:38',
          modifyTime: '2023-03-21 09:46:08',
        },
        {
          id: '20',
          key: '20',
          title: '平台运营中心',
          value: '20',
          text: '平台运营中心',
          code: 'BWDHJA',
          type: 'dept',
          orderNum: 10,
          children: [
            {
              id: '55',
              key: '55',
              title: '销售支持部',
              value: '55',
              text: '销售支持部',
              code: 'BWDHJAG',
              type: 'dept',
              orderNum: 13,
              parentId: '20',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-28 09:15:36',
              modifyTime: '2022-12-23 11:09:19',
            },
            {
              id: '51',
              key: '51',
              title: '市场营销部',
              value: '51',
              text: '市场营销部',
              code: 'BWDHJAA',
              type: 'dept',
              orderNum: 13,
              parentId: '20',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-28 09:15:36',
              modifyTime: '2022-12-23 11:08:57',
            },
            {
              id: '54',
              key: '54',
              title: '销售二部',
              value: '54',
              text: '销售二部',
              code: 'BWDHJAF',
              type: 'dept',
              orderNum: 13,
              parentId: '20',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-28 09:15:36',
              modifyTime: '2022-12-23 11:09:14',
            },
            {
              id: '53',
              key: '53',
              title: '销售一部',
              value: '53',
              text: '销售一部',
              code: 'BWDHJAE',
              type: 'dept',
              orderNum: 13,
              parentId: '20',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-28 09:15:36',
              modifyTime: '2022-12-23 11:09:08',
            },
            {
              id: '52',
              key: '52',
              title: '平台运营部',
              value: '52',
              text: '平台运营部',
              code: 'BWDHJAD',
              type: 'dept',
              orderNum: 13,
              parentId: '20',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-28 09:15:36',
              modifyTime: '2022-12-23 11:09:03',
            },
          ],
          parentId: '0',
          hasParent: true,
          hasChildren: true,
          createTime: '2022-10-18 18:11:45',
          modifyTime: '2023-03-21 09:46:20',
        },
        {
          id: '10',
          key: '10',
          title: '欧冶采购',
          value: '10',
          text: '欧冶采购',
          code: 'BWDHS',
          type: 'dept',
          orderNum: 11,
          parentId: '0',
          hasParent: true,
          hasChildren: false,
          createTime: '2022-07-20 11:02:21',
          modifyTime: '2023-03-21 09:46:28',
        },
        {
          id: '19',
          key: '19',
          title: '智慧物流中心',
          value: '19',
          text: '智慧物流中心',
          code: 'BWDHKA',
          type: 'dept',
          orderNum: 12,
          parentId: '0',
          hasParent: true,
          hasChildren: false,
          createTime: '2022-10-18 18:11:21',
          modifyTime: '2023-03-21 09:46:44',
        },
        {
          id: '1',
          key: '1',
          title: '数字科技中心',
          value: '1',
          text: '数字科技中心',
          code: 'BWDHLA',
          type: 'dept',
          orderNum: 13,
          parentId: '0',
          hasParent: true,
          hasChildren: false,
          createTime: '2018-01-04 15:42:26',
          modifyTime: '2023-03-21 09:46:54',
        },
        {
          id: '4',
          key: '4',
          title: '运营管理部',
          value: '4',
          text: '运营管理部',
          code: 'BWDHBA',
          type: 'dept',
          orderNum: 14,
          children: [
            {
              id: '39',
              key: '39',
              title: '运营改善模块',
              value: '39',
              text: '运营改善模块',
              code: 'BWDHBAA',
              type: 'dept',
              orderNum: 13,
              parentId: '4',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-28 09:15:36',
              modifyTime: '2022-12-23 11:04:34',
            },
            {
              id: '41',
              key: '41',
              title: '工采办职能模块',
              value: '41',
              text: '工采办职能模块',
              code: 'BWDHBAC',
              type: 'dept',
              orderNum: 13,
              parentId: '4',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-28 09:15:36',
              modifyTime: '2022-12-23 11:04:58',
            },
            {
              id: '40',
              key: '40',
              title: '供应链管理模块',
              value: '40',
              text: '供应链管理模块',
              code: 'BWDHBAB',
              type: 'dept',
              orderNum: 13,
              parentId: '4',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-28 09:15:36',
              modifyTime: '2022-12-23 11:04:53',
            },
          ],
          parentId: '0',
          hasParent: true,
          hasChildren: true,
          createTime: '2018-01-04 15:42:36',
          modifyTime: '2023-03-21 09:47:07',
        },
        {
          id: '35',
          key: '35',
          title: '经营财务部',
          value: '35',
          text: '经营财务部',
          code: 'BWDHFA',
          type: 'dept',
          orderNum: 15,
          children: [
            {
              id: '50',
              key: '50',
              title: '供应链金融服务模块',
              value: '50',
              text: '供应链金融服务模块',
              code: 'BWDHFAC',
              type: 'dept',
              orderNum: 13,
              parentId: '35',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-28 09:15:36',
              modifyTime: '2022-12-23 11:07:52',
            },
            {
              id: '49',
              key: '49',
              title: '财务结算模块',
              value: '49',
              text: '财务结算模块',
              code: 'BWDHFAB',
              type: 'dept',
              orderNum: 13,
              parentId: '35',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-28 09:15:36',
              modifyTime: '2022-12-23 11:07:47',
            },
            {
              id: '48',
              key: '48',
              title: '预算资金模块',
              value: '48',
              text: '预算资金模块',
              code: 'BWDHFAA',
              type: 'dept',
              orderNum: 13,
              parentId: '35',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-28 09:15:36',
              modifyTime: '2022-12-23 11:07:42',
            },
          ],
          parentId: '0',
          hasParent: true,
          hasChildren: true,
          createTime: '2022-10-28 08:41:27',
          modifyTime: '2023-03-21 09:47:16',
        },
        {
          id: '11',
          key: '11',
          title: '战略投资部',
          value: '11',
          text: '战略投资部',
          code: 'BWDHEA',
          type: 'dept',
          orderNum: 16,
          children: [
            {
              id: '47',
              key: '47',
              title: '法务与合规管理',
              value: '47',
              text: '法务与合规管理',
              code: 'BWDHEAC',
              type: 'dept',
              orderNum: 13,
              parentId: '11',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-28 09:15:36',
              modifyTime: '2022-12-23 11:08:32',
            },
            {
              id: '46',
              key: '46',
              title: '资本运作模块',
              value: '46',
              text: '资本运作模块',
              code: 'BWDHEAB',
              type: 'dept',
              orderNum: 13,
              parentId: '11',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-28 09:15:36',
              modifyTime: '2022-12-23 11:08:27',
            },
            {
              id: '45',
              key: '45',
              title: '战略投资模块',
              value: '45',
              text: '战略投资模块',
              code: 'BWDHEAA',
              type: 'dept',
              orderNum: 13,
              parentId: '11',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-28 09:15:36',
              modifyTime: '2022-12-23 11:08:21',
            },
          ],
          parentId: '0',
          hasParent: true,
          hasChildren: true,
          createTime: '2022-07-20 11:02:36',
          modifyTime: '2023-03-21 09:47:27',
        },
        {
          id: '34',
          key: '34',
          title: '人力资源部',
          value: '34',
          text: '人力资源部',
          code: 'BWDHCA',
          type: 'dept',
          orderNum: 17,
          children: [
            {
              id: '43',
              key: '43',
              title: '配置开发模块',
              value: '43',
              text: '配置开发模块',
              code: 'BWDHCAB',
              type: 'dept',
              orderNum: 13,
              parentId: '34',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-28 09:15:36',
              modifyTime: '2022-12-23 11:07:19',
            },
            {
              id: '42',
              key: '42',
              title: '组织与评价任用模块',
              value: '42',
              text: '组织与评价任用模块',
              code: 'BWDHCAA',
              type: 'dept',
              orderNum: 13,
              parentId: '34',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-28 09:15:36',
              modifyTime: '2022-12-23 11:07:13',
            },
            {
              id: '44',
              key: '44',
              title: '薪酬绩效模块',
              value: '44',
              text: '薪酬绩效模块',
              code: 'BWDHCAC',
              type: 'dept',
              orderNum: 13,
              parentId: '34',
              hasParent: true,
              hasChildren: false,
              createTime: '2022-10-28 09:15:36',
              modifyTime: '2022-12-23 11:07:24',
            },
          ],
          parentId: '0',
          hasParent: true,
          hasChildren: true,
          createTime: '2022-10-28 08:41:27',
          modifyTime: '2023-03-21 09:47:42',
        },
        {
          id: '5',
          key: '5',
          title: '审计部（纪检监督部）',
          value: '5',
          text: '审计部（纪检监督部）',
          code: 'BWDHDA',
          type: 'dept',
          orderNum: 18,
          parentId: '0',
          hasParent: true,
          hasChildren: false,
          createTime: '2018-01-04 15:42:32',
          modifyTime: '2023-03-21 09:47:52',
        },
        {
          id: '33',
          key: '33',
          title: '综合管理部',
          value: '33',
          text: '综合管理部',
          code: 'BWDHAA',
          type: 'dept',
          orderNum: 19,
          parentId: '0',
          hasParent: true,
          hasChildren: false,
          createTime: '2022-10-28 08:41:27',
          modifyTime: '2023-03-21 13:26:45',
        },
      ],
      parentId: '999',
      hasParent: true,
      hasChildren: true,
      createTime: '2023-04-06 17:04:18',
      modifyTime: '2023-04-06 17:04:18',
    },
  ];
  const showTreeData = computed(() => {
    return filter();
  });

  const filter = () => {
    const value = searchValue.value;
    console.log(11111, value);
    const data = cloneDeep(treeData);
    let tempData: any = [];
    if (`${value}`.length > 0) {
      // realTreeData.value = treeData;
      tempData = find(data, value);
    } else {
      tempData = data;
    }
    console.log(1111, tempData);

    return tempData;
  };
  const find = (nodes, query) => {
    // 判断当前节点是否包含关键字，包含则返回true，不包含则返回false
    const matchTitle = (node) => {
      if (node.title.indexOf(query) > -1) {
        return true;
      } else {
        return false;
      }
    };

    if (!(nodes && nodes.length)) {
      return [];
    }
    const collect: any = [];
    for (const node of nodes) {
      // 以下两个条件任何一个成立，当前节点都应该加入到新子节点集中
      // 1. 子孙节点中存在符合条件的，即 subs 数组中有值
      // 2. 自己本身符合条件
      const subs = find(node.children, query);
      //递归遍历最深的那个节点，拿到那个节点的子节点数组
      if (matchTitle(node)) {
        // 如果当前节点包含关键字，push存起来，且他的子节点数组为空，就设置当前节点数组为空
        collect.push({ ...node, children: subs });
      } else if (subs && subs.length) {
        node.children = subs;
        collect.push(node);
      }
    }
    return collect.length ? collect : [];
  };
</script>

<style scoped></style>
