<!-- 执行日志 -->
<template>
  <div class="executionLog">
    <a-empty v-if="state.log.length === 0 && !state.tableLoading" />
    <a-spin v-else-if="state.tableLoading" />
    <div v-else class="log">
      <div v-for="(item, index) in state.log" :key="index">
        {{ item }}
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { reactive, onMounted } from 'vue';
  import { getlog } from '@/api/supervisionModel';
  defineOptions({
    name: 'executionLog',
    inheritAttrs: false,
  });
  const props = defineProps({
    modelData: { type: Object, default: () => {} },
  });
  const state = reactive({
    log: '', // 日志
    tableLoading: false,
  });
  onMounted(() => {
    queryExecutionLog();
  });
  const queryExecutionLog = () => {
    state.tableLoading = true;
    console.log('我拿到了this.modelData.id', props.modelData.id);
    const params = {
      modelId: props.modelData.id,
    };
    getlog({ ...params }).then((r) => {
      state.tableLoading = false;
      if (r.code === 'OK') {
        state.log = r.data;
      }
    });
  };
</script>

<style lang="less" scoped>
  .executionLog {
    display: flex;
    justify-content: center;
    /deep/.ant-spin-spinning {
      height: 100px;
      margin-top: 50px;
    }
    .log {
      height: 400px;
      overflow: scroll;
      color: red;

      > div {
        margin-bottom: 26px;
      }
    }
  }
</style>
