<template>
  <div class="lastResultSet">
    <div class="ResultSet">
      <div class="filterbtn">
        <div>
          <queryFilterbtn
            :id="props.modelData"
            ref="queryFilterbtn1"
            :filters="state.filters"
            :show-change="state.showChange"
            @set-condition-filter="setConditionFilter"
            @reset-data="resetData"
          ></queryFilterbtn>
          <QueryFilter
            ref="conditionFilter"
            :visible="queryFiltershow"
            :field-list="state.fields"
            :isadd-condition-group="false"
            @change="onConditionChange"
          ></QueryFilter>
        </div>
        <div class="search-but">
          <a-button type="primary" class="btn" @click="searchChange"> 查询 </a-button>
          <a-button type="danger" @click="resetData">重置</a-button>
        </div>
      </div>
      <double-right-outlined
        class="iconActive"
        :rotate="state.showChange ? 0 : 90"
        @click="showChanges"
      />
    </div>

    <!-- 运行结果 -->
    <div v-if="state.columns.length === 0" class="nullDataView">
      <a-empty v-if="state.columns.length === 0 && !state.tableLoading" />
      <a-spin v-else-if="state.tableLoading" />
    </div>
    <div v-else-if="state.columns.length !== 0" class="table-solid">
      <DynamicTable
        v-if="props.modelData.showIf === false"
        :data-source="state.data"
        :loading="state.tableLoading"
        :columns="state.columns"
        :scroll="{ x: 600, y: 400 }"
        :show-refresh-setting="false"
        :pagination="false"
        @change="changeSorter"
      >
        <template #toolbar>
          <a-button
            v-if="props.modelData.showIf === true && $auth('SupervisionGovern:push')"
            class="btn"
            type="primary"
            :loading="state.loading"
            @click="modalAction(true, '待办推送')"
            >推送处理</a-button
          >
          <a-button
            v-if="$auth('SupervisionGovern:download')"
            type="primary"
            class="btn"
            @click="downLoadFn"
          >
            下载结果
          </a-button>
          <a-button type="primary" :loading="state.tableLoading" @click="shouXiaZ"
            >下钻关联设置</a-button
          >
        </template>
      </DynamicTable>
      <DynamicTable
        v-else
        :data-source="state.data"
        :row-class-name="addRowColor"
        :columns="state.columns"
        :row-selection="{
          selectedRowKeys: state.selectedRowKeys,
          onChange: onSelectChange,
          getCheckboxProps: getCheckboxPropsFn,
          fixed: true,
        }"
        :pagination="false"
        :scroll="{ x: 600, y: 400 }"
        :loading="state.tableLoading"
        :show-refresh-setting="false"
        @change="changeSorter"
      >
        <template #toolbar>
          <a-button
            v-if="props.modelData.showIf === true && $auth('SupervisionGovern:push')"
            class="btn"
            type="primary"
            :loading="state.loading"
            @click="modalAction(true, '待办推送')"
            >推送处理</a-button
          >
          <a-button
            v-if="$auth('SupervisionGovern:download')"
            type="primary"
            class="btn"
            @click="downLoadFn"
          >
            下载结果
          </a-button>
          <a-button type="primary" :loading="state.tableLoading" @click="shouXiaZ"
            >下钻关联设置</a-button
          >
        </template>
      </DynamicTable>
      <div class="paging">
        <a-pagination
          v-model:current="state.pagination.current"
          v-model:page-size="state.pagination.pageSize"
          style="margin-left: 10px; text-algin: right"
          show-quick-jumper
          size="small"
          :total="state.pagination.total"
          :show-total="(total, range) => `显示${range[0]}-${range[1]} 条记录，共 ${total} 条记录`"
          @change="onPageChange"
        />
      </div>
    </div>
    <!-- 第一道防线 -->
    <DataPush
      v-if="state.lineOfDefenseTypeFlag === '1'"
      ref="pushRef"
      :models-detail-heads="state.modelsDetailHeads"
      :data="state.clueData"
      :model-data="props.modelData"
      :visible="state.dataPushShow"
      @ok="modalAction(false, '待办推送成功')"
      @cancel="modalAction(false, '待办推送')"
    ></DataPush>
    <!-- 第二道防线 -->
    <secondDataPush
      v-if="state.lineOfDefenseTypeFlag === '2'"
      ref="pushRef"
      :models-detail-heads="state.modelsDetailHeads"
      :data="state.clueData"
      :model-data="props.modelData"
      :visible="state.dataPushShow"
      @ok="modalAction(false, '待办推送成功')"
      @cancel="modalAction(false, '待办推送')"
    ></secondDataPush>
    <!-- 第三道防线 -->
    <thirdDataPush
      v-if="state.lineOfDefenseTypeFlag === '3'"
      ref="pushRef"
      :models-detail-heads="state.modelsDetailHeads"
      :data="state.clueData"
      :model-data="props.modelData"
      :visible="state.dataPushShow"
      @ok="modalAction(false, '待办推送成功')"
      @cancel="modalAction(false, '待办推送')"
    ></thirdDataPush>
    <relevance
      :models-detail-heads="state.modelsDetailHeads"
      :board-id="props.modelData.id"
      :links="state.links"
      :visible="state.relevanceShow"
      @ok="relevanceOk(false)"
      @cancel="relevanceCancel(false)"
    ></relevance>
    <selectDown
      :visible="state.selectDownShow"
      :field-list="state.fields"
      :data-model-id="state.dataModelId"
      :model-name="state.modelName"
      @close="closeSelectDown"
    ></selectDown>
  </div>
</template>

<script setup lang="ts">
  import { reactive, ref, watch, computed, h, nextTick } from 'vue';
  import { useRouter } from 'vue-router';
  import dayjs from 'dayjs';
  import { message as $message } from 'ant-design-vue';
  import DataPush from './dataPush.vue'; // 数据推送
  import thirdDataPush from './thirdDataPush.vue'; // 数据推送
  import secondDataPush from './secondDataPush.vue'; // 数据推送
  import relevance from './relevance.vue'; // 数据推送
  import selectDown from './selectDown.vue'; // 按条件下载弹框
  import { getBoardData, getdetail } from '@/api/supervisionModel';
  import { useSupervisionGovern } from '@/store/modules/supervisionGovern';
  import { queryFilterbtn, QueryFilter } from '@/components/business';
  import dict from '@/utils/dict.js';
  import QueryFieldConvert from '@/utils/query-field-convert.js';
  import { useTable } from '@/components/core/dynamic-table';
  const props = defineProps({
    modelData: { type: Object, default: () => {} },
  });
  const SupervisionGovern = useSupervisionGovern();
  const queryFiltershow = computed(() => SupervisionGovern.queryFiltershow);
  const numType = computed(() => SupervisionGovern.numType);
  const queryFilterbtn1 = ref();
  const conditionFilter = ref();
  const pushRef = ref();
  const router = useRouter();
  const dateFormat = 'YYYY/MM/DD';
  const state = reactive({
    lineOfDefenseTypeFlag: null,
    dataModelId: null,
    selectDownShow: false,
    showChange: false,
    selectedRowKeys: [],
    selectedRowList: [], // 列表选择的数据
    columns: [],
    data: [],
    tableLoading: false,
    // 分页配置
    pagination: {
      pageSizeOptions: ['50', '100', '200', '500'],
      current: 1,
      pageSize: 50,
      total: 0,
      showQuickJumper: true,
      showSizeChanger: true,
      showTotal: (total, range) => `显示 ${range[0]} ~ ${range[1]} 条记录，共 ${total} 条记录`,
    },
    id: '',
    params: {},
    show: true,
    canQuery: true,
    fields: [],
    filters: [],
    layout: {},
    links: [],
    newArr: [],
    newArrColumn: [],
    column: '',
    modelsDetailHeads: [],
    conditionGroups: [],
    loading: false, // 页面是否加载中
    clueData: [], // 处理数据
    dataPushShow: false, // 线索推送
    columnsn: [],
    isTotal: false,
    relevanceShow: false,
    ThreadProcessingLogShow: false,
    tsbj: [
      [
        {
          field: 'notify_status',
          type: 'dict',
          value1: ['1'],
          selectCode: ['1'],
          operatorValue: 'EQ',
          operatorList: [],
          codeList: [
            {
              label: '已推送',
              value: '0',
            },
            {
              label: '未推送',
              value: '1',
            },
            {
              label: '无需推送',
              value: '2',
            },
            {
              label: '部分推送',
              value: '3',
            },
          ],
          name: 'notify_status',
          cName: '推送标记',
          example: '1',
          columnType: '4',
          dictCode: 'PUSH_TAG',
          queryType: 'right',
        },
      ],
    ],
    clzt: [
      [
        {
          field: 'handle_status',
          type: 'dict',
          value1: ['00'],
          selectCode: ['00'],
          operatorValue: 'EQ',
          operatorList: [],
          codeList: [
            {
              label: '未处理',
              value: '00',
            },
            {
              label: '已处理',
              value: '20',
            },
            {
              label: '无需处理',
              value: '10',
            },
            {
              label: '处理中',
              value: '15',
            },
          ],
          name: 'handle_status',
          cName: '处理状态',
          example: '20',
          columnType: '4',
          dictCode: 'handleStatus',
          queryType: 'right',
        },
      ],
    ],
    sorter: [],
  });
  const downLoadFn = () => {
    state.selectDownShow = true;
  };
  const FilterData = () => {
    const filters1 = JSON.parse(JSON.stringify(state.filters));
    const filters = [];
    if (filters1 && filters1.length > 0) {
      filters1.forEach((item) => {
        const list = [];
        item
          .filter((v) => Object.hasOwn(v, 'field'))
          .forEach((v) => {
            let obj = {};
            let val = [];
            // 查询条件子集转化
            if (v.dictCode && v.value1) {
              val = v.value1;
              v.columnType = 1;
            }
            if (v.value1 && v.columnType == 3) {
              v.value1 = dayjs(v.value1).format(dateFormat);
            }
            if (v.value2 && v.columnType == 3) {
              v.value2 = dayjs(v.value2).format(dateFormat);
            }
            if (v.value1 && v.dictCode == null) {
              if (v.columnType == 1) {
                val = v.value1;
              } else {
                val.push(v.value1);
              }
            }
            if (v.value2) {
              val.push(v.value2);
            }
            obj = {
              columnName: v.field,
              filterType: v.operatorValue,
              columnType: v.columnType,
              values: val,
              queryType: v.queryType,
            };
            list.push(obj);
          });
        filters.push(list);
      });
    }
    return filters;
  };
  // 查询条件
  const searchChange = () => {
    state.pagination.current = 1;
    search();
  };
  const search = () => {
    state.selectedRowList = []; // 刷新数据清空已勾选数据
    state.selectedRowKeys = []; // 刷新数据取消默认勾选
    state.tableLoading = true;
    let filters = [];
    filters = FilterData();
    filters = QueryFieldConvert.setConditionValue(filters)[0];
    if (filters == undefined) {
      state.isTotal = true;
    }
    state.params = {
      dataModelId: props.modelData.id,
      pageSize: state.pagination.pageSize,
      pageNum: state.pagination.current,
      queryHistoryTime: 0,
      count: true,
      connectedTable: false,
      sorts: state.sorter,
      filters,
    };
    // 判断是否是监督执纪的列表，如果是需要多表联查
    if (props.modelData.showIf) {
      state.params.connectedTable = true;
      state.params.connectedTableType = 1;
    }
    const params = state.params;
    getdetail(params).then((r) => {
      if (r.data.code == 'OK') {
        state.modelsDetailHeads = r.data.data.modelsDetailHeads;
        const columns: Array<any> = [];
        state.tableLoading = false;
        if (r.data.data) {
          r.data.data.modelsDetailHeads.forEach((item) => {
            //表示没有配置过字段则全部显示
            columns.push({
              sorter: true,
              title: item.columnCname,
              dataIndex: item.columnName,
              key: item.columnName,
              width: 200,
              resizable: true,
              dictCode: item.dictCode || null,
              ellipsis: true,
              customRender: ({ text, record }) => {
                if (item.dictCode != null) {
                  const obj = dict.getValue(item.dictCode, text);
                  text = obj == undefined ? text : obj.itemText;
                }
                const temp = state.newArr.find((x) => x.event === item.columnName);
                let child = h('span', {
                  innerText: text,
                  title: text,
                });
                if (temp && temp != undefined) {
                  child = h('a', {
                    style: { color: 'blue' },
                    innerText: text,
                    onClick: () => {
                      const params = [];
                      let tabCustomName = '';
                      const group = state.newArr.filter((x) => x.key === temp.key);
                      group.forEach((x) => {
                        const p = {
                          targetAlias: x.targetAlias,
                          column: x.column,
                          val: record[x.column],
                        };
                        tabCustomName = record[x.column];
                        params.push(p);
                      });
                      SupervisionGovern.setVisible(false); //调用爷爷的关闭弹框方法
                      router.push({
                        path: '/userAnalyze/dataPreview',
                        query: {
                          params: JSON.stringify(params),
                          boardId: temp.targetId,
                          modelFlag: true,
                          tabCustomName,
                          preview: true,
                        },
                      });
                    },
                  });
                }
                if (temp && temp !== undefined) {
                  return child;
                } else {
                  return text;
                }
              }, //值集回显中文(text, row, index, item) => this.customRenderFn(text, row, index, item)
            });
          });
          let newArr = columns;
          newArr.splice(newArr.findIndex((item) => item.dataIndex == 'model_id', 1));
          newArr = newArr.filter((item) => {
            return item.dataIndex != '_hoodie_commit_seqno';
          });
          state.columns = newArr; //变动的值

          state.data = r.data.data.modelList;
          if (state.data) {
            state.pagination.total = r.data.total;
          }
          let fields: Array<any> = [];
          r.data.data.modelsDetailHeads.forEach((item) => {
            //这里处理的是查询下拉的数据
            fields.push({
              columnCname: item.columnCname,
              columnName: item.columnName,
              key: item.columnName,
              newType: item.columnType,
              example: item.example,
              dictCode: item.dictCode,
              queryType: item.queryType,
            });
          });
          fields = QueryFieldConvert.columnFields2QueryFields(fields);
          fields.splice(
            fields.findIndex((item) => item.name === 'model_id'),
            1,
          );
          fields = fields.filter((item) => {
            return item.name != '_hoodie_commit_seqno';
          });
          state.fields = fields;
          state.isTotal = false;
        } else {
          $message.error(r.data.message);
        }
      } else {
        state.tableLoading = false;
        $message.error(r.data.message);
      }
      state.tableLoading = false;
    });
  };
  const getconf = () => {
    const boardId = props.modelData.id;
    if (boardId) {
      getBoardData({ boardId }).then((r) => {
        if (r.data.success === true) {
          search();
          state.layout = r.data.data.layout;
          if (state.layout.widgets.length > 0) {
            const config = state.layout.widgets[0].config;
            const relations = config.relations;
            if (relations) {
              state.links = relations.links;
            }
            const newArr = [];
            const newArrColumn = [];
            state.links.forEach((item) => {
              item.conditions.forEach((item1) => {
                const temp = Object.assign(
                  { targetId: item.targetId },
                  { column: item1.source.column },
                  { event: item.event },
                  { key: item.key },
                  { targetAlias: item1.linkTarget.targetAlias },
                );
                newArr.push(temp);
                newArrColumn.push(item1.source.column);
              });
            });
            state.newArr = newArr;
            state.newArrColumn = newArrColumn;
          }
        } else {
          $message.error(r.data.message);
        }
      });
    }
  };
  watch(
    () => props.modelData,
    () => {
      state.dataModelId = props.modelData.id;
      state.modelName = props.modelData.modelName;
      if (!numType.value) {
        state.isTotal = true;
      }
      if (numType.value === 'tsbj') {
        conditionFilter.value.setConditionGroups(state.tsbj);
        onConditionChange();
      } else if (numType.value === 'clzt') {
        conditionFilter.value.setConditionGroups(state.clzt);
        onConditionChange();
      }
      getconf();
    },
    { deep: true },
  );
  const onConditionChange = () => {
    if (state.canQuery) {
      state.canQuery = false;
      const filters = conditionFilter.value.getConditionResult();
      state.filters = filters;
      setTimeout(function () {
        state.canQuery = true;
      }, 500);
    }
  };
  const getCheckboxPropsFn = (record) => {
    return {
      disabled: record.handle_status === '15' || record.handle_status === '00', // 禁选项
      name: record.handle_status,
    };
  };
  // 列表选择数据
  const onSelectChange = (selectedRowKeys, list) => {
    state.selectedRowKeys = selectedRowKeys;
    state.selectedRowList = list;
    console.log(state.selectedRowList, 'state.selectedRowList');
  };
  const setConditionFilter = (val) => {
    conditionFilter.value.setConditionGroups(val);
    onConditionChange();
  };
  // 弹窗操作
  const modalAction = (flag, type) => {
    state.lineOfDefenseTypeFlag = sessionStorage.getItem('lineOfDefenseType'); //根据防线打开不同的推送页面
    // 打开弹窗的时候获取数据，减少派发
    nextTick(() => {
      if (flag) {
        state.clueData = state.selectedRowList;
        if (state.clueData.length != 0) {
          state.dataPushShow = flag;
          pushRef.value.onChangeVisable(flag);
          SupervisionGovern.setDataPushshow(flag);
          // 待办推送
        } else {
          $message.error('需要至少选择一条数据！');
        }
      } else {
        state.dataPushShow = flag;
        pushRef.value.onChangeVisable(flag);
        SupervisionGovern.setDataPushshow(flag); //这没啥用-有bug
      }
      if (type === '待办推送成功') {
        // 查询结果集列表，禁用已推送并未处理的数据
        search();
      }
    });
  };

  const resetData = () => {
    queryFilterbtn1.value.resetVal();
    state.params = {};
    state.pagination.current = 1;
    state.pagination.pageSize = 10;
    handlerClear();
    conditionFilter.value.delCondition(0, 0);
    search();
  };
  const handlerClear = () => {
    conditionFilter.value.clearConditionResult();
    const filters = conditionFilter.value.getConditionResult();
    state.filters = filters;
  };
  const closeSelectDown = () => {
    state.selectDownShow = false;
  };
  const shouXiaZ = () => {
    state.relevanceShow = true;
  };
  const relevanceOk = (flag) => {
    getconf();
    state.relevanceShow = flag;
  };
  const relevanceCancel = (flag) => {
    getconf();
    state.relevanceShow = flag;
  };
  // 分页改变
  const onPageChange = (pageNum, pageSize) => {
    state.pagination.current = pageNum;
    state.pagination.pageSize = pageSize;
    search();
  };
  // 表格声明
  const [DynamicTable] = useTable({
    size: 'small',
    search: false,
    rowKey: '_hoodie_record_key',
    bordered: true,
  });
  // 条件查询组件是否展示
  const showChanges = () => {
    queryFilterbtn1.value.handlerShow();
  };
  // 匹配行加底色
  const addRowColor = (record) => {
    // 单元格背景色添加过滤条件，如果以TTL结尾的行，设置背景色record.handle_status === '处理中'
    if (record.handle_status === '15') {
      return 'cell-class';
    }
    return '';
  };
  const changeSorter = (pagination, filters, sorter, { currentDataSource }) => {
    if (sorter.order) {
      state.sorter = [
        {
          columnName: sorter.columnKey,
          sort: sorter.order == 'ascend' ? 'asc' : 'desc',
        },
      ];
    } else {
      state.sorter = [];
    }
    search();
  };
</script>

<style lang="less" scoped>
  .lastResultSet {
    .nullDataView {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 300px;
    }
  }
  /deep/ .ant-table-tbody .cell-class {
    background-color: rgba(211, 211, 211, 0.3);
  }
  .ResultSet {
    display: flex;
    justify-content: space-between;
    .filterbtn {
      display: flex;
      .search-but {
        margin-left: -30%;
        height: 32px;
      }
    }
  }
  .showheigh {
    height: 0px !important;
  }
  /deep/.ant-popover-inner-content {
    height: 150px !important;
    overflow-y: scroll !important;
  }
  /deep/.ant-table-column-title {
    white-space: pre-wrap !important;
  }
  /deep/.ant-table-row-cell-break-word span {
    display: inline-block;
    width: 190px !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
  }
  .btn {
    margin-right: 5px;
  }
  .iconActive {
    color: rgb(24, 144, 255);
    margin-bottom: 5px;
    font-size: 18px;
  }
  .table-solid {
    border: 2px solid #f0f2f5;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .paging {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
</style>
