<!-- 线索推送 -->
<template>
  <div class="dataPush">
    <a-modal
      v-model:visible="dialogFormVisible"
      destroy-on-close
      :footer="null"
      title="推送处理"
      :confirm-loading="state.confirmLoading"
      :mask-closable="false"
      width="800px"
      @ok="handleOk"
      @cancel="cancel"
    >
      <a-form
        :model="state.formState"
        name="basic"
        :label-col="{ span: 8 }"
        :wrapper-col="{ span: 16 }"
        autocomplete="off"
        @finish="onFinish"
        @finishFailed="onFinishFailed"
      >
        <a-form-item
          label="疑似问题关键信息"
          name="data"
          :rules="[{ required: true, message: '请配置数据' }]"
        >
          <a-select
            v-model:value="state.dataTitle"
            disabled
            :class="state.dataTitle.length > 5 ? 'select-scroll' : null"
            mode="multiple"
          >
          </a-select>
        </a-form-item>
        <a-form-item
          label="处理方式"
          name="handWay"
          :rules="[{ required: true, message: '请选择处理方式' }]"
        >
          <a-radio-group v-model:value="state.formState.handWay">
            <a-radio :value="'10'"> 推送处理 </a-radio>
            <a-radio :value="'30'"> 无需推送 </a-radio>
          </a-radio-group>
        </a-form-item>
        <a-form-item v-if="state.formState.handWay == '30'">
          <p class="tip">注：选择无需推送时，业务流程直接关闭</p>
        </a-form-item>
        <a-form-item
          v-if="state.formState.handWay == '10'"
          label="待办接收人"
          name="receiver"
          :rules="[{ required: true, message: '请选择待办接收人' }]"
        >
          <a-cascader
            v-model:value="state.formState.receiver"
            :options="state.transferArr"
            placeholder="请选择"
            change-on-select
            show-search
            @change="changeTreeValue"
          />
        </a-form-item>

        <a-form-item
          v-if="state.formState.handWay == '10'"
          name="notifyWay"
          label="通知方式"
          :rules="[{ required: true, message: '请配置通知方式' }]"
        >
          <a-checkbox-group v-model:value="state.formState.notifyWay">
            <a-checkbox value="0">站内信</a-checkbox>
            <a-checkbox value="1">邮箱</a-checkbox>
          </a-checkbox-group>
        </a-form-item>
        <a-form-item
          v-if="state.formState.handWay == '10'"
          label="推送说明"
          name="sendInfoContent"
          :rules="[{ max: 200, message: '200字符以内' }]"
        >
          <a-textarea
            v-model:value="state.formState.sendInfoContent"
            placeholder="推送说明填写，200字符以内"
            :rows="4"
          />
        </a-form-item>

        <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
          <a-button style="margin-right: 10px" @click="cancel">取消</a-button>
          <a-button :loading="state.confirmLoading" type="primary" html-type="submit"
            >确定</a-button
          >
        </a-form-item>
      </a-form>
    </a-modal>
  </div>
</template>
<script setup lang="ts">
  import { reactive, watch, onMounted, ref, nextTick } from 'vue';
  import { message as $message } from 'ant-design-vue';
  import { getPush, rectifierCasValue } from '@/api/supervisionModel';
  import { getUsers } from '@/api/supervisionGovern';
  const emits = defineEmits(['ok', 'cancel']);
  const dialogFormVisible = ref(false);
  const state = reactive({
    form: {},
    optionsData: [],
    modalVisible: props.visible,
    dataTitle: [],
    users: [], // 用户
    roles: [], // 角色
    transferArr: [],
    receiverItem: '', // 选择接收人
    receiverTree: '', // 选择接收人2
    userIds: [], // 选择用户
    roleIds: [], // 选中角色
    resource: 2,
    validatorRules: {
      notifyWay: {
        // name与v-decorator中属性对应
        initialValue: ['0', '1'], // 初始化值，也就是默认值
        rules: [
          { required: true, message: '请配置通知方式' }, // 此处开启校验必填
        ],
      },
    },
    modelsDetailFlter: props.modelsDetailHeads, // 模型详情过滤条件
    confirmLoading: false,
    formState: {
      data: '',
      receiver: '',
      notifyWay: ['0', '1'],
      sendInfoContent: '',
      treeValue: [],
    },
    receiverDep: '',
  });
  const props = defineProps({
    modelData: { type: Object, default: () => {} },
    data: { type: Array, default: () => [] },
    visible: { type: Boolean, default: () => false },
    modelsDetailHeads: { type: Array, default: () => [] },
  });
  watch(
    () => dialogFormVisible.value,
    (newValue) => {
      if (newValue) {
        nextTick(() => {
          allRoleUsers();
        });
      }
    },
    // { deep: true },
  );
  watch(
    () => props.data,
    (newValue) => {
      if (newValue) {
        queryTitleList();
      }
    },
    { deep: true },
  );
  watch(
    () => props.modelsDetailHeads,
    (newValue) => {
      state.modelsDetailFlter = newValue;
    },
    { deep: true },
  );
  const onFinish = (values: any) => {
    paramsCofig(values);
  };

  const onFinishFailed = (errorInfo: any) => {
    console.log('Failed:', errorInfo);
  };

  const changeTreeValue = (val) => {
    state.receiverDep = val && val.length == 2 ? val[0] : '';
    state.receiverTree = val && val.length == 2 ? val[1] : '';
  };
  // 待办推送
  const dataPush = (params) => {
    state.confirmLoading = true;
    getPush(params)
      .then((res) => {
        state.confirmLoading = false;
        if (res.data.code === 'OK') {
          emits('ok');
          state.formState = {
            receiver: '',
            notifyWay: ['0', '1'],
            sendInfoContent: '',
          };
          if (res.data.data.code == 'RY00') {
            $message.warning(res.data.data.message);
          } else {
            $message.success(res.data.data.data);
          }
        } else {
          $message.error(res.data.message);
        }
      })
      .catch(() => {
        state.confirmLoading = false;
      });
  };
  // 入参配置
  const paramsCofig = (data) => {
    if (state.formState.handWay == '10' && state.receiverTree == '') {
      $message.warning('请选择具体的待办接收人');
    } else {
      const params = {
        ...state.formState,
        keyAndCodes: state.keyAndCodes,
        modelId: props.modelData.id,
        role: state.receiverDep,
        lineOfDefenseType: sessionStorage.getItem('lineOfDefenseType'), // //第几道防线-唐骏
        receiver: state.receiverTree,
      };
      // 数据推送
      dataPush(params);
    }
  };
  // 确认
  const handleOk = () => {
    onFinish();
    state.formState = {
      receiver: '',
      notifyWay: ['0', '1'],
      sendInfoContent: '',
    };
  };
  // 关闭
  const cancel = () => {
    emits('cancel');
  };
  const allRoleUsers = () => {
    console.log(props.modelData);
    const userId = props.modelData.sendTargetUsers;
    getUsers({ sendTargetUsers: userId, role: 'rectification,verification' }).then((r) => {
      state.transferArr = [];
      const arr = r.data.data;
      for (const key in arr) {
        const obj = {
          value: key,
          label: key,
          children: [],
        };
        arr[key].forEach((item) => {
          obj.children.push({
            value: item,
            label: item,
          });
        });
        state.transferArr.push(obj);
      }
    });
  };
  // 获取数据名称加id内容
  const queryTitleList = () => {
    if (Array.isArray(props.data)) {
      state.dataTitle = [];
      state.keyAndCodes = [];
      props.data.forEach((item) => {
        state.dataTitle.push(get_hoodie_record_key(item._hoodie_record_key));
        const staticState = props.modelData.modelType;
        let problemType = '';
        if (staticState === '静态' || staticState === '算法') {
          problemType = item.PROBLEM_TYPE; //静态
        } else if (staticState === '动态') {
          //动态='item.疑似问题'疑似问题可能有可能没有
          problemType = item.hasOwnProperty('疑似问题') ? item.疑似问题 : '';
        }
        state.keyAndCodes.push({
          problemTypeCode: item.PROBLEM_TYPE_CODE || '',
          recordKey: item._hoodie_record_key,
          recordKeyChinese: get_hoodie_record_key(item._hoodie_record_key),
          handleCommitSeqno: item._hoodie_record_key,
          problemType,
        });
      });
    } else {
      state.dataTitle = [props.data._hoodie_record_key];
      state.keyAndCodes = [
        {
          problemTypeCode: props.data.PROBLEM_TYPE_CODE,
          recordKey: props.data._hoodie_record_key,
          recordKeyChinese: get_hoodie_record_key(props.data._hoodie_record_key),
          handleCommitSeqno: props.data._hoodie_record_key,
          problemType: props.data.PROBLEM_TYPE,
        },
      ];
    }
    state.formState.data = state.dataTitle;
  };
  // 获取_hoodie_record_key中文名
  const get_hoodie_record_key = (data) => {
    const staticState = props.modelData.modelType;
    if (staticState === '静态' || staticState === '算法') {
      const primaryKeyList = props.modelData.modelConfig.tablePrimaryKeyList[0].primaryKeyList;
      // 转化二维数组
      const dataList = data.split(',').map((item) => {
        return item.split(':');
      });
      const cData = [];
      // 进行数据配对
      primaryKeyList.forEach((t) => {
        dataList.forEach((j) => {
          if (t.columnName === j[0]) {
            cData.push([[t.columnCName], [j[1]]]);
          }
        });
      });
      // 转回原由格式
      for (const key in cData) {
        cData[key] = cData[key].join(':');
      }
      return cData.join();
    }
    if (staticState === '动态') {
      const primaryKeyList = props.modelsDetailHeads;
      const dataList = data.split(',').map((item) => {
        return item.split(':');
      });

      const cData = [];
      // 进行数据配对
      primaryKeyList.forEach((t) => {
        dataList.forEach((j) => {
          if (t.columnName === j[0]) {
            cData.push([[t.columnCname], [j[1]]]);
          }
        });
      });
      // 转回原由格式
      for (const key in cData) {
        cData[key] = cData[key].join(':');
      }
      return cData.join();
    }
  };

  // 初始化分类下拉数据
  const toCasaderTree = (data) => {
    const ret = {
      value: data.text,
      label: data.title,
      children: [] as any[],
    };
    if (data.children && data.children.length > 0) {
      data.children.forEach((item) => {
        ret.children.push(toCasaderTree(item));
      });
    }
    return ret;
  };
  // 级联数据
  const treeData = () => {
    rectifierCasValue().then((res) => {
      const data = res.data;
      data.forEach((item) => {
        if (item) {
          state.optionsData.push(toCasaderTree(item));
        }
      });
    });
  };
  onMounted(() => {
    treeData();
  });
  const onChangeVisable = (flag) => {
    dialogFormVisible.value = flag;
  };
  defineExpose({ onChangeVisable });
</script>

<style scoped>
  .select-scroll {
    height: 140px !important;
    overflow-y: scroll !important;
  }
  .resource-radio {
    margin-bottom: 20px;
  }
  .resource-radios {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
  }
  .resource-select {
    display: inline-block;
    width: 280px;
  }
  .tip {
    padding-left: 180px;
    color: #888;
  }
</style>
