/* 颜色 */
@primary:#1890ff;
@primary-light:#40a9ff;
@error:#ff4d4f;
@error-light:#ff7875;
@dark: #000;
@gray: #909399;
@gray-light: #ececec;

/* 边距 */
@1x: 8px;
@x: 4px; // 4px
@2x: 2 * @1x;
@3x: 3 * @1x;
@4x: 4 * @1x;
