<template>
  <div class="DragNav">
    <a-card
      v-for="(item, index) in state.list"
      :key="item.widgetId"
      :hoverable="true"
      :body-style="{
        padding: 0,
        background: item.disabledFlag ? '#fff' : '#eee',
        cursor: item.disabledFlag ? 'move' : 'not-allowed',
      }"
      :draggable="item.disabledFlag"
      class="droppable-element"
      @dragstart="dragstart($event, item)"
      @dragend="dragend"
      @dragover.prevent
    >
      <DragView :data="item" @delChart="() => delChart(index)"></DragView>
    </a-card>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch } from 'vue';
  import DragView from './DragView.vue';
  import { kanbanConfigStore } from '@/store/modules/kanbanConfig';
  const store = kanbanConfigStore();
  const props = defineProps(['list']);
  const state = reactive({
    list: store.dragNavListCount,
  }) as any;
  watch(
    () => props.list,
    (newVal) => {
      state.list = newVal;
      state.list.forEach((item) => {
        item.disabledFlag = true;
        item.imgUrl = require(`@/assets/images/chartImgs/${item.chartType}.png`);
        store.kanbanData.forEach((kItem) => {
          if (item.widgetId === kItem.widgetId) {
            item.disabledFlag = false;
          }
        });
      });
      store.dragNavList = state.list;
    },
  );
  const dragstart = (el, item) => {
    el.dataTransfer.setData('drag-widgetId', item.widgetId);
    el.dataTransfer.setData('drag-widgetName', item.widgetName);
  };

  const dragend = (el) => {
    el.dataTransfer.clearData(); //拖拽事件结束，清除消息
    state.list.forEach((item) => {
      item.disabledFlag = true;
      store.kanbanData.forEach((kItem) => {
        if (item.widgetId === kItem.widgetId) {
          item.disabledFlag = false;
        }
      });
    });
  };
  const delChart = (index) => {
    state.list.splice(index, 1);
  };
</script>

<style lang="less" scoped>
  .DragNav {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
</style>
