<template>
  <div :class="['navList', state.isCollapsed ? 'navList-collapsed' : '']">
    <div class="action">
      <a-button
        v-if="state.isCollapsed"
        type="primary"
        :style="{ 'margin-left': '0px' }"
        @click="
          () => {
            state.isCollapsed = !state.isCollapsed;
          }
        "
        ><MenuUnfoldOutlined v-if="state.isCollapsed" /> <MenuFoldOutlined v-else />
      </a-button>
      <a-button
        v-else
        type="primary"
        :style="{ 'margin-left': '-46px' }"
        @click="
          () => {
            state.isCollapsed = !state.isCollapsed;
          }
        "
        ><MenuUnfoldOutlined v-if="state.isCollapsed" /> <MenuFoldOutlined v-else />
      </a-button>
      <a-button v-show="!state.isCollapsed" type="primary" danger @click="saveKanban"
        >保存看板</a-button
      >
      <a-button v-show="!state.isCollapsed" type="primary" @click="empty">清空看板</a-button>
      <a-button
        v-show="!state.isCollapsed"
        v-if="$route.query.toPage === 'modal'"
        type="primary"
        @click="() => jumpChart()"
      >
        新建图表
      </a-button>
    </div>
    <QueryCharts v-show="!state.isCollapsed" @query="queryList"></QueryCharts>
    <DragNav v-show="!state.isCollapsed" :list="state.list"></DragNav>
  </div>
</template>

<script setup lang="ts">
  import { reactive } from 'vue';
  import { useRouter, useRoute } from 'vue-router';
  import QueryCharts from './QueryCharts.vue';
  import DragNav from './DragNav.vue';
  import { getWidgetList, saveBoard } from '@/api/userAnalyze/kanbanConfig'; // api 接口
  import { kanbanConfigStore } from '@/store/modules/kanbanConfig';
  const store = kanbanConfigStore();
  const $router = useRouter();
  const $route = useRoute();
  const state = reactive({ list: [], isCollapsed: false });
  const queryList = async (widgetName = '') => {
    // 默认进来是自主分析页面
    let params = {
      status: '10',
      type: '10',
      usePage: false,
      widgetName,
    } as any;
    // 兼容模型列表过来的数据
    if ($route.query.toPage === 'modal') {
      params = { dataModelId: $route.query.id, type: '20', widgetName: '' };
    }
    const data = await getWidgetList(params);
    if (data.code === 'OK') {
      state.list = JSON.parse(JSON.stringify(data.data));
    }
  };
  defineExpose({ queryList });

  const empty = () => {
    store.kanbanData = [];
    store.dimIdMap = [];
    store.updataDataList = [];
    store.dragNavList.forEach((item) => {
      item.disabledFlag = true;
    });
  };
  const saveKanban = () => {
    store.boardData.layout = { ...store.boardData.layout, widgets: store.kanbanData };
    //  兼容模型，如果过来的数据是没有看板的那么创建看板
    if ($route.query.boardId === 'init') {
      store.boardData.boardId = null;
      store.boardData.boardType = '30';
      store.boardData.boardName = $route.query.modelName;
      store.boardData.modelId = $route.query.id;
    }
    console.log(store.boardData, 'store.boardData');
    saveBoard(store.boardData).then(() => {
      // 保存后返回上一个页面
      // $router.go(-1);
    });
  };
  const jumpChart = (widgetId) => {
    $router.push({
      path: '/userAnalyze/ChartConfigurations',
      query: {
        widgetId: widgetId || 'init',
        toPage: 'modal',
        id: $route.query.id,
        dataSetIds: $route.query.dataSetIds,
      } as any,
    });
  };
</script>

<style lang="less" scoped>
  .navList {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition-property: width;
    transition-duration: 0.5s;
    .action {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10%;
    }
  }
  .navList-collapsed {
    width: 52px !important;
    min-width: unset !important;
    transition-property: width;
    transition-duration: 0.5s;
  }
</style>
