<template>
  <div class="NameConfig">
    <a-input v-model:value="store.page.widgetName" placeholder="图表名称，不能为空" />
  </div>
</template>

<script setup lang="ts">
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  const store = chartConfigurations();
  defineOptions({ name: 'NameConfig' });
</script>

<style lang="less" scoped>
  .NameConfig {
    display: flex;
    padding: 8px;
    .ant-input {
      // width: 160px;
      border: none;
      border-bottom: 1px solid #aaa;
    }
  }
</style>
