<template>
  <div class="panel">
    <a-row v-for="(kv, index) in list" :key="index" class="grid-row">
      <template v-for="(item, i) in kv" :key="i">
        <a-col :span="24 / props.cols">
          <a-row class="grid-row-cell">
            <a-col :span="9" class="grid-row-cell-left">
              <div class="grid-row-cell-left-content">{{ item.key }}</div>
            </a-col>
            <a-col :span="15" class="grid-row-cell-right">
              <div class="grid-row-cell-right-content">
                <Tooltip placement="topLeft">
                  <template #title>{{ item.value }}</template>
                  {{ item.value }}
                </Tooltip></div
              ></a-col
            >
          </a-row>
        </a-col>
      </template>
    </a-row>
  </div></template
>

<script lang="ts" setup>
  import { computed } from 'vue';
  import { chunk } from 'lodash-es';
  import { Tooltip } from 'ant-design-vue';

  defineOptions({
    name: 'Table',
  });

  const props = defineProps({
    records: {
      type: Array,
      default: () => [],
    },
    cols: {
      required: true,
      type: Number,
      default: 3,
    },
  });
  const list = computed(() => {
    let temps: any = [];
    if (props.records.length > 0) {
      temps = chunk(props.records, props.cols);
    }
    return temps;
  });
</script>

<style scoped lang="less">
  .panel {
    border-top: 1px solid #e9eaee;
    border-left: 1px solid #e9eaee;
  }
  .grid-row {
    height: 48px;
    line-height: 48px;
  }
  .grid-row-cell-left {
    text-align: center;
    .grid-row-cell-left-content {
      background-color: #fafafa;
      border-right: 1px solid #e9eaee;
      border-bottom: 1px solid #e9eaee;
      height: 46px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .grid-row-cell-right {
    .grid-row-cell-right-content {
      padding-left: 12px;
      padding-right: 12px;
      border-right: 1px solid #e9eaee;
      border-bottom: 1px solid #e9eaee;
      height: 46px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
</style>
