<template>
  <div class="page-container">
    <div class="page-container-search">
      <div>
        <QueryFilterbtn
          ref="queryFilterbtn"
          :filters="state.filters1"
          @setConditionFilter="setConditionFilter"
        ></QueryFilterbtn>
        <!-- <QueryFilterNew
          ref="QueryFilter"
          :visible="state.show"
          :field-list="state.fields"
          :isadd-condition-group="false"
          :class="state.show ? null : 'showheigh'"
          @change="onConditionChange"
        ></QueryFilterNew> -->
        <QueryFilter
          ref="conditionFilter"
          :isadd-condition-group="false"
          :visible="queryFiltershow"
          :field-list="state.fields"
          @change="onConditionChange"
        ></QueryFilter>
      </div>
      <div class="search-flex">
        <a-button type="primary" @click="search"> 查询</a-button>
        <a-button class="resetButton" type="danger" @click="resetData">重置</a-button>
        <a-button type="primary" class="btn" @click="downLoadFn"> 下载 </a-button>
      </div>
    </div>

    <div :style="{ '--winHeight': winHeight + 'px' }">
      <a-table
        ref="TableInfo"
        :columns="state.columns"
        bordered
        :scroll="{ x: 2000, y: winHeight }"
        :data-source="state.dataSource"
        :pagination="state.pagination"
        :loading="state.loading"
        :row-key="(record) => record.setIds"
        @change="pagingChange"
        @resize-column="handleResizeColumn"
      >
      </a-table>
    </div>
    <selectDown
      :visible="state.selectDownShow"
      :field-list="state.fields"
      @close="closeSelectDown"
      @closeInfo="onClose"
    ></selectDown>
  </div>
</template>

<script setup lang="tsx">
  import { ref, reactive, onMounted, onBeforeMount, computed, nextTick, watch } from 'vue';
  import { useRoute } from 'vue-router';
  import dayjs from 'dayjs';
  import { message as $message } from 'ant-design-vue';
  import selectDown from './selectDown.vue'; // 按条件下载弹框
  import QueryFilterbtn from './queryFilterbtn.vue';
  // import { QueryFilterNew } from '@/components/business';
  import { QueryFilter } from '@/components/business';
  import QueryFieldConvert from '@/utils/query-field-convert.js';
  import { getDatasetPreview } from '@/api/dataAdministration/dataset';
  import { useSupervisionGovern } from '@/store/modules/supervisionGovern';
  import { useSetManagement } from '@/store/modules/setManagement';
  import dict from '@/utils/dict.js';
  const store = useSetManagement();
  const dateFormat = 'YYYY/MM/DD';
  const SupervisionGovern = useSupervisionGovern();
  const queryFiltershow = computed(() => SupervisionGovern.queryFiltershow);
  // const QueryFilter = ref();
  const state = reactive({
    show: true,
    canQuery: true,
    fields: [],
    filters: [],
    filters1: [],
    params: {},
    columns: [],
    dataSource: [],
    loading: false,
    recordId: '',
    selectDownShow: false,
    pagination: {
      // 分页配置
      pageSizeOptions: ['10', '20', '30', '40', '50'],
      current: 1,
      pageSize: 20,
      showQuickJumper: true,
      showSizeChanger: true,
      showTotal: (total, range) => `显示 ${range[0]} ~ ${range[1]} 条记录，共 ${total} 条记录`,
    },
  });
  const emit = defineEmits(['cancel']);
  const route = useRoute();
  const queryFilterbtn = ref(null);
  const conditionFilter = ref(null);
  const onConditionChange = () => {
    if (state.canQuery) {
      state.canQuery = false;
      state.filters = conditionFilter.value.getConditionResult();
      state.filters1 = conditionFilter.value.getConditionResult();
      // state.filters = QueryFilter.value.getConditionResult();
      // state.filters1 = QueryFilter.value.getConditionResult();
      // 防止频繁请求
      setTimeout(function () {
        state.canQuery = true;
      }, 500);
    }
  };
  // 可伸缩列表
  const handleResizeColumn = (w, col) => {
    col.width = w;
  };

  const search = async () => {
    let filters = [];
    filters = filterData();
    state.filters = QueryFieldConvert.setConditionValue(filters)[0] || [];
    loadData();
  };
  const resetData = () => {
    state.params = {};
    state.pagination.current = 1;
    state.pagination.pageSize = 10;
    resetQ();
    queryFilterbtn.value.resetVal(state.recordId);
    // state.filters1 = [];
    state.filters = [];
    loadData();
  };
  const resetQ = () => {
    const arr = [
      [
        {
          field: '',
          type: 'text',
          value1: '',
          selectCode: [],
          operatorValue: 'CT',
          operatorList: [],
          name: '',
          cName: '',
          example: null,
          columnType: '1',
          dictCode: null,
        },
      ],
    ];
    conditionFilter.value.setConditionGroups(arr);
    conditionFilter.value.clearConditionResult();
    state.filters = conditionFilter.value.getConditionResult();
  };
  // 分页操作
  const pagingChange = (selectedRowKeys) => {
    // 分页改变
    state.pagination.current = selectedRowKeys.current;
    state.pagination.pageSize = selectedRowKeys.pageSize;
    search();
  };
  const filterData = () => {
    const filters1 = JSON.parse(JSON.stringify(state.filters1));
    const filters = [];
    if (filters1 && filters1.length > 0) {
      filters1.forEach((item) => {
        const list = [];
        item
          .filter((v) => Object.hasOwn(v, 'field'))
          .forEach((v) => {
            let obj = {};
            let val = [];
            if (v.value1 && v.columnType == 3) {
              v.value1 = dayjs(v.value1).format(dateFormat);
            }
            if (v.value2 && v.columnType == 3) {
              v.value2 = dayjs(v.value2).format(dateFormat);
            }
            if (v.value1) {
              if (v.columnType == 1) {
                val = v.value1;
              } else {
                val.push(v.value1);
              }
            }
            if (v.value2) {
              val.push(v.value2);
            }
            obj = {
              columnName: v.field,
              columnType: v.columnType,
              filterType: v.operatorValue,
              values: val,
            };
            list.push(obj);
          });
        filters.push(list);
      });
    }
    return filters;
  };
  const loadData = () => {
    state.params = {
      id: state.recordId,
      pageNum: state.pagination.current,
      pageSize: state.pagination.pageSize,
      filters: state.filters,
    };
    const params = state.params;
    state.loading = true;
    getDatasetPreview({ ...params }).then((r) => {
      const columns: Array<any> = [];
      if (r.data) {
        r.data.modelsDetailHeads.forEach((item) => {
          columns.push({
            title: item.columnCname,
            dataIndex: item.columnName,
            key: item.columnName,
            width: 180,
            ellipsis: true,
            resizable: true,
            dictCode: item.dictCode || null,
            customRender: ({ text }) => {
              if (item.dictCode != null) {
                const obj = dict.getValue(item.dictCode, text);
                text = obj == undefined ? text : obj.itemText;
              }
              return text;
            },
          });
        });
        state.columns = columns;
        state.dataSource = r.data.modelList;
        if (state.dataSource) {
          const pagination = { ...state.pagination };
          pagination.total = r.total;
          state.pagination = pagination;
        }
        let fields: Array<any> = [];
        r.data.modelsDetailHeads.forEach((item) => {
          fields.push({
            columnCname: item.columnCname,
            columnName: item.columnName,
            key: item.columnName,
            newType: item.columnType,
            example: item.example,
          });
        });
        fields = QueryFieldConvert.columnFields2QueryFields(fields);
        state.fields = fields;
        state.loading = false;
      } else {
        state.loading = false;
      }
    });
  };
  const downLoadFn = () => {
    state.selectDownShow = true;
  };
  const closeSelectDown = () => {
    state.selectDownShow = false;
  };
  const onClose = () => {
    state.recordId = '';
    emit('cancel');
  };
  const setConditionFilter = (val) => {
    conditionFilter.value.setConditionGroups(val);
    onConditionChange();
  };
  //页面更改
  const winHeight = ref(0);
  onBeforeMount(() => {
    const h = document.documentElement.clientHeight;
    winHeight.value = h - 400;
  });
  watch(
    () => route.query,
    (val) => {
      if (val.passValue && val.recordValue) {
        //判断当前路由参数，避免影响其他页面
        store.setModelData(JSON.parse(val.recordValue)); //重新缓存，解决切换页面条件不更新
        sessionStorage.setItem('modelDataInfo', val.recordValue);
      }
    },
    { deep: true },
  );
  onMounted(() => {
    state.recordId = route.query.passValue;
    nextTick(() => {
      queryFilterbtn.value.resetVal();
      loadData();
    });
  });
</script>
<style lang="less" scoped>
  .page-container {
    width: 100%;
    padding: 0px 10px 0 10px;
    /deep/.ant-table-body {
      height: var(--winHeight);
    }
    .page-container-search {
      display: flex;
      justify-content: space-between;
    }
    .search-flex {
      display: flex;
      align-items: center;
      .resetButton {
        margin: 0 10px;
      }
    }
  }
</style>
