<template>
  <div>
    <a-button @click="handlerShow">展开</a-button>
    <a-button @click="saveSearch">保存查询</a-button>
    <a-select
      v-model:value="state.val"
      :allow-clear="true"
      show-search
      option-filter-prop="label"
      placeholder="请选择查询条件"
      style="width: 160px"
      @change="changeS"
      @select="changeSearch"
    >
      <a-select-option v-for="(item, index) in state.modelConfig" :key="index" :value="item.name">
        {{ item.name }}
      </a-select-option>
    </a-select>
    <delete-outlined
      v-if="state.val"
      :style="{ fontSize: '16px', color: 'red' }"
      @click="delModalBtn"
    />
    <!-- 保存查询弹框 -->
    <a-modal v-model:visible="state.saveSearchmodal" :mask-closable="false" :footer="null">
      <a-form
        :rules="rules"
        :model="state.form"
        :label-col="{ span: 5 }"
        :wrapper-col="{ span: 12 }"
        @finish="onFinish"
        @finish-failed="onFinishFailed"
      >
        <a-form-item label="查询条件名称" name="note">
          <a-input v-model:value="state.form.note" />
        </a-form-item>
        <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
          <a-button @click="handleCancel">取消</a-button>
          <a-button type="primary" html-type="submit">确定</a-button>
        </a-form-item>
      </a-form>
    </a-modal>
    <!-- 删除确认弹框 -->
    <a-modal
      v-model:visible="state.delModal"
      title="删除确认"
      :mask-closable="false"
      @ok="delOk"
      @cancel="delCancel"
    >
      <div>
        <p>你确认要删除吗？</p>
        <p>数据删除后将无法进行恢复 请谨慎操作！</p>
      </div>
    </a-modal>
  </div>
</template>

<script lang="ts" setup>
  import { reactive } from 'vue';
  import dayjs from 'dayjs';
  import { message as $message } from 'ant-design-vue';
  import { dataTable, dataSetItem } from '@/api/supervisionModel';
  import { useSupervisionGovern } from '@/store/modules/supervisionGovern';
  import { useSetManagement } from '@/store/modules/setManagement';
  const store = useSetManagement();
  defineOptions({
    name: 'queryFilterbtn',
    inheritAttrs: false,
  });
  const emits = defineEmits(['setConditionFilter', 'resetData']);
  const SupervisionGovern = useSupervisionGovern();
  const props = defineProps({
    filters: {
      type: Array,
      default: () => {
        return [];
      },
    },
  });
  const state = reactive({
    show: false,
    saveSearchmodal: false,
    val: undefined,
    modelConfig: [],
    modelConfigClone: [],
    conditionGroups: [],
    delModal: false,
    id: '',
    form: { note: '' },
  });
  const rules = reactive({
    note: [{ required: true, message: '查询条件名称不能为空!', trigger: 'blur' }],
  });
  const handlerShow = () => {
    state.show = !state.show;
    SupervisionGovern.setQueryFiltershow(!state.show);
  };
  const saveSearch = () => {
    state.form.note = '';
    state.saveSearchmodal = true;
  };
  const handleCancel = () => {
    state.saveSearchmodal = false;
  };
  const onFinish = async () => {
    let flag = true;
    if (state.modelConfigClone.length > 0) {
      flag = state.modelConfigClone.every((v) => v.name !== state.form.note);
    }
    if (!flag) {
      $message.error('查询条件名称不能重复！');
      return;
    }
    if (props.filters.length === 0) {
      $message.error('筛选条件不能为空！');
      return;
    }
    const params = {
      id: store.modelData.id,
      filters: state.modelConfigClone,
    };
    params.filters.push({
      name: state.form.note,
      filter: props.filters[0],
    });
    const res = await dataTable(params);
    if (res.code === 'OK') {
      search();
    }
    state.saveSearchmodal = false;
  };
  const onFinishFailed = () => {
    console.log('表单校验未通过');
  };
  const changeSearch = (val) => {
    // 下拉框选择事件
    state.val = val;
    state.modelConfig.forEach((v) => {
      if (v.name === val) {
        state.conditionGroups[0] = v.filter;
      }
    });
    state.conditionGroups.forEach((v) => {
      v.forEach((j) => {
        if (j.columnType == 3) {
          if (j.value1) {
            j.value1 = dayjs(j.value1);
          }
          if (j.value2) {
            j.value2 = dayjs(j.value2);
          }
        }
      });
    });
    emits('setConditionFilter', state.conditionGroups);
  };
  // 删除确认弹框事件
  const delModalBtn = () => {
    state.delModal = true;
  };
  const delOk = () => {
    const newmodelConfigClone = state.modelConfigClone.filter((v) => {
      return v.name !== state.val;
    });
    const params = {
      id: store.modelData.id,
      filters: newmodelConfigClone,
    };
    dataTable(params).then(() => {
      emits('resetData');
      search();
      state.val = undefined;
      state.delModal = false;
    });
  };
  const delCancel = () => {
    state.delModal = false;
  };
  const search = async () => {
    const res = await dataSetItem({ id: store.modelData.id });
    if (res.code === 'OK' && res.data.filters) {
      const dataJson = JSON.parse(res.data.filters);
      if (dataJson) {
        state.modelConfig = JSON.parse(res.data.filters);
        state.modelConfigClone = JSON.parse(JSON.stringify(state.modelConfig));
        store.modelConfig = state.modelConfig;
      } else {
        state.modelConfig = [];
        state.modelConfigClone = [];
        store.modelConfig = [];
      }
    } else {
      state.modelConfig = [];
      state.modelConfigClone = [];
      store.modelConfig = [];
    }
  };
  const changeS = (val) => {
    if (val == undefined || val == '') {
      emits('resetData');
    }
  };
  const resetVal = (id) => {
    state.val = undefined;
    // state.id = id;
    search();
  };
  defineExpose({
    resetVal,
  });
</script>

<style></style>
