<template>
  <div class="relevance">
    <a-modal
      v-model:visible="state.modalVisible"
      title="下载范围选择"
      :mask-closable="false"
      width="800px"
      :confirm-loading="state.confirmLoading"
      @ok="handleOk"
      @cancel="cancel"
    >
      <a-radio-group v-model:value="state.selectDownRadio">
        <a-radio :value="1" :style="state.radioStyle"> 全部 </a-radio>
        <div>
          <a-radio :value="2" :style="state.radioStyle"> 已保存的条件</a-radio>
          <a-select
            :allow-clear="true"
            show-search
            option-filter-prop="label"
            placeholder="请选择查询条件"
            style="width: 160px"
            @change="modelConfigChange"
          >
            <a-select-option
              v-for="(item, index) in store.modelConfig"
              :key="index"
              :value="item.name"
            >
              {{ item.name }}
            </a-select-option>
          </a-select>
        </div>
        <a-radio :value="3" :style="state.radioStyle"></a-radio>
      </a-radio-group>
      <div style="position: relative; top: -40px; left: 20px">
        <QueryFilter
          ref="conditionFilter"
          :visible="true"
          :field-list="props.fieldList"
          :isadd-condition-group="false"
          :class="'showheigh'"
          @change="onConditionChange"
        ></QueryFilter>
      </div>
      <div class="tips">
        注：点击确定到文件下载中心查看文件；<br />
        因下载的文件表字段受到数据权限控制，每个人生成的文件数据会有差异
      </div>
    </a-modal>
    <a-modal v-model:visible="state.downloadVisible" :title="null" :footer="null">
      <p>点击确定到数据中心下载文件</p>
      <a-button style="margin-left: 85%" type="primary" @click="handleOkTip"> 确定 </a-button>
    </a-modal>
  </div>
</template>
<script setup lang="ts">
  import { reactive, ref, watch } from 'vue';
  import { useRouter } from 'vue-router';
  import { debounce } from 'lodash-es';
  import { message as $message } from 'ant-design-vue';
  import { QueryFilter } from '@/components/business';
  import { byDbtwo } from '@/api/supervisionModel';
  import QueryFieldConvert from '@/utils/query-field-convert.js';
  import { useSetManagement } from '@/store/modules/setManagement';
  const emits = defineEmits(['close', 'closeInfo']);
  const store = useSetManagement();
  const props = defineProps({
    visible: { type: Boolean, default: () => false },
    fieldList: { type: Array, default: () => [] },
  });
  const conditionFilter = ref();
  const state = reactive({
    confirmLoading: false,
    modalVisible: false,
    downloadVisible: false,
    selectDownRadio: 1,
    fields: [],
    filters: [],
    ModelConfigfilters: [],
    radioStyle: {
      display: 'inline-block',
      height: '45px',
      lineHeight: '30px',
    },
  });
  watch(
    () => props.visible,
    (val) => {
      if (val) {
        state.modalVisible = val;
      }
    },
  );
  const searchSqlFn = debounce(() => {
    if (
      (state.selectDownRadio == 2 && state.ModelConfigfilters.length == 0) ||
      (state.selectDownRadio == 3 && state.filters.length == 0)
    ) {
      $message.warning('请选择数据后再点击下载');
      return false;
    }
    const params = {
      downloadDataType: 'dataset',
      fileName: store.modelData.tableCname,
      datasetPreviewVo: {
        id: store.modelData.id,
        filters: state.selectDownRadio == 2 ? state.ModelConfigfilters : state.filters,
      },
    };
    state.confirmLoading = true;
    try {
      byDbtwo(params).then((r) => {
        if (r.success) {
          state.confirmLoading = false;
          state.downloadVisible = true;
        } else {
          state.confirmLoading = false;
          $message.error(r.message);
        }
      });
    } catch (error) {
      return Promise.reject(error);
    } finally {
      state.confirmLoading = false;
    }
  }, 500);
  // 确认
  const handleOk = async () => {
    searchSqlFn();
  };
  const router = useRouter();
  const handleOkTip = () => {
    cancel();
    state.downloadVisible = state.confirmLoading = false;
    emits('closeInfo');
    setTimeout(() => {
      router.push({
        path: '/dataAdministration/downloadcenter/DownloadCenter',
      });
    }, 200);
  };
  // 关闭
  const cancel = () => {
    state.modalVisible = false;
    emits('close');
  };
  const modelConfigChange = (val) => {
    const obj = store.modelConfig.find((item) => item.name == val);
    const filtersMap = FilterData([obj.filter]);
    state.ModelConfigfilters = QueryFieldConvert.setConditionValue(filtersMap)[0] || [];
    // console.log('组装的数据11111', state.ModelConfigfilters);
  };
  const onConditionChange = () => {
    const filters = conditionFilter.value.getConditionResult();
    const filtersMap = FilterData(filters);
    state.filters = QueryFieldConvert.setConditionValue(filtersMap)[0] || [];
    // console.log('组装的数据', filters, state.filters);
  };
  const FilterData = (arr) => {
    const filters1 = JSON.parse(JSON.stringify(arr));
    const filters = [];
    if (filters1 && filters1.length > 0) {
      filters1.forEach((item) => {
        const list = [];
        item.forEach((v) => {
          let obj = {};
          let val = [];
          // 查询条件子集转化
          if (v.dictCode && v.value1) {
            val = v.value1;
            v.columnType = 1;
          }
          if (v.value1 && v.columnType == 3) {
            v.value1 = dayjs(v.value1).format(dateFormat);
          }
          if (v.value2 && v.columnType == 3) {
            v.value2 = dayjs(v.value2).format(dateFormat);
          }
          if (v.value1 && v.dictCode == null) {
            if (v.columnType == 1) {
              val = v.value1;
            } else {
              val.push(v.value1);
            }
          }
          if (v.value2) {
            val.push(v.value2);
          }
          obj = {
            columnName: v.field,
            filterType: v.operatorValue,
            columnType: v.columnType,
            values: val,
            queryType: v.queryType,
          };
          list.push(obj);
        });
        filters.push(list);
      });
    }
    return filters;
  };
</script>
<style lang="less" scoped>
  .showheigh {
    height: 0px !important;
  }
  .tips {
    color: #999;
    padding-left: 30px;
  }
</style>
