<template>
  <div class="page-container">
    <DynamicTable
      row-key="pkId"
      header-title="数据源管理"
      :data-request="loadTableData"
      :columns="columns"
      bordered
      auto-height
      :scroll="{ y: 300 }"
      size="small"
      :custom-row="
        (record) => {
          return {
            onDblclick: () => {
              checkData(record);
            },
          };
        }
      "
    >
      <template #toolbar>
        <a-button type="primary" :disabled="!$auth('businessDataSource:add')" @click="add">
          新增数据源
        </a-button>
      </template>
    </DynamicTable>
    <a-modal
      v-if="data.dialog.visible"
      v-model:visible="data.dialog.visible"
      :title="data.dialog.title"
      :confirm-loading="data.dialog.confirmLoading"
      :mask-closable="false"
      @cancel="handleCancel(formDataRef)"
    >
      <a-form
        ref="formDataRef"
        :model="data.formData"
        name="basic"
        :label-col="{ span: 8 }"
        :wrapper-col="{ span: 16 }"
        autocomplete="off"
        :rules="data.rules"
      >
        <a-form-item label="数据源类型" name="type">
          <a-select
            v-model:value="data.formData.type"
            filter-option
            allow-clear
            :disabled="data.dialog.type === 'check'"
            placeholder="请选择数据源"
            @change="
              (e) => {
                if (e === '2') {
                  data.rules['schema'] = [
                    { required: true, message: '请输入逻辑分区', trigger: 'blur' },
                  ];
                } else {
                  delete data.rules['schema'];
                  formDataRef.clearValidate(['schema']);
                }
              }
            "
          >
            <a-select-option v-for="field in data.options" :key="field.label" :value="field.label">
              {{ field.value }}
            </a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item label="数据源名称" name="name">
          <a-input
            v-model:value="data.formData.name"
            :disabled="data.dialog.type === 'check'"
            placeholder="仅支持中文、英文、数字、“_”，100个字符以内，不允许重复"
            :maxlength="100"
          />
        </a-form-item>
        <a-form-item label="描述" name="note">
          <a-textarea
            v-model:value="data.formData.note"
            type="textarea"
            :disabled="data.dialog.type === 'check'"
            placeholder="对当前新建数据源的注释说明，200字符以内"
            :maxlength="200"
            show-count
          />
        </a-form-item>
        <a-form-item label="IP" name="host">
          <a-input
            v-model:value="data.formData.host"
            :disabled="data.dialog.type === 'check'"
            placeholder="请输入IP地址"
          />
        </a-form-item>
        <a-form-item label="端口" name="port">
          <a-input-number
            v-model:value="data.formData.port"
            :disabled="data.dialog.type === 'check'"
            placeholder="请输入端口"
            :controls="false"
            :min="0"
            :max="65535"
          />
        </a-form-item>
        <a-form-item label="数据库" name="database">
          <a-input
            v-model:value="data.formData.database"
            :disabled="data.dialog.type === 'check'"
            placeholder="数据源所属数据库名称，按实际情况填写"
          />
        </a-form-item>
        <a-form-item label="逻辑分区" name="schema">
          <a-input
            v-model:value="data.formData.schema"
            :disabled="data.dialog.type === 'check'"
            placeholder="请输入"
          />
        </a-form-item>
        <a-form-item label="用户名" name="username">
          <a-input
            v-model:value="data.formData.username"
            :disabled="data.dialog.type === 'check'"
            placeholder="数据源所属用户名，按实际情况填写"
          />
        </a-form-item>
        <a-form-item label="密码" name="password">
          <a-input-password
            v-model:value="data.formData.password"
            :disabled="data.dialog.type === 'check'"
            placeholder="数据源所属密码，按实际情况填写"
          />
        </a-form-item>
        <a-form-item label="JDBC附加参数" name="extraParams">
          <a-textarea
            v-model:value="data.formData.extraParams"
            show-count
            type="textarea"
            :maxlength="200"
            :disabled="data.dialog.type === 'check'"
            placeholder="请输入200字符以内"
          />
        </a-form-item>
      </a-form>

      <template #footer>
        <a-button
          :loading="data.testLoading"
          type="primary"
          @click="testConnect(formDataRef, data.formData)"
          >联通测试</a-button
        >
        <a-button
          v-if="data.dialog.type === 'add' || data.dialog.type === 'copy'"
          type="primary"
          :loading="data.saveLoading"
          @click="saveDataSource(formDataRef, dynamicTableInstance)"
          >保存</a-button
        >
        <a-button
          v-if="data.dialog.type === 'edit'"
          type="primary"
          :loading="data.saveLoading"
          @click="updateDataSource(formDataRef, dynamicTableInstance)"
          >保存</a-button
        >
        <a-button @click="handleCancel(formDataRef)">取消</a-button>
      </template>
    </a-modal>
  </div>
</template>

<script lang="ts" setup>
  import { ref } from 'vue';
  import _ from 'lodash-es';
  import { verifyAuth } from '../../core/permission/index';
  import { baseColumns } from './columns';
  import {
    data,
    loadTableData,
    add,
    saveDataSource,
    updateDataSource,
    handleCancel,
    testConnect,
    checkData,
  } from './methods';
  import { useTable } from '@/components/core/dynamic-table';
  import { useFormModal } from '@/hooks/useModal/useFormModal';

  defineOptions({
    name: 'SystemPermissionRole',
  });

  const formDataRef = ref();
  const [DynamicTable, dynamicTableInstance] = useTable();

  const columns = baseColumns(
    {
      update: verifyAuth('businessDataSource:update'),
      copy: verifyAuth('businessDataSource:copy'),
      delete: verifyAuth('businessDataSource:delete'),
    },
    dynamicTableInstance,
  );
</script>
<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
  /deep/.ant-table-wrapper .ant-table .ant-btn {
    margin-right: unset;
    padding: 0px 8px;
  }
  /deep/.table-action {
    margin: unset;
  }

  /deep/.ant-form-item {
    margin: 0px 0px 20px;
  }

  /deep/.ant-input-number {
    width: 100%;
  }

  /deep/.ant-btn > .anticon + span,
  .ant-btn > span + .anticon {
    margin-left: 5px;
  }
</style>
