<template>
  <div class="page-container">
    <DynamicTable
      header-title="图表列表"
      :data-request="loadTableData"
      :columns="columns"
      auto-height
      :scroll="{ x: 2000, y: 300 }"
    >
      <template #toolbar>
        <a-button type="primary" @click="openModal"> 新增 </a-button>
      </template>
    </DynamicTable>
    <DraggableModal
      v-model:visible="state.visible"
      title="图表预览"
      :width="1000"
      destroy-on-close
      @ok="onOk"
      @resize="modalResize"
    >
      <ChartsView ref="chart" :widget-id="state.widgetId" style="min-height: 500px"></ChartsView>
    </DraggableModal>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref } from 'vue';
  import { useRouter } from 'vue-router';
  import { message as $message } from 'ant-design-vue';
  import ChartsView from '../chartsView/Index.vue';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import { bulletinBoardListSchemas } from './formSchemas';
  import type { LoadDataParams } from '@/components/core/dynamic-table';
  import { useTable } from '@/components/core/dynamic-table';
  import { DraggableModal } from '@/components/core/draggable-modal';
  import {
    getWidgetList,
    saveWidget,
    updateWidge,
    allRoleUsers,
    deleteWidget,
    copyWidget,
    downloadItem,
  } from '@/api/userAnalyze/bulletinBoardList'; // api 接口
  import { useFormModal } from '@/hooks/useModal/index';
  defineOptions({
    name: 'bulletinBoardList',
  });
  const state = reactive({
    visible: false,
    widgetId: '',
  });
  const $router = useRouter();
  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    rowKey: 'bulletinBoardList',
    bordered: true,
  });
  const [showModal] = useFormModal();
  const openModal = async (record: Partial<TableListItem> = {}) => {
    const [formRef] = await showModal<any>({
      modalProps: {
        title: `${record.widgetId ? '编辑' : '新增'}图表`,
        // 点击确定执行
        onFinish: async (values) => {
          const params = {
            dataset: {
              datasetName: values.widgetName,
            },
            resourcesType: values.jurisdiction,
            roleIds: values.roleIds,
            userIds: values.userIds,
            widget: { ...values, type: '10' },
          };
          if (record.widgetId) {
            params.widget.widgetId = record.widgetId;
          }

          const data: any = await (record.widgetId ? updateWidge : saveWidget)(params);
          if (data.code !== 'OK') {
            $message.error(data.message);
          }
          dynamicTableInstance?.reload();
        },
      },
      formProps: {
        labelWidth: 120,
        schemas: bulletinBoardListSchemas,
      },
    });
    const alls = (await allRoleUsers()) as any;
    const allUsers = [] as any;
    for (let i = 0; i < alls.length; i++) {
      if (alls[i].users) {
        for (let j = 0; j < alls[i].users.length; j++) {
          if (allUsers.findIndex((it) => it.value == alls[i].users[j].userId) === -1) {
            allUsers.push({
              key: `${alls[i].users[j].userId}`,
              value: `${alls[i].users[j].userId}`,
              label: alls[i].users[j].username,
            });
          }
        }
      }
    }
    formRef?.updateSchema({
      field: 'userIds',
      componentProps: {
        options: allUsers,
        showSearch: true,
        filterOption: (input: string, option?: any) => {
          return option.label.toLowerCase().indexOf(input.toLowerCase()) >= 0;
        },
      },
    });
    // 王朗：上线需改——后端返回类型number
    if (record.widgetId && record.roleIds && record.roleIds.length) {
      record.roleIds = record.roleIds.map((item) => item * 1);
    }
    if (!record.roleIds) {
      record.roleIds = [];
    }
    if (!record.userIds) {
      record.userIds = [];
    }
    formRef?.setFieldsValue(record);
  };

  const loadTableData = async (params: LoadDataParams) => {
    if (params.datasetId) {
      params.datasetId = `${params.datasetId}`;
    }
    if (!params.pageNum) {
      params.pageNum = 1;
      params.pageSize = 10;
    }
    const data = (await getWidgetList({
      ...params,
      type: '10',
    })) as any;
    return {
      list: data.data,
      pagination: { total: data.total, page: data.pageNum, size: data.pageSize },
    };
  };
  const chart = ref();
  const modalResize = () => {
    if (state.visible) {
      setTimeout(() => {
        chart.value.resize();
      });
    }
  };
  const onOk = () => {
    state.visible = false;
  };
  baseColumns[1].customRender = ({ record }) => {
    return (
      <a
        onClick={() => {
          state.visible = true;
          state.widgetId = record.widgetId;
        }}
        style="color:#1890FF"
      >
        {record.widgetName}
      </a>
    );
  };
  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      width: 150,
      actions: ({ record }) => {
        let actionList = [] as any;
        actionList = [
          {
            label: '图表配置',
            actionType: 'icon',
            icon: 'SettingOutlined',
            style: 'color:#1890ff',
            onClick: () => {
              $router.push({
                path: '/userAnalyze/ChartConfigurations',
                query: { widgetId: record.widgetId, tabCustomName: record.widgetName },
              });
            },
          },
          {
            label: '复制',
            actionType: 'icon',
            icon: 'CopyOutlined',
            style: 'color:#1890ff',
            onClick: () => cloneItem(record),
          },
          {
            label: '编辑',
            actionType: 'icon',
            icon: 'EditOutlined',
            style: 'color:#1890ff',
            onClick: () => openModal(record),
          },
          {
            label: '删除',
            actionType: 'icon',
            style: 'color:#1890ff',
            icon: 'DeleteOutlined',
            popConfirm: {
              title: '你确定要删除吗？',
              placement: 'left', // 因弹出框默认顶部弹出，又在页面边上受到挤压导致，更改弹出方向可解决-弹出框缩到一起
              onConfirm: () => delItem(record),
            },
          },
          {
            label: '下载',
            actionType: 'icon',
            icon: 'DownloadOutlined',
            style: 'color:#1890ff',
            onClick: () => downloadData(record),
          },
        ];

        return actionList;
      },
    },
  ];
  // 下载
  const downloadData = async (record) => {
    await downloadItem(record);
  };
  // 拷贝数据
  const cloneItem = async (record) => {
    await copyWidget({ widgetId: record.widgetId }).finally(dynamicTableInstance?.reload);
  };
  // 删除数据
  const delItem = async (record) => {
    await deleteWidget(record).finally(dynamicTableInstance?.reload);
  };
</script>

<style lang="less" scoped>
  .page-container {
    width: 100%;
  }
</style>
