<template>
  <div class="compositeField">
    <div class="compoundContent">
      <div class="add-group">
        <a-button
          v-if="editEnabled"
          type="link"
          class="filter-node-btn"
          style="justify-content: end"
          @click="addFields"
        >
          <template #icon><PlusCircleOutlined /></template>
          添加复合字段
        </a-button>
      </div>

      <div v-if="state.fiveList.length > 0" class="field">
        <div v-for="(item, index) in state.fiveList" :key="item.key" class="sonField">
          <fieldset>
            <legend>复合字段{{ index + 1 }}</legend>
            <div class="addIns">
              <a-row v-for="(t, i) in item.itemList" :key="t.key">
                <a-col :md="12" :sm="24" style="display: flex; align-items: center">
                  <span class="fieldLabel">C{{ i + 1 }}:</span>
                  <data-set-cascade
                    :width="300"
                    :field-type="['2', '3']"
                    :default-value="[
                      t.field && t.field.tabId > 0 ? t.field.tabId : '',
                      t.field && t.field.colId > 0 ? t.field.colId : '',
                    ]"
                    :change-on-select="false"
                    @on-data-set-change="onDataSetChange(item.key, t.key, i, $event)"
                  >
                  </data-set-cascade>
                  <template v-if="editEnabled">
                    <template v-if="i == 0">
                      <PlusCircleOutlined
                        type="plus-circle"
                        class="filter-del"
                        theme="outlined"
                        @click="addItem(item.key)"
                      />
                    </template>
                    <template v-else>
                      <MinusCircleOutlined
                        type="plus-circle"
                        class="filter-del"
                        theme="outlined"
                        @click="deleteIns(item.key, t.key)"
                      />
                    </template>
                  </template>
                </a-col>
              </a-row>
              <a-radio-group
                v-model:value="item.expType"
                :disabled="!editEnabled"
                style="margin-top: 10px"
                @change="onChange(item.key, $event)"
              >
                <a-row v-if="item.itemList.length > 1">
                  <a-col :md="24" :sm="24">
                    <a-radio :value="1"
                      >基础模式
                      <span v-for="(t, i) in item.itemList" :key="i" class="value-entry"
                        >C{{ i + 1 }}
                        <a-select
                          v-if="i < item.itemList.length - 1"
                          :disabled="!editEnabled || item.expType != 1"
                          :value="
                            state.select[item.key] && state.select[item.key][i]
                              ? state.select[item.key][i].value
                              : '1'
                          "
                          option-label-prop="label"
                          style="width: 60px"
                          @change="onSelect(item.key, i, $event)"
                          @click="(e) => e.preventDefault()"
                        >
                          <a-select-option
                            v-for="ar in state.arithmetic"
                            :key="ar.key"
                            :value="ar.key"
                            :label="ar.value"
                          >
                            {{ ar.value }}
                          </a-select-option>
                        </a-select>
                      </span>
                      <span class="value-entry">的结果,复合字段名:</span>
                      <a-input
                        :disabled="!editEnabled || item.expType != 1"
                        placeholder="复合字段名"
                        style="width: 100px"
                        :max-length="32"
                        :value="item.expType == 1 ? item.colAli : ''"
                        @change="onAliChange(item.key, $event)"
                      >
                      </a-input>
                    </a-radio>
                  </a-col>
                </a-row>
                <a-row>
                  <a-col :md="24" :sm="24">
                    <a-radio :value="2">
                      <div style="width: 620px"
                        >自定义模式
                        <a-textarea
                          :disabled="!editEnabled || item.expType != 2"
                          style="width: 300px"
                          placeholder="请输入表达式,如:(C1*C2-C3+C4)/C5"
                          :value="item.expType == 2 ? item.colExp : ''"
                          :rows="1"
                          @change="onDescChange(item.key, $event)" />
                        <span class="value-entry">的结果,复合字段名:</span>
                        <a-input
                          placeholder="复合字段名"
                          :disabled="!editEnabled || item.expType != 2"
                          style="width: 100px"
                          :max-length="32"
                          :value="item.expType == 2 ? item.colAli : ''"
                          @change="onAliChange(item.key, $event)"
                        >
                        </a-input
                      ></div>
                    </a-radio>
                  </a-col>
                </a-row>
              </a-radio-group>
            </div>
            <div v-if="editEnabled" class="add-value-item">
              <div
                class="add-value-item-row"
                style="color: red; font-size: 15px"
                @click="removeField(item.key)"
              >
                <MinusCircleOutlined type="plus-circle" theme="outlined" />
                <span style="color: red; font-size: 15px; margin-left: 5px">移除复合字段</span>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="tsx">
  import { inject, nextTick, reactive, watch } from 'vue';
  import { PlusCircleOutlined, MinusCircleOutlined } from '@ant-design/icons-vue';
  import { message as $message } from 'ant-design-vue';
  import DataSetCascade from './DataSetCascade.vue';
  import { guid } from '@/utils/guid';
  interface MyData {
    arithmetic: Array<any>;
    fiveList: Array<any>;
    value: number;
    select: any;
    inputAli: any;
    inputDesc: any;
  }
  defineOptions({
    name: 'CompositeField',
  });
  const editEnabled = inject('editEnabled');
  // const editFlag = inject('editFlag');
  const props = defineProps({
    defaultValue: { type: Array, default: () => [] },
  });
  const emit = defineEmits(['noticeExp']);
  const state = reactive<MyData>({
    arithmetic: [
      { key: '1', value: '加' },
      { key: '2', value: '减' },
      { key: '3', value: '乘' },
      { key: '4', value: '除' },
    ],
    fiveList: [],
    value: 1,
    select: {},
    inputAli: {},
    inputDesc: {},
  });
  const onAliChange = (group, e) => {
    let val = e.target.value.replace(/[^a-zA-Z0-9\u4E00-\u9FA5]/g, '');
    if (!isNaN(val)) {
      val = '';
    }
    const index = state.fiveList.findIndex((x) => x.colAli === val);
    if (index >= 0) {
      $message.error('命名不符合规范');
    } else {
      const temp = state.fiveList.find((x) => x.key === group);
      if (temp) {
        temp.colAli = val;
      }
      e.target.value = val;
    }
  };
  const onDescChange = (group, e) => {
    const temp = state.fiveList.find((x) => x.key === group);
    if (temp) {
      temp.colExp = e.target.value;
    }
  };
  const onSelect = (group, key, e) => {
    const select = state.select[group][key];
    if (select) {
      select.value = e;
    }
    // const temp = state.fiveList.find((x) => x.key === group);
    // console.log('32323', temp);
    // if (temp) {
    //   temp.colExp = ''
    // }
  };
  // 添加项
  const addItem = (index) => {
    const temp = state.fiveList.find((x) => x.key === index);
    if (temp) {
      if (temp.itemList.length < 5) {
        const key = guid();
        temp.itemList.push({
          key: `${key}`,
          field: {
            colCname: '',
            colId: 0,
            colName: '',
            identity: '',
            tabCname: '',
            tabId: 0,
            tabName: '',
          },
        });
        const hasOwnProperty = Object.hasOwn(state.select, index);
        if (hasOwnProperty) {
          state.select[index].push({ key, value: '1' });
        }
      } else {
        $message.error('最多支持5项');
      }
    }
  };
  // 删除项
  const deleteIns = (group, key) => {
    const temp = state.fiveList.find((x) => x.key === group);
    if (temp) {
      const index = temp.itemList.findIndex((x) => x.key === key);
      if (index > -1) {
        temp.itemList.splice(index, 1);
        state.select[group].splice(index, 1);
      }
      if (temp.itemList.length == 0) {
        const idx = state.fiveList.findIndex((x) => x.key === group);
        if (idx > -1) {
          state.fiveList.splice(idx, 1);
        }
      }
    }
    // console.log(state.fiveList);
  };
  // 添加字段
  const addFields = () => {
    if (state.fiveList.length < 5) {
      const key = guid();
      state.fiveList.push({
        key: `r-${key}`,
        itemList: [
          {
            key: `${key}`,
            field: {
              colCname: '',
              colId: 0,
              colName: '',
              identity: '',
              tabCname: '',
              tabId: 0,
              tabName: '',
            },
          },
        ],
        colAli: '',
        colExp: '',
        expDesc: [],
        expType: 2,
      });
      // Object.assign(state.select,{`r-${key}`:[]})
      state.select[`r-${key}`] = [];
    } else {
      $message.error('最多支持5个字段');
    }
  };
  // 移除字段
  const removeField = (key) => {
    const index = state.fiveList.findIndex((x) => x.key === key);
    if (index > -1) {
      state.fiveList.splice(index, 1);
    }
  };
  const onChange = (key, e) => {
    const value = e.target.value;
    const node = state.fiveList.find((x) => x.key === key);
    if (node) {
      node.expType = value;
    }
  };
  const onDataSetChange = (groupKey, key, index, e) => {
    console.log(e);
    if (e.length > 1) {
      if (['2', '3'].includes(e[1].newType)) {
        const node = state.fiveList.find((x) => x.key === groupKey);
        if (node) {
          const temp = node.itemList.find((x) => x.key === key);
          if (temp) {
            temp.field = {
              colCname: e[1].cName,
              colId: e[1].id,
              identity: `C${index + 1}`,
              colName: e[1].name,
              tabCname: e[0].cName,
              tabId: e[0].id,
              tabName: e[0].name,
            };
          }
        }
      } else {
        $message.warning('请选择数字类型字段');
      }
    }
  };
  // 获取结果
  const getResult = () => {
    const result = { code: 0, msg: '', data: null };
    const list: any = [];
    // console.log('CompositeField', this.fiveList)
    const colAliSet = new Set();
    state.fiveList.forEach((x) => {
      const temps: any = [];
      x.itemList.forEach((y) => {
        if (y.field && y.field.colId > 0) {
          temps.push(y.field);
        } else {
          result.msg = '请完善未指定选项的复合字段';
        }
      });
      let exp = '';
      const expDesc: any = [];
      if (x.expType === 2) {
        exp = x.colExp;
      } else {
        exp = '';
        const select = state.select[x.key];
        select.forEach((x) => {
          expDesc.push(x.value);
        });

        for (let i = 0; i < temps.length; i++) {
          const w = select[i];
          if (i === temps.length - 1) {
            exp += `C${i + 1}`;
          } else {
            exp += `C${i + 1}${convertOp(w.value)}`;
          }
        }
      }
      if (exp.length <= 0) {
        result.msg = '请完善复合字段表达式';
      }
      if (x.colAli.length <= 0) {
        result.msg = '请完善复合字段别名';
      }
      list.push({
        baseColList: temps,
        colAli: x.colAli,
        colExp: exp,
        expDesc,
        expType: x.expType,
      });
      colAliSet.add(x.colAli);
    });
    if (colAliSet.size != state.fiveList.length) {
      result.msg = '复合字段存在相同别名';
    }
    if (result.msg.length === 0) {
      result.code = 1;
      result.data = list;
    }
    return result;
  };
  // 操作符转换
  const convertOp = (val) => {
    if (val === '1') {
      return '+';
    } else if (val === '2') {
      return '-';
    } else if (val === '3') {
      return '*';
    } else if (val === '4') {
      return '/';
    } else {
      return '';
    }
  };

  watch(
    () => props.defaultValue,
    (defaultValue) => {
      // console.log('compositefield.defaultValue', defaultValue);
      const selects = defaultValue as Array<any>;
      if (selects && selects.length > 0) {
        state.fiveList.length = 0;
        const cs: any = [];
        selects.forEach((x) => {
          const ts: any = [];
          const options: any = [];
          if (x.baseColList && x.baseColList.length > 0) {
            const arr = x.baseColList;
            if (x.expType === 2) {
              for (let i = 0; i < arr.length; i++) {
                const y = arr[i];
                const key = guid();
                ts.push({
                  key: `${key}`,
                  field: {
                    colCname: y.colCname,
                    colId: y.colId,
                    colName: y.colName,
                    identity: y.identity,
                    tabCname: y.tabCname,
                    tabId: y.tabId,
                    tabName: y.tabName,
                  },
                });
              }
            } else {
              for (let i = 0; i < arr.length; i++) {
                const y = arr[i];
                const key = guid();
                ts.push({
                  key: `${key}`,
                  field: {
                    colCname: y.colCname,
                    colId: y.colId,
                    colName: y.colName,
                    identity: y.identity,
                    tabCname: y.tabCname,
                    tabId: y.tabId,
                    tabName: y.tabName,
                  },
                });
                if (i < arr.length - 1) {
                  options.push({ key, value: x.expDesc[i] });
                }
              }
            }
          }
          const groupKey = `r-${guid()}`;
          cs.push({
            key: groupKey,
            itemList: ts,
            colAli: x.colAli,
            colExp: x.colExp,
            expType: parseInt(x.expType),
            expDesc: x.expDesc,
          });
          nextTick(() => {
            state.select[groupKey] = options;
          });
        });
        // console.log('CompositeField.default', cs);
        nextTick(() => {
          state.fiveList = cs;
        });
      }
    },
    {
      deep: true,
      immediate: true,
    },
  );
  watch(
    () => state.fiveList,
    () => {
      if (Object.keys(state.select).length > 0) {
        emit('noticeExp');
      }
    },
    { deep: true },
  );
  watch(
    () => state.select,
    () => {
      if (Object.keys(state.select).length > 0) {
        emit('noticeExp');
      }
    },
    { deep: true },
  );
  defineExpose({
    getResult,
  });
</script>

<style lang="less" scoped>
  .compositeField {
    .compoundContent {
      min-height: 32px;
      width: 100%;
      padding-left: 10px;
      border: 1px solid #d9d9d9;

      .add-group {
        display: flex;
        height: 32px;
        padding-right: 5px;
        justify-content: right;
        align-items: center;
      }

      .add-value-item {
        display: flex;
        justify-content: flex-end;

        .add-value-item-row {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-size: 20px;
          cursor: pointer;
          padding-right: 5px;
          margin-right: 10px;
          margin-bottom: 5px;
        }
      }

      .field {
        overflow: hidden;
        overflow-y: scroll;
        max-height: 300px;

        .sonField {
          // height: 389px;
          margin-bottom: 10px;
          color: #0066ff;

          .addIns {
            padding-left: 20px;

            .ant-row {
              padding: 5px 0 5px 0;
            }

            .value-entry {
              font-size: 16px;
              color: #3d3d3d;
            }

            .fieldLabel {
              font-size: 10px;
              color: #000;
              margin-right: 8px;
            }

            .filter-del {
              font-size: 20px;
              margin-left: 13px;
            }
          }
        }
      }
    }

    .filter-node-btn {
      font-family: SourceHanSansCN-Regular;
      font-size: 14px;
      font-weight: normal;
      display: flex;
      align-items: baseline;
      margin-left: 1px;

      span {
        font-size: 20px;
      }
    }

    fieldset {
      border: 1px solid;
      border-radius: 5px;
    }

    legend {
      width: auto !important;
      font-size: 14px;
      font-weight: bold;
      margin-left: 20px;
    }
  }
  /deep/ .ant-form-item {
    margin: 0;
  }
</style>
