<template>
  <div class="compositeField">
    <div class="compoundContent">
      <div class="add-group">
        <a-button
          v-if="editEnabled"
          type="link"
          class="filter-node-btn"
          style="justify-content: end"
          @click="addFields"
        >
          <template #icon><PlusCircleOutlined /></template>
          添加新增字段
        </a-button>
      </div>
      <div v-if="state.fiveList.length > 0" class="field">
        <div v-for="(item, index) in state.fiveList" :key="item.key" class="sonField">
          <fieldset>
            <legend>新增字段{{ index + 1 }}</legend>
            <div class="addIns">
              <a-row>
                <a-col :md="12" :sm="24" style="display: flex; align-items: center">
                  <span class="fieldLabel">字段名称:</span>
                  <a-input
                    placeholder="新增字段名"
                    :disabled="!editEnabled || item.expType != 2"
                    style="width: 300px"
                    :max-length="32"
                    :value="item.expType == 2 ? item.colAli : ''"
                    @change="onAliChange(item.key, $event)"
                  >
                  </a-input>
                </a-col>
              </a-row>
              <a-row>
                <a-col :md="15" :sm="24" style="display: flex; align-items: center">
                  <span class="fieldLabel" style="width: 56px">可选字段:</span>
                  <a-select
                    v-model:value="item.custom"
                    show-search
                    allow-clear
                    mode="multiple"
                    option-filter-prop="label"
                    @change="changeField(index)"
                    @select="selevtVal(index, item.custom)"
                  >
                    <a-select-option
                      v-for="d in state.customAll"
                      :key="d.test"
                      :label="`${d.test}(${d.colCname})`"
                    >
                      {{ `${d.test}(${d.colCname})` }}
                    </a-select-option>
                  </a-select>
                </a-col>
              </a-row>
              <a-row>
                <a-col :md="12" :sm="24" style="display: flex; align-items: center">
                  <span class="fieldLabel">字段规则:</span>
                  <span class="fieldLabel">(加,减,乘,除,CASE WHEN)</span>
                </a-col>
              </a-row>
              <a-row>
                <a-col :span="1"> </a-col>
                <a-col :span="15" style="align-items: center">
                  <a-textarea
                    :id="`textarea${index}`"
                    v-model:value="item.colExp"
                    :rows="4"
                    @change="colExpChange(index, item.colExp)"
                  />
                  <div class="btnAll">
                    <div
                      v-for="(v, i) in state.btns"
                      :key="i"
                      class="btn"
                      @click="setBtnval(index, item.colExp, v.value, `textarea${index}`)"
                      >{{ v.value }}</div
                    >
                    <a-button
                      style="margin-top: 8px"
                      type="primary"
                      :loading="state.loading"
                      @click="SqlDetection(index, item.colAli, item.colExp)"
                      >SQL检测</a-button
                    >
                  </div>
                  <div
                    >示例：DAYS(TO_DATE(LEFT(t1.A_DATE,8),'YYYYMMDD'))-DAYS(TO_DATE(LEFT(t1.B_DATE,8),'YYYYMMDD'))</div
                  >
                  <!-- <myCode @change-textarea="changeTextarea(index)" /> -->
                </a-col>
              </a-row>
            </div>
            <div v-if="editEnabled" class="add-value-item">
              <div
                class="add-value-item-row"
                style="color: red; font-size: 15px"
                @click="removeField(item.key)"
              >
                <MinusCircleOutlined type="plus-circle" theme="outlined" />
                <span style="color: red; font-size: 15px; margin-left: 5px">移除新增字段</span>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="tsx">
  import { inject, nextTick, reactive, watch } from 'vue';
  import { PlusCircleOutlined, MinusCircleOutlined } from '@ant-design/icons-vue';
  import { message as $message } from 'ant-design-vue';
  // import myCode from './newIndex.vue';
  import { guid } from '@/utils/guid';
  import { getSqlInfo, getSqlParamTest } from '@/api/userAnalyze/chartConfigurations';

  interface MyData {
    fiveList: Array<any>;
    value: number;
    select: any;
    inputAli: any;
    inputDesc: any;
  }
  defineOptions({
    name: 'CompositeFieldNew',
  });
  const editEnabled = inject('editEnabled');
  const dataSet = inject('dataSet', []) as Array<any>;
  const props = defineProps({
    defaultValue: { type: Array, default: () => [] },
    selectDataTables: { type: Array, default: () => [] },
  });
  const emit = defineEmits(['noticeExp', 'getTableRelationList', 'fiveListChange']);
  const state = reactive<MyData>({
    fiveList: [],
    value: 1,
    select: {},
    baseColList: [],
    baseCol: [],
    customAll: [],
    custom: [],
    btns: [
      { value: '+' },
      { value: '-' },
      { value: '*' },
      { value: '/' },
      { value: '(' },
      { value: ')' },
    ],
    loading: false,
    resultRelation: [],
  });
  const onAliChange = (group, e) => {
    let val = e.target.value.replace(/[^a-zA-Z0-9\u4E00-\u9FA5]/g, '');
    if (!isNaN(val)) {
      val = '';
    }
    const index = state.fiveList.findIndex((x) => x.colAli === val);
    if (index >= 0) {
      // $message.error('命名不符合规范');
    } else {
      const temp = state.fiveList.find((x) => x.key === group);
      if (temp) {
        temp.colAli = val;
      }
      e.target.value = val;
    }
  };
  // 添加字段
  const addFields = () => {
    if (state.fiveList.length < 5) {
      const key = guid();
      state.fiveList.push({
        key: `r-${key}`,
        itemList: [
          {
            key: `${key}`,
            colCname: '',
            colId: 0,
            colName: '',
            identity: '',
            tabCname: '',
            tabId: 0,
            tabName: '',
          },
        ],
        colAli: '',
        colExp: '',
        expDesc: [],
        expType: 2,
        custom: [],
      });
    } else {
      $message.error('最多支持5个字段');
    }
  };
  // 移除字段
  const removeField = (key) => {
    const index = state.fiveList.findIndex((x) => x.key === key);
    if (index > -1) {
      state.fiveList.splice(index, 1);
    }
  };
  // 获取结果
  const getResult = () => {
    const result = { code: 0, msg: '', data: null };
    const list: any = [];
    const colAliSet = new Set();
    state.fiveList.forEach((x) => {
      const temps: any = [];
      x.itemList.forEach((y) => {
        if (y && y.colId > 0) {
          temps.push(y);
        } else {
          result.msg = '请选定新增字段';
        }
      });
      if (x.colExp.length <= 0) {
        result.msg = '请完善新增字段规则';
      }
      if (x.colAli.length <= 0) {
        result.msg = '请完善新增字段名称';
      }
      list.push({
        baseColList: temps,
        colAli: x.colAli,
        colExp: x.colExp,
      });
      colAliSet.add(x.colAli);
    });
    if (colAliSet.size != state.fiveList.length) {
      result.msg = '新增字段存在相同别名';
    }
    if (result.msg.length === 0) {
      result.code = 1;
      result.data = list;
    }
    return result;
  };
  const changeField = (index) => {
    if (state.fiveList[index].custom.length > 5) {
      state.fiveList[index].custom.pop();
      return;
    }
    if (state.fiveList[index].custom.length > 0) {
      const baseList = [];
      state.customAll.forEach((v) => {
        state.fiveList[index].custom.forEach((j) => {
          if (v.test === j) {
            baseList.push(v);
          }
        });
      });
      state.fiveList[index].itemList = baseList;
    }
  };
  const selevtVal = (index, val) => {
    state.fiveList[index].colExp = `${state.fiveList[index].colExp} ${val[val.length - 1]}`;
  };
  const colExpChange = (index, colExp) => {
    console.log(index, colExp);
  };
  const setBtnval = (index, colExp, val, id) => {
    const textAreaElement = document.getElementById(id);
    const curVal = textAreaElement.value;
    const start = textAreaElement.selectionStart;
    const end = textAreaElement.selectionEnd;
    textAreaElement.value = curVal.substring(0, start) + val + curVal.substring(end);
    state.fiveList[index].colExp = textAreaElement.value;
  };
  const getTab = (resultRelation) => {
    state.resultRelation = resultRelation;
  };
  const SqlDetection = async (index, colAli, colExp) => {
    state.loading = true;
    let colExpStr = '';
    if (colExp.toUpperCase().indexOf('DISTINCT') != -1) {
      colExpStr = colExp.trim();
    } else {
      colExpStr = `(${colExp.trim()})`;
    }
    const datatableList = props.selectDataTables;
    datatableList.forEach((v) => {
      v.tableColumnList = [];
      v.tableScheme = v.tableSchema;
    });
    emit('getTableRelationList');
    const params = {
      tableRelationList: state.resultRelation,
      datatableList,
      compositeColumnList: [
        {
          colExp: colExpStr,
          colAli,
        },
      ],
    };
    const data = await getSqlInfo(params);
    if (data.data) {
      const datasource = {
        type: '5sAPI',
        config: {
          apiUrl: 'http://eplat.obei.com.cn/base-service/service/S_BE_AS_03',
          resProjectEname: 'BWDH',
          resAppEname: 'bwdh-data-yx',
          schemaProviderRegistryUrl:
            'http://eplat.obei.com.cn/xdata-standard-admin/service/S_BE_DG_2111',
        },
      };
      const params = {
        datasource,
        query: {
          sql: data.data.sqlStr,
        },
      };
      const res = await getSqlParamTest(params);
      if (res.code != 'OK') {
        state.loading = false;
        $message.error('SQL验证失败');
      } else {
        $message.success(res.data);
        state.loading = false;
      }
    } else {
      state.loading = false;
      $message.error('网络链接有误~');
    }
  };
  watch(
    () => props.defaultValue,
    (defaultValue) => {
      const selects = defaultValue as Array<any>;
      if (selects && selects.length > 0) {
        state.fiveList.length = 0;
        const cs: any = [];
        selects.forEach((x) => {
          const custom = [];
          const groupKey = `r-${guid()}`;
          x.baseColList.forEach((y) => {
            custom.push(`T${y.tabId}.${y.colName}`);
          });
          cs.push({
            key: groupKey,
            itemList: x.baseColList,
            colAli: x.colAli,
            colExp: x.colExp,
            expType: 2,
            expDesc: x.expDesc,
            custom,
          });
        });
        nextTick(() => {
          state.fiveList = cs;
        });
      }
    },
    {
      deep: true,
      immediate: true,
    },
  );
  watch(
    () => state.fiveList,
    () => {
      if (Object.keys(state.select).length > 0) {
        emit('noticeExp');
      }
      if (Object.keys(state.fiveList).length > 0) {
        emit('fiveListChange', state.fiveList);
      }
    },
    { deep: true },
  );
  watch(
    () => dataSet.value,
    (v) => {
      const arr = [];
      state.customAll = [];
      if (v.length > 0) {
        v.forEach((v) => {
          v.columnsList.forEach((j) => {
            j.tabName = v.tableName;
            j.tabCname = v.tableCname;
            arr.push(j);
          });
        });
        state.customAll = arr.map((v) => {
          const obj = {
            colCname: v.columnCname,
            colId: v.id,
            colName: v.columnName,
            tabCname: v.tabCname,
            tabId: v.tableId,
            tabName: v.tabName,
            test: `T${v.tableId}.${v.columnName}`,
          };
          return obj;
        });
      }
    },
    {
      deep: true,
      immediate: true,
    },
  );
  defineExpose({
    getResult,
    getTab,
  });
</script>

<style lang="less" scoped>
  .compositeField {
    .compoundContent {
      min-height: 32px;
      width: 100%;
      padding-left: 10px;
      border: 1px solid #d9d9d9;

      .add-group {
        display: flex;
        height: 32px;
        padding-right: 5px;
        justify-content: right;
        align-items: center;
      }

      .add-value-item {
        display: flex;
        justify-content: flex-end;

        .add-value-item-row {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-size: 20px;
          cursor: pointer;
          padding-right: 5px;
          margin-right: 10px;
          margin-bottom: 5px;
        }
      }

      .field {
        overflow: hidden;
        overflow-y: scroll;
        max-height: 300px;

        .sonField {
          // height: 389px;
          margin-bottom: 10px;
          color: #0066ff;

          .addIns {
            padding-left: 20px;

            .ant-row {
              padding: 5px 0 5px 0;
            }

            .value-entry {
              font-size: 16px;
              color: #3d3d3d;
            }

            .fieldLabel {
              font-size: 10px;
              color: #000;
              margin-right: 8px;
            }

            .filter-del {
              font-size: 20px;
              margin-left: 13px;
            }
          }
        }
      }
    }

    .filter-node-btn {
      font-family: SourceHanSansCN-Regular;
      font-size: 14px;
      font-weight: normal;
      display: flex;
      align-items: baseline;
      margin-left: 1px;

      span {
        font-size: 20px;
      }
    }

    fieldset {
      border: 1px solid;
      border-radius: 5px;
    }

    legend {
      width: auto !important;
      font-size: 14px;
      font-weight: bold;
      margin-left: 20px;
    }
  }
  /deep/ .ant-form-item {
    margin: 0;
  }
  .btnAll {
    display: flex;
    .btn {
      background: #eee;
      line-height: 30px;
      width: 30px;
      height: 30px;
      margin-top: 9px;
      margin-right: 10px;
      border-color: transparent;
      text-align: center;
      cursor: pointer;
    }
  }
</style>
