<template>
  <div class="filter-tree">
    <div
      v-if="state.filters.conditions.length > 1"
      class="filter-group-rel"
      :style="{ top: groupRelTop + 'px' }"
    >
      <template v-if="editEnabled"
        ><a @click="onFiltersLogicalClick">{{ state.filters.logical ? '且' : '或' }}</a></template
      >
      <template v-else
        ><span class="disabled">{{ state.filters.logical ? '且' : '或' }}</span></template
      >
    </div>
    <template v-for="item in state.filters.conditions" :key="item.key">
      <div
        class="filter-group"
        :style="{
          '--beforeTop': ((item.items.length - 1) * 42) / 2 + 60 + 'px',
          '--nodeRelTop':
            item.items.length > 1
              ? ((item.items.length - 1) * 44) / 2 + 60 + 'px'
              : ((item.items.length - 1) * 42) / 2 + 32 + 'px',
        }"
      >
        <div v-if="item.items.length > 1" class="filter-node-rel">
          <template v-if="editEnabled"
            ><a @click="onFiltersItemLogicalClick(item.key)">{{
              item.logical ? '且' : '或'
            }}</a></template
          >
          <template v-else
            ><span class="disabled">{{ item.logical ? '且' : '或' }}</span></template
          >
        </div>
        <template v-if="item.items.length > 1">
          <div v-for="node in item.items" :key="node.key" class="filter-node">
            <filter-condition
              :ref="(el) => setItemRef(el, `f-${node.key}`)"
              :node-key="node.key"
              :group-key="item.key"
              :default-value="node"
              @on-remove-filter="onRemoveFilterCondition"
            ></filter-condition>
          </div>

          <div class="filter-node">
            <a-button
              v-if="editEnabled"
              type="link"
              class="filter-node-btn"
              @click="addNode(item.key)"
            >
              <template #icon><PlusCircleOutlined /></template>
              添加条件
            </a-button>
            <a-button v-else type="link" class="filter-node-btn disabled" disabled>
              <template #icon><PlusCircleOutlined /></template>
              添加条件
            </a-button>
          </div>
        </template>
        <template v-else>
          <div style="height: 35px"></div>
          <template v-if="item.items.length > 0">
            <div v-for="node in item.items" :key="node.key" class="filter-node">
              <filter-condition
                :ref="(el) => setItemRef(el, `f-${node.key}`)"
                :node-key="node.key"
                :group-key="item.key"
                :default-value="node"
                @on-remove-filter="onRemoveFilterCondition"
              ></filter-condition>
              <a-button
                v-if="editEnabled"
                type="link"
                class="filter-node-btn"
                @click="addNode(item.key)"
              >
                <template #icon><PlusCircleOutlined /></template>
                添加
              </a-button>
              <a-button v-else type="link" class="filter-node-btn disabled" disabled>
                <template #icon><PlusCircleOutlined /></template>
                添加
              </a-button>
            </div>
          </template>
          <template v-else>
            <a-button
              v-if="editEnabled"
              type="link"
              class="filter-node-btn"
              @click="addNode(item.key)"
            >
              <template #icon><PlusCircleOutlined /></template>
              添加条件
            </a-button>
            <a-button v-else type="link" class="filter-node-btn disabled" disabled>
              <template #icon><PlusCircleOutlined /></template>
              添加条件
            </a-button>
          </template>
        </template>
      </div>
    </template>

    <template v-if="state.filters.conditions.length > 0">
      <div class="filter-group" :style="{ '--beforeTop': '15px' }">
        <a-button v-if="editEnabled" type="link" class="filter-node-btn" @click="addGroup">
          <template #icon><PlusCircleOutlined /></template>
          添加条件组
        </a-button>
        <a-button v-else type="link" class="filter-node-btn disabled" disabled>
          <template #icon><PlusCircleOutlined /></template>
          添加条件组
        </a-button>
      </div>
    </template>
    <template v-else>
      <div class="filter-group-empty">
        <a-button v-if="editEnabled" type="link" class="filter-node-btn" @click="addGroup">
          <template #icon><PlusCircleOutlined /></template>
          添加条件组
        </a-button>
        <a-button v-else type="link" class="filter-node-btn disabled" disabled>
          <template #icon><PlusCircleOutlined /></template>
          添加条件组
        </a-button>
      </div>
    </template>
  </div>
</template>

<script lang="tsx" setup>
  import { computed, inject, nextTick, onMounted, provide, reactive, watch } from 'vue';
  import { PlusCircleOutlined } from '@ant-design/icons-vue';
  import { message as $message } from 'ant-design-vue';
  import FilterCondition from './FilterCondition.vue';
  import { guid } from '@/utils/guid';
  defineOptions({
    name: 'FiltersContent',
  });
  interface MyData {
    compositeConditionsInfo: Array<any>;
    filters: any;
    compositeConditionsInfoNew: Array<any>;
    // editEnabled:boolean
  }
  const editEnabled = inject('editEnabled', true);

  const conditionRef: any = {};
  const setItemRef = (el, key) => {
    if (el) {
      conditionRef[key] = el;
      // if (Object.hasOwn(conditionRef, key)) {
      //   conditionRef[key]=el;
      // } else {
      //   conditionRef[key] = [el];
      // }
    }
  };

  const props = defineProps({
    defaultConditions: Object,
    compositeConditions: {
      type: Array,
      default: () => {
        return [];
      },
    },
    compositeConditionsNew: {
      type: Array,
      default: () => {
        return [];
      },
    },
  });

  const state = reactive<MyData>({
    compositeConditionsInfo: [],
    compositeConditionsInfoNew: [],
    filters: {
      logical: true, // true=and false=or
      conditions: [
        // {
        //   key: 'group2',
        //   logical: true,
        //   items: [
        //     {key: 'test2-1'},
        //     {key: 'test2-2'},
        //     {key: 'test2-3'},
        //   ]
        // },
      ],
    },
  });
  provide(
    'compositeFields',
    computed(() => {
      return state.compositeConditionsInfo;
    }),
  );
  provide(
    'compositeFieldsNew',
    computed(() => {
      return state.compositeConditionsInfoNew;
    }),
  );

  watch(
    () => props.defaultConditions,
    (defaultConditions) => {
      const conditions = defaultConditions;
      // 转换默认过滤条件，后台存储结构默认是三层
      // console.log('FiltersContent', conditions);
      if (conditions && conditions.condiList && conditions.condiList.length > 0) {
        const filters: any = { logical: conditions.relation === 'and' };
        const cs: any = [];
        conditions.condiList.forEach((x) => {
          const key: string = guid();
          const items: any = [];
          x.condiList.forEach((y) => {
            if (y.condiList.length > 0) {
              const temp = y.condiList[0];
              let inputValue = null;
              let rightField: any = null;
              let rightTable: any = null;
              if (temp.rightValue) {
                // if (temp.rightColType && temp.operator === "9") {
                if (temp.operator === '9') {
                  inputValue = temp.rightValue.split(',');
                } else {
                  inputValue = temp.rightValue;
                }
              } else {
                rightField = {
                  id: temp.rightColId,
                  name: temp.rightColName,
                  cName: temp.rightColCname,
                  type: temp.rightColType,
                };

                rightTable = {
                  id: temp.rightTabId,
                  name: temp.rightTabName,
                  cName: temp.rightTabCname,
                };
              }
              items.push({
                key: guid(),
                logical: x.relation === 'and',
                leftField: {
                  id: temp.leftColId,
                  name: temp.leftColName,
                  cName: temp.leftColCname,
                  type: temp.leftColType,
                  newType: temp.leftColType,
                },
                leftTable: {
                  id: temp.leftTabId,
                  name: temp.leftTabName,
                  cName: temp.leftTabCname,
                },
                comparison: temp.operator,
                rightField,
                rightTable,
                inputValue,
              });
            }
          });

          cs.push({ logical: x.relation === 'and', key, items });
        });
        filters.conditions = cs;
        nextTick(() => {
          state.filters = filters;
        });
      }
    },
    { deep: true, immediate: true },
  );

  watch(
    () => props.compositeConditions,
    (val) => {
      state.compositeConditionsInfo = val;
      console.log(999999999999, val);
      //刷新默认加载的配置
      val.forEach((x) => {
        state.filters.conditions.forEach((f) => {
          const index = f.items.findIndex(
            (i) =>
              Object.hasOwn(i, 'leftField') && i.leftField != null && i.leftField.id === x.colAli,
          );
          if (index > -1) {
            f.items[index].leftField.name = x.colExp;
            f.items[index].leftField.cName = x.colAli;
          }
        });
      });
    },
    { deep: true },
  );
  watch(
    () => props.compositeConditionsNew,
    (val) => {
      state.compositeConditionsInfoNew = val;
      // console.log(2222, val);
      //刷新默认加载的配置
      val.forEach((x) => {
        state.filters.conditions.forEach((f) => {
          const index = f.items.findIndex(
            (i) =>
              Object.hasOwn(i, 'leftField') && i.leftField != null && i.leftField.id === x.colAli,
          );
          if (index > -1) {
            f.items[index].leftField.name = x.colExp;
            f.items[index].leftField.cName = x.colAli;
          }
        });
      });
    },
    { deep: true },
  );
  const groupRelTop = computed(() => {
    let c = 0;
    state.filters.conditions.forEach((x) => {
      c += 1;
      if (x.items.length > 0) {
        c += x.items.length;
      }
    });
    return c * 30;
  });

  const init = () => {
    const cs: any = [];
    const filters = { logical: true, conditions: cs };
    state.filters = filters;
  };
  /**
   * 获取拼接结果
   * code=0失败，1成功   msg=错误信息   data=返回组装数据
   */
  const getResult = () => {
    const result: any = { code: '0', msg: '', data: null };
    const list: any = [];
    const cs = state.filters.conditions;
    cs.forEach((x) => {
      const condiList: any = [];
      if (x && x.items.length > 0) {
        x.items.forEach((y) => {
          const key = `f-${y.key}`;
          const r = conditionRef[key].getSelectInfo();
          if (r.code === 1) {
            condiList.push({ relation: 'and', condiList: [r.data] });
          } else {
            result.msg = r.msg;
          }
        });
      }
      list.push({ relation: x.logical ? 'and' : 'or', condiList });
    });
    if (list.length === 0) {
      result.msg = '请选择过滤条件';
    }
    if (result.msg.length === 0) {
      result.code = 1;
      result.data = {
        relation: state.filters.logical ? 'and' : 'or',
        condiList: list,
      };
    } else {
      result.msg = '请完善过滤条件所选信息';
    }
    // console.log('FiltersContent', result);
    return result;
  };
  /**
   * 添加条件组
   */
  const addGroup = () => {
    // this.$parent.$parent.getCompositeConditions()
    if (checkAllConditions()) {
      if (checkLimitConditionsCount()) {
        const key = guid();
        state.filters.conditions.push({
          key: `r-${key}`,
          logical: true,
          items: [{ key: `${key}`, comparison: '1' }],
        });
      } else {
        $message.error('最多支持10个过滤条件');
      }
    } else {
      $message.error('请完善已选信息');
    }
  };
  /**
   * 添加条件节点
   * @param group
   */
  const addNode = (group) => {
    const last = getLastCondition(group);
    if (last) {
      const key = `f-${last.key}`;
      const r = conditionRef[key].getSelectInfo();
      if (r.code != 1) {
        $message.error(r.msg);
        return;
      }
    }

    // 添加节点
    const arr = state.filters.conditions.filter((x) => x.key === group);
    if (arr.length > 0) {
      if (checkLimitConditionsCount()) {
        const key = guid();
        arr[0].items.push({ key: `${key}`, comparison: '1' });
      } else {
        $message.error('最多支持10个过滤条件');
      }
    } else {
      $message.error('节点内容已更新');
    }
  };
  /**
   * 删除节点
   * @param nodeKey
   * @param groupKey
   */
  const onRemoveFilterCondition = (nodeKey, groupKey) => {
    const arr = state.filters.conditions.filter((x) => x.key === groupKey);
    if (arr.length > 0) {
      const nodes = arr[0].items;
      const index = nodes.findIndex((x) => x.key === nodeKey);
      if (index > -1) {
        nodes.splice(index, 1);
        if (nodes.length <= 0) {
          const groupIndex = state.filters.conditions.findIndex((x) => x.key === groupKey);
          if (groupIndex > -1) {
            state.filters.conditions.splice(groupIndex, 1);
          }
        }
      }
    } else {
      $message.error('节点内容已更新');
    }
  };
  /**
   * 条件组 （且 或）点击事件
   */
  const onFiltersLogicalClick = () => {
    state.filters.logical = !state.filters.logical;
  };
  /**
   * 条件（且 或）点击事件
   * @param key
   */
  const onFiltersItemLogicalClick = (key) => {
    state.filters.conditions.forEach((x) => {
      if (x.key === key) {
        x.logical = !x.logical;
      }
    });
  };

  /**
   * 获取当前条件条数
   * @returns {number}
   */
  const getConditionsCount = () => {
    let count = 0;
    state.filters.conditions.forEach((x) => {
      count += x.items.length;
    });
    return count;
  };

  /**
   * 判断是否还可以添加条件， 上限10条
   * @returns {boolean}
   */
  const checkLimitConditionsCount = () => {
    if (getConditionsCount() >= 10) {
      return false;
    } else {
      return true;
    }
  };
  /**
   * 获取最后一个条件分支
   * @param group
   */
  const getLastCondition = (group) => {
    const arr = state.filters.conditions.filter((x) => x.key === group);
    if (arr.length > 0 && arr[0].items.length > 0) {
      return arr[0].items[arr[0].items.length - 1];
    } else {
      $message.error('节点内容已更新');
    }
    return null;
  };
  /**
   * 检查所有的条件分支
   */
  const checkAllConditions = () => {
    let msg = '';
    const cs = state.filters.conditions;
    cs.forEach((x) => {
      if (x && x.items.length > 0) {
        x.items.forEach((y) => {
          const key = `f-${y.key}`;
          const r = conditionRef[key].getSelectInfo();
          if (r.code != 1) {
            msg = r.msg;
          }
        });
      }
    });
    return msg.length === 0;
  };

  onMounted(() => {
    init();
  });
  defineExpose({
    getResult,
  });
</script>

<style scoped lang="less">
  .filter-tree {
    width: 100%;
    padding-left: 30px;
  }

  .filter-group-rel,
  .filter-node-rel {
    position: relative;
    font-size: 16px;
    color: #1890ff;
    z-index: 1000;
    width: 17px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    a,
    span {
      border: 1px solid;
      padding: 0 2px;
      background: #fff;
    }
  }

  .filter-group-rel {
    left: -58px;
    cursor: pointer;
  }

  .filter-node-rel {
    left: -28px;
    top: var(--nodeRelTop);
  }

  .filter-group,
  .filter-group-empty {
    position: relative;
  }

  .filter-group {
    margin-left: 0;
  }

  .filter-group-empty {
    margin-left: -20px;
  }

  .filter-node {
    position: relative;
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .filter-group::before {
    position: absolute;
    content: '';
    top: 0;
    left: -50px;
    width: 30px;
    min-height: var(--beforeTop);
    border-style: none none solid solid;
    border-width: 1px;
    border-color: #aaa;
  }

  .filter-group:nth-child(2)::before,
  .filter-group:nth-child(1)::before {
    border-style: none none solid none;
  }

  .filter-group:not(:last-child)::after {
    position: absolute;
    content: '';
    top: var(--beforeTop);
    left: -50px;
    min-height: var(--nodeRelTop);
    border-style: none none solid solid;
    border-width: 1px;
    border-color: #aaa;
  }

  .filter-node::before {
    position: absolute;
    content: '';
    top: 24px;
    left: -20px;
    width: 20px;
    height: 0;
    border-style: none none solid solid;
    border-width: 1px;
    border-color: #aaa;
  }

  .filter-node:not(:last-child)::after {
    position: absolute;
    content: '';
    top: 25px;
    left: -20px;
    height: 41px;
    border-style: none none solid solid;
    border-width: 1px;
    border-color: #aaa;
  }

  .filter-node-btn {
    font-size: 14px;
    font-weight: normal;
    display: flex;
    align-items: baseline;
    padding: 4px 0 !important;
    span {
      font-size: 20px;
    }
  }

  .filter-del {
    font-size: 20px;
    background-color: #999999;
    border-radius: 50%;
    color: #fff;
  }
</style>
