<template>
  <div class="filter-condition">
    <!--    左字段-->
    <a-form-item>
      <data-set-cascade
        :change-on-select="false"
        :allow-composite-fields="true"
        :allow-composite-fields-new="true"
        :default-value="[
          state.selectResult.leftTable ? state.selectResult.leftTable.id : '',
          state.selectResult.leftField ? state.selectResult.leftField.id : '',
        ]"
        :width="190"
        @on-data-set-change="onLeftSelectField"
        @on-value-change="refreshInputValue"
      ></data-set-cascade>
    </a-form-item>

    <!--    操作符-->
    <a-form-item>
      <a-select
        :disabled="!editEnabled"
        :value="state.selectResult.comparison + ''"
        class="filter-condition-operator-rel"
        option-label-prop="label"
        @change="onComparisonChange"
      >
        <a-select-option
          v-for="item in state.comparisons"
          :key="item.key"
          :value="item.key"
          :label="item.value"
        >
          {{ item.value }}
        </a-select-option>
      </a-select>
    </a-form-item>

    <!--    表字段-->
    <a-form-item>
      <Switch
        checked-children="表字段"
        :disabled="
          !editEnabled ||
          state.selectResult.comparison === '10' ||
          state.selectResult.comparison === '11'
        "
        style="min-width: 70px"
        class="filter-condition-field-switch"
        un-checked-children="表字段"
        :checked="state.showField"
        @change="onShowField"
      />
    </a-form-item>

    <!--    右字段-->
    <a-form-item>
      <template v-if="state.showField">
        <data-set-cascade
          :change-on-select="false"
          :default-value="[
            state.selectResult.rightTable ? state.selectResult.rightTable.id : '',
            state.selectResult.rightField ? state.selectResult.rightField.id : '',
          ]"
          :width="190"
          @on-data-set-change="onRightSelectField"
        ></data-set-cascade>
      </template>
      <template v-else>
        <template v-if="state.inputType == '2'">
          <template v-if="state.selectResult.comparison == '9'">
            <range-input
              :disabled="
                !editEnabled ||
                state.selectResult.comparison === '10' ||
                state.selectResult.comparison === '11'
              "
              input-type="number"
              :default-value="state.selectResult.inputValue"
              class="filter-condition-operator"
              @change="onInputChange"
            ></range-input>
          </template>
          <template v-else>
            <InputNumber
              v-model:value="state.inputValue"
              :disabled="
                !editEnabled ||
                state.selectResult.comparison === '10' ||
                state.selectResult.comparison === '11'
              "
              class="filter-condition-operator"
            />
          </template>
        </template>
        <template v-else-if="state.inputType == '3'">
          <template v-if="state.selectResult.comparison == '9'">
            <a-range-picker
              :value="[
                state.selectResult.inputValue && state.selectResult.inputValue.length > 0
                  ? dayjs(state.selectResult.inputValue[0], dateFormat)
                  : '',
                state.selectResult.inputValue && state.selectResult.inputValue.length > 0
                  ? dayjs(state.selectResult.inputValue[1], dateFormat)
                  : '',
              ]"
              :disabled="
                !editEnabled ||
                state.selectResult.comparison === '10' ||
                state.selectResult.comparison === '11'
              "
              class="filter-condition-operator"
              @change="onDateChange"
            />
          </template>
          <template v-else>
            <a-date-picker
              :value="
                state.inputValue && state.inputValue.length > 0
                  ? dayjs(state.inputValue, dateFormat)
                  : ''
              "
              :disabled="
                !editEnabled ||
                state.selectResult.comparison === '10' ||
                state.selectResult.comparison === '11'
              "
              class="filter-condition-operator"
              @change="onSimpleDateChange"
            />
          </template>
        </template>
        <template v-else>
          <template v-if="state.selectResult.comparison == '9'">
            <range-input
              :disabled="
                !editEnabled ||
                state.selectResult.comparison === '10' ||
                state.selectResult.comparison === '11'
              "
              :default-value="state.selectResult.inputValue"
              class="filter-condition-operator"
              @change="onInputChange"
            ></range-input>
          </template>
          <template v-else>
            <Input
              v-model:value="state.inputValue"
              :disabled="
                !editEnabled ||
                state.selectResult.comparison === '10' ||
                state.selectResult.comparison === '11'
              "
              placeholder="输入"
              class="filter-condition-operator"
            />
          </template>
        </template>
      </template>
    </a-form-item>
    <MinusCircleFilled v-if="editEnabled" class="filter-del" @click="onRemove(nodeKey, groupKey)" />
  </div>
</template>

<script lang="tsx" setup>
  import { inject, onMounted, reactive, watch } from 'vue';
  import dayjs from 'dayjs';
  import { MinusCircleFilled } from '@ant-design/icons-vue';
  import { Switch, Input, InputNumber } from 'ant-design-vue';
  import DataSetCascade from './DataSetCascade.vue';
  import RangeInput from '@/components/business/dynamicRuleSection/RangeInput.vue';

  const comparisons = [
    { key: '1', value: '大于' },
    { key: '2', value: '大于等于' },
    { key: '3', value: '小于' },
    { key: '4', value: '小于等于' },
    { key: '5', value: '等于' },
    { key: '6', value: '不等于' },
    { key: '7', value: '包含' },
    { key: '8', value: '不包含' },
    { key: '9', value: '范围' },
    { key: '10', value: '为空' },
    { key: '11', value: '不为空' },
  ];
  interface MyData {
    showField: boolean;
    inputType: string;
    inputValue: string | Array<string>;
    selectResult: any;
    comparisons: any;
    // editEnabled:
  }
  defineOptions({
    name: 'FilterCondition',
  });
  const editEnabled = inject('editEnabled');
  // const editFlag = inject('editFlag');
  const emit = defineEmits(['onRemoveFilter']);
  const props = defineProps({
    defaultValue: Object,
    groupKey: String,
    nodeKey: String,
  });
  const dateFormat = 'YYYY-MM-DD';
  const state = reactive<MyData>({
    showField: false,
    inputType: '2', // 后端返回约定 1：文本类型，2：数字类型，3：时间类型，4：未知类型
    inputValue: '',
    selectResult: {
      leftField: null,
      leftTable: null,
      comparison: '1',
      rightField: null,
      rightTable: null,
      inputValue: '',
    },
    comparisons,
  });
  onMounted(() => {
    init();
  });
  const init = () => {
    // console.log('FilterCondition', props.defaultValue);
    state.selectResult = props.defaultValue;
    if (
      props.defaultValue != null &&
      props.defaultValue.leftField
      // && props.defaultValue.leftField.id > 0
    ) {
      state.inputType = state.selectResult.leftField.newType;
      if (
        state.selectResult.comparison === 9 &&
        (state.inputType === '2' || state.inputType === '3')
      ) {
        if (typeof state.selectResult.inputValue === 'string') {
          state.selectResult.inputValue = state.selectResult.inputValue.split(',');
        }
      }
      state.inputValue = state.selectResult.inputValue;
      if (state.selectResult.rightField != null && state.selectResult.rightField.id != null) {
        state.showField = true;
      } else {
        state.showField = false;
      }
    } else {
      state.showField = false;
      state.inputType = '2';
    }

    // console.log('FilterCondition', state.selectResult)
  };
  /**
   * 获取拼接结果
   * code=0失败，1成功   msg=错误信息   data=返回组装数据
   */
  const getSelectInfo = () => {
    const data = state.selectResult;
    const result: any = { code: '0', msg: '', data: null };
    const msg = checkForm();
    if (msg.length <= 0) {
      // let op = this.convertComparison(data.comparison)
      const temp: any = {
        operator: data.comparison,
        leftTabId: data.leftTable.id,
        leftTabName: data.leftTable.name,
        leftTabCname: data.leftTable.cName,
        leftColId: data.leftTable.name === 'X9999999' ? 0 : data.leftField.id, //data.leftField.id,
        leftColName: data.leftField.name,
        leftColCname: data.leftTable.name === 'X9999999' ? 'composite_column' : data.leftField.name,
        leftColType: state.inputType,
        rightTabId: data.rightTable ? data.rightTable.id : null,
        rightTabName: data.rightTable ? data.rightTable.name : null,
        rightTabCname: data.rightTable ? data.rightTable.cName : null,
        rightColId: data.rightField ? data.rightField.id : null,
        rightColName: data.rightField ? data.rightField.name : null,
        rightColCname: data.rightField ? data.rightField.cName : null,
        rightColType: data.rightField ? data.rightField.type : null,
        extendCol1: data.leftTable.name === 'X9999999' ? data.leftField.id : '',
      };
      if (`${data.comparison}` === '9') {
        temp.rightValue = data.inputValue ? data.inputValue.join() : null;
      } else {
        temp.rightValue = data.inputValue;
      }
      result.data = temp;
      result.code = 1;
    } else {
      result.msg = msg;
    }
    return result;
  };

  // 校验表单
  const checkForm = () => {
    const data = state.selectResult;
    // console.log(3333, data);
    const c = parseInt(data.comparison);
    if (!(c > 0 && c < 12)) {
      return '请选择关系条件';
    }
    if (data.leftField == null) {
      return '请选择左侧查询条件字段';
    }
    if (state.showField) {
      if (data.rightField == null) {
        return '请选择右侧查询条件字段';
      }
    } else {
      if (data.comparison === '9') {
        if (
          data.inputValue === null ||
          data.inputValue === undefined ||
          data.inputValue.length <= 0
        ) {
          return '请输入右侧查询信息';
        }
      } else if (data.comparison != '10' && data.comparison != '11') {
        if (data.inputValue === null || data.inputValue === undefined || data.inputValue === '') {
          return '请输入右侧查询信息';
        }
      }
    }
    return '';
  };
  // const onTextChange = (e) => {
  //   console.log(e.target.value);
  //   state.selectResult.inputValue = e.target.value;
  //   console.log(state.selectResult);
  // };
  const onInputChange = (value) => {
    if (value.length === 2 && value[0] != '' && value[1] != '') {
      state.selectResult.inputValue = value;
    }
  };
  const onRemove = (nodeKey, groupKey) => {
    emit('onRemoveFilter', nodeKey, groupKey);
  };
  const onSimpleDateChange = (date, dateString) => {
    state.inputValue = dateString;
  };
  const onDateChange = (date, dateString) => {
    console.log(dateString);
    if (dateString.length === 2) {
      state.selectResult.inputValue = dateString;
    }
  };
  const onLeftSelectField = (options) => {
    if (options && options.length > 1) {
      state.selectResult.leftTable = options[0];
      state.selectResult.leftField = options[1];
      state.inputType = options[1].newType;
      if (state.inputType === '1') {
        state.comparisons = [
          { key: '5', value: '等于' },
          { key: '6', value: '不等于' },
          { key: '7', value: '包含' },
          { key: '8', value: '不包含' },
          { key: '10', value: '为空' },
          { key: '11', value: '不为空' },
        ];
        state.selectResult.comparison = '5';
      } else {
        state.comparisons = comparisons;
        state.selectResult.comparison = '1';
        state.selectResult.inputValue = undefined;
      }
    } else {
      state.selectResult.comparison = '1';
    }
    state.inputValue = '';
    state.selectResult.rightField = null;
    state.selectResult.inputValue = '';
    state.selectResult.rightTable = null;
  };

  const onRightSelectField = (options) => {
    if (options) {
      if (options.length > 1) {
        state.selectResult.rightTable = options[0];
        state.selectResult.rightField = options[1];
      }
    } else {
      state.selectResult.rightTable = null;
      state.selectResult.rightField = null;
    }
  };
  const onShowField = (checked) => {
    // console.log(checked);
    state.showField = checked;
    state.selectResult.rightField = null;
    state.selectResult.rightTable = null;
    state.selectResult.inputValue = null;
    state.inputValue = '';
    if (checked) {
      if (state.inputType === '1') {
        state.selectResult.comparison = '5';
      } else {
        state.selectResult.comparison = '1';
      }
    }
  };
  const onComparisonChange = (value) => {
    // console.log(state.selectResult.leftField);
    state.selectResult.comparison = value;
    if (
      value === '9' &&
      (state.selectResult.leftField.newType === '2' || state.selectResult.leftField.newType === '3')
    ) {
      // 自定义范围
      state.inputValue = [];
    } else {
      state.inputValue = '';
    }
    // console.log('state.inputValue', state.inputValue);
    if (value === '10' || value === '11') {
      state.showField = false;
    }
  };

  const refreshInputValue = (v) => {
    if (v === undefined || v.length < 2) {
      state.selectResult.leftTable = null;
      state.selectResult.leftField = null;
      state.comparisons = comparisons;
      state.selectResult.comparison = '1';

      state.inputValue = '';

      state.selectResult.rightField = null;
      state.selectResult.comparison = '1';
      state.selectResult.inputValue = '';
      state.selectResult.rightTable = null;
    }
  };
  watch(
    () => state.inputValue,
    (v) => {
      state.selectResult.inputValue = v;
    },
  );

  defineExpose({
    getSelectInfo,
  });
</script>

<style scoped lang="less">
  .filter-condition {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .filter-condition-operator-rel {
    width: 80px !important;
    margin-left: 8px;
    margin-right: 8px;
  }

  .filter-condition-operator {
    left: 0px;
    top: 0px;
    width: 230px !important;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 0px;
    color: #3d3d3d;
  }

  .filter-condition-field-switch {
    font-size: 8px;
    font-weight: normal;
    margin-right: 7px;
  }

  .filter-del {
    font-size: 20px;
    color: #999999;
    margin-left: 13px;
  }
  /deep/ .ant-form-item {
    margin: 0;
  }
</style>
