<template>
  <div class="sorting-row">
    <span class="sorting-row-label">{{ label }}:</span>
    <a-form-item>
      <data-set-cascade
        :change-on-select="false"
        :default-value="state.value"
        :width="200"
        @on-data-set-change="onDataSetChange(k, $event)"
      >
      </data-set-cascade>
    </a-form-item>

    <a-form-item>
      <a-select
        v-model:value="state.orderType"
        class="filter-condition-operator-rel"
        :disabled="!editEnabled"
        @change="onSortChange(k, $event)"
      >
        <a-select-option :key="1" :value="1"> 升序 </a-select-option>
        <a-select-option :key="2" :value="2"> 降序 </a-select-option>
      </a-select>
    </a-form-item>
    <span v-if="editEnabled">
      <MinusCircleFilled class="filter-del" @click="deleteSorting(k)" />
    </span>
  </div>
</template>

<script setup lang="tsx">
  import { inject, nextTick, onMounted, reactive } from 'vue';
  import { MinusCircleFilled } from '@ant-design/icons-vue';
  import DataSetCascade from './DataSetCascade.vue';
  interface MyData {
    orderType: number;
    value: any;
  }

  defineOptions({
    name: 'SortingField',
  });
  const props = defineProps({
    defaultValue: Object,
    label: String,
    k: String,
  });
  const emit = defineEmits(['onDataSetChange', 'onSortChange', 'remove']);
  const editEnabled = inject('editEnabled');
  const state = reactive<MyData>({
    orderType: 1,
    value: [],
  });

  const init = () => {
    // console.log('SortingField', props.defaultValue);
    if (props.defaultValue && props.defaultValue.field.tabId > 0) {
      nextTick(() => {
        state.value = [props.defaultValue.field.tabId, props.defaultValue.field.colId];
        state.orderType = props.defaultValue.field.orderType === 'desc' ? 2 : 1;
      });
    }
    // console.log('this.value', state.value);
  };
  const onDataSetChange = (key, options) => {
    const op = {
      value: options,
      orderType: state.orderType === 2 ? 'desc' : 'asc',
    };
    emit('onDataSetChange', key, op);
  };
  const onSortChange = (key, e) => {
    emit('onSortChange', key, e);
  };
  const deleteSorting = (key) => {
    emit('remove', key);
  };
  onMounted(() => {
    init();
  });
</script>

<style scoped lang="less">
  .sorting-row {
    display: flex;
    align-items: center;
    span {
      display: flex;
    }
  }

  .sorting-row-label {
    width: 20px;
  }

  .filter-condition-operator-rel {
    width: 75px !important;
    margin-left: 8px;
    margin-right: 17px;
  }

  .filter-del {
    font-size: 20px;
    color: #999999;
  }
  /deep/ .ant-form-item {
    margin: 0;
  }
</style>
