<template>
  <div class="sorting-conditions">
    <div v-for="(item, index) in state.sortList" :key="item.key" class="sort-row">
      <sorting-field
        :k="item.key"
        :default-value="item"
        :label="state.alphabet[index]"
        @on-data-set-change="onDataSetChange"
        @on-sort-change="onSortChange"
        @remove="deleteSorting"
      ></sorting-field>
      <a-button v-if="editEnabled" type="link" class="filter-node-btn" @click="addSorting">
        <template #icon><PlusCircleOutlined /></template>
        添加条件
      </a-button>
      <a-button v-else type="link" class="filter-node-btn disabled" disabled>
        <template #icon><PlusCircleOutlined /></template>
        添加条件
      </a-button>
    </div>
  </div>
</template>

<script setup lang="tsx">
  import { inject, onMounted, reactive, watch } from 'vue';
  import { PlusCircleOutlined } from '@ant-design/icons-vue';
  import { cloneDeep } from 'lodash-es';
  import { message as $message } from 'ant-design-vue';
  import SortingField from './SortingField.vue';
  import { guid } from '@/utils/guid';
  interface MyData {
    selectValue: any;
    sort: Array<any>;
    sortList: Array<any>;
    alphabet: Array<any>;
  }

  const props = defineProps({
    defaultValue: {
      type: Array,
      default: () => [],
    },
  });
  defineOptions({
    name: 'SortingConditions',
  });
  const editEnabled = inject('editEnabled');

  const state = reactive<MyData>({
    selectValue: {},
    sort: [
      { key: '1', value: '升序' },
      { key: '2', value: '降序' },
    ],
    sortList: [
      // {
      //   key: 0,
      //   english: "A",
      //   field: {
      //     colCname: "",
      //     colId: 0,
      //     colName: "",
      //     orderType: "asc",
      //     tabCname: "",
      //     tabId: 0,
      //     tabName: ""
      //   }
      // }
    ],
    alphabet: ['A', 'B', 'C', 'D', 'E'],
  });

  const init = () => {
    if (state.sortList.length === 0) {
      state.sortList.push({
        key: guid(),
        english: 'A',
        field: {
          colCname: '',
          colId: 0,
          colName: '',
          orderType: 'asc',
          tabCname: '',
          tabId: 0,
          tabName: '',
        },
      });
    }
  };
  // 增加排序
  const addSorting = () => {
    const temp = state.sortList.filter((x) => !x.field.tabCname || !x.field.colCname);
    if (temp.length > 0) {
      $message.error('请完善所选排序信息');
      return;
    }
    if (state.sortList.length < 5) {
      state.sortList.push({
        key: guid(),
        english: state.alphabet[state.sortList.length],
        field: {
          colCname: '',
          colId: 0,
          colName: '',
          orderType: 'asc',
          tabCname: '',
          tabId: 0,
          tabName: '',
        },
      });
      // console.log('this.sortList---', state.sortList);
    } else {
      $message.error('最多支持5个排序条件');
    }
  };
  // 删除排序
  const deleteSorting = (key) => {
    if (state.sortList.length === 1) {
      return;
    }
    const index = state.sortList.findIndex((x) => x.key === key);
    if (index > -1) {
      state.sortList.splice(index, 1);
    }
  };
  const onSortChange = (key, e) => {
    const temp = state.sortList.find((x) => x.key === key);
    if (temp) {
      temp.field.orderType = e === 2 ? 'desc' : 'asc';
    }
    // console.log(this.sortList);
  };
  const onDataSetChange = (key, e) => {
    // console.log('e------key', e, key);
    const temp = state.sortList.find((x) => x.key === key);
    if (temp) {
      if (e && e.value.length > 1) {
        temp.field.colCname = e.value[1].cName;
        temp.field.colId = e.value[1].id;
        temp.field.colName = e.value[1].name;
        temp.field.orderType = e.orderType;
        temp.field.tabCname = e.value[0].cName;
        temp.field.tabId = e.value[0].id;
        temp.field.tabName = e.value[0].name;
      } else {
        temp.field.colId = 0;
      }
    }
    // console.log(this.sortList);
  };
  // 获取返回结果
  const getResult = () => {
    const result: any = { code: '0', msg: '', data: null };
    const list: any = [];
    state.sortList.forEach((x) => {
      if (x.field && x.field.colId > 0) {
        list.push(x.field);
      }
      // else {
      //   result.msg = '请完善未指定字段排序选项'
      // }
    });
    if (result.msg.length === 0) {
      result.code = 1;
      result.data = list;
    }
    // console.log('resultSort', result);
    return result;
  };

  watch(
    () => props.defaultValue,
    (v) => {
      const sortList: any = [];
      for (let i = 0; i < v.length; i++) {
        sortList.push({
          key: guid(),
          english: state.alphabet[i],
          field: v[i],
        });
      }
      if (sortList.length === 0) {
        init();
      } else {
        state.sortList = cloneDeep(sortList);
      }
    },
    { deep: true, immediate: true },
  );
  onMounted(() => {
    init();
  });
  defineExpose({
    getResult,
  });
</script>

<style scoped lang="less">
  .sorting-conditions {
    border: 1px solid #d9d9d9;
    padding: 20px;
    .sort-row {
      display: flex;
      align-items: baseline;
      margin-bottom: 6px;
    }

    .filter-node-btn {
      margin-left: 10px;
      font-size: 14px;
      font-weight: normal;
      display: flex;
      align-items: baseline;
      padding: 4px 0 !important;
      span {
        font-size: 20px;
      }
    }
  }
</style>
