<template>
  <div>
    <!-- 部门领导审核+业务自查 +模型管理员初审-->
    <a-form
      v-if="!state.bouncedShow3"
      ref="businessFormRef"
      :model="state.businessForm"
      :label-col="{ span: 5 }"
      :wrapper-col="{ span: 16 }"
      :rules="rules1"
      :footer="null"
      @finish="onFinish1('30')"
      @finish-failed="onFinishFailed1"
    >
      <!-- <a-form-item label="疑似问题关键信息" name="recordKeyChinese">
        {{ state.businessForm.recordKeyChinese }}
      </a-form-item> -->
      <a-form-item label="问题确认" name="problemConfirm">
        <a-radio-group v-model:value="state.businessForm.problemConfirm">
          <a-radio value="20">
            {{ state.recordHandleOpinion == '18' ? '是' : '是问题' }}
          </a-radio>
          <a-radio value="40">
            {{
              state.recordHandleOpinion == '15' || state.recordHandleOpinion == '16'
                ? '不是问题'
                : '否'
            }}
          </a-radio>
          >
        </a-radio-group>
      </a-form-item>
      <a-form-item label="核查说明" name="handleRemark" style="margin-bottom: 20px">
        <a-textarea
          v-model:value="state.businessForm.handleRemark"
          show-count
          :maxlength="500"
          allow-clear
          placeholder="请输入500字符以内"
        />
      </a-form-item>
      <a-form-item label="材料">
        <div class="dropbox">
          <a-upload-dragger
            v-model:fileList="state.fileList"
            name="file"
            :action="`${state.BASE_URL}p/clue/dealWithFileUpload`"
            :before-upload="beforeUpload"
            :headers="state.headers"
            accept=".zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png"
            @change="normFile"
            @preview="onPreview"
          >
            <p class="ant-upload-drag-icon">
              <ArrowUpOutlined></ArrowUpOutlined>
            </p>
            <p class="ant-upload-text">点击或将文件拖拽到这里上传</p>
            <p class="ant-upload-hint"
              >支持扩展名：.zip .rar .doc .docx .pdf .xls .xlsx .jpg .jpeg .png</p
            >
          </a-upload-dragger>
        </div>
      </a-form-item>
      <div v-if="state.businessForm.problemConfirm == '20'">
        <a-form-item label="问题简述" name="proQua">
          <!-- 是问题或者驳回业务自查-则核查说明为必填项 v-decorator="['proQua',{ rules: [{ required: true, message: '请输入问题简述，最大允许30个字符' }] }]"-->
          <a-textarea
            v-model:value="state.businessForm.proQua"
            show-count
            allow-clear
            placeholder="问题定性一句话描述，最大30个字符"
            :maxlength="30"
          />
        </a-form-item>

        <a-form-item label="责任部门" required>
          <a-cascader
            v-model:value="state.resDepCodeNew"
            placeholder="请选择责任部门"
            allow-clear
            :field-names="{ label: 'text', value: 'code', children: 'children' }"
            :options="state.responsibleDeptData"
            show-search
            style="width: 300px"
            @change="changRresDep"
          >
          </a-cascader>
          <p v-show="state.resDepCodeFlag" class="ant-form-explain"> 请选择责任部门名称 </p>
        </a-form-item>
        <a-form-item label="责任人" name="resPerson">
          <a-input
            v-model:value="state.businessForm.resPerson"
            placeholder="请输入责任人，最大支持32个字符"
            :maxlength="32"
            type="text"
          />
        </a-form-item>
        <a-form-item
          v-if="!state.businessFlag && state.businessForm.problemConfirm == '20'"
          label="部门领导选择"
          name="receiver"
          :rules="[{ required: true, message: '请选择部门领导' }]"
        >
          <a-cascader
            v-model:value="state.businessForm.receiver"
            set-fields-value=""
            :options="state.optionsData"
            placeholder="请输入"
            change-on-select
            show-search
            @change="changeTreeValue"
          />
        </a-form-item>
        <a-form-item v-if="state.businessFlag" label="下一步" name="handleOpinion">
          <a-radio-group
            v-model:value="state.businessForm.handleOpinion"
            @change="handleChangeNext"
          >
            <a-radio :value="'6'"> 移交纪检 </a-radio>
            <a-radio :value="'14'"> 责令整改 </a-radio>
          </a-radio-group>
        </a-form-item>
        <a-form-item
          v-if="state.businessForm.handleOpinion == '6'"
          label="移交纪检"
          name="receiver"
        >
          <a-select
            v-model:value="state.businessForm.receiver"
            style="width: 300px"
            allow-clear
            show-search
            @change="receiverChange"
          >
            <a-select-opt-group label="纪检组">
              <a-select-option
                v-for="(item, index) in state.transferArrjijian['纪检组']"
                :key="index"
                :value="'纪检' + '-' + item"
              >
                {{ item }}
              </a-select-option>
            </a-select-opt-group>
          </a-select>
        </a-form-item>
      </div>
      <div class="sub-btn">
        <a-button
          v-if="
            state.recordHandleOpinion == '18' &&
            !state.businessFlag &&
            state.businessForm.problemConfirm == '40'
          "
          type="primary"
          style="background: #1890ff; color: #fff"
          :loading="state.loading"
          html-type="submit"
          >提交模型管理员</a-button
        >
        <a-button
          v-if="
            state.recordHandleOpinion == '18' &&
            !state.businessFlag &&
            state.businessForm.problemConfirm == '20'
          "
          type="primary"
          style="background: #1890ff; color: #fff"
          :loading="state.loading"
          html-type="submit"
          >提交部门领导审核</a-button
        >
        <a-button
          v-if="state.businessFlag || state.recordHandleOpinion == '16'"
          type="primary"
          style="background: #1890ff; color: #fff"
          :loading="state.loading"
          html-type="submit"
          >提交</a-button
        >
      </div>
    </a-form>
    <!-- 纪检检查  -->
    <a-form
      v-if="state.bouncedShow3"
      ref="businessFormRef"
      :rules="rules3"
      :model="state.businessForm"
      :label-col="{ span: 5 }"
      :wrapper-col="{ span: 16 }"
      :footer="null"
      @finish="onFinish1('40')"
      @finish-failed="onFinishFailed1"
    >
      <!-- <a-form-item label="疑似问题关键信息" name="recordKeyChinese">
        {{ state.businessForm.recordKeyChinese }}
      </a-form-item> -->
      <a-form-item label="处理意见" name="handleOpinion">
        <a-radio-group
          v-for="item in state.itemTextList"
          :key="item.itemValue"
          v-model:value="state.businessForm.handleOpinion"
        >
          <a-radio :value="item.itemValue">{{ item.itemText }}</a-radio>
        </a-radio-group>
      </a-form-item>
      <a-form-item label="研判说明" name="handleRemark">
        <a-textarea
          v-model:value="state.businessForm.handleRemark"
          placeholder="请输入500字符以内"
          show-count
          :maxlength="500"
          allow-clear
        />
      </a-form-item>
      <div class="sub-btn">
        <a-button
          type="primary"
          style="background: #1890ff; color: #fff"
          :loading="state.loading"
          html-type="submit"
          >{{
            state.businessForm.handleOpinion == '9' ? '结束流程' : '提交模型管理员整改'
          }}</a-button
        >
      </div>
    </a-form>
  </div>
</template>

<script setup lang="tsx">
  import { reactive, ref, getCurrentInstance, onMounted, nextTick } from 'vue';
  import { ArrowUpOutlined } from '@ant-design/icons-vue';
  import { cloneDeep } from 'lodash-es';
  import { message, Upload } from 'ant-design-vue';
  import { downloadJson } from '@/utils/request';
  import 'ant-design-vue/lib/button/style';
  import { getDep, getUsers } from '@/api/supervisionGovern';
  import { ACCESS_TOKEN_KEY } from '@/enums/cacheEnum';
  import { Storage } from '@/utils/Storage';
  import { getDeptLead, saveInspector } from '@/api/supervisionModel';
  const emit = defineEmits(['handleOk', 'search']);
  const { proxy } = getCurrentInstance();
  // const props = defineProps({
  // dataList: { type: Object, default: null },
  // visible: { type: Boolean, default: null },
  // users: { type: String, default: '' },
  // auditStatus: { type: String, default: null },
  // temporaryFlag: { type: Number, default: null },
  // temporaryData: { type: String, default: null },
  // linkjudge: { type: String, default: '0' },
  // ids: { type: Array, default: () => [] },
  // });
  const businessFormRef = ref();
  const state = reactive({
    recordHandleOpinion: '',
    optionsData: [],
    businessFlag: true,
    opinionJJFlag: 0,
    loading: false,
    temporaryLoading: false,
    businessForm: {
      problemConfirm: '',
      clueIds: [],
      recordKey: '',
      recordKeyChinese: '',
      handleCommitSeqno: '',
      modelId: '',
      proQua: '',
      resPerson: '',
      handleRemark: '',
      handleOpinion: '',
      receiver: '',
    },
    dataTitle: [], //
    BASE_URL: process.env.VUE_APP_BASE_API, // url
    headers: {}, // 上传头
    fileList: [], // 上传的文件列表
    keyAndCodes: [], // 要执行的数据
    selectArr: [],
    bouncedShow1: false, // 弹框展示
    bouncedShow2: false, // 弹框展示
    bouncedShow3: false, // 弹框展示
    recordKey: '', // 业务主键
    transferArr: [], // 转交人/移交人
    transferArrShow1: false,
    transferArrShow3: false,
    opinion: null,
    itemTextList: proxy.$dict.getItemsByDictCode('handlingOpinionsjijian'),
    transferType: '1',
    checkTransferSelect: false,
    opinionFlag: null, // 是否显示流程结束标识
    responsibleDeptData: [], //审计--部门选择
    resDepCode: '', //部门id--包括二级
    resDep: '', //部门中文
    resDepCodeFlag: false, //责任部门验证标识
    handleRemarkFlag: false, //核查说明验证标识
    todoLinkCode: '',
    transferArrjijian: [], //纪检组
    rectificationList: [],
    resDepCodeNew: [],
    auditStatus: '',
    sendUser: '',
    handleUserEmployee: '',
  });
  const rules1 = reactive({
    problemConfirm: [{ required: true, message: '请确认问题' }],
    proQua: [{ required: true, message: '请输入问题简述' }],
    handleOpinion: [{ required: true, message: '请选择下一步操作' }],
    receiver: [{ required: true, message: '请选择人员名称' }],
    // resPerson: [{ required: true, message: '请输入责任人名称', trigger: 'blur' }],
  });
  const rules3 = reactive({
    handleOpinion: [{ required: true, message: '请选择处理意见' }],
  });
  // 提交
  const onFinish1 = (type) => {
    businessHandleOk(type);
  };
  const onFinishFailed1 = () => {
    console.log('表单校验未通过');
  };
  const businessHandleOk = (type) => {
    state.loading = true;
    if (
      (state.businessForm.problemConfirm == '20' && state.resDepCodeNew.length == 0) ||
      (state.businessForm.problemConfirm == '20' && state.resDepCodeNew == '') ||
      (state.businessForm.problemConfirm == '20' && state.resDepCodeNew == null)
    ) {
      //选择是问题则部门必选
      state.resDepCodeFlag = true;
    } else {
      state.resDepCodeFlag = false;
      const params = {
        ...state.businessForm,
        handType: type, //唐俊!state.businessFlag ? '20' :---'20业务自查标识 10表示模型管理员审核
        temporaryFlag: 2, //提交的标识
        resDepCode: state.resDepCodeNew.join(',') || '',
        resDep: state.resDep,
        lineOfDefenseType: '1', //唐俊
        handleAttachments: state.fileList
          ? state.fileList.map((item) => {
              return item.response.data;
            })
          : [],
      };
      if (state.recordHandleOpinion == '16') {
        params.handType = '10';
      } else if (state.recordHandleOpinion == '18') {
        params.handType = '20';
      }
      params.receiver = state.businessForm.receiver || state.sendUser; //如果没有选择人则默认给模型管理员
      //handleInspectionsSecondstate.sendUser纪检提交返回给模型管理员，留存待查则流程结束
      saveInspector(params).then((res) => {
        state.loading = false;
        if (res.code === 'OK' && res.success) {
          message.success(res.data);
          //关闭父组件
          emit('handleOk');
        } else {
          message.error(res.message);
        }
      });
    }
  };
  const processHandle = (batchData) => {
    const val = batchData.selectedRows[0];
    const record = cloneDeep(val);
    nextTick(() => {
      state.businessForm = cloneDeep(record); //部门领导回显上一处理人提交的相关信息
      state.businessForm.recordKey = record.recordKey || '';
      state.resDepCodeNew = [];
      state.businessForm.handleCommitSeqno = record.handleCommitSeqno;
      state.businessForm.clueIds = batchData.ids; //待办编号-批量
      state.businessForm.modelId = record.modelId;
      state.sendUser = record.sendUser;
      state.recordHandleOpinion = record.handleOpinion;
      state.handleUserEmployee = record.handleUserEmployee;
      if (record.handleOpinion == '6') {
        //表示纪检研判
        state.bouncedShow3 = true;
        state.businessFlag = true;
      } else if (record.handleOpinion == '18') {
        // handleOpinion==4表示业务自查
        treeData(); //部门领导
        state.bouncedShow3 = false;
        state.businessFlag = false;
        //部门领导回显上一处理人提交的相关信息
      } else if (record.handleOpinion == '16') {
        //模型管理员审核
        treeData(); //部门领导
        state.businessFlag = false;
      } else {
        //15==部门领导审核
        state.bouncedShow3 = false;
        const resDepCode =
          record.resDepCode && record.resDepCode.indexOf(',') != -1
            ? record.resDepCode.split(',')
            : [record.resDepCode];
        state.resDepCodeNew = resDepCode;
        // 把上一处理人的处理信息带过来，没有则为空
      }
      state.businessForm.handleOpinion = ''; //不回显
      getResponsibleDeptFn();
    });
  };

  // 级联数据
  const treeData = () => {
    getDeptLead({ employeeCode: state.handleUserEmployee }).then((res) => {
      const data = res.data;
      state.optionsData = [];
      data.forEach((item) => {
        if (item) {
          state.optionsData.push(proxy.$dict.toCasaderTree(item));
        }
      });
    });
  };
  const changeTreeValue = (val) => {
    state.businessForm.receiver = val && val[2];
  };
  const handleChangeNext = () => {
    // 下一步选择
    state.businessForm.receiver = '';
  };
  // 选择处理人
  const receiverChange = (value) => {
    if (value) {
      state.businessForm.receiver = value.split('-')[1];
    }
  };
  const getResponsibleDeptFn = () => {
    getDep().then((res) => {
      if (res.status === 200) {
        state.responsibleDeptData = res.data.rows.children;
      }
    });
  };
  const changRresDep = (val) => {
    state.resDepCodeNew = val;
    if (val != undefined && val.length > 0) {
      state.resDepCodeFlag = false;
      state.resDepCode = val.join(',') || '';
      if (val.length == 1) {
        //找到对应部门中文名称
        const resDep = state.responsibleDeptData.find((item) => {
          return item.code === val[0];
        });
        state.resDep = resDep.text;
      } else if (val.length == 2) {
        const resDepP = state.responsibleDeptData.find((x) => {
          return x.code === val[0];
        });
        const resDepC = resDepP.children.find((y) => {
          return y.code === val[1];
        });
        state.resDep = `${resDepP.text},${resDepC.text}`;
      }
    } else {
      state.resDepCodeFlag = true;
      state.resDep = '';
    }
  };
  const careOf = () => {
    getUsers({ role: 'inspection' }).then((r) => {
      if (r.data.success === true) {
        state.transferArrjijian = r.data.data; //返回只有纪检组
      } else {
        message.error(r.data.message);
      }
    });
  };
  // 文件预览
  const onPreview = (file) => {
    const url = file.response.data;
    // 文件下载
    downloadJson(
      'p/clue/file/downLoad',
      {
        filePathName: url,
      },
      file.name,
    ).then(() => {});
  };
  // 请求拦截
  const beforeUpload = (file) => {
    let flag = true;
    const config = { Authentication: '' };
    const FileExt = file.name.replace(/.+\./, '');
    if (
      ['jpg', 'jpeg', 'png', 'zip', 'rar', 'pdf', 'doc', 'docx', 'xlsx', 'xls'].indexOf(
        FileExt.toLowerCase(),
      ) === -1
    ) {
      message.warning(
        '请上传后缀名为.zip, .rar, .doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png的文件！',
      );
      return Upload.LIST_IGNORE;
    }
    // 有 token就带上
    if (Storage.get(ACCESS_TOKEN_KEY)) {
      config.Authentication = Storage.get(ACCESS_TOKEN_KEY);
    } else {
      // 没有就别上传
      flag = false;
    }
    state.headers = JSON.parse(JSON.stringify(config));
    // 上传5次就禁止上传了
    if (state.fileList.length > 3) {
      flag = false;
    }
    return flag;
  };
  // 文件改变调用
  const normFile = (e) => {
    if (Array.isArray(e)) {
      return e;
    }
    if (e.fileList.length <= 3) {
      state.fileList = e.fileList;
    }
    // 如果大于3条，只保留前3条
    if (e.fileList.length > 3) {
      e.fileList = e.fileList.splice(2, 1);
      message.error('最多只能上传3个文件');
    }
    return e && e.fileList;
  };
  onMounted(() => {
    careOf();
  });
  defineExpose({ processHandle });
</script>

<style lang="less" scoped>
  .ant-form-explain {
    color: #f5222d;
    font-size: 14px !important;
  }
  .sub-btn {
    display: flex;
    justify-content: center;
  }
</style>
