<template>
  <div class="logo">
    <img :src="state.logo" alt="" />
  </div>
</template>

<script setup>
  import { reactive } from 'vue';

  defineProps({
    collapsed: {
      type: Boolean,
    },
  });
  const state = reactive({
    logo: require(`@/assets/static/images/logo1.png`),
  });
</script>

<style lang="less" scoped>
  .logo {
    @apply flex overflow-hidden whitespace-nowrap items-center;

    height: 64px;
    padding-left: 5px;
    line-height: 64px;
    width: 200px;

    img {
      width: 100%;
    }

    .title {
      @apply mb-0 text-xl;
      color: @primary-color;
    }
  }
</style>
