<template>
  <div class="codemirror-div">
    <!--    SQL脚本语句-->
    <textarea
      id="mycode"
      v-model="sqlVal"
      label="SQL脚本语句"
      style="width: 200px"
      rows="5"
    ></textarea>
    <div>
      <button v-for="(v, i) in btns" :key="i" class="btn" @click="setBtnval(v.value)">{{
        v.value
      }}</button>
    </div>
  </div>
</template>
<script>
  import { ref, watch } from 'vue';
  import 'codemirror/theme/ambiance.css';
  import 'codemirror/lib/codemirror.css';
  import 'codemirror/addon/hint/show-hint.css';
  // import CodeMirror from 'codemirror/lib/codemirror';
  import 'codemirror/addon/edit/matchbrackets';
  import 'codemirror/addon/selection/active-line';
  // require("codemirror/mode/sql/sql");
  import 'codemirror/addon/hint/show-hint';
  import 'codemirror/addon/hint/sql-hint';
  import 'codemirror/mode/sql/sql.js';
  const CodeMirror = require('codemirror/lib/codemirror');

  export default {
    name: 'Mycode',
    props: {
      readOnly: {
        type: Boolean,
        require: false,
      },
    },
    setup(props, context) {
      // let value = ""
      const sqlVal = ref('');
      const btns = ref([
        { value: '+' },
        { value: '-' },
        { value: '*' },
        { value: '/' },
        { value: '(' },
        { value: ')' },
      ]);
      watch(
        () => sqlVal.value,
        () => {
          // console.log('监听value', val);
          context.emit('changeTextarea', editor.getValue());
        },
      );
      let editor = null;
      function initEditor() {
        editor = CodeMirror.fromTextArea(document.getElementById('mycode'), {
          mode: 'text/x-sql', //选择对应代码编辑器的语言，我这边选的是数据库，根据个人情况自行设置即可
          indentWithTabs: false, //在缩进时，是否需要把 n*tab宽度个空格替换成n个tab字符，默认为false
          smartIndent: true, //自动缩进，设置是否根据上下文自动缩进（和上一行相同的缩进量）。默认为true。
          lineNumbers: true, //是否在编辑器左侧显示行号。
          matchBrackets: true, // 匹配括号
          cursorHeight: 0.85, //光标高度。默认为1，也就是撑满行高。对一些字体，设置0.85看起来会更好。
          lineWrapping: true, // 自动换行
          readOnly: props.readOnly, //是否只读
          //theme: theme,// 主题配置
          autofocus: false, //是否在初始化时自动获取焦点。默认情况是关闭的。但是，在使用textarea并且没有明确指定值的时候会被自动设置为true。
          extraKeys: { Ctrl: 'autocomplete' }, //自定义快捷键
          hintOptions: {
            //自定义提示选项
            // 当匹配只有一项的时候是否自动补全
            completeSingle: false,
            tables: {
              CASE: [''],
              WHEN: [''],
              // users: ['name', 'score', 'birthDate'],
              // countries: ['name', 'population', 'size'],
            },
          },
        });
        //在vue这段无效- 代码自动提示功能，记住使用cursorActivity事件不要使用change事件，这是一个坑，那样页面直接会卡死
        editor.on('inputRead', () => {
          editor.showHint();
        });
        // let timeout;
        editor.on('keyup', () => {
          // console.log('keyup00000000', editor.getValue());
          sqlVal.value = editor.getValue();
          // if (//注释这一段是坑--输入完一个字符一秒后光标会跳到初始位置
          //   !cm.state.completeActive &&
          //   ((event.keyCode >= 65 && event.keyCode <= 90) ||
          //     event.keyCode == 52 ||
          //     event.keyCode == 219 ||
          //     event.keyCode == 190)
          // ) {
          //   CodeMirror.commands.autocomplete(cm, null, {
          //     completeSingle: false,
          //   });
          // }
          //加了一秒的防抖
          // if (timeout) clearTimeout(timeout);
          // timeout = setTimeout(() => {
          //   context.emit('changeTextarea', editor.getValue());
          // }, 1000);
        });
      }
      const setSql = (val) => {
        // console.log('值呢', val);
        //赋值sql
        sqlVal.value = val;
        val != undefined && editor.setValue(val); //防止初始化报错
      };
      // 清除值
      const clearVal = () => {
        // console.log('清除',editor.getTextArea().value)
        editor.setValue('');
      };
      const setEditor = (obj) => {
        obj['CASE'] = [''];
        obj['WHEN'] = [''];
        editor.options.hintOptions.tables = obj;
      };
      const setBtnval = (val) => {
        setSql(sqlVal.value + val);
      };
      return {
        sqlVal,
        initEditor,
        clearVal,
        setSql,
        setEditor,
        btns,
        setBtnval,
      };
    },
    mounted() {
      this.initEditor();
    },
  };
</script>

<style scoped>
  .CodeMirror {
    color: black;
    direction: ltr;
    line-height: 22px;
    height: 9rem;
  }
  .CodeMirror-hints {
    z-index: 9999 !important;
  }
  .btn {
    background: #eee;
    line-height: 20px;
    width: 30px;
    height: 30px;
    margin-top: 9px;
    margin-right: 10px;
    border-color: transparent;
    cursor: pointer;
  }
</style>
