<template>
  <div class="stylewidth">
    <a-row class="titlebag">
      <a-col :md="{ span: 7, offset: 8 }"> 欧贝平台管理驾驶舱-设备中心 </a-col>
      <a-col :md="{ span: 3, offset: 3 }">
        <a-select v-model:value="device" size="large" @change="deviceonChange" class="datastyle">
          <a-select-option value="东北平台产品销售部">东北平台产品销售部</a-select-option>
          <a-select-option value="华东大区">华东大区</a-select-option>
          <a-select-option value="华中大区">华中大区</a-select-option>
          <a-select-option value="华北大区(唐山站)">华北大区(唐山站)</a-select-option>
          <a-select-option value="华南大区">华南大区</a-select-option>
          <a-select-option value="市场营销部">市场营销部</a-select-option>
          <a-select-option value="平台运营中心">平台运营中心</a-select-option>
          <a-select-option value="欧冶采购">欧冶采购</a-select-option>
          <a-select-option value="润益科技">润益科技</a-select-option>
          <a-select-option value="西北大区">西北大区</a-select-option>
          <a-select-option value="西南大区">西南大区</a-select-option>
          <a-select-option value="销售一部">销售一部</a-select-option>
          <a-select-option value="销售二部">销售二部</a-select-option>
          <a-select-option value="销售支持部">销售支持部</a-select-option>
        </a-select>
      </a-col>
      <a-col :md="{ span: 2 }">
        <a-date-picker
          v-model:value="monthvalue"
          size="large"
          class="datastyle"
          :format="monthFormat"
          :disabled-date="disabledDate"
          picker="month"
          @change="dataonChange"
        />
      </a-col>
    </a-row>
    <DeviceMontage :year-month="conditionalmonth" :department="device" />
  </div>
</template>

<script setup lang="ts">
  import { onMounted, ref } from 'vue';
  import dayjs, { Dayjs } from 'dayjs';
  import DeviceMontage from './devicefiles/DeviceMontage.vue';
  defineOptions({
    name: 'DeviceIndex',
    inheritAttrs: false,
  });
  // 时间选择框
  const monthFormat = 'YYYYMM';
  const disabledDate = (current: Dayjs) => {
    return current && current > dayjs().endOf('day');
  };
  const begindate = new Date(new Date() - 1000 * 60 * 60 * 24);
  const year = ref(begindate.getFullYear());
  const month = ref(begindate.getMonth() + 1);
  if (month.value < 10) {
    month.value = `0${month.value}`;
  }
  const yearmonth = `${year.value}${month.value}`.toString();
  const monthvalue = ref<Dayjs>(dayjs(yearmonth, monthFormat));

  const conditionalmonth = ref('');
  function dataonChange(value, dateString) {
    conditionalmonth.value = dateString;
    // console.log('Formatted Selected Time: ', dateString);
  }

  const device = ref('');
  function deviceonChange(value) {
    device.value = value;
  }

  onMounted(() => {
    conditionalmonth.value = yearmonth;
    device.value = '东北平台产品销售部';
  });
</script>

<style lang="less" scoped>
  .stylewidth {
    width: 100%;
  }
  .titlebag {
    font-family: @font-family;
    line-height: 80px;
    color: @heading-color;
    background-color: rgba(255, 212, 74, 0.5);
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .datastyle {
    top: -5px;
    width: 200px;
  }
</style>
