<template>
  <div class="stylewidth">
    <a-row class="titlebag">
      <a-col :md="{ span: 7, offset: 8 }" :sm="{ span: 7, offset: 8 }">
        欧贝平台管理驾驶舱-欧贝易购
      </a-col>
      <a-col :md="{ span: 3, offset: 5 }">
        <a-date-picker
          v-model:value="monthvalue"
          class="datastyle"
          size="large"
          :format="monthFormat"
          :disabled-date="disabledDate"
          picker="month"
          @change="onChange"
        />
      </a-col>
    </a-row>
    <ObeyTesco :year-month="conditionalmonth" />
  </div>
</template>

<script setup lang="ts">
  import { onMounted, ref } from 'vue';
  import dayjs, { Dayjs } from 'dayjs';
  import ObeyTesco from './obeytesco/ObeyTesco.vue';
  defineOptions({
    name: 'SalesIndex',
    inheritAttrs: false,
  });
  // 时间选择框
  const monthFormat = 'YYYYMM';
  const disabledDate = (current: Dayjs) => {
    return current && current > dayjs().endOf('day');
  };
  const begindate = new Date(new Date() - 1000 * 60 * 60 * 24);
  const year = ref(begindate.getFullYear());
  const month = ref(begindate.getMonth() + 1);
  if (month.value < 10) {
    month.value = `0${month.value}`;
  }
  const yearmonth = `${year.value}${month.value}`.toString();
  const monthvalue = ref<Dayjs>(dayjs(yearmonth, monthFormat));

  const conditionalmonth = ref('');
  function onChange(value, dateString) {
    conditionalmonth.value = dateString;
  }
  // const depData = ref('');
  // const depChange = (val) => {
  //   depData.value = val;
  // };

  onMounted(() => {
    conditionalmonth.value = yearmonth;
    // depData.value = '资材品类中心';
  });
</script>

<style lang="less" scoped>
  .stylewidth {
    width: 100%;
  }
  .titlebag {
    font-family: @font-family;
    line-height: 80px;
    color: @heading-color;
    background-color: rgba(255, 212, 74, 0.5);
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .datastyle {
    height: 40px;
    top: -5px;
  }
</style>
