<template>
  <nav>
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link> |
    <a href="/web-data-tpp/">web-data-tpp</a> |
    <a href="/web-data-supervision/">web-data-supervision</a>
    | <a href="/web-data-pdg/">web-data-pdg</a> |
    <a href="/web-performance-eval/">web-performance-eval</a>
    <div id="appContainer"></div>
  </nav>
  <router-view />
</template>

<script lang="ts" setup></script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
