<template>
  <div class="OperationTarget">
    <a-row :gutter="[16, 10]" class="gutter-style">
      <a-col :md="{ span: 24 }">
        <div class="OperationTarget-bg">
          <div class="OperationTarget-first">
            <div v-for="(item, index) in eBay.bay" :key="index" class="OperationTarget-item">
              <p class="gmv-title">{{ item.title }}</p>
              <p class="gmv-first">
                <ScoringRing
                  :echarcolor="
                    item.title == '客户满意度'
                      ? state.greencolor
                      : item.title == '平台累计客户数'
                      ? state.gmvcolor
                      : state.defcolor
                  "
                  :echardata="item.rate"
                  :echarunit="state.e03"
                />
              </p>
              <div class="text">
                <p>目标&nbsp;:&nbsp;{{ item.goals }} {{ item.unit }}</p>
                <p>当前&nbsp;:&nbsp;{{ item.current }} {{ item.unit }}</p>
              </div>
              <p v-if="item.title == '平台会员数'"
                >新增用户数&nbsp;:&nbsp;{{ item.other }} {{ item.unit }}</p
              >
            </div>
          </div>
        </div>
      </a-col>
      <a-col :md="{ span: 24 }">
        <div class="OperationTarget-bg">
          <div class="OperationTarget-first2">
            <div
              v-for="(item, index) in eBay2.bay"
              :key="index"
              class="OperationTarget-item gmv-first2"
            >
              <p class="gmv-title">{{ item.title }}</p>
              <p class="gmv-first">
                <SpeedGauge :echardata="item.rate" :echarunit="state.e03" />
              </p>
              <div class="text">
                <p>目标&nbsp;:&nbsp;{{ item.goals }} {{ item.unit }}</p>
                <p>当前&nbsp;:&nbsp;{{ item.current }} {{ item.unit }}</p>
              </div>
            </div>
          </div>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
  import { reactive, watch, nextTick, defineExpose } from 'vue';
  import { ScoringRing, SpeedGauge, WaterPolo } from '../../../echartsAssembly';
  import { queryAggregate } from '@/api/strategyTracking';
  const state = reactive({
    LT_REV: '',
    LT_REV_TG: '',
    LT_REV_PCT: '',
    YK_REV: '',
    YK_REV_PCT: '',
    YK_REV_TG: '',
    yearMonth: '',
    defcolor: '#188df0',
    gmvcolor: '#fa4d5b',
    fjcolor: '#98d45b',
    greencolor: '#53c676',
    bluecolor: '#1367ca',
    e01: '0.78',
    e02: '78',
    e03: '%',
    depData: '',
  });

  //保留两位有效小数
  const Xiaoshu = (text) => {
    if (text == '-') {
      return text;
    } else {
      const datatext = parseFloat(text).toFixed(2);
      return parseFloat(datatext).toLocaleString();
    }
  };

  // 第一行
  const eBay = reactive({
    bay: [
      { title: '平台会员数', goals: '20', current: '5,000 ', other: '15 ', rate: '78', unit: '家' },
      { title: '平台累计客户数', goals: '20', current: '5,000 ', rate: '78', unit: '家' },
      { title: '新增客户数', goals: '20', current: '5,000 ', rate: '78', unit: '家' },
      { title: '客户满意度', goals: '20', current: '5,000 ', rate: '78', unit: '分' },
      { title: '会员审核时效', goals: '20', current: '5,000 ', rate: '78', unit: '%' },
    ],
  });
  const eBay2 = reactive({
    bay: [
      { title: '欧贝电子签累计客户总数', goals: '20', current: '5,000 ', rate: '78', unit: '家' },
      { title: '欧贝电子签新增客户总数', goals: '20', current: '5,000 ', rate: '78', unit: '家' },
      { title: '客服坐席及小助手', goals: '30 ', current: '20 ', rate: '78', unit: '%' },
      // { title: '客服满意度平台实绩', goals: '目标：20 分', rate: '78' },

      // 暂时没有数据以后可能要
      // {
      //   title: '客服满意度 平台实绩',
      //   goals: '基础服务： 95 分',
      //   current: '移动APP： 92 分',
      //   other: '易 购： 90 分',
      //   rate: '78',
      // },
      // {
      //   title: '客服满意度 平台实绩',
      //   goals: '商 城： 95 分',
      //   current: '零 碳： 92 分',
      //   other: '易 销： 90 分',
      //   rate: '78',
      // },
    ],
  });

  // 图表数据1
  const goalsDataBay = (id, index) => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: id,
        },
      ],
    };
    queryAggregate(cans).then((res) => {
      nextTick(() => {
        const data = res.data[id].dataMap;
        if (index == 0) {
          eBay.bay[index].goals = Xiaoshu(data.ME_USER_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.ME_USER[0]);
          eBay.bay[index].other = Xiaoshu(data.ME_USER[0]);
          eBay.bay[index].rate = data.ME_USER_PCT[0];
        } else if (index == 1) {
          eBay.bay[index].goals = Xiaoshu(data.ME_CUS_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.ME_CUS[0]);
          eBay.bay[index].rate = data.ME_CUS_PCT[0];
        } else if (index == 2) {
          eBay.bay[index].goals = Xiaoshu(data.ME_NEW_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.ME_NEW[0]);
          eBay.bay[index].rate = data.ME_NEW_PCT[0];
        } else if (index == 3) {
          eBay.bay[index].goals = Xiaoshu(data.ME_SAT_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.ME_SAT[0]);
          eBay.bay[index].rate = data.ME_SAT_PCT[0];
        } else if (index == 4) {
          eBay.bay[index].goals = Xiaoshu(data.ME_TIM_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.ME_TIM[0]);
          eBay.bay[index].rate = data.ME_TIM_PCT[0];
        } else if (index == 5) {
          eBay.bay[index].goals = Xiaoshu(data.ME_RES_TG[0]);
          eBay.bay[index].current = Xiaoshu(data.ME_RES[0]);
          eBay.bay[index].rate = data.ME_RES_PCT[0];
        }
      });
    });
  };
  // 图表数据2
  const goalsDataBay2 = (id, index) => {
    const cans = {
      relations: [
        {
          filterField: 'YM',
          filterValues: [props.yearMonth],
          widgetId: id,
        },
      ],
    };
    queryAggregate(cans).then((res) => {
      nextTick(() => {
        const data = res.data[id].dataMap;
        if (index == 0) {
          eBay2.bay[index].goals = Xiaoshu(data.ME_SIG_TTL[0]);
          eBay2.bay[index].current = Xiaoshu(data.ME_SIG_TTL_TG[0]);
          eBay2.bay[index].rate = data.ME_SIG_TTL_PCT[0];
        } else if (index == 1) {
          eBay2.bay[index].goals = Xiaoshu(data.ME_SIG_NEW[0]);
          eBay2.bay[index].current = Xiaoshu(data.ME_SIG_NEW_TG[0]);
          eBay2.bay[index].rate = data.ME_SIG_NEW_PCT[0];
        } else if (index == 2) {
          eBay2.bay[index].goals = Xiaoshu(data.SC_SAT_TG[0]);
          eBay2.bay[index].current = Xiaoshu(data.SC_SAT[0]);
          eBay2.bay[index].rate = data.SC_SAT_PCT[0];
        }
        // else if (index == 3) {
        //   eBay.bay[index].goals = Xiaoshu(data.ME_SAT_TG[0]);
        //   eBay.bay[index].current = Xiaoshu(data.ME_SAT[0]);
        //   eBay.bay[index].rate = data.ME_SAT_PCT[0];
        // } else if (index == 4) {
        //   eBay.bay[index].goals = Xiaoshu(data.ME_TIM_TG[0]);
        //   eBay.bay[index].current = Xiaoshu(data.ME_TIM[0]);
        //   eBay.bay[index].rate = data.ME_TIM_PCT[0];
        // } else if (index == 5) {
        //   eBay.bay[index].goals = Xiaoshu(data.ME_RES_TG[0]);
        //   eBay.bay[index].current = Xiaoshu(data.ME_RES[0]);
        //   eBay.bay[index].rate = data.ME_RES_PCT[0];
        // }
      });
    });
  };
  const goalsSearch = () => {
    goalsDataBay('2023042517250083', 0);
    goalsDataBay('2023042517250084', 1);
    goalsDataBay('2023042517250085', 2);
    goalsDataBay('2023042517250086', 3);
    goalsDataBay('2023042517250087', 4);

    goalsDataBay2('2023042517250123', 0);
    goalsDataBay2('2023042517250124', 1);
    goalsDataBay2('2023042517250094', 2);
    // goalsDataBay2('2023042517250086', 3);
    // goalsDataBay2('2023042517250087', 4);
    // goalsDataBay('2023042517250088', 5);
  };

  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    depData: {
      type: String,
      default: () => {
        return '';
      },
    },
  });

  watch(
    () => props.yearMonth,
    (c) => {
      state.yearMonth = c;
      goalsSearch();
    },
  );
  defineExpose({
    goalsSearch,
  });
</script>

<style lang="less" scoped>
  .OperationTarget {
    width: 100%;
    .gutter-style {
      margin-bottom: 10px;
    }
    .OperationTarget-bg {
      font-family: @font-family;
      box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
      background: white;
      border-radius: 8px;
      padding: 8px;
      width: 100%;
      min-height: 325px;
    }
    .OperationTarget-title {
      font-size: 22px;
      color: @heading-color;
      line-height: 30px;
      padding-left: 15px;
      font-weight: bold;
    }
    .OperationTarget-first {
      display: flex;
      justify-content: space-between;
    }
    .OperationTarget-first2 {
      display: flex;
    }
    .gmv-first2 {
      margin-right: 9%;
    }
    .gmv-first {
      width: 200px;
      height: 180px;
    }

    .OperationTarget-item {
      font-family: PingFangSC-Regular;
      font-size: 18px;
      font-weight: normal;
      .gmv-title {
        text-align: center;
      }
      .gmv-style {
        width: 100%;
        height: 180px;
        // border: 2px solid #e5e7eb;
      }
      .text {
        margin-left: 22%;
      }
    }
  }
</style>
