<template>
  <Layout.Header :style="headerStyle" class="layout-header">
    <!-- <Space :size="20"> -->
    <slot>
      <!-- <Space :size="20"> -->
      <span class="menu-fold" @click="() => emit('update:collapsed', !collapsed)">
        <component :is="collapsed ? MenuUnfoldOutlined : MenuFoldOutlined" />
      </span>
      <Breadcrumb>
        <template v-for="(routeItem, rotueIndex) in menus" :key="routeItem?.name">
          <Breadcrumb.Item>
            <TitleI18n :title="routeItem?.meta?.title" />
            <template v-if="routeItem?.children?.length" #overlay>
              <Menu :selected-keys="getSelectKeys(rotueIndex)">
                <template v-for="childItem in routeItem?.children" :key="childItem.name">
                  <Menu.Item
                    v-if="!childItem.meta?.hideInMenu && !childItem.meta?.hideInBreadcrumb"
                    :key="childItem.name"
                    @click="clickMenuItem(childItem)"
                  >
                    <TitleI18n :title="childItem.meta?.title" />
                  </Menu.Item>
                </template>
              </Menu>
            </template>
          </Breadcrumb.Item>
        </template>
      </Breadcrumb>
      <!-- </Space> -->
    </slot>
    <!-- </Space> -->
    <!-- <Space :size="20"> -->
    <!--      <Search />-->
    <div class="right-content">
<!--      <template v-if="showNotice"><Notice /></template>-->

      <Tooltip :title="$t('layout.header.tooltipLock')" placement="bottom">
        <LockOutlined @click="lockscreenStore.setLock(true)" />
      </Tooltip>
      <FullScreen />
      <!--      <LocalePicker />-->
      <Dropdown placement="bottomRight">
        <div class="header-avatar">
          <Avatar :src="userAvatar" :alt="userInfo.username">{{ userInfo.username }}</Avatar>
          <span style="margin-left: 5px">{{ userInfo.username }}</span>
        </div>
        <template #overlay>
          <Menu>
            <Menu.Item @click="$router.push({ name: 'account-settings' })">
              <user-outlined />{{ $t('routes.account.settings') }}
            </Menu.Item>
            <Menu.Item @click="updatePasswordShow"> <key-outlined /> 修改密码 </Menu.Item>
            <Menu.Divider />
            <Menu.Item @click="settingsShow"><setting-outlined /> 系统定制 </Menu.Item>
            <Menu.Divider />
            <Menu.Item>
              <div @click.prevent="doLogout">
                <poweroff-outlined /> {{ $t('layout.header.dropdownItemLoginOut') }}
              </div>
            </Menu.Item>
          </Menu>
        </template>
      </Dropdown>
      <ProjectSetting ref="projectSettingRef" />
      <update-password
        ref="updatePasswordRef"
        :user="userInfo"
        @success="onUpdatePasswordSuccess"
      ></update-password>
    </div>
    <!-- </Space> -->
  </Layout.Header>
</template>

<script lang="tsx" setup>
  import { computed, nextTick, type CSSProperties, ref, onMounted } from 'vue';
  import { useRouter, useRoute, RouteRecordRaw } from 'vue-router';
  import {
    QuestionCircleOutlined,
    MenuFoldOutlined,
    MenuUnfoldOutlined,
    PoweroffOutlined,
    LockOutlined,
  } from '@ant-design/icons-vue';
  import {
    Layout,
    message,
    Modal,
    Dropdown,
    Menu,
    Space,
    Breadcrumb,
    Avatar,
    Tooltip,
    type MenuTheme,
  } from 'ant-design-vue';
  // import { Search, FullScreen, ProjectSetting } from './components/';
  import { Notice, FullScreen, ProjectSetting } from './components/';
  // import { LocalePicker } from '@/components/basic/locale-picker';
  import { useUserStore } from '@/store/modules/user';
  import { useKeepAliveStore } from '@/store/modules/keepAlive';
  import { useLockscreenStore } from '@/store/modules/lockscreen';
  import { LOGIN_NAME } from '@/router/constant';
  import { TitleI18n } from '@/components/basic/title-i18n';
  import { useThemeStore } from '@/store/modules/projectConfig';
  import UpdatePassword from '@/views/account/UpdatePassword.vue';

  defineProps({
    collapsed: {
      type: Boolean,
    },
    theme: {
      type: String as PropType<MenuTheme>,
    },
  });
  const emit = defineEmits(['update:collapsed']);
  const userStore = useUserStore();
  const themeStore = useThemeStore();
  const lockscreenStore = useLockscreenStore();
  const keepAliveStore = useKeepAliveStore();
  const showNotice = ref(true);
  const router = useRouter();
  const route = useRoute();
  const userInfo = computed(() => userStore.userInfo);
  const updatePasswordRef = ref();
  const projectSettingRef = ref();
  const userAvatar = computed(() => {
    let temp = userInfo.value.avatar;
    if (temp == undefined) {
      temp = 'default.jpg';
    }
    return require(`@/assets/static/avatar/${temp}`);
  });

  const headerStyle = computed<CSSProperties>(() => {
    const { navTheme, layout } = themeStore;
    const isDark = navTheme === 'dark' && layout === 'topmenu';
    return {
      backgroundColor: navTheme === 'realDark' || isDark ? '' : 'rgba(255, 255, 255, 0.85)',
      color: isDark ? 'rgba(255, 255, 255, 0.85)' : '',
    };
  });

  const menus = computed(() => {
    if (route.meta?.namePath) {
      let children = userStore.menus;
      const paths = route.meta?.namePath?.map((item) => {
        const a = children.find((n) => n.name === item);
        children = a?.children || [];
        return a;
      });
      return [
        {
          name: '__index',
          meta: {
            title: '首页',
          },
          children: userStore.menus,
        },
        ...paths,
      ];
    }
    return route.matched;
  });

  const getSelectKeys = (rotueIndex: number) => {
    return [menus.value[rotueIndex + 1]?.name] as string[];
  };

  const findLastChild = (route?: RouteRecordRaw) => {
    if (typeof route?.redirect === 'object') {
      const redirectValues = Object.values(route.redirect);
      if (route?.children?.length) {
        const target = route.children.find((n) =>
          redirectValues.some((m) => [n.name, n.path, n.meta?.fullPath].some((v) => v === m)),
        );
        return findLastChild(target);
      }
      return redirectValues.find((n) => typeof n === 'string');
    } else if (typeof route?.redirect === 'string') {
      if (route?.children?.length) {
        const target = route.children.find((n) =>
          [n.name, n.path, n.meta?.fullPath].some((m) => m === route?.redirect),
        );
        return findLastChild(target);
      }
      return route?.redirect;
    }
    return route;
  };

  // 点击菜单
  const clickMenuItem = (menuItem: RouteRecordRaw) => {
    const lastChild = findLastChild(menuItem);
    console.log('lastChild', menuItem, lastChild);

    if (lastChild?.name === route.name) return;
    if (/http(s)?:/.test(lastChild?.name)) {
      window.open(lastChild?.name);
    } else if (lastChild?.name) {
      router.push({ name: lastChild.name });
    }
  };

  // 退出登录
  const doLogout = () => {
    Modal.confirm({
      title: '您确定要退出登录吗？',
      icon: <QuestionCircleOutlined />,
      centered: true,
      onOk: async () => {
        await clearLoginInfo();
      },
    });
  };
  const clearLoginInfo = async () => {
    await userStore.logout();
    keepAliveStore.clear();
    // 移除标签页
    sessionStorage.clear();
    await nextTick();
    router.replace({
      name: LOGIN_NAME,
      query: {
        redirect: route.fullPath,
      },
    });
  };
  const onUpdatePasswordSuccess = () => {
    message.success('更新密码成功，请重新登录系统');
    setTimeout(() => {
      clearLoginInfo();
    }, 1500);
  };
  const updatePasswordShow = () => {
    updatePasswordRef.value.open();
  };
  const settingsShow = () => {
    projectSettingRef.value.show();
  };
  onMounted(() => {
    if (process.env.NODE_ENV === 'smartdash') {
      showNotice.value = false;
    } else {
      showNotice.value = true;
    }
  });
</script>

<style lang="less" scoped>
  .layout-header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    height: @header-height;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;

    * {
      cursor: pointer;
    }
    span {
      max-width: 60px;
    }
    .header-avatar {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .right-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 220px;
    }
  }

  /deep/.menu-container {
    width: 100%;
    margin-left: 20px;
  }
  .ant-layout-header {
    /deep/.logo {
      width: 240px;
    }
  }
</style>
