<template>
  <div class="container">
    <a-spin size="large" tip="Loading..." />
  </div>
</template>

<script setup lang="ts">
  import { ref, reactive, onMounted } from 'vue';
  import { useRoute, useRouter } from 'vue-router';
  import { isNil } from 'lodash-es';
  import { message, Modal } from 'ant-design-vue';
  import { useUserStore } from '@/store/modules/user';

  import { to } from '@/utils/awaitTo';
  import bg1 from '@/assets/images/bg.jpeg';
  import bg2 from '@/assets/images/bg2.jpg';
  import { getUsers } from '@/api/account';

  const siteCode = 'E757331B41099700';
  const state = reactive({
    formInline: {
      username: 'Obei超管',
      password: '@!Obei1234',
    },
    bgSrc: bg1,
  });
  // obeigzw
  //redirect=/supplier/authentication/QueryList
  //redirect=/supplier/commodity/Commodity?keyword=轴承
  //transmitter?siteCode=E757331B41099700&username=23423&redirect=/supplier/commodity/Commodity?keyword=轴承
  //https://dpaprotest.obei.com.cn/web-data-smart-dash/#/transmitter?siteCode=E757331B41099700&username=23423&redirect=/supplier/commodity/Commodity?keyword=%E8%BD%B4%E6%89%BF

  const systemName = ref('大数据穿透式在线监督平台');
  if (process.env.NODE_ENV === 'smartdash') {
    systemName.value = '欧贝数据，All data here！';
    state.bgSrc = bg2;
  }

  const route = useRoute();
  const router = useRouter();

  const userStore = useUserStore();

  const query = reactive<any>({
    siteCode: '',
    username: '',
    redirect: '',
  });

  const doLogin = async () => {
    const [err] = await to(userStore.login(state.formInline));
    if (err) {
      console.log('hello', err);
      Modal.error({
        title: () => '提示',
        content: () => err.message,
      });
    } else {
      message.success('登录成功！');
      setTimeout(() => {
        router.replace((route.query.redirect as string) ?? '/');
      });
    }
    message.destroy();
  };

  onMounted(() => {
    query.username = route.query.username;
    query.siteCode = route.query.siteCode;
    query.redirect = route.query.redirect;
    if (!isNil(query.siteCode) && !isNil(query.username) && query.siteCode === siteCode) {
      getUsers({ siteCode: query.siteCode, operationUser: query.username }).then((r) => {
        if (r && r.success) {
          state.formInline.username = r.data.user.employeeCode;
          state.formInline.password = '@!Obei1234';
          doLogin();
        }
      });
    } else {
      doLogin();
    }
  });
</script>
<style lang="less" scoped>
  .container {
    width: 100%;
    max-width: 100%;
    margin-top: 160px;
    text-align: center;
  }
</style>
