<template>
  <div class="page-container">
    <div class="header">
      <QueryFilterNew
        ref="QueryFilter"
        :visible="state.show"
        :field-list="fields"
        :isadd-condition-group="false"
        :class="state.show ? null : 'showheigh'"
        @change="onConditionChange"
      >
      </QueryFilterNew>

      <div class="search">
        <a-button type="primary" class="primary-onSearch" @click="onSearch"> 查询 </a-button>
        <a-button type="danger" style="marginleft: 5px" @click="onReset">重置</a-button>
      </div>
    </div>
    <DynamicTable
      :data-source="state.dataSource"
      :columns="columns"
      :row-selection="rowSelection"
      auto-height
      :scroll="{ x: 2000, y: 300 }"
      :loading="state.loading"
      @change="onPageChange"
    >
      <template #toolbar>
        <a-button type="primary" :disabled="!state.isCheckRows" @click="batchAllbtn">
          批量处理
        </a-button>
      </template>
    </DynamicTable>
    <!-- 处理历史 -->
    <ProcessingLogModel
      ref="processingLogRef"
      :data="state.clueData"
      :visible="state.ThreadProcessingLogShow"
      @cancel="modalAction"
    ></ProcessingLogModel>
    <!-- 模型组整改处理---第四道 -->
    <ModelGroupCheckVisible
      ref="ModelGroupCheckVisibleRef"
      @search="onSearch"
    ></ModelGroupCheckVisible>
    <!-- 模型组详情 -->
    <ModelGroupInfoView ref="ModelGroupInfoViewRef" @search="onSearch"></ModelGroupInfoView>
  </div>
</template>

<script setup lang="tsx">
  import { ref, reactive, onMounted, nextTick } from 'vue';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import queryFields from './query-field.js';
  import { ModelGroupInfoView, ModelGroupCheckVisible, ProcessingLogModel } from './components';
  import { useTable } from '@/components/core/dynamic-table';
  import { getModelGroupTodoList } from '@/api/supervisionGovern';
  import { QueryFilterNew } from '@/components/business';
  import QueryFieldConvert from '@/utils/query-field-convert.js';
  defineOptions({
    name: '/SupervisionGovern/modelGroupTodo/index',
  });
  const fields = QueryFieldConvert.columnFields2QueryFields(queryFields.fieldsTwo);
  const QueryFilter = ref();
  const processingLogRef = ref();
  const ModelGroupInfoViewRef = ref();
  const ModelGroupCheckVisibleRef = ref();
  const state = reactive({
    lineOfDefenseTypeFlag: false,
    colData: {},
    canQuery: true,
    filters: [],
    filters1: [],
    show: true,
    dataSource: [],
    modelOwners: [],
    pagination: {
      current: 1,
      pageSize: 20,
    },
    clueData: {},
    ThreadProcessingLogShow: false,
    checkData: {},
    loading: false,
    isCheckRows: false,
    selectedRows: [],
    ids: [],
    linkjudge: '0', // linkjudge ：1业务、2核查
  });
  const onConditionChange = () => {
    if (state.canQuery) {
      state.canQuery = false;
      state.filters = QueryFilter.value.getConditionResult();
      state.filters1 = QueryFilter.value.getConditionResult();
      // 防止频繁请求
      setTimeout(function () {
        state.canQuery = true;
      }, 500);
    }
  };
  const filterData = () => {
    const filters1 = JSON.parse(JSON.stringify(state.filters1));
    const filters = [];
    if (filters1 && filters1.length > 0) {
      filters1.forEach((item) => {
        const list = [];
        item.forEach((v) => {
          let obj = {};
          const val = [];
          if (v.value1) {
            val.push(v.value1);
          }
          if (v.value2) {
            val.push(v.value2);
          }
          let ctype = '';
          if (v.type === 'number') {
            ctype = '';
          } else if (v.type === 'date') {
            ctype = '4';
          } else if (v.type === 'dict') {
            ctype = '';
          }
          let values = val;
          if (v.type === 'select') {
            values = val[0];
          }
          obj = {
            columnName: v.field,
            filterType: v.operatorValue,
            columnType: ctype,
            values,
          };
          list.push(obj);
        });
        filters.push(list);
      });
    }
    return filters;
  };

  const onSearch = () => {
    let filters = [];
    filters = filterData();
    state.filters = QueryFieldConvert.setConditionValue(filters)[0] || [];
    loadData();
  };

  const resetQ = () => {
    const arr = [
      [
        {
          field: '',
          type: 'text',
          value1: '',
          selectCode: [],
          operatorValue: 'CT',
          operatorList: [],
          name: '',
          cName: '',
          example: null,
          columnType: '1',
          dictCode: null,
        },
      ],
    ];
    QueryFilter.value.setConditionGroups(arr);
    QueryFilter.value.clearConditionResult();
    state.filters = QueryFilter.value.getConditionResult();
  };
  const onReset = () => {
    rowSelection.value.selectedRowKeys = [];
    state.isCheckRows = false;
    state.pagination.current = 1;
    state.filters1 = [];
    resetQ();
    loadData();
  };

  const rowSelection = ref({
    selectedRowKeys: [] as number[],
    onChange: (selectedRowKeys: number[], selectedRows: TableListItem[]) => {
      console.log(`selectedRowKeys: ${selectedRowKeys}`, 'selectedRows: ', selectedRows);
      state.selectedRows = selectedRows;
      rowSelection.value.selectedRowKeys = selectedRowKeys;
      const modelIdArr = [];
      const todoLinkCodeArr = [];
      state.ids = [];
      if (selectedRows.length > 0) {
        selectedRows.forEach((v) => {
          modelIdArr.push(v.modelId);
          todoLinkCodeArr.push(v.todoLinkCode);
          state.ids.push(v.id);
        });
        console.log(modelIdArr, todoLinkCodeArr, state.ids);
        const todoLinkCodeArrB = [...todoLinkCodeArr];
        //   if (
        //     new Set(modelIdArr).size === 1 &&
        //     new Set(todoLinkCodeArr).size === 1 &&
        //     (todoLinkCodeArrB[0] == '10' ||
        //       todoLinkCodeArrB[0] == '00' ||
        //       todoLinkCodeArrB[0] == '50')
        //   ) {
        //     state.isCheckRows = true;
        //   } else state.isCheckRows = false;
      }
    },
  });

  const loadData = () => {
    state.loading = true;
    getModelGroupTodoList({
      pageNum: state.pagination.current,
      pageSize: state.pagination.pageSize,
      filters: state.filters,
    }).then((r) => {
      // if (r && r.data && r.data.length == 0 && state.pagination.current != 1) {
      //   state.pagination.current = 1;
      //   loadData(); // 重新获取数据
      // }

      if (r && r.data) {
        state.dataSource = r.data.data.list || [];
        dynamicTableInstance?.updatePagination({
          total: r.data.data.total,
          current: r.data.data.pageNum,
          pageSize: r.data.data.pageSize,
        });
      }
      state.loading = false;
    });
  };

  const onPageChange = (data) => {
    state.pagination.current = data.current;
    state.pagination.pageSize = data.pageSize;
    loadData();
  };

  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    search: false,
    rowKey: 'id',
    bordered: true,
  });

  // 设置click 事件
  baseColumns[0].customRender = ({ record, value }) => {
    return (
      <a
        onClick={() => {
          dispose(record, record.recordKey);
        }}
        style="color:#1890ff"
      >
        {value}
      </a>
    );
  };
  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 100,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => {
        const actions: any = [];
        actions.push({
          label: '处理',
          style: 'color:#1890ff',
          onClick: () => {
            if (record.todoLinkCode == 60) {
              nextTick(() => {
                if (record.lineOfDefenseType == '4' && record.handleOpinion == '14') {
                  ModelGroupCheckVisibleRef.value.onChangeVisable(); //第四道打开整改处理弹框
                  ModelGroupCheckVisibleRef.value.processHandle(record);
                }
              });
            } else {
              ModelGroupInfoViewRef.value.onChangeVisable(); //打开处理弹框
              ModelGroupInfoViewRef.value.details(record); //, clueName, beforeUser, status
            }
          },
        });
        actions.push({
          label: '处理历史',
          style: 'color:#1890ff',
          onClick: () => {
            dispose(record, record.recordKey);
          },
        });
        return actions;
      },
    },
  ];
  const dispose = (record) => {
    state.clueData = record;
    state.ThreadProcessingLogShow = true;
    processingLogRef.value.details(record);
  };

  const modalAction = () => {
    state.ThreadProcessingLogShow = false;
    // loadData();
  };
  // const batchAllbtn = () => {
  //   state.linkjudge = '1';
  //   batchAllRef.value.details(state.selectedRows[0], state.linkjudge, state.ids); //, clueName, beforeUser, status
  //   batchAllRef.value.onChangeVisable(state.ids); //打开处理弹框
  // };
  onMounted(() => {
    // 查询数据吧
    loadData();
  });
</script>
<style lang="less" scoped>
  .page-container {
    width: 100%;
    /deep/.ant-table-body {
      height: var(--winHeight);
    }
  }
  .header {
    display: flex;
    .search {
      display: flex;
      margin-top: 15px;
      .primary-onSearch {
        margin: 0px 10px 0px 10px;
      }
    }
  }
  .aspace {
    padding-left: 10px;
  }

  .icon-title {
    margin-right: 10px;
  }

  .icon-items {
    color: #1890ff;
  }
  /deep/.ant-table-fixed-right {
    z-index: 12;
  }
</style>
