<template>
  <div>
    <div v-if="!empty" class="editor" v-html="valueHtml"> </div>
    <div v-else class="editor-else">
      暂无配置，请点击右上角
      <setting-outlined :style="{ marginLeft: '10px', marginRight: '10px' }" /> 设置指标卡！
    </div>
  </div>
</template>

<script setup lang="ts">
  /**指标卡*/
  import { ref, onMounted } from 'vue';
  import { isEmpty } from 'lodash-es';
  import Pubs from '@/utils/pubs';
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  const store = chartConfigurations();
  const props = defineProps({
    config: {
      type: Object,
      default: () => {},
    },
    data: {
      type: Object,
      default: () => {},
    },
    filter: {
      type: Object,
      default: () => {},
    },
    title: {
      type: String,
      default: '',
    },
    pageData: {
      type: Object,
      default: () => {},
    },
  });

  // 内容 HTML
  const valueHtml = ref('');
  const empty = ref(true);
  const initConfig = () => {
    const data = props.data;
    const editorConfig = data.dataConfig.option?.editorConfig;
    if (editorConfig && !isEmpty(editorConfig.htmlList) && !isEmpty(editorConfig.valueHtml)) {
      const newList = [] as any;
      editorConfig.htmlList.forEach((hItem) => {
        let editorHtml = editorConfig.valueHtml;
        const k = `{{${hItem.sourceName}}}`; //{{状态}}
        if (editorHtml.indexOf(k) > -1) {
          data.dataMap[hItem.name]?.forEach((mItem, mIndex) => {
            let formatterList = store.insertContent?.find((z) => z.title === '纵轴')?.value;
            if (formatterList && formatterList.length === 0) {
              formatterList = props.pageData.filterList?.find((z) => z.title === '纵轴')?.value;
            }
            if (formatterList && formatterList.length > 0) {
              if (mItem?.includes(',')) mItem = mItem.replaceAll(',', '');
              formatterList.map((x) => {
                if (hItem.name.includes(x.name) && x.dataFormat) {
                  if (mItem?.includes(x.dataFormat.unit)) {
                    mItem = mItem.replaceAll(x.dataFormat.unit, '');
                  }
                  switch (x.dataFormat.type) {
                    case 'number':
                      // 是否保留小数
                      if (x.dataFormat.D || x.dataFormat.D === 0) {
                        mItem = Number(mItem).toFixed(x.dataFormat.D);
                      }
                      // 是否需要千分位
                      if (x.dataFormat.U) {
                        mItem = (mItem || 0)
                          .toString()
                          .replace(/^-?\d+/g, (m) => m.replace(/(?=(?!\b)(\d{3})+$)/g, ','));
                      }
                      // 是否需要单位
                      if (x.dataFormat.unit) {
                        mItem = `${mItem}(${x.dataFormat.unit})`;
                      }
                      break;
                    case 'percent':
                      // 保留小数
                      if (x.dataFormat.D || x.dataFormat.D === 0) {
                        mItem = `${Number(mItem).toFixed(x.dataFormat.D)}%`;
                      }
                      break;
                    default:
                      break;
                  }
                }
              });
            }
            if (newList[mIndex]) {
              newList[mIndex] = newList[mIndex].replaceAll(k, mItem);
            } else {
              editorHtml = editorHtml.replaceAll(k, mItem);
              newList.push(editorHtml);
            }
          });
        }
      });
      valueHtml.value = newList.join('');
      empty.value = false;
    } else {
      empty.value = true;
    }
  };
  onMounted(() => {
    Pubs.publish('onChartMounted', {});
    initConfig();
  });
</script>

<style lang="less" scoped>
  .editor {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    padding: 20px;
    outline: none;
  }
  .editor-else {
    display: flex;
    width: 100%;
    margin-top: 140px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
</style>
