<template>
  <div ref="piechart" class="echart" style="width: 100%; height: 100%"></div>
</template>

<script setup lang="ts">
  import {
    ref,
    onMounted,
    onUnmounted,
    getCurrentInstance,
    reactive,
    watch,
    watchEffect,
  } from 'vue';
  import Pubs from '@/utils/pubs.js';
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  import dict from '@/utils/dict.js';
  const store = chartConfigurations();

  defineOptions({
    name: 'PieChart',
    inheritAttrs: false,
  });

  const emit = defineEmits([
    'dblclickLink',
    'chartClick',
    'chartZrClick',
    'chartDblclick',
    'updateOption',
  ]);

  const props = defineProps({
    config: {
      type: Object,
      default: () => {},
    },
    data: {
      type: Object,
      default: () => {},
    },
    filter: {
      type: Object,
      default: () => {},
    },
    title: {
      type: String,
      default: '',
    },
    pageData: {
      type: Object,
      default: () => {},
    },
  });

  const state = reactive({
    receiver: null, // 接收参数
    categoryList: [],
    option: null,
  });
  const doSubscribe = (chartdata) => {
    Pubs.publish('updateChildData', {
      data: state.receiver,
      chart: chartdata,
    });
  };
  watch(
    () => state.receiver,
    (v) => {
      Pubs.subscribe(v.key, function (msg, chartdata) {
        doSubscribe(chartdata);
      });
    },
    { deep: true },
  );
  const piechart = ref();

  const { proxy } = getCurrentInstance();

  let charts = null;

  const getCategoryList = () => {
    const categoryList = [];
    if (
      props.config &&
      props.config.rows &&
      props.config.rows.length > 0 &&
      props.data &&
      props.data.dataMap
    ) {
      for (let i = 0; i < props.data.data.length; i++) {
        const items = [];
        for (let j = 0; j < props.config.rows.length; j++) {
          const columnName = props.config.rows[j].columnName;
          items.push(props.data.dataMap[columnName][i]);
        }
        console.log('item', items);

        categoryList.push(items.join('-'));
      }
    }

    return categoryList;
  };

  const genDataSource = () => {
    const source = [];
    if (
      props.config &&
      props.config.values &&
      props.config.values.length > 0 &&
      props.data &&
      props.data.dataMap
    ) {
      source.push(['category', 'value', 'serie']);
      const categoryList = getCategoryList();
      for (let i = 0; i < props.config.values.length; i++) {
        const column = props.config.values[i].column;
        for (let j = 0; j < categoryList.length; j++) {
          const dataRow = [categoryList[j]];
          dataRow.push(props.data.dataMap[column][j]);
          dataRow.push(i);
          source.push(dataRow);
        }
      }
    }

    return source;
  };

  const genTransForm = () => {
    const transform = [] as any;
    if (props.config && props.config.values && props.config.values.length > 0) {
      for (let i = 0; i < props.config.values.length; i++) {
        transform.push({
          transform: {
            type: 'filter',
            config: { dimension: 'serie', value: i },
          },
        });
      }
    }
    return transform;
  };
  const getItemName = (j) => {
    const name = [] as any;
    props.config.rows.forEach((item) => {
      name.push(item.columnName);
    });
    const cName = [] as any;
    name.forEach((item) => {
      cName[0] = props.data.dataMap[item][j];
      /**值集映射开始 */
      let obj = undefined;
      for (let x = 0; x < props.data.columnList.length; x++) {
        if (props.data.columnList[x].name == item) {
          if (props.data.columnList[x].dictCode != null) {
            obj = dict.getValue(props.data.columnList[x].dictCode, cName);
          }
        }
      }
      /**值集映射结束 */
      cName[0] = obj == undefined ? props.data.dataMap[item][j] : obj.itemText;
    });

    return cName.join('-');
  };
  const genSeries = () => {
    const series = [] as any;
    if (props.config && props.config.values && props.config.values.length > 0) {
      const t = props.config.values.length;
      for (let i = 0; i < props.config.values.length; i++) {
        const seriesItem = {
          type: 'pie',
          name: props.config.values[i].columnCName || props.config.values[i].columnCname,
          radius: t == 1 ? '50%' : `${100 / t}%`,
          datasetIndex: i + 1,
          data: [] as any,
        };
        for (let j = 0; j < props.data.dataMap[props.config.values[i].column].length; j++) {
          const dataItem = {
            value: props.data.dataMap[props.config.values[i].column][j],
            name: getItemName(j),
          };
          seriesItem.data.push(dataItem);
        }
        series.push(seriesItem);
      }
    }
    return series;
  };

  const genMeida = () => {
    let option = {};
    if (props.config && props.config.values && props.config.values.length > 0) {
      const series = [] as any;
      const t = props.config.values.length;

      for (let i = 0; i < props.config.values.length; i++) {
        // values[i].toFixed(3)
        let px = ((100 / t) * i + 100 / (2 * t)) as any;
        px = px.toFixed(2);
        series.push({
          center: [`${px}%`, '50%'],
        });
      }
      option = {
        series,
      };
    }

    return [{ option }];
  };

  const setOption = () => {
    const datasource = genDataSource();
    const transform = genTransForm();
    const series = genSeries();

    const media = genMeida();
    const dataset = [
      {
        source: datasource,
      },
      ...transform,
    ];

    const option = {
      grid: {
        top: '20%',
        bottom: '6%',
      },
      tooltip: {
        trigger: 'item',
        formatter: (params) => {
          let dataFormats = store.insertContent?.find((z) => z.title === '纵轴')?.value;
          if (dataFormats && dataFormats.length === 0) {
            dataFormats = props.pageData.filterList?.find((z) => z.title === '纵轴')?.value;
          }
          return store.formatter(params, dataFormats);
        },
      },
      legend: {
        type: 'scroll',
        top: 'bottom',
        right: 20,
      },
      dataset,
      series,
      media,
    };

    if (props.title) {
      option.title = {
        text: props.title,
        left: 'center',
      };
    }
    const propsOption = props.data.dataConfig.option;
    if (propsOption) {
      for (const key in propsOption.chartLegend) {
        if (propsOption.chartLegend[key] && key != 'show') {
          option.legend[key] = propsOption.chartLegend[key];
        } else if (key === 'show') {
          option.legend[key] = propsOption.chartLegend[key];
        }
      }
      for (const key in propsOption.tooltip) {
        if (propsOption.tooltip.tooltip == '2' && key != 'show') {
          option.tooltip.position = function (pos, params, dom, rect, size) {
            // 鼠标在左侧时 tooltip 显示到右侧，鼠标在右侧时 tooltip 显示到左侧。
            const obj = { top: 60 };
            obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 5;
            return obj;
          };
        } else if (key === 'show') {
          option.tooltip[key] = propsOption.tooltip[key];
        }
      }
    }

    state.option = option;
  };

  // 设置监听参数
  const setReceiver = (receiver) => {
    state.receiver = receiver;
  };

  const updateOption = () => {
    if (charts) {
      initEcharts();
    }
  };

  const initEcharts = () => {
    let chartFlag = false;

    // const colorTheme = props.dataConfig.option ? props.dataConfig.option.colorTheme : '';
    // charts = proxy.$echarts.init(piechart.value!, colorTheme);
    if (charts) {
      charts.dispose();
    }

    if (props?.data && props.data.dataConfig) {
      charts = proxy.$echarts.init(piechart.value!, props.data.dataConfig.option.colorTheme);
      if (!charts) return;
      setOption();

      charts.setOption(state.option); // 渲染页面
      // 随着屏幕大小调节图表
      window.addEventListener('resize', resize);
      charts.off('click'); // 图表渲染前销毁点击事件
      charts.off('dblclick'); // 图表渲染前销毁点击事件
      // 图表单击事件
      charts.on('click', function (params) {
        chartFlag = false;
        setTimeout(() => {
          check();
        }, 200);
        function check() {
          if (chartFlag != false) return;
          Object.assign(params, { ext: props.data });
          emit('chartClick', params);
        }
      });
      // 图表双击事件
      charts.on('dblclick', function () {
        chartFlag = true;
        emit('dblclickLink'); // 双击找到外联配置然后跳转
      });
      // 图表空白区域单击事件
      charts.getZr().on('click', function (event) {
        if (!event.target) {
          emit('chartZrClick', charts.getOption());
        }
      });

      //新加上鼠标右击事件
      document.oncontextmenu = function (event) {
        event.preventDefault();
      };

      charts.on('contextmenu', function (params) {
        chartFlag = false;
        function check() {
          if (chartFlag != false) return;
          params.columns = props.data.columnList;
          params.index = params.dataIndex;
          Object.assign(params, { ext: props.data });
          emit('chartDblclick', params.event.event, params);
        }
        setTimeout(() => {
          check();
        }, 200);
      });
    }
  };

  const resize = () => {
    charts && charts.resize();
  };

  onMounted(() => {
    initEcharts();
    Pubs.publish('onChartMounted', {});
  });

  onUnmounted(() => {
    window.removeEventListener('resize', resize);
    if (charts) {
      charts.dispose();
    }
  });

  watchEffect(() => {
    updateOption();
  });
  defineExpose({ resize, setReceiver });
</script>

<style scoped>
  .echart {
    width: 100%; /* height: 100%; */
    flex: 1;
  }
</style>
