<template>
  <div ref="radarchart" class="echart" style="width: 100%; height: 100%"></div>
</template>

<script setup lang="ts">
  import {
    ref,
    onMounted,
    onUnmounted,
    getCurrentInstance,
    reactive,
    watch,
    watchEffect,
  } from 'vue';
  import Pubs from '@/utils/pubs.js';
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  import dict from '@/utils/dict.js';
  const store = chartConfigurations();
  defineOptions({
    name: 'PieChart',
    inheritAttrs: false,
  });

  const emit = defineEmits(['dblclickLink', 'chartClick', 'chartZrClick', 'chartDblclick']);

  const props = defineProps({
    config: {
      type: Object,
      default: () => {},
    },
    data: {
      type: Object,
      default: () => {},
    },
    filter: {
      type: Object,
      default: () => {},
    },
    title: {
      type: String,
      default: '',
    },
    pageData: {
      type: Object,
      default: () => {},
    },
  });

  const state = reactive({
    receiver: null, // 接收参数
    categoryList: [],
    option: null,
  });

  const doSubscribe = (chartdata) => {
    console.log('第一次进来了吗？？？', chartdata);
    Pubs.publish('updateChildData', {
      data: state.receiver,
      chart: chartdata,
    });
  };
  watch(
    () => state.receiver,
    (v) => {
      Pubs.subscribe(v.key, function (msg, chartdata) {
        //msg==v.key,chartdata==publish过来的数据-比如默认加载页面发布了数据
        // console.log('监听到了', v, msg, chartdata);
        doSubscribe(chartdata);
      });
    },
    { deep: true },
  );
  const radarchart = ref();

  const { proxy } = getCurrentInstance();

  let charts = null;

  // 各项指标的最大值
  const indicatarMax = reactive({ data: [] });

  // 生成序列，并在末尾保存指标最大值

  const genSeries = () => {
    const serie = {
      name: '',
      type: 'radar',
      data: [],
    };

    let hasMax = false;

    for (let i = 0; i < props.config.values.length; i++) {
      // 如果不是最大值列
      const name = props.config.values[i].column;
      const cName = props.config.values[i].columnCName || props.config.values[i].columnCname;

      // 不是最大值列
      if (name != props.data.dataConfig.option.radarMax) {
        serie.data.push({
          value: props.data.dataMap[name],
          name: cName, //大标题
        });
      } else {
        // 最大值列
        hasMax = true;
        indicatarMax.data = props.data.dataMap[name];
      }
    }

    if (!hasMax) {
      // 计算
      const data = [];

      for (let i = 0; i < props.data.length; i++) {
        let max = serie.data[0][i];

        for (let j = 1; j < serie.data.length; j++) {
          if (max < serie.data[j][i]) {
            max = serie.data[j][i];
          }
        }

        data.push(max + 1); // 比最大值大 1
      }

      indicatarMax.data = data;
    }

    return [serie];
  };

  const genRadar = () => {
    const indicator: any = [];
    const rows = props.config.rows;
    const indicatarName = rows[0].columnName;
    const _dataMap = props.data.dataMap;
    for (let i = 0; i < props.data.data.length; i++) {
      /**值集映射开始 */
      let obj = undefined;
      for (let x = 0; x < props.data.columnList.length; x++) {
        if (props.data.columnList[x].name == indicatarName) {
          if (props.data.columnList[x].dictCode != null) {
            obj = dict.getValue(
              props.data.columnList[x].dictCode,
              props.data.dataMap[indicatarName][i],
            );
          }
        }
      }
      /**值集映射结束 */
      if (props.data.dataConfig.option.radarMax) {
        indicator.push({
          name: obj == undefined ? props.data.dataMap[indicatarName][i] : obj.itemText,
          max: _dataMap[props.data.dataConfig.option.radarMax][i],
        });
      } else {
        indicator.push({
          name: obj == undefined ? props.data.dataMap[indicatarName][i] : obj.itemText,
        });
      }
    }
    return { indicator };
  };

  const setOption = () => {
    const series = genSeries();
    const radar = genRadar();

    const option = {
      grid: {
        top: '20%',
        bottom: '6%',
      },
      tooltip: {
        trigger: 'item',
        formatter: (params) => {
          let dataFormats = store.insertContent?.find((z) => z.title === '纵轴')?.value;
          if (dataFormats && dataFormats.length === 0) {
            dataFormats = props.pageData.filterList?.find((z) => z.title === '纵轴')?.value;
          }
          return store.formatter(params, dataFormats);
        },
      },
      radar,
      series,
      legend: {
        type: 'scroll',
        top: 'bottom',
      },
    };

    if (props.title) {
      option.title = {
        text: props.title,
        left: 'center',
      };
    }
    const propsOption = props.data.dataConfig.option;
    if (propsOption) {
      for (const key in propsOption.chartLegend) {
        if (propsOption.chartLegend[key] && key != 'show') {
          option.legend[key] = propsOption.chartLegend[key];
        } else if (key === 'show') {
          option.legend[key] = propsOption.chartLegend[key];
        }
      }
      for (const key in propsOption.tooltip) {
        if (propsOption.tooltip.tooltip == '2' && key != 'show') {
          option.tooltip.position = function (pos, params, dom, rect, size) {
            // 鼠标在左侧时 tooltip 显示到右侧，鼠标在右侧时 tooltip 显示到左侧。
            const obj = { top: 60 };
            obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 5;
            return obj;
          };
        } else if (key === 'show') {
          option.tooltip[key] = propsOption.tooltip[key];
        }
      }
    }
    state.option = option;
  };

  // 设置监听参数
  const setReceiver = (receiver) => {
    state.receiver = receiver;
  };

  const updateOption = () => {
    if (charts) {
      initEcharts();
    }
  };

  const initEcharts = () => {
    let chartFlag = false;

    // const colorTheme = props.dataConfig.option ? props.dataConfig.option.colorTheme : '';
    // charts = proxy.$echarts.init(piechart.value!, colorTheme);
    if (charts) {
      charts.dispose();
    }
    if (props?.data && props.data.dataConfig) {
      charts = proxy.$echarts.init(radarchart.value!, props.data.dataConfig.option.colorTheme);
      if (!charts) return;

      setOption();

      charts.setOption(state.option); // 渲染页面
      // 随着屏幕大小调节图表
      window.addEventListener('resize', resize);
      charts.off('click'); // 图表渲染前销毁点击事件
      charts.off('dblclick'); // 图表渲染前销毁点击事件
      // 图表单击事件
      charts.on('click', function (params) {
        chartFlag = false;
        setTimeout(() => {
          check();
        }, 200);
        function check() {
          if (chartFlag != false) return;
          const index = params.event.topTarget.__dimIdx;
          Object.assign(params, { dataIndex: index, ext: props.data });
          emit('chartClick', params);
        }
      });
      // 图表双击事件
      charts.on('dblclick', function () {
        chartFlag = true;
        emit('dblclickLink'); // 双击找到外联配置然后跳转
      });
      // 图表空白区域单击事件
      charts.getZr().on('click', function (event) {
        if (!event.target) {
          emit('chartZrClick', charts.getOption());
        }
      });

      //新加上鼠标右击事件
      document.oncontextmenu = function (event) {
        event.preventDefault();
      };

      charts.on('contextmenu', function (params) {
        chartFlag = false;
        function check() {
          if (chartFlag != false) return;
          params.columns = props.data.columnList;
          params.index = params.dataIndex;
          Object.assign(params, { ext: props.data });
          console.log(params.event.event, params, 'params.event.event, params');
          emit('chartDblclick', params.event.event, params);
        }

        setTimeout(() => {
          check();
        }, 200);
      });
    }
  };

  const resize = () => {
    charts && charts.resize();
  };

  onMounted(() => {
    initEcharts();
    Pubs.publish('onChartMounted', {});
  });

  onUnmounted(() => {
    window.removeEventListener('resize', resize);
    if (charts) {
      charts.dispose();
    }
  });

  watchEffect(() => {
    updateOption();
  });
  defineExpose({ resize, setReceiver });
</script>

<style scoped>
  .echart {
    width: 100%; /* height: 100%; */
    flex: 1;
  }
</style>
