<template>
  <div ref="bspTable" class="bspTable">
    <h3 ref="h3Dom">{{ props.title }}</h3>
    <DynamicTable
      ref="tableDom"
      :data-source="state.dataSource"
      :scroll="state.scrollXY"
      :columns="state.columns"
      :pagination="false"
      :show-refresh-setting="false"
    >
      <!-- 顶部合计，利用多级表头实现 -->
      <template
        v-for="(item, index) in state.columns"
        v-show="
          state.echartConfig.showSummaryType == 'row' &&
          state.echartConfig.rowSummaryPosition === 'top'
        "
        :key="item.dataIndex"
        #[item.dataIndex]
      >
        <span v-if="index === 0">{{ state.echartConfig.showRowSummaryTitle }}</span>
        <span v-if="index !== 0 && item.needSummary">{{
          state.summaryDataLocal[item.dataIndex]
        }}</span>
        <span v-if="index !== 0 && !item.needSummary">--</span>
      </template>
      <!-- 底部合计，利用summary实现 -->
      <template
        v-if="
          state.echartConfig.showSummaryType == 'row' &&
          state.echartConfig.rowSummaryPosition === 'bottom'
        "
        #summary
      >
        <a-table-summary fixed>
          <a-table-summary-row>
            <a-table-summary-cell v-for="(item, index) in state.columns" :key="item.dataIndex">
              <span v-if="index === 0">{{ state.echartConfig.showRowSummaryTitle }}</span>
              <span v-if="index !== 0 && item.needSummary">{{
                state.summaryDataLocal[item.dataIndex]
              }}</span>
              <span v-if="index !== 0 && !item.needSummary">--</span>
            </a-table-summary-cell>
          </a-table-summary-row>
        </a-table-summary>
      </template>
    </DynamicTable>
  </div>
</template>
<script setup lang="tsx">
  import { onMounted, reactive, watch, ref, onUnmounted, onBeforeMount, computed } from 'vue';
  import _ from 'lodash-es';
  import { useTable } from '@/components/core/dynamic-table';
  import Pubs from '@/utils/pubs.js';
  import { chartConfigurations } from '@/store/modules/chartConfigurations';
  import dict from '@/utils/dict.js';
  const store = chartConfigurations();
  defineOptions({
    name: 'BspTable',
    inheritAttrs: false,
  });

  const emit = defineEmits([
    'dblclickLink',
    'chartClick',
    'chartZrClick',
    'chartDblclick',
    'updateOption',
  ]);

  const props = defineProps({
    config: {
      type: Object,
      default: () => {},
    },
    data: {
      type: Object,
      default: () => {},
    },
    filter: {
      type: Object,
      default: () => {},
    },
    title: {
      type: String,
      default: '',
    },
    pageData: {
      type: Object,
      default: () => {},
    },
  });

  const state = reactive({
    receiver: null, // 接收参数
    dataSource: [],
    columns: [],
    scrollXY: {
      x: 0,
      y: 100,
    },
    bordered: false,
    tableHeaderHeight: 0,
    echartConfig: computed(() => {
      return (
        props.data.dataConfig.option.echartConfig ?? {
          showSummaryType: '',
          showRowSummaryTitle: '合计',
          showColumnSummaryTitle: '合计',
          columnSummaryPosition: 'left',
          rowSummaryPosition: 'bottom',
          summaryMethods: {},
          summaryMethodsCopy: {},
        }
      );
    }),
    insertContent: computed(() => {
      return store.insertContent;
    }),
    summaryData: {},
    summaryDataLocal: {},
  });
  const doSubscribe = (chartdata) => {
    Pubs.publish('updateChildData', {
      data: state.receiver,
      chart: chartdata,
    });
  };
  watch(
    () => state.receiver,
    (v) => {
      Pubs.subscribe(v.key, function (msg, chartdata) {
        doSubscribe(chartdata);
      });
    },
    { deep: true },
  );
  watch(
    () => state.summaryData,
    (nV, oV) => {
      let dataFormats = store.insertContent?.find((z) => z.title === '纵轴')?.value;
      if (dataFormats && dataFormats.length === 0) {
        dataFormats = props.pageData.filterList?.find((z) => z.title === '纵轴')?.value;
      }
      formatData(dataFormats);
    },
    { deep: true },
  );
  watch(
    () => store.insertContent,
    (nV, oV) => {
      const dataFormats = nV?.find((z) => z.title === '纵轴')?.value;
      formatData(dataFormats);
    },
    { deep: true },
  );
  const [DynamicTable, dynamicTableInstance] = useTable({
    size: 'small',
    search: false,
    rowKey: 'id',
    bordered: true,
  });
  onBeforeMount(() => {
    initTable();
  });
  onMounted(() => {
    console.log('好几次？');
    resize();
    Pubs.publish('onChartMounted', {});
  });
  // 设置监听参数
  const setReceiver = (receiver) => {
    state.receiver = receiver;
  };
  // 格式化合计数据
  const formatData = _.debounce((dataFormats) => {
    const keys = Object.keys(state.summaryDataLocal);
    dataFormats?.map((k) => {
      const key = k.key;
      if (keys.includes(key)) {
        const format = k.dataFormat;
        if (format) {
          if (String(state.summaryDataLocal[key])) {
            state.summaryDataLocal[key] = String(state.summaryDataLocal[key]).replaceAll(',', '');
            if (state.summaryDataLocal[key].indexOf('(') > -1) {
              state.summaryDataLocal[key] = String(state.summaryDataLocal[key]).slice(
                0,
                state.summaryDataLocal[key].indexOf('('),
              );
            }
          }
          switch (format.type) {
            case 'number':
              // 是否保留小数
              if (format.D || format.D === 0) {
                state.summaryDataLocal[key] = Number(state.summaryDataLocal[key]).toFixed(format.D);
              }
              // 是否需要千分位
              if (format.U) {
                state.summaryDataLocal[key] = (state.summaryDataLocal[key] || 0)
                  .toString()
                  .replace(/^-?\d+/g, (m) => m.replace(/(?=(?!\b)(\d{3})+$)/g, ','));
              }
              // 是否需要单位
              if (format.unit) {
                state.summaryDataLocal[key] = `${state.summaryDataLocal[key]}(${format?.unit})`;
              }
              break;
            case 'percent':
              // 保留小数
              state.summaryDataLocal[key] = String(state.summaryDataLocal[key]).replaceAll('%', '');
              if (format.D || format.D === 0) {
                state.summaryDataLocal[key] = `${Number(state.summaryDataLocal[key]).toFixed(
                  format.D,
                )}%`;
              }
              break;
            default:
              break;
          }
        }
      }
    });
  }, 100);

  const initTable = () => {
    // 绑定数据
    const dataSource = [] as any;
    // 绑定表头
    const columns = [] as any;

    if (props?.data && props?.data?.columnList) {
      props?.data?.columnList?.forEach((item, index) => {
        const tmp = {
          title: item.cName,
          dataIndex: item.name,
          width: 120,
          dictCode: item.dictCode || null,
          customCell: (record, rowIndex, column) => {
            const obj = {
              rowSpan: {} as any,
            };
            // 图表是否合并
            const merge = props?.data?.dataConfig?.option?.merge;
            if (merge) {
              obj.rowSpan = customRenderConfig(
                record,
                rowIndex,
                column,
                state.dataSource,
                item.name,
              );
            } else {
              obj.rowSpan = 1;
            }
            return obj;
          },
          customRender: ({ record, value, index, column }) => {
            let dataFormats = store.insertContent?.find((z) => z.title === '纵轴')?.value;
            if (dataFormats && dataFormats.length === 0) {
              dataFormats = props?.pageData?.filterList?.find((z) => z.title === '纵轴')?.value;
            }
            return (
              <a
                onClick={(el) => rowClick.click(record, value, index, el, column)}
                onDblclick={() => rowClick.dblclick()}
                onContextmenu={(el) => rowClick.contextmenu(record, value, index, el, column)}
              >
                {value || value == '0'
                  ? store.formatterTable(value, item.cName, dataFormats ?? [])
                  : value}
              </a>
            );
          },
        };
        // 顶部合计多级表头的初始化
        if (
          state.echartConfig.showSummaryType == 'row' &&
          state.echartConfig.rowSummaryPosition === 'top'
        ) {
          if (index === 0) {
            tmp['children'] = [
              {
                title: state.echartConfig.showRowSummaryTitle,
                dataIndex: item.name,
                key: item.name,
                width: 120,
              },
            ];
          }
          if (index !== 0) {
            tmp['children'] = [
              {
                title: state.summaryDataLocal[item.name],
                dataIndex: item.name,
                key: item.name,
                width: 120,
                slots: { title: item.name },
              },
            ];
          }
        }
        // 判断列是否需要合计
        if (state?.echartConfig?.showSummaryType == 'row') {
          const summaryMethods = state?.echartConfig?.summaryMethods;
          for (const [key, value] of Object.entries(summaryMethods)) {
            if (key === item.name) {
              tmp['needSummary'] = true;
              tmp['summaryMethod'] = value;
            }
          }
        }
        columns.push(tmp);
      });
    }

    if (props?.data && props.data.data) {
      const data = props.data.data;
      for (let i = 0; i < data.length; i++) {
        const newData = {};
        const item = data[i];
        item.forEach((iItem, iIndex) => {
          newData[columns[iIndex].dataIndex] = iItem;
          if (columns[iIndex].dictCode != null) {
            //值集映射
            const obj = dict.getValue(columns[iIndex].dictCode, newData[columns[iIndex].dataIndex]);
            newData[columns[iIndex].dataIndex] =
              obj == undefined ? newData[columns[iIndex].dataIndex] : obj.itemText;
          }
        });
        newData['id'] = i;
        dataSource.push(newData);
      }
    }

    // 左侧\右侧合计则在插入在列首
    if (state.echartConfig.showSummaryType === 'column') {
      if (state.echartConfig.columnSummaryPosition === 'left') {
        columns.unshift({
          title: state.echartConfig.showColumnSummaryTitle,
          dataIndex: 'leftTitle',
          width: 120,
        });
      } else {
        columns.push({
          title: state.echartConfig.showColumnSummaryTitle,
          dataIndex: 'leftTitle',
          width: 120,
        });
      }
      const tempColumns = [];
      store.insertContent.map((x) => {
        if (['横轴', '纵轴'].includes(x.title)) {
          x.value.map((y) => {
            if (['DECIMAL', 'INT', 'BIGINT'].includes(y.sourceType)) {
              tempColumns.push(y.key);
            }
          });
        }
      });
      dataSource.map((z) => {
        const list = [];
        for (const [key, value] of Object.entries(z)) {
          if (tempColumns.includes(key)) {
            if (value || value == '0') list.push(value);
          }
        }
        let res: any = 0;
        list.map((y) => {
          res += Number(y);
        });
        z['leftTitle'] = res.toFixed(2);
      });
    }

    // 处理是否需要合计
    if (state.echartConfig.showSummaryType) {
      columns.map((x) => {
        if (x.summaryMethod) {
          let res: any = 0;
          const list = dataSource.map((y) => {
            return Number(y[x.dataIndex]);
          });
          switch (x.summaryMethod) {
            case 'sum': {
              // 求和
              dataSource.map((y) => {
                res += Number(y[x.dataIndex]);
              });
              break;
            }
            case 'max': {
              // 最大值
              res = Math.max(...list);
              break;
            }
            case 'min': {
              // 最小值
              res = Math.min(...list);
              break;
            }
            case 'median': {
              // 中位数
              const sortedArr = list.slice().sort((a, b) => a - b);
              const inputLength = list.length;
              const middleIndex = Math.floor(inputLength / 2);
              const oddLength = inputLength % 2 != 0;
              if (oddLength) {
                res = sortedArr[middleIndex];
              } else {
                res = (sortedArr[middleIndex] + sortedArr[middleIndex - 1]) / 2;
              }
              break;
            }
            case 'variance': {
              // 方差
              const avg = list.reduce((sum, val) => sum + val, 0) / list.length;
              const diffSquaredSum = list.reduce((acc, val) => {
                const diff = val - avg;
                return acc + diff * diff;
              }, 0);
              res = diffSquaredSum / list.length;
              break;
            }
            case 'standardDeviation': {
              // 标准差
              const n = list.length;
              const mean = list.reduce((acc, cur) => acc + cur, 0) / n;
              const diffsSquaredSum = list.reduce((acc, cur) => acc + Math.pow(cur - mean, 2), 0);
              const variance = diffsSquaredSum / n;
              res = Math.sqrt(variance);
              break;
            }
          }

          state.summaryData[x.dataIndex] = res;
          state.summaryDataLocal[x.dataIndex] = res;
        }
      });
    }

    state.dataSource = dataSource;
    state.columns = columns;
  };
  // 合并单元格
  const customRenderConfig = (record, rowIndex, column, data, name) => {
    const arr = [] as any; //数据栈
    // 进行数据深沉解析
    data.forEach((item, index) => {
      if (
        arr.length != 0 &&
        item[name] === arr[arr.length - 1][arr[arr.length - 1].length - 1].name
      ) {
        arr[arr.length - 1].push({ name: item[name], index, number: 0 });
      } else {
        arr.push([{ name: item[name], index }]);
      }
    });
    // 此刻arr 为二维数组 ，对进入的数据进行解刨后绑定数据的数量
    arr.forEach((item, index) => {
      arr[index][0].number = item.length;
    });
    // 小蝌蚪找妈妈
    let number = 1;
    arr.forEach((item) => {
      item.forEach((t) => {
        if (t.index == rowIndex) {
          number = t.number;
        }
      });
    });
    return number;
  };
  const rowClick = {
    click: (record, value, index, el, column) => {
      const params = { record, index, value, column, type: 'table', columns: state.columns };
      Object.assign(params, { ext: props.data });
      emit('chartClick', params);
    },
    dblclick: () => {
      console.log('双击');
      emit('dblclickLink');
    },
    contextmenu: (record, value, index, e, column) => {
      e.preventDefault();
      const params = { record, index, value, column, type: 'table', columns: state.columns };
      Object.assign(params, { ext: props.data });
      emit('chartDblclick', e, params);
    },
  };
  const bspTable = ref();
  const h3Dom = ref();
  const tableDom = ref();
  const resize = () => {
    state.scrollXY = {
      x: bspTable.value.clientWidth - 20,
      y:
        bspTable.value.clientHeight -
        h3Dom.value.clientHeight -
        (state.echartConfig.showSummaryType == 'row' ? 160 : 120),
    };
  };
  // 随着屏幕大小调节图表
  window.addEventListener('resize', resize);
  onUnmounted(() => {
    window.removeEventListener('resize', resize);
    console.log('卸载了吗？');
  });
  defineExpose({ resize, setReceiver });
</script>
<style lang="less" scoped>
  .bspTable {
    overflow: hidden;
    width: 100%;
    height: 100%;
    flex: 1;
    h3 {
      text-align: center;
      font-size: 18px;
      color: #464646;
      font-weight: 600;
      margin-bottom: 0;
    }
    /deep/.ant-table-thead > tr > th {
      text-align: center !important;
    }
    /deep/.ant-table-thead > tr:nth-child(2) {
      th {
        // font-weight: bold;
        text-align: left !important;
        background: #fff;
      }
    }
  }
</style>
