<template>
  <div>
    <!-- :disabled="!$auth('sys.datasort.add')" -->
    <DynamicTable header-title="数据分类管理" :data-request="loadTableData" :columns="columns">
      <template #toolbar>
        <a-button type="primary" @click="openDataSortModal({})"> 新增 </a-button>
      </template>
    </DynamicTable>
  </div>
</template>

<script setup lang="tsx">
  import { ref, reactive } from 'vue';
  import { omit } from 'lodash-es';
  import { message } from 'ant-design-vue';
  import { baseColumns, type TableListItem, type TableColumnItem } from './columns';
  import { dataSortSchemas } from './formSchemas';
  // import type { TreeSelectProps } from 'ant-design-vue';
  import {
    getDataSortAll,
    updateDataSort,
    createDataSort,
    deleteDataSort,
  } from '@/api/dataAdministration/datasort';

  import { useTable } from '@/components/core/dynamic-table';
  import { useFormModal } from '@/hooks/useModal/useFormModal';

  defineOptions({
    name: 'DataSortManagement',
  });

  const state = reactive<State>({
    dataSortTree: [],
  });

  const [DynamicTable, dynamicTableInstance] = useTable({
    search: false,
    pagination: false,
    size: 'small',
    rowKey: 'id',
    bordered: true,
  });
  const [showModal] = useFormModal();

  const loadTableData = async () => {
    const data = await getDataSortAll();

    const oldList = data.data[0].children;

    const list = [];

    for (let i = 0; i < oldList.length; i++) {
      list.push(buildTreeData(oldList[i]));
    }

    console.log('list', list);
    return { list };
  };

  const buildTreeData = (item) => {
    if (item.children) {
      const children: TreeDataItem[] = [];
      for (let i = 0; i < item.children.length; i++) {
        children.push(buildTreeData(item.children[i]));
      }

      return {
        ...omit(item, ['children']),
        children: children.length ? children : null,
      };
    } else {
      return {
        ...omit(item, ['children']),
      };
    }
  };

  const openDataSortModal = async (record: Partial<TableListItem>) => {
    await fetchDataSortList(); // 加载一下数据分类
    const [formRef] = await showModal({
      modalProps: {
        title: `${record.id ? '编辑' : '新增'}数据分类`,
        width: 700,
        onFinish: async (values) => {
          console.log('新增/编辑分类', values);
          record.id && (values.id = record.id);
          await (record.id ? updateDataSort : createDataSort)(values);
          dynamicTableInstance.reload();
        },
      },
      formProps: {
        labelWidth: 100,
        schemas: dataSortSchemas,
      },
    });

    formRef?.updateSchema([
      {
        field: 'parentId',
        componentProps: {
          treeData: ref([{ value: 999, title: '一级分类', children: state.dataSortTree }]),
        },
      },
    ]);

    formRef?.setFieldsValue({
      ...omit(record, ['parentId']),
      parentId: record.parentId ? parseInt(record.parentId) : 999,
    });
  };
  const delRowConfirm = async (record: TableListItem) => {
    const r = await deleteDataSort([record.id]);
    if (r.success) {
      dynamicTableInstance.reload();
    } else {
      message.error(r.message);
    }
  };

  const fetchDataSortList = async () => {
    const dataSort = (await getDataSortAll()) as any;

    const dataSortTree: TreeDataItem[] = [];
    for (let i = 0; i < dataSort.data[0].children.length; i++) {
      dataSortTree.push(genDataSortTreeItem(dataSort.data[0].children[i]));
    }

    state.dataSortTree = dataSortTree;
  };

  const genDataSortTreeItem = (item, parentId): TreeDataItem => {
    const children: TreeDataItem[] = [];

    if (item.children) {
      for (let i = 0; i < item.children.length; i++) {
        children.push(genDataSortTreeItem(item.children[i], item.id));
      }
    }

    return {
      key: parseInt(item.id),
      title: item.categoryName,
      value: parseInt(item.id),
      parentId: parseInt(parentId),
      orderNum: item.orderNum,
      children: children.length ? children : null,
    };
  };

  const columns: TableColumnItem[] = [
    ...baseColumns,
    {
      title: '操作',
      width: 160,
      dataIndex: 'ACTION',
      hideInSearch: true,
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => [
        {
          label: '编辑',
          //   auth: {
          //     perm: 'sys.datasort.update',
          //     effect: 'disable',
          //   },
          onClick: () => openDataSortModal(record),
        },
        {
          label: '删除',
          //   auth: 'sys.datasort.delete',
          popConfirm: {
            title: '你确定要删除吗？',
            onConfirm: () => delRowConfirm(record),
          },
        },
      ],
    },
  ];
</script>
