<template>
  <a-modal
    title="过滤字段"
    :visible="state.visible"
    :width="800"
    :mask-closable="false"
    @ok="handleOk"
    @cancel="handleCancel"
  >
    <div v-if="state.valueList.length > 0" class="filter-container">
      <div class="filter-items">
        <div v-for="(item, i) in state.valueList" :key="i" class="filter-item">
          <div class="filter-input">
            <a-input v-model:value="columnName" placeholder="" disabled />
          </div>

          <div class="filter-input" style="width: 15%">
            <!-- type类型 -->
            <a-select v-model:value="item.op" style="width: 100%" @change="onShowValue($event, i)">
              <a-select-option
                v-for="(i, index) in state.newType == 1
                  ? state.textOps
                  : state.newType == 3
                  ? state.dataOps
                  : state.ops"
                :key="index"
                :value="i"
              >
                {{ i }}
              </a-select-option>
            </a-select>
          </div>
          <div class="filter-switch">
            <a-switch
              checked-children="录入"
              :checked="item.checkeds"
              un-checked-children="非录入"
              @change="onShowField($event, i)"
            />
          </div>
          <div class="filter-inputs">
            <template v-if="item.checkeds">
              <template v-if="state.newType == 1">
                <a-input
                  v-model:value="item.value"
                  :disabled="
                    item.op == '为空'
                      ? state.disabled
                      : item.op == '非空'
                      ? state.disabled
                      : !state.disabled
                  "
                />
              </template>
              <template v-else-if="state.newType == 2">
                <template v-if="item.op == '为空' || item.op == '非空'">
                  <a-input-number id="inputNumber" v-model:value="item.value" disabled />
                </template>
                <template v-else>
                  <template v-if="item.op != '[a,b]'">
                    <a-input-number id="inputNumber" v-model:value="item.value" />
                  </template>
                  <template v-else>
                    <div class="flex left-margin-4 width360">
                      <span class="ant-calendar-picker range-number">
                        <span class="ant-calendar-picker-input ant-input">
                          <a-input
                            v-model:value="item.value1"
                            placeholder="开始"
                            type="number"
                            class="ant-calendar-range-picker-input"
                          />
                          <span class="ant-calendar-range-picker-separator"> ~ </span>
                          <a-input
                            v-model:value="item.value2"
                            placeholder="结束"
                            type="number"
                            class="ant-calendar-range-picker-input"
                          />
                        </span>
                      </span>
                    </div>
                  </template>
                </template>
              </template>
              <template v-else-if="state.newType == 3">
                <template v-if="item.op == '[a,b]'">
                  <a-range-picker
                    v-model:value="item.value"
                    format="YYYY/MM/DD"
                    value-format="YYYYMMDD"
                  />
                </template>
                <template v-else>
                  <a-date-picker
                    v-model:value="item.value"
                    :disabled="
                      item.op == '为空'
                        ? state.disabled
                        : item.op == '非空'
                        ? state.disabled
                        : !state.disabled
                    "
                    format="YYYY/MM/DD"
                    value-format="YYYYMMDD"
                  />
                </template>
              </template>
            </template>
            <template v-else>
              <a-select
                v-model:value="item.value"
                :disabled="
                  item.op == '为空'
                    ? state.disabled
                    : item.op == '非空'
                    ? state.disabled
                    : !state.disabled
                "
                mode="multiple"
                style="width: 100%"
                placeholder="下拉框只展示部分数据，全量请搜索"
                show-search
                :filter-option="false"
                @search="handleWidgetSearch"
                @blur="handleWidgetSearch('')"
              >
                <a-select-option v-for="i in state.dataVal[props.column.name]" :key="i" :value="i">
                  {{ i }}
                </a-select-option>
              </a-select>
            </template>
            <div class="itemRemove">
              <minus-circle-outlined class="filter-del" @click="itemRemove(item.key)" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="filter-node-btn">
      <span class="filter-node-outlined" @click="addNode()">
        <plus-circle-outlined class="filter-node-icon" />添加条件
      </span>
      <span class="desc">选择区间范围，请用英文字符“,”连接，如“1,99”</span>
    </div>
  </a-modal>
</template>

<script script setup lang="ts">
  import { reactive, watch, computed } from 'vue';
  import { guid } from '@/utils/guid';
  import { getDimensionValues } from '@/api/userAnalyze/modelFilter'; // api 接口
  defineOptions({
    name: 'ModelFilter',
    inheritAttrs: false,
  });

  const props = defineProps({
    show: {
      type: Boolean,
      default: false,
    },
    column: {
      type: Object,
      default: () => {
        return {};
      },
    },
  });

  const emits = defineEmits(['showModel']);

  // 计算右边选中名称
  const columnName = computed(() => {
    if (props.column && props.column.name) {
      return props.column.sourceName;
    }
    return '';
  });

  const state = reactive({
    visible: false,
    disabled: true,
    newType: 0, // 1是字符，2是数字，3是时间
    valueList: [] as any, //初始值
    dataVal: [], //下拉框具体值
    handleWidgetVal: [], //获取handleWidgetSearch参数的值
    ops: ['=', '≠', '>', '<', '≥', '≤', '[a,b]', '为空', '非空'], //为空/非空:#NULL  区间：[a,b] 包含：like 不包含：not like
    textOps: ['=', '≠', '包含', '不包含', '为空', '非空'], //文字类型
    dataOps: ['=', '≠', '[a,b]', '为空', '非空'], //时间类型
  });
  const handleOk = () => {
    state.visible = false;
    // 进行分类
    const filterList = getResult();
    const newList = [] as any;
    filterList.forEach((item: any) => {
      let flag = true;
      newList.forEach((t: any) => {
        if (t.filterType === item.filterType) {
          t.values.push(...item.values);
          flag = false;
        }
      });
      if (flag) {
        newList.push(item);
      }
    });

    emits('showModel', newList);
  };
  const handleCancel = () => {
    state.visible = false;
    emits('showModel');
  };
  //过滤回显
  const setValues = (values) => {
    let list = [] as any;
    if (values !== undefined) {
      if (values.length != 0) {
        values.forEach((x) => {
          if (x.checkeds) {
            let _value = x.values.join();
            if (state.newType == 3) {
              //时间
              if (_value != '') {
                _value = _value.indexOf(',') != -1 ? _value.split(',') : _value;
              }
            } else if (x.filterType == '为空' || x.filterType == '非空') {
              _value = undefined;
            } else {
              _value = x.values;
            }

            if (state.newType == 2) {
              if (x.filterType == '[a,b]') {
                //数字区间
                list = [
                  {
                    key: guid(),
                    op: x.filterType,
                    value1: x.values[0],
                    value2: x.values[1],
                    checkeds: x.checkeds,
                  },
                ];
              } else {
                list.push({
                  key: guid(),
                  op: x.filterType,
                  value: x.values.join(),
                  checkeds: x.checkeds,
                });
              }
            } else {
              list.push({
                key: guid(),
                op: x.filterType,
                value: _value,
                checkeds: x.checkeds,
              });
            }
          } else {
            list.push({
              key: guid(),
              op: x.filterType,
              value: x.values,
              checkeds: x.checkeds,
            });
          }
        });
      } else {
        list = [{ key: guid(), op: '=', value: undefined, checkeds: true }];
      }
    } else {
      list = [{ key: guid(), op: '=', value: undefined, checkeds: true }];
    }
    state.valueList = list;
  };

  // 获取下拉数据
  const handleWidgetSearch = (val) => {
    state.handleWidgetVal = val;
    getDimensionValue(val);
  };
  const getDimensionValue = (val) => {
    const parmas = {
      id: props.column.tableId,
      pageNum: 1,
      pageSize: 500,
      columns: [
        {
          columnName: props.column.name,
        },
      ],
      filters: [
        {
          columnName: props.column.name,
          columnCName: '',
          values: val ? val : [],
          sort: '',
          id: 4516,
          filterType: 'like',
        },
      ],
    };
    getDimensionValues(parmas).then((r) => {
      if (r.code == 'OK') {
        if (r.data) {
          for (const [key] of Object.entries(r.data)) {
            r.data[key] = r.data[key].map((x) => {
              x = x?.trim();
              return x;
            });
          }
        }
        state.dataVal = r.data;
      }
    });
  };
  //判断录入和非录入情况下的各种条件
  const onShowField = (checked, index) => {
    state.valueList[index].checkeds = checked;
    if (checked) {
      if (state.newType == 1 || state.newType == 2) {
        state.valueList[index].value =
          state.valueList[index].value instanceof Array
            ? state.valueList[index].value.join(',')
            : state.valueList[index].value;
      }
      if (state.newType == 3) {
        if (state.valueList[index].op === '[a,b]') {
          state.valueList[index].value = undefined;
        }
      }
    } else {
      if (state.valueList[index].value !== '' && state.valueList[index].value !== undefined) {
        state.valueList[index].value =
          state.valueList[index].value.indexOf(',') != -1
            ? state.valueList[index].value.split(',')
            : state.valueList[index].value;
        if (state.valueList[index].op === '[a,b]') {
          state.valueList[index].value =
            state.valueList[index].value.length != 0 &&
            state.valueList[index].value.join(',').split(',');
        }
      }
    }
  };
  const onShowValue = (val, index) => {
    state.valueList[index].op = val;
    // state.valueList[index].value = undefined;
    if (state.newType == 3 && state.valueList[index].checkeds) {
      state.valueList[index].value = undefined;
    }
    // this.$forceUpdate();
  };
  //保存的数据
  const getResult = () => {
    const list = [] as any;
    state.valueList.forEach((x: any) => {
      if (x.op == '为空' || x.op == '非空') {
        x.value = '#NULL';
      }
      let v = [] as any;
      if (x.value != undefined && x.value != '') {
        if (Array.isArray(x.value)) {
          v = x.value;
        } else {
          // 为了解决数字类型
          x.value += '';
          v = x.value.split(',');
        }
      } else if (x.value === 0) {
        v = [x.value];
      }
      if (x.op == '[a,b]' && state.newType == 2 && x.checkeds) {
        v = [x.value1, x.value2];
      }
      list.push({
        columnName: props.column.columnName,
        columnCName: props.column.sourceName,
        filterType: x.op,
        values: v,
        checkeds: x.checkeds,
      });
    });

    return list;
  };
  //增加条件
  const addNode = () => {
    const key = guid();
    state.valueList.push({ key, op: '=', value: undefined, checkeds: true });
  };
  //删除当前条数据
  const itemRemove = (id) => {
    const index = state.valueList.findIndex((x) => x.key === id);
    if (index > -1) {
      state.valueList.splice(index, 1);
    }
  };
  watch(
    () => props.show,
    (v) => {
      if (props.show) {
        setValues(props.column.filters);
      }
      state.visible = v;
      getDimensionValue(state.handleWidgetVal);
    },
    { deep: true },
  );
  watch(
    () => props.column,
    (newVal) => {
      state.newType = newVal.newType;
    },
    { deep: true },
  );
  defineExpose({
    setValues,
  });
</script>
<style scoped lang="less">
  .filter-container {
    flex: 1;
    display: flex;
  }

  .filter-line {
    width: 3.125rem;
    border-left: 0.0625rem solid #cccccc;
    border-top: 0.0625rem solid #cccccc;
    border-bottom: 0.0625rem solid #cccccc;
  }

  .filter-items {
    margin-bottom: 0.625rem;
  }

  .filter-node-btn {
    font-family: SourceHanSansCN-Regular;
    font-size: 0.875rem;
    font-weight: normal;
    display: flex;
    align-items: center;
    margin: 1.25rem 0rem 0rem 0.0625rem;
    .filter-node-outlined {
      color: #2d8cf0;
      .filter-node-icon {
        font-size: 1.25rem;
        margin: 0rem 0.125rem -0.125rem 0rem;
      }
    }
  }

  .filter-line-item {
    height: 2.25rem;
  }

  .filter-rl {
    color: #2d8cf0;
    margin-left: -0.5rem;
    border: 0.0625rem solid #2d8cf0;
    position: absolute;
    top: 6.25rem;
    background-color: #fff;
  }

  .filter-item {
    margin-bottom: 0.625rem;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .filter-input {
    width: 14.375rem;
    margin-right: 0.625rem;
  }
  .filter-inputs {
    width: 16.625rem;
    margin-right: 0.625rem;
    display: flex;
    align-items: center;
  }
  .filter-switch {
    width: 4rem;
  }

  .filter-del {
    font-size: 1.5625rem;
    background-color: #d8d8d8;
    border-radius: 50%;
    color: #fff;
  }
  .desc {
    margin-left: 2.5rem;
    color: rgba(0, 0, 0, 0.45);
  }
  .range-number {
    .ant-calendar-picker-input {
      .ant-input {
        border: unset;
        width: 5.3125rem;
      }
    }
  }
</style>
