<template>
  <div>
    <DynamicTable
      row-key="taskId"
      header-title="工作填报"
      :data-request="loadTableData"
      auto-height
      :columns="columns"
      bordered
      size="small"
      :row-selection="rowSelection"
    >
      <template v-if="userInfo.roleName.indexOf('重点工作管理员') != -1" #toolbar>
        <a-button type="primary" @click="openAddModal('add')"> 新增项目 </a-button>
        <a-button
          :loading="state.loading"
          type="primary"
          :disabled="!isCheckRows || isCheckRows1"
          @click="openAddModal('edit')"
        >
          修改项目
        </a-button>
        <a-button type="danger" :disabled="!isCheckRows" @click="delTasks({})"> 删除项目 </a-button>
      </template>
      <template #bodyCell="{ column, record }">
        <template v-if="column.dataIndex === 'taskStatus'">
          <div v-if="userInfo.roleName.indexOf('重点工作管理员') != -1">
            <a-select
              v-model:value="record.taskStatus"
              style="width: 120px"
              :options="dict.getKeyValueByDictCode('TASK_STATUS')"
              @change="chngeStatus(record)"
            />
          </div>
          <div v-else>{{ dict.getItemText('TASK_STATUS', record.taskStatus) }}</div>
        </template>
      </template>
    </DynamicTable>
    <Filling
      ref="filling"
      :visible="state.visible"
      :flag="state.flag"
      @close="dialogClose"
    ></Filling>
    <AddProject ref="addProject" :visible="state.visibleAdd" @close="closeAdd"></AddProject>
    <UpdateDesc ref="updateDesc" :visible="state.visibleDesc" @close="closeDesc"></UpdateDesc>
  </div>
</template>
<script setup lang="ts">
  import { ref, computed, reactive, onMounted } from 'vue';
  import { baseColumns } from './components/columns.tsx';
  import Filling from './components/Filling.vue';
  import AddProject from './components/AddProject.vue';
  import UpdateDesc from './components/UpdateDesc.vue';
  import { useUserStore } from '@/store/modules/user';
  import { useTable } from '@/components/core/dynamic-table';
  import {
    queryLevelDept,
    queryZdformQueryDto,
    removeProjects,
    updateTaskStatus,
    queryProjectStatus,
  } from '@/api/priorityWork/index';
  import dict from '@/utils/dict';

  defineOptions({
    name: 'jobFilling',
    inheritAttrs: false,
  });
  const userStore = useUserStore();
  const userInfo = computed(() => userStore.userInfo);
  const filling = ref();
  const addProject = ref();
  const updateDesc = ref();
  const state = reactive({
    visible: false,
    visibleAdd: false,
    visibleDesc: false,
    deptList: [],
    selectedRows: [],
    tableData: [],
    isCheck: [],
    flag: '',
    loading: false,
  });
  const [DynamicTable, dynamicTableInstance] = useTable();
  const getDept = async () => {
    const res = await queryLevelDept();
    res.data.forEach((item) => {
      item.value = item.deptCode;
      item.label = item.deptName;
    });
    state.deptList = res.data;
    baseColumns.forEach((v) => {
      if (v.dataIndex === 'responsibilityDeptCode') {
        v.formItemProps.componentProps.options = state.deptList;
      }
    });
    baseColumns.forEach((v) => {
      if (v.dataIndex === 'fillingDeptCode') {
        v.formItemProps.componentProps.options = state.deptList;
      }
    });
  };
  const loadTableData = async (params) => {
    const data = await queryZdformQueryDto({ ...params });
    if (data.code === 'OK') {
      state.tableData = data.data;
      return {
        list: data.data,
        pagination: { total: data.total, page: params.pageNum, size: params.pageSize },
      };
    } else {
      state.tableData = [];
      return {
        list: [],
        pagination: { total: 0, page: 1, size: 10 },
      };
    }
  };
  const rowSelection = ref({
    selectedRowKeys: [] as number[],
    selectedRows: [],
    onChange: (selectedRowKeys: number[], selectedRows: TableListItem[]) => {
      rowSelection.value.selectedRowKeys = selectedRowKeys;
      rowSelection.value.selectedRows = selectedRows;
      // state.isCheck = selectedRowKeys;
      // if (selectedRowKeys.length === 1) {
      //   state.selectedRows = state.tableData.filter((v) => {
      //     return v.projectCode == selectedRowKeys[0];
      //   });
      // } else {
      //   state.selectedRows = [];
      // }
    },
  });
  // 是否勾选了表格行
  const isCheckRows = computed(() => rowSelection.value.selectedRowKeys.length);
  const isCheckRows1 = computed(() => rowSelection.value.selectedRowKeys.length > 1);
  const chngeStatus = async (record) => {
    const params = {
      projectCode: record.projectCode,
      taskCode: record.taskCode,
      taskStatus: record.taskStatus,
    };
    await updateTaskStatus(params);
  };
  // 填报
  const openFlexibleModal = (record, flag) => {
    filling.value.changeInfo(record);
    state.flag = flag;
    state.visible = true;
  };
  // 填报关闭
  const dialogClose = () => {
    state.visible = false;
    dynamicTableInstance?.reload();
  };
  // 新增/修改
  const openAddModal = async (addEdit) => {
    if (addEdit === 'edit') {
      state.loading = true;
      const projectCode = rowSelection.value.selectedRows[0].projectCode;
      const params = {
        projectCode,
      };
      const data = await queryProjectStatus(params);
      if (data.code === 'OK') {
        state.selectedRows = data.data;
      }
      state.loading = false;
    }
    addProject.value.changeInfo(addEdit === 'edit' ? state.selectedRows : [], addEdit);
    state.visibleAdd = true;
  };
  // 新增/修改 关闭
  const closeAdd = () => {
    state.visibleAdd = false;
    state.isCheck = [];
    rowSelection.value.selectedRowKeys = [];
    rowSelection.value.selectedRows = [];
    dynamicTableInstance?.reload();
  };
  // 关闭修改备注
  const closeDesc = () => {
    state.visibleDesc = false;
    dynamicTableInstance?.reload();
  };
  // 修改备注
  const openUpdateDesc = (record) => {
    state.visibleDesc = true;
    updateDesc.value.changeInfo(record);
  };
  const columns = [
    ...baseColumns,
    {
      title: '操作',
      width: 220,
      dataIndex: 'ACTION',
      align: 'center',
      fixed: 'right',
      actions: ({ record }) => {
        const actions: any = [];
        if (record.taskStatus != '30') {
          if (record.buttonPermissions == '1') {
            actions.push({
              label: '填报',
              onClick: () => openFlexibleModal(record, '0'),
            });
          } else if (record.buttonPermissions == '2') {
            actions.push({
              label: record.auditStatus === '20' ? '已审批' : '待审批',
              onClick: () => openFlexibleModal(record, '1'),
            });
          } else if (record.buttonPermissions == '3') {
            actions.push({
              label: '填报',
              onClick: () => openFlexibleModal(record, '0'),
            });
            actions.push({
              label: record.auditStatus === '20' ? '已审批' : '待审批',
              onClick: () => openFlexibleModal(record, '1'),
            });
          }
          if (userInfo.value.roleName.indexOf('重点工作管理员') != -1) {
            actions.push({
              label: '评价',
              onClick: () => openUpdateDesc(record),
            });
          }
        }
        return actions;
      },
    },
  ];
  // 删除
  const delTasks = async () => {
    const arr = [];
    rowSelection.value.selectedRows.forEach((v) => {
      arr.push(v.projectCode);
    });
    await removeProjects({ projectCodes: arr });
    dynamicTableInstance?.reload();
  };
  onMounted(() => {
    getDept();
  });
</script>

<style lang="less" scoped>
  /deep/.table-action {
    margin: unset;
    padding: 0px;
  }
</style>
