<template>
  <div class="GoalOverview">
    <span class="GoalOverview-title">目标总览</span>
  </div>
  <ObjectiveOverview :year-month="state.yearMonth" :department="state.department" />
  <div class="GoalOverview">
    <span class="GoalOverview-title">目标月份跟进</span>
  </div>
  <TrendMontage :year-month="state.yearMonth" :department="state.department" />
</template>

<script setup lang="ts">
  import { reactive, watch } from 'vue';
  import ObjectiveOverview from './components/ObjectiveOverview';
  import TrendMontage from './components/TrendMontage';

  const props = defineProps({
    yearMonth: {
      type: String,
      default: () => {
        return '';
      },
    },
    department: {
      type: String,
      default: () => {
        return '';
      },
    },
  });
  watch(
    () => props.yearMonth,
    (c) => {
      state.yearMonth = c;
    },
  );
  watch(
    () => props.department,
    (c) => {
      state.department = c;
    },
  );

  const state = reactive({
    department: props.department,
    yearMonth: props.yearMonth,
  });
</script>

<style lang="less" scoped>
  .GoalOverview {
    width: 100%;
    margin: 10px 0px;
    background: #f5e8b9;
    .GoalOverview-title {
      font-family: Source Han Sans CN;
      font-size: 30px;
      font-weight: bold;
      color: #3d3d3d;
    }
  }
</style>
